@using Tuhu.Provisioning.DataAccess.Entity.ActivityBoard
@using ThBiz.DataAccess.Entity
@using ThBiz.Business.Power
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, noarchive, nofollow" />
    <title>@ViewBag.Title - 活动看板</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <!-- Primary Inspinia style -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    <link rel="stylesheet" href="~/Content/plugins/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" href="/Scripts/artDialog6.0.4/css/ui-dialog.css" />
</head>
<body class="fixed-sidebar">
    <!-- 皮肤&布局设置 -->
    @*@Html.Partial("_SkinConfig")*@

    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="">

        <!-- Navigation -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header" style="padding-left:50px">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" src="https://resource.tuhu.cn/Image/UserCenter/hu.png" width="48" height="48" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        @*<strong class="font-bold">administrator@tuhu.cn</strong>*@
                                    </span> <span class="text-muted text-xs block">管理员 @*<b class="caret"></b>*@</span>
                                </span>
                            </a>
                            @*<ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                                    <li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                                    <li><a href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Login", "Pages")">Logout</a></li>
                                </ul>*@
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li class="active">
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.forms">活动看板</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse ">
                            @{
                                var userEmail = Context.User.Identity.Name;
                                var powerUser = System.Configuration.ConfigurationManager.AppSettings["ActivityBoardPowerUser"];
                                var powerConfig = new Tuhu.Provisioning.Business.ActivityBoard.ActivityBoardPowerManager().SelectPowerConfigByUserEmail(userEmail);
                                ActionPowerList apList = new ActionPowerList();
                                var isShowPowerConfig = false;
                                if (System.Configuration.ConfigurationManager.AppSettings["ActivityBoardPowerConfig"].Contains(userEmail)) { isShowPowerConfig = true; }
                                //if (!string.IsNullOrEmpty(userEmail))
                                //{
                                //    byte issupper = 0;
                                //    if (System.Configuration.ConfigurationManager.AppSettings["SupperUsers"].Contains(userEmail))
                                //    {
                                //        issupper = 1;
                                //    }
                                //    apList.ListPower = new PowerManage().GetBusPower(userEmail, issupper);
                                //}
                                //if (apList.ListPower != null && apList.ListPower.Count > 0)
                                //{
                                //    var list = apList.ListPower.Where(lp => lp.ParentID == 0 && lp.LinkName.Equals("移动端配置")).ToList().FirstOrDefault();
                                //    var childList = apList.ListPower.Where(p => p.ParentID == (list != null ? list.PKID : 0) && p.Type.Equals("Module") && !p.LinkName.Contains("NotDisplay") && p.IsActive).ToList();
                                //    if (childList != null && childList.Any())
                                //    {
                                //        if (childList.Where(x => x.Controller.Equals("ActivityBoard") && x.Action.Equals("PowerConfig")).Count() > 0)
                                //        {
                                //            isShowPowerConfig = true;
                                //        }
                                //    }
                                //}
                                if (powerConfig != null && powerConfig.Any() && powerConfig.Where(x => x.ModuleType == ActivityBoardModuleType.TuhuActivity).Select(_ => _.IsVisible).FirstOrDefault())
                                {
                                    <li>
                                        <a href="/ActivityBoard/CycleCountActivity">途虎活动</a>
                                    </li>
                                        }
                                        @*if (powerConfig != null && powerConfig.Any() && powerConfig.Where(x => x.ModuleType == ActivityBoardModuleType.OutsideActivity).Select(_ => _.IsVisible).FirstOrDefault())
                                        {
                                    <li>
                                        <a href="/ActivityBoard/Index?activityBoardType=@ActivityBoardModuleType.OutsideActivity">外部投放活动</a>
                                    </li>
                                        }*@
                                        if (powerConfig != null && powerConfig.Any() && powerConfig.Where(x => x.ModuleType == ActivityBoardModuleType.ThirdPartyActivity).Select(_ => _.IsVisible).FirstOrDefault())
                                        {
                                    <li>
                                        <a href="/ActivityBoard/Index?activityBoardType=@ActivityBoardModuleType.ThirdPartyActivity">第三方活动</a>
                                    </li>
                                }
                                if (isShowPowerConfig)
                                {
                                    <li class="">
                                        <a href="/ActivityBoard/PowerConfig">权限配置</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">
            <!-- Top Navbar -->
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" method="post" action="">
                            <div class="form-group">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        @if (Request.IsAuthenticated)
                        {
                            <li>
                                <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">您好 @Context.User.Identity.Name， 欢迎进入活动看板，祝您生活愉快！</span>
                            </li>
                            <li>
                                <a href="@ThBiz.Common.Configurations.YewuDomainConfig.YewuSite/Account/LogOff">
                                    <i class="fa fa-sign-out"></i> 退出
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@ThBiz.Common.Configurations.YewuDomainConfig.YewuSite/Account/LogOn">
                                    <i class="fa fa-sign-out"></i> 登录
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            <div class="footer">
                <div class="pull-right">
                </div>
                <div>
                    <strong>Copyright</strong> 途虎养车 &copy; @DateTime.Now.Year
                </div>
            </div>

        </div>

    </div>

    <!-- End wrapper-->
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    <script type="text/javascript" src="~/Scripts/plugins/fullcalendar/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="/Scripts/artDialog6.0.4/dist/dialog-min.js"></script>
    <script src="/Scripts/artDialog6.0.4/dist/dialog-plus-min.js"></script>
    <script type="text/javascript" src="~/Content/My97DatePicker/WdatePicker.js"></script>
    <script src="/Scripts/CommentFile/jquery.page.js"></script>
    <script src="/Scripts/ajaxfileupload.js"></script>
    <script src="/Content/ActivityBoard/ActivityBoard.js"></script>
    <!-- Skin config script - only for demo purpose-->
    @*@Scripts.Render("~/bundles/skinConfig")*@

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
