<table>
    <tr>
        <td>第一优先级</td>
        <td>
            <select id="FirstCP_Brand">
                @{
                    foreach (var item in (Dictionary<int, string>)ViewData["CP_Brand"])
                    {
                        if (item.Key == 0)
                        {
                            <option selected value=@item.Key dataTxt=@item.Value>@item.Value</option>
                        }
                        else
                        {
                            <option value=@item.Key dataTxt=@item.Value>@item.Value</option>
                        }
                    }
}
            </select>
        </td>
    </tr>
    <tr>
        <td>第二优先级</td>
        <td>
            <select id="SecondCP_Brand">
                @{
                    foreach (var item in (Dictionary<int, string>)ViewData["CP_Brand"])
                    {
                        if (item.Key == 0)
                        {
                            <option selected value=@item.Key dataTxt=@item.Value>@item.Value</option>
                        }
                        else
                        {
                            <option value=@item.Key dataTxt=@item.Value>@item.Value</option>
                        }
                    }
}
            </select>
        </td>
    </tr>
    <tr>
        <td>第三优先级</td>
        <td>
            <select id="ThirdCP_Brand">
                @{
                    foreach (var item in (Dictionary<int, string>)ViewData["CP_Brand"])
                    {
                        if (item.Key == 0)
                        {
                            <option selected value=@item.Key dataTxt=@item.Value>@item.Value</option>
                        }
                        else
                        {
                            <option value=@item.Key dataTxt=@item.Value>@item.Value</option>
                        }
                    }
}
            </select>
        </td>
    </tr>
</table>