@{
    ViewBag.Title = "NavigationList";
    Layout = null;
}
@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.SE_HomePageConfig>


<ul class="nav" id="side-menu">
    <li class="nav-header" style="padding-left:50px">
        <div class="dropdown profile-element">
            <span>
                <img alt="image" class="img-circle" src="https://resource.tuhu.cn/Image/UserCenter/hu.png" width="48" height="48" />
            </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="clear">
                    <span class="block m-t-xs">
                    </span> <span class="text-muted text-xs block">@(string.IsNullOrWhiteSpace(User.Identity.Name) ? "管理员" : User.Identity.Name)</span>
                </span>
            </a>

        </div>
        <div class="logo-element">
            IN+
        </div>
    </li>
    <li>
        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.forms" onclick="location.href = '/HomePageConfigV2/Index'">首页库</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse ">
            @if (Model != null)
            {
                foreach (var item in Model.OrderByDescending(o => o.CreateDateTime))
                {
                    <li>
                        <a href="#">
                            <span class="homepagespan" data-id="@item.ID" @(item.IsEnabled==true?"style=color:red":"")  >@(item.HomePageName)</span>
                            <span class="fa arrow"></span>
                        </a>
                        @if (item.ModuleItems != null)
                        {
                            <ul class="nav nav-second-level collapse">
                                @foreach (var module in item.ModuleItems.OrderBy(o => o.PriorityLevel))
                                {
                                    if (module.ModuleHelper.Count() <= 0)
                                    {


                                        <li>
                                            @if (module.ModuleType.Value == 7)
                                            {
                                                <a href="/HomePageConfigV2/HomePageModuleDeatil?moduleID=@module.ID" target="_self">@module.ModuleName</a>
                                            }
                                            else
                                            {
                                                if (module.ModuleType == 5 || module.ModuleType == 6 || module.ModuleType == 8 || module.ModuleType == 9 || module.ModuleType == 10)
                                                {
                                                    <a href="/HomePageConfigV2/HomePageModuleContentList?moduleID=@module.ID" target="_self">@module.ModuleName</a>
                                                }
                                                else
                                                {
                                                    <a href="/HomePageConfigV2/HomePageModuleContentList?moduleID=@module.ID" target="_self">@module.ModuleName</a>
                                                }

                                            }

                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="#">
                                                <span class="moduleHelper" data-id="@module.ID" data-ptype="@module.ModuleType">@module.ModuleName</span>
                                                <span class="fa arrow"></span>
                                            </a>
                                            <ul class="nav nav-second-level collapse">
                                                @foreach (var helper in module.ModuleHelper)
                                                {
                                                    <li>
                                                        @if (module.ModuleType.Value == 7)
                                                        {
                                                            <a href="/HomePageConfigV2/HomePageModuleDeatil?moduleHelperID=@(helper.ID)" target="_self">@(helper.ModuleName)</a>
                                                        }
                                                        else
                                                        {
                                                            if (module.ModuleType == 5 || module.ModuleType == 6 || module.ModuleType == 8 || module.ModuleType == 9 || module.ModuleType == 10)
                                                            {
                                                                <a href="/HomePageConfigV2/HomePageModuleContentList?moduleHelperID=@(helper.ID)" target="_self">@(helper.ModuleName)</a>
                                                            }
                                                            else
                                                            {
                                                                <a href="/HomePageConfigV2/HomePageModuleContentList?moduleHelperID=@(helper.ID)" target="_self">@(helper.ModuleName)</a>
                                                            }

                                                        }

                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }

                                }
                            </ul>
                        }

                    </li>
                }
            }
            @*<li>
                    <a href="#">
                        首页4.1.2
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="#">模块名称1</a>
                        </li>
                        <li>
                            <a href="#">模块名称2</a>
                        </li>
                        <li>
                            <a href="#">模块名称3</a>
                        </li>
                    </ul>
                </li>*@
        </ul>
    </li>
    <li>
        <a href="/HomePageConfigV2/FlashScreenList">
            <span>闪 屏</span>
        </a>
    </li>
    <li>
        <a href="/HomePageConfigV2/ChannelFlashScreenList">
            <span>市场渠道闪 屏</span>
        </a>
    </li>
    <li>
        <a href="/HomePageConfigV2/FlowList">
            <span>瀑布流</span>
        </a>
    </li>
    <li>
        <a href="/HomePageConfigV2/HomePageMenuGroup">
            <span>首页菜单配置</span>
        </a>
    </li>
    <li>
        <a href="/HomePageCarActivity/Index">
            <span>个性化推荐</span>
        </a>
    </li>
    <li>
        <a href="/HomePageConfigV2/HomePageLoger">
            首页配置日志
        </a>
    </li>
</ul>
