@using ThBiz.DataAccess.Entity
@using Tuhu.Provisioning.DataAccess.Entity;
@*@model Tuple<IEnumerable<TireSizeModel>, IEnumerable<string>>*@
@{
    ViewBag.Title = "用户积分查询配置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{


<link href="~/Content/nfine/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <style>
        .title {
            float: left;
        }

        .content {
            clear: both;
        }

        .condition .name {
            font-size: 16px;
            font-weight: bold;
        }

        .condition label {
            font-size: 14px;
            margin-left: 10px;
        }

        .condition > div {
            margin-bottom: 10px;
        }

        table {
            width: 100%;
        }

        .data_count {
            color: #0026ff;
        }

        #EditSingle div {
            float: left;
            margin-right: 50px;
            width: 188px;
        }

        #EditMany div {
            float: left;
            margin-right: 50px;
            width: 188px;
        }

        span {
            word-break: break-all;
        }
    </style>
}
<div class="title">
    <h2>用户积分查询配置</h2>
</div>


<div class="content">
    <div>
            <input type="number" maxLength="14" name="phone" placeholder="请输入手机号"  />
            <input type="submit" id="search" value="查询" />    
    </div>
    <p>
        <br/>
    </p>   
   
    <div class="list" id="UserIntergal" style="display:none" >
        <table >
            <thead>
            <tr>
                <td>选中</td>
                <td>用户ID</td>
                <td>手机号</td>
                <td>积分</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody id="UserDetail">   
            </tbody>
        </table>
   </div>
    <p>
        <br/>
    </p>
    <div class="list" id="transaction" style="display:none">
        <table>
            <thead>
            <tr>
                <td>交易类型ID</td>
                <td>交易描述</td>
                <td>交易积分</td>
                <td>交易时间</td>
                <td>交易类型</td>
                <td>交易状态</td>
                <td>状态修改</td>
                <td>查看历史</td>
            </tr>
            </thead>
            <tbody id="transactionDetails"></tbody>
        </table>
      
    </div>

  
    @*积分补偿*@
    <div class="modal fade" id="compensateSingle" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                       补偿积分
                    </h4>
                </div>
                <div class="modal-body">
                    <table id="table1" class="table table-bordered" style="text-align:center;border: 0px">
                        <tbody>
                            <tr>
                                <td>补偿积分数量</td>
                                <td><input type="number" name="intergal" maxLength="4" placeholder="请输入补偿积分数量(只能填写数字)"  style="width: 85%;"/></td>
                            </tr>
                            <tr>
                                <td>补偿原因</td>
                                <td><input type="text" name="cause" maxLength="500" placeholder="请输入补偿原因" style="width: 85%;"/></td>
                            </tr>
                        </tbody>
                    </table>                  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" id="compensateOk" data-toggle="modal" data-target="#compensateSingle" class="btn btn-primary">
                        确认
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    @*修改状态*@
    <div class="modal fade" id="updataStatus" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        交易状态修改
                    </h4>
                </div>
                <div class="modal-body">
                    <label style="padding-left: 130px;font-size: 14px;">交易状态修改原因</label>
                    <input type="text" name="statusText" id="statusText"  style="margin-left: 24px;height: 25px;font-size: 14px;" maxLength="500" placeholder="请输入交易状态修改原因"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" id="updateOk" class="btn btn-primary">
                        确认
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    @*查看历史*@
    <div class="modal fade" id="updatelog" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        查看修改历史
                    </h4>
                </div>
                <div class="modal-body">
                    <table id="table2" class="table table-bordered" style="text-align: center;">
                        <thead>@*修改历史格式*@
                            <tr>
                                <td>修改人</td>
                                <td>修改结果</td>
                                <td>修改日期</td>
                                <td>修改原因</td>                               
                            </tr>
                        </thead>
                        <tbody id="updatelogTab">
                      
                        </tbody>
                    </table>      
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>                  
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>



@section scripts{

    <script src="~/Content/listmenu/js/jquery.min.js"></script>
    <script src="~/Scripts/CommentFile/jquery.page.js"></script>
    <script src="~/Content/nfine/js/bootstrap/bootstrap.js"></script>
    <script src="~/Content/ProductVehicleType/js/bootstrap.min.js"></script>
    <script src="https://file-tuhu-cn.alikunlun.com/yewu/oms/scripts/verifyBtn.js" type="text/javascript"></script>
    <script>
        var $curid = "",
            $curstate = "",
            $id = "",
            $historyId = "",
            $integral = "",
            $userid = "",
            $ruleId = "",
            $phone = "";
        $(document).ready(function() {
            //$('#UserIntergal').hide();
            //$('#transaction').hide();

            $('#search').click(function() {
                $phone = $("input[name='phone']").val();
                if ($phone.trim().length > 14) {
                    alert("手机号长度不得大于14位！");
                    return false;
                }
                DetailUser($phone);
            });

            //查询用户账号，积分


//查询用户的积分详情
            //为用户补偿积分


            $('#compensateOk').click(function() {
                var intergal = $("input[name='intergal']").val();
                var cause = $("input[name='cause']").val();
                if (intergal.length === 0 || cause.length === 0 || !intergal || !cause) {
                    alert("请输入内容");
                    return false;
                }
                if (intergal > 2000) {
                    alert("单次补偿积分不得大于2000！");
                    return false;
                }
                if (intergal <= 0) {
                    alert("输入积分要大于零！");
                    return false;
                }
                if (cause.length > 500) {
                    alert("原因不能大于500个字");
                    return false;
                }
                var active = intergal > 0 ? true : false;
                var postdata = { transactionIntegral: intergal, cause: cause, isActive: active, userId: $userid, id: $id, intergal: $integral };
                $.post("@Url.Action("Compensate")", postdata, function(data) {
                    data.msg === "true" ? alert("补偿积分成功") : alert("补偿积分失败");

                    $('#compensateSingle').modal('hide');
                }, 'json');
                DetailUser($phone);
                return true;
            });

            //用户修改积分状态

            $('#updateOk').click(function() {
                var id = $curid;
                var curstatus = !$curstate;
                var info = $('#statusText').val();
                var postdata = {
                    id: id,
                    status: curstatus,
                    cause: info,
                    ruleId: $ruleId
                }
                if (info.trim().length === 0) {
                    alert("请输入状态修改原因!");
                    return false;
                }
                $.post("@Url.Action("UpdateStatus")", postdata, function(data) {
                    alert(data.result);
                    $('#updataStatus').modal('hide');
                    DetailUser($phone);
                }, 'json');
            });
        });

        //用户查看修改历史
        function history(self) {
            $historyId = $(self).parent().prev().prev().data().id;

            var postdata = { id: $historyId }
            $.post("@Url.Action("SelectUpdateLog")", postdata, function(data) {
                $('#updatelogTab').html("");
                var tr = "";
                if (!data || data.length === 0) {
                    tr = '<tr><td>没有日志记录</td><td></td><td></td><td></td><tr>';
                } else {
                    $.each(data, function(i, item) {
                        var datatime = item.UpdateTime;
                        tr += '<tr><td data-id= "' + item.PKID + '"data-detailId="' + item.IntegralDetailID + '" >' + item.Author.toString() + '</td>' + '<td>' + (item.ChangeResult === "True" ? "有效" : "无效") + '</td><td>' + datatime + '</td><td>' + item.Reason + '</td></tr>';

                    });
                }
                $('#updatelogTab').append(tr);
                $('#updatelog').modal('show');
            }, 'json');
        }

        function upstate(self) {
            $curstate = $(self).parent().prev().data().status;
            $curid = $(self).parent().prev().data().id;
            $ruleId = $(self).parent().prev().data().ruleid;
            $('#statusText').val("");
            $('#updataStatus').modal('show');
        }

        //处理时间类型的字符串
        function formatDate(now) {
            now = now.replace(/\/Date\(/, "").replace(")/", "");
            now = new Date(parseInt(now));
            var year = now.getFullYear();
            var month = jia0(now.getMonth() + 1);
            var date = jia0(now.getDate());
            var hour = jia0(now.getHours());
            var minute = jia0(now.getMinutes());
            var second = jia0(now.getSeconds());
            return year + "年" + month + "月" + date + "日   " + hour + ":" + minute + ":" + second;
        }


        function compensate(self) {
            $integral = $(self).parent().prev().html();
            $userid = $(self).parent().prev().prev().prev().html();
            $id = $(self).val();
            $("input[name='intergal']").val("");
            $("input[name='cause']").val("");
            $('#compensateSingle').modal('show');
        }

        function DetailUser(self) {
            var postdata = { phone: self }
            $.post("@Url.Action("CheckUserPhone")", postdata, function(data) {
        if (data.msg) {

            $.post("@Url.Action("UserDetail")", postdata, function(data) {
                $('#UserDetail').html('');
                $('#transactionDetails').html("");
                $('#UserIntergal').hide();
                $('#transaction').hide();
                if (data != null && data.length) {
                    var tr1 = "";

                    var $id = "";
                    var tr = "";
                    $.each(data, function(i, item) {
                        if (i === 0) {
                            $id = item.UserID;
                            tr1 += ' <tr><td><input type="checkbox" onchange="checkChange(this)" checked="checked" class="ck" value="' + item.UserID + '"/></td><td>' + item.UserID + '</td><td>' + item.u_mobile_number + '</td><td>' + item.Integral + '</td><td><button class="btn btn-success compensate" value="' + item.IntegralID + '" id="compensate" onclick="compensate(this)" btnkey="EditPromotion" istuhuverify="1" >补偿</button></td></tr>';
                        } else {
                            tr1 += ' <tr><td><input type="checkbox" class="ck" value="' + item.UserID + '"/></td><td>' + item.UserID + '</td><td>' + item.u_mobile_number + '</td><td>' + item.Integral + '</td><td><button class="btn btn-success compensate" value="' + item.IntegralID + '" id="compensate" onclick="compensate(this)" btnkey="EditPromotion" istuhuverify="1" >补偿</button></td></tr>';
                        }
                    });
                    $('#UserIntergal').show();
                    $('#UserDetail').append(tr1);
                    IntegralDetail($id);

                } else {
                    alert("该用户没有产生积分交易！");
                }
            });

        } else {
            alert("未查询到该用户!");
        }
            });
        }

        function checkChange(self) {
            var $id = $(self).val();
            if ($(self).prop("checked")) {
                $(self).siblings().prop("checked", false);
                IntegralDetail($id);
            }
        }


        function IntegralDetail(id) {
            var postdata = { userId: id }
            $.post("@Url.Action("Details")", postdata, function(data) {
                if (data != null) {
                    $('#transactionDetails').html("");
                    $('#transaction').show();
                    var tr = "";
                    $.each(data, function(i, item) {
                        var datatime = item.CreateDateTime;
                        datatime = formatDate(datatime);
                        tr += '<tr><td>' + item.IntegralDetailID + '</td><td>' + item.TransactionDescribe + '</td><td>' + item.TransactionIntegral + '</td><td>' + datatime + '</td><td>' + (item.IntegralType === true ? "支出" : "收入") + '</td><td data-id="' + item.IntegralDetailID + '" data-status="' + item.IsActive + '" data-ruleId="' + item.IntegralRuleID + '">' + (item.IsActive ? "生效" : "无效") + '</td><td><button  class="btn btn-info state"  onclick="upstate(this)" btnkey="EditPromotion" istuhuverify="1" >修改状态</button></td><td><button class="btn btn-info history" ' + (item.id === 1 ? "disabled" : "") + '  onclick="history(this)"  >修改历史</button></td></tr>';
                    });

                    $('#transactionDetails').append(tr);
                } else {

                    alert("用户未产生积分交易");
                }
            }, 'json');
        }

        function jia0(n) {
            if (n < 10)
                n = "0" + n;
            return n;
        }
    </script>
}
