@using Tuhu.Provisioning.DataAccess.Entity;
@using Tuhu.Provisioning.Controllers;
@model Tuhu.Provisioning.DataAccess.Entity.tal_newappsetdata_v2

@{
    Layout = null;
    ViewBag.Title = "BigModuleChild";
}
@using (Html.BeginForm("SaveBigModuleChild", "HomePageConfig", FormMethod.Post, new { @parentid = Model.parentid, @id = Model.id }))
{
    <input id="id" name="id" type="hidden" value="@Model.id" />
    <input id="parentid" name="parentid" type="hidden" value="@Model.parentid" />

    <table style="background:#ffffff;font-size:12px;width:100%;">
        <tr>
            <td align="right">版本：</td>
            <td>@Html.TextBoxFor(m => m.version, new { @name = "version",  @style = "width:300px;" })</td>
        </tr>
        <tr>
            <td align="right">开始版本：</td>
            <td>@Html.TextBoxFor(m => m.StartVersion, new { @name = "StartVersion", @style = "width:300px;" })</td>
        </tr>

        <tr>
            <td align="right">结束版本：</td>
            <td>@Html.TextBoxFor(m => m.EndVersion, new { @name = "EndVersion", @style = "width:300px;" })</td>
        </tr>
        <tr>
            <td align="right">显示顺序：</td>
            <td>@Html.TextBoxFor(m => m.showorder, new { @name = "showorder", @style = "width:300px;" })</td>
        </tr>
        <tr>
            <td align="right">模块名称：</td>
            <td>@Html.TextBoxFor(m => m.modelname, new { @name = "modelname", @style = "width:300px;" })</td>
        </tr>
        <tr>
            <td align="right">大标题：</td>
            <td>@Html.TextBoxFor(m => m.bigtitle, new { @name = "bigtitle", @style = "width:300px;" })</td>
        </tr>
        <tr>
            <td align="right">小标题：</td>
            <td>@Html.TextBoxFor(m => m.smalltitle, new { @name = "smalltitle", @style = "width:300px;" })</td>
        </tr>
        <tr>
            <td align="right">渠道：</td>
            <td>
                @Html.DropDownListFor(m => m.apptype, HomePageConfigController.GetAppTypeListItem())
            </td>
        </tr>
        <tr style="display:none;">
            <td align="right">模块区域：</td>
            <td>
                @*@Html.DropDownListFor(m => m.areatype, HomePageConfigController.GetAreaTypeListItem())*@
                <input type="text" readonly="readonly" value="@(Model.areatype)" id="areatype" name="areatype" />
            </td>
        </tr>
        <tr>
            <td align="right">显示样式：</td>
            <td>
                @Html.DropDownListFor(m => m.showstyle,
                 new List<SelectListItem>(){
                         new SelectListItem() { Value = "1", Text = "3 x 1",Selected=true},
                        new SelectListItem() { Value = "2", Text = "3 x 2" },
                        new SelectListItem() { Value = "3", Text = "3 x 3" },
                        new SelectListItem() { Value = "4", Text = "1 x n" },
                 })
            </td>
        </tr>
        <tr>
            <td align="right">城市：</td>
            <td>
                <span>省/直辖市:</span>
                @Html.DropDownListFor(m => m.citycode, (List<SelectListItem>)ViewBag.ParentCity, new { @name = "citycode", @onchange = "HomePageConfigs.GetCityJsonOption(this,'districtcode');", @onload = "HomePageConfigs.GetCityJsonOption(this,'districtcode');" })
                <span>区/县:</span>
                @Html.DropDownListFor(m => m.districtcode, (List<SelectListItem>)ViewBag.ChildCity, new { @name = "districtcode" })
            </td>
        </tr>
        <tr>
            <td align="right">H5 URL：</td>
            <td>@Html.TextBoxFor(m => m.jumph5url, new { @name = "jumph5url", @style = "width:300px;" })</td>
        </tr>
        <tr>
            <td align="right">按钮图片：</td>
            <td>
                @*<form id="upicoimgurlFrom" method="post" action="" enctype="multipart/form-data"> </form>*@
                <input style="width:150px;" type="file" id="upicoimgurl" name="upicoimgurl" onchange="HomePageConfigs.UploadBImg(this, 'vwicoimgurl', 'icoimgurl');" />
                <br />
                <img height="40" src="@Model.icoimgurl" id="vwicoimgurl" style="width:100px;height:100px;" />
                <br />
                @Html.TextBoxFor(m => m.icoimgurl, new { @name = "icoimgurl", @style = "width:300px;" })
            </td>
        </tr>
        <tr>
            <td align="right">显示 Banner：</td>
            <td>
                @*<form id="cpshowbannerFrom" method="post" action="" enctype="multipart/form-data"> </form>*@
                <input style="width:150px;" type="file" id="upcpshowbanner" name="upcpshowbanner" onchange="HomePageConfigs.UploadBImg(this, 'vwcpshowbanner', 'cpshowbanner');" />
                <br />
                <img height="40" src="@Model.cpshowbanner" id="vwcpshowbanner" style="width:100px;height:100px;" />
                <br />
                @Html.TextBoxFor(m => m.cpshowbanner, new { @name = "cpshowbanner", @style = "width:300px;" })
            </td>
        </tr>
        <tr>
            <td align="right">App 处理值：</td>
            <td>
                @Html.TextBoxFor(m => m.appoperateval, new { @name = "appoperateval", @style = "width:300px;", @onchange = "BindSelect(this)" })
            </td>
        </tr>
        <tr>
            <td align="right">产品编号：</td>
            <td>@Html.TextBoxFor(m => m.productNum, new { @name = "productNum", @style = "width:300px;" })</td>
        </tr>
        <tr>
            <td align="right">特殊通讯值：</td>
            <td><textarea id="keyvaluelenth" style="width:300px" name="keyvaluelenth">@Model.keyvaluelenth</textarea></td>
        </tr>
        <tr>
            <td align="right">友盟统计：</td>
            <td>@Html.TextBoxFor(m => m.youmen, new { @name = "youmen", @style = "width:300px;" })</td>
        </tr>
        <tr>
            <td align="right">是否启用该模块：</td>
            <td>
                @Html.RadioButtonFor(m => m.showstatic, 1, new { @name = "showstatic", @checked = true }) 是
                @Html.RadioButtonFor(m => m.showstatic, 0, new { @name = "showstatic" }) 否
            </td>
        </tr>
        <tr>
            <td align="right">是否开启更多城市：</td>
            <td>
                @Html.RadioButtonFor(m => m.isothercity, true, new { @name = "isothercity" }) 是
                @Html.RadioButtonFor(m => m.isothercity, false, new { @name = "isothercity" }) 否
            </td>
        </tr>
        <tr>
            <td align="right">是否开启更多产品：</td>
            <td>
                @Html.RadioButtonFor(m => m.isproduct, true, new { @name = "isproduct" }) 是
                @Html.RadioButtonFor(m => m.isproduct, false, new { @name = "isproduct" }) 否
            </td>
        </tr>
        <tr>
            <td align="right">是否读取子模块：</td>
            <td>
                @Html.DropDownListFor(m => m.IsReadChild,
                 new List<SelectListItem>(){
                      new SelectListItem() { Value = "3", Text = "无" ,Selected=true},
                         new SelectListItem() { Value = "1", Text = "子模块"},
                        new SelectListItem() { Value = "2", Text = "倒计时" }

                 })
            </td>
        </tr>
        <tr>
            <td align="right">开始时间：</td>
            <td>@Html.TextBoxFor(m => m.starttime, new { @name = "starttime", @style = "width:300px;" })</td>
        </tr>
        <tr>
            <td align="right">结束时间：</td>
            <td>@Html.TextBoxFor(m => m.overtime, new { @name = "overtime", @style = "width:300px;" })</td>
        </tr>
        <tr>
            <td align="right">创建时间：</td>
            <td>@Html.TextBoxFor(m => m.createtime, new { @name = "createtime", @style = "width:300px;" })</td>
        </tr>
        <tr>
            <td align="right">更新时间：</td>
            <td>@Html.TextBoxFor(m => m.updatetime, new { @name = "updatetime", @style = "width:300px;" })</td>
        </tr>
        <tr>
            <td align="right"></td>
            <td>
                <input type="button" onclick="Save()" value="保存" />
            </td>
        </tr>
    </table>

}

<script>

    function Save() {
        //var keyValue = $("#keyvaluelenth").val() || "";
        //keyValue = keyValue.replace("<", "&lt;").replace(">", "&gt;");    
        var dataStr = {
            "keyvaluelenth": $("#keyvaluelenth").val(),
            "id": $("input[name='id']").val(),
            "parentid": $("input[name='parentid']").val(),
            "version": $("input[name='version']").val(),
            "showorder": $("input[name='showorder']").val(),
            "modelname": $("input[name='modelname']").val(),
            "bigtitle": $("input[name='bigtitle']").val(),
            "smalltitle": $("input[name='smalltitle']").val(),
            "jumph5url": $("input[name='jumph5url']").val(),
            "icoimgurl": $("input[name='icoimgurl']").val(),
            "cpshowbanner": $("input[name='cpshowbanner']").val(),
            "appoperateval": $("input[name='appoperateval']").val(),
            "productNum": $("input[name='productNum']").val(),
            "youmen": $("input[name='youmen']").val(),
            "starttime": $("input[name='starttime']").val(),
            "overtime": $("input[name='overtime']").val(),
            "createtime": $("input[name='createtime']").val(),
            "updatetime": $("input[name='updatetime']").val(),
            "areatype": $("input[name='areatype']").val(),
            "StartVersion": $("input[name='StartVersion']").val(),
            "EndVersion": $("input[name='EndVersion']").val(),

            "apptype": $("#apptype").find("option:selected").val(),
            "showstyle": $("#showstyle").find("option:selected").val(),
            "citycode": $("#citycode").find("option:selected").val(),
            "districtcode": $("#districtcode").find("option:selected").val(),
            "IsReadChild": $("#IsReadChild").find("option:selected").val(),

            "showstatic": $("input[name='showstatic']:checked").val(),
            "isothercity": $("input[name='isothercity']:checked").val(),
            "isproduct": $("input[name='isproduct']:checked").val(),

        }

        $.ajax({
            type: "POST",
            url: "/HomePageConfig/SaveBigModuleChild",
            data: dataStr,           
            success: function (result) {
                if (result) {
                    window.location.href = "/HomePageConfig/index";
                }
            }
        });

        //$.ajax({
        //    method: "POST",
        //    url: "/HomePageConfig/SaveBigModuleChild",
        //    data: dataStr,
        //    dataType: "json"
        //}).done(function (data) {
        //    window.location.href = "/HomePageConfig/index";
        //}).fail(function (data) {
        //    window.location.href = "/HomePageConfig/index";
        //})
    }
</script>
