@{
    Layout = "../Shared/_Layout.cshtml";
}

@using Tuhu.Provisioning.DataAccess.Entity;
@model IEnumerable<TblAdProductV2> 
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>获取产品列表</title>
</head>
<body>
    <div>
        <table> 
            <tr>
                <td>
                    @if (Convert.ToInt32(ViewBag.ModuleId) != 0)
                    { 
                        @Html.ActionLink("添加", "Add", new { id = ViewBag.ModuleId })
                    }
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Id</td>
                <td>产品Id</td>
                <td>显示顺序</td>
                <td>产品状态</td>
                <td>产品价格</td>
                <td>产品数量</td>
                <td>产品所对应的模块Id</td>
                <td>产品所对应的活动Id</td>
                <td>操作</td>
            </tr>
            @foreach (TblAdProductV2 product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.PId</td>
                    <td>@product.Position</td>
                    <td>
                            @(product.State == 1 ? "启用" : "禁用")
                    
                    </td>
                    <td>@product.PromotionPrice</td>
                    <td>@product.PromotionNum</td>
                    <td>@product.NewAppSetDataId</td>
                    <td>@product.ActivityId</td>
                    <td>
                        @Html.ActionLink("编辑","Edit",new { id = product.Id }) 
                        
                    </td>

                </tr>
            }
        </table>

    </div>
</body>
</html>
