<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header" style="padding-left:50px">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="https://resource.tuhu.cn/Image/UserCenter/hu.png" width="48" height="48" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                @*<strong class="font-bold">administrator@tuhu.cn</strong>*@
                            </span> <span class="text-muted text-xs block">管理员 @*<b class="caret"></b>*@</span>
                        </span>
                    </a>
                    @*<ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li><a href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Login", "Pages")">Logout</a></li>
                    </ul>*@
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="active">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.forms">头条管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse ">
                    <li class=""><a href="@Url.Action("Index","ArticleManage",new { status="All",type=5})">发现头条管理</a></li>
                    <li class=""><a href="@Url.Action("Index","ArticleManage",new { status="All",type=99})">非发现头条管理</a></li>
                    <li class=""><a href="@Url.Action("Publish", "ArticleManage")">发表</a></li>
                    @*<li class=""><a href="@Url.Action("CommentManage", "ArticleManage")">评论管理</a></li>*@
                    <li class=""><a href="@Url.Action("TagList", "ArticleManage")">标签管理</a></li>
                    @*<li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("AddTag", "ArticleManage")">新增标签</a></li>
                    <li class="@Html.IsSelected(action: "FileUpload")"><a href="#">File Upload</a></li>*@
                    <li class=""><a href="@Url.Action("AuthorList", "ArticleManage")">作者管理</a></li>
                    <li class=""><a href="@Url.Action("ColumnManage", "ArticleManage")">专题管理</a></li>
                </ul>
            </li>
            <li class="active">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.forms">晒图管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse ">
                    <li class=""><a href="/ArticleManage/ShareImgManage">晒图管理</a></li>                  
                </ul>
            </li>
            <li class="active">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.forms">优选管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse ">
                    <li class=""><a href="@Url.Action("Index", "ArticleManage", new { status = "All", type = 9 })">优选头条管理</a></li>
                    <li class=""><a href="@Url.Action("YouXuanArticle", "ArticleManage")">优选文章发表</a></li>
                    <li class=""><a href="@Url.Action("TagList", "ArticleManage", new { type = "YouXuan" })">优选标签管理</a></li>
                    <li class=""><a href="@Url.Action("ArticleStatistic", "ArticleManage", new { type = 9 })">优选文章统计</a></li>
                </ul>
            </li>
            <li class="active">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.forms">导购管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse ">
                    <li class=""><a href="@Url.Action("Index", "ArticleManage", new { status = "All", type = 98 })">导购文章管理</a></li>
                    <li class=""><a href="@Url.Action("DaoGouArticle", "ArticleManage",new { type = 98 })">导购文章发表</a></li>
                </ul>
            </li>
            <li class="active">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.forms">文章小程序</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse ">
                    <li class=""><a href="@Url.Action("Index", "ArticleManage", new { status = "All", type = 97 })">文章小程序管理</a></li>
                    <li class=""><a href="@Url.Action("DaoGouArticle", "ArticleManage",new { type = 97 })">文章小程序发表</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>