@{
    ViewBag.Title = "Job 返券编辑";
    Layout = null;
}
@model Tuhu.Provisioning.DataAccess.Entity.JobCouponConfigModel

<style type="text/css">
    input[type=button], input[type=submit] {
        background: #0088cc none repeat scroll 0 0;
        border: medium none #0088cc;
        border-radius: 5px;
        color: #f0f0f0;
        cursor: pointer;
        font-family: "Microsoft Yahei";
        font-size: 12px;
        outline: medium none;
        padding: 5px 25px;
    }

    table th{
        color: white;
        padding: 6px 5px;
        text-align: center;
        background-color: #0088cc;
        border: solid 1px #0088cc;
    }

    table td:first-child {
        text-align:right;
    }

    table td:last-child {
        text-align:left;
    }

    fieldset div span
    {
        display:inline-block;
        text-align:right;
        width:150px;
        padding:5px 0px;
    }

    .faqlist {
         width: 100%;
         margin:10px;
     }
</style>

@using (Html.BeginForm("Save", "JobCouponConfig", FormMethod.Post, new { @id = Model.ID }))
{
    if (Model.ID >= 0)
    {
        <table style="background:#ffffff;font-size:12px;width:100%;">
             <tr>
                <td>
                    <fieldset>
                        <legend>返券信息</legend>
                        <input type="hidden" id="ID" name="ID" value="@Model.ID" />
                        <table align="center">
                            <tr>
                                <td>活动名称:</td>
                                <td>@Html.TextBoxFor(m => m.ActivityName, new { @name = "ActivityName" })</td>
                            </tr>
                            <tr>
                                <td>活动状态:</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.State, false, new { @name = "State" }) 禁用
                                    @Html.RadioButtonFor(m => m.State, true, new { @name = "State" }) 启用
                                </td>
                            </tr>
                            <tr>
                                <td>优惠券领取编号:</td>
                                <td>@Html.TextBoxFor(m => m.CouponNum, new { @name = "CouponNum", onblur = "AddOrEditConfig.MatchingCoupon(this,1);" })<span style="color:red;">* 输入编号自动匹配优惠券信息</span></td>
                            </tr>
                            <tr>
                                <td>优惠券RuleID:</td>
                                <td> @Html.TextBoxFor(m => m.RuleID, new { @name = "RuleID", @readonly = "readonly" })<span style="color:red;">* 自动匹配</span></td>
                            </tr>
                            <tr>
                                <td>名称:</td>
                                <td>@Html.TextBoxFor(m => m.CouponName, new { @name = "CouponName", @readonly = "readonly" })<span style="color:red;">* 自动匹配</span></td>
                            </tr>
                            <tr>
                                <td>说明:</td>
                                <td>@Html.TextBoxFor(m => m.CouponExplain, new { @name = "CouponExplain", @readonly = "readonly", maxlength = 500 })<span style="color:red;">* 自动匹配</span></td>
                            </tr>
                            <tr>
                                <td>有效期:</td>
                                <td>
                                    @Html.HiddenFor(m => m.ValidityTime, new { @name = "ValidityTime", @readonly = "readonly" })
                                    <span id="ValidityTime_Text" style="display:inline-block;"></span>
                                    <span style="color:red;">* 自动匹配</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <fieldset>
                                        <legend>返券条件</legend>
                                        <table align="left">
                                            <tr>
                                                <td> 产品类型:</td>
                                                <td>
                                                    @Html.DropDownListFor(m => m.ProductType,
                                                        new List<SelectListItem>(){
                                                        new SelectListItem() { Value = "1", Text = "车品" },
                                                        new SelectListItem() { Value = "2", Text = "轮胎" },
                                                        new SelectListItem() { Value = "3", Text = "保养" },
                                                        new SelectListItem() { Value = "4", Text = "轮毂" }
                                                    })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>订单专题:</td>
                                                <td>
                                                    @Html.DropDownListFor(m => m.OrderState,
                                                         new List<SelectListItem>(){
                                                         new SelectListItem() { Value = "1", Text = "已付款" },
                                                         new SelectListItem() { Value = "2", Text = "已安装" },
                                                         new SelectListItem() { Value = "3", Text = "订单已完成" }
                                                    })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>订单金额 ≥:</td>
                                                <td>@Html.TextBoxFor(m => m.OrderMoney, new { @name = "OrderMoney" })</td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </td>
                            </tr>
                            <tr>
                                <td>返券类型:</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.ReturnType, 1, new { @name = "ReturnType", onchange = "AddOrEditConfig.ReturnTypeEven(1);" }) 指定券
                                    @Html.RadioButtonFor(m => m.ReturnType, 0, new { @name = "ReturnType", onchange = "AddOrEditConfig.ReturnTypeEven(0);" }) 指定金额
                                    @Html.HiddenFor(m => m.CouponRules, new { @name = "CouponRules" })
                                    @Html.HiddenFor(m => m.CreateTime, new { @name = "CreateTime" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="AssignCoupon" @(Model.ReturnType != 1 ? "style=display:none;":"")>
                                        <table align="center">
                                            <thead>
                                                <tr>
                                                    <th>优惠券规则编号<br/>(* 输入编号自动匹配优惠券信息) </th>
                                                    <th>RuleID </th>
                                                    <th>名称</th>
                                                    <th>描述</th>
                                                    <th>条件</th>
                                                    <th>张/人</th>
                                                    <th>操作<input type="button" value="新增" style="background:#fff;color:#333;" onclick="AddOrEditConfig.AddCoupon();" /></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div id="AssignMoney" @(Model.ReturnType != 0 ? "style=display:none;" : "")>
                                        <table align="center">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <select attribute="MoneyType">
                                                            <option value="1">机油</option>
                                                        </select>
                                                        金额 X <input type="text" attribute="MoneyPercent" style="width:50px;" />
                                                        % + <select attribute="ExcludeMoneyType">
                                                            <option value="1">机油</option>
                                                        </select>
                                                        以外金额 X <input type="text" attribute="ExcludePercent" style="width:50px;" /> %
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        最大返现金额 <input type="text" attribute="MaxFoldbackMoney" style="width:50px;" /> ￥
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select attribute="FoldbackType">
                                                            <option value="1">机油</option>
                                                        </select>
                                                        金额 X <input type="text" attribute="FoldbackPercent" style="width:50px;" />
                                                        % 最大返现金额 <input type="text" attribute="FoldbackMoney" style="width:50px;" /> ￥
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        优惠券RuleID <input type="text" attribute="RuleID" style="width:50px;" />
                                                        优惠券描述 <input type="text" attribute="CouponExplain" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        有效期 <input type="radio" name="ValidityTimeType" value="0" attribute="ValidityTimeType" />
                                                        自领取后 <input type="text" attribute="CouponDuration" style="width:50px;" />
                                                        天 <input type="radio" name="ValidityTimeType" value="1" attribute="ValidityTimeType" />
                                                        固定日期 <input type="text" attribute="CouponStartTime" style="width:80px;" />
                                                        - <input type="text" attribute="CouponEndTime" style="width:80px;" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <input type="submit" value="保存" onclick="return AddOrEditConfig.Save();" />
                </td>
            </tr>
        </table>
    }
    else
    {
        <div style="text-align:center;">请求数据！！！</div>
    }
}

@*<script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.js"></script>*@

<script id="AssignCoupon-template" type="text/template">
    <tr>
        <td><input attribute="CouponNum" type="text" value="{{CouponNum}}" onblur= "AddOrEditConfig.MatchingCoupon(this, 2);" /></td>
        <td attribute="RuleID">{{RuleID}}</td>
        <td attribute="CouponName">{{CouponName}}</td>
        <td attribute="CouponExplain">{{CouponExplain}}</td>
        <td attribute="Condition">{{Condition}}</td>
        <td><input attribute="Number" type="text" value="{{Number}}" /></td>
        <td><input type="button" value="删除" onclick="AddOrEditConfig.RemoveCoupon(this);" /> </td>
    </tr>
</script>
 
<script type="text/javascript">
   $("#AssignMoney tbody input[attribute='CouponStartTime']").datepicker({ dateFormat: 'yy-mm-dd' });
   $("#AssignMoney tbody input[attribute='CouponEndTime']").datepicker({ dateFormat: 'yy-mm-dd' });

    var AddOrEditConfig = {
        ReturnTypeEven: function (i) {
            if (i == 1) {
                $("#AssignCoupon").show();
                $("#AssignMoney").hide();
            }
            else {
                $("#AssignCoupon").hide();
                $("#AssignMoney").show();
            }
        },
        AddCoupon: function () {
            var $html = $("#AssignCoupon-template").html();
            $("#AssignCoupon tbody").append(this.ReplaceTemplate($html, new this.AssignCouponModel()));
        },
        RemoveCoupon: function (o) {
            if (confirm("删除不可恢复，确认？")) {
                $(o).parent("td").parent("tr").remove();
            }
        },
        MatchingCoupon: function (o, type) {
            var id = $(o).val() || 0;
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: "/ActivityV1/CouponVlidateForPKID",
                data: { "couponRulePKID": id },
                success: function (result) {
                    if (type == 1) {
                        AddOrEditConfig.OnblurOldCouponEvent(o, result);
                    }
                    else if (type == 2) {
                        AddOrEditConfig.OnblurAddCouponEvent(o, result);
                    }
                    console.log(result);
                }
            });
        },
        OnblurOldCouponEvent: function (o, data) {
            $("#RuleID").val(data.RuleID);
            $("#CouponName").val(data.Name);
            $("#CouponExplain").val(data.Discount);

            var _ValidityTimeModel = new this.ValidityTimeModel();

            if (data.CouponDuration.length > 0
                && data.CouponStartTime.length == 0
                && data.CouponEndTime.length == 0) {
                _ValidityTimeModel.Type = 1;
                _ValidityTimeModel.CouponDuration = data.CouponDuration;
                $("#ValidityTime_Text").html(["自领取后", data.CouponDuration, "天"].join(" "));
            }
            else {
                _ValidityTimeModel.Type = 0;
                _ValidityTimeModel.CouponStartTime = data.CouponStartTime;
                _ValidityTimeModel.CouponEndTime = data.CouponEndTime;
                $("#ValidityTime_Text").html(["固定日期", data.CouponStartTime, "至", data.CouponEndTime].join(" "));
            }

            var json = JSON.stringify(_ValidityTimeModel);

            $("#ValidityTime").val(json);

            console.log(json);
        },
        OnblurAddCouponEvent: function (o, data) {
            var $this = $(o).parent("td");
            $this.next().html(data.RuleID);
            $this.next().next().html(data.Name);
            $this.next().next().next().html(data.Discount);
            $this.next().next().next().next().html(["最少使用", data.Minmoney, "￥", "满减", data.Discount, "￥"].join(" "));
        },
        GetAssignCoupon: function () {
            var _items = [];
            var _model = {};
            var $html = $("#AssignCoupon tbody tr");

            $html.each(function (i, dom) {
                var $this = $(dom);
                _model = new AddOrEditConfig.AssignCouponModel();
                _model.CouponNum = $this.find("input[attribute='CouponNum']").val();
                _model.RuleID = $this.find("td[attribute='RuleID']").html();
                _model.CouponName = $this.find("td[attribute='CouponName']").html();
                _model.CouponExplain = $this.find("td[attribute='CouponExplain']").html();
                _model.Condition = $this.find("td[attribute='Condition']").html();
                _model.Number = $this.find("input[attribute='Number']").val();
                _items.push(_model);
            });

            return _items;
        },
        GetAssignMoney:function(){
            var $html = $("#AssignMoney tbody");
            var _model = new AddOrEditConfig.AssignMoneyModel();
            _model.MoneyType = $html.find("select[attribute='MoneyType'] option:selected").val();
            _model.MoneyPercent = $html.find("input[attribute='MoneyPercent']").val();
            _model.ExcludeMoneyType = $html.find("select[attribute='ExcludeMoneyType'] option:selected").val();
            _model.ExcludePercent = $html.find("input[attribute='ExcludePercent']").val();
            _model.MaxFoldbackMoney = $html.find("input[attribute='MaxFoldbackMoney']").val();
            _model.FoldbackType = $html.find("select[attribute='FoldbackType'] option:selected").val();
            _model.FoldbackPercent = $html.find("input[attribute='FoldbackPercent']").val();
            _model.FoldbackMoney = $html.find("input[attribute='FoldbackMoney']").val();
            _model.RuleID = $html.find("input[attribute='RuleID']").val();
            _model.CouponExplain = $html.find("input[attribute='CouponExplain']").val();
            _model.ValidityTimeType = $html.find("input[name='ValidityTimeType']:checked").val();
            _model.CouponDuration = $html.find("input[attribute='CouponDuration']").val();
            _model.CouponStartTime = $html.find("input[attribute='CouponStartTime']").val();
            _model.CouponEndTime = $html.find("input[attribute='CouponEndTime']").val();
            return _model;
        },
        ValidityTimeModel: function () {
            this.CouponStartTime = "",
            this.CouponEndTime = "",
            this.CouponDuration = "",
            this.Type = ""
        },
        AssignCouponModel: function () {
            this.CouponNum = "",
            this.RuleID = "",
            this.CouponName = "",
            this.CouponExplain = "",
            this.Condition = "",
            this.Number = ""
        },
        AssignMoneyModel: function () {
            this.MoneyType = "",            //金额类型
            this.MoneyPercent = "",         //金额百分比
            this.ExcludeMoneyType = "",     //以外金额类型
            this.ExcludePercent = "",       //以外金额百分比
            this.MaxFoldbackMoney = "",     //最大返现金额
            this.FoldbackType = "",         //最大返现类型
            this.FoldbackPercent = "",      //返现百分比
            this.FoldbackMoney = "",        //返现金额
            this.RuleID = "",               //RuleID
            this.CouponExplain = "",        //优惠券描述
            this.ValidityTimeType = "",     //有效期类型
            this.CouponDuration = "",       //自领取后多少天
            this.CouponStartTime = "",      //固定日期 开始时间
            this.CouponEndTime = ""         //固定日期 结束时间
        },
        AutoFillValidityTime: function () {
            var data = JSON.parse($("#ValidityTime").val());
            console.log(data);
            if (data.CouponDuration.length > 0
                && data.CouponStartTime.length == 0
                && data.CouponEndTime.length == 0) {
                $("#ValidityTime_Text").html(["自领取后", data.CouponDuration, "天"].join(" "));
            }
            else {
                $("#ValidityTime_Text").html(["固定日期", data.CouponStartTime, "至", data.CouponEndTime].join(" "));
            }
        },
        AutoFillCouponRules: function () {
            var jsonData = JSON.parse($("#CouponRules").val());
            if (parseInt($("input[name='ReturnType']:checked").val()) == 0) {
                this.FillAssignMoney(jsonData);
            }
            else {
                this.FillAssignCoupon(jsonData);
            }
        },
        FillAssignCoupon: function (jsonData) {
            var $html = $("#AssignCoupon-template").html();
            for (var i in jsonData) {
                if (i >= 0) {
                    $("#AssignCoupon tbody").append(AddOrEditConfig.ReplaceTemplate($html, jsonData[i]));
                }
            }
        },
        FillAssignMoney: function (jsonData) {
            console.log(jsonData);
            var $html = $("#AssignMoney tbody");
            $html.find("select[attribute='MoneyType']").val(jsonData.MoneyType);
            $html.find("input[attribute='MoneyPercent']").val(jsonData.MoneyPercent);
            $html.find("select[attribute='ExcludeMoneyType']").val(jsonData.ExcludeMoneyType);
            $html.find("input[attribute='ExcludePercent']").val(jsonData.ExcludePercent);
            $html.find("input[attribute='ExcludePercent']").val(jsonData.ExcludePercent);
            $html.find("input[attribute='MaxFoldbackMoney']").val(jsonData.MaxFoldbackMoney);
            $html.find("select[attribute='FoldbackType']").val(jsonData.FoldbackType);
            $html.find("input[attribute='FoldbackPercent']").val(jsonData.FoldbackPercent);
            $html.find("input[attribute='FoldbackMoney']").val(jsonData.FoldbackMoney);
            $html.find("input[attribute='RuleID']").val(jsonData.RuleID);
            $html.find("input[attribute='CouponExplain']").val(jsonData.CouponExplain);
            $html.find("input[name='ValidityTimeType']").eq(parseInt(jsonData.ValidityTimeType)).attr('checked', 'checked');
            $html.find("input[attribute='CouponDuration']").val(jsonData.CouponDuration);
            $html.find("input[attribute='CouponStartTime']").val(jsonData.CouponStartTime);
            $html.find("input[attribute='CouponEndTime']").val(jsonData.CouponEndTime);
        },
        ReplaceTemplate: function (tmplhtml, obj) {
            for (var key in obj) {
                if (obj.hasOwnProperty(key)) {
                    if (obj[key] != null && obj[key] != "null") {
                        tmplhtml = tmplhtml.replace(new RegExp("\{\{" + key + "\}\}"), obj[key]);
                    } else {
                        tmplhtml = tmplhtml.replace(new RegExp("\{\{" + key + "\}\}"), "");
                    }
                }
            }
            return tmplhtml;
        },
        Save: function () {
            var _jsonData;
            if (parseInt($("input[name='ReturnType']:checked").val()) == 0) {
                _jsonData = JSON.stringify(this.GetAssignMoney());
            }
            else {
                _jsonData = JSON.stringify(this.GetAssignCoupon());
            }
            console.log(_jsonData);
            $("#CouponRules").val(_jsonData);
            return true;
        }
    }

    AddOrEditConfig.AutoFillValidityTime();
    AddOrEditConfig.AutoFillCouponRules();
</script>