@using Tuhu.Service.Member.Models
@using Tuhu.Service.Member
@using Tuhu.Provisioning.Models
@using Tuhu.Provisioning.DataAccess.Entity
@model Tuhu.Provisioning.DataAccess.Entity.UserPromotionCodeModel
@{
    Layout = null;
    var UserPermissionList= ViewBag.UserPermissionList as List<UserPermissionModel>;
}
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
<script src="~/Scripts/layui/layui.js"></script>

<div style="width:99%;margin-top:5px;" id="div-right-edit">
    <input type="hidden" id="hid-Id" value="@Model.Id" />
    <form class="layui-form" id="UserRewardEdit">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">奖励名称</label>
                <div class="layui-input-inline">
                    <input name="Name" value="@Model.Name" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">会员等级</label>
                <div class="layui-input-inline">
                    <input name="MembershipsGradeId" data-value="@ViewBag.MembershipsGradeId" value="@ViewBag.MemberGradeName" autocomplete="off" class="layui-input" readonly="readonly">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">会员权益</label>
                <div class="layui-input-inline">
                    <select name="UserPermissionId">
                        @foreach (var up in UserPermissionList)
                        {
                            var selected = Model.UserPermissionId == up.Id ? "selected=\"selected\"" : "";
                            var name = up.Name + "(" + up.EnabledVersion + ")";
                            <option @selected data-value="@up.PermissionType" value="@up.Id">@name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">排序序列</label>
                <div class="layui-input-inline">
                    <input name="SortIndex" value="@Model.SortIndex" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\-?\d.]/g,'')">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">奖励类型</label>
                <div class="layui-input-inline">
                    <select name="RewardType" id="sel-rewardType" data-value="@Model.RewardType" lay-filter="RewardType">
                        @if (Model.RewardType == 2)
                        {
                            <option value="1">优惠券</option>
                            <option selected="selected" value="2">积分</option>
                        }
                        else
                        {
                            <option selected="selected" value="1">优惠券</option>
                            <option value="2">积分</option>
                        }
                    </select>
                </div>
            </div>
            @if (Model.RewardType == 2)
            {
                <div class="layui-inline" id="div-integral">
                    <label class="layui-form-label">奖励积分</label>
                    <div class="layui-input-inline">
                        <input type="text" name="RewardValue" autocomplete="off" class="layui-input" value="@Model.RewardValue" onkeyup="value=value.replace(/[^\-?\d.]/g,'')">
                    </div>
                </div>
                <div class="layui-inline" id="div-coupon" style="display:none;">
                    <label class="layui-form-label" id="lbl_RulIDName">

                        优惠券<br /> 规则ID
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" name="RuleID" autocomplete="off" class="layui-input" style="margin-top: 10px;" value="@Model.RuleID" onkeyup="value=value.replace(/[^\-?\d.]/g,'')">
                    </div>
                </div>
            }
            else
            {
                <div class="layui-inline" id="div-integral" style="display:none;">
                    <label class="layui-form-label">奖励积分</label>
                    <div class="layui-input-inline">
                        <input type="text" name="RewardValue" autocomplete="off" class="layui-input" value="@Model.RewardValue" onkeyup="value=value.replace(/[^\-?\d.]/g,'')">
                    </div>
                </div>
                <div class="layui-inline" id="div-coupon">
                    <label class="layui-form-label" id="lbl_RulIDName">

                        优惠券<br /> 规则ID
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" name="RuleID" autocomplete="off" class="layui-input" style="margin-top: 10px;" value="@Model.RuleID" onkeyup="value=value.replace(/[^\-?\d.]/g,'')">
                    </div>
                </div>
            }
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" id="lblRewardId">
                    @if (Model.RewardType == 2)
                    {
                        @:积分规则Id
                    }
                    else
                    {
                        @:优惠券ID
                    }
                </label>
                <div class="layui-input-inline" style="width:515px">
                    <input name="RewardId" value="@Model.RewardId" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">优惠券描述</label>
                <div class="layui-input-inline" style="width:515px">
                    <textarea placeholder="请输入描述内容" name="CouponDescription" class="layui-textarea" value="@Model.CouponDescription">@Model.CouponDescription</textarea>
                </div>
            </div>
        </div>


        <div class="layui-form-item" style="display:none;">
            <div class="layui-inline">
                <label class="layui-form-label">优惠券名称</label>
                <div class="layui-input-inline">
                    <input name="CouponName" value="@Model.CouponName" autocomplete="off" class="layui-input">
                </div>
            </div>
            
            <div class="layui-inline">
                <label class="layui-form-label">最后修改人</label>
                <div class="layui-input-inline">
                    <input type="text" name="LastUpdateBy" autocomplete="off" class="layui-input" value="@Model.LastUpdateBy" readonly="readonly">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">小图片</label>
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn" id="btn-upload-sm-imge">&nbsp;小图片上传 &nbsp;</button>
                </div>
            </div>
            <img class="layui-upload-img" name="SImage" src="@Model.SImage" style="width:96px;width:96px">
        </div>
        <div class="layui-form-item"><hr /></div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">大图片</label>
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn" id="btn-upload-bm-imge">&nbsp;大图片上传 &nbsp;</button>
                </div>
            </div>
            <img class="layui-upload-img" name="BImage" src="@Model.BImage" style="width:96px;width:96px">
        </div>
    </form>
</div>
<script src="~/Scripts/common/setting.base.js?v=1.2"></script>
<script src="~/Scripts/MembershipsCenter/UserPromotionCode.js?v=1.4"></script>
<script type="text/javascript">
    $(function () {
        UserPromotionCodeRightsEdit.EditDataInit();
    });
</script>