@{
    ViewBag.Title = "商户版App推送消息配置";
    Layout = "../Shared/_Layout.cshtml";
    var AllMessagePushList = ViewBag.AllMessagePushList as List<Tuhu.Provisioning.DataAccess.Entity.MessagePush>;
}
<script>
	function Delete(PKID) {
		if (confirm("确认要删除该条数据吗？")) {
			$.ajax({
				type: "POST",
				timeout: 10000,
				url: "/MessagePush/DeleteAppMessagePush",
				data: { "PKID": PKID },
				success: function (result) {
					if (result) {
					    location = 'AppMessagePush';
					}
					else {
						alert("删除失败");
						return false;
					}
				}
			});
		}
	}
	function btnAdd(PKID) {
	    $("#AddItem").load('/MessagePush/AddAppMessagePush?PKID=' + PKID);
		$("#AddItem").dialog({
			title: "常用文件管理",
			width: 400,
			height: 380,
			modal: true
		});
	}
</script>
<div style="clear:both;"></div>
<div style="float:left;">
    <h2>
        商户版App推送消息配置
    </h2>
</div>
<div style="float:right;">
    <h2>
        <a href="javascript:void(0);" onclick="btnAdd('0')">新增推送消息</a>
    </h2>
</div>
<div style="clear:both;"></div>
<table style="width: 100%;">
    <tr style="background-color: #5c87b2; color: #ffffff;">
        <td width="10%" align="center">编号</td>
        <td width="10%" align="center">英文标识</td>
        <td width="10%" align="center">标题</td>
        <td width="20%" align="center">内容</td>
        <td width="10%" align="center">链接值</td>
        <td width="15%" align="center">描述</td>
        <td width="15%" align="center">时间</td>
        <td width="10%" align="center">管理</td>
    </tr>
    @if (AllMessagePushList.Count == 0)
    {
        <tr><td colspan="8" align="center" style="color:#cccccc;">暂无数据</td></tr>
    }
    @foreach (var item in AllMessagePushList)
    {
        <tr>
            <td align="center">@item.PKID</td>
            <td align="center">@item.EnID</td>
            <td align="center">@item.MsgTitle</td>
            <td align="center">@item.MsgContent</td>
            <td align="center">@item.MsgLink</td>
            <td align="center">@item.MsgDescription</td>
            <td align="center">@(item.AheadHour == 0 ? "即时" : (item.TotalDuration == 99999 ? "" : "总时长" + item.TotalDuration + "小时，") + "提前" + item.AheadHour + (item.TotalDuration == 99999 ? "天" : "小时"))</td>
            <td align="center">
                <a href="javascript:void(0)" onclick="btnAdd('@item.PKID')">编辑</a>&nbsp;&nbsp;
                <a href="javascript:void(0)\" onclick="Delete('@item.PKID')">删除</a>
            </td>
        </tr>
    }
</table>
<div id="AddItem" style="display: none"></div>