@using Tuhu.Provisioning.DataAccess.Entity;
@using Tuhu.Provisioning;
@model Tuple<List<TaskModel>,List<TaskActionModel>>
    @{
        ViewBag.Title = "会员任务配置";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ajaxfileupload.js"></script>
    <style>
        input[type="text"],
        input[type="number"],
        select {
            width: 90%;
            height: 35px;
        }

        .container .row {
            height: 40px;
        }

        .col-md-3 {
            padding-left: 0;
        }
    </style>
    <div class="title" style="margin-bottom:20px;">
        <h1>会员任务配置</h1>
    </div>
    <div class="row">
        <div class="col-md-4" style="padding-left:0px;">
            <button class="btn btn-primary" onclick="Func.AddTask()">新增+</button>
        </div>
        <div class="col-md-offset-1 col-md-6">
            <button class="btn btn-primary" onclick="Func.RefreshCache()">刷新缓存</button>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div style="margin-top:10px;">
        @if (Model.Item1.Any())
        {
            var id = 0;
            <table class="table table-hover table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>任务名称</th>
                        <th>任务类型</th>
                        <th>任务图标</th>
                        <th>显示顺序</th>
                        @*<th class="col-md-3">任务链接</th>*@
                        <th>任务状态</th>
                        <th>有效期（天）</th>
                        <th>创建时间</th>
                        <th>创建人</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Item1)
                    {
                        id += 1; var tasktype = item.TaskType == 0 ? "成长任务" : (item.TaskType == 1 ? "新手任务" :
                "每日任务");
                        <tr data="@(item.TaskId)">
                            <td>@id</td>
                            <td>@(item.TaskName)</td>
                            <td>@tasktype</td>
                            <td>
                                <img src="@(item.TaskIcon)" style="height:20px;" alt="任务Icon" />
                            </td>
                            <td>@(item.Sequence)</td>
                            @*<td class="col-md-3"><span style="overflow:hidden;white-space:nowrap;text-overflow: ellipsis;">@(item.TaskLink)</span></td>*@
                            <td>@(item.DisplayStatus == 0 ? "不显示" : "显示")</td>
                            <td>@(item.Duration < 0 ? "永远" : item.Duration.ToString())</td>
                        <td>@(item.CreateDateTime)</td>
                        <td>@(item.Operator)</td>
                        <td>
                            <button class="btn btn-primary" onclick="Func.FetchTaskDetail(this)">查看</button>
                            <button class="btn btn-primary" onclick="Func.UpdateTaskConfig(this)">修改</button>
                            <button class="btn btn-primary" onclick="Func.GetTaskOprLog('@(item.TaskId)')">历史</button>
                            <button class="btn btn-primary" onclick="Func.DeleteTask('@(item.TaskId)')">删除</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h1>暂无任务</h1>
        }
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="TaskEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:800px;font-size:1.2em;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        任务编辑
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                任务展示
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="container" style="width:100%;">
                                <div class="row">
                                    <div class="col-md-3">任务显示：</div>
                                    <div class="col-md-7">
                                        <select id="displayStatus">
                                            <option value="0">不显示</option>
                                            <option value="1" selected="selected">显示</option>
                                        </select>
                                    </div>
                                </div>
<div class="row">
    <div class="col-md-3">任务显示版本:</div>
    <div class="col-md-9">
        <div class="col-md-5" style="padding-left:0px;padding-right:0px;"><input type="text" placeholder="开始版本" id="startVension" /></div>
        <div class="col-md-5" style="padding-left:0px;padding-right:0px;"><input type="text" placeholder="结束版本" id="endVension" /></div>
    </div>
</div>
                                <div class="row">
                                    <div class="col-md-3">任务顺序：</div>
                                    <div class="col-md-9">
                                        <input type="number" id="sequence" placeholder="任务顺序"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">任务名称:</div>
                                    <div class="col-md-9">
                                        <input type="text" id="taskname" placeholder="任务名称" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">任务图标:</div>
                                    <div class="col-md-9">
                                        @*<input type="text" id="taskicon" />*@
                                        <img id="taskicon" src='' style="width: 100px; height: 100px;" />
                                        <input type="file" onchange="Func.UploadImage(this)" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">任务类型:</div>
                                    <div class="col-md-9">
                                        <select id="tasktype">
                                            <option value="0" selected="selected">成长任务</option>
                                            <option value="1">新手任务</option>
                                            <option value="2">每日任务</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">任务规则:</div>
                                    <div class="col-md-9">
                                        <input type="text" id="taskrule" placeholder="必填" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">任务跳转链接:</div>
                                    <div class="col-md-9">
                                        <input type="text" id="tasklink" placeholder="必填" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">任务按钮文案:</div>
                                    <div class="col-md-9">
                                        <input type="text" id="buttontext" placeholder="必填" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                任务条件
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="container" style="width:100%;">
                                <div class="row">
                                    <div class="col-md-3">任务触发时间:</div>
                                    <div class="col-md-9">
                                        <input type="date" id="triggerTime" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">进度触发条件:</div>
                                    <div class="col-md-9">
                                        <select id="triggerTask">
                                            <option value="" selected="selected">无</option>
                                            @foreach (var item in Model.Item1)
                                            {
                                                <option value="@(item.TaskId)">@(item.TaskName)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">任务达成条件：</div>
                                    <div class="col-md-9">
                                        <button onclick="Func.AddButton()" class="btn btn-primary">增加</button>
                                        <div id="conditionList" style="margin-bottom:5px;padding-bottom:5px;">
                                            @for (int i = 0; i < 5; i++)
                                            {
                                                <div class="conditionItem" style="margin-top:5px;margin-bottom:5px;height:40px;">
                                                    <div class="col-md-3" style="padding-left:0px;">
                                                        <select class="actionName">
                                                            @foreach (var item in Model.Item2)
                                                            {
                                                                <option value="@item.ActionName">@(item.Remark)</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3"><input type="number" placeholder="数量" class="actionCount" /></div>
                                                    <div class="col-md-3"><input type="text" placeholder="特殊参数" class="specialpara" /></div>
                                                    <div class="col-md-3"><button class="btn btn-primary" onclick="Func.DeleteButton(this)">删除</button></div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">任务有效期：</div>
                                    <div class="col-md-9">
                                        <input type="number" id="duration" placeholder="触发后有效天数" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                任务奖励
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="container" style="width:100%;">
                                <div class="row">
                                    <div class="col-md-3">奖励文案(全)：</div>
                                    <div class="col-md-9"><input type="text" id="awardText" placeholder="必填" /></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">奖励跳转链接：</div>
                                    <div class="col-md-9"><input type="text" id="awardLink" placeholder="必填" /></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">领取奖励图片：</div>
                                    <div class="col-md-9">
                                        <img id="awardImg" src='' style="width: 100px; height: 100px;" />
                                        <input type="file" onchange="Func.UploadImage(this)" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">奖励积分</div>
                                    <div class="col-md-9"><input type="number" id="point" value="0" /></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">优惠券ID：</div>
                                    <div class="col-md-9">
                                        <button onclick="Func.AddCoupon()" class="btn btn-primary">增加</button>
                                        <div id="couponList" style="margin-bottom:5px;padding-bottom:5px;">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">其他类型：</div>
                                    <div class="col-md-9">
                                        <div class="col-md-5" style="padding-left:0px;">
                                            轮胎险：
                                        </div>
                                        <div class="col-md-4">
                                            <input type="checkbox" id="tireInsurance" />
                                        </div>
                                        <div class="col-md-5" style="padding-left:0px;">
                                            随机奖励：
                                        </div>
                                        <div class="col-md-4">
                                            <input type="checkbox" id="randomCoupon" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="closebtn" onclick="window.location.reload();">
                        关闭
                    </button>
                    <button type="button" id="savebtn" class="btn btn-primary">
                        提交更改
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- END -->



<div class="modal fade" id="taskOprLog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog" style="width:800px;font-size:1.2em;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">任务配置操作日志</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-bordered table-condensed">
                    <thead>
                    <tr><th>操作人</th><th>操作类型</th><th>操作时间</th></tr>
                    </thead>
                    <tbody id="oprLog"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
                    <script>
                        var Func = {
                            FetchTaskDetail: function (target) {
                                $("#savebtn").attr("disabled", true);
                                var taskid = $(target).parent().parent().attr("data");
                                if (taskid === '') {
                                    alert("未找到该任务，请稍后重试");
                                    return;
                                }
                                $.post("/TaskConfig/FetchTaskDetail", {
                                        "TaskId": taskid
                                    },
                                    function (data) {
                                        if (data.Code == 0) {
                                            alert(data.Info);
                                        } else {
                                            $("#displayStatus").val(data.Data.DisplayStatus ? 1 : 0);
                                            $("#sequence").val(data.Data.Sequence);
                                            $("#taskname").val(data.Data.TaskName);
                                            $("#taskicon").attr("src", data.Data.TaskIcon);
                                            $("#tasktype").val(data.Data.TaskType);
                                            $("#taskrule").val(data.Data.TaskRule);
                                            $("#tasklink").val(data.Data.TaskLink);
                                            $("#buttontext").val(data.Data.TaskText);
                                            if (data.Data.TriggerTime != null) {
                                                $("#triggerTime").val(Func.FormatTime(data.Data.TriggerTime));
                                            }
                                            $("#triggerTask").val(data.Data.TriggerTaskId);
                                            $(".conditionItem").hide();
                                            $.each(data.Data.ConditionList, function (k, v) {
                                                var item = $(".conditionItem").eq(k);
                                                item.show();
                                                item.find(".actionName").first().val(v.ActionName);
                                                item.find(".actionCount").first().val(v.Count);
                                                item.find(".specialpara").first().val(v.SpecialPara);
                                            });
                                            $("#duration").val(data.Data.Duration);
                                            $("#awardText").val(data.Data.AwardText);
                                            $("#awardLink").val(data.Data.AwardLink);
                                            $("#awardImg").attr("src", data.Data.AwardImg);
                                            var html = "";
                                            $("#couponList").empty();
                                            $.each(data.Data.CouponList, function (k, v) {
                                                html += `<div class="couponItem" style="margin-top:5px;margin-bottom:5px;height:40px;">
<div class="col-md-7" style="padding-left:0px;"><input type="text" value=${v.GetRuleId} style="width:100%;" class="couponId" /></div>
<div class="col-md-2"><input type="number" value=${v.Count} class="couponCount" /></div>
<div class="col-md-3"><button class="btn-primary" onclick="Func.DeleteCoupon(this)">删除</button></div>
</div>`;
                                            });
                                            $("#point").val(data.Data.Integral);
                                            $("#couponList").append(html);
                                            //$("#tireInsurance").prop("checked", false);
                                            //$("#randomCoupon").prop("checked", false);
                                            $("#tireInsurance").prop("checked", data.Data.TireInsurance);
                                            //if (data.Data.RandomCoupon) {
                                            $("#randomCoupon").prop("checked", data.Data.RandomCoupon);
                                            //}
                                            $("#TaskEdit").modal('show');
                                        }
                                    });
                            },
                            RefreshCache: function () {
                                //var guid = $("#userCache").val().trim();
                                $.post("/TaskConfig/RefreshTaskCache",
                                    function(data) {
                                        if (data.Code == 0) {
                                            alert("缓存刷新失败");
                                        } else {
                                            alert("缓存刷新成功");
                                        }
                                    });
                            },
                            AddTask: function () {
                                $("#savebtn").attr("disabled", false);
                                var date = new Date();
                                var dateStr = date.Format("yyyy-MM-dd");
                                $("#displayStatus").val(1);
                                $("#sequence").val(0);
                                $("#taskname").val("");
                                $("#taskicon").attr("src", '');
                                $("#tasktype").val(0);
                                $("#taskrule").val('');
                                $("#tasklink").val('');
                                $("#buttontext").val('');
                                $("#triggerTime").val(dateStr);
                                $("#triggerTask").val('');
                                $(".conditionItem").hide();
                                $("#duration").val('');
                                $("#awardText").val('');
                                $("#awardLink").val('');
                                $("#awardImg").attr("src", '');
                                $("#point").val(0);
                                $("#couponList").empty();
                                $("#tireInsurance").attr("checked", false);
                                $("#randomCoupon").attr("checked", false);
                                $("#savebtn").attr("onclick", "Func.SaveConfig('')");
                                $("#TaskEdit").modal('show');
                            },
                            UpdateTaskConfig: function (target) {
                                Func.FetchTaskDetail(target);
                                $("#savebtn").attr("disabled", false);
                                var taskId = $(target).parent().parent().attr("data");
                                $("#savebtn").attr("onclick", `Func.SaveConfig('${taskId}')`);
                            },
                            SaveConfig: function (taskId = '') {
                                var displayStatus = $("#displayStatus").val();
                                var taskName = $("#taskname").val();
                                var taskIcon = $("#taskicon").attr('src');
                                var taskType = $("#tasktype").val();
                                var sequence=$("#sequence").val();
                                var taskRule = $("#taskrule").val();
                                var taskLink = $("#tasklink").val();
                                var taskText = $("#buttontext").val();
                                var triggerTime = $("#triggerTime").val();
                                var triggerTask = $("#triggerTask").val();
                                var conditionList = [];
                                $(".conditionItem:visible").each(function () {
                                    var actionName = $(this).find(".actionName").val();
                                    var count = $(this).find(".actionCount").val();
                                    if (actionName != '' && !isNaN(count) && count > 0) {
                                        var data = {
                                            "ActionName": actionName,
                                            "Count": count,
                                            "SpecialPara": $(this).find('.specialpara').val()
                                        }
                                        conditionList.push(data);
                                    }
                                });
                                var duration = $("#duration").val();
                                var awardText = $("#awardText").val();
                                var awardLink = $("#awardLink").val();
                                var awardImg = $("#awardImg").attr("src");
                                var couponList = [];
                                $(".couponItem").each(function () {
                                    var getruleid = $(this).find(".couponId").val();
                                    var count = $(this).find(".couponCount").val();
                                    if (getruleid != '' && !isNaN(count) && count > 0) {
                                        var data = {
                                            "GetRuleId": getruleid,
                                            "Count": count
                                        }
                                        couponList.push(data);
                                    }
                                });
                                var tireInsurance = $("#tireInsurance").is(':checked');
                                var randomCoupon = $("#randomCoupon").is(':checked');
                                var point = $("#point").val();
                                if (taskName == '') {
                                    alert("任务名称不能为空!");
                                    return;
                                }
                                if (taskIcon == '') {
                                    alert("任务图标不能为空");
                                    return;
                                }
                                if (taskRule == '') {
                                    alert("任务规则不能为空！");
                                    return;
                                }
                                if (taskLink == '') {
                                    alert("任务链接不能为空");
                                    return;
                                }
                                if (taskText == '') {
                                    alert("任务按钮文案不能为空");
                                    return;
                                }
                                if (conditionList.length < 1) {
                                    alert("任务完成条件不能为空");
                                    return;
                                }
                                if (duration == '') {
                                    alert("任务有效期不能为空");
                                    return;
                                }
                                if (awardText == '') {
                                    alert("奖励文案不能为空");
                                    return;
                                }
                                if (awardLink == '') {
                                    alert("奖励跳转链接不能为空");
                                    return;
                                }
                                if (awardImg == '') {
                                    alert("领取奖励图片不能为空");
                                    return;
                                }
                                if (point < 0) {
                                    alert("奖励积分不能小于0");
                                    return;
                                }
                                if (couponList.length < 1 && point == 0 && !tireInsurance && !randomCoupon) {
                                    alert("奖励优惠券、积分、轮胎险和随机奖励不能同时为空");
                                    return;
                                }
                                $("#savebtn").attr("disabled", true);
                                $.post("/TaskConfig/EditTaskConfig", {
                                    TaskName: taskName,
                                    TaskLink: taskLink,
                                    TaskIcon: taskIcon,
                                    TaskType: taskType,
                                    DisplayStatus: displayStatus,
                                    TaskId: taskId,
                                    Duration: duration,
                                    TaskText: taskText,
                                    TriggerTime: triggerTime,
                                    TriggerTaskId: triggerTask,
                                    ConditionList: conditionList,
                                    AwardText: awardText,
                                    AwardLink: awardLink,
                                    AwardImg: awardImg,
                                    Integral: point,
                                    TaskRule: taskRule,
                                    CouponList: couponList,
                                    TireInsurance: tireInsurance,
                                    RandomCoupon: randomCoupon,
                                    Sequence:sequence
                                }, function (data) {
                                    if (data.Code === 1 || data.Code === 3) {
                                        $("#TaskEdit").modal('hide');
                                        window.location.reload();
                                    }
                                    $("#savebtn").attr("disabled", false);
                                    alert(data.Info);
                                }, "json");
                            },
                            DeleteTask: function (taskId) {
                                var r = confirm("确定要删除该任务吗?");
                                if (r == true) {
                                    $.post("/TaskConfig/DeleteTaskConfig", {
                                        TaskId: taskId
                                    }, function (data) {
                                        if (data.Code == -1) {
                                            alert(data.Info);
                                        } else if (data.Code == 0) {
                                            alert("删除失败");
                                        } else {
                                            alert("删除成功");
                                            window.location.reload();
                                        }
                                    });
                                } else {
                                    return;
                                }
                            },
                            AddButton: function () {
                                var items = $(".conditionItem:hidden");
                                if (items.length && items.length > 0) {
                                    items.first().show();
                                } else {
                                    alert("无法增加更多任务完成条件");
                                }
                            },
                            DeleteButton: function (target) {
                                $(target).parent().parent().hide();
                            },
                            AddCoupon: function () {
                                var html = `<div class="couponItem" style="margin-top:5px;margin-bottom:5px;height:40px;">
    <div class="col-md-7" style="padding-left:0px;"><input type="text" value=''  placeholder="优惠券GUID"  style="width:100%;" class="couponId" /></div>
    <div class="col-md-2"><input type="number" value=0 placeholder="优惠券数量"  class="couponCount" /></div>
    <div class="col-md-3"><button class="btn btn-primary" onclick="Func.DeleteCoupon(this)">删除</button></div>
    </div>`;
                                $("#couponList").append(html);
                            },
                            DeleteCoupon: function (target) {
                                $(target).parent().parent().remove();
                            },
                            FormatTime: function (strTime) {
                                var obj = new Date(parseInt(strTime.replace("/Date(", "").replace(")/", ""), 10));
                                return obj.Format("yyyy-MM-dd");
                            },
                            FormatTime2: function (strTime) {
                                var obj = new Date(parseInt(strTime.replace("/Date(", "").replace(")/", ""), 10));
                                return obj.Format("yyyy-MM-dd hh:mm:ss");
                            },
                            UploadImage: function (target) {
                                var $target = $(target);
                                var $img = $target.prev();
                                var now = new Date().getTime();
                                $target.attr("id", now);
                                $target.attr("name", now);
                                var name = $target.val().split('.');
                                if (name[name.length - 1].toUpperCase() != "JPG" &&
                                    name[name.length - 1].toUpperCase() != "JPEG" &&
                                    name[name.length - 1].toUpperCase() != "GIF" &&
                                    name[name.length - 1].toUpperCase() != "PNG" &&
                                    name[name.length - 1].toUpperCase() != "BMP") {
                                    alert("格式错误", "支持jpg、jpeg、gif、png、bmp", "error");
                                    return false;
                                }
                                $.ajaxFileUpload({
                                    url: '/TaskConfig/UploadImage',
                                    secureuri: false,
                                    fileElementId: now,
                                    async: false,
                                    dataType: 'JSON',
                                    type: 'post',
                                    success: function (src) {
                                        var result = jQuery.parseJSON(jQuery(src).text());
                                        if (result != null) {
                                            $img.attr("src", result);
                                        } else
                                            alert("上传失败！");
                                    }
                                });
                            },
                            GetTaskOprLog: function (taskId) {
                                $.post("/TaskConfig/GetTaskOprLog", {
                                    "TaskId": taskId
                                }, function (response) {
                                    if (response.Code == 0) {
                                        alert(response.Info);
                                    } else {
                                        var html = '';
                                        $("#oprLog").empty();
                                        $.each(response.Data, function (k, v) {
                                            html += `<tr><td>${v.Operator}</td><td>${v.Operate}</td><td>${Func.FormatTime2(v.CreateDateTime)}</td><tr>`;
                                        });
                                        $("#oprLog").append(html);
                                        $("#taskOprLog").modal('show');
                                    }
                                });
                            },
                        }
                    </script>