@{
    ViewBag.Title = "拼团产品列表";
}
@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.SE_GroupBuyingConfig>

    <div>
        <input type="button" id="btnAdd" class="btnAdd" value="新 增"  style="width:160px;margin:10px 0px;"/>
    </div>
    <div>
        <table class="table" width="100%">
            <thead>
                <tr>
                    <th>商品PID</th>
                    <th>商品名称</th>
                    <th>活动ID</th>
                    <th>
                        团购价格
                    </th>
                    <th>
                        每人限购
                    </th>
                    <th>
                        几人可团
                    </th>
                    <th>
                        顺序
                    </th>
                    <th>
                        操 作
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.PID</td>
                            <td>@item.ProductName</td>
                            <td>@item.FalshSaleGuid</td>
                            <td>@(String.Format("{0:C}", item.ActivityPrice) )</td>
                            <td>@item.LimitSaleNumber</td>
                            <td>@item.LimitGroupNumber</td>
                            <td>
                                @item.OrderBy
                            </td>
                            <td>
                                <input type="button" name="btnEdit" data-id="@item.ID" value="编 辑"/>
                                <input type="button" name="btnDel" data-id="@item.ID"  value="删 除"/>
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>

    <div id="edit" class="fc-basic-view dialog">
        dfdsfsd
    </div>
    <script type="text/javascript">
        $(function () {
            $('#edit').dialog({
                title: "新增产品",
                autoOpen: false,
                width: 500,
                height: 230,
                buttons: [{
                    text: "保 存",
                    icons: {
                        primary:"ui-icon-heart"
                    },
                    click: function () {
                        var data = Submit.getData();
                        if (!data.PID) {
                            alert("请填写PID");
                        }
                        if (!data.FalshSaleGuid) {
                            alert("请输入活动ID")
                        }
                        if (!data.LimitSaleNumber) {
                            alert("个人限购不能为空");
                        }
                        if (!data.LimitGroupNumber) {
                            alert("几人拼团数不能为空");
                        }

                        $.ajax({
                            url: '/groupbuying/Save',
                            data: data,
                            type: 'post'
                        }).done(function (result) {
                            if (result == 1) {
                                alert("添加成功");
                                $('#edit').dialog("close");
                                setTimeout(function() {
                                    document.location.reload()
                                    },
                                    500)
                            } else {
                                alert("添加失败");
                            }
                        });

                    }
                }, {
                        text: "取 消",
                        click: function () {
                            $(this).dialog("close");
                        }
                }]
            });

            $('#btnAdd').on('click', function() {
                    $('#edit').html("").load("/GroupBuying/Edit?id=0");
                    $('#edit').dialog("open");
            });

            $('input[name="btnEdit"]').click(function () {
               
                var id = $(this).data("id");
                if (id) {
                    $('#edit').html("").load("/GroupBuying/Edit?id=" + id);
                    $('#edit').dialog("open");
                }

            });

            $('input[name="btnDel"]').click(function () {
                var id = $(this).data("id");
                var r = confirm("您确定删除?");
                if (id && r) {
                    $.ajax({
                        url: "/groupbuying/Del",
                        type: "post",
                        data: {
                            id: id
                        }
                    }).done(function(result) {
                        if (result == 1) {
                            alert("删除成功");
                            setTimeout(function() { document.location.reload() }, 500)
                        } else {
                            alert("删除失败");
                        }
                    });

                }

            });
        });
    </script>