@using System.Globalization
@using Tuhu.Provisioning.DataAccess.Entity;
@using Tuhu.Provisioning;
@model Tuhu.Component.Common.Models.ListModel<ProductPriceModel>
@{
    Layout = null;
    var Request = ViewBag.Request as ProductListRequest;
}

@helper ShowPrice(decimal? price, int Type, string ShopName, decimal? OriginalPrice = 0M)
    {
        if (price == null)
        {
            if (Type == 0)
            {
                <span><a href="javascript:void(0)" onclick="ThirdFunc.TryFetchLowestPrice('@ShopName',@price)">-</a></span>
            }
            else
            {
                <span>-</span>;
            }
        }
        else
        {
            if (Type == 0)
            {
                <span><a href="javascript:void(0)" onclick="ThirdFunc.TryFetchLowestPrice('@ShopName',@price)">@(price.Value.ToString("0")) </a></span>;
            }
            else if (Type == 1)
            {
                <span><a href="javascript:void(0)" onclick="ThirdFunc.CouponDetail('@ShopName',@price,@OriginalPrice)">@(Math.Round(price.Value).ToString("0")) </a></span>;
            }
            else
            {
                <span>@(Math.Round(price.Value).ToString("0"))</span>;
            }
        }
}
@if (Model.Source.Any())
{
    <table data-count="@Model.Pager.TotalItem" class="table" width="100%" style="text-align:center;">
        <tr>
            <th>
                <input type="checkbox" name="SelectAll" value="" />全选
            </th>
            <th>品牌</th>
            <th>PID</th>
            <th>产品名称</th>
            <th>进货价</th>
            <th>最低限价</th>
            <th>最小毛利</th>
            <th>可用券</th>
            <th>官网价格</th>
            <th>途虎淘宝</th>
            <th>途虎淘宝2</th>
            <th>途虎天猫1</th>
            <th>途虎天猫2</th>
            <th>途虎天猫3</th>
            <th>途虎天猫4</th>
            <th>途虎京东</th>
            <th>途虎京东旗舰</th>
            <th>编辑</th>
        </tr>
        @foreach (var item in Model.Source)
        {
            <tr>
                <td><input type="checkbox" name="selectSingle" value="@item.PID" data-pid="@item.PID" /></td>
                <td>@(item.Brand ?? "-")</td>
                <td>@item.PID</td>
                <td>@item.ProductName</td>
                <td>@ShowPrice(item.Cost, 2, "")</td>
                <td><a class="pointer" href="javascript:void(0)" onclick="ThirdFunc.EditLowestLimit('@item.PID', '@(item.LowestLimit == null ? "-" : item.LowestLimit.Value.ToString())')">@ShowPrice(item.LowestLimit, 2, "")</a></td>
                <td>@ShowPrice(item.Min_maoliValue, 2, "")</td>
                <td>@(item.CanUseCoupon.HasValue ? (item.CanUseCoupon.Value ? "是" : "否") : "是")</td>
                <td>@ShowPrice(item.Price, 0, "自有平台")<hr />@ShowPrice(item.LowestPrice, 1, "自有平台", item.Price)</td>
                <td>@ShowPrice(item.TBPrice, 0, "途虎淘宝")<hr />@ShowPrice(item.TBLowestPrice, 1, "途虎淘宝", item.TBPrice)</td>
                <td>@ShowPrice(item.TB2Price, 0, "途虎淘宝2")<hr />@ShowPrice(item.TB2LowestPrice, 1, "途虎淘宝2", item.TB2Price)</td>
                <td>@ShowPrice(item.TM1Price, 0, "途虎天猫1")<hr />@ShowPrice(item.TM1LowestPrice, 1, "途虎天猫1", item.TM1Price)</td>
                <td>@ShowPrice(item.TM2Price, 0, "途虎天猫2")<hr />@ShowPrice(item.TM2LowestPrice, 1, "途虎天猫2", item.TM2Price)</td>
                <td>@ShowPrice(item.TM3Price, 0, "途虎天猫3")<hr />@ShowPrice(item.TM3LowestPrice, 1, "途虎天猫3", item.TM3Price)</td>
                <td>@ShowPrice(item.TM4Price, 0, "途虎天猫4")<hr />@ShowPrice(item.TM4LowestPrice, 1, "途虎天猫4", item.TM4Price)</td>
                <td>@ShowPrice(item.JDPrice, 0, "途虎京东")<hr />@ShowPrice(item.JDLowestPrice, 1, "途虎京东", item.JDPrice)</td>
                <td>@ShowPrice(item.JDFlagShipPrice, 0, "途虎京东旗舰")<hr />@ShowPrice(item.JDFlagShipLowestPrice, 1, "途虎京东旗舰", item.JDFlagShipPrice)</td>
                <td>
                    <a href="javascript:void(0)" onclick="ThirdFunc.BatchEdit('@item.PID', '@(item.CanUseCoupon.HasValue?(item.CanUseCoupon.Value?"true":"false"):"true")')">编辑</a>
                    <a href="/Tire/ShowTireModifyLogs?pid=@(item.PID)&type=CanUseCoupon" target="_blank">查看日志</a>
                </td>
            </tr>
        }
    </table>
    @Html.Pager(Model.Pager, true, id => Url.Action("ProductList", new
    {
        ProductName = Request.ProductName,
        PID = Request.PID,
        Brand = Request.Brand,
        OnSale = Request.OnSale,
        Type = Request.Type,
        ManyCustomPrice = Request.ManyCustomPrice,
        Contrast = Request.Contrast,
        SingleCustomPrice = Request.SingleCustomPrice,
        Proportion = Request.Proportion,
        PageIndex = id,
        PageSize = Request.PageSize

    }))
}

<script>
    $("[name=SelectAll]").change(function () {
        $("[name=selectSingle]").prop("checked", $(this).prop("checked"));
    })
</script>