@model Tuhu.Provisioning.DataAccess.Entity.BizActionsetTab
@{
	Layout = null;
}

<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function () {
		$("#action_endTime").datepicker({ dateFormat: 'yy-mm-dd' });

		$("form").submit(function () {
			var datereg = /^((?:19|20)\d\d)-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/;
			if (!datereg.test($("#action_endTime").val())) {
				alert('截止日期格式不正确');
				return false;
			}
			var intreg = /^\d+$/;
			if (!intreg.test($("#action_needfriendcount").val()) || !intreg.test($("#action_totaljoinperson").val()) || !intreg.test($("#action_totaljoinperson").val())) {
				alert('力挺还有需满人数、活动有效限制人数、好友砍价（总金额）须为整数');
				return false;
			}
			if (!/^-?\d+\.?\d{0,4}$/.test($("#action_dealmoney").val())) {
				alert('产品成交金额格式不正确');
				return false;
			}
		});

	});

	function UplaodImg(inputid, imgid, imgviewid) {
		$.ajaxFileUpload({
			url: '/Advertise/AddActionImg',
			secureuri: false,
			fileElementId: inputid,
			dataType: 'text',
			data: {},
			type: "post",
			success: function (src) {
				if (src != "false") {
					$("#" + imgviewid).attr("src", "//res.tuhu.cn/" + src);
					$("#" + imgviewid).show();
					$("#" + imgid).val(src);
				} else {
					alert("上传失败！");
				}
			}
		});
	}
</script>
@using (Html.BeginForm(new { @enctype = "multipart/form-data" }))
{
	@Html.ValidationSummary(true)
	@Html.HiddenFor(m => m.id)
	@Html.HiddenFor(m => m.action_bgimg)
	@Html.HiddenFor(m => m.action_adproimg)
	@Html.HiddenFor(m => m.action_proimg)


	<table style="background:#ffffff;font-size:12px;width:100%;">
		<tr>
			<td align="right" style="width:20%;">活动背景图：</td>
			<td style="width:80%;">
				<form method="post" action="" enctype="multipart/form-data">
					<input style="width:150px;" type="file" id="up_action_bgimg" name="up_action_bgimg" onchange="UplaodImg('up_action_bgimg', 'action_bgimg', 'vw_action_bgimg')" />
				</form><br />
				<img height="78" src="@("//res.tuhu.cn/" + Model.action_bgimg)" id="vw_action_bgimg" />
			</td>
		</tr>
		<tr>
			<td align="right">活动产品宣传图：</td>
			<td>
				<form method="post" action="" enctype="multipart/form-data">
					<input style="width:150px;" type="file" id="up_action_adproimg" name="up_action_adproimg" onchange="UplaodImg('up_action_adproimg', 'action_adproimg', 'vw_action_adproimg')" />
				</form><br />
				<img height="78" src="@("//res.tuhu.cn/" + Model.action_adproimg)" id="vw_action_adproimg" />
			</td>
		</tr>
		<tr>
			<td align="right">活动说明：</td>
			<td>
				@Html.TextAreaFor(model => model.action_explain, new { @style = "width:300px", })
			</td>
		</tr>
		<tr>
			<td align="right">活动规则：</td>
			<td>
				@Html.TextAreaFor(model => model.action_rule, new { @style = "width:300px", })
			</td>
		</tr>
		<tr>
			<td align="right">分享预制文案：</td>
			<td>
				@Html.TextBoxFor(model => model.action_label, new { @style = "width:300px", })
			</td>
		</tr>
		<tr>
			<td align="right">力挺还有需满人数：</td>
			<td>
				@Html.TextBoxFor(model => model.action_needfriendcount, new { @style = "width:90px;text-align:right" })
			</td>
		</tr>
		<tr>
			<td align="right">活动有效限制人数：</td>
			<td>
				@Html.TextBoxFor(model => model.action_totaljoinperson, new { @style = "width:90px;text-align:right" })
			</td>
		</tr>
		<tr>
			<td align="right">好友砍价（总金额）：</td>
			<td>
				@Html.TextBoxFor(model => model.action_totaldownprice, new { @style = "width:90px;text-align:right" })
			</td>
		</tr>
		<tr>
			<td align="right">产品成交金额：</td>
			<td>
				@Html.TextBoxFor(model => model.action_dealmoney, new { @style = "width:90px;text-align:right" })
			</td>
		</tr>
		<tr>
			<td align="right">活动截止时间：</td>
			<td>
				@Html.TextBoxFor(model => model.action_endTime, new { @Value = Model.action_endTime.ToString("yyyy-MM-dd"), @style = "width:90px;text-align:center", @readonly = "readonly" })
			</td>
		</tr>
		<tr>
			<td align="right">产品名称：</td>
			<td>
				@Html.TextBoxFor(model => model.action_proname, new { @style = "width:300px", })
			</td>
		</tr>
		<tr>
			<td align="right">产品编号：</td>
			<td>
				@Html.TextBoxFor(model => model.action_proID, new { @style = "width:300px", })
			</td>
		</tr>
		<tr>
			<td align="right">分享活动图片：</td>
			<td>
				<form method="post" action="" enctype="multipart/form-data">
					<input style="width:150px;" type="file" id="up_action_proimg" name="up_action_proimg" onchange="UplaodImg('up_action_proimg', 'action_proimg', 'vw_action_proimg')" />
				</form><br />
				<img height="78" src="@("//res.tuhu.cn/"+Model.action_proimg)" id="vw_action_proimg" />
			</td>
		</tr>
		<tr>
			<td align="right">状态：</td>
			<td>
				@Html.RadioButtonFor(m => m.action_static, true) 启用中
				@Html.RadioButtonFor(m => m.action_static, false) 暂停
			</td>
		</tr>
		<tr>
			<td align="right">活动介绍页：</td>
			<td>
				@Html.TextBoxFor(model => model.action_introurl, new { @style = "width:300px", })
			</td>
		</tr>
		<tr>
			<td align="right">活动介绍页：</td>
			<td>
				@Html.TextBoxFor(model => model.action_endurl, new { @style = "width:300px", })
			</td>
		</tr>
		<tr>
			<td align="right"></td>
			<td>
				<input type="submit" value="保存" />
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="button" value="取消并返回" onclick="location = 'ActionsetTabs'" />
			</td>
		</tr>
	</table>
}