@using Tuhu.Provisioning.DataAccess.Entity;
@model Tuple<List<string>, IEnumerable<ProvinceItem>>
@{
    ViewBag.Title = "AntifreezeEditPage";
    Layout = null;
    var ProvinceList = Model.Item2.ToList();
}
<style>
    .tabs div {
        display: inline-block;
        padding: 10px 70px;
        cursor: pointer;
    }

        .tabs div.active {
            background-color: #4297d7;
            color: white;
        }

    .content {
        width: 100%;
        height: 220px;
        border: 1px solid #4297d7;
    }

        .content div {
            display: none;
        }

            .content div:first-child {
                display: block;
            }
</style>
<div>
    <div class="tabs">
        <div class="active" data-id="-45" data-code="-1">-45</div>
        <div data-id="-37" data-code="-1">-37</div>
        <div data-id="-30" data-code="-1">-30</div>
        <div data-id="-25" data-code="-1">-25</div>
    </div>

    <div class="content">
        <table>
            <tr>
                <td>品牌：</td>
                <td>
                    <select id="selbrand">
                        @foreach (var item in Model.Item1)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>省份：</td>
                <td id="provincelist">
                    @for (int i = 0; i < ProvinceList.Count(); i++)
                    {
                        <input type="checkbox" id="chk@(ProvinceList[i].PKID)" name="chk" data-id="@(ProvinceList[i].PKID)" data-value="@(ProvinceList[i].RegionName)" /><label for="chk@(ProvinceList[i].PKID)">@(ProvinceList[i].RegionName)</label>@Html.Raw("&nbsp;&nbsp;")
                        if ((i + 1) % 6 == 0)
                        { <br />}
                    }
                </td>

            </tr>
        </table>
    </div>
</div>
    <input type="hidden" class="fdychange" value=""/>
<script>
    $(function () {
        $(".fdychange").val("");
        GetDataList();
        $(".tabs div").click(function () {
            $(".fdychange").val("");
            $(this).addClass("active").siblings().removeClass("active");
            DoCheckBox($(this).attr("data-id"));
        });
        var TempSettingList = null;
        function GetDataList() {
            $.get("/Baoyang/GetAntifreezeData?r=" + Math.random(), function (data) {
                TempSettingList = data.SettingList;
                DoCheckBox("-45");
            });
        }
        function DoCheckBox(item) {
            $("[name='chk']").removeAttr("checked");
            var CurrentItem = TempSettingList.filter(function (v) { return v.FreezingPoint == item })[0];
            if (CurrentItem != null && CurrentItem != "") {
                $(".active").attr("data-code", CurrentItem.PKID);
                $("#selbrand").val(CurrentItem.Brand);
                var PidList = CurrentItem.ProvinceIds.split('|');
                $(".fdychange").val(CurrentItem.ProvinceIds);
                $.each(PidList, function (k, v) {
                    $("input[data-id='" + v + "']").prop('checked', 'checked');
                });
            }
            else { $(".active").attr("data-code", "0"); }
        }
    });
</script>
