@model Tuhu.Provisioning.DataAccess.Entity.BaoYangModel

@{
    Layout = null;
}


<form id="BaoyangpageconfigListItemForm">
    @Html.HiddenFor(T => T.PKID)
    <table>
        <tr>
            <td>@Html.LabelFor(T => T.byType) (xby)</td>
            <td>@Html.TextBoxFor(T => T.byType) <span>@Html.ValidationMessageFor(T => T.byType)</span></td>

        </tr>
        <tr>
            <td>@Html.LabelFor(T => T.byValue) (小保养)</td>
            <td>@Html.TextBoxFor(T => T.byValue) <span>@Html.ValidationMessageFor(T => T.byValue)</span></td>

        </tr>
        
        <tr>
            <td></td>
            <td><input type="button" id="submit" value="保存"/></td>
        </tr>
    </table>
</form>


<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script>
    $("#submit").click(function () {
        var isvalidate = $("#BaoyangpageconfigListItemForm").validate({
            rules: {
                PKID: {
                    required: false
                }
            },
            messages: {
                PKID:"1111"
            }
            
        }).form();

        if (isvalidate) {
            $.ajax({
                type: "post",
                url: "/Baoyang/BaoyangpageconfigListItem",
                data: $("#BaoyangpageconfigListItemForm").serialize(),
                success: function (data) {
                    window.location.reload();
                },
                error: function () {
                    alert('网络异常');
                }
            });
        } 
    });
</script>