@{
    ViewBag.Title = "爱车档案";
    Layout = null;
}
@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.SE_HomePageFlowConfig>
    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <!-- Add local styles, mostly for plugins css file -->
        <!-- Add jQuery Style direct - used for jQGrid plugin -->
        <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />
        <link href="~/Scripts/multiple/multiple-select.css" rel="stylesheet" type="text/css" />
        <!-- Primary Inspinia style -->
        @Styles.Render("~/Content/css")
        @Styles.Render("~/font-awesome/css")
        <style type="text/css">
            .module {
                width: 100px;
                text-align: center;
                float: left;
                margin-left: 5px;
                margin-right: 5px;
                cursor: pointer;
            }
        </style>
    </head>
    <body class="fixed-sidebar">
        <div id="wrapper" class="">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="nav-header" style="padding-left:50px">
                            <div class="dropdown profile-element">
                                <span>
                                    <img alt="image" class="img-circle" src="https://resource.tuhu.cn/Image/UserCenter/hu.png" width="48" height="48" />
                                </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear">
                                        <span class="block m-t-xs">
                                        </span> <span class="text-muted text-xs block">@(string.IsNullOrWhiteSpace(User.Identity.Name) ? "管理员" : User.Identity.Name)</span>
                                    </span>
                                </a>

                            </div>
                            <div class="logo-element">
                                IN+
                            </div>
                        </li>
                        <li>
                            <a href="/HomePageConfigV2/CarTypeApprove">车型认证权益</a>
                        </li>
                        <li>
                            <a href="/HomePageConfigV2/LoveCar">工具条</a>
                        </li>
                        <li>
                            <a href="/HomePageConfigV2/LoveCarBanner">爱车档案banner</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Page wraper -->
            <div id="page-wrapper" class="gray-bg" style="min-height: 949px;">
                <!-- Top Navbar -->
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <ul class="nav navbar-top-links navbar-right">
                            @if (Request.IsAuthenticated)
                            {
                                <li>
                                    <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">您好 @Context.User.Identity.Name， 欢迎进入首页配置管理系统，祝您生活愉快！</span>
                                </li>
                                <li>
                                    <a href="@ThBiz.Common.Configurations.YewuDomainConfig.YewuSite/Account/LogOff">
                                        <i class="fa fa-sign-out"></i> 退出
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@ThBiz.Common.Configurations.YewuDomainConfig.YewuSite/Account/LogOn">
                                        <i class="fa fa-sign-out"></i> 登录
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>


                <!-- Main view  -->
                <div class="container-fluid">

                    <div class="ibox ibox-content">

                        <div class="row" style="text-align:right;margin-bottom:5px;">
                            <a href="javascript:void(0)" class="btn btn-danger btn-small " id="btnAdd" style="width: 150px;" data-toggle="modal" data-target="#edit">新 增</a>
                        </div>
                        <table class="table table-bordered" style="text-align:center;">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>名称</th>
                                    <th>开始版本</th>
                                    <th>结束版本</th>
                                    <th>渠道</th>

                                    <th>状态</th>

                                    <th>开始时间</th>
                                    <th>结束时间</th>

                                    <th>优先级</th>


                                    <th>管 理</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
            {
                foreach (var item in Model)
                {
                                        <tr>
                                            <td>@item.ID</td>
                                            <td>@item.Title</td>
                                            <td>@item.StartVersion</td>
                                            <td>@item.EndVersion</td>
                                            <td>@(item.Channel == 0 ? "全部" : item.Channel == 1 ? "Android" : item.Channel == 2 ? "ios" :item.Channel==3?"移动站":item.Channel==4?"小程序":"")</td>

                                            <td>@(item.IsEnabled == true ? "启用" : "禁用")</td>

                                            <td>@(string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.StartDateTime))</td>
                                            <td>@(string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.EndDateTime))</td>

                                            <td>@(item.PriorityLevel)</td>


                                            <td>
                                                <a class="btn btn-default btn-sm" href="javascript:void(0)" data-id="@item.ID" name="btnEdit" data-toggle="modal" data-target="#edit">编 辑</a>
                                                @if (item.IsChildProduct)
                                                {
                                                    <a class="btn btn-info btn-sm" href="javascript:void(0)" name="btnSelectProduct" data-id="@item.ID" data-toggle="modal" data-target="#edit">查看产品</a>
                                                }

                                                <a class="btn btn-danger btn-sm" href="javascript:void(0)" name="btnDel" data-id="@item.ID">删 除</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="edit" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1">

                    </div>

                </div>


                <!-- Footer -->
                <div class="footer">
                    <div class="pull-right">
                    </div>
                    <div>
                        <strong>Copyright</strong> 途虎养车 &copy; @DateTime.Now.Year
                    </div>
                </div>

            </div>

        </div>


        <!-- End wrapper-->
        <!-- Section for main scripts render -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/plugins/slimScroll")
        @Scripts.Render("~/bundles/inspinia")
        @*<script src="~/Scripts/jquery-ui.1.10.4.min.js" type="text/javascript"></script>*@
        <script src="~/Scripts/jquery-ui.1.12.1.min.js" type="text/javascript"></script>
        <script src="/Scripts/ajaxfileupload.js" type="text/javascript"></script>
        <script type='text/javascript' src="/Scripts/jquery.validate-1.8.1.min.js"></script>
        <script type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
        <script src="~/Scripts/multiple/multiple-select.js" type="text/javascript"></script>
        <!-- Skin config script - only for demo purpose-->
        @*@Scripts.Render("~/bundles/skinConfig")*@

        <!-- Handler for local scripts -->
    </body>
</html>
<div id="toobal" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1">

</div>

<script type="text/javascript">
        $(function () {
            $('#btnAdd').on('click', function () {
                var url = "/HomePageConfigV2/FlowEdit?id=0&type=2";
                // dialogOpen("新增首页", url, "edit");
                var dialog = $('#edit');
                dialog.empty();
                dialog.html(dialog.load(url));
            });

            $('a[name="btnEdit"]').on('click', function () {
                var id = $(this).data("id");
                if (id) {
                    var url = "/HomePageConfigV2/FlowEdit?id=" + id;
                    // dialogOpen("新增首页", url, "edit");
                    var dialog = $('#edit');
                    dialog.empty();
                    dialog.html(dialog.load(url));
                }
            });

            $('a[name="btnDel"]').on('click', function () {
                var id = $(this).data("id");
                if (confirm("您确定删除吗？") && id) {
                    $.ajax({
                        url: '/HomePageConfigV2/DeleteFlow',
                        type: 'post',
                        data: { id: id },
                        dataType: 'json'
                    }).done(function (result) {
                        if (result == 1) {
                            alert("删除成功");
                            location.reload();
                        } else {
                            alert("删除失败");
                        }
                    });
                }
            });


            $('a[name="btnSelectProduct"]').on('click', function () {
                var id = $(this).data("id");
                if (id) {
                    var url = "/HomePageConfigV2/FlowProduct?flowID=" + id;
                    // dialogOpen("新增首页", url, "edit");
                    var dialog = $('#edit');
                    dialog.empty();
                    dialog.html(dialog.load(url));
                }
            });


        });

        ///showImg：上传时Image显示的标签ID
        //showUrl:真正显示的
        function UploadBgImg(obj, showImg, showUrl) {

            var pobj = $(obj);
            var fileSize = pobj[0].files[0].size / 1024 * 1.0;
            if (fileSize > 1024) {
                alert("不能上传大于1024KB的图片");
                return false;
            }
            var rd = Math.ceil(Math.random() * 9999) + 1;
            var fileElId = $(obj).attr("id");
            console.log(fileElId);
            $.ajaxFileUpload({
                url: '/Article/ImageUploadToAli?rd=' + rd,
                secureuri: false,
                fileElementId: fileElId,
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (result.BImage != "" && result.SImage != "") {
                        $("#" + showImg).attr("src", result.SImage).show();
                        $("#" + showUrl).val(result.BImage);
                    } else {
                        alert("上传失败！");
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            });
        }

        function Toolbar() {
            var url = "/HomePageConfigV2/SmallToolbar";
            // dialogOpen("新增首页", url, "edit");
            var dialog = $('#toobal');
            dialog.empty();
            dialog.html(dialog.load(url));
        }
</script>


