@using Tuhu.Component.Common.Extensions
@using Tuhu.Provisioning.Models

@{
    ViewBag.Title = "活动编辑";
    List<Tuhu.Provisioning.Controllers.ActivityV2Controller.ActivityContent> ContentList = ViewBag.ContentList;
    Tuhu.Provisioning.DataAccess.Entity.ActivityBuild activityBuild = ViewBag.ActivityBuild;
    var newId = 0;
}
<h2>活动编辑</h2>
<style>
    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: #0088cc;
        border: solid 1px #0088cc;
    }

    .button1 {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        font-family: "Microsoft Yahei";
        outline: none;
        cursor: pointer;
        background: #0088cc;
        border-color: #0088cc;
    }
</style>
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>
<div>
    <input type="button" class="button1" value="保 存" onclick="BtnClick()" />
</div>

<div style="margin-top:20px;">
    <table style="width:100%">
        <thead>
            <tr>
                <th>Image</th>
                <th>OrderBy</th>
                <th>BigImg</th>
                <th>Type</th>
                @*<th>Image</th>*@
                <th>PID|VID</th>
                <th>Link</th>
                <th>ActivityId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Contentitem in ContentList)
            {
                var pvid = "";
                if (!string.IsNullOrWhiteSpace(Contentitem.PID) && !string.IsNullOrWhiteSpace(Contentitem.VID))
                {
                    pvid = Contentitem.PID + "|" + Contentitem.VID;
                }
                else if (!string.IsNullOrWhiteSpace(Contentitem.PID) && string.IsNullOrWhiteSpace(Contentitem.VID))
                {
                    pvid = Contentitem.PID;
                }

                newId = newId + 1;
                <tr class="newTr">
                    <td>
                        <img style="width:100px;height:100px;" class="vwPicture" src="@Contentitem.SmallImage" />
                        <input type="hidden" class="image" value="@Contentitem.Image" />
                        <input type="hidden" class="smallImage" value="@Contentitem.SmallImage" />
                        <form method="post" action="" enctype="multipart/form-data">
                            <input style="width:150px;" type="file" id="@newId" name="@newId" onchange="UploadImg(this)" />
                        </form>
                    </td>
                    <td>@Contentitem.OrderBy</td>
                    <td>@Contentitem.BigImg</td>
                    <td>@Contentitem.Type</td>
                    @*<td>@Contentitem.Image</td>*@
                    @if (Contentitem.Type == 1 || Contentitem.Type == 0)
                    {
                        <td>
                            <input type="text" style="width:100px;" value="@pvid" />
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (Contentitem.Type == 2)
                    {
                        <td>
                            <input type="text" style="width:100%;" value="@Contentitem.LinkUrl" />
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (Contentitem.Type == 1 || Contentitem.Type == 0)
                    {
                        <td>
                            <input type="text" value="@Contentitem.ActivityId" />
                        </td>
                    }
                    else
                    {
                        <td>
                          
                        </td>
                    }
                </tr>
            }

        </tbody>
    </table>


</div>
<div>
    <em style="color:red">备注：</em><br />
    <em style="color:red">Type：0 （轮胎）,1 （车品），2 （链接），3 （图片）；</em><br />
    <em style="color:red">BigImg：0 （2张图）,1 （1张图），2 （3张图）；</em><br />
    <em style="color:red">OrderBy：从小到大，依次上传图片的顺序；</em><br />
</div>
<script>
    function BtnClick() {

        var dataArray = new Array();
        $('table >tbody> tr').each(function (i) {
            if (i >= 0) {
                var columns = $(this).children();
                var jsonData = { "PID": "", "VID": "", "SmallImage": "", "Image": "", "BigImg": "", "Type": "", "OrderBy": "", "LinkUrl": "","ActivityId":"" };
                var pvid ="";
                var strp=columns.eq(4).find("input[type='text']").val();
               
                if (strp!=""&&strp!=null) {
                 
                    pvid= strp.split("|");
                    jsonData.PID =pvid[0];
                    jsonData.VID =pvid[1];

                }else{
                    jsonData.PID ="";
                    jsonData.VID ="";
                }

                jsonData.SmallImage = columns.eq(0).find("input[class='smallImage']").val();
                jsonData.Image = columns.eq(0).find("input[class='image']").val();

                jsonData.BigImg = columns.eq(2).text();
                jsonData.Type = columns.eq(3).text();
                jsonData.OrderBy = columns.eq(1).text();

                if (columns.eq(5).find("input[type='text']").val() != undefined) {
                    jsonData.LinkUrl = columns.eq(5).find("input[type='text']").val();
                } else {
                    jsonData.LinkUrl = "";
                }
                
                if (columns.eq(6).find("input[type='text']").val() != undefined) {
                    jsonData.ActivityId=columns.eq(6).find("input[type='text']").val()
                }else{
                    jsonData.ActivityId="";
                }

                dataArray[i] = jsonData;
            }
        });

        var dataList = JSON.stringify(dataArray);
        console.log(dataList);
        $.ajax({
            type: "POST",
            url: "/Activity/UpdateActivity",
            data: {
                "Content": dataList,
                "id":@activityBuild.id,
            },
            success: function (result) {
                if (result) {
                    window.location.reload(true);
                }
                else {
                    alert("保存失败！");

                }
            },
            error: function (result) {
                alert("失败!")
            }
        });
    };

    function UploadImg(e) {
        var $e = $(e);
        var $ee = $e.parents(".newTr").find("td").eq(0).find("img");
        var $smallImage = $e.parents(".newTr").find("td").eq(0).find("input[class='smallImage']");
        var $image = $e.parents(".newTr").find("td").eq(0).find("input[class='image']");

        $.ajaxFileUpload({
            url: '/Article/AddArticleImg2',
            secureuri: false,
            fileElementId: $e.attr("id"),
            dataType: 'json',
            data: {},
            type: "post",
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $ee.attr("src", result.SImage);
                    $(".vwPicture").show();
                    $smallImage.val(result.SImage);
                    $image.val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            }
        });
    };
</script>
