@model List<Tuhu.Provisioning.DataAccess.Entity.RuntimeSwitch>
    @{
        ViewBag.Title = "RuntimeSwitch";
    }

    <h2>RuntimeSwitch</h2>
    <style>
        .ui-dialog {
            border-radius: 3px;
            padding: 0px;
            width: auto;
        }

        .ui-dialog-grid {
            width: 100%;
        }

        .ui-dialog-title {
            width: 75%;
            padding: 8px 15px 8px 15px;
        }

        .ui-dialog-close {
            top: 8px;
        }

        .ui-dialog-body {
            padding: 10px;
        }

        .ui-dialog-content {
            padding: 0;
        }

        .ui-dialog-footer {
            padding: 5px 10px 5px 5px;
            background: #ffffff;
            border-top: 1px solid #eee;
        }

            .ui-dialog-footer button {
                padding: 3px 15px;
                border-radius: 2px;
                box-shadow: 0 1px 1px rgba(0,0,0,.15);
                font-size: 12px;
            }

                .ui-dialog-footer button.ui-dialog-autofocus {
                    font-weight: 700;
                    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
                }

        .button1 {
            margin-top: 20px;
            padding: 5px 25px;
            border: none;
            color: #F0F0F0;
            font-size: 12px;
            font-family: "Microsoft Yahei";
            outline: none;
            cursor: pointer;
            background: #0088cc;
            border-color: #0088cc;
        }

        table{
            width:100%;
        }

        table th {
            color: white;
            padding: 6px 5px;
            text-align: left;
            background-color: #0088cc;
            border: solid 1px #0088cc;
        }
    </style>
    <link rel="stylesheet" href="/Scripts/artDialog6.0.4/css/ui-dialog.css" />
    <script src="~/Scripts/artDialog6.0.4/dist/dialog-min.js"></script>
    <script src="~/Scripts/artDialog6.0.4/dist/dialog-plus-min.js"></script>
    <input type="button" class="button1" id="Insert" value="添加" />
    <input type="button" class="button1" id="Refresh" value="刷新" />
    <div style="margin-top:20px;">
        <table>
            <thead>
                <tr>
                    <th>PKID</th>
                    <th>SwitchName</th>
                    <th>Value</th>
                    <th>Description</th>
                    <th>CreatedTime</th>
                    <th>UpdateTime</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.PKID</td>
                        <td>@item.SwitchName</td>
                        <td>@item.Value</td>
                        <td>@item.Description</td>
                        <td>@item.CreatedTime</td>
                        <td>@item.UpdatedTime</td>

                        <td>
                            <a href="javascript:;" onclick="Update(@item.PKID)">编辑</a>
                            <a href="javascript:;" onclick="Delete(@item.PKID)">删除</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <script>

        function Delete(id) {
            if (window.confirm("确定要删除吗？")) {
                $.ajax({
                    method: "POST",
                    url: "/RuntimeSwitch/Delete",
                    data: { "id": id },
                    dataType: "json"
                }).done(function (data) {

                }).fail(function (data) {
                })

                location.reload(true);
            }
        }

        function Update(id) {
            var dialgpResult = dialog({
                height:250,
                width: 300,
                fixed: true,
                title: "编辑",
                button: [
                {
                    value: "保存",
                    callback: function () {
                        var yanz = /^[0-9a-zA-Z]*$/g;
                        if (!$(".SwitchName").val()) {
                            $(".SwitchName").css("border", "1px solid red")
                            return false;
                        }
                        //if (yanz.test($(".Value").val())) {
                        $.ajax({
                            type: "POST",
                            url: "/RuntimeSwitch/Update",
                            data: {
                                "PKID": id,
                                "Value": $(".Value").val(),
                                "SwitchName": $(".SwitchName").val(),
                                "Description":$(".Description").val(),
                            },
                            success: function (result) {
                                if (result) {
                                    window.location.reload(true);
                                }
                                else {
                                    alert("保存失败！");
                                }
                            },
                            error: function (result) {
                                alert("失败!")
                            }
                        });
                    }
                },
                {
                    value: "关闭"
                }]
            });

            $.ajax({
                url: "/RuntimeSwitch/Add",
                data: { "PKID": id },
                type: "GET",
                success: function (result) {
                    dialgpResult.content(result);
                    dialgpResult.showModal();
                }
            });
        };


        $("#Insert").on("click", function () {
            var dialgpResult = dialog({
                height: 250,
                width: 300,
                fixed: true,
                title: "添加",
                button: [
                {
                    value: "保存",
                    callback: function () {
                        if (!$(".SwitchName").val()) {
                            $(".SwitchName").css("border", "1px solid red")
                            return false;
                        }
                        if (!$(".Value").val()) {
                            $(".Value").css("border", "1px solid red")
                            return false;
                        }

                        $.ajax({
                            type: "POST",
                            url: "/RuntimeSwitch/Insert",
                            data: {
                                "SwitchName": $(".SwitchName").val(),
                                "Value": $(".Value").val(),
                                "Description": $(".Description").val(),
                            },
                            success: function (result) {
                                if (result == 1) {
                                    window.location.reload(true);
                                }
                                else if (result == -1) {
                                    alert("SwitchName已经存在！");
                                } else {
                                    alert("保存失败！");
                                }
                            },
                            error: function (result) {
                                alert("失败!")
                            }
                        });
                    }
                },
                {
                    value: "关闭"
                }]
            });

            $.ajax({
                url: "/RuntimeSwitch/Add",
                data: {},
                type: "GET",
                success: function (result) {
                    dialgpResult.content(result);
                    dialgpResult.showModal();
                }
            });
        })

        $("#Refresh").on("click", function () {
            if (window.confirm("您确定要刷新缓存吗？")) {
                $.ajax({
                    type: "POST",
                    url: "/RuntimeSwitch/Refresh",
                    dataType: "json",
                    success: function (result) {
                        if (result) {
                            alert("刷新成功");
                        }
                        else {
                            alert("删除失败！");
                        }
                    },
                    error: function (result) {
                    }
                })
            }
        })
    </script>
