@{
    ViewBag.Title = "编辑分类配置";
    Layout = null;
}
@model Tuhu.Provisioning.DataAccess.Entity.Router.RouterLink

<link href="http://setting.tuhu.work/Scripts/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/Scripts/My97DatePicker/WdatePicker.js"></script>
<div class="modal-dialog">
    <div class="modal-content" style="width:800px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title">
                编辑链接关系配置
            </h4>
        </div>
        <div class="modal-body">
            <form id="form1" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 form-label">主链接名称：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="Discription" name="Discription" value="@Model.MainLink.Discription" readonly="readonly" />
                    </div>
                    <div class="col-sm-12">
                    </div>
                    <label class="col-sm-2 form-label">主链接内容:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Content" name="Content" value="@Model.MainLink.Content" readonly="readonly"/>
                    </div>
                    <div class="col-sm-12">
                    </div>
                    <label class="col-sm-2 form-label">参数:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="Para" name="Para" style="display: inline;">
                            @if(Model.RouterParameterList != null&& Model.Parameter!=null)
                            {
                                foreach (var item in Model.RouterParameterList)
                                {
                                    <option value="@item.PKID" @(Model.Parameter.PKID == item.PKID ? "selected=\"selected\"" : "")>@item.Discription-@item.Content</option>
                                }
                            }
                            @if(Model.RouterParameterList != null&& Model.Parameter==null)
                            {
                                foreach (var item in Model.RouterParameterList)
                                {
                                    <option value="@item.PKID" >@item.Discription-@item.Content</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-12">
                    </div>
                    <label class="col-sm-2 form-label">完整链接参考:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Link" name="Link"  readonly="readonly" />
                    </div>
                    <div class="col-sm-6">
                    </div>
                    @if (Model != null)
                    {
                      <input type="hidden" id="ID" name="ID" value="@Model.MainLink.PKID"/>
                    }
                </div>
            </form>
        </div>
        <div class="modal-footer">

            <button type="button" id="btnSave" name="btnSave" class="btn btn-primary">
                保 存
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
                取 消
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">


    $(function () {

        $('#Para').on('change', function () {
            var para = $("#Para").find('option:selected').text().split('-'); //#Para以-分隔
            $("#Link").val($('#Content').val() +"?" + para[1]);
        });

        $('#btnSave').on('click', function () {

            if ($("#Discription").val() === "") {
                alert("请填写参数名称");
                return;
            }

            if ($("#Content").val() === "") {
                alert("请填写参数内容");
                return;
            }

            if ($("#Para").val() === "") {
                alert("请选择参数");
                return;
            }


            var data = {};
            data.MainLinkId = $('#ID').val();
            data.ParameterId = $('#Para').val();
            $(this).attr("disabled", "disabled");
            $.ajax({
                url: '/RouterConfig/LinkSave',
                type: 'post',
                data: data,
                dataType:'json'
            }).done(function (result) {
                if (result === 1) {
                    alert('保存成功');
                    $('#edit').modal("hide");
                    location.reload();
                } else {
                    alert("该完整链接已存在，请重新选择");
                }
            });
        });

        if ($('#NoLinkUrl').val()) {
            $('#NoLinkUrl').val(decodeURIComponent($('#NoLinkUrl').val()));
        }
    });
</script>
