@model Tuhu.Provisioning.DataAccess.Entity.QiangGouModel
@{
    ViewBag.Title = "查看";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        border-spacing: 10px 50px;
    }
</style>
@section head{
<link href="~/Content/nfine/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/ProductVehicleType/css/bootstrap-datetimepicker.css" rel="stylesheet" />
}


<form class="form-inline" style="margin: 10px">
    <div class="form-group">
        <label for="ActivityID">活动ID</label>
        <input type="text" class="form-control" id="ActivityID" name="activityId" placeholder="活动id">
    </div>
    <button type="submit" class="btn btn-primary" id="Search">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
</form>
<p>
    <br />
</p>
<table class="table">
    <tr>
        <td width="6%">活动类型</td>
        <td>@(Model==null?"": Model != null&& Model.ActiveType==0 ? "限时抢购":Model !=null && Model.ActiveType==1? "天天秒杀": Model != null && Model.ActiveType == 3?"活动页秒杀":"全网活动")</td>
    </tr>
    <tr>
        <td>活动名称</td>
        <td>@(Model!=null?Model.ActivityName:" ")</td>
    </tr>
    <tr>
        <td>活动时间</td>
        <td>开始时间:@(Model!=null?Model.StartDateTime.ToString(" yyyy-MM-dd HH:mm"):"")&nbsp;-&nbsp;结束时间:@(Model!=null?Model.EndDateTime.ToString(" yyyy-MM-dd HH:mm"):"")</td>
    </tr>
    <tr>
        <td>会场限购</td>
        <td>@(Model!=null?Model.PlaceQuantity:null)</td>
    </tr>
    <tr>
        <td>是否新人首单专享</td>
        <td>@((Model==null || Model !=null && !Model.IsNewUserFirstOrder) ?"否":"是")</td>
    </tr>
    <tr>
        <td style="vertical-align: middle">产品</td>
        <td>
            <table class="table table-bordered table-striped">
                <tr>
                    <th width="15%">PID</th>
                    <th>排序</th>
                    <th>名称</th>
                    <th>原价</th>
                    <th>促销价</th>
                    <th>伪原价</th>
                    <th>每人限购</th>
                    <th>总限购</th>
                    <th>安装/付款方式</th>
                    <th>优惠券</th>
                    <th>渠道</th>
                    <th>是否加入会场限购</th>
                    <th>标签</th>
                    <th>显示</th>
                    <th>销售数量</th>
                </tr>

                @if (Model != null &&Model.Products!=null&&   Model.Products.Any())
                {
                foreach (var item in Model.Products)
                {
                <tr>
                    <td>@item.PID</td>
                    <td>@item.Position</td>
                    <td>@item.ProductName</td>
                    <td>@item.OriginalPrice</td>
                    <td>@item.Price</td>
                    <td>@item.FalseOriginalPrice</td>
                    <td>@item.MaxQuantity</td>
                    <td>@item.TotalQuantity</td>
                    <td>@(string.IsNullOrWhiteSpace(item.InstallAndPay) ? "不限" : @item.InstallAndPay == "PayOnline" ? "在线支付" : @item.InstallAndPay == "InstallAtShop" ? "到店安装" : "在线支付且到店安装")</td>
                    <td>@(item.IsUsePCode ? "使用" : "不使用")</td>
                    <td>@(item.Channel == "all" ? "全部" : item.Channel == "pc" ? "仅网站" : "仅APP")</td>
                    <td>@(item.IsJoinPlace ? "是" : "否")</td>
                    <td>@(string.IsNullOrWhiteSpace(item.Label) ? "无" : item.Label == "热卖" ? "热卖" : item.Label == "秒杀" ? "秒杀" : "限量")</td>
                    <td>@(item.IsShow ? "是" : "否")</td>
                    <td>@(item.SaleOutQuantity)</td>
                </tr>
                }
                }
            </table>
        </td>
    </tr>
</table>
<script type="text/javascript">

</script>
