@{
    ViewBag.Title = "全品类分类栏目";
    Layout = null;
}
@model List<Tuhu.Provisioning.DataAccess.Entity.ConfigHistory>

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add local styles, mostly for plugins css file -->
    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/multiple/multiple-select.css" rel="stylesheet" type="text/css" />
    <!-- Primary Inspinia style -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    <style type="text/css">
        .module {
            width: 100px;
            text-align: center;
            float: left;
            margin-left: 5px;
            margin-right: 5px;
            cursor: pointer;
        }
    </style>
</head>

<body class="fixed-sidebar">
<div id="wrapper" class="">
    <div style="">
        <nav class="navbar-default navbar-static-side" role="navigation" style="overflow-y:auto">
            <div class="sidebar-list">
                <ul class="nav" id="side-menu">
                    <li class="nav-header" style="padding-left: 50px">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" src="https://resource.tuhu.cn/Image/UserCenter/hu.png" width="48" height="48"/>
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                    </span> <span class="text-muted text-xs block">@(string.IsNullOrWhiteSpace(User.Identity.Name) ? "管理员" : User.Identity.Name)</span>
                                </span>
                            </a>

                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li role="presentation" class="active" >

                        <a href="/AllSort/Index">全品类分类栏目</a>

                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg" style="min-height: 949px;overflow-y:auto">
        <!-- Top Navbar -->
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <form role="search" class="navbar-form-custom" method="post" action="">
                        <div class="form-group">
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">您好 @Context.User.Identity.Name， 欢迎进入首页配置管理系统，祝您生活愉快！</span>
                        </li>
                        <li>
                            <a href="@ThBiz.Common.Configurations.YewuDomainConfig.YewuSite/Account/LogOff">
                                <i class="fa fa-sign-out"></i> 退出
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@ThBiz.Common.Configurations.YewuDomainConfig.YewuSite/Account/LogOn">
                                <i class="fa fa-sign-out"></i> 登录
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <span>开始时间：</span>
                <input type="text" class="Wdate" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd HH:mm:ss'})" name="StartDateTime" id="StartDateTime"  />
                <span>结束时间：</span>
                <input type="text" class="Wdate" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd HH:mm:ss'})" name="EndDateTime" id="EndDateTime" />
                <select id="logType" name="logType">
                    <option value="">请选择</option>
                    <option value="AllSort">导航栏配置</option>
                    <option value="SortTag">标签栏配置</option>
                    <option value="SortList">内容栏配置</option>
                </select>
                <a href="javascript:void(0)" id="btnSearch" name="btnSearch" class="btn btn-default btn-sm" style="width:130px;">查 询</a>
            </div>
   
        </div>
        <div class="ibox ibox-content">
            <table class="table table-bordered" style="text-align:center;">
                <thead>
                <tr>
                    <th>操 作</th>
                    <th>日 期</th>
                    <th>操作人</th>
                    <th>明 细</th>
                </tr>
                </thead>
                <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Operation</td>
                            <td>@item.ChangeDatetime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            <td>@item.Author</td>
                            <td>
                                <a href="javascript:void(0)" class="btn btn-danger btn-small " name="btnEdit" data-id="@item.PKID" style="width: 150px;" data-toggle="modal" data-target="#edit">查 看</a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    

        <div class="footer">
            <div class="pull-right">
            </div>
            <div>
                <strong>Copyright</strong> 途虎养车 &copy; @DateTime.Now.Year
            </div>
        </div>

    </div>

</div>
<div id="edit" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1">
</div>

<!-- End wrapper-->
<!-- Section for main scripts render -->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/plugins/slimScroll")
@Scripts.Render("~/bundles/inspinia")
@*<script src="~/Scripts/jquery-ui.1.10.4.min.js" type="text/javascript"></script>*@
<script src="~/Scripts/jquery-ui.1.12.1.min.js" type="text/javascript"></script>
<script src="/Scripts/ajaxfileupload.js" type="text/javascript"></script>
<script type='text/javascript' src="/Scripts/jquery.validate-1.8.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script src="~/Scripts/multiple/multiple-select.js" type="text/javascript"></script>
<!-- Skin config script - only for demo purpose-->
@*@Scripts.Render("~/bundles/skinConfig")*@

<!-- Handler for local scripts -->
</body>
</html>

<div id="toobal" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1">
</div>

<script type="text/javascript">

        $(function () {
            $('#btnSearch').on('click', function () {
                location.href = "/AllSort/Logger?startDateTime=" + $('#StartDateTime').val() + "&endDateTime=" + $('#EndDateTime').val() + "&type=" + $('#logType').val();
            });

            $('a[name="btnEdit"]').on('click', function () {
                var id = $(this).data("id");
                if (id) {
                    var url = "/HomePageConfigV2/HomePageLogerDeatil?id=" + id;
                    var dialog = $('#edit');
                    dialog.empty();
                    dialog.html(dialog.load(url));
                }
            });
        });
</script>
