@model Tuhu.Provisioning.Models.ActivityBoardEffectViewModel
@{
    ViewBag.Title = "活动效果";
    Layout = "~/Views/Shared/_Layout_ActivityBoard.cshtml";
}
<style>
    .table { text-align: center; }

        .table tr > th { text-align: center }
</style>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox-content m-b-sm border-bottom" style="padding-bottom:0">
        <div class="row">
            <div class="col-lg-10">
                <input class="moduleType" value="@ViewBag.ModuleType" type="hidden" />
                <input class="activityId" value="@ViewBag.ActivityId" type="hidden" />
                <div class="form-group col-sm-3">
                    <input type="text" class="form-control" name="StartTime" id="activity-startTime" value="@ViewBag.StartTime" onclick="WdatePicker({ dateFmt :'yyyy/MM/dd'})" placeholder="活动开始日期" />
                </div>
                <div class="form-group col-sm-3">
                    <input type="text" class="form-control" name="EndTime" id="activity-endTime" value="@ViewBag.EndTime" onclick="WdatePicker({ dateFmt :'yyyy/MM/dd'})" placeholder="活动结束日期" />
                </div>
                <div class="form-group activity-type" style="float:left;line-height:40px">
                    @if (ViewBag.Tires)
                    {
                        <input type="checkbox" data-key="Tires" name="activity_type" checked="checked" /><span>轮胎</span>
                    }
                    else
                    {
                        <input type="checkbox" data-key="Tires" name="activity_type" /><span>轮胎</span>
                    }
                    @if (ViewBag.BaoYang)
                    {
                        <input type="checkbox" data-key="BaoYang" name="activity_type" checked="checked" /><span>保养</span>
                    }
                    else
                    {
                        <input type="checkbox" data-key="BaoYang" name="activity_type" /><span>保养</span>
                    }
                    @if (ViewBag.ChePin)
                    {
                        <input type="checkbox" data-key="ChePin" name="activity_type" checked="checked" /><span>车品</span>
                    }
                    else
                    {
                        <input type="checkbox" data-key="ChePin" name="activity_type" /><span>车品</span>
                    }
                    @if (ViewBag.GaiZhuang)
                    {
                        <input type="checkbox" data-key="GaiZhuang" name="activity_type" checked="checked" /><span>美容改装</span>
                    }
                    else
                    {
                        <input type="checkbox" data-key="GaiZhuang" name="activity_type" /><span>美容改装</span>
                    }
                </div>
                <div class="form-group col-sm-2">
                    <button type="button" class="btn   btn-primary" data-toggle="modal" id="search" data-target="#myModal5">搜索</button>
                </div>
            </div>
            <div class="col-lg-2">
                <div style="float:right;">
                    <input type="button" onclick="Export()" value="导出数据" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <div class="ibox">
                <div class="ibox-content">
                    <span style="font-weight:bolder;font-size:medium;color:#c2bfbf">全平台</span>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>PV</th>
                                <th>UV</th>
                                <th>点击UV</th>
                                <th>下单UV</th>
                                <th>点击转换率</th>
                                <th>下单转换率</th>
                                <th>注册用户数</th>
                                <th>领券人数</th>
                                <th>订单总数</th>
                                <th>销售额</th>
                                <th>券后销售额</th>
                                <th>毛利率</th>
                                <th>券后毛利率</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.AllPlatforms != null)
                            {
                                var item = Model.AllPlatforms;
                                <tr>
                                    <td>总和</td>
                                    <td>@item.PV</td>
                                    <td>@item.UV</td>
                                    <td>@item.ClickUV</td>
                                    <td>@item.OrederUV</td>
                                    <td>@((item.ClickPercent * 100).ToString("f2"))%</td>
                                    <td>@((item.OrderPercent * 100).ToString("f2"))%</td>
                                    <td>@item.RegistrationNum</td>
                                    <td>@item.PromotionUV</td>
                                    <td>@item.Ordernum</td>
                                    <td>@(item.SalesAmount1_Tire + item.SalesAmount1_BY + item.SalesAmount1_CarProduct + item.SalesAmount1_Hubbeauty)</td>
                                    <td>@(item.SalesAmount2_Tire + item.SalesAmount2_BY + item.SalesAmount2_CarProduct + item.SalesAmount2_Hubbeauty)</td>
                                    <td>
                                        @{
                                            var sumAmount1 = item.SalesAmount1_Tire + item.SalesAmount1_BY + item.SalesAmount1_CarProduct + item.SalesAmount1_Hubbeauty;
                                            if (sumAmount1 == 0)
                                            {
                                                <span>0%</span>
                                            }
                                            else
                                            {
                                                <span>@(((sumAmount1 - (item.Cost_Tire + item.Cost_BY + item.Cost_CarProduct + item.Cost_Hubbeauty)) / sumAmount1 * 100).ToString("f2"))%</span>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @{
                                            var sumAmount2 = item.SalesAmount2_Tire + item.SalesAmount2_BY + item.SalesAmount2_CarProduct + item.SalesAmount2_Hubbeauty;
                                            if (sumAmount2 == 0)
                                            {
                                                <span>0%</span>
                                            }
                                            else
                                            {
                                                <span>@(((sumAmount2 - (item.Cost_Tire + item.Cost_BY + item.Cost_CarProduct + item.Cost_Hubbeauty)) / sumAmount2 * 100).ToString("f2"))%</span>
                                            }
                                        }
                                    </td>
                                </tr>
                                }
                                else
                                {
                                    <tr><td colspan="14">无</td></tr>
                                }
                        </tbody>
                    </table>
                </div>
                <div class="ibox-content">
                    <span style="font-weight:bolder;font-size:medium;color:#c2bfbf">手机端-IOS</span>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>时间</th>
                                <th>PV</th>
                                <th>UV</th>
                                <th>点击UV</th>
                                <th>下单UV</th>
                                <th>点击转换率</th>
                                <th>下单转换率</th>
                                <th>注册用户数</th>
                                <th>领券人数</th>
                                <th>订单总数</th>
                                <th>销售额</th>
                                <th>券后销售额</th>
                                <th>毛利率</th>
                                <th>券后毛利率</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.IOSPlatforms != null && Model.IOSPlatforms.Any())
                            {
                                var data = Model.IOSPlatforms;
                                foreach (var item in data)
                                {
                                    <tr>
                                        <td>@item.ClickTime_Varchar</td>
                                        <td>@item.PV</td>
                                        <td>@item.UV</td>
                                        <td>@item.ClickUV</td>
                                        <td>@(item.OrederUV + item.OrderUV_BY)</td>
                                        <td>@((item.ClickPercent * 100).ToString("f2"))%</td>
                                        <td>@(((item.OrderPercent + item.OrderPercent_BY) * 100).ToString("f2"))%</td>
                                        <td>@item.RegistrationNum</td>
                                        <td>@item.PromotionUV</td>
                                        <td>@(item.Ordernum + item.OrderNum_BY)</td>
                                        <td>@(item.SalesAmount1_Tire + item.SalesAmount1_BY + item.SalesAmount1_CarProduct + item.SalesAmount1_Hubbeauty)</td>
                                        <td>@(item.SalesAmount2_Tire + item.SalesAmount2_BY + item.SalesAmount2_CarProduct + item.SalesAmount2_Hubbeauty)</td>
                                        <td>@(((item.SalesPercent1_Tire + item.SalesPercent1_BY + item.SalesPercent1_CarProduct + item.SalesPercent1_Hubbeauty) * 100).ToString("f2"))%</td>
                                        <td>@(((item.SalesPercent2_Tire + item.SalesPercent2_BY + item.SalesPercent2_CarProduct + item.SalesPercent2_Hubbeauty) * 100).ToString("f2"))%</td>
                                    </tr>
                                }
                                <tr>
                                    <td>总和</td>
                                    <td>@data.Sum(x => x.PV)</td>
                                    <td>@data.Sum(x => x.UV)</td>
                                    <td>@data.Sum(x => x.ClickUV)</td>
                                    <td>@data.Sum(x => x.OrederUV + x.OrderUV_BY)</td>
                                    <td>@((data.Sum(x => x.UV) != 0 ? Convert.ToDecimal(data.Sum(x => x.ClickUV) * 1.00) / data.Sum(x => x.UV) * 100 : 0).ToString("f2"))%</td>
                                    <td>@((data.Sum(x => x.ClickUV) != 0 ? Convert.ToDecimal(data.Sum(x => x.OrederUV + x.OrderUV_BY) * 1.00) / data.Sum(x => x.ClickUV) * 100 : 0).ToString("f2"))%</td>
                                    <td>@data.Sum(x => x.RegistrationNum)</td>
                                    <td>@data.Sum(x => x.PromotionUV)</td>
                                    <td>@data.Sum(x => x.Ordernum + x.OrderNum_BY)</td>
                                    <td>@(data.Sum(x => x.SalesAmount1_Tire) + data.Sum(x => x.SalesAmount1_BY) + data.Sum(x => x.SalesAmount1_CarProduct) + data.Sum(x => x.SalesAmount1_Hubbeauty))</td>
                                    <td>@(data.Sum(x => x.SalesAmount2_Tire) + data.Sum(x => x.SalesAmount2_BY) + data.Sum(x => x.SalesAmount2_CarProduct) + data.Sum(x => x.SalesAmount2_Hubbeauty))</td>
                                    <td>
                                        @{
                                            var sumAmount1 = data.Sum(x => x.SalesAmount1_Tire) + data.Sum(x => x.SalesAmount1_BY) + data.Sum(x => x.SalesAmount1_CarProduct) + data.Sum(x => x.SalesAmount1_Hubbeauty);
                                            if (sumAmount1 == 0)
                                            {

                                            }
                                            else
                                            {
                                                <span>@(((sumAmount1 - (data.Sum(x => x.Cost_Tire) + data.Sum(x => x.Cost_BY) + data.Sum(x => x.Cost_CarProduct) + data.Sum(x => x.Cost_Hubbeauty))) / sumAmount1 * 100).ToString("f2"))%</span>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @{
                                            var sumAmount2 = data.Sum(x => x.SalesAmount2_Tire) + data.Sum(x => x.SalesAmount2_BY) + data.Sum(x => x.SalesAmount2_CarProduct) + data.Sum(x => x.SalesAmount2_Hubbeauty);
                                            if (sumAmount2 == 0)
                                            {

                                            }
                                            else
                                            {
                                                <span>@(((sumAmount2 - (data.Sum(x => x.Cost_Tire) + data.Sum(x => x.Cost_BY) + data.Sum(x => x.Cost_CarProduct) + data.Sum(x => x.Cost_Hubbeauty))) / sumAmount2 * 100).ToString("f2"))%</span>
                                            }

                                        }
                                    </td>
                                </tr>
                                            }
                                            else
                                            {
                                                <tr><td colspan="14">无</td></tr>
                                            }
                        </tbody>
                    </table>
                </div>
                <div class="ibox-content">
                    <span style="font-weight:bolder;font-size:medium;color:#c2bfbf">手机端-Android</span>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>时间</th>
                                <th>PV</th>
                                <th>UV</th>
                                <th>点击UV</th>
                                <th>下单UV</th>
                                <th>点击转换率</th>
                                <th>下单转换率</th>
                                <th>注册用户数</th>
                                <th>领券人数</th>
                                <th>订单总数</th>
                                <th>销售额</th>
                                <th>券后销售额</th>
                                <th>毛利率</th>
                                <th>券后毛利率</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.AndroidPlatforms != null && Model.AndroidPlatforms.Any())
                            {
                                var data = Model.AndroidPlatforms;
                                foreach (var item in data)
                                {
                                    <tr>
                                        <td>@item.ClickTime_Varchar</td>
                                        <td>@item.PV</td>
                                        <td>@item.UV</td>
                                        <td>@item.ClickUV</td>
                                        <td>@(item.OrederUV + item.OrderUV_BY)</td>
                                        <td>@((item.ClickPercent * 100).ToString("f2"))%</td>
                                        <td>@(((item.OrderPercent + item.OrderPercent_BY) * 100).ToString("f2"))%</td>
                                        <td>@item.RegistrationNum</td>
                                        <td>@item.PromotionUV</td>
                                        <td>@(item.Ordernum + item.OrderNum_BY)</td>
                                        <td>@(item.SalesAmount1_Tire + item.SalesAmount1_BY + item.SalesAmount1_CarProduct + item.SalesAmount1_Hubbeauty)</td>
                                        <td>@(item.SalesAmount2_Tire + item.SalesAmount2_BY + item.SalesAmount2_CarProduct + item.SalesAmount2_Hubbeauty)</td>
                                        <td>@(((item.SalesPercent1_Tire + item.SalesPercent1_BY + item.SalesPercent1_CarProduct + item.SalesPercent1_Hubbeauty) * 100).ToString("f2"))%</td>
                                        <td>@(((item.SalesPercent2_Tire + item.SalesPercent2_BY + item.SalesPercent2_CarProduct + item.SalesPercent2_Hubbeauty) * 100).ToString("f2"))%</td>
                                    </tr>
                                }
                                <tr>
                                    <td>总和</td>
                                    <td>@data.Sum(x => x.PV)</td>
                                    <td>@data.Sum(x => x.UV)</td>
                                    <td>@data.Sum(x => x.ClickUV)</td>
                                    <td>@data.Sum(x => x.OrederUV + x.OrderUV_BY)</td>
                                    <td>@((data.Sum(x => x.UV) != 0 ? Convert.ToDecimal(data.Sum(x => x.ClickUV) * 1.00) / data.Sum(x => x.UV) * 100 : 0).ToString("f2"))%</td>
                                    <td>@((data.Sum(x => x.ClickUV) != 0 ? Convert.ToDecimal(data.Sum(x => x.OrederUV + x.OrderUV_BY) * 1.00) / data.Sum(x => x.ClickUV) * 100 : 0).ToString("f2"))%</td>
                                    <td>@data.Sum(x => x.RegistrationNum)</td>
                                    <td>@data.Sum(x => x.PromotionUV)</td>
                                    <td>@data.Sum(x => x.Ordernum+x.OrderNum_BY)</td>
                                    <td>@(data.Sum(x => x.SalesAmount1_Tire) + data.Sum(x => x.SalesAmount1_BY) + data.Sum(x => x.SalesAmount1_CarProduct) + data.Sum(x => x.SalesAmount1_Hubbeauty))</td>
                                    <td>@(data.Sum(x => x.SalesAmount2_Tire) + data.Sum(x => x.SalesAmount2_BY) + data.Sum(x => x.SalesAmount2_CarProduct) + data.Sum(x => x.SalesAmount2_Hubbeauty))</td>
                                    <td>
                                        @{
                                            var sumAmount1 = data.Sum(x => x.SalesAmount1_Tire) + data.Sum(x => x.SalesAmount1_BY) + data.Sum(x => x.SalesAmount1_CarProduct) + data.Sum(x => x.SalesAmount1_Hubbeauty);
                                            if (sumAmount1 == 0)
                                            {

                                            }
                                            else
                                            {
                                                <span>@(((sumAmount1 - (data.Sum(x => x.Cost_Tire) + data.Sum(x => x.Cost_BY) + data.Sum(x => x.Cost_CarProduct) + data.Sum(x => x.Cost_Hubbeauty))) / sumAmount1 * 100).ToString("f2"))%</span>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @{
                                            var sumAmount2 = data.Sum(x => x.SalesAmount2_Tire) + data.Sum(x => x.SalesAmount2_BY) + data.Sum(x => x.SalesAmount2_CarProduct) + data.Sum(x => x.SalesAmount2_Hubbeauty);
                                            if (sumAmount2 == 0)
                                            {

                                            }
                                            else
                                            {
                                                <span>@(((sumAmount2 - (data.Sum(x => x.Cost_Tire) + data.Sum(x => x.Cost_BY) + data.Sum(x => x.Cost_CarProduct) + data.Sum(x => x.Cost_Hubbeauty))) / sumAmount2 * 100).ToString("f2"))%</span>
                                            }

                                        }
                                    </td>
                                </tr>
                                            }
                                            else
                                            {
                                                <tr><td colspan="14">无</td></tr>
                                            }
                        </tbody>
                    </table>
                </div>
                <div class="ibox-content">
                    <span style="font-weight:bolder;font-size:medium;color:#c2bfbf">网站端</span>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>时间</th>
                                <th>PV</th>
                                <th>UV</th>
                                <th>点击UV</th>
                                <th>下单UV</th>
                                <th>点击转换率</th>
                                <th>下单转换率</th>
                                <th>注册用户数</th>
                                <th>领券人数</th>
                                <th>订单总数</th>
                                <th>销售额</th>
                                <th>券后销售额</th>
                                <th>毛利率</th>
                                <th>券后毛利率</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.WebPlatforms != null && Model.WebPlatforms.Any())
                            {
                                var data = Model.WebPlatforms;
                                foreach (var item in data)
                                {
                                    <tr>
                                        <td>@item.ClickTime_Varchar</td>
                                        <td>@item.PV</td>
                                        <td>@item.UV</td>
                                        <td>@item.ClickUV</td>
                                        <td>@(item.OrederUV + item.OrderUV_BY)</td>
                                        <td>@((item.ClickPercent * 100).ToString("f2"))%</td>
                                        <td>@(((item.OrderPercent + item.OrderPercent_BY) * 100).ToString("f2"))%</td>
                                        <td>@item.RegistrationNum</td>
                                        <td>@item.PromotionUV</td>
                                        <td>@(item.Ordernum + item.OrderNum_BY)</td>
                                        <td>@(item.SalesAmount1_Tire + item.SalesAmount1_BY + item.SalesAmount1_CarProduct + item.SalesAmount1_Hubbeauty)</td>
                                        <td>@(item.SalesAmount2_Tire + item.SalesAmount2_BY + item.SalesAmount2_CarProduct + item.SalesAmount2_Hubbeauty)</td>
                                        <td>@(((item.SalesPercent1_Tire + item.SalesPercent1_BY + item.SalesPercent1_CarProduct + item.SalesPercent1_Hubbeauty) * 100).ToString("f2"))%</td>
                                        <td>@(((item.SalesPercent2_Tire + item.SalesPercent2_BY + item.SalesPercent2_CarProduct + item.SalesPercent2_Hubbeauty) * 100).ToString("f2"))%</td>
                                    </tr>
                                }
                                <tr>
                                    <td>总和</td>
                                    <td>@data.Sum(x => x.PV)</td>
                                    <td>@data.Sum(x => x.UV)</td>
                                    <td>@data.Sum(x => x.ClickUV)</td>
                                    <td>@data.Sum(x => x.OrederUV + x.OrderUV_BY)</td>
                                    <td>@((data.Sum(x => x.UV) != 0 ? Convert.ToDecimal(data.Sum(x => x.ClickUV) * 1.00) / data.Sum(x => x.UV) * 100 : 0).ToString("f2"))%</td>
                                    <td>@((data.Sum(x => x.ClickUV) != 0 ? Convert.ToDecimal(data.Sum(x => x.OrederUV + x.OrderUV_BY) * 1.00) / data.Sum(x => x.ClickUV) * 100 : 0).ToString("f2"))%</td>
                                    <td>@data.Sum(x => x.RegistrationNum)</td>
                                    <td>@data.Sum(x => x.PromotionUV)</td>
                                    <td>@data.Sum(x => x.Ordernum+x.OrderNum_BY)</td>
                                    <td>@(data.Sum(x => x.SalesAmount1_Tire) + data.Sum(x => x.SalesAmount1_BY) + data.Sum(x => x.SalesAmount1_CarProduct) + data.Sum(x => x.SalesAmount1_Hubbeauty))</td>
                                    <td>@(data.Sum(x => x.SalesAmount2_Tire) + data.Sum(x => x.SalesAmount2_BY) + data.Sum(x => x.SalesAmount2_CarProduct) + data.Sum(x => x.SalesAmount2_Hubbeauty))</td>
                                    <td>
                                        @{
                                            var sumAmount1 = data.Sum(x => x.SalesAmount1_Tire) + data.Sum(x => x.SalesAmount1_BY) + data.Sum(x => x.SalesAmount1_CarProduct) + data.Sum(x => x.SalesAmount1_Hubbeauty);
                                            if (sumAmount1 == 0)
                                            {

                                            }
                                            else
                                            {
                                                <span>@(((sumAmount1 - (data.Sum(x => x.Cost_Tire) + data.Sum(x => x.Cost_BY) + data.Sum(x => x.Cost_CarProduct) + data.Sum(x => x.Cost_Hubbeauty))) / sumAmount1 * 100).ToString("f2"))%</span>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @{
                                            var sumAmount2 = data.Sum(x => x.SalesAmount2_Tire) + data.Sum(x => x.SalesAmount2_BY) + data.Sum(x => x.SalesAmount2_CarProduct) + data.Sum(x => x.SalesAmount2_Hubbeauty);
                                            if (sumAmount2 == 0)
                                            {

                                            }
                                            else
                                            {
                                                <span>@(((sumAmount2 - (data.Sum(x => x.Cost_Tire) + data.Sum(x => x.Cost_BY) + data.Sum(x => x.Cost_CarProduct) + data.Sum(x => x.Cost_Hubbeauty))) / sumAmount2 * 100).ToString("f2"))%</span>
                                            }

                                        }
                                    </td>
                                </tr>
                                            }
                                            else
                                            {
                                                <tr><td colspan="14">无</td></tr>
                                            }
                        </tbody>
                    </table>
                </div>
                <div class="ibox-content">
                    <span style="font-weight:bolder;font-size:medium;color:#c2bfbf">移动站</span>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>时间</th>
                                <th>PV</th>
                                <th>UV</th>
                                <th>点击UV</th>
                                <th>下单UV</th>
                                <th>点击转换率</th>
                                <th>下单转换率</th>
                                <th>注册用户数</th>
                                <th>领券人数</th>
                                <th>订单总数</th>
                                <th>销售额</th>
                                <th>券后销售额</th>
                                <th>毛利率</th>
                                <th>券后毛利率</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.WeiXinPlatforms != null && Model.WeiXinPlatforms.Any())
                            {
                                var data = Model.WeiXinPlatforms;
                                foreach (var item in data)
                                {
                                    <tr>
                                        <td>@item.ClickTime_Varchar</td>
                                        <td>@item.PV</td>
                                        <td>@item.UV</td>
                                        <td>@item.ClickUV</td>
                                        <td>@(item.OrederUV + item.OrderUV_BY)</td>
                                        <td>@((item.ClickPercent * 100).ToString("f2"))%</td>
                                        <td>@(((item.OrderPercent + item.OrderPercent_BY) * 100).ToString("f2"))%</td>
                                        <td>@item.RegistrationNum</td>
                                        <td>@item.PromotionUV</td>
                                        <td>@(item.Ordernum + item.OrderNum_BY)</td>
                                        <td>@(item.SalesAmount1_Tire + item.SalesAmount1_BY + item.SalesAmount1_CarProduct + item.SalesAmount1_Hubbeauty)</td>
                                        <td>@(item.SalesAmount2_Tire + item.SalesAmount2_BY + item.SalesAmount2_CarProduct + item.SalesAmount2_Hubbeauty)</td>
                                        <td>@(((item.SalesPercent1_Tire + item.SalesPercent1_BY + item.SalesPercent1_CarProduct + item.SalesPercent1_Hubbeauty) * 100).ToString("f2"))%</td>
                                        <td>@(((item.SalesPercent2_Tire + item.SalesPercent2_BY + item.SalesPercent2_CarProduct + item.SalesPercent2_Hubbeauty) * 100).ToString("f2"))%</td>
                                    </tr>
                                }
                                <tr>
                                    <td>总和</td>
                                    <td>@data.Sum(x => x.PV)</td>
                                    <td>@data.Sum(x => x.UV)</td>
                                    <td>@data.Sum(x => x.ClickUV)</td>
                                    <td>@data.Sum(x => x.OrederUV + x.OrderUV_BY)</td>
                                    <td>@((data.Sum(x => x.UV) != 0 ? Convert.ToDecimal(data.Sum(x => x.ClickUV) * 1.00) / data.Sum(x => x.UV) * 100 : 0).ToString("f2"))%</td>
                                    <td>@((data.Sum(x => x.ClickUV) != 0 ? Convert.ToDecimal(data.Sum(x => x.OrederUV + x.OrderUV_BY) * 1.00) / data.Sum(x => x.ClickUV) * 100 : 0).ToString("f2"))%</td>
                                    <td>@data.Sum(x => x.RegistrationNum)</td>
                                    <td>@data.Sum(x => x.PromotionUV)</td>
                                    <td>@data.Sum(x => x.Ordernum+x.OrderNum_BY)</td>
                                    <td>@(data.Sum(x => x.SalesAmount1_Tire) + data.Sum(x => x.SalesAmount1_BY) + data.Sum(x => x.SalesAmount1_CarProduct) + data.Sum(x => x.SalesAmount1_Hubbeauty))</td>
                                    <td>@(data.Sum(x => x.SalesAmount2_Tire) + data.Sum(x => x.SalesAmount2_BY) + data.Sum(x => x.SalesAmount2_CarProduct) + data.Sum(x => x.SalesAmount2_Hubbeauty))</td>
                                    <td>
                                        @{
                                            var sumAmount1 = data.Sum(x => x.SalesAmount1_Tire) + data.Sum(x => x.SalesAmount1_BY) + data.Sum(x => x.SalesAmount1_CarProduct) + data.Sum(x => x.SalesAmount1_Hubbeauty);
                                            if (sumAmount1 == 0)
                                            {

                                            }
                                            else
                                            {
                                                <span>@(((sumAmount1 - (data.Sum(x => x.Cost_Tire) + data.Sum(x => x.Cost_BY) + data.Sum(x => x.Cost_CarProduct) + data.Sum(x => x.Cost_Hubbeauty))) / sumAmount1 * 100).ToString("f2"))%</span>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @{
                                            var sumAmount2 = data.Sum(x => x.SalesAmount2_Tire) + data.Sum(x => x.SalesAmount2_BY) + data.Sum(x => x.SalesAmount2_CarProduct) + data.Sum(x => x.SalesAmount2_Hubbeauty);
                                            if (sumAmount2 == 0)
                                            {

                                            }
                                            else
                                            {
                                                <span>@(((sumAmount2 - (data.Sum(x => x.Cost_Tire) + data.Sum(x => x.Cost_BY) + data.Sum(x => x.Cost_CarProduct) + data.Sum(x => x.Cost_Hubbeauty))) / sumAmount2 * 100).ToString("f2"))%</span>
                                            }

                                        }
                                    </td>
                                </tr>
                                            }
                                            else
                                            {
                                                <tr><td colspan="14">无</td></tr>
                                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $("#search").on("click", function () {
            var startTime = $("#activity-startTime").val();
            var endTime = $("#activity-endTime").val();
            var activityType = GetActivityType();
            location.href = "/ActivityBoard/ActivityEffect?start=" + startTime + "&end=" + endTime + "&typeStr=" + activityType + "&moduleType=" + $(".moduleType").val() + "&activityId=" + $(".activityId").val();
        });

        function Export() {
            var startTime = $("#activity-startTime").val();
            var endTime = $("#activity-endTime").val();
            var activityType = GetActivityType();
            if (confirm("是否要导出这些记录？")) {
                location.href = "/ActivityBoard/ExportActivityEffect?start=" + startTime + "&end=" + endTime + "&typeStr=" + activityType + "&moduleType=" + $(".moduleType").val() + "&activityId=" + $(".activityId").val();
            } else {
                return;
            }
        }
    </script>

}