@using Tuhu.Provisioning.DataAccess.Entity;
@using Tuhu.Provisioning.Controllers;
@model Tuhu.Provisioning.DataAccess.Entity.tal_newappsetdata_v2
@{
    Layout = null;
    ViewBag.Title = "编辑大模块";
}

@using (Html.BeginForm("SaveBigModule", "HomePageConfig", FormMethod.Post, new {@id =Model.id }))
{
    <input id="id" name="id" type="hidden" value="@Model.id" />
    @Html.HiddenFor(m => m.isparent, new { @name = "isparent" });

    <table style="background:#ffffff;font-size:12px;width:100%;">
        <tr>
            <td align="right">模块名称：</td>
            <td>@Html.TextBoxFor(m => m.modelname, new { @name = "modelname" })</td>
        </tr>
        <tr>
            <td align="right">渠道：</td>
            <td>@Html.DropDownListFor(m => m.apptype, HomePageConfigController.GetAppTypeListItem())</td>
        </tr>
        <tr style="display:none;">
            <td align="right">模块区域：</td>
            <td>
                @Html.DropDownListFor(m => m.areatype, HomePageConfigController.GetAreaTypeListItem())
            </td>
        </tr>
        <tr>
            <td align="right">版本：</td>
            <td>@Html.TextBoxFor(m => m.version, new { @name = "version" })</td>
        </tr>
        <tr>
            <td align="right">显示顺序：</td>
            <td>@Html.TextBoxFor(m => m.showorder, new { @name = "showorder" })</td>
        </tr>
        <tr>
            <td align="right">是否启用该模块：</td>
            <td>
                @Html.RadioButtonFor(m => m.showstatic, 1, new { @name = "showstatic", @checked = true }) 是
                @Html.RadioButtonFor(m => m.showstatic, 0, new { @name = "showstatic" }) 否
            </td>
        </tr>
        <tr>
            <td align="right">是否开启更多城市：</td>
            <td>
                @Html.RadioButtonFor(m => m.isothercity, true, new { @name = "isothercity" }) 是
                @Html.RadioButtonFor(m => m.isothercity, false, new { @name = "isothercity" }) 否
            </td>
        </tr>
        <tr>
            <td align="right">是否开启更多产品：</td>
            <td>
                @Html.RadioButtonFor(m => m.isproduct, true, new { @name = "isproduct" }) 是
                @Html.RadioButtonFor(m => m.isproduct, false, new { @name = "isproduct" }) 否
            </td>
        </tr>
        <tr>
            <td align="right"></td>
            <td>
                <input type="submit" value="保存" />
            </td>
        </tr>
    </table>
}