@using Tuhu.Provisioning.Models
@using Tuhu.Provisioning.DataAccess.Entity
@using Newtonsoft.Json
@model Tuhu.Component.Common.Models.ListModel<BeautyHomePageConfig>
@{
    Layout = null;
    int type = Model.ToList().FirstOrDefault().Type;
}

<div>
    <table style="width:100%;margin-top:20px;">
        <thead>
            <tr>
                <th>Id</th>
                <th>排序</th>

                @if (type == 1)
                {
                    <th> <label>模块名称</label></th>
                }
                else if (type == 2)
                {
                    <th> <label>活动名称</label></th>
                    <th> <label>选择的活动</label></th>

                }
                <th>渠道</th>
                <th>开始版本</th>
                <th>结束版本</th>
                <th>是否启用</th>
                <th>启用城市</th>

                @if (type == 1)
                {
                    <th>项目Icon</th>
                }
                else if (type == 2)
                {
                    <th> <label>活动Banner1</label></th>
                    <th> <label>活动Banner2</label></th>
                }

                <th>管理</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Sort</td>
                    @if (item.Type == 1)
                    {
                        <td>@item.Name</td>
                    }
                    else if (item.Type == 2)
                    {
                        <td>@item.Name</td>
                        <td>@item.ActivityName</td>
                    }

                    <td>@item.Channel</td>
                    <td>@item.StartVersion</td>
                    <td>@item.EndVersion</td>
                    <td>@(item.Status ? "是" : "否")</td>
                    <td>@(item.IsRegion ? "是" : "否")</td>
                    @if (item.Type == 1)
                    {
                        <td><img style="height:40px" src="@item.Icon" /></td>
                    }
                    else if (item.Type == 2)
                    {
                        <td><img style="height:40px" src="@item.Icon" /></td>
                        <td><img style="height:40px" src="@item.Banner" /></td>
                    }

                    <td>
                        <a href="javascript:;" onclick="Update(@item.Id)">编辑</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @Html.Pager(Model.Pager, pageIndex => Url.RouteUrl(new { pageIndex }))
</div>
<div id="AddItem"></div>

<script>

</script>
