@using Tuhu.Provisioning.DataAccess.Entity
@{
    Layout = null;
    //获取数据集合
    var CategoryModelList = ViewBag.CategoryModelList as IList<ArticleCategory>;
    //获取数据总数
    var count = CategoryModelList.Count();
}
<style>
    #TbCategory tr {
        text-align: center;
    }

        #TbCategory tr input {
            text-align: center;
        }

    .Operation {
        margin-top: 20px;
        text-align: center;
    }
</style>
<table style="background:#ffffff;font-size:12px; table-layout:fixed; margin-left:60px;" id="TbCategory">
    <tbody>
        <tr>
            <td>类目名称 </td>
            <td>颜色<input type="button" value="新增" style="margin-left:20px;" id="AddRow" /></td>
            <td style="display:none;">Sort</td>
            <td style="display:none;">ID</td>
        </tr>
        @if (CategoryModelList != null && CategoryModelList.Count > 0)
        {
            var num = 0;
            foreach (var item in CategoryModelList)
            {
                num++;
                <tr>
                    @if (item.CategoryName == "我喜欢的" || item.CategoryName == "我评论的" || item.CategoryName == "热门" || item.CategoryName == "精选")
                    {
                        <td><input disabled="disabled" id="CategoryName@(num)" type="text" value="@item.CategoryName" /></td>
                        <td><input type='text' value="@item.Color" /></td>
                    }
                    else
                    {
                        <td><input id="CategoryName@(num)" type="text" value="@item.CategoryName" /></td>
                        <td><input type='text' value="@item.Color" /></td>
                    }
                    <td style="display:none;"><input id="Sort@(num)" type="text" value="@item.Sort" /></td>
                    <td style="display:none;"><input id="id@(num)" type="text" value="@item.id" /></td>
                </tr>
            }
        }
    </tbody>
</table>

<script type="text/javascript">
    //定义模型类
    var CategoryModel =function(){
        this.id=0;
        this.CategoryName = "";//类目名称
        this.Sort = 0;
        this.Color="";
    }
    var num = @count;
    //只允许添加一行
    var astrictNum= @count;
    //动态添加行
    $('#AddRow').click(function () {
        num++;
        if(num - astrictNum <= 1)
        {
            var TemplateHtml = "<tr>";
            TemplateHtml += "<td><input id='CategoryName" + num + "' type='text' value='' /></td><td><input type='text' value='' /></td>";
            TemplateHtml += "<td style='display:none;'><input id='Sort" + num + "' type='text' value='"+ num +"' /></td>";
            TemplateHtml += "<td style='display:none;'><input id='id" + num + "' type='text' value='' /></td>";
            TemplateHtml += "</tr>";
            $("#TbCategory").append(TemplateHtml);
        }
    });

    function GetTableData(){
        var tableArr = new Array();//存所有数据
        $("#TbCategory tr:not(:first)").each(function(i){ //遍历除标题行外所有行
            var model = new CategoryModel();
            $(this).find("td").each(function(j){
                if(j == 0)
                {
                    model.CategoryName = $(this).find("input[type='text']").val();
                }
                else if(j == 2)
                {
                    model.Sort = parseInt($(this).find("input[type='text']").val());
                }
                else if(j == 3)
                {
                    if($(this).find("input[type='text']").val()!="")
                        model.id = parseInt($(this).find("input[type='text']").val());
                    else
                        model.id = 0;
                }else if (j==1) {
                    model.Color = $(this).find("input[type='text']").val();
                }
            });
            tableArr[i] = model;
        });
        return tableArr;
    }
</script>