@using Tuhu.Provisioning.DataAccess.Entity;
@model IEnumerable<DepartmentAndUseModel>
    @{
        ViewBag.Title = "优惠券部门及使用用途编辑";
    }

    <h2>优惠券使用部门及用途编辑</h2>
    @section head{
        <link href="~/Styles/zTreeStyle.css" type="text/css" rel="stylesheet" />
        <link href="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
        <style>
            table {
                width: 100%;
                margin-bottom: 20px;
            }

                table th {
                    text-align: center;
                }

                table .tableTit th {
                    background-color: #435D77;
                }

            .tip {
                color: red;
                font-size: 14px;
                font-weight: bolder;
            }

            .button {
                width: 50px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                margin-top: 20px;
                background: rgb(135, 182, 217);
                cursor: pointer;
            }

            td div {
                margin-bottom: 10px;
            }
        </style>
    }
    <body>
        <fieldset style="width:600px; color:Menu.black">
            <div>
                <ul>
                    @if (Model != null)
                    {
                        int i = 0;
                        foreach (DepartmentAndUseModel item in Model)
                        {
                            i++;
                            <li style="width:500px;">
                                <a href="#" onclick="DisableAction('@("subItem"+i)')" style="float:left">↑↓</a>
                                <div>
                                    @item.DisplayName
                                    <a href="#" style="float:right" onclick="HistoryRecord(@item.SettingId,'CouponDepartmentAndUse')">日志</a>
                                    <a href="#" style="float:right" onclick="Delete(@item.SettingId)">删除|</a>
                                    <a href="#" style="float:right" onclick="AddOrEditCouponDepartUseSetting(@item.SettingId,0,0)">编辑|</a>
                                    <a href="#" style="float:right" onclick="AddOrEditCouponDepartUseSetting(0,@item.SettingId,1)">新增用途|</a>
                                </div>
                                <ul id="@("subItem"+i)" hidden="hidden">
                                    @if (item.SunItems != null)
                                    {
                                        foreach (var item1 in item.SunItems)
                                        {
                                            <li>
                                                <div>
                                                    @item1.DisplayName
                                                    <a href="#" style="float:right" onclick="HistoryRecord(@item1.SettingId,'CouponDepartmentAndUse')">日志</a>
                                                    <a href="#" style="float:right" onclick="Delete(@item1.SettingId)">删除|</a>
                                                    <a href="#" style="float:right" onclick="AddOrEditCouponDepartUseSetting(@item1.SettingId,@item.SettingId,1)">编辑|</a>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                            <hr />
                        }
                    }
                </ul>
                <a href="#" onclick="AddOrEditCouponDepartUseSetting(0,0,0)">新增部门</a>
            </div>
        </fieldset>


    </body>
    <div id="AddGetRule"></div>
    <div id="HistoryDisplay"></div>
    @section scripts{

        <script src="~/Scripts/jquery.ztree.all-3.5.min.js"></script>
        <script src="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.js"></script>
        <script src="~/Scripts/ajaxfileupload.js"></script>
        <script src="~/Scripts/Promotion/FormatJson.js?v=20180223"></script>
        <script>
            function AddOrEditCouponDepartUseSetting(pkid, parentId, type) {
                $("#AddGetRule").load('/Promotion/AddCouponDepartUseSetting?settingId=' + pkid + '&type=' + type + '&parentId=' + parentId);
                $("#AddGetRule").dialog({
                    title: "优惠券使用部门及用途编辑",
                    width: 500,
                    height: 'auto',
                    modal: true,
                    buttons: {
                        "保存": function () {
                            $(".button").click();
                        },
                        "关闭": function () {
                            $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                        }
                    }
                });
            }
            //日志
            function HistoryRecord(activeID, type) {
                $("#HistoryDisplay").load('/Promotion/HistoryActions?objectId=' + activeID + '&objectType=' + type);
                $("#HistoryDisplay").dialog({
                    title: "操作历史",
                    width: 600,
                    height: 680,
                    modal: true,
                    buttons: {
                        "关闭": function () {
                            $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                        }
                    }
                });
            }
        </script>
        <script>
            function Delete(pkid) {
                if (!confirm("确定要删除？")) {
                    return;
                }
                $.ajax({
                    type: "post",
                    url: "/Promotion/DeleteCouponDepartUseSetting",
                    data: { settingId: pkid },
                    dataType: "json",
                    success: function (data) {
                        if (data) {
                            alert("删除成功");
                        }
                        else {
                            alert("删除失败");
                        }
                        window.location.reload();
                    }
                });
            }

        </script>
        <script>
            function DisableAction(id) {
                var temp = document.getElementById(id).getAttribute("hidden");
                if (!temp) {
                    document.getElementById(id).setAttribute("hidden", "hidden");

                }
                else {
                    document.getElementById(id).removeAttribute("hidden");
                }
            }
        </script>
    }

