@using Tuhu.Provisioning.DataAccess.Entity;
@{
    ViewBag.Title = "Job 返券配置";
    Layout = "../Shared/_Layout.cshtml";
    IEnumerable<JobCouponConfigModel> _JobCouponConfigData = (IEnumerable<JobCouponConfigModel>)ViewBag.JobCouponConfigData ?? null;
}

<style type="text/css">
    input[type=button], input[type=submit] {
        background: #0088cc none repeat scroll 0 0;
        border: medium none #0088cc;
        border-radius: 5px;
        color: #f0f0f0;
        cursor: pointer;
        font-family: "Microsoft Yahei";
        font-size: 12px;
        outline: medium none;
        padding: 5px 25px;
    }

    table th{
        color: white;
        padding: 6px 5px;
        text-align: center;
        background-color: #0088cc;
        border: solid 1px #0088cc;
    }

    table td {
    text-align:center;
    }

    .faqlist {
         width: 100%;
         margin:10px;
     }
</style>

<table align="center;" class="faqlist">
    <thead>
        <tr>
            <th width="5%;">返券活动</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th width="15%"><input type="button" value="添加新配置项" onclick="JobCouponConfig.Manage.EditConfig(0);" style="background:#fff;color:#333;" /></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>序号</td>
            <td>名称</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        @{
            if (_JobCouponConfigData != null)
            {
                var index = 0;
                foreach (var item in _JobCouponConfigData)
                {
                    <text>
                    <tr id="@item.ID">
                        <td>@(++index)</td>
                        <td>@item.ActivityName</td>
                        <td>@(item.State ?  Html.Raw("<span style='color:green;'>启用</span>") : Html.Raw("<span style='color:red;'>禁用</span>") ) </td>
                        <td><input type="button" value="编辑" onclick="JobCouponConfig.Manage.EditConfig(@(item.ID));" /></td>
                    </tr>
                    </text>
                }
            }
            else
            {
                <text>
                <tr>
                    <td colspan="4" align="center">暂无数据</td>
                </tr>
                </text>
            }
        }
    </tbody>
</table>

<div id="ShowDialog"></div>

<script type="text/javascript">
    var JobCouponConfig = {};

    JobCouponConfig.Manage = {
        LoadConfig: function (id) {
            $("#ShowDialog").html("").load('/JobCouponConfig/AddOrEdit?id=' + id || 0);
        },
        ShowConfig: function () {
            $("#ShowDialog").dialog({
                title: "返券规则配置",
                width: 1000,
                height: 800,
                modal: true
            });
        },
        EditConfig: function (id) {
            this.LoadConfig(id);
            this.ShowConfig();
        }
    }
</script>