@{
    ViewBag.Title = "活动看板";
    Layout = "~/Views/Shared/_Layout_ActivityBoard.cshtml";
}
<style>
    #wrap { width: 100%; height: 100%; margin: 0 auto; }
    #external-events { float: left; width: 150px; padding: 10px 10px 0; border: 1px solid #ccc; background: #eee; text-align: left; }

        #external-events input[type="text"] { margin-bottom: 5px; }

        #external-events h4 { font-size: 16px; margin-top: 0; padding-top: 1em; }

        #external-events .fc-event { background-color: #337ab7; margin: 10px 0; padding: 4px 2px; cursor: move; }

        #external-events p { margin: 1.5em 0; font-size: 11px; color: #666; }

            #external-events p input { margin: 0; vertical-align: middle; }

    #calendar { width: 100%; height: 100%; }

    .modal-editar-evento .btn-group ul li span { float: left; height: 10px; margin: 5px 0 0 2px; width: 10px; }

    .fc-day-grid-event > .fc-content { padding: 4px 2px; }

    .paddingTop { padding-top: 5% }
</style>



<div id='wrap'>
    <div style="line-height:40px;">
        <div style="float:left;margin-top:10px;" class="col-sm-4">
            @if (ViewBag.ZongHe)
            {
                <input type="checkbox" data-key="ZongHe" name="activity_type" checked="checked" />
            }
            else
            {
                <input type="checkbox" data-key="ZongHe" name="activity_type" />
            }
            <span style="background-color:#e74c3c;color:white;font-weight:200">综合</span>
            @if (ViewBag.Tires)
            {
                <input type="checkbox" data-key="Tires" name="activity_type" checked="checked" />
            }
            else
            {
                <input type="checkbox" data-key="Tires" name="activity_type" />
            }
            <span style="background-color:#f1c40f;color:white;font-weight:200">轮胎</span>
            @if (ViewBag.BaoYang)
            {
                <input type="checkbox" data-key="BaoYang" name="activity_type" checked="checked" />
            }
            else
            {
                <input type="checkbox" data-key="BaoYang" name="activity_type" />
            }
            <span style="background-color:#8e44ad;color:white;font-weight:200">保养</span>
            @if (ViewBag.ChePin)
            {
                <input type="checkbox" data-key="ChePin" name="activity_type" checked="checked" />
            }
            else
            {
                <input type="checkbox" data-key="ChePin" name="activity_type" />
            }
            <span style="background-color:#3498db;color:white;font-weight:200;">车品</span>
            @if (ViewBag.GaiZhuang)
            {
                <input type="checkbox" data-key="GaiZhuang" name="activity_type" checked="checked" />
            }
            else
            {
                <input type="checkbox" data-key="GaiZhuang" name="activity_type" />
            }
            <span style="background-color:#2ecc71;color:white;font-weight:200">美容改装</span>
            @if (ViewBag.Outside)
            {
                <input type="checkbox" data-key="Outside" name="activity_type" checked="checked" />
            }
            else
            {
                <input type="checkbox" data-key="Outside" name="activity_type" />
            }
            <span style="background-color:#1abc9c;color:white;font-weight:200">外部投放</span>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4">
                <input type="text" class="form-control" id="activity-title" value="@ViewBag.Name" style="margin-top:10px" placeholder="活动名称" />
            </div>
            <div class="col-sm-2" style="display:@(ViewBag.ModuleType == "TuhuActivity"?"":"none")">
                <input type="text" class="form-control" id="activity-createdUser" value="@ViewBag.CreatedUser" style="margin-top:10px;display:@(ViewBag.ModuleType == "TuhuActivity"?"":"none")" placeholder="创建人" />
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="activity-owner" value="@ViewBag.Owner" style="margin-top:10px" placeholder="负责人" />
            </div>
            @if (ViewBag.ModuleType == "ThirdPartyActivity")
            {
                <div class="col-sm-2" style="margin-top:8px">
                    <select style="padding:6px 12px;background-color: #FFFFFF;background-image: none;border: 1px solid #e5e6e7;border-radius: 1px;color: inherit;" id="channel">
                      @Html.Partial("ThirdPartyChannel")
                    </select>
                </div>
            }
            <div class="form-group col-sm-3" style="margin-top:5px">
                <button type="button" class="btn  btn-primary search" data-toggle="modal" data-target="#myModal5">搜索</button>
                <button type="button" class="btn  btn-primary qiehuan" data-toggle="modal" data-key="@ViewBag.ModuleType" data-target="#myModal5">切换</button>
            </div>
        </div>
    </div>
    <div id='calendar' style="display:inline-block"></div>
    <input class="moduleType" value="@ViewBag.ModuleType" type="hidden" />
    <input class="IsViewEffect" value="@ViewBag.IsViewEffect" type="hidden" />
    <div class="modal-content" style="display:none">
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">类型</label>
                    <div class="col-sm-10">
                        <div class="btn-group pull-left">
                            <button type="button" class="btn btn-default activity-type">请选择</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                            </button>
                            @Html.Partial("ActivityType")
                        </div>
                        <label class="col-sm-3 control-label">负责人</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="activity-principal" placeholder="tuhu@tuhu.cn" />
                        </div>
                    </div>
                </div>
                @if (ViewBag.ModuleType == "TuhuActivity")
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">创建人</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="activity-createdUser" placeholder="tuhu@tuhu.cn" />
                        </div>
                    </div>
                }
                else if (ViewBag.ModuleType == "ThirdPartyActivity")
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">渠道</label>
                        <div class="col-sm-10">
                            <select style="padding:6px 12px;background-color: #FFFFFF;background-image: none;border: 1px solid #e5e6e7;border-radius: 1px;color: inherit;" id="activity-channel">
                                @Html.Partial("ThirdPartyChannel")
                            </select>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label class="col-sm-2 control-label">活动名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="activity-name" placeholder="活动名称" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">开始日期</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="activity-startTime" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd HH:mm:ss'})" placeholder="开始日期" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">结束日期</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="activity-endTime" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd HH:mm:ss'})" placeholder="结束日期" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><a href="#" class="gotoUrl">手机链接</a></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="activity-h5Url" placeholder="手机链接" /><input type="button" value="跳转到此页面" class="gotoUrl" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><a href="#" class="gotoUrl">网站链接</a></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="activity-webUrl" placeholder="网站链接" /><input type="button" value="跳转到此页面" class="gotoUrl" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">活动规则</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="activity-rules" style="width:100%;resize:vertical" rows="15" placeholder="活动规则"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
             $("#channel").val("@ViewBag.Channel");
            InitFullCalendar();
            $(".fc-right .fc-button-group").hide()
            $(".fc-left .fc-button-group").on("click", function () {
                $("input[name='activity_type']").each(function () {
                    var key = $(this).attr("data-key");
                    if ($(this).prop("checked")) {
                        $("." + key + "-class").show();
                    } else {
                        $("." + key + "-class").hide();
                    }
                });
            });
        });
        $(".qiehuan").click(function () {
            var type = $(this).attr("data-key");
            if (type == "TuhuActivity") {
                location.href = "/ActivityBoard/CycleCountActivity";
            } else if (type == "ThirdPartyActivity") {
                location.href = "/ActivityBoard/ThirdPartActivity";
            }
        });

        $(".search").on("click", function () {
            reload();
        });

        function reload() {
            var title = $("#activity-title").val();
            var createdUser = $("#activity-createdUser").val();
            var owner = $("#activity-owner").val();
            var channel = $("#channel").val();
            location.href = "/ActivityBoard/Index?title=" + title + "&createdUser=" + createdUser + "&owner=" + owner + "&activityBoardType=" + $(".moduleType").val() + "&typeStr=" + GetActivityType() + "&channel=" + channel;
        }
    </script>
}
