@using Tuhu.Provisioning.DataAccess.Entity;
@using Tuhu.Component.Common.Models;
@using Tuhu.Provisioning.Models
@model ListModel<ExchangeCodeDetail>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        #tb tr th {
            text-align: center;
        }

        #tb tr td {
            text-align: center;
        }

        .head {
            margin-top: 20px;
            float: left;
            font-size: 22px;
            font-weight: 900;
        }
    </style>
</head>
<body>
    <div id="mydiv">
        <div style="height:80px">
            <span class="head">途虎优惠券信息统计列表|<a href="/Promotion/SelectGiftBag">返回</a></span>
        </div>
        <table id="tb" style="width:100%;">
            <tr>
                <th>发放渠道</th>
                <th>发放时间</th>
                <th>发放总数量</th>
                <th>已兑换</th>
                <th>已使用</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Channels</td>
                    <td>@item.CreateTime</td>
                    <td>@item.CreateNumber</td>
                    <td>@item.YiDuiHuan</td>
                    <td>@item.YiShiYong</td>
                </tr>
            }

            @*@Html.Pager(ViewBag.pager, pageNumber => System.Security.Policy.Url.RouteUrl(new { pageNumber }))*@

        </table>
        <div id="page">@Html.Pager(Model.Pager, pageIndex => Url.RouteUrl(new { pageIndex }))</div>
    </div>
</body>
</html>
