@{
    ViewBag.Title = "编辑配置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Tuhu.Provisioning.DataAccess.Entity.ProductInfo
<script src="~/Content/ProductVehicleType/js/angular.min.js"></script>
<script src="~/Content/ProductVehicleType/js/tm.pagination.js"></script>
<script src="~/Content/ProductVehicleType/js/underscore.js"></script>
<link href="~/Content/ProductVehicleType/css/detail.css" type="text/css" rel="stylesheet" />
<link href="~/Content/ProductVehicleType/css/bootstrap.v3.css" type="text/css" rel="stylesheet" />
@*
    <script src="~/Content/ProductVehicleType/js/bootstrap.min.js"></script>*@
<link href="~/Content/ProductVehicleType/css/showLoading.css" type="text/css" rel="stylesheet" />
<style type="text/css">
    #filter {
        width: 620px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
    }

        #filter dl {
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
            clear: both;
            padding: 4px 0;
        }

        #filter dt, dd {
            display: block;
            float: left;
            width: auto;
            padding: 0;
            margin: 3px 0;
        }

        #filter dt {
            height: 14px;
            padding-bottom: 4px;
            font-weight: bold;
            color: #333333;
        }

        #filter dd {
            color: #005AA0;
            margin-right: 8px;
        }

        #filter a {
            cursor: pointer;
        }

    .seling {
        background-color: gray; /*#005AA0;*/
        color: #FFFFFF;
    }

    .seled {
        background-color: #005AA0;
        color: #FFFFFF;
    }
</style>
<div class="container" ng-app="NodeApp" style="margin-bottom: 400px">
    <div class="row">
        <div class="span3"></div>
        <div class="span9" style="float:right;text-align:center;margin-top:20px;"><h4>@Model.DisplayName / @Model.ProductCode</h4></div>
        <input type="hidden" value="@Model.VehicleLevel" id="hiddenLevel" />
        <input type="hidden" value="@ViewBag.Pid" id="hiddenPid" />
    </div>
    <div class="row">
        <div class="span3" style="float:left;">
            <ul class="nav nav-pills nav-stacked" style="margin-top:20px">
                <li><a href="/ProductVehicleType/Detail/@ViewBag.Pid">产品通用信息</a></li>
                <li class="active"><a href="/ProductVehicleType/Edit/@ViewBag.Pid">编辑产品车型数据</a></li>
                <li><a href="/ProductVehicleType/FileInportExport/@ViewBag.Pid">导入导出车型数据</a></li>
                <li><a href="/ProductVehicleType/Copy/@ViewBag.Pid">批量复制车型配置</a></li>
                <li><a href="/ProductVehicleType/ProductLog/@ViewBag.Pid">查看产品操作日志</a></li>
            </ul>
        </div>
        <div class="span8" style="float:right" ng-controller="ProductVehicleTypeController">
            @*这部分加载分布视图*@
            <div data-ng-init="load()"></div>
            <div id="filter">
                <div>
                    <h3>
                        筛选条件
                        @*&nbsp; &nbsp;<button type="button" class="btn btn-primary" id="CheckAll">一键选择所有车型</button>
                        <button type="button" class="btn btn-primary" id="CancerAll">一键取消选择所有车型</button>*@
                    </h3>

                </div>
                <dl>
                    <dt>品牌系列：</dt>
                    <dd><div><input type="checkbox" id="checkAllBrand" />全部</div></dd>
                    @foreach (var brandCategory in ViewBag.BrandCategory)
                    {
                        <dd><div><input type="checkbox" />@brandCategory</div></dd>
                    }
                    <dd><div><input type="checkbox" />其他</div></dd>
                </dl>
                <dl>
                    <dt>价格范围：</dt>
                    <dd><div><input type="checkbox" id="checkAllPrice" />全部</div></dd>
                    <dd><div><input type="checkbox" />高端车（23万以上）</div></dd>
                    <dd><div><input type="checkbox" />中端车（12-23万）</div></dd>
                    <dd><div><input type="checkbox" />低端车（12万以下）</div></dd>
                </dl>
                <dl>
                    <dt>车型范围：</dt>
                    <dd><div><input type="checkbox" id="checkAllVehicle" />全部</div></dd>
                    @foreach (var vehicleType in ViewBag.VehicleType)
                    {
                        <dd><div><input type="checkbox" />@vehicleType</div></dd>
                    }
                    <dd><div><input type="checkbox" />其他</div></dd>
                </dl>
                <dl>
                    <dt>品牌车型：</dt>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>A</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>B</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>C</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>D</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>E</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>F</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>G</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>H</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>I</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>J</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>K</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>L</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>M</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>N</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>O</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>P</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>Q</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>R</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>S</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>T</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>U</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>V</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>W</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>X</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>Y</a></div></dd>
                    <dd><div style="font-size:larger;margin-left:10px;"><a>Z</a></div></dd>
                </dl>
            </div>

            <div class="search-result" style="margin-top:60px">
                <div id="divNoResult" class="search-no hidden">您好，此产品不需要配置车型数据，谢谢！</div>
                <div id="divNoSearchResult" class="search-no hidden">您好，未查到相关车型数据，请重新筛选！</div>
                <div class="search-list" ng-repeat="item in apiInfoList">
                    <ul class="car-menu">
                        <li>
                            <div class="car-item">
                                <i class="triangle-icon" ng-click="showNext($event.target)"></i>
                                @*<i class="triangle-icon triangle-icon-dowm"></i>*@
                                <div class="car-type">
                                    <label><input type="checkbox" id="level1" name="{{item.id}}" ng-checked="{{item.check}}" ng-click="checkNext($event.target)" /></label>

                                    <span>{{item.name}}</span>
                                </div>
                            </div>
                            <div class="car-item-sub">
                                <ul ng-repeat="subitem in item.children">
                                    <li>
                                        <div class="car-item">
                                            @*<i class="triangle-icon triangle-icon-dowm"></i>*@
                                            <i class="triangle-icon" ng-click="showNext($event.target)"></i>
                                            <div class="car-type">
                                                <label><input type="checkbox" id="level2" name="{{subitem.id}}" ng-checked="{{subitem.check}}" ng-click="checkNext($event.target)" /></label>
                                                <span>{{subitem.name}}</span>
                                            </div>
                                        </div>
                                        <div class="car-item-sub">
                                            <ul ng-repeat="subitem2 in subitem.children">
                                                <li>
                                                    <div class="car-item">
                                                        <i class="triangle-icon" ng-click="showNext($event.target)"></i>
                                                        <div class="car-type">
                                                            <label><input type="checkbox" id="level3" name="{{subitem2.id}}" ng-checked="{{subitem2.check}}" ng-click="checkNext($event.target)" /></label>

                                                            <span>{{subitem2.name}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="car-item-sub">
                                                        <ul ng-repeat="subitem3 in subitem2.children">
                                                            <li>
                                                                <div class="car-item">
                                                                    <i class="triangle-icon" ng-click="showNext($event.target)"></i>
                                                                    <div class="car-type">
                                                                        <label><input type="checkbox" id="level4" name="{{subitem3.id}}" ng-checked="{{subitem3.check}}" ng-click="checkNext($event.target)" /></label>

                                                                        <span>{{subitem3.name}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="car-item-sub">
                                                                    <ul ng-repeat="subitem4 in subitem3.children">
                                                                        <li>
                                                                            <div class="car-type">
                                                                                <label><input type="checkbox" id="level5" name="{{subitem4.id}}" ng-checked="{{subitem4.check}}" ng-click="checkNext($event.target)"></label>
                                                                                <span>{{subitem4.name}}</span>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row" ng-show="showTable">
                <button class="btn btn-info" id="btnCancel">取消修改</button>
                <button class="btn btn-success" id="btnSave" style="margin-left:50px">保存修改</button>
            </div>
        </div>
    </div>

</div>

<script src="~/Content/ProductVehicleType/js/Edit.js" type="text/javascript"></script>
<script src="~/Content/ProductVehicleType/js/jquery.showLoading.min.js" type="text/javascript"></script>
