@{
    ViewBag.Title = "分享赚钱配置列表";
    Layout = "~/Views/Shared/_PersonalCenterLeft.cshtml";
    return;
}

@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.SE_ShareMakeMoneyConfig>
<div style="text-align:right">
    <input type="button" id="btnAdd" name="btnAdd" value="添 加" style="width: 200px; height: 27px; margin: 10px 0;" />
</div>
<table width="100%">
    <thead>
        <tr>
            <th>
                名称
            </th>
            <th>
                每天首次奖励额度
            </th>
            <th>
                赢得奖励时间
            </th>
            <th>
                创建人
            </th>
            <th>
                更新人
            </th>
            <th>
                创建时间
            </th>
            <th>
                更新时间
            </th>
            <th>
                操 作
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        @item.FirstShareNumber
                    </td>
                    <td>
                        @item.RewardDateTime
                    </td>
                    <td>
                        @item.CreateUserName
                    </td>
                    <td>
                        @item.UpdateUserName
                    </td>
                    <td>
                        @(string.Format("{0:yyyy-MM-dd HH:mm:ss}" ,item.CreateDate))
                    </td>
                    <td>
                        @(string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.UpdateDate))
                    </td>
                    <td>
                        <input type="button" class="btnEdit"  data-id="@item.ID" value="编 辑" />


                        <input type="button"  class="btnDelete" data-id="@item.ID" value="删 除"/>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script type="text/javascript">
    $('.btnEdit').on('click',function () {
        var id = $(this).data("id");
        console.log(id);
        if (id) {
            location.href = "/ShareMakeMoney/Index?id=" + id
        }
    });
  
    $('#btnAdd').on('click', function () {
        location.href = "/ShareMakeMoney/Index?id=" + 0;
    });

    $('.btnDelete').on('click', function () {
        if (confirm("您确定删除吗？")) {
            $.ajax({
                url: '/ShareMakeMoney/Delete',
                type: 'post',
                data: { id: $(this).data("id") }
            }).done(function (result) {
                if (result == 1)
                    location.reload();
                else
                    alert("删除失败");
            });
        }
       
    });


</script>