@model Tuhu.Provisioning.DataAccess.Entity.ShareActivityProductConfig
@{
    Layout = null;
}

<style>
    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    a {
        color: cornflowerblue;
    }
</style>
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>

<form action="/ShareActivityProductConfig/Edit" method="post" onsubmit="return check();">
    <input type="hidden" value="@Model.Id" name="Id" />
    <div>
        <table>
            <tr>
                <td>产品Id</td>
                <td>
                    <input type="text" value="@Model.ProductId" id="ProductId" name="ProductId" required="required" />
                </td>
            </tr>
            <tr>
                <td>产品名称</td>
                <td>
                    <input type="text" value="@Model.ProductName" id="ProductName" name="ProductName" />
                </td>
            </tr>
            <tr>
                <td>状态</td>
                <td>
                    @Html.RadioButtonFor(m => m.Status, true) 启用
                    @Html.RadioButtonFor(m => m.Status, false) 禁用
                </td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" value="保存" onclick="Save()" class="btn" /></td>
            </tr>
        </table>
    </div>
</form>
<script>
    function UploadImg(e) {
        var $e = $(e);
        var $ee = $e.parents("tr").find("td").eq(1).find("img");
        var $smallImage = $e.parents("tr").find("td").eq(1).find("input[class='smallImage']");
        var $image = $e.parents("tr").find("td").eq(1).find("input[class='image']");
        $.ajaxFileUpload({
            url: '/Article/AddArticleImg2',
            secureuri: false,
            fileElementId: $e.attr("id"),
            dataType: 'json',
            data: {},
            type: "post",
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $ee.attr("src", result.SImage);
                    $(".vwPicture").show();
                    $smallImage.val(result.SImage);
                    $image.val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            }
        })
    }

    function check() {
        if (allowSave == false) {
            allowSave = true;
            return false;
        }
    }
    var allowSave = true;
    $("#ProductId").blur(function () {
        allowSave = true;
        $.ajax({
            type: "post",
            url: "/OrderAreaProduct/GetProductById/?pid=" + $("#ProductId").val(),
            success: function (data) {
                if (data == -1) {
                    allowSave = false;
                    $("#ProductName").val("");
                    alert("产品ID不存在");
                    return;
                } else {
                    var jsonObj = $.parseJSON(data);
                    $("#ProductName").val(jsonObj[0].displayname);
                }
            }
        });
    })
</script>