@{
    ViewBag.Title = "Edit";
    Layout = null;
}
@model Tuhu.Provisioning.DataAccess.Entity.SE_FlagshipStoreConfig

<form id="FlagshipForm" method="post" action="/FlagshipStoreConfig/Save">
    <table width="100%">
        <tr>
            <td> 品 牌: </td>
            <td>
                <select class="easyui-combobox" id="Brand" name="Brand" data-options="width:300">
                    @if (!string.IsNullOrWhiteSpace(Model.Brand))
                    {
                        <option value="@Model.Brand">@Model.Brand</option>
                    }
                    else if (ViewBag.BrandList != null)
                    {
                        System.Data.DataTable dt = (System.Data.DataTable)ViewBag.BrandList;
                        foreach (System.Data.DataRow row in dt.Rows)
                        {
                            <option value="@row["CP_Brand"].ToString()">@row["CP_Brand"].ToString()</option>
                        }
                    }
                </select>

            </td>
        </tr>
        <tr>
            <td>
                名 称:
            </td>
            <td>
                <input class="easyui-textbox" id="Name" name="Name" type="text" data-options="width:300,required:true" value="@Model.Name"/>
            </td>
        </tr>
        <tr>
            <td>品牌图片:</td>
            <td>
                <img id="img1"  width="48" height="48" @(string.IsNullOrWhiteSpace(Model.ImageUrl)==true?"":"src="+Model.ImageUrl)/>
                <input type="file" id="uploadFile1" name="uploadFile1" onchange="Upload(this, 'img1', 'ImageUrl')" />
                <input type="hidden" id="ImageUrl" name="ImageUrl" value="@Model.ImageUrl.Trim()" />
            </td>
        </tr>
        <tr>
            <td>
                描 述:
            </td>
            <td>
                <input class="easyui-textbox" id="Describe" type="text" name="Describe" data-options="multiline:true,height:100,width:300" value="@Model.Describe" />
            </td>
        </tr>
        <tr>
            <td> 链 接: </td>
            <td>
                <input class="easyui-textbox" id="Uri" name="Uri" data-options="width:300,required:true,validType:['url','length[0,100]']" value="@Model.Uri" />
            </td>
        </tr>
        <tr>
            <td>分享参数:</td>
            <td>
                <input class="easyui-textbox" id="Remark" name="Remark" data-options="multiline:true,height:100,width:300" value="@Model.Remark" />
            </td>
        </tr>
    </table>
    <input type="hidden" id="PKID" name="PKID" value="@Model.PKID" />
</form>
