@using Newtonsoft.Json;
@using Tuhu.Service.Member.Models
@model Tuhu.Provisioning.DataAccess.Entity.ExchangeCenterConfig
@{
    Layout = null;
}
<style type="text/css">
    .select {
        width: 200px;
        height: 30px;
    }
    .input {width:200px; height:28px;}
    .td-title {
        text-align: right;
        width: 100px;
    }
    .td-chance-hid, .td-pid-hid, .td-coupon-price-hid,.td-hd-image-hid {
        display: none;
    }
</style>
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>
<div class="modal-dialog">
    <form action="/ExchangeCenterConfig/Edit" method="post">
        <input type="hidden" value="@Model.Id" name="Id" />
        <input type="hidden" value="@Model.CouponEndTime" id="CouponEndTime" name="CouponEndTime" />
        <input type="hidden" value="@Model.CouponDuration" id="CouponDuration" name="CouponDuration" />
        <input type="hidden" value="@Model.CouponId" id="CouponId" name="CouponId" />
        <input type="hidden" value="@Model.Quantity" id="Quantity" name="Quantity" />
        <input type="hidden" value="@Model.GetQuantity" id="GetQuantity" name="GetQuantity" />
       
        <div>
            <table style="width:100%">
                <tr>
                    <td class="td-title">配置位置</td>
                    <td>
                        <select class="select" id="PostionCode" name="PostionCode" onchange="PostionCodeChange()">
                            @foreach (var pd in ViewBag.PostionData as Dictionary<string, string>)
                            {
                                var strSelect = "";
                                if (pd.Key == Model.PostionCode)
                                {
                                    strSelect = "selected=\"selected\"";
                                }
                                <option @strSelect value="@pd.Key">@pd.Value</option>
                            }
                        </select>
                    </td>
                    <td class="td-title">会员等级</td>
                    <td>
                        <select class="select" id="UserRank" name="UserRank">
                            @foreach (var grade in ViewBag.MemberGrade as List<MembershipsGradeResponse>)
                            {
                                var strSelect = "";
                                if (grade.GradeCode == Model.UserRank)
                                {
                                    strSelect = "selected=\"selected\"";
                                }
                                <option @strSelect value="@grade.GradeCode">@grade.GradeName</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="td-title">优惠券GUID</td>
                    <td>
                        <input class="input" type="text" value="@Model.GetRuleGUID" required="required" name="GetRuleGUID" id="GetRuleGUID" />
                    </td>
                    <td class="td-title">优惠券名称</td>
                    <td>
                        <input class="input" type="text" value="@Model.CouponName" name="CouponName" maxlength="7" placeholder="限7字以内" id="CouponName" />
                    </td>
                </tr>
                <tr>
                    <td class="td-title">发放优惠券总量</td>
                    <td>
                        <input class="input" type="text" value="@Model.CouponSum" data-oldValue="@Model.CouponSum" onchange="CouponSumChange(this)" name="CouponSum" placeholder="仅限输入非负整数" onkeyup="value=value.replace(/[^\?\d.]/g,'')" />
                    </td>
                    <td class="td-title">优惠券剩余量</td>
                    <td>
                        <input class="input" type="text" value="@Model.CouponSurplus" readonly="readonly" name="CouponSurplus" />
                    </td>
                </tr>
                <tr>
                    <td class="td-title">兑换截至时间</td>
                    <td>
                        <input class="input" type="date" value="@(Model.EndTime.ToString("yyyy-MM-dd"))" id="EndTime" name="EndTime" />
                    </td>
                    <td class="td-title">兑换周期（天）</td>
                    <td>
                        <input class="input" type="text" value="@Model.Period" name="Period" placeholder="限非负数" onkeyup="value=value.replace(/[^\?\d.]/g,'')" />
                    </td>
                </tr>
                <tr>
                    <td class="td-title">兑换积分</td>
                    <td>
                        <input class="input" type="text" value="@Model.PointsValue" name="PointsValue" placeholder="仅限输入非负整数" onkeyup="value=value.replace(/[^\?\d.]/g,'')" />
                    </td>
                    <td class="td-title td-coupon-price">兑换金额</td>
                    <td class="td-coupon-price">
                        <input class="input" type="text" value="@Model.EndCouponPrice" name="EndCouponPrice" placeholder="限非负数" onkeyup="value=value.replace(/[^\?\d.]/g,'')" />
                    </td>
                    <td class="td-coupon-price-hid"></td>
                    <td class="td-coupon-price-hid"></td>
                </tr>
                <tr>
                    <td class="td-title">排序</td>
                    <td>
                        <input class="input" type="text" value="@Model.Sort" placeholder="仅限输入非负整数" name="Sort" onkeyup="value=value.replace(/[^\?\d.]/g,'')" />
                    </td>
                    <td class="td-title td-pid">产品PID:</td>
                    <td class="td-pid">
                        <input class="input" type="text" value="@Model.PID" name="PID" id="PID" />
                    </td>
                    <td class="td-pid-hid"></td>
                    <td class="td-pid-hid"></td>
                </tr>
                <tr>
                    <td class="td-title">图片</td>
                    <td colspan="3">
                        <input class="input" type="hidden" name="Image" class="image" value="@Model.Image" />
                        <table style="border:0;width:100%">
                            <tr style="border:0px;">
                                <td style="border:0px;width:100px;">
                                    <img height="40" class="vwPicture" src="@Model.Image" name="Image" />
                                </td>
                                <td style="border:0px;">
                                    <form method="post" action="" enctype="multipart/form-data">
                                        <input style="width:150px;" type="file" onchange="UploadImg(this)" id="2" name="2" />
                                    </form>
                                </td>
                                <td style="border:0px;">
                                    <span>图片要求：png/jpg, 1065*570</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="td-hd-image-hid">
                    <td class="td-title">高清图片</td>
                    <td colspan="3">
                        <input class="input" type="hidden" name="HDImage" class="image" value="@Model.HDImage" />
                        <table style="border:0;width:100%">
                            <tr style="border:0px;">
                                <td style="border:0px;width:100px;">
                                    <img height="40" class="vwPicture" src="@Model.HDImage" name="HDImage" />
                                </td>
                                <td style="border:0px;">
                                    <form method="post" action="" enctype="multipart/form-data">
                                        <input style="width:150px;" type="file" onchange="UploadImg(this)" id="3" name="3" />
                                    </form>
                                </td>
                                <td style="border:0px;">
                                    <span>图片要求：白底,png/jpg，270*270</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="td-title">说明标题</td>
                    <td colspan="3">
                        <input class="input" style="width:550px;" value="@Model.DescriptionTitle" name="DescriptionTitle" />
                    </td>
                </tr>
                <tr>
                    <td class="td-title">兑换说明</td>
                    <td colspan="3">
                        <textarea class="content" name="Description" style="width:550px;">@Model.Description</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="td-title">状态</td>
                    <td>
                        @Html.RadioButtonFor(m => m.Status, true) 启用
                        @Html.RadioButtonFor(m => m.Status, false) 禁用
                    </td>
                    <td class="td-chance-hid"></td>
                    <td class="td-chance-hid"></td>
                    <td class="td-title td-chance">中奖的概率</td>
                    <td class="td-chance">
                        <input class="input" type="text" name="Chance" value="@Model.Chance" onkeyup="value=value.replace(/[^\?\d.]/g,'')" />
                    </td>

                </tr>
                <tr style="display:none;">
                    <td class="td-title">上线版本</td>
                    <td>
                        <input class="input" type="text" value="@Model.StartVersion" id="StartVersion" name="StartVersion" />
                    </td>
                    <td class="td-title">下线版本</td>
                    <td>
                        <input class="input" type="text" value="@Model.EndVersion" id="EndVersion" name="EndVersion" />
                    </td>
                </tr>
            </table>
            <input type="button" value="保存" onclick="SaveModel()" class="btn" style="margin-left:620px;" />
        </div>
    </form>
</div>
<script>

    function PostionCodeChange() {
        var postionCode = $.trim($('#PostionCode').val());
        switch (postionCode) {
            //换好物
            case '2':
                $('td.td-coupon-price').show();
                $('td.td-pid').show();
                $('td.td-chance-hid').show();
                $('tr.td-hd-image-hid').show();

                $('td.td-coupon-price-hid').hide();
                $('td.td-chance').hide();
                $('td.td-pid-hid').hide();

                $('input[name="Chance"]').val('');
                break;
            //拼手气
            case '3':
                $('td.td-coupon-price-hid').show();
                $('td.td-chance').show();
                $('td.td-pid').show();
                $('tr.td-hd-image-hid').show();

                $('td.td-coupon-price').hide();
                $('td.td-chance-hid').hide();
                $('td.td-pid-hid').hide();
                $("input[name=EndCouponPrice]").val('');
                break;
            //兑神券
            case '4':
                $('td.td-coupon-price').hide();
                $('td.td-pid').hide();
                $('td.td-chance').hide();
                $('tr.td-hd-image-hid').hide();
                $('img[name="HDImage"]').attr('src', '');

                $("input[name=EndCouponPrice]").val('');
                $('input[name="PID"]').val('');
                $('input[name="Chance"]').val('');

                $('td.td-coupon-price-hid').show();
                $('td.td-pid-hid').show();
                $('td.td-chance-hid').show();
                break;
            default:
                break;
        }
    }
    function CouponSumChange() {
       
        var oldValue = $("input[name='CouponSum']").attr('data-oldValue');
        var newValue = $("input[name='CouponSum']").val();
        var oldCouponSurplus = $("input[name='CouponSurplus']").val();
        if (!oldValue || oldValue <= 0) {
            oldValue = 0;
        }
        if (!newValue || newValue <= 0) {
            newValue = 0;
        }
        if (!oldCouponSurplus || oldCouponSurplus <= 0) {
            oldCouponSurplus = 0;
        }
        console.log('oldValue:' + oldValue);
        console.log('newValue:' + newValue);
        var newCouponSurplue = parseInt(newValue) - parseInt(oldValue) + parseInt(oldCouponSurplus) ;
        newCouponSurplue = newCouponSurplue <= 0 ? 0 : newCouponSurplue;
        $("input[name='CouponSum']").attr('data-oldValue', newValue);
        $("input[name='CouponSurplus']").val(newCouponSurplue);
    }
    //获取数据
    function GetData() {
        var model = {};
        model.PostionCode = $.trim($('#PostionCode').val());
        model.UserRank = $('#UserRank').val();
        model.Id = $("input[name='Id']").val();
        //优惠券总量
        model.CouponSum = $("input[name='CouponSum']").val();
        model.CouponSurplus = $("input[name='CouponSurplus']").val();
        model.EndTime = $("input[name='EndTime']").val();
        //兑换周期（天）
        model.Period = $("input[name='Period']").val();
        model.PointsValue = $("input[name='PointsValue']").val();
        model.EndCouponPrice = $("input[name=EndCouponPrice]").val();
        model.PID = $('input[name="PID"]').val();
        model.Sort = $("input[name='Sort']").val();
        model.Image = $("img[name='Image']").attr('src');//.val();
        model.HDImage = $('img[name="HDImage"]').attr('src');
        model.DescriptionTitle = $('input[name="DescriptionTitle"]').val();
        model.Description = $("textarea[name='Description']").val();
        model.Chance = $('input[name="Chance"]').val();
        model.Status = $("input[name='Status']:checked").val();
        model.EndVersion = "";// $.trim($("input[name='EndVersion']").val());
        model.StartVersion = "";//$.trim($("input[name='StartVersion']").val());

        //优惠券相关信息
        model.CouponEndTime = $("input[name='CouponEndTime']").val();
        model.CouponDuration = $("input[name='CouponDuration']").val();
        model.CouponId = $("input[name='CouponId']").val();
        model.GetRuleGUID = $("input[name='GetRuleGUID']").val();
        model.CouponName = $("input[name='CouponName']").val();
        model.Quantity = $('#Quantity').val();
        return model;
    }

    //验证数据
    function ValidateData() {
        var model = GetData();
        if (!model) {
            alert('未能获取数据内容');
            return false;
        }
        if (model.GetRuleGUID == '') {
            alert('优惠券ID不能为空');
            return false;
        }
        if (model.CouponName == '') {
            alert('优惠券名称不能为空');
            return false;
        }
        if (model.CouponName.length>7) {
            alert('优惠券名称不能7个字符');
            return false;
        }
        //if (model.CouponSum > model.Quantity) {
        //    alert('发放优惠券总量不能超过优惠券限制总量');
        //    return false;
        //}
        if (model.CouponSum == '') {
            alert('优惠券总量不能为空');
            return false;
        }

        if (model.EndTime == '') {
            alert('兑换截止时间不能为空');
            return false;
        }

        if (model.PointsValue == '') {
            alert('兑换积分不能为空');
            return false;
        }

        if (model.Sort == '') {
            alert('排序不能为空');
            return false;
        }
       

        if ($('td.td-chance').is(':visible') && model.Chance == '') {
            alert('中奖概率不能为空');
            return false;
        }
        if ($('td.td-chance').is(':visible') && model.Chance<0) {
            alert('中奖概率不能小于0');
            return false;
        }
        if ($('td.td-chance').is(':visible') && model.Chance>100) {
            alert('中奖概率不能大于100');
            return false;
        }
        return true;
    }

    function SaveModel() {
        var validateResult = ValidateData();
        if (!validateResult) {
            return;
        }

        var model = GetData();
        $.ajax({
            type: "POST",
            url: "/ExchangeCenterConfig/Edit",
            data: model ,
            dataType: "JSON",
            success: function (result) {
                if (!result) {
                    alert('操作失败');
                }
                if (model.Id > 0) {
                    var pageIndex = $("#hid-page-index").val();
                    ExchangeCenterConfig.Search(pageIndex);
                } else {
                    ExchangeCenterConfig.Search(1);
                }
                ExchangeCenterConfig.CloseUpdate();
            },
            error: function (result) {
            }
        });
    }

    function UploadImg(e) {
        var $e = $(e);
        var $ee = $e.closest('table').parents("tr").find("td").eq(1).find("img");
      //  var $smallImage = $e.parents("tr").find("td").eq(1).find("input[class='smallImage']");
        var $image = $e.closest('table').parents("tr").find("td").eq(1).find("input[class='image']");
        $.ajaxFileUpload({
            url: '/Article/AddArticleImg2',
            secureuri: false,
            fileElementId: $e.attr("id"),
            dataType: 'json',
            data: {},
            type: "post",
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $ee.attr("src", result.SImage);
                    $(".vwPicture").show();
                 //   $smallImage.val(result.SImage);
                    $image.val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            }
        })
    }

    $("#GetRuleGUID").blur(function () {
        $.ajax({
            type: "POST",
            url: "/RecommendGetGiftConfig/GetCoupon",
            data: {
                "guidOrId": $("#GetRuleGUID").val()
            },
            dataType: "JSON",
            success: function (result) {
                if (result) {
                   // $("#CouponName").val(result.Name.trim());
                    $("#GetRuleGUID").val(result.GetRuleGUID);
                    $("#CouponEndTime").val(result.CouponEndTime);
                    $("#CouponDuration").val(result.CouponDuration);
                    $("#CouponId").val(result.PKID);
                    $("#Quantity").val(result.Quantity);
                    $("#GetQuantity").val(result.GetQuantity);
                } else {
                    $("#CouponName").val("");
                    $("#GetRuleGUID").val("");
                    $("#CouponEndTime").val("");
                    $("#CouponDuration").val("");
                    $("#CouponId").val("");
                    $("#Quantity").val("");
                    $("#GetQuantity").val("");
                }
            },
            error: function (result) {
                $("#CouponName").val("");
                $("#GetRuleGUID").val("");
                $("#CouponEndTime").val("");
                $("#CouponDuration").val("");
                $("#CouponId").val("");
                $("#Quantity").val("");
                $("#GetQuantity").val("");
            }
        });
    })

    $(function () {
        PostionCodeChange();
    });
</script>