@using Tuhu.Provisioning.Models
@model Tuhu.Component.Common.Models.ListModel<Tuhu.Provisioning.DataAccess.Entity.ExchangeCenterConfig>
@{
    Layout = "";
}
<div>
    <table style="width:90%;margin-top:20px;">
        <thead>
            <tr>
                <th>Id</th>
                <th>优惠券Id</th>
                <th>优惠券名称</th>
                <th>配置位置</th>
                <th>积分值</th>
                <th>排序</th>
                <th>会员等级</th>
                <th>剩余数量</th>
                <th>兑换截止日期</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var trStyle = (item.Status && item.CouponSurplus <= 0) ? "background-color:#CC3333;color:white;" : "";
                <tr style="@trStyle">
                    <td>@item.Id</td>
                    <td>@item.CouponId</td>
                    <td>@item.CouponName</td>
                    <td>@item.Postion</td>
                    <td>@item.PointsValue</td>
                    <td>@item.Sort</td>
                    <td>@item.GradeName</td>
                    <td>@item.CouponSurplus</td>
                    <td>@item.EndTime.ToString("yyyy-MM-dd HH:mm:ss") </td>
                    <td>@(item.Status ? "启用" : "禁用")</td>
                    <td>
                        <a href="javascript:;" onclick="ExchangeCenterConfig.Update(@item.Id)">编辑</a>&nbsp;&nbsp;
                        <a href="javascript:;" onclick="ExchangeCenterConfig.Copy(@item.Id)">复制</a>&nbsp;&nbsp;
                        <a href="javascript:;" onclick="ExchangeCenterConfig.Delete(@item.Id)">删除</a>
                        <a href="javascript:;" onclick="ExchangeCenterConfig.GetOperatorLog(@item.Id)">操作记录</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @Html.Pager(Model.Pager, pageIndex => Url.RouteUrl(new { pageIndex }))
</div>
