@{
	ViewBag.Title = "产品管理 - 模块" + ViewBag.AdvertiseName;
	if (ViewBag.Advertise == null || ViewBag.AdProList == null)
	{
		Response.Write("<script>alert('该模块不存在，请从正常来源进入');location='/Advertise/SuppliesModule'</script>");
		Response.End();
	}
	var Advertise = ViewBag.Advertise as Tuhu.Provisioning.DataAccess.Entity.Advertise;
	var AdProList = ViewBag.AdProList;

	string OpStr = Advertise.AdColumnID == "www-01" ? "类别" : "产品";
}
<script>
	var nodata = '<font color="#ff0000">无此编号的产品</font>';
	var advertiseID = @Advertise.PKID ;
	function Operate(LineNo, cate,ifneednumandprice) {
		var _NewPID = $("#NewPID_" + LineNo).val();
		var _PID = (cate==4?_NewPID:$("#OldPID_" + LineNo).val());
		var _Position = $("#Position_" + LineNo).val();
		var _PromotionPrice = $("#PromotionPrice_" + LineNo).val();
		var _PromotionNum = $("#PromotionNum_" + LineNo).val();
		var _State =(cate==4?$('input:radio[name=State_'+LineNo+']:checked').val():$("#State_" + LineNo).val());
		//cate:1:删除 2:显示禁止 3:保存 4:新增
		if (cate == 1) { if (!confirm("确认删除吗？")) { return false; } }
		else if (cate == 2) { if (!confirm("确认禁止吗？")) { return false; } }
		else if (cate == 3||cate == 4) {
			if (_NewPID == "" || _Position == "") { alert("请输入产品编号、顺序号"); return false; }
			if (!/^\d+$/.test(_Position)) { alert('排序号须为正整数'); return false; }
			if(ifneednumandprice){
				if (_PromotionPrice == ""|| _PromotionNum == "") { alert("请输入价格和限量"); return false; }
				if (!/^\d+\.?\d{0,4}$/.test(_PromotionPrice)) { alert('价格须为保留四位小数的数字'); return false; }
				if (!/^\d+$/.test(_PromotionNum)) { alert('数量须为正整数'); return false; }
			}
			if ($("#PName_" + LineNo).html() == nodata) {
				alert("此产品编号找不到对应产品，请重新输入");
				$("#NewPID_" + LineNo).focus();
				return false;
			}
		}
		$.ajax({
			type: "post",
			url: '/Advertise/OperateProduct',
			data: { "AdvertiseID": advertiseID, "PID": _PID, "NewPID": _NewPID, "Position": _Position, "State": _State,  "PromotionPrice": _PromotionPrice, "PromotionNum": _PromotionNum,"Cate": cate,'adColumnID':'@Advertise.AdColumnID'},
			success: function (result) {
				if (result == "OK") {
					//if (cate == 2) {
					//$("#State_" + LineNo).val(_State == 0 ? 1 : 0);
					//$("#StateChange_" + LineNo).val(_State == 0 ? "禁止" : "显示");
					//$("#StateName_" + LineNo).html("<b>" + (_State == 0 ? "<font color=\"#006600\">显示中" : "<font color=\"#FF0000\">已禁止") + "</font></b>");
					//}
					if (cate == 3||cate==4) {
						alert('保存成功');
						//$("#OldPID_" + LineNo).val(_NewPID);
					}
					location = '/Advertise/ModuleProducts?AdvertiseID=' + advertiseID;
				}
				else {
					alert(result);
				}
			}
		});
	}
	function ChangeProductName(LineNo) {
		var _NewPID = $("#NewPID_" + LineNo).val();
		if (_NewPID != "") {
			$.ajax({
				type: "post",
				url: '/Advertise/GetProductNamebyPID',
				data: { "PID": _NewPID,"Cate": @(OpStr == "类别"?2:1) },
				success: function (result) {
					if (result != "") {
						$("#PName_" + LineNo).html(result);
					}
					else {
						$("#PName_" + LineNo).html(nodata);
					}
				}
			});
		}
	}
	function Allchk() {
		if ($("#chkbtn").attr("checked")) {
			$("#listtb :checkbox").attr("checked", true);
		} else {
			$("#listtb :checkbox").attr("checked", false);
		}
	}
	function AllOperate(cate,ifneednumandprice) {
		var opstr = "";
		$("#listtb :checkbox[checked]").each(function (i) {
			var LineNo = $(this).val();
			if ($("#PName_" + LineNo).html() != nodata) {
				var _PID = $("#OldPID_" + LineNo).val();
				var _NewPID = $("#NewPID_" + LineNo).val();
				var _Position = $("#Position_" + LineNo).val();
				var _PromotionPrice = $("#PromotionPrice_" + LineNo).val();
				var _PromotionNum = $("#PromotionNum_" + LineNo).val();

				if(ifneednumandprice){
					if (!/^\d+\.?\d{0,4}$/.test(_PromotionPrice)) { alert('价格须为保留四位小数的数字'); return false; }
					if (!/^\d+$/.test(_PromotionNum)) { alert('数量须为正整数'); return false; }
				}

				if(_PID!=""&&_NewPID!=""&&_Position!=""&&/^\d+$/.test(_Position)&&/^\d+\.?\d{0,4}$/.test(_PromotionPrice)&&/^\d+$/.test(_PromotionNum))
				{
					opstr+=(opstr==""?"":"*")+_PID+","+_NewPID+","+_Position+","+_PromotionPrice+","+_PromotionNum;
				}
			}
		});
		if(opstr=="")
		{alert('请至少选择一项');return false;}
		if (confirm("确认要进行"+(cate==1?"删除":"保存")+"吗？")) {
			$.ajax({
				type: "post",
				url: '/Advertise/AllOperate',
				data: { "opstr": opstr ,"AdvertiseID":advertiseID,"Cate":cate},
				success: function (result) {
					alert(result.ReturnStr);
					location = '/Advertise/ModuleProducts?AdvertiseID=' + advertiseID;
				}
			});
		}
	}

	//<tr style="background-color: #5c87b2; color: #ffffff;display:none; " id="addprotr">
	//    <td style="text-align:center;">新增产品</td>
	//    <td><input type="text" style="width:90%" id="NewPID_999999" onkeyup="ChangeProductName(999999)" /></td>
	//    <td><input type="text" style="width:90%" id="Position_999999" /></td>
	//    <td><span id="PName_999999"></span></td>
	//    <td>
	//        <input type="radio" name="State_999999" value="1" checked="checked" />显示
	//        <input type="radio" name="State_999999" value="0" />禁止
	//    </td>
	//    <td><input type="button" value="新增产品" onclick="Operate(999999,4)" /></td>
	//</tr>
	function SetBlank(LineNo)
	{
		$("#NewPID_"+LineNo).val("");
		$("#Position_"+LineNo).val("");
		$("#PName_"+LineNo).html("");
		$("#PromotionPrice_"+LineNo).val("");
		$("#PromotionNum_"+LineNo).val("");
	}
	function DeployProByCate(LineNo)
	{
	    $.ajax({
	        type: "post",
	        url: '/Advertise/GetPIDByColumnID',
	        data: { "ColumnID": 'www-'+$("#NewPID_"+LineNo).val()},
	        success: function (result) {
	            if(result!="false")
	            {
	                //window.location.href="/Advertise/ModuleProducts?AdvertiseID="+result;
	                window.open("/Advertise/ModuleProducts?AdvertiseID="+result);
	            }
	        }
	    });
	}

	$(function () {
		$(".ChangeProductName").on("input", function () {
			var _ParentTr = $(this).parent().parent().find("td");
			var _NewPID =_ParentTr.eq(1).find("input").val();
			if (_NewPID != "") {
				$.ajax({
					type: "post",
					url: '/Advertise/GetProductNamebyPID',
					data: { "PID": _NewPID ,"Cate": @(OpStr == "类别"?2:1) },
					success: function (result) {
						if (result != "") {
							_ParentTr.eq(3).html(result)
						}
						else {
							_ParentTr.eq(3).html(nodata)
						}
					}
				});
			}
		});
		$(".ChangeProductName").on("keyup", function () {
			$(this).trigger("input");
		});

	});
</script>
<div style="clear:both;"></div>
<div style="float:left">
	<h2>
		@if (Advertise.AdColumnID.StartsWith("www-"))
		{
			<span>网站推广位配置：</span> <font color="#ff0000">@(Advertise.Name + " (最多显示" + Advertise.ShowType + "个)")</font>
		}
		else
		{
			<span>产品管理 - 模块:</span> <font color="#ff0000">@Advertise.Name</font>
		}
	</h2>
</div>
<div style="float:right">
	<h2>
		<a href="/Advertise/SuppliesModule">返回模块管理</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="javascript:void(0);" onclick="$('#addprotr').fadeToggle();SetBlank(999999)">@("新增" + OpStr)</a>
	</h2>
</div>
<table style="width:100%;">
	<tr>
		<th width="8%" style="text-align:center;"><input type="checkbox" onclick="Allchk()" id="chkbtn" /></th>
		<th width="20%">@(OpStr + "编号")</th>
		<th width="4%">排序</th>
		<th width="25%">@(OpStr + "名称")</th>
		@if (Advertise.AdColumnID != "www-01")
		{
			<th width="6%">促销价</th>
			<th width="5%">限量</th>
		}
		<th width="10%">状态</th>
		<th>操作</th>
	</tr>
	<tr style="background-color: #5c87b2; color: #ffffff;display:none; " id="addprotr">
		<td style="text-align:center;">@("新增" + OpStr)</td>
		<td><input type="text" style="width:90%" id="NewPID_999999" oninput="ChangeProductName(999999)" onmousedown="ChangeProductName(999999)" onkeyup="ChangeProductName(999999)" /></td>
		<td><input type="text" style="width: 90%; text-align: center;" id="Position_999999" /></td>
		<td><span id="PName_999999"></span></td>
		@if (Advertise.AdColumnID != "www-01")
		{
			<td><input type="text" style="width: 90%; text-align: right;" id="PromotionPrice_999999" value="0" /></td>
			<td><input type="text" style="width: 90%; text-align: center;" id="PromotionNum_999999" value="0" /></td>
		}
		<td>
			<input type="radio" name="State_999999" value="1" checked="checked" />显示
			<input type="radio" name="State_999999" value="0" />禁止
		</td>
		<td>
			<input type="button" value="@("新增" + OpStr)" onclick="Operate(999999,4,@(Advertise.AdColumnID != "www-01"?"true":"false"))" />
			<input type="button" value="取消" onclick="$('#addprotr').fadeToggle();SetBlank(999999);" />
		</td>
	</tr>
	<tbody id="listtb">
		@if (AdProList.Count == 0)
		{
			<tr>
				<td colspan="8">
					<div style="width:100%;padding:100px 0;text-align:center;font-size:22px;font-weight:bold;color:#cccccc;">No Data For Now</div>
				</td>
			</tr>
		}
		else
		{
			int _LineNo = 1;
            foreach (Tuhu.Provisioning.Models.AdProductItem item in AdProList)
			{
				<tr>
					<td align="center">
						<input type="checkbox" value="@_LineNo" />
						<input type="hidden" id="@("OldPID_" + _LineNo)" value="@item.PID" />
						<input type="hidden" id="@("State_" + _LineNo)" value="@item.State" />
					</td>
					<td><input type="text" style="width:90%" id="@("NewPID_" + _LineNo)" value="@item.PID" class="ChangeProductName" /></td>
					<td><input type="text" style="width: 90%; text-align: center;" id="@("Position_" + _LineNo)" value="@item.Position" /></td>
					<td><span id="@("PName_" + _LineNo)">@item.ProductName</span></td>
					@if (Advertise.AdColumnID != "www-01")
					{
						<td><input type="text" style="width: 90%; text-align: right;" id="@("PromotionPrice_" + _LineNo)" value="@item.PromotionPrice" /></td>
						<td><input type="text" style="width: 90%; text-align: center;" id="@("PromotionNum_" + _LineNo)" value="@item.PromotionNum" /></td>
					}
					<td><span id="@("StateName_" + _LineNo)">@Html.Raw(item.StateName)</span></td>
                    <td>
                        <input type="button" value="保存" onclick="Operate(@_LineNo,3,@(Advertise.AdColumnID != "www-01"?"true":"false"))" />&nbsp;
                        <input type="button" value="删除" onclick="Operate(@_LineNo,1,@(Advertise.AdColumnID != "www-01"?"true":"false"))" />&nbsp;
                        <input type="button" id="@("StateChange_" + _LineNo)" value="@(item.State==0?"显示":"禁止")" onclick="Operate(@_LineNo,2,@(Advertise.AdColumnID != "www-01"?"true":"false"))" />&nbsp;
                        @if (Advertise.AdColumnID == "www-01")
                        {
                            <input type="button" value="配置产品" onclick="DeployProByCate(@_LineNo)" />
                        }
                    </td>
				</tr>
					_LineNo++;
			}
			<tr>
				<td colspan="8" height="30" style="background-color:#f3f3f3">
					<input type="button" value="批量保存" onclick="AllOperate(2,@(Advertise.AdColumnID != "www-01"?"true":"false"))" />
					<input type="button" value="批量删除" onclick="AllOperate(1,@(Advertise.AdColumnID != "www-01"?"true":"false"))" />
				</td>
			</tr>
		}
	</tbody>
</table>
