@model Tuhu.Provisioning.DataAccess.Entity.PersonalCenterFunctionConfig
@{
    Layout = null;
}

<style>
    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    a {
        color: cornflowerblue;
    }
</style>
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>

<form action="/PersonalCenterFunctionConfig/Edit" method="post">
    <input type="hidden" value="@Model.Id" name="Id" />
    <div>
        <table>
            <tr>
                <td style="width:30%">显示名称</td>
                <td style="width:70%">

                    <input type="text" value="@Model.DisplayName" name="DisplayName" />
                </td>
            </tr>
            <tr>
                <td>小标题</td>
                <td>
                    <input type="text" value="@Model.Title" name="Title" />
                </td>
            </tr>
            <tr>
                <td>排序</td>
                <td><input type="number" value="@Model.Sort" name="Sort" /></td>
            </tr>
            <tr>
                <td>点亮图标</td>
                <td>
                    <img height="40" class="vwPicture" src="@Model.Icon" />
                    <input type="hidden" name="Icon" class="image" value="@Model.Icon" />
                    <form method="post" action="" enctype="multipart/form-data">
                        <input style="width:150px;" type="file" onchange="UploadImg(this)" id="2" name="2" />
                    </form>
                </td>
            </tr>
            <tr>
                <td>状态</td>
                <td>
                    @Html.RadioButtonFor(m => m.Status, true) 启用
                    @Html.RadioButtonFor(m => m.Status, false) 禁用
                </td>
            </tr>
            <tr>
                <td>是否显示高亮</td>
                <td>
                    @Html.RadioButtonFor(m => m.Highlight, true) 是
                    @Html.RadioButtonFor(m => m.Highlight, false) 否
                </td>
            </tr>
            <tr>
                <td>ios开始版本</td>
                <td>
                    <input type="text" value="@Model.IOSStartVersions" name="IOSStartVersions" />
                </td>
            </tr>
            <tr>
                <td>ios结束版本</td>
                <td>
                    <input type="text" value="@Model.IOSEndVersions" name="IOSEndVersions" />
                </td>
            </tr>
            <tr>
                <td>Android开始版本</td>
                <td>
                    <input type="text" value="@Model.AndroidStartVersions" name="AndroidStartVersions" />
                </td>
            </tr>
            <tr>
                <td>Android结束版本</td>
                <td>
                    <input type="text" value="@Model.AndroidEndVersions" name="AndroidEndVersions" />
                </td>
            </tr>
            <tr>
                <td>万能跳转</td>
                <td>
                    <textarea name="AppLink" style="width:350px;">@Model.AppLink</textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="保存" class="btn" /></td>
            </tr>
        </table>
    </div>
</form>
<script>
    function UploadImg(e) {
        var $e = $(e);
        var $ee = $e.parents("tr").find("td").eq(1).find("img");
        var $smallImage = $e.parents("tr").find("td").eq(1).find("input[class='smallImage']");
        var $image = $e.parents("tr").find("td").eq(1).find("input[class='image']");
        $.ajaxFileUpload({
            url: '/Article/AddArticleImg2',
            secureuri: false,
            fileElementId: $e.attr("id"),
            dataType: 'json',
            data: {},
            type: "post",
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $ee.attr("src", result.SImage);
                    $(".vwPicture").show();
                    $smallImage.val(result.SImage);
                    $image.val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            }
        })
    }
</script>