
@using Tuhu.Provisioning.Models
@model Tuhu.Component.Common.Models.ListModel<Tuhu.Provisioning.DataAccess.Entity.PersonalCenterFunctionConfig>
@{
    ViewBag.Title = "个人中心功能配置";
    Layout = "~/Views/Shared/_PersonalCenterLeft.cshtml";
}

<h2>个人中心功能配置</h2>
<style>
    body {
        font-family: "Microsoft Yahei";
    }

    textarea {
        width: 100px;
        height: 100px;
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: cornflowerblue;
        border: solid 1px cornflowerblue;
    }
</style>

<div>
    <a href="javascript:void(0)" class="btn" onclick="PersonalCenterFunctionConfig.Add()">添加</a>
</div>
<div>
    <table style="width:100%;margin-top:20px;">
        <thead>
            <tr>
                <th>Id</th>
                <th>显示名称</th>
                <th>小标题</th>              
                <th>点亮图标</th>
                <th>排序</th>
                <th>是否显示高亮</th>
                <th>是否为可用</th>
                <th>创建时间</th>             
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.DisplayName</td>
                    <td>@item.Title</td>
                    <td><img style="height:100px;width:100px;" src="@item.Icon" alt="" /> </td>
                    <td>@item.Sort</td>
                    <td>@(item.Highlight ? "是" : "否")</td>
                    <td>@(item.Status ? "是" : "否")</td>
                    <td>@item.CreateTime</td>
                    <td>
                        <a href="javascript:;" onclick="PersonalCenterFunctionConfig.Update(@item.Id)">编辑</a>&nbsp;&nbsp;
                        <a href="javascript:;" onclick="PersonalCenterFunctionConfig.Delete(@item.Id)">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @Html.Pager(Model.Pager, pageIndex => Url.RouteUrl(new { pageIndex }))
</div>
<div id="AddItem"></div>

<script>
    var PersonalCenterFunctionConfig = {

        "Add": function () {
            $("#AddItem").load('/PersonalCenterFunctionConfig/Edit?id=0');
            $("#AddItem").dialog({
                title: "添加",
                width: 600,
                height: 700,
                modal: true
            });
        },
        "Update": function (id) {
            $("#AddItem").load('/PersonalCenterFunctionConfig/Edit?id=' + id);
            $("#AddItem").dialog({
                title: "修改",
                width: 600,
                height: 700,
                modal: true
            });
        },
        "Delete": function (id) {
            if (window.confirm("您确定要删除吗？")) {
                $.ajax({
                    type: "POST",
                    url: "/PersonalCenterFunctionConfig/Delete",
                    data: { "id": id },
                    dataType: "json",
                    success: function (result) {
                        if (result) {
                            window.location.href = "/PersonalCenterFunctionConfig/Index";
                        }
                        else {
                            alert("删除失败！");
                        }
                    },
                    error: function (result) {
                    }
                })
            }
        }
    }
</script>  