@{
    ViewBag.Title = "轮胎活动";
    Layout = "~/Views/Shared/_Layout_TiresActivity.cshtml";
}
@model Tuhu.Provisioning.DataAccess.Entity.TiresActivity.TiresFloorActivityConfig
<link rel="stylesheet" href="/Scripts/artDialog6.0.4/css/ui-dialog.css" />
<style>
    .table { text-align: center; }
    .table tr > th { text-align: center; }
    .ui-dialog { width: auto; }
</style>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <ul id="specialTabs" class="nav nav-tabs">
            <li class="active">
                <a href="#specialTab" data-toggle="tab">
                    楼层信息
                </a>
            </li>
        </ul>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row" style="margin-top:20px;">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>活动ID：</td>
                                    <td>
                                        @if (Model.FlashSaleId == Guid.Empty)
                                        {
                                            <input type="text" id="activity-TiresActivityId" placeholder="活动ID" style="width:70%" value="" />
                                        }
                                        else
                                        {
                                            <input type="text" id="activity-TiresActivityId" placeholder="活动ID" style="width:70%" disabled="disabled" value="@Model.FlashSaleId" />
                                        }
                                    </td>
                                    <td>活动名称：</td>
                                    <td>
                                        <input type="text" disabled="disabled" id="activity-ActivityName" placeholder="活动时间" style="width:70%" value="@Model.ActivityName" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>开始时间:</td>
                                    <td>
                                        <input type="text" id="StartDate" disabled="disabled" name="activity-StartDate" value="@Model.StartTime" placeholder="开始时间" style="width:70%" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd HH:mm:ss'})" />
                                    </td>
                                    <td>
                                        结束时间：
                                    </td>
                                    <td>
                                        <input type="text" id="EndDate" disabled="disabled" name="activity-EndDate" value="@Model.EndTime" placeholder="结束时间" style="width:70%" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd HH:mm:ss'})" />
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <ul id="specialTabs" class="nav nav-tabs">
            <li class="active">
                <a href="#specialTab" data-toggle="tab">
                    图片池
                </a>
            </li>
        </ul>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row" style="margin-top:20px;">
                        <table class="table table-bordered">
                            <tbody>
                                @{
                                    var imgDic = ViewData["ImgDic"] as Dictionary<string, string>;
                                    var imgConfig = Model != null && Model.ImgList != null && Model.ImgList.Any() ? Model.ImgList : null;
                                    var size = 3;
                                    var pages = Math.Ceiling(imgDic.Count * 1.0 / size);
                                    for (var i = 0; i < pages; i++)
                                    {
                                        <tr>
                                            @{var imgDictemp = imgDic.Skip(i * size).Take(size);
                                                foreach (var item in imgDictemp)
                                                {
                                                    var imgUrl = imgConfig == null ? "" : imgConfig.Where(x => String.Equals(x.Type.ToString(), item.Key)).Select(x => x.ImgUrl).FirstOrDefault();
                                                    <td style="width:20%">
                                                        <span style="float:left;width:15%">@item.Value</span>
                                                        <input style="width:160px;float:left;margin-left:10px" type="file" id="@item.Key" name="tireImg" onchange="uploadPic('@item.Key', HandlerPicResult);" />
                                                        <input id="_Tire@(item.Key)" data-key="@item.Key" name="TireImgArray" style="width:100%;margin-top:10px;float:left" type="hidden" value="@imgUrl" />
                                                    </td>
                                                    <td style="width:10%">
                                                        @if (!string.IsNullOrEmpty(imgUrl))
                                                        {
                                                            <img src="@imgUrl" id="tire@(item.Key)" width="75" height="75" />
                                                        }
                                                        else
                                                        {
                                                            <img src="" id="tire@(item.Key)" width="75" height="75" style="display:none" />
                                                        }
                                                        <input type="button" class="clear_img" data-key="@item.Key" value="清空" />
                                                    </td>
                                                }
                                            }
                                        </tr>
                                   }

                                }

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ul id="specialTabs" class="nav nav-tabs">
            <li class="active">
                <a href="#specialTab" data-toggle="tab">
                    楼层排序
                </a>
            </li>
        </ul>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row" style="margin-top:20px;">
                        <table class="table table-bordered">
                            <tbody>
                                @{
                                    var imgDicTwo = ViewData["ImgDic"] as Dictionary<string, string>;
                                    var imgConfigTwo = Model != null && Model.ImgList != null && Model.ImgList.Any() ? Model.ImgList : null;
                                    var sizeTwo = 3;
                                    var pagesTwo = Math.Ceiling(imgDicTwo.Count * 1.0 / sizeTwo);
                                    for (var i = 0; i < pagesTwo; i++)
                                    {
                                        <tr>
                                            @{
                                                var imgDictempTwo = imgDicTwo.Skip(i * sizeTwo).Take(sizeTwo);
                                                foreach (var item in imgDictempTwo)
                                                {
                                                    var position = imgConfigTwo == null ? 0 : imgConfigTwo.Where(x => String.Equals(x.Type.ToString(), item.Key)).Select(x => x.Position).FirstOrDefault();
                                                    <td style="width:10%">
                                                        <span style="float:left;width:15%">@item.Value</span>
                                                        <input style="float:left;margin-left:10px" placeholder="请输入数字" data-key="@item.Key" id="_Position@(item.Key)" class="sort @(item.Key)" value="@position" />
                                                    </td>
                                                }
                                            }
                                        </tr>
                                     }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul id="specialTabs" class="nav nav-tabs">
        <li class="active">
            <a href="#specialTab" data-toggle="tab">
                商品池
            </a>
        </li>
    </ul>
    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead style="font-size:smaller">
                            <tr>
                                <th>PID</th>
                                <th>名称</th>
                                <th>尺寸</th>
                                <th>规格</th>
                                <th>促销价</th>
                                <th>每人限购</th>
                                <th>总限购</th>
                                <th>广告语</th>
                                <th>是否置顶<input type="checkbox" id="check_all" onclick="GetAllOrder()" /></th>
                                <th>禁止显示进度条<input type="checkbox" id="check_progress_bar_all" onclick="TriggerProgressBarCheck()" /></th>
                                <th>隐藏条件&nbsp;&nbsp;<a href="javascript:void(0)" onclick="BatchSelect()">编辑</a></th>
                            </tr>
                        </thead>
                        <tbody class="activity-productList">
                            @if (Model != null && Model.ProductList != null && Model.ProductList.Any())
                            {
                                foreach (var item in Model.ProductList)
                                {
                                    <tr>
                                        <td>@item.ProductId</td>
                                        <td>@item.ProductName</td>
                                        <td>@item.Size</td>
                                        <td>@item.Specification</td>
                                        <td>@item.Price</td>
                                        <td>@item.MaxQuantity</td>
                                        <td>@item.TotalQuantity</td>
                                        <td><textarea name="advertiseTitle" value="" @(item.IsShow ? "" : "disabled=disabled")>@item.AdvertiseTitle</textarea> </td>
                                        <td>
                                            @if (item.IsShow)
                                            {
                                                <input type="checkbox" name="check_child" checked="checked" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" name="check_child" />
                                            }
                                        </td>
                                        <td>
                                            @if (item.IsCancelProgressBar)
                                            {
                                                <input type="checkbox" name="check_progress_bar_child" checked="checked" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" name="check_progress_bar_child" />
                                            }
                                        </td>
                                        <td>
                                            <select class='special'>
                                                <option value="0" selected="@(item.SpecialCondition==0?true:false)">安全库存</option>
                                                <option value="1" selected="@(item.SpecialCondition==1?true:false)">小于等于一条</option>
                                                <option value="2" selected="@(item.SpecialCondition==2?true:false)">小于等于四条</option>
                                            </select>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="11">无数据</td></tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-center">
                        <div class="btn-group" id="tcdPageCode">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="text-align:center">
        <div class="col-lg-12" style="text-align:center">
            <div class="ibox">
                <div class="ibox-content">
                    <input type="button" class="btn btn-primary btn-medium" id="btnSave" value="保 存" />
                    <input type="button" class="btn btn-danger btn-medium" id="btnCancel" value="取 消" />
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@ViewBag.ParentId" class="activity-ParentId" />
<input type="hidden" value="@ViewBag.FloorActivityId" class="activity-FloorActivityId" />
<script src="/Scripts/artDialog6.0.4/dist/dialog-min.js"></script>
<script src="/Scripts/artDialog6.0.4/dist/dialog-plus-min.js"></script>
@section scripts{
    <script type="text/javascript">
        function uploadPic(_fileElementId, _callback) {
            $.ajaxFileUpload({
                url: '/ArticleManage/ImageUploadToAli',
                secureuri: false,
                fileElementId: _fileElementId || '',
                dataType: 'json',
                async: false,
                success: function (result) {
                    _callback(result, _fileElementId);
                }
            });
        }

        Date.prototype.Format = function (fmt) { //author: meizz 
            var o = {
                "M+": this.getMonth() + 1, //月份 
                "d+": this.getDate(), //日 
                "h+": this.getHours(), //小时 
                "m+": this.getMinutes(), //分 
                "s+": this.getSeconds(), //秒 
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
                "S": this.getMilliseconds() //毫秒 
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        };

        $(".sort").change(function () {
            var sortNum = $(this).val();
            if (isNaN(sortNum)) {
                $(this).val("0")
            }
        })

        function GetAllOrder() {
            if ($("#check_all")[0].checked) {
                $("[name='check_child']").attr("checked", 'true');
                $("[name='advertiseTitle']").prop("disabled", false);
            }
            else {
                $("[name='advertiseTitle']").val("");
                $("[name='advertiseTitle']").prop("disabled", true);
                $("[name='check_child']").removeAttr("checked");
            }
        }

        function TriggerProgressBarCheck() {
            if ($("#check_progress_bar_all")[0].checked) {
                $("[name='check_progress_bar_child']").prop("checked", 'true');
            }
            else {
                $("[name='check_progress_bar_child']").removeAttr("checked");
            }
        }

        $(".clear_img").on("click", function () {
            var elementId = $(this).attr("data-key");
            $("#tire" + elementId).attr("src", "");
            $("#tire" + elementId).hide();
            $("#_Tire" + elementId).val("");
        });

        function HandlerPicResult(result, elementId) {
            $("#tire" + elementId).attr("src", result.BImage);
            $("#tire" + elementId).show();
            $("#_Tire" + elementId).val(result.BImage);
        }

        function formatTime(val) {
            if (val != null) {
                return eval('new ' + eval(val).source).Format('yyyy-MM-dd hh:mm:ss');
            } else {
                return "无";
            }
        }

        $("#activity-TiresActivityId").change(function () {
            var flashId = $("#activity-TiresActivityId").val();
            $(".activity-productList tr:not(:first)").empty();
            if (flashId != "") {
                $.get("GetTiresFloorInfoByFloorActivity", { flashId: flashId, parentId: $(".activity-ParentId").val() }, function (result) {
                    if (result.FloorActivityId == "00000000-0000-0000-0000-000000000000") {
                        //$("#radioDisShow").prop("checked", result.IsAdaptationVehicle);
                        $("#activity-ActivityName").val(result.ActivityName);
                        $("#StartDate").val(formatTime(result.StartTime));
                        $("#EndDate").val(formatTime(result.EndTime));
                        var html = "";
                        if (result.ProductList != null && result.ProductList.length > 0) {
                            var data = result.ProductList;
                            $.each(data, function (index) {
                                var checkeInput = "";
                                var progressBarCheckInput = "";
                                var items = [{ "key": 0, "value": "安全库存" }, { "key": 1, "value": "小于等于一条" }, { "key": 2, "value": "小于等于四条" }];
                                var options = items.map(function (it) {
                                    var option = data[index].SpecialCondition === it.key ?
                                        "<option value='$key$' selected='selected'>$value$</option>" :
                                        "<option value='$key$'>$value$</option>";
                                    return option.replace("$key$", it.key).replace("$value$", it.value);
                                }).join('');
                                var selectInput = "<select>$options$<lect>".replace("$options$", options);
                                if (data[index].IsShow) {
                                    checkeInput = "<input type='checkbox' name='check_child' checked='checked'/>";
                                } else {
                                    checkeInput = "<input type='checkbox' name='check_child'/>";
                                }
                                if (data[index].IsCancelProgressBar) {
                                    progressBarCheckInput = "<input type='checkbox' name='check_progress_bar_child' checked='checked'/>";
                                } else {
                                    progressBarCheckInput = "<input type='checkbox' name='check_progress_bar_child'/>";
                                }
                                html += "<tr><td>" + data[index].ProductId + "</td><td>" + data[index].ProductName + "</td><td>" + data[index].Size + "</td><td>" + data[index].Specification + "</td><td>" + data[index].Price + "</td><td>" + data[index].MaxQuantity + "</td><td>" + data[index].TotalQuantity + "</td><td><textarea name='advertiseTitle' disabled=" + (data[index].IsShow ? "" : "disabled") + "  >" + (data[index].AdvertiseTitle == null ? "" : data[index].AdvertiseTitle) + "</textarea></td><td>" + checkeInput + "</td><td>" + progressBarCheckInput + "</td><td>" + selectInput + "</td></tr>";
                            });
                        } else {
                            html = "<tr><td colspan='11' style='text- align:center'>无</td></tr>";
                        }
                        $(".activity-productList").empty().append(html);
                        $("input[name='check_child']").click(function () {
                            if (this.checked) {
                                $(this).parent().parent().find("textarea").prop("disabled", false);
                            } else {
                                //$(this).parent().parent().find("textarea").val("");
                                $(this).parent().parent().find("textarea").prop("disabled", true);
                            }
                        })
                    } else {
                        alert("活动已存在");
                    }
                });
            }
        });

        $("#btnSave").on("click", function () {
            var data = {};
            //config
            data.TiresActivityId = $(".activity-ParentId").val();
            data.FlashSaleId = $("#activity-TiresActivityId").val();
            data.FloorActivityId = $(".activity-FloorActivityId").val()
            data.ActivityName = $("#activity-ActivityName").val();
            data.StartTime = $("#StartDate").val();
            data.EndTime = $("#EndDate").val();
            data.ImgList = [];
            data.ProductList = [];
            if (data.ActivityId == "") {
                alert("请输入活动ID");
                return false;
            }
            if (data.ActivityName == "") {
                alert("活动Id无效");
                return false;
            }
            if (data.StartTime == "" || data.EndTime == "") {
                alert("活动时间不能为空");
                return false;
            }
            //sortNum
            var sortNumArray = [];
            $(".sort").each(function (index) {
                if (parseInt($(this).val()) != 0) {
                    sortNumArray.push($(this).val());
                }
            });
            var newPositionArray = sortNumArray.sort();
            for (var i = 0; i < newPositionArray.length - 1; i++) {
                if (sortNumArray[i] == newPositionArray[i + 1]) {
                    alert("尺寸位置存在重复值，请检查后重新输入");
                    return;
                }
            }

            $("[name=TireImgArray]").each(function (index) {
                var type = $(this).attr("data-key");
                var imgUrl = $(this).val();
                var position = $("#_Position" + type).val();
                data.ImgList.push({ ParentId: data.ParentId, FloorActivityId: data.FloorActivityId, Type: type, ImgUrl: imgUrl, Position: position });
            });

            //product
            $("input[name='check_child']").each(function () {
                var productId = $(this).parent().parent().find("td").eq(0).html();
                var special = $(this).parent().parent().find("select").val();
                var isCancelProgressBar = $(this).parent().parent().find("td").eq(9).find("input").eq(0).prop("checked");
                if (this.checked) {
                    var advertise = $(this).parent().parent().find("textarea").val();
                    data.ProductList.push({ ActivityId: data.FloorActivityId, ProductId: productId, AdvertiseTitle: advertise, SpecialCondition: special, IsCancelProgressBar: isCancelProgressBar })
                } else {
                    data.ProductList.push({ ActivityId: data.FloorActivityId, ProductId: productId, AdvertiseTitle: "", SpecialCondition: special, IsCancelProgressBar: isCancelProgressBar })
                }
            });
            if (confirm("是否确认保存")) {
                $.post("UpsertTiresFloorActivity", { model: JSON.stringify(data) }, function (result) {
                    if (result) {
                        alert("操作成功");
                        if ($(".activity-FloorActivityId").val() != "00000000-0000-0000-0000-000000000000") {
                            location.reload();
                        } else {
                            location.href = "/TiresActivity/TiresActivityInfo?activityId=" + $(".activity-ParentId").val();
                        }
                    } else {
                        alert("操作失败");
                    }
                });
            }
        });

        $("input[name='check_child']").click(function () {
            if (this.checked) {
                $(this).parent().parent().find("textarea").prop("disabled", false);
            } else {
                //$(this).parent().parent().find("textarea").val("");
                $(this).parent().parent().find("textarea").prop("disabled", true);
            }
        })

        function ConvertMsg(data) {
            var msg = "安全库存";
            switch (data) {
                case 0:
                    msg = "安全库存";
                    break;
                case 1:
                    msg = "小于等于一条";
                    break;
                case 2:
                    msg = "小于等于四条";
                    break;
            }
            return msg;
        }

        $("#btnCancel").on("click", function () {
            location.href = "/TiresActivity/TiresActivityInfo?activityId=" + $(".activity-ParentId").val();
        });

        function BatchSelect() {
            var html = "<table style='width:100%;margin-top:30px'><tr><td>隐藏条件：</td><td><select class='dialog-special'> <option value='0' selected='selected'>安全库存</option> <option value='1'>小于等于一条</option> <option value='2'>小于等于四条</option> </select></td></tr></table>";
            var d = dialog({
                title: "批量选择",
                width:300,
                height: 100,
                fixed: true,
                button: [{
                    value: "确定",
                    callback: function () {
                        $(".special").val($(".dialog-special").val());
                    }
                },
                {
                    value: "取消"
                }]
            });
            d.content(html);
            d.showModal();
        };
       
    </script>

}
