@model  Tuhu.Provisioning.DataAccess.Entity.GaiZhuangCategoryModel

@{
    var title = "增加编辑改装子类目";

    ViewBag.Title = title;
}
<style>
    .ui-dialog {
        border-radius: 3px;
        padding: 0px;
        width: auto;
    }

    .ui-dialog-grid {
        width: 100%;
    }

    .ui-dialog-title {
        width: 75%;
        padding: 8px 15px 8px 15px;
    }

    .ui-dialog-close {
        top: 8px;
    }

    .ui-dialog-body {
        padding: 10px;
    }

    .ui-dialog-content {
        padding: 0px;
    }

    .ui-dialog-footer {
        padding: 5px 10px 5px 5px;
        background: #ffffff;
        border-top: 1px solid #eee;
    }

        .ui-dialog-footer button {
            padding: 3px 15px;
            border-radius: 2px;
            box-shadow: 0 1px 1px rgba(0,0,0,.15);
            font-size: 12px;
        }

            .ui-dialog-footer button.ui-dialog-autofocus {
                font-weight: 700;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
            }

    .expanded_table_icon {
        background: url(/Scripts/TableTree/images/tree.gif) no-repeat 0px -4px;
        width: 9px;
        cursor: pointer;
        padding-top: 0px;
        margin: 0px;
        padding-left: 13px;
        zoom: 1;
    }

    .collapsed_table_icon {
        background: url(/Scripts/TableTree/images/tree.gif) no-repeat 0px -24px;
        width: 9px;
        cursor: pointer;
        padding-top: 0px;
        margin: 0px;
        padding-left: 13px;
        zoom: 1;
    }


    .button1 {
        border-radius: 5px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        font-family: "Microsoft Yahei";
        outline: none;
        cursor: pointer;
        background: #0088cc;
        border-color: #0088cc;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: #0088cc;
        border: solid 1px #0088cc;
    }

    .Price {
        background: url(/Images/rmb.png) no-repeat left center;
        vertical-align: middle;
        height: 12px;
        padding-top: -2px;
        padding-left: 10px;
        border: none;
    }
</style>
<link href="~/Content/filtrateSelect.css" rel="stylesheet" />
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>
<link rel="stylesheet" href="/Scripts/artDialog6.0.4/css/ui-dialog.css" />
<script src="~/Scripts/artDialog6.0.4/dist/dialog-min.js"></script>
<script src="~/Scripts/artDialog6.0.4/dist/dialog-plus-min.js"></script>

<link href="~/Scripts/jQuery-EasyUI/themes/default/easyui.css" type="text/css" rel="stylesheet" />
<link href="~/Scripts/jQuery-EasyUI/themes/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/jQuery-EasyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="~/Scripts/jQuery-EasyUI/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="~/Scripts/layer/layer.js"></script>
<script src="~/Scripts/jquery.filtrateSelect.js"></script>
<link href="~/Content/filtrateSelect.css" rel="stylesheet" />
<script src="~/Scripts/jquery.filtrateSelect.js"></script>
<table style="width:100%">
    <tbody>
    <tr>
        <td>类目名称 </td>
        <td><input class="CategoryName" id="CategoryName" type="text" value="@Model.CategoryName"/><input id="CategoryNameValid" style="color: red; display: none;" /></td>
    </tr>
        <tr>
            <td>类目副标题 </td>
            <td><input class="SubTitle" id="SubTitle" type="text" value="@Model.SubTitle" /><input id="SubTitleValid" style="color: red; display: none;" /></td>
        </tr>
    <tr>
        <td>显示顺序 </td>
        <td> <input class="Sort" id="Sort" type="text" value="@Model.Sort"/><input id="SortValid" style="color: red; display: none;" /></td>
    </tr>
        <tr>
            <td>显示商品个数 </td>
            <td> <input class="ShowNum" id="ShowNum" type="text" value="@Model.ShowNum" /><input id="ShowNumValid" style="color: red; display: none;" /></td>
        </tr>
        <tr>
            <td>是否显示</td>
            <td>
                @Html.RadioButtonFor(T => T.IsShow, true, new { @id = "radio1", @name = "IsShow" })是
                @Html.RadioButtonFor(T => T.IsShow, false, new { @id = "radio0", @name = "IsShow" })否
            </td>
        </tr>
    </tbody>
</table>
<div>
    <input type="hidden" id="PKID" value="@Model.PKID" />
    <input type="hidden" id="ParentCategoryID" value="@Model.ParentCategoryID" />
    <input type="hidden" id="CategoryLevel" value="@Model.CategoryLevel" />
    <input type="hidden" id="CategoryType" value="@Model.CategoryType" />
    <input type="hidden" id="LastUpdateTime" value="@Model.UpdatedTime" />
    <input type="hidden" id="CreateTime" value="@Model.CreatedTime" />
</div>
<div style="text-align:center; width:100%;height:100%;margin:0px; ">
    <a class="button1" href="javascript:;" style="margin-bottom: 20px; float:none" onclick="savecategory()">保存</a>
</div>
<script type="text/javascript">
    function savecategory() {
        var categoryName = $("#CategoryName").val();
        var sort = $("#Sort").val();
        var subTitle = $("#SubTitle").val();
        var showNum = $("#ShowNum").val();
        var flag = false;
        if (categoryName == '' ) {
            $("#CategoryNameValid").val("必填");
            $("#CategoryNameValid").show();
            flag = true;
        }
        if (subTitle == '') {
            $("#SubTitleValid").val("必填");
            $("#SubTitleValid").show();
            flag = true;
        }
        if (sort == '') {
            $("#SortValid").val("必填");
            $("#SortValid").show();
            flag = true;
        }
        if (isNaN(sort)) {
            $("#SortValid").val("必须是大于0的整数");
            $("#SortValid").show();
            flag = true;
        }
        var zhengze = /^[0-9]*[1-9][0-9]*$/;
        if (!(zhengze.test(sort))) {
            $("#SortValid").val("必须是大于0的整数");
            $("#SortValid").show();
            flag = true;
        }
        if (showNum == '') {
            $("#ShowNumValid").val("必填");
            $("#ShowNumValid").show();
            flag = true;
        }
        if (isNaN(showNum)) {
            $("#ShowNumValid").val("必须是大于0的整数");
            $("#ShowNumValid").show();
            flag = true;
        }
        if (!(zhengze.test(showNum))) {
            $("#ShowNumValid").val("必须是大于0的整数");
            $("#ShowNumValid").show();
            flag = true;
        }
        if (flag)
            return;
        $("#CategoryNameValid").hide();
        $("#SortValid").hide();

        if (confirm("是否确认要保存？")) {
            var pkid = $("#PKID").val();
            if (pkid == "0" || pkid =="") {
                $.post("/ConfigCategory/InsertChildCategoryItem", {
                    categoryName: $("#CategoryName").val(), parentCategoryID: $("#ParentCategoryID").val(), subTitle: $("#SubTitle").val(),
                    showNum: $("#ShowNum").val(), sort: $("#Sort").val(), isShow: $("input[type='radio']:checked").val()
                }, function (data) {

                    if (JSON.parse(data) === true) {
                        alert("保存成功！");
                        window.location.href = "/ConfigCategory/ChangeCategoryList";

                    } else {
                        alert("保存失败！");
                    }
                });
            } else {
                $.post("/ConfigCategory/UpdateChildCategoryItem", {
                    pkid: pkid, categoryName: $("#CategoryName").val(), parentCategoryID: $("#ParentCategoryID").val(),
                    subTitle: $("#SubTitle").val(), sort: $("#Sort").val(), isShow: $("input[type='radio']:checked").val(), showNum: $("#ShowNum").val()
                }, function (data) {

                    if (JSON.parse(data) === true) {
                        alert("保存成功！");
                        window.location.href = "/ConfigCategory/ChangeCategoryList";

                    } else {
                        alert("保存失败！");
                    }
                });
            }
        }
    }

</script>
