@using Newtonsoft.Json;
@model Tuhu.Provisioning.DataAccess.Entity.VIPAuthorizationRuleConfig
@{
    Layout = null;
}

<style>
    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    a {
        color: cornflowerblue;
    }
</style>
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>

<form action="/VIPAuthorizationRuleConfig/Edit" method="post">
    <input type="hidden" value="@Model.Id" name="Id" />
    <input type="hidden" value="@Model.PrivilegeType" name="PrivilegeType" />
    <div>
        <table id="table1" style="width:100%">

            <tr>
                <td>VIP权限规则名称</td>
                <td>
                    <input type="text" value="@Model.RuleName" name="RuleName" />
                </td>
            </tr>

            <tr>
                <td>VIP权限规则描述</td>
                <td>
                    <input type="text" value="@Model.Description" name="Description" />
                </td>
            </tr>
            <tr>
                <td>VIP权限有效天数</td>
                <td>
                    <input type="number" value="@Model.ValidityDay" name="ValidityDay" />
                </td>
            </tr>
            <tr>
                <td>VIP特权配置</td>
                <td>
                    <fieldset style="width:300px">
                        <div class="types">
                            <input type="checkbox" value="1" @((Model.PrivilegeType&1)==1?"checked":"") value1="是否开通V4会员特权" />
                            <label>开通V4会员特权</label><br />
                            <input type="checkbox" value="2" @((Model.PrivilegeType&2)==2?"checked":"")  value1="成长值累计加速" />
                            <label>成长值累计加速</label><br />
                            <input type="checkbox" value="4" @((Model.PrivilegeType&4)==4?"checked":"")  value1="积分累计加速" />
                            <label>积分累计加速</label>
                        </div>
                    </fieldset>

                </td>
            </tr>
        </table>

        <input type="button" value="保存" onclick="SaveModel()" class="btn" />
    </div>
</form>

<script>

    //var types = $("input[name=PrivilegeType]").val() || "";
    //var typeArry = new Array();
    //typeArry = types.split(";")
    //$(function () {
    //    $(".types :checkbox").each(function (i) {

    //        if (typeArry.indexOf($(this).attr("value")) >= 0) {
    //            $(this).attr("checked", "checked");
    //        }
    //    });
    //})


    function SaveModel() {
        var types = 0;
        $(".types :checkbox").each(function (i) {

            if ($(this).attr("checked")) {
                if ($(this).attr("value")) {
                    types += parseInt($(this).attr("value"));
                }
            }
        });

        $.ajax({
            type: "POST",
            url: "/VIPAuthorizationRuleConfig/Edit",
            data: {
                "Id": $("input[name='Id']").val(),
                "RuleName": $("input[name='RuleName']").val(),
                "Description": $("input[name='Description']").val(),
                "ValidityDay": $("input[name='ValidityDay']").val(),
                "PrivilegeType": types
            },
            dataType: "JSON",
            success: function (result) {
                if (result) {
                    window.location.reload(true);
                }
            },
            error: function (result) {

            }
        });
    }
</script>