@using Tuhu.Provisioning.DataAccess.Entity;
@model Tuple<IEnumerable<string>, IEnumerable<TireSizeModel>>
@{
    ViewBag.Title = "安装费加价";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section head{
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <style>
        .title {
            float: left;
        }

        .content {
            clear: both;
        }

        .condition .name {
            font-size: 16px;
            font-weight: bold;
        }

        .condition label {
            font-size: 14px;
            margin-left: 10px;
        }

        .condition > div {
            margin-bottom: 10px;
        }

        table {
            width: 100%;
        }

        .data_count {
            color: #0026ff;
        }

        #EditSingle div {
            float: left;
            margin-right: 50px;
            width: 188px;
        }

        #EditMany div {
            float: left;
            margin-right: 50px;
            width: 188px;
        }

        span {
            word-break: break-all;
        }

        #add .title {
            font-size: 16px;
            font-weight: bold;
        }

        .tit.error {
            color: red;
        }


        #add {
            width: 721px;
            padding: 0 20px 10px;
            box-shadow: 0 0 0 10px rgba(3, 3, 3, 0.2);
            background-color: #fff;
            /*overflow: hidden;*/
            height: 500px;
            overflow-y: auto;
        }

            #add .close {
                position: relative;
                float: right;
                width: 20px;
                height: 16px;
                background: url(https://resource.tuhu.cn/Css/images/icon_modal.png) 0 -220px;
                margin-top: 14px;
                cursor: pointer;
                z-index: 111;
            }

            #add .SelectCar {
                float: left;
                width: 610px;
                margin: 9px 0 0 10px;
                font-size: 16px;
                font-weight: bold;
                color: #333;
            }

        .mybtn {
            width: 100px;
            height: 30px;
        }
    </style>
}
<div class="title">
    <h2>安装费加价管理</h2>
</div>

<div class="content">
    <div class="condition">
        <div>
            <span class="name">轮胎品牌：</span>
            <label><input type="checkbox" name="Brand" checked value="" />不限</label>
            @foreach (var item in Model.Item1)
            {
            <label><input type="checkbox" name="Brand" value="@item" />@item.Split('/')[0]</label>
            }
        </div>
        <div class="patternList">
            <span class="name">轮胎花纹：</span>
            <label><input type="checkbox" name="Pattern" checked value="" />不限</label>
        </div>
        <div>
            <span class="name">轮胎规格：</span>
            @Html.DropDownList("Tire_Width", Model.Item2.Select(T => T.Width).Distinct().OrderBy(v => v).Select(value => new SelectListItem() { Text = value, Value = value }), "胎面宽")<b>/</b>
            @Html.DropDownList("Tire_AspectRatio", Model.Item2.Select(T => T.AspectRatio).Distinct().OrderBy(v => v).Select(value => new SelectListItem() { Text = value, Value = value }), "扁平比")<b>R</b>
            @Html.DropDownList("Tire_Rim", Model.Item2.Select(T => T.Rim).Distinct().OrderBy(v => v).Select(value => new SelectListItem() { Text = value, Value = value }), "直径")
            <button onclick="TuhuTire.Logic.InstallFee.AddTireSize()">增加规格</button>
            <ul class="tireSizeList" style="margin-left: 44px;"></ul>
        </div>
        <div>
            <span class="name">尺寸：</span>
            <label><input type="checkbox" name="Rim" checked value="" />不限</label>
            @foreach (var item in Model.Item2.Select(T => T.Rim).Distinct().OrderBy(v => v))
            {
            <label><input type="checkbox" name="Rim" value="@item" />@item</label>
            }
        </div>
        <div>
            <span class="name">是否防爆：</span>
            <select class="rof">
                <option value="">不限</option>
                <option value="防爆">防爆</option>
                <option value="非防爆">非防爆</option>
            </select>
        </div>
        <div>
            <span class="name">是否雪地：</span>
            <select class="winter">
                <option value="">不限</option>
                <option value="雪地胎">雪地</option>
                <option value="四季通用胎">四季通用</option>
            </select>
        </div>
        <div>
            <span class="name">显示范围：</span>
            <select class="config">
                <option value="">全部</option>
                <option value="1">已配置</option>
                <option value="0">未配置</option>
            </select>
        </div>
        <div>
            <span class="name">是否上架：</span>
            <select class="onsale">
                <option value="">全部</option>
                <option value="1">上架</option>
                <option value="0">下架</option>
            </select>
        </div>
        <div>
            <span class="name">PID：</span>
            <input type="text" name="PID" value="" />
        </div>
        <div>
            <button onclick="TuhuTire.Logic.InstallFee.LoadList(1)" class="button_select" style="width: 400px;height: 30px;display: block;MARGIN-TOP: 12px;">查询</button>
        </div>
    </div>
    <div>
        每页显示：
        <select class="PageSize" onchange="TuhuTire.Logic.InstallFee.LoadList(1);">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="10000">10000</option>
        </select>条
        <span class="data_count"></span>
        <button onclick="TuhuTire.Logic.InstallFee.BitchEdit()">批量编辑</button>
    </div>
    <img class="loadimg" src="~/Scripts/layer/skin/default/loading-2.gif" style="margin:5% 50%;display:none;" />
    <div class="list">
    </div>

</div>
<div id="Edit" style="display:none;">
    <div>
        <b>PID：</b>
        <ul>
        </ul>
    </div>
    <div>
        <b>加价：</b>
        <input type="text" name="price" value="" />
    </div>
</div>
<div id="BitchEdit" style="display:none;">
    <div>
        <b>PID：</b>
        <ul>
        </ul>
    </div>
    <div>
        <b>加价：</b>
        <input type="text" name="price" value="" />
    </div>
</div>
@section scripts{
    <script src="~/Content/sweetalert/sweetalert.js"></script>
    <script src="~/Scripts/Tire.js"></script>
    <script type="text/javascript">
        $(function () {
            TuhuTire.Logic.InstallFee.LoadList(1);
            $(".list").on("click", ".pager>a", function (event) {
                event.preventDefault();
                var url = $(this).attr("href");
                if (url) {
                    $.post(url, function (html, status) {
                        if (status === "success") {
                            $(".list").html(html);
                        }
                    });
                }
            })
        });
        $(".condition").on("change", "div input[type=checkbox]", function () {
            if ($(this).prop("checked") && $(this).val() != "") {
                $(this).parent().parent().find("input[type=checkbox]:first").prop("checked", false);
            }
        }).on("change", "div input[name=Brand]", function () {
            var $target = $(this);
            if ($target.val() != "") {
                $.get("/Tire/GetPatternsByBrand", { brand: $target.val() }, function (result) {
                    if (result.length) {
                        if ($target.prop("checked")) {
                            var html = '';
                            $.each(result, function (i, v) {
                                html += '<label><input type="checkbox" name="Pattern" value="' + v + '">' + v + '</label>';
                            });
                            $(".patternList").append(html);
                        }
                        else {
                            $.each(result, function (i, v) {
                                $(".patternList input[name=Pattern]").each(function () {
                                    if ($(this).val() == v)
                                        $(this).parent().remove();
                                });
                            });
                        }
                    }
                });
            }
        });
    </script>
}
