@using Tuhu.Provisioning.DataAccess.Entity.Tire;
@using Tuhu.Provisioning;
@model Tuhu.Component.Common.Models.ListModel<ActivityItem>
    @{
        Layout = null;
        var selectModel = ViewBag.selectModel as ListActCondition;
    }
    @if (Model.Source.Any())
    {
        <table class="table" data-count="@Model.Pager.TotalItem" width="100%">
            <tr>
                <th>
                    <input type="checkbox" value="" name="selectAll" />全选
                </th>
                <th>品牌系列</th>
                <th>品牌</th>
                <th>车系</th>
                <th>规格</th>
                <th>车价</th>
                <th>活动ID</th>
                <th>活动名称</th>
                <th>优先级</th>
                <th>活动状态</th>
                <th>进行状态</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>弹框图片</th>
                <th>新弹框图片</th>
                <th>右下角图标</th>
                <th>按钮类型</th>
                <th>按钮文本</th>
                <th>优惠券ID</th>
                <th>添加时间</th>
                <th>更新时间</th>
                @*<th>其他活动</th>*@
                <th>关联PID</th>
                <th>操作</th>
                <th>操作历史</th>
            </tr>
            @foreach (var item in Model.Source)
            {

                <tr>
                    <td><input type="checkbox" name="selectSingle" value="" data-vehicleid="@item.VehicleId" data-tiresize="@item.TireSize" data-aid="@item.ActivityID" /></td>
                    <td>@item.BrandCategory</td>
                    <td>@item.Brand</td>
                    <td>@item.Vehicle</td>
                    <td>@item.TireSize</td>
                    <td>@(item.MinPrice == null ? "-" : item.MinPrice.Value.ToString("0.00"))</td>
                    <td>@(item.ActivityID == null ? "-" : item.ActivityID.Value.ToString())</td>
                    <td>@(item.ActivityName ?? "-")</td>
                    <td>@(item.Sort == 0 ? "-" : (item.Sort == 1 ? "高" : item.Sort == 2 ? "中" : "低"))</td>
                    <td>@(item.Status == null ? "-" : (item.Status.Value == 0 ? "禁用" : "启用"))</td>
                    <td>@(item.StartTime == null ? "-" : (item.Status.Value == 0 ? "禁用" : (item.StartTime.Value > DateTime.Now ? "未开始" : (item.EndTime <= DateTime.Now ? "已结束" : "进行中"))))</td>
                    <td>@(item.StartTime == null ? "-" : item.StartTime.Value.ToString("yyyy-MM-dd HH:mm:ss"))</td>
                    <td>@(item.EndTime == null ? "-" : item.EndTime.Value.ToString("yyyy-MM-dd HH:mm:ss"))</td>
                    <td>
                        @if (item.Image == null)
                    {
                            <span>-</span>
                        }
                        else
                        {
                            <img src="@item.Image" class="img" />
                        }
                    </td>
                    <td>
                        @if (item.Image2 == null)
                    {
                            <span>-</span>
                        }
                        else
                        {
                            <img src="@item.Image2" class="img" />
                        }
                    </td>
                    <td>
                        @if (item.Icon == null)
                    {
                            <span>-</span>
                        }
                        else
                        {
                            <img src="@item.Icon" class="img" />
                        }
                    </td>
                    <td>@(item.ButtonType == null ? "-" : (item.ButtonType.Value == 0 ? "立即参与" : "立即领券"))</td>
                    <td>@(item.ButtonText ?? "-")</td>
                    <td>@(item.GetRuleGUID == null ? "-" : item.GetRuleGUID.ToString())</td>
                    <td>@(item.CreateTime == null ? "-" : item.CreateTime.Value.ToString("yyyy-MM-dd HH:mm:ss"))</td>
                    <td>@(item.UpdateTime == null ? "-" : item.UpdateTime.Value.ToString("yyyy-MM-dd HH:mm:ss"))</td>
                    @*<td>
                            @if (item.ActivityID == null)
                            {
                                <span>-</span>
                            }
                            else
                            {
                                <a target="_blank" href="/Tire/OtherActivity?vehicleid=@(item.VehicleId)&tiresize=@(item.TireSize)">查看</a>
                            }
                        </td>*@
                    <td>
                        @if (item.ActivityID == null)
                    {
                            <span>-</span>
                        }
                        else
                        {
                            <a href="javascripts:void(0);" onclick="TuhuTire.Logic.ListActivity.ShowRelationPIDs('@item.ActivityID')">查看</a>
                        }
                    </td>
                    <td>
                        @if (item.ActivityID != null)
                    {
                            <a href="javascripts:void(0);" onclick="TuhuTire.Logic.ListActivity.EditActivity('@item.ActivityID')">编辑</a><br /><a href="javascripts:void(0);" onclick="TuhuTire.Logic.ListActivity.Delete('@item.ActivityID')">删除</a>
                        }
                    </td>
                    <td>
                        @if (item.ActivityID != null)
                    {
                            <a target="_blank" href="/Tire/ListActivityLog?key=@(item.ActivityID)">查看</a>
                        }
                    </td>
                </tr>
            }

        </table>
        @Html.Pager(Model.Pager, true, id => Url.Action("ListActivityList", new
{
    VehicleId = selectModel.VehicleId,
    ActivityName = selectModel.ActivityName,
    Department = selectModel.Department,
    EndTime = selectModel.EndTime,
    IngType = selectModel.IngType,
    IsActive = selectModel.IsActive,
    PriceRange = selectModel.PriceRange,
    ShowType = selectModel.ShowType,
    StartTime = selectModel.StartTime,
    TireSize = selectModel.TireSize,
    VehicleBodyType = selectModel.VehicleBodyType,
    IsRof = selectModel.IsRof,
    Sort=selectModel.Sort,
    pageSize = Model.Pager.PageSize,
    pageIndex = id
}))
    }

    <script>
        $("[name=selectAll]").change(function () {
            $("[name=selectSingle]").prop("checked", $(this).prop("checked"));
        })
    </script>
