@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.ConfigHistory>
@{
    ViewBag.Title = "轮胎花纹评测日志";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null && Model.Any())
{

    <table style="width:100%;margin-top:20px">
        <tr>
            <th>品牌</th>
            <th>花纹</th>
            <th>PKID</th>
            <th>图片</th>
            <th>标题</th>
            <th>描述</th>
            <th>作者</th>
            <th>时间</th>
            <th>链接</th>
            <th>是否在详情页展示</th>
            <th>操作人</th>
            <th>操作时间</th>
            <th>操作内容</th>
        </tr>
        @foreach (var opr in Model)
        {
            var beforeValue = Newtonsoft.Json.JsonConvert.DeserializeObject<Tuhu.Provisioning.DataAccess.Entity.TirePatternModel>(opr.BeforeValue);
            <tr>
                <td>@beforeValue.Brand</td>
                <td>@beforeValue.Pattern</td>
                <td>@(beforeValue.PKID == 0 ? "" :beforeValue.PKID.ToString())</td>
                <td><img src="@("https://image.tuhu.cn" + beforeValue.Image)" width="100" height="100" /></td>
                <td>@beforeValue.Title</td>
                <td>@beforeValue.Describe</td>
                <td>@beforeValue.Author</td>
                <td>@beforeValue.Date.GetValueOrDefault().ToString("yyyy-MM-dd")</td>
                <td>@beforeValue.ArticleLink</td>
                <td>@(beforeValue.IsShow??false?"是":"否")</td>
                <td>@opr.Author</td>
                <td>@opr.ChangeDatetime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@opr.Operation</td>
            </tr>
        }
    </table>
}
else
{
    <h1>无操作</h1>
}

