@using Tuhu.Provisioning.DataAccess.Entity;
@using Tuhu.Provisioning;
@model Tuhu.Component.Common.Models.ListModel<TireListModel>
    @{
        Layout = null;
        var selectModel = ViewBag.SelectModel as PriceSelectModel;
    }
    @helper ShowPrice(decimal? price, string pid, string type)
    {

        if (price == null)
        {
            <span>-</span>
        }
        else
        {
            if (pid == null)
            {
                <span>@price.Value.ToString("0")</span>
            }
            else
            {
                var href = string.Empty;
                var tempPid = pid.Split(',');
                if (tempPid.Length == 2 && !string.IsNullOrWhiteSpace(tempPid[1]) && Convert.ToUInt64(tempPid[1]) > 0)
                {
                    switch (type)
                    {
                        case "TB":
                            href = "https://item.taobao.com/item.htm?id=" + tempPid[0] + "&skuid=" + tempPid[1]; break;
                        case "TM":
                            href = "https://detail.tmall.com/item.htm?id=" + tempPid[0] + "&skuid=" + tempPid[1]; break;
                        case "JD":
                            href = "http://item.jd.com/" + tempPid[0] + ".html"; break;
                        case "MLT":
                            href = "http://www.mailuntai.cn/product/" + tempPid[0] + ".html"; break;
                        case "QCCRL":
                            href = "http://www.qccr.com/detail/" + tempPid[0] + ".html"; break;
                        case "QCCRP":
                            href = "https://pch.qccr.com/html/goods/itemdetail.html?id=" + tempPid[0]; break;
                    }
                }
                else
                {
                    switch (type)
                    {
                        case "TB":
                            href = "https://item.taobao.com/item.htm?id=" + tempPid[0]; break;
                        case "TM":
                            href = "https://detail.tmall.com/item.htm?id=" + tempPid[0]; break;
                        case "JD":
                            href = "http://item.jd.com/" + tempPid[0] + ".html"; break;
                        case "MLT":
                            href = "http://www.mailuntai.cn/product/" + tempPid[0] + ".html"; break;
                        case "QCCRL":
                            href = "http://www.qccr.com/detail/" + tempPid[0] + ".html"; break;
                        case "QCCRP":
                            href = "https://pch.qccr.com/html/goods/itemdetail.html?id=" + tempPid[0]; break;
                    }
                }

                <a target="_blank" href="@href">@price.Value.ToString("0")</a>
            }
        }

    }
    @if (Model.Source.Any())
    {
        <table data-count="@Model.Pager.TotalItem" class="table" width="100%">
            <tr>
                <th>品牌</th>
                <th>PID</th>
                <th>产品名称</th>
                <th>原配车型</th>
                <th>上架状态</th>
                <th>展示状态</th>
                <th>库存</th>
                @if (ViewBag.PageType != "see")
                {
                    <th>采购在途</th>
                    <th>近7天销量</th>
                    <th>近30天销量</th>
                    <th>近3个月销量</th>
                    <th>周转天数(库存/30天月销 ×30)</th>
                    <th>进货价</th>
                    <th>最近一次采购价</th>
                    <th>理论指导价</th>
                    <th>实际指导价</th>
                }
                <th>官网价格</th>
                @if (ViewBag.PageType != "see")
                {
                    if (string.IsNullOrWhiteSpace(ViewBag.PageType))
                    {
                        <th>操作</th>
                        <th>活动价</th>
                    }
                    <th>毛利率((官网价-进货价)/官网价)</th>
                    <th>毛利额</th>
                }
                <th>途虎淘宝</th>
                <th>途虎淘宝2</th>
                <th>途虎天猫1</th>
                <th>途虎天猫2</th>
                <th>途虎天猫3</th>
                <th>途虎天猫4</th>
                <th>途虎京东</th>
                <th>途虎京东旗舰</th>
                <th>途虎京东机油</th>
                <th>途虎京东服务</th>
                <th>汽配龙</th>
                @if (ViewBag.PageType != "see")
                {
                    <th>汽配龙毛利额(汽配龙价-进货价)</th>
                    <th>汽配龙毛利率</th>
                    <th>工厂店毛利额(官网价-汽配龙价)</th>
                    <th>工厂店毛利率</th>
                }

                <th>京东自营</th>
                <th>京东自营Plus</th>
                <th>特维轮天猫</th>
                <th>汽车超人零售</th>
                <th>汽车超人批发</th>
                @if (string.IsNullOrWhiteSpace(ViewBag.PageType))
                {
                    <th>全网最低价</th>
                    <th>操作历史</th>
                }
                <th>神券价</th>
                @*@if (string.IsNullOrWhiteSpace(ViewBag.PageType))
                    {
                        <th>劵后价操作</th>
                        <th>劵后价操作历史</th>
                    }*@

            </tr>
            @foreach (var item in Model.Source)
            {
                var guidePriceStr = item.cost == null ? "-" : (item.cost.Value + item.cost.Value * item.JiaQuan / 100).ToString("0.00");
                var guidePriceStr_1 = "-";
                var ShowStatus = "N/A";
                if (item.ShowStatus == 1)
                {
                    ShowStatus = "有货";
                }
                else if (item.ShowStatus == 2)
                {
                    ShowStatus = "缺货";
                }
                else if (item.ShowStatus == 3)
                {
                    ShowStatus = "不展示";
                }
                if (guidePriceStr == "-")
                {
                    if (item.JDSelfPrice != null)
                    {
                        guidePriceStr_1 = item.JDSelfPrice.Value.ToString("0.00");
                    }
                }
                else
                {
                    if (item.JDSelfPrice == null)
                    {
                        guidePriceStr_1 = guidePriceStr;
                    }
                    else
                    {
                        if (Convert.ToDecimal(guidePriceStr) >= Convert.ToDecimal(item.JDSelfPrice))
                        {
                            guidePriceStr_1 = item.JDSelfPrice.Value.ToString("0.00");
                        }
                        else
                        {
                            guidePriceStr_1 = guidePriceStr;
                        }
                    }
                }
                //var tuhuPriceBgcolor = "";
                //if (guidePriceStr_1 != "-")
                //{
                //    var gprice = Convert.ToDecimal(guidePriceStr_1);
                //    if (gprice > 0)
                //    {
                //        var per = (item.Price - gprice) / gprice;
                //        if (per >= 0.05M)
                //        {
                //            tuhuPriceBgcolor = "#f39122";
                //        }
                //        if (per <= -0.05M)
                //        {
                //            tuhuPriceBgcolor = "red";
                //        }
                //    }
                //}
                var tuhuPriceBgcolor = "";
                if (selectModel.MatchWarnLine == 1)
                {
                    tuhuPriceBgcolor = "#f39122";
                }
                else if (selectModel.MatchWarnLine == -1)
                {
                    tuhuPriceBgcolor = "red";
                }
                if (selectModel.Type == 1
                && item.cost != null &&
                (selectModel.Contrast == 1 &&
                Convert.ToDouble(item.Price / item.cost.Value) >= selectModel.Proportion
                || selectModel.Contrast == -1
                && Convert.ToDouble(item.Price / item.cost.Value) <= selectModel.Proportion))
                {
                    tuhuPriceBgcolor = "#CBD8DC";
                }
                if (item.Price > item.JDSelfPrice && item.Price > item.TWLTMPrice && item.Price > item.MLTTMPrice)
                {
                    tuhuPriceBgcolor = "red";
                }

                var QPLProfi = item.QPLPrice != null && item.cost != null ? (item.QPLPrice.Value - item.cost.Value).ToString("0.00") : "-";
                var QPLProfitRate = item.cost != null && item.QPLPrice != null && item.QPLPrice.Value != 0 ? ((item.QPLPrice.Value - item.cost.Value) / item.QPLPrice.Value).ToString("0.00%") : "-";

                var ShopProfit = item.Price > 0 && item.QPLPrice != null ? (item.Price - item.QPLPrice.Value).ToString("0.00") : "-";
                var ShopProfitRate = item.Price > 0 && item.QPLPrice != null ? ((item.Price - item.QPLPrice.Value) / item.Price).ToString("0.00%") : "-";
                <tr data-SingleCustomPrice="@item.SingleCustomPrice">
                    <td>@(item.Brand ?? "-")</td>
                    <td>@item.PID</td>
                    <td>@item.ProductName</td>
                    <td>
                        @if (item.VehicleCount == 0)
                        {
                            @:0
                        }
                        else
                        {
                            <a href="javascript:void(0)" onclick="Func.LookYuanPei('@item.PID')">@item.VehicleCount</a>
                        }
                    </td>
                    <td>@(item.OnSale == 0 ? "下架" : "上架")</td>
                    <td><a href="/tire/TireStockoutWhite?pid=@(item.PID)" target="_blank">@ShowStatus</a></td>
                    <td><a href="javascript:void(0)" onclick="Func.LookSaleNum('@item.PID','@item.ProductName','@(item.num_week == null ? "-" : item.num_week.Value.ToString())','@(item.num_month == null ? "-" : item.num_month.Value.ToString())','@(item.num_threemonth == null ? "-" : item.num_threemonth.Value.ToString())','@(item.totalstock == null ? "-" : item.totalstock.Value.ToString())','@(item.SelfStock == null ? "-" : item.SelfStock.Value.ToString())','@(item.CaigouZaitu == null ? "-" : item.CaigouZaitu.Value.ToString())')">@(item.totalstock == null ? "-" : item.totalstock.Value.ToString())</a></td>
                    @if (ViewBag.PageType != "see")
                    {
                        <td><a href="javascript:void(0)" onclick="Func.LookSaleNum('@item.PID','@item.ProductName','@(item.num_week == null ? "-" : item.num_week.Value.ToString())','@(item.num_month == null ? "-" : item.num_month.Value.ToString())','@(item.num_threemonth == null ? "-" : item.num_threemonth.Value.ToString())','@(item.totalstock == null ? "-" : item.totalstock.Value.ToString())','@(item.SelfStock == null ? "-" : item.SelfStock.Value.ToString())','@(item.CaigouZaitu == null ? "-" : item.CaigouZaitu.Value.ToString())')">@(item.CaigouZaitu == null ? "-" : item.CaigouZaitu.Value.ToString())</a></td>
                        <td><a href="javascript:void(0)" onclick="Func.LookSaleNum('@item.PID','@item.ProductName','@(item.num_week == null ? "-" : item.num_week.Value.ToString())','@(item.num_month == null ? "-" : item.num_month.Value.ToString())','@(item.num_threemonth == null ? "-" : item.num_threemonth.Value.ToString())','@(item.totalstock == null ? "-" : item.totalstock.Value.ToString())','@(item.SelfStock == null ? "-" : item.SelfStock.Value.ToString())','@(item.CaigouZaitu == null ? "-" : item.CaigouZaitu.Value.ToString())')">@(item.num_week == null ? "-" : item.num_week.Value.ToString())</a></td>
                        <td><a href="javascript:void(0)" onclick="Func.LookSaleNum('@item.PID','@item.ProductName','@(item.num_week == null ? "-" : item.num_week.Value.ToString())','@(item.num_month == null ? "-" : item.num_month.Value.ToString())','@(item.num_threemonth == null ? "-" : item.num_threemonth.Value.ToString())','@(item.totalstock == null ? "-" : item.totalstock.Value.ToString())','@(item.SelfStock == null ? "-" : item.SelfStock.Value.ToString())','@(item.CaigouZaitu == null ? "-" : item.CaigouZaitu.Value.ToString())')">@(item.num_month == null ? "-" : item.num_month.Value.ToString())</a></td>
                        <td><a href="javascript:void(0)" onclick="Func.LookSaleNum('@item.PID','@item.ProductName','@(item.num_week == null ? "-" : item.num_week.Value.ToString())','@(item.num_month == null ? "-" : item.num_month.Value.ToString())','@(item.num_threemonth == null ? "-" : item.num_threemonth.Value.ToString())','@(item.totalstock == null ? "-" : item.totalstock.Value.ToString())','@(item.SelfStock == null ? "-" : item.SelfStock.Value.ToString())','@(item.CaigouZaitu == null ? "-" : item.CaigouZaitu.Value.ToString())')">@(item.num_threemonth == null ? "-" : item.num_threemonth.Value.ToString())</a></td>
                        <td>@((item.totalstock.GetValueOrDefault(0) / (Math.Max(1, item.num_month.GetValueOrDefault(0)) / 30.0)).ToString("0.00"))</td>
                        <td class="join4" data-name="cost">
                            @if (item.cost == null)
                            {
                                @:-
                            }
                            else
                            {
                                <a href="javascript:void(0)" onclick="Func.ShowZXTCost('@item.PID')">@item.cost.Value.ToString("0.00")</a>
                            }
                        </td>
                        <td>@(item.PurchasePrice == null ? "-" : item.PurchasePrice.Value.ToString("0.00"))</td>
                        <td class="guide_price"><span>@guidePriceStr</span></td>
                        <td>@guidePriceStr_1</td>
                    }
                    <td class="tuhu join4" data-name="list" style="background-color:@tuhuPriceBgcolor"><a href="javascript:void(0)" style="color:@(tuhuPriceBgcolor != "" ? "#fff" : "");" onclick="Func.ShowZXTPrice('@item.PID')">@item.Price.ToString("0.00")</a></td>
                    @if (ViewBag.PageType != "see")
                    {
                        if (string.IsNullOrWhiteSpace(ViewBag.PageType))
                        {
                            <td class="opr_price"><a href="javascript:void(0)" onclick="Func.UpdatePrice('@item.PID','@guidePriceStr_1','@(item.Price.ToString("0.00"))','@item.UpperLimit','@item.LowerLimit','@item.MarketingPrice')">修改</a></td>
                            <td><a href="javascript:void(0)" onclick="Func.LookFlashSalePrice('@item.PID')">@(item.ActivePrice == null ? "无" : ((decimal)item.ActivePrice).ToString("0.00"))</a></td>
                        }

                        <td>@(item.cost.GetValueOrDefault(0) > 0 && item.Price > 0 ? ((item.Price - item.cost.Value) / item.Price).ToString("0.00%") : "-")</td>
                        <td>@(item.cost.GetValueOrDefault(0) > 0 && item.Price > 0 ? (item.Price - item.cost.Value).ToString("0.00") : "-")</td>
                    }
                    <td class="tuhu_self join4" data-name="taobao1">@ShowPrice(item.TBPrice, item.TBPID, "TB")</td>
                    <td class="tuhu_self join4" data-name="taobao2">@ShowPrice(item.TB2Price, item.TB2PID, "TB")</td>
                    <td class="tuhu_self join4" data-name="tmall1">@ShowPrice(item.TM1Price, item.TM1PID, "TM")</td>
                    <td class="tuhu_self join4" data-name="tmall2">@ShowPrice(item.TM2Price, item.TM2PID, "TM")</td>
                    <td class="tuhu_self join4" data-name="tmall3">@ShowPrice(item.TM3Price, item.TM3PID, "TM")</td>
                    <td class="tuhu_self join4" data-name="tmall4">@ShowPrice(item.TM4Price, item.TM4PID, "TM")</td>
                    <td class="tuhu_self join4" data-name="tuhujd">@ShowPrice(item.JDPrice, item.JDPID, "JD")</td>
                    <td class="tuhu_self join4" data-name="jingdongqj">@ShowPrice(item.JDFlagShipPrice, item.JDFlagShipPID, "JD")</td>
                    <td class="tuhu_self join4" data-name="tuhujdjy">@ShowPrice(item.JDJYPrice, item.JDJYPID, "JD")</td>
                    <td class="tuhu_self join4" data-name="tuhujdfw">@ShowPrice(item.JDFWPrice, item.JDFWPID, "JD")</td>
                    <td class="join4" data-name="qipeilong" style="background-color:@(selectModel.Type==1&&item.cost!=null&&item.QPLPrice!=null&&(selectModel.Contrast==1&&Convert.ToDouble(item.QPLPrice.Value/item.cost.Value)>=selectModel.Proportion||selectModel.Contrast==-1&&Convert.ToDouble(item.QPLPrice.Value/item.cost.Value)<=selectModel.Proportion)?"#CBD8DC":"")"><a>@(item.QPLPrice == null ? "-" : item.QPLPrice.Value.ToString("0"))</a></td>
                    @if (ViewBag.PageType != "see")
                    {
                        <td>@QPLProfi</td>
                        <td>@QPLProfitRate</td>
                        <td>@ShopProfit</td>
                        <td>@ShopProfitRate</td>
                    }

                    <td class="tuhu_other join4" data-name="jingdongself">@ShowPrice(item.JDSelfPrice, item.JDSelfPID, "JD")</td>
                    <td class="tuhu_other join4" data-name="jingdongplus">@(item.JDPlus == null ? "-" : item.JDPlus.Value.ToString("0.00"))</td>
                    <td class="tuhu_other join4" data-name="tmalltwl">@ShowPrice(item.TWLTMPrice, item.TWLTMPID, "TM")</td>
                    <td class="tuhu_other join4" data-name="qccrl">@ShowPrice(item.MLTTMPrice, item.MLTTMPID, "QCCRL")</td>
                    <td class="join4" data-name="qccrp">@ShowPrice(item.MLTPrice, item.MLTPID, "QCCRP")</td>
                    @if (string.IsNullOrWhiteSpace(ViewBag.PageType))
                    {
                        <td><a href="javascript:void(0)" onclick="Func.ShowMonitor('@item.PID','@item.ProductName','@item.MinPrice')"> @(item.MinPrice > 0 ? item.MinPrice.ToString("0") : "-")</a></td>
                        <td><a href="/Tire/PriceChangeLog?pid=@item.PID" target="_blank">查看</a></td>
                    }
                    @if (string.IsNullOrWhiteSpace(ViewBag.PageType))
                    {
                        <td class="join4" data-name="coupon"><a href="javascript:void(0)" onclick="Func.UpdateCouponPrice('@item.PID','@item.Brand','@item.cost','@item.PurchasePrice','@item.totalstock','@item.num_week','@item.num_month','@guidePriceStr_1','@item.JDPrice','@item.MLTPrice','@item.ProductName','@item.Price','@(item.CouponPrice==null ?  "-" : ((decimal)(item.CouponPrice)).ToString("0.00"))')">@(item.CouponPrice == null ? "-" : ((decimal)item.CouponPrice).ToString("0.00"))</a></td>
                        //<td><a href="/Tire/CouponPriceChangeLog?pid=@item.PID" target="_blank">查看</a></td>
                    }
                    else
                    {
                        <td class="join4" data-name="coupon">@(item.CouponPrice == null ? "-" : ((decimal)item.CouponPrice).ToString("0.00"))</td>
                    }

                </tr>
            }

        </table>
        @Html.Pager(Model.Pager, true, id => Url.Action("PriceProductList", new
   {
       ProductName = selectModel.ProductName,
       PID = selectModel.PID,
       Brand = selectModel.Brand,
       Patterns = selectModel.Patterns,
       TireSize = selectModel.TireSize,
       Rims = selectModel.Rims,
       StockStatus = selectModel.StockStatus,
       Type = selectModel.Type,
       Contrast = selectModel.Contrast,
       Proportion = selectModel.Proportion,
       MaoLiE = selectModel.MaoLiE,
       MatchMaoLiE = selectModel.MatchMaoLiE,
       QplMaoLiLv = selectModel.QplMaoLiLv,
       MatchQplMaoLiLv = selectModel.MatchQplMaoLiLv,
       QplMaoLiE = selectModel.QplMaoLiE,
       MatchQplMaoLiE = selectModel.MatchQplMaoLiE,
       ShopMaoLiLv = selectModel.ShopMaoLiLv,
       MatchShopMaoLiLv = selectModel.MatchShopMaoLiLv,
       ShopMaoLiE = selectModel.ShopMaoLiE,
       MatchShopMaoLiE = selectModel.MatchShopMaoLiE,
       PCPricePer = selectModel.PCPricePer,
       MatchPCPricePer = selectModel.MatchPCPricePer,
       OnSaleStatus = selectModel.OnSaleStatus,
       MatchWarnLine = selectModel.MatchWarnLine,
       MatchStock = selectModel.MatchStock,
       MatchStockValue = selectModel.MatchStockValue,
       MatchZZTS = selectModel.MatchZZTS,
       MatchZZTSValue = selectModel.MatchZZTSValue,
       pageSize = Model.Pager.PageSize,
       SingleCustomPrice = selectModel.SingleCustomPrice,
       ManyCustomPrice = selectModel.ManyCustomPrice,
       pageIndex = id,
       pageType = ViewBag.PageType,
       MonthCount = selectModel.MonthCount,
       MonthCountValue = selectModel.MonthCountValue,
       WeekCount = selectModel.WeekCount,
       WeekCountValue = selectModel.WeekCountValue,
       ShowStatus = selectModel.ShowStatus,
       VehicleCount = selectModel.VehicleCount,
       VehicleCountValue = selectModel.VehicleCountValue
   }))
    }
    <script>
        var type = "@selectModel.Type",
            contrast = "@selectModel.Contrast",
            manyCustomPrice='@selectModel.ManyCustomPrice';
            proportion = parseFloat("@selectModel.Proportion");
        if (type > 1) {
            if (type == 4) {
                $(".join4").each(function () {
                    var $target = $(this);
                    if ($target.find("a").length == 1) {
                        var price = parseFloat($target.find("a").text());
                        var custonPrice = parseFloat($target.parent().attr("data-SingleCustomPrice"));
                        console.log(custonPrice);
                        var per = price / custonPrice;
                        if (((contrast == -1 && per <= proportion) || (per >= proportion && contrast == 1)) && manyCustomPrice.indexOf($target.attr("data-name"))>=0) {
                            $target.css('background-color', '#e3b3e6');
                        }
                    }
                    if ($target.attr("data-name") == "coupon") {
                        var price = parseFloat($target.text());
                        var custonPrice = parseFloat($target.parent().attr("data-SingleCustomPrice"));
                        console.log(custonPrice);
                        var per = price / custonPrice;
                        if (((contrast == -1 && per <= proportion) || (per >= proportion && contrast == 1)) && manyCustomPrice.indexOf($target.attr("data-name")) >= 0) {
                            $target.css('background-color', '#e3b3e6');
                        }
                    }
                });
            }

            $(".list>table td").each(function () {
                var $target = $(this);
                if ($target.find("a").length == 1) {
                    var price = parseFloat($target.find("a").text());
                    var tuhu_price = parseFloat($target.parent().find(".tuhu>a").text());
                    var per = price / tuhu_price;

                    if (type == 2 && $target.hasClass("tuhu_self") || (type == 3 && $target.hasClass("tuhu_other"))) {
                        if ((contrast == -1 && per <= proportion) || (per >= proportion && contrast == 1)) {
                            $target.addClass("color");
                        }
                    }
                }
            });
        }
    </script>

