@using Tuhu.Provisioning.DataAccess.Entity;
@using Tuhu.Provisioning;
@model Tuhu.Component.Common.Models.ListModel<QZTJModel>
@{
    Layout = null;
    var QZTJ = ViewBag.QZTJ as QZTJSelectModel;
}
@helper ShowProduct(QZTJModel model, int postion)
    {
        if (model.Products.Any(C => C.Postion == postion))
        {
            var temp = model.Products.FirstOrDefault(C => C.Postion == postion);
            if (string.IsNullOrWhiteSpace(temp.PID))
            {
                <td>无</td>
            }
            else
            {
                <td><a href="https://item.tuhu.cn/Products/@(temp.RecommendPID.Replace("|", "/")).html" target="_blank">@temp.RecommendPID</a></td>
            }

            <td>@(string.IsNullOrWhiteSpace(temp.Reason) ? "无" : temp.Reason)</td>
            if (postion != 4)
            {
                if (string.IsNullOrWhiteSpace(temp.Image))
                {
                    <td>无</td>
                }
                else
                {
                    <td><a href="@("https://img1.tuhu.org" + temp.Image)" target="_blank">查看图片</a></td>
                }
            }
        }
        else
        {
            <td>无</td>
            <td>无</td>
            if (postion != 4)
            {
                <td>无</td>}
        }
}
@if (Model.Source.Any())
{
    <table data-count="@Model.Pager.TotalItem">
        <tr>
            <th>
                <input type="checkbox" name="SelectAll" value="" />全选
            </th>
            <th>原轮胎</th>
            <th>推荐轮胎1</th>
            <th>推荐原因1</th>
            <th>轮胎图片1</th>
            <th>推荐轮胎2</th>
            <th>推荐原因2</th>
            <th>轮胎图片2</th>
            <th>推荐轮胎3</th>
            <th>推荐原因3</th>
            <th>轮胎图片3</th>
            <th>浮层推荐PID</th>
            <th>浮层推荐语</th>
            <th>操作</th>
            <th>日志</th>
        </tr>
        @foreach (var item in Model.Source)
        {
            var pidModel1 = item.Products.FirstOrDefault(C => C.Postion == 1);
            var pidModel2 = item.Products.FirstOrDefault(C => C.Postion == 2);
            var pidModel3 = item.Products.FirstOrDefault(C => C.Postion == 3);
            var pidModel4 = item.Products.FirstOrDefault(C => C.Postion == 4);
            var json = new
            {
                PID = item.PID,
                DisplayName = item.DisplayName,
                TireSize = item.TireSize,
                PID1 = pidModel1 == null ? "" : pidModel1.RecommendPID,
                Reason1 = pidModel1 == null ? "" : pidModel1.Reason,
                Image1 = pidModel1 == null ? "" : pidModel1.Image,
                ProductName1 = pidModel1 == null ? "" : pidModel1.ProductName,
                PID2 = pidModel2 == null ? "" : pidModel2.RecommendPID,
                Reason2 = pidModel2 == null ? "" : pidModel2.Reason,
                Image2 = pidModel2 == null ? "" : pidModel2.Image,
                ProductName2 = pidModel2 == null ? "" : pidModel2.ProductName,
                PID3 = pidModel3 == null ? "" : pidModel3.RecommendPID,
                Reason3 = pidModel3 == null ? "" : pidModel3.Reason,
                Image3 = pidModel3 == null ? "" : pidModel3.Image,
                ProductName3 = pidModel3 == null ? "" : pidModel3.ProductName,
                PID4 = pidModel4 == null ? "" : pidModel4.RecommendPID,
                Reason4 = pidModel4 == null ? "" : pidModel4.Reason,
                ProductName4 = pidModel4 == null ? "" : pidModel4.ProductName,
            };
            <tr>
                <td><input type="checkbox" name="Selected" value="" data-TireSize="@item.TireSize" data-PID="@item.PID" /></td>
                <td><a target="_blank" href="https://item.tuhu.cn/Products/@(item.PID.Replace("|","/")).html">@item.PID</a></td>
                @ShowProduct(item, 1)
                @ShowProduct(item, 2)
                @ShowProduct(item, 3)
                @ShowProduct(item, 4)
                <td><a href="javascript:void(0)" onclick="Func.ShowEditSingleDialog('@(Newtonsoft.Json.JsonConvert.SerializeObject(json))')">编辑</a>-<a href="javascript:void(0)" onclick="Func.Delete('@item.PID')">删除</a></td>
                <td><a href="/Tire/QZTJOprLog?pid=@(item.PID)" target="_blank">查看日志</a></td>
            </tr>
        }
    </table>
    @Html.Pager(Model.Pager, true, id => Url.Action("QZTJList", new { TireSize = QZTJ.TireSize, PID = QZTJ.PID, RecommendPID = QZTJ.RecommendPID, Brands = QZTJ.Brands, ShowType = QZTJ.ShowType, pageIndex = id, pageSize = ViewBag.pageSize }));
}
<script>
    $("[name=SelectAll]").change(function () {
        $("[name=Selected]").prop("checked", $(this).prop("checked"));
    })
</script>
