
@using Tuhu.Provisioning.DataAccess.Entity;
@{
    Layout = null;

    var vipList = ViewBag.VIPList;
}

@model Tuhu.Provisioning.DataAccess.Entity.SE_HomePageModuleContentConfig

<div class="modal-dialog" style="width:900px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title">
                编辑模块内容

            </h4>
        </div>
        <div class="modal-body">
            <form id="form1" class="form-horizontal">
                <div class="form-group" id="Rank">
                    <label class="col-sm-2 control-label">用户等级:</label>
                    <div class="col-sm-4">
                        <select id="UserRank">
                            <option value="-1">请选择</option>
                            <option value="V0">Lv0</option>
                            <option value="V1">Lv1</option>
                            <option value="V2">Lv2</option>
                            <option value="V3">Lv3</option>
                            <option value="V4">Lv4</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">VIP:</label>
                    <div class="col-sm-4">
                        <select id="VIPRank">
                            <option value="-1">请选择</option>
                            @foreach (var item in vipList)
                            {
                                if (item.Id.ToString() == Model.VIPRank)
                                {
                                    <option value="@item.Id" selected="selected">@item.RuleName</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.RuleName</option>
                                }

                            }

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">名称:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" />
                    </div>
                    <label class="col-sm-2 control-label">渠道:</label>
                    <div class="col-sm-4">
                        <select id="DeviceType" name="DeviceType">
                            <option value="0" @(Model.DeviceType == 0 ? "selected=\"selected\"" : "")>全部</option>
                            <option value="1" @(Model.DeviceType == 1 ? "selected=\"selected\"" : "")>Android</option>
                            <option value="2" @(Model.DeviceType == 2 ? "selected=\"selected\"" : "")>IOS</option>
                            <option value="3" @(Model.DeviceType == 3 ? "selected=\"selected\"" : "")>移动站</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">开始版本：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="StartVersion" name="StartVersion" value="@Model.StartVersion" />
                    </div>
                    <label class="col-sm-2 control-label">结束版本：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="EndVersion" name="EndVersion" value="@Model.EndVersion" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">按钮图片:</label>
                    <div class="col-sm-4">
                        <img width="30" height="30" style="display:inline;" id="imgButton" @(string.IsNullOrWhiteSpace(Model.ButtonImageUrl) == false ? "src=" + Model.ButtonImageUrl : "") />
                        <input type="file" id="uploadButtonImg" name="uploadButtonImg" style="display:inline;width:120px;" onchange="UploadBgImg(this, 'imgButton', 'ButtonImageUrl')" />

                    </div>
                    <label class="col-sm-2 control-label">按钮图片Url:</label>
                    <div class="col-sm-4">
                        <input type="text" id="ButtonImageUrl" name="ButtonImageUrl" class="form-control" value="@Model.ButtonImageUrl" />
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Banner图片：</label>
                    <div class="col-sm-4">
                        <img width="30" height="30" style="display:inline;" id="imgBanner" @(string.IsNullOrWhiteSpace(Model.BannerImageUrl) == false ? "src=" + Model.BannerImageUrl : "") />
                        <input type="file" id="upBannerImg" name="upBannerImg" style="display:inline;width:120px;" onchange="UploadBgImg(this, 'imgBanner', 'BannerImageUrl')" />

                    </div>
                    <label class="col-sm-2 control-label">Banner图片Url：</label>
                    <div class="col-sm-4">
                        <input type="text" id="BannerImageUrl" name="BannerImageUrl" class="form-control" value="@Model.BannerImageUrl" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">链接:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="LinkUrl" name="LinkUrl" value="@Model.LinkUrl" />
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">没有编码链接:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="NoLinkUrl" name="NoLinkUrl" value="@(Model.LinkUrl)" readonly="readonly" />
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label">统计：</label>
                    <div class="col-sm-4">
                        <input type="text" id="UriCount" name="UriCount" class="form-control" value="@(Model.UriCount)" />
                    </div>
                    <label class="col-sm-2 control-label">优先级:(修改时注意优先级不能重复)</label>
                    <div class="col-sm-4">
                        <input type="text" id="PriorityLevel" name="PriorityLevel" value="@Model.PriorityLevel" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">状态：</label>
                    <div class="col-sm-10">
                        <input type="radio" name="IsEnabled" value="true" @(Model.IsEnabled == true ? "checked=\"checked\"" : "") /><span>启用</span>
                        <input type="radio" name="IsEnabled" value="false" @(Model.IsEnabled == false ? "checked=\"checked\"" : "") /><span>禁用</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">开始时间:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control Wdate" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd HH:mm:ss'})" name="StartDateTime" id="StartDateTime" value="@(string.Format("{0:yyyy-MM-dd HH:mm:ss}",Model.StartDateTime))" />
                    </div>
                    <label class="col-sm-2 control-label">结束时间:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control Wdate" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd HH:mm:ss'})" name="EndDateTime" id="EndDateTime" value="@(string.Format("{0:yyyy-MM-dd HH:mm:ss}",Model.EndDateTime))" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">大标题:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="BigTitle" name="BigTitle" value="@Model.BigTitle" />
                    </div>
                    <label class="col-sm-2 control-label">大标题颜色:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="BigTilteColor" name="BigTilteColor" value="@Model.BigTilteColor" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">小标题:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="SmallTitle" name="SmallTitle" value="@Model.SmallTitle" />
                    </div>
                    <label class="col-sm-2 control-label">小标题颜色:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="SmallTitleColor" name="SmallTitleColor" value="@Model.SmallTitleColor" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">促销语:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="PromoteTitle" name="PromoteTitle" value="@Model.PromoteTitle" />
                    </div>
                    <label class="col-sm-2 control-label">促销语颜色:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="PromoteTitleColor" name="PromoteTitleColor" value="@Model.PromoteTitleColor" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">促销语背景色:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="PromoteTitleBgColor" name="PromoteTitleBgColor" value="@Model.PromoteTitleBgColor" />
                    </div>
                    <label class="col-sm-2 control-label">动画样式:</label>
                    <div class="col-sm-4">
                        <select id="AnimationStyle" name="AnimationStyle" class="form-control">
                            <option value="0" @(Model.AnimationStyle == 0 ? "selected=\"selected\"" : "")>无</option>
                            <option value="1" @(Model.AnimationStyle == 1 ? "selected=\"selected\"" : "")>闪</option>
                            <option value="2" @(Model.AnimationStyle == 2 ? "selected=\"selected\"" : "")>转</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" id="ID" name="ID" value="@Model.ID" />
                <input type="hidden" id="ParentPriortylevel" name="ParentPriortylevel" value="@ViewBag.ParentPriortylevel" />
            </form>
        </div>
        <div class="modal-footer">

            <a href="javascript:void(0)" class="btn btn-danger btn-sm " id="btnToobal" onclick="Toolbar()" style="width: 80px;" data-toggle="modal" data-target="#toobal">小工具</a>

            <button type="button" id="btnSave" name="btnSave" class="btn btn-primary">
                保 存
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
                取 消
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }

    $("#UserRank").change(function () {
        if ($(this).val() != '-1') {
            $("#VIPRank").attr("disabled", "disabled");
        } else {
            $("#VIPRank").removeAttr("disabled");
        }

    })
    $("#VIPRank").change(function () {
        if ($(this).val() != '-1') {
            $("#UserRank").attr("disabled", "disabled");
        } else {
            $("#UserRank").removeAttr("disabled");
        }
    })
    $(function () {

        if ('@Model.UserRank') {
            $("#UserRank").val('@Model.UserRank');
            $("#VIPRank").attr("disabled", "disabled");
        }

        if ('@Model.VIPRank') {
            $("#UserRank").attr("disabled", "disabled");
        }
        var type = GetQueryString("type");
        if (type == 2 || type == 3) {
            $("#Rank").show();
        } else {
            $("#Rank").hide();
        }

        $('#Title').on('change', function () {
            $('#UriCount').val($('#ParentPriortylevel').val() + "_" + $('#PriorityLevel').val() + "_" + $(this).val());
        });

        $('#btnSave').on('click', function () {
            var data = {};
            if (type == 2 || type == 3) {
                data.UserRank = $("#UserRank").val() != "-1" ? $("#UserRank").val() : "";
                if (!data.UserRank) {
                    data.VIPRank = $("#VIPRank").val() != "-1" ? $("#VIPRank").val() : "";
                }
            }

            data.ID = $('#ID').val();
            data.StartVersion = $('#StartVersion').val();
            data.EndVersion = $('#EndVersion').val();
            data.Title = $('#Title').val();
            data.DeviceType = $('#DeviceType').val();
            data.PriorityLevel = $('#PriorityLevel').val();
            data.ButtonImageUrl = $('#ButtonImageUrl').val();
            data.BannerImageUrl = $('#BannerImageUrl').val();
            data.LinkUrl = $('#LinkUrl').val();
            data.UriCount = $('#UriCount').val();
            data.IsEnabled = $('input[name="IsEnabled"]:checked').val();
            data.StartDateTime = $('#StartDateTime').val();
            data.EndDateTime = $('#EndDateTime').val();
            data.FKHomePageModuleID = $('#hiddenModuleID').val();
            data.FKHomePageModuleHelperID = $('#hiddenModuleHelperID').val();

            data.BigTitle = $('#BigTitle').val();
            data.BigTilteColor = $('#BigTilteColor').val();
            data.SmallTitle = $('#SmallTitle').val();
            data.SmallTitleColor = $('#SmallTitleColor').val();
            data.PromoteTitle = $('#PromoteTitle').val();
            data.PromoteTitleColor = $('#PromoteTitleColor').val();
            data.PromoteTitleBgColor = $('#PromoteTitleBgColor').val();
            data.AnimationStyle = $('#AnimationStyle').val();
            $(this).attr("disabled", "disabled");
            console.log(JSON.stringify(data));
            $.ajax({
                url: '/PersonalCenterConfigV2/HomePageModuleContentSave',
                data: data,
                type: 'post',
                dataType: 'json'
            }).done(function (result) {
                if (result > 0) {
                    $('#edit').modal("hide");
                    location.reload();
                } else {
                    alert("保存失败");
                }

            }).fail(function () {

            });
        });

        if ($('#NoLinkUrl').val()) {
            $('#NoLinkUrl').val(decodeURIComponent($('#NoLinkUrl').val()));
        }
    });
</script>