@{
    ViewBag.Title = "活动看板权限";
    Layout = "~/Views/Shared/_Layout_ActivityBoard.cshtml";
}
@model List<Tuhu.Provisioning.Models.AcvitityBoardPowerViewModel>
    <style>
        .table { text-align: center; }
        .table tr > th { text-align: center; }
        .paddingTop { padding-top: 5% }
    </style>
    <div class="wrapper wrapper-content animated fadeInRight ecommerce">

        <div class="ibox-content m-b-sm border-bottom" style="padding-bottom:0">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group col-sm-5">
                        <input type='text' name='textfield' id='textfield' class='txt' style="display:none " />
                        <input type="file" name="fileData" data- id="fileupload" onchange="document.getElementById('textfield').value = this.value" />
                    </div>
                    <div class="form-group col-sm-5">
                        <input type="button" id="upload" value="批量导入" />
                        <a href="/ActivityBoard/DownLoadFile">模板下载</a>
                    </div>
                </div>
                <form action="@Url.Action("PowerConfig", "ActivityBoard")" method="get">
                    <div class="col-lg-6">
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" id="activity-endTime" value="@ViewBag.UserEmail" name="userEmail" placeholder="用户名" />
                        </div>
                        <div class="form-group col-sm-4">
                            <button type="submit" class="btn  btn-primary" data-toggle="modal" id="search" data-target="#myModal5">搜索</button>
                            <button type="button" class="btn  btn-primary" style="margin-left:20px" data-toggle="modal" id="add-config" data-target="#myModal5">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" style="text-align:center">
                <div class="ibox">
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead style="font-size:smaller">
                                <tr>
                                    <th rowspan="2" style="vertical-align:middle">用户名</th>
                                    <th colspan="4">途虎活动</th>
                                    <th colspan="4">第三方活动</th>
                                    <th rowspan="2" style="vertical-align:middle">操作</th>
                                </tr>
                                <tr>
                                    <td>是否可见</td>
                                    <td>可见天数</td>
                                    <td>增/删/改/查</td>
                                    <td>活动效果</td>
                                    <td>是否可见</td>
                                    <td>可见天数</td>
                                    <td>增/删/改/查</td>
                                    <td>活动效果</td>
                                    @*<td>是否可见</td>
                                    <td>可见天数</td>
                                    <td>增/删/改/查</td>
                                    <td>活动效果</td>*@
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.UserEmail</td>
                                            @if (item.ModuleConfig != null)
                                            {
                                                var info = item.ModuleConfig;
                                                <td>@info.TuhuActivityPower.IsVisible</td>
                                                <td>@info.TuhuActivityPower.VisibleActivityDays</td>
                                                <td>
                                                    @if (info.TuhuActivityPower.InsertActivity)
                                                    {<span style="color:green">增</span> }
                                                    @if (info.TuhuActivityPower.DeleteActivity)
                                                    { <span style="color:green">删</span>}
                                                    @if (info.TuhuActivityPower.UpdateActivity)
                                                    { <span style="color:green">改</span>}
                                                    @if (info.TuhuActivityPower.ViewActivity)
                                                    { <span style="color:green">查</span>}
                                                </td>
                                                <td>@info.TuhuActivityPower.ActivityEffect</td>
                                                @*<td>@info.OutSideActivityPower.IsVisible</td>
                                                <td>@info.OutSideActivityPower.VisibleActivityDays</td>
                                                <td>
                                                    @if (info.OutSideActivityPower.InsertActivity)
                                                    {<span style="color:green">增</span> }
                                                    @if (info.OutSideActivityPower.DeleteActivity)
                                                    { <span style="color:green">删</span>}
                                                    @if (info.OutSideActivityPower.UpdateActivity)
                                                    { <span style="color:green">改</span>}
                                                    @if (info.OutSideActivityPower.ViewActivity)
                                                    { <span style="color:green">查</span>}
                                                </td>
                                                <td>@info.OutSideActivityPower.ActivityEffect</td>*@
                                                <td>@info.ThirdPartyActivityPower.IsVisible</td>
                                                <td>@info.ThirdPartyActivityPower.VisibleActivityDays</td>
                                                <td>
                                                    @if (info.ThirdPartyActivityPower.InsertActivity)
                                                    {<span style="color:green">增</span> }
                                                    @if (info.ThirdPartyActivityPower.DeleteActivity)
                                                    { <span style="color:green">删</span>}
                                                    @if (info.ThirdPartyActivityPower.UpdateActivity)
                                                    { <span style="color:green">改</span>}
                                                    @if (info.ThirdPartyActivityPower.ViewActivity)
                                                    { <span style="color:green">查</span>}
                                                </td>
                                                <td>@info.ThirdPartyActivityPower.ActivityEffect</td>
                                                <td><a onclick="EditConfig(this,'@item.UserEmail','ThirdPartyActivity')">编辑</a>/<a onclick=DeleteConfig('@item.UserEmail')>删除</a></td>
                                            }
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="14">无数据</td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-center">
                    <div class="btn-group" id="tcdPageCode">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-content" style="display:none">
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="power-userEmail" placeholder="用户" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-10">
                            <div class="btn-group pull-left">
                                <button type="button" class="btn btn-default power-module-type">请选择</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" id="ddl-cor-evento">
                                    <li><a href="#" class="ThirdPartyActivity">第三方活动</a></li>
                                    <li><a href="#" class="TuhuActivity">途虎活动</a></li>
                                    @*<li><a href="#" class="OutsideActivity">外部投放活动</a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">是否可见</label>
                        <div class="col-sm-10">
                            <input type="checkbox" class="power-isVisible" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">可见天数</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control power-visibleDays" placeholder="可见天数 * -1代表全部" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">模块权限</label>
                        <div class="col-sm-10">
                            <input type="checkbox" class="power-insert" /><span> 增</span>&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" class="power-delete" /><span> 删</span>&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" class="power-update" /><span> 改</span>&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" class="power-view" /><span> 查</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">活动效果</label>
                        <div class="col-sm-10">
                            <input type="checkbox" class="power-effect" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#tcdPageCode").createPage({
                    pageCount: @ViewBag.TotalPage,
                    current: @ViewBag.CurrentPage,
                    backFn: function (p) {
                        //单击回调方法，p是当前页码
                        var currentLink=window.location.href;
                        if(currentLink.indexOf("userEmail")!=-1){
                            //搜索分页
                            if(currentLink.indexOf("PowerConfig")!=-1){
                                var reg = /pageIndex=[\d]/g;
                                if(reg.test(currentLink)){
                                    location.href=currentLink.replace(reg,"pageIndex="+p);
                                }else{
                                    location.href=currentLink+"&pageIndex="+p;
                                }
                            }else{
                                location.href = "/ActivityBoard/PowerConfig?pageIndex=" + p;
                            }
                        }else{
                            location.href = "/ActivityBoard/PowerConfig?pageIndex=" + p;
                        }
                    }
                });
            });

            $("#add-config").on("click",function(){
                var d = dialog({
                    title: "添加",
                    width: 600,
                    height: 400,
                    button: [
                    {
                        value: "添加",
                        callback: function () {
                            var userEmail= $(".add-power-config #power-userEmail").val().trim();
                            var modeuleType= $(".add-power-config .power-module-type").val().trim();
                            var isVisible= $(".add-power-config .power-isVisible").prop("checked");
                            var visibleDays= $(".add-power-config .power-visibleDays").val().trim();
                            var isInsert= $(".add-power-config .power-insert").prop("checked");
                            var isUpdate= $(".add-power-config .power-update").prop("checked");
                            var isDelete= $(".add-power-config .power-delete").prop("checked");
                            var isView= $(".add-power-config .power-view").prop("checked");
                            var showEffect = $(".add-power-config .power-effect").prop("checked");
                            if (!/\w*tuhu.cn$/.test(userEmail) && !/\w*tuhu.work$/.test(userEmail)) {
                                alert("请检查输入用户的格式");
                                return false;
                            }
                            if (!isNaN(visibleDays)) {
                                if (parseInt(visibleDays) < -1) {
                                    alert("可见天数输入有误");
                                    return false;
                                }
                            } else {
                                alert("请输入数字");
                                return false;
                            }
                            var powerConfig=new  Object();
                            powerConfig.UserEmail=userEmail;
                            powerConfig.IsVisible=isVisible;
                            powerConfig.VisibleActivityDays=visibleDays==""?"0":visibleDays;
                            powerConfig.InsertActivity=isInsert;
                            powerConfig.UpdateActivity=isUpdate;
                            powerConfig.DeleteActivity=isDelete;
                            powerConfig.ViewActivity=isView;
                            powerConfig.ActivityEffect=showEffect;
                            powerConfig.ModuleType=modeuleType;
                            if(confirm("是否确认添加？")){
                                $.post("InsertPowerConfig",{powerConfig:JSON.stringify(powerConfig)},function(result){
                                    if(result.status==true){
                                        alert("添加成功");
                                        location.reload()
                                    }else{
                                        alert(result.msg);
                                        return false;
                                    }
                                });
                            }
                        }
                    },
                    {
                        value: "取消"
                    }
                    ]
                });
                var html = "<div class='add-power-config'>" + $('.modal-content').html() + "</div>";
                d.content(html);
                $(".add-power-config #power-userEmail").val("");
                $(".add-power-config .power-module-type").text("途虎活动").val("TuhuActivity");
                $(".add-power-config .power-isVisible").attr("checked",false);
                $(".add-power-config .power-insert").attr("checked",false);
                $(".add-power-config .power-update").attr("checked",false);
                $(".add-power-config .power-delete").attr("checked",false);
                $(".add-power-config .power-view").attr("checked",false);
                $(".add-power-config .power-effect").attr("checked",false);
                d.showModal();
                $(".ui-popup-focus").addClass("paddingTop");
                $(".add-power-config .dropdown-menu").on('click', 'li a', function () {
                    var classeBotao = $(this).attr("class");
                    $(".add-power-config .power-module-type").text($(this).text()).val(classeBotao);
                });
            });

            function EditConfig(o,userEmail,type){
                var d = dialog({
                    title: "编辑",
                    width: 600,
                    height: 400,
                    button: [
                    {
                        value: "修改",
                        callback: function () {
                            var userEmail= $(".edit-power-config #power-userEmail").val().trim();
                            var modeuleType= $(".edit-power-config .power-module-type").val().trim();
                            var isVisible= $(".edit-power-config .power-isVisible").prop("checked");
                            var visibleDays= $(".edit-power-config .power-visibleDays").val().trim();
                            var isInsert= $(".edit-power-config .power-insert").prop("checked");
                            var isUpdate= $(".edit-power-config .power-update").prop("checked");
                            var isDelete= $(".edit-power-config .power-delete").prop("checked");
                            var isView= $(".edit-power-config .power-view").prop("checked");
                            var showEffect=  $(".edit-power-config .power-effect").prop("checked");
                            if (!/\w*tuhu.cn$/.test(userEmail) && !/\w*tuhu.work$/.test(userEmail)) {
                                alert("请检查输入用户的格式");
                                return false;
                            }
                            if (!isNaN(visibleDays)) {
                                if (parseInt(visibleDays) < -1) {
                                    alert("可见天数输入有误");
                                    return false;
                                }
                            } else {
                                alert("请输入数字");
                                return false;
                            }
                            var powerConfig=new  Object();
                            powerConfig.UserEmail=userEmail;
                            powerConfig.IsVisible=isVisible;
                            powerConfig.VisibleActivityDays=visibleDays==""?"0":visibleDays;
                            powerConfig.InsertActivity=isInsert;
                            powerConfig.UpdateActivity=isUpdate;
                            powerConfig.DeleteActivity=isDelete;
                            powerConfig.ViewActivity=isView;
                            powerConfig.ActivityEffect=showEffect;
                            powerConfig.ModuleType=modeuleType;
                            if(confirm("是否确认修改？")){
                                $.post("UpdatePowerConfig",{powerConfig:JSON.stringify(powerConfig)},function(result){
                                    if(result.status==true){
                                        alert("修改成功");
                                        location.reload()
                                    }else{
                                        alert(result.msg);
                                        return false;
                                    }
                                });
                            }
                        }
                    },
                    {
                        value: "取消"
                    }
                    ]
                });
                var html = "<div class='edit-power-config'>" + $('.modal-content').html() + "</div>";
                d.content(html);
                EditModuleType(userEmail,type);
                d.showModal();
                $(".ui-popup-focus").addClass("paddingTop");
                $(".edit-power-config .dropdown-menu").on('click', 'li a', function () {
                    var classeBotao = $(this).attr("class");
                    $(".edit-power-config .power-module-type").text($(this).text()).val(classeBotao);
                    var moduleType= $(".edit-power-config .power-module-type").val();
                    EditModuleType(userEmail,moduleType);
                });
            }

            function EditModuleType(userEmail,type)
            {
                $.post("GetPowerConfigByUserEmail",{userEmail:userEmail,type:type},function(result){
                    if(result.status==true){
                        var item=result.data;
                        $(".edit-power-config #power-userEmail").val(userEmail);
                        $(".edit-power-config #power-userEmail").attr("disabled","disabled");
                        $(".edit-power-config .power-module-type").text(ConvertModuleType(item.ModuleType)).val(item.ModuleType);
                        $(".edit-power-config .power-isVisible").prop("checked",item.IsVisible)
                        $(".edit-power-config .power-visibleDays").val(item.VisibleActivityDays)
                        $(".edit-power-config .power-insert").prop("checked", item.InsertActivity)
                        $(".edit-power-config .power-update").prop("checked", item.UpdateActivity)
                        $(".edit-power-config .power-delete").prop("checked", item.DeleteActivity)
                        $(".edit-power-config .power-view").prop("checked", item.ViewActivity)
                        $(".edit-power-config .power-effect").prop("checked", item.ActivityEffect)

                    }
                });
            }

            function DeleteConfig(userEmail){
                if(confirm("是否确认删除？")){
                    $.post("DeletePowerConfig",{userEmail:userEmail},function(result){
                        if(result.status==true){
                            alert("删除成功");
                            location.reload();
                        }else{
                            alert("删除失败");
                        }
                    });
                }
            }

            $("#upload").on("click", function () {
                $.ajaxFileUpload({
                    url: '/ActivityBoard/UploadFile',
                    secureuri: false,
                    fileElementId: 'fileupload',
                    dataType: 'text',
                    data: {},
                    type: 'post',
                    success: function (data) {
                        var powerConfigList = [];
                        var data =JSON.parse(data.replace(/<\/*?pre[^<>]*>/, '').replace(/<\/*?pre[^<>]*>/, ''));
                        if (data.msg == "") {
                            var html = "<table class='table table-bordered' style='width:100%;'>";
                            html += "<tr><td colspan='3' style='color:red;text-align:center'>共上传 " + (data.SuccessData.length + data.ErrorData.length) + " 条数据，验证成功 " + data.SuccessData.length + " 条，验证失败 " + data.ErrorData.length + " 条</td></tr>";
                            html += "<tr><th>用户名</th><th>模块名称</th></tr>";
                            if (data.ErrorData.length > 0) {
                                var item = data.ErrorData;
                                for (var i = 0; i < item.length; i++) {
                                    html += "<tr><td>" + item[i].UserEmail + "</td><td>" + ConvertModuleType(item[i].ModuleType) + "</td></tr>";
                                }
                            } else if (data.SuccessData.length > 0) {
                                html += "<tr><td colspan='3' style='text-align:center;color:green;'>验证通过，允许导入</td></tr>";
                                var item = data.SuccessData;
                                for (var i = 0; i < item.length; i++) {
                                    html += "<tr><td>" + item[i].UserEmail + "</td><td>" + ConvertModuleType(item[i].ModuleType) + "</td></tr>";
                                }
                            } else {
                                html += "<tr><td colspan='3' style='text-align:center;color:red'>系统异常</td></tr>";
                            }
                            var d = dialog({
                                title: "验证信息",
                                width: 600,
                                height: 400,
                                fixed: true,
                                button: [
                                    {
                                        value: '导入',
                                        callback: function () {
                                            var item = data.SuccessData;
                                            for (var i = 0; i < item.length; i++) {
                                                powerConfigList.push({ UserEmail: item[i].UserEmail, IsVisible: item[i].IsVisible, VisibleActivityDays: item[i].VisibleActivityDays, InsertActivity: item[i].InsertActivity, UpdateActivity: item[i].UpdateActivity, DeleteActivity: item[i].DeleteActivity, ViewActivity: item[i].ViewActivity, ActivityEffect: item[i].ActivityEffect, ModuleType: item[i].ModuleType });
                                            }
                                            if (powerConfigList.length > 0) {
                                                if (confirm("是否确认操作？")) {
                                                    $.post("BatchOperationData", { powerConfigList: JSON.stringify(powerConfigList) }, function (result) {
                                                        if (result.status == true) {
                                                            alert("导入成功");
                                                            location.reload()
                                                        } else {
                                                            alert(result.msg);
                                                        }
                                                    });
                                                }
                                            } else {
                                                alert("不允许导入");
                                                return false;
                                            }
                                        }
                                    },
                                    {
                                        value: "取消"
                                    }
                                ]
                            });
                            html += "</table>";
                            d.content(html);
                            d.showModal();
                        } else {
                            alert(data.msg);
                        }
                    }
                });
            });
        </script>

    }
