@{
    ViewBag.Title = "Edit";
    Layout = null;
}
@model Tuhu.Provisioning.DataAccess.Entity.SE_DictionaryConfigModel
    <style type="text/css">
        input[type=text] {
            width:350px;
        }



    </style>
<form id="form1">
    <table>
        <tr>
            <td>父节点:</td>
            <td>
                <input type="number" id="ParentId" name="ParentId" value="@(Model.ParentId != 0 ?Model.ParentId.ToString():"")"/>
            </td>
        </tr>
        <tr>
            <td>关键字:</td>
            <td>
                <input type="text" id="Key" name="Key"  onblur="opeartor.filter(this)"  style="width:350px;ime-mode:disabled" value="@Model.Key"  onpaste="    return false" ondragenter="    return false" oncontextmenu="    return false;" />
             </td>
        </tr>
        <tr>
            <td>
                值:
            </td>
            <td>
                <input type="text" id="Value" name="Value" style="width:350px;" value="@Model.Value"/>
            </td>
        </tr>
        <tr>
            <td>描述:</td>
            <td>
                <textarea id="Describe" name="Describe" style="width:350px;height:114px; font-size:12px; overflow:hidden;">@Model.Describe</textarea>
            </td>
        </tr>
        <tr>
            <td>状态:</td>
            <td>
                @if (Model.State == 1)
                {
                    <input type="radio" name="State" checked="checked" value="1" /><span>有效</span>
                    <input type="radio" name="State" value="0" /><span>无效</span>
                }
                else
                {
                    <input type="radio" name="State"  value="1" /><span>有效</span>
                    <input type="radio" name="State" value="0" checked="checked" /><span>无效</span>
                }
                
            </td>
        </tr>
        <tr>
            <td>
                链接：
            </td>
            <td>
                <input type="url" id="Url" name="Url" value="@Model.Url" />
            </td>
        </tr>
        <tr>
            <td>
                图片:
            </td>
            <td>
                @if (string.IsNullOrWhiteSpace(Model.Images))
                {
                    <img id="Images" width="30" height="30" />
                }
                else
                {
                    <img id="Images" width="30" height="30" src="@Model.Images" />
                }
                
                <input type="file" id="fileImages" name="fileImages" width="120" onchange="Upload(this, 'Images')"/>
            </td>
        </tr>
        <tr>
            <td>
                扩展字段1：
            </td>
            <td>
                <input type="text" id="Extend1" name="Extend1" value="@Model.Extend1"/>
            </td>
        </tr>
        <tr>
            <td>
                扩展字段2：
            </td>
            <td>
                <input type="text" id="Extend2" name="Extend2" value="@Model.Extend2" />
            </td>
        </tr>
        <tr>
            <td>
                扩展字段3：
            </td>
            <td>
                <input type="text" id="Extend3" name="Extend3" value="@Model.Extend3" />
            </td>
        </tr>
        <tr>
            <td>
                扩展字段4：
            </td>
            <td>
                <input type="text" id="Extend4" name="Extend4" value="@Model.Extend4" />
            </td>
        </tr>
        <tr>
            <td>
                扩展字段5：
            </td>
            <td>
                <input type="text" id="Extend5" name="Extend5" value="@Model.Extend5" />
            </td>
        </tr>
        <tr>
            <td>
                排序:
            </td>
            <td>
                <input type="number" id="Sort"  name="Sort" value="@(Model.Sort == 0?"":Model.Sort.ToString())"/>
            </td>
        </tr>
    </table>
    <input type="hidden" id="hidID" name="hidID" value="@Model.Id"/>
</form>
