@{
    ViewBag.Title = "数据字典";
}
@model List<Tuhu.Provisioning.DataAccess.Entity.SE_DictionaryConfigModel>
    <div style="margin-top:5px;margin-bottom:5px;">
        <input type="button" id="btnAdd" value="添 加"  style="width:70px; height:25px; margin-left:5px; cursor:pointer;"/>
        <input type="button" id="btnEdit" value="编 辑" style="width:70px; height:25px; margin-left:5px;cursor:pointer;"/>
        <input type="button" id="btnDelete" value="删 除" style="width:70px; height:25px; margin-left:5px;cursor:pointer;" />
    </div>
<table width="100%" id="dictionary">
    <thead>
        <tr>
            <th>
                编号
            </th>
            <th>
                父节点
            </th>
            <th>
                关键字
            </th>
            <th>
                值
            </th>
            <th>
                描述
            </th>
            <th>
                状态
            </th>
            <th>
                链接
            </th>
            <th>
                图片
            </th>
            <th>
                排序
            </th>
            <th>
                创建时间
            </th>
            <th>
                更新时间
            </th>
            <th>
                扩展字段1
            </th>
            <th>
                扩展字段2
            </th>
            <th>
                扩展字段3
            </th>
            <th>
                扩展字段4
            </th>
            <th>
                扩展字段5
                
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.ParentId</td>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                    <td>@item.Describe</td>
                    <td>
                    @(item.State==1?"有效":"禁用")
                    </td>
                    <td>
                        @item.Url
                    </td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(item.Images))
                        {
                            <img src="@item.Images" width="30" height="30" />
                        }
                    </td>
                    <td>
                        @item.Sort
                    </td>
                    <td>
                        @item.CreateTime
                    </td>
                    <td>
                        @item.UpdateTime
                    </td>
                    <td>
                        @item.Extend1
                    </td>
                    <td>
                        @item.Extend2
                    </td>
                    <td>
                        @item.Extend3
                    </td>
                    <td>
                        @item.Extend4
                    </td>
                    <td>
                        @item.Extend5
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div id="Edit" ></div>
<input type="hidden" id="selID" name="selID"/>
@section scripts{
<script src="/Scripts/ajaxfileupload.js" type="text/javascript"></script>
    <script type="text/javascript">
        var opeartor = {};
        opeartor.GetData = function () {
            var data = {};
            data.Id = $("#hidID").val();
            data.ParentId = $('#ParentId').val();
            data.Key = $('#Key').val();
            data.Value = $('#Value').val();
            data.Describe = $('#Describe').val();
            data.State = $('input[name=State]:checked').val();
            data.Url = $('#Url').val();
            data.Images = $('#Images').attr('src') || '';
            data.Extend1 = $('#Extend1').val();
            data.Extend2 = $('#Extend2').val();
            data.Extend3 = $('#Extend3').val();
            data.Extend4 = $('#Extend4').val();
            data.Extend5 = $('#Extend5').val();
            data.Sort = $('#Sort').val();
            return data;
        };
        opeartor.filter = function (obj) {
            var value = $(obj).val();
            value = value.replace(/[\u4E00-\u9FA5]/g, '').replace(/\s/g, '');
            $(obj).val(value);
        }

        function Upload(obj, showImg) {

            var pobj = $(obj);
            var rd = Math.ceil(Math.random() * 9999) + 1;
            var fileElId = $(obj).attr("id");
            console.log(fileElId);
            $.ajaxFileUpload({
                url: '/Article/ImageUploadToAli?rd=' + rd,
                secureuri: false,
                fileElementId: fileElId,
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (result.BImage != "" && result.SImage != "") {
                        $("#" + showImg).attr("src", result.BImage).show();
                    } else {
                        alert("上传失败！");
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            });
        }
        $('#btnAdd').on('click', function () {
            $('#Edit').empty();
            $('#Edit').load("/DictionaryConfig/Edit");
            $('#Edit').dialog({
                title: "编辑数据字典",
                width: 450,
                height: 700,
                modal: true,
                resizable: false,
                buttons: {
                    "保 存": function () {
                        var data = opeartor.GetData();
                        $.ajax({
                            type: 'post',
                            url: '/DictionaryConfig/Save',
                            data: data
                        }).done(function (result) {
                            result = JSON.parse(result);
                            if (result.Code == 1) {
                                if (result.Status == 1) {
                                    alert("保存成功");
                                    $(this).dialog('close');
                                    window.location.reload();
                                } else if (result.Status == -1) {
                                    alert("名称或者关键字已经存在");
                                } else {
                                    alert("保存失败!");
                                }
                            } else {
                                alert("保存失败");
                            }
                        }).fail(function () {
                            alert("保存失败");
                        });
                    },
                    "取 消": function () {
                        $(this).dialog('close');
                    }
                }
            });
           
        });
        $('#btnEdit').on('click', function () {
            $('#Edit').empty();
            $('#Edit').load("/DictionaryConfig/Edit?id=" + $('#selID').val());
            $('#Edit').dialog({
                title: "编辑数据字典",
                width: 450,
                height: 700,
                modal: true,
                resizable: false,
                buttons: {
                    "保 存": function () {
                        var data = opeartor.GetData();
                        $.ajax({
                            type: 'post',
                            url: '/DictionaryConfig/Save',
                            data: data
                        }).done(function (result) {
                            result = JSON.parse(result);
                            if (result.Code == 1) {
                                if (result.Status == 1) {
                                    alert("保存成功");
                                    $(this).dialog('close');
                                    window.location.reload();
                                } else if (result.Status == -1) {
                                    alert("名称或者关键字已经存在");
                                } else {
                                    alert("保存失败!");
                                }
                            } else {
                                alert("保存失败");
                            }
                        }).fail(function () {
                            alert("保存失败");
                        });
                    },
                    "取 消": function () {
                        $(this).dialog('close');
                    }
                }
            });
        });
        $('#dictionary').on('click', 'tbody tr', function () {
            $('#dictionary tbody tr').each(function () {
                $(this).css("background-color","");
            });
            $(this).css("background-color", "yellow");
         
            $('#selID').val($(this).find('td:first').html());
        })
        $('#btnDelete').on('click', function () {
            var r = confirm('您确定要删除吗?')
            if (r) {
                if ($('#selID').val() != undefined && $('#selID').val() != 0) {
                    $.ajax({
                        type: 'post',
                        url: '/DictionaryConfig/Delete',
                        data: { id: $('#selID').val() }
                    }).done(function (result) {
                        result = JSON.parse(result);
                        if (result.Code == 1) {
                            alert("删除成功");
                            location.reload();
                        } else {
                            alert("删除失败");
                        }
                    }).fail(function () {
                        alert("删除失败");
                    });
                }
            }
        });
    </script>
    }