@{
    ViewBag.Title = "活动信息";
    Layout = null;
}
@model Tuhu.Provisioning.DataAccess.Entity.ActivityBuild


<div style="padding:5px 0px 5px 5px">
    <form id="form1" class="easyui-form" >
        <div style="margin-bottom:5px;">
            <span>活动名称:</span>
            <span>
                <input type="hidden" id="id" name="id" value="@(Model.id)"/>
                <input type="text" id="Title" class="easyui-textbox" name="Title" value="@(Model.Title !=""?@Model.Title:null)" style="width:160px;" />
            </span>

            <span>活动结束时间:</span>
            <span>
                <input type="text" id="EndDate" class="Wdate" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd HH:mm:ss',minDate:'%y-%M-%d %H:%m%s'})"  name="EndDate" value="@(Model.EndDate != null?Convert.ToDateTime(Model.EndDate.ToString()).ToString("yyyy-MM-dd HH:mm:ss"):"")" />
            </span>

            <span>背景图片:</span>
            <span>
                <img id="bgImage" style="width:20px;height:20px;" src="@(Model.SBgImageUrl)" />
                <input type="hidden" id="hidBgImageUrl" value="@(Model.BgImageUrl)" />
                <input type="hidden" id="hidSBgImageUrl" value="@(Model.SBgImageUrl)"/>
            </span>
            <span>
                <input id="bgUpFile" width="60" type="file" name="bgUpFile" onchange="UploadBgImg(this, 'bgImage', 'hidBgImageUrl', 'hidSBgImageUrl')" />
            </span>
            <span>
                背景颜色:
            </span>
            <span>
                <input type="text" id="BgColor" name="BgColor" value="@(Model.BgColor != ""?Model.BgColor:null)" style="width:160px" />
            </span>

            <span>轮胎品牌:</span>
            <span>
                    @*<select id="TireBrand" name="TireBrand">
                        <option value="">不选择</option>
                    </select>*@
                <input type="text" class="easyui-combobox" name="SelTire" id="SelTire" />
                <input type="hidden" name="TireBrand" id="TireBrand" />
                <input type="hidden" id="hidTireBrand" name="hidTireBrand" value="@Model.TireBrand" />
            </span>

            <span>  是否轮胎:</span>
            <span>
                @if (Model.ActivityType == 3)
                {
                    <input type="radio" value="3" name="isTire" checked="checked" /><span>是</span>
                    <input type="radio" value="0" name="isTire"  /><span>否</span>
                }
                else
                {
                    <input type="radio" value="3" name="isTire" /><span>是</span>
                    <input type = "radio" value = "0" name = "isTire" checked="checked" /><span>否</span>
                }




                </span>



            </div>


            <table id="cp" style="height:500px;margin-top:10px;" title="排版信息" class="easyui-datagrid" data-options="singleSelect:true,rownumbers:true,
               onLoadSuccess:function(data){ MergeCells('cp','Group');},pagination:false,remoteSort:false,multiSort:true,
               data:@Model.Content">
            <thead>
                <tr>
                    <th rowspan="2" data-options="field:'Group',order:'asc'" width="10%">组</th>
                    <th rowspan="2" data-options="field:'PID',resizable:true" width="6%">PID|VID</th>
                    <th rowspan="2" data-options="field:'ProductName'" width="10%">产品名称</th>
                    <th rowspan="2" data-options="field:'VID'" width="10%">活动ID(ActivityID)</th>
                    <th rowspan="2" data-options="field:'CID'" width="8%">优惠券ID</th>
                    <th rowspan="2" data-options="field:'SmallImage',formatter:function(value,row,index){ return  '<img  style=\'width:45px;height:45px;\'  src=\''+value+'\' />';} "width="10%">图片</th>
                    <th rowspan="2" data-options="field:'TwoSImage',formatter:function(value,row,index){ if(value ==''|| value == undefined){ return ''; }else{return  '<img  style=\'width:45px;height:45px;\'  src=\''+value+'\' />';} }" width="5%" >图片(二)</th>
                    <th rowspan="2" data-options="field:'Type',formatter:function(value,row,index){if(value == 0)return '轮胎';if(value == 1) return '车品'; if(value == 2) return '链接'; if(value == 3) return '图片'; if(value == 4) return '优惠卷'; if(value == 5) return '保养';if(value == 6) return '限购轮胎';if(value == 7) return '限购车品';}" width="5%">活动类型</th>
                    <th rowspan="2" data-options="field:'DisplayWay' , formatter:function(value,row,index){if(value == 0)return '竖向';if(value == 1) return '横向'; if(value == -1) return '';}" width="4%">显示方式</th>
                    <th rowspan="2" data-options="field:'Description'" width="5%">描述</th>
                    <th rowspan="2" data-options="field:'OrderBy',order:'asc',sortable:true" width="5%">排序</th>
                    <th rowspan="2" data-options="field:'LinkUrl',resizable:true" width="5%">链接(URL)</th>
                    <th rowspan="2" data-options="field:'IsUploading', formatter:function(value,row,index){if(value == 0) return '模板'; if(value == 1) return '图片';}" width="4%">是否图片</th>
                    <th rowspan="2" data-options="field:'TireBrand',formatter:function(value,row,index){ if(value == -1){ return '';}else{ return value; }}" width="4%">轮胎品牌</th>
                    <th colspan="2" width="10%">APP处理值</th>
                    <th colspan="2" width="10%">特殊通讯值</th>
                    <th rowspan="2" width="8%" data-options="field:'BigImg',formatter:function(value,row,index){
                         if(value == 0)return '一列';
                         if(value == 1)return '两列';
                         if(value == 2)return '三列';
                         if(value == 3)return '一列(网站)';
                         if(value == 4)return '四列';
                        }">列数</th>
                </tr>
                <tr>
                    <th data-options="field:'HandlerIOS'" width="5%">IOS</th>
                    <th data-options="field:'HandlerAndroid'" width="7%">Android</th>
                    <th data-options="field:'SOAPIOS'" width="5%">IOS</th>
                    <th data-options="field:'SOAPAndroid'" width="7%">Android</th>
                    <th data-options="field:'Image',hidden:true"></th>
                    <th data-options="field:'BigImg',hidden:true"></th>
                    
                </tr>
            </thead>
        </table>
    </form>
</div>


<div id="one" title="排版编辑" class="easyui-dialog" data-options="closed:true">
</div>
<div id="two" title="排版编辑" class="easyui-dialog" data-options="closed:true"></div>
<div id="three" title="排版编辑" class="easyui-dialog" data-options="closed:true"></div>
<div id="update" title="编辑" class="easyui-dialog" data-options="closed:true"></div>
<div id="four" title="排版编辑" class="easyui-dialog" data-options="closed:true"></div>
<div id="oneByPC" title="排版编辑" class="easyui-dialog" data-options="closed:true"></div>
<script src="/Scripts/ajaxfileupload.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate-1.8.1.min.js" type="text/javascript"></script>
<script type="text/javascript">

    //图片类型
    var PictureValidate = {
        rules: {
            hidCimg: {
                required: true
            },
            OrderBy: {
                range: [-1, 100]
            },
            Url: {
                url:true
            },
            OrderBy: {
                digits: true,
                required: true
            }

        },
        messages: {
            hidCimg: {
                required: '图片必填'
            },
            OrderBy: {
                range: $.validator.format("请输入{0}到{1}之间的数"),
            },
            Url: {
                url:'请输入正确的网址'
            },
            OrderBy: {
                digits: '请输入整数',
                required:'排序必填'

            }

        }
    };

    //优惠卷验证
    var CouponValidate = {
        rules: {
            hidCimg: {
                required: true
            },
            CID: {
                required: true
            },
            Url: {
                url: true
            },
            OrderBy: {
                digits: true,
                required:true
            }
        },
        messages: {
            hidCimg: {
                required: '图片必填'
            },
            CID: {
                required: '优惠卷ID必填'
            },
            Url: {
                url: '请输入正确的网址'
            },
            OrderBy: {
                digits: '请输入整数',
                required:'排序必填'
            }
        }
    };

    //轮胎 车品
    var TireValidate = {
        rules: {
            PID: {
                required: true
            },
            Url: {
                url: true
            },
            OrderBy: {
                digits: true,
                required:true
            }
        },
        messages: {
            PID: {
                required: 'PID必填'
            },
            Url: {
                url: '请输入正确的网址'
            },
            OrderBy: {
                digits: '请输入整数',
                required:'排序必填'
            }
        }
    };


    //保养
    var UpKeepValidate = {
        rules: {
            hidCimg: {
                required: true
            },
            Url: {
                url: true
            },
            OrderBy: {
                digits: true,
                required:true
            }
        },
        messages: {
            hidCimg: {
                required: '图片必填'
            },
            Url: {
                url: '请输入正确的网址'
            },
            OrderBy: {
                digits: '请输入整数',
                required:'排序必填'
            }
        }
    };


    //链接验证
    var LinkValidate = {
        rules: {
            hidCimg: {
                required: true
            },
            Url: {
                url:true

            },
            WXUrl: {
                url:true
            },
            PCUrl: {
                url:true
            },
            OrderBy: {
                digits: true,
                required:true
            }

        },
        messages: {
            hidCimg: {
                required: '图片必填'
            },
            Url: {
                url:'请输入正确的网址'
            },
            WXUrl: {
                url: '请输入正确的网址'
            },
            PCUrl: {
                url: '请输入正确的网址'
            },
            OrderBy: {
                digits: '请输入整数',
                required:'排序必填'
            }

        }
    };


    function Edit(oldRow, indexRow) {
        $('#update').dialog({
            width: 480,
            height: 680,
            cache: false,
            method: 'post',
            href: '/ActivityV1/Edit',
            queryParams:{"rows": JSON.stringify(oldRow)},
            buttons: [{
                text: '更新',
                iconCls: 'icon-ok',
                handler: function () {

                    /*
                    $('#editFormByOne').form('submit', {
                        onSubmit: function () {

                            return $(this).valid();
                        },
                        success: function () {
                            var rows = getDataRow();//获取修改后的数据
                            if (rows) {
                                rows.Group = oldRow.Group;//用旧分组号
                                rows.BigImg = oldRow.BigImg;//设置列数
                                $('#cp').datagrid('updateRow', {
                                    index: indexRow,
                                    row: rows
                                });
                                $('#update').dialog('close');

                                $('#cp').datagrid('sort', {
                                    sortName: 'Group,OrderBy',
                                    sortOrder: 'asc,desc'
                                });

                                MergeCells('cp', 'Group');
                            }
                            $('#cp').datagrid('unselectAll');
                        }
                    });
                    */

                    var isOne = $('#editFormByOne').valid();

                    if ($('#editFormByOne [name=Type]').val() == -1) {
                        $.messager.alert('提示', '请选择活动类型');
                        return false;
                    }

                    if (isOne) {
                        var rows = getDataRow();//获取修改后的数据
                        if (rows) {
                            rows.Group = oldRow.Group;//用旧分组号
                            rows.BigImg = oldRow.BigImg;//设置列数
                            $('#cp').datagrid('updateRow', {
                                index: indexRow,
                                row: rows
                            });
                            $('#update').dialog('close');

                            $('#cp').datagrid('sort', {
                                sortName: 'Group,OrderBy',
                                sortOrder: 'asc,asc'
                            });

                            MergeCells('cp', 'Group');
                        }
                        $('#cp').datagrid('unselectAll');
                    }


                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#update').dialog('close');

                }
            }]
        });
    }


   
    //获取车型信息
    function GetTires(formName) {
        var value = $('#form1 [name=hidTireBrand]').val();
        var array=[];
        if (value != "") {
           array  = value.split(',');
        }

        $.ajax({
            url: '@(System.Configuration.ConfigurationManager.AppSettings["ApiDomain"].ToString())/Tires/GetTiresBrand',
            type: 'post',
            dataType: 'json',
            success: function (result) {
               
                for (var i = 0; i < result.TiresBrand.length; i++) {
                    var item = result.TiresBrand[i];
                    for (var j = 0; j < array.length; j++) {
                        if (item.BrandName == array[j]) {
                            item.selected = true;
                        }
                    }
                }

                $('#SelTire').combobox({
                    data: result.TiresBrand,
                    valueField: 'BrandName',
                    textField: 'BrandName',
                    multiple: true,
                    panelHeight: 'auto',
                    onSelect: function () {
                        console.log($('#SelTire').combobox("getValues"));
                        var array = $('#SelTire').combobox("getValues");
                        var values = "";
                        for (var i = 0; i < array.length; i++) {
                            values += array[i] + ',';
                        }
                        if (values != "")
                            $('#TireBrand').val(values.substring(0, values.length - 1));
                        else
                            $('#TireBrand').val('');

                        console.log('TireBrand:' + $('#TireBrand').val());
                    },
                    onUnselect: function () {
                        console.log($('#SelTire').combobox("getValues"));
                        var array = $('#SelTire').combobox("getValues");
                        var values = "";
                        for (var i = 0; i < array.length; i++) {
                            values += array[i] + ',';
                        }
                        if (values != "")
                            $('#TireBrand').val(values.substring(0, values.length - 1));
                        else
                            $('#TireBrand').val('');

                        console.log('TireBrand:' + $('#TireBrand').val());
                    }

                });

                //if (value != "" && value != undefined) {
                //    var array = value.split(',');
                //    console.log(value);
                //    $('#SelTire').combobox('setValues', array);

                //}

            }


        });


        



    }


    ///windows.load运行的函数
    $(function () {

        $('#one').dialog({
            width: 500,
            height: 650,
            cache: false,
            href: '/ActivityV1/One',
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    var isOne = $('#oneFormByOne').valid();

                    var type = $('#oneFormByOne [name=Type]').val();
                    if (type == -1) {
                        $.messager.alert('提示', '请选择活动类型');
                        return false;
                    }

                    if (isOne) {
                        var row = getDataRow()
                       // console.log(row["SmallImage"]);
                       // console.log(row["Image"]);
                        var rows = [];
                        rows.push(row);
                        if (!RequiredVID(rows)) {
                            $.messager.alert('系统提示', '请输入活动ID');
                            return false;
                        }
                        if (row) {
                            array.push(row);
                            $('#cp').datagrid('appendRow', row);
                            $('#one').dialog('close');

                            $('#cp').datagrid('sort', {
                                sortName: 'Group,OrderBy',
                                sortOrder: 'asc,asc'
                            });

                            MergeCells('cp', 'Group');
                        }

                    }

                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#one').dialog('refresh');
                    $('#one').dialog('close');
                }
            }]
        });

        $('#two').dialog({
            width: 930,
            height: 780,
            href: '/ActivityV1/Two',
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {

                    var isOne = $('#twoFromByOne').valid();
                    var isTwo = $('#twoFormByTwo').valid();



                    /*
                    $('#twoFromByOne').form('submit', {
                        onSubmit: function () {
                            isOne = $(this).valid();
                            return $(this).valid();
                        },
                        success: function () {
                            isOne = true;
                        }
                    });

                    $('#twoFormByTwo').form('submit', {
                        onSubmit: function () {
                            isTwo = $(this).valid();
                            return $(this).valid();
                        },
                        success: function () {
                            isTwo = true;
                        }
                    });

                           */

                    if ($('#twoFromByOne [name=Type]').val() == -1 || $('#twoFormByTwo [name=Type]').val() == -1) {
                        $.messager.alert('提示', '请选择活动类型');
                        return;
                    }

                    if (isOne && isTwo) {
                        var row = GetRowTwo();
                        if (!RequiredVID(row)) {
                            $.messager.alert('系统提示', '请输入活动ID');
                            return false;
                        }
                        if (row) {
                            array.push(row[0]);
                            array.push(row[1]);


                            $('#cp').datagrid('appendRow', row[0]);
                            $('#cp').datagrid('appendRow', row[1]);
                            $('#two').dialog('close');

                            $('#cp').datagrid('sort', {
                                sortName: 'Group,OrderBy',
                                sortOrder: 'asc,asc'
                            });

                            MergeCells('cp', 'Group');
                        }
                    }
                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#two').dialog('close');
                }
            }]
        });

        $('#three').dialog({
            width: 1330,
            height: 780,
            href: '/ActivityV1/Three',
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {

                    var isOne = $('#threeFormOne').valid();
                    var isTwo = $('#threeFormTwo').valid();
                    var isThree = $('#threeFormByThree').valid();

                   

                    if (isOne && isTwo && isThree) {
                        var row = GetRowThree();
                        if (!RequiredVID(row)) {
                            $.messager.alert('系统提示', '请输入活动ID');
                            return false;
                        }
                        if (row) {
                            array.push(row[0]);
                            array.push(row[1]);
                            array.push(row[2]);
                            $('#cp').datagrid('appendRow', row[0]);
                            $('#cp').datagrid('appendRow', row[1]);
                            $('#cp').datagrid('appendRow', row[2]);
                            $('#three').dialog('close');

                            //排序
                            $('#cp').datagrid('sort', {
                                sortName: 'Group,OrderBy',
                                sortOrder: 'asc,asc'
                            });

                            MergeCells('cp', 'Group');
                        }
                    } else {
                        if ($('#threeFormOne [name=Type]').val() == -1 || $('#threeFormTwo [name=Type]').val() == -1 || $('#threeFormByThree [name=Type]').val() == -1) {
                            $.messager.alert('提示', '请选择活动类型');
                        }
                    }
                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#three').dialog('close');
                }
            }]
        });

        $('#four').dialog({
            width: 930,
            height: 1000,
            href: '/ActivityV1/Four',
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {

                    if ($('#threeFormOnePC [name=Type]').val() == -1 || $('#threeFormTwoPC [name=Type]').val() == -1 || $('#threeFormByThreePC [name=Type]').val() == -1 || $('#threeFormByfourPC [name=Type]').val() == -1) {
                        $.messager.alert('提示', '请选择活动类型');
                        return;
                    }

                    var isOne = $('#threeFormOnePC').valid();
                    var isTwo = $('#threeFormTwoPC').valid();
                    var isThree = $('#threeFormByThreePC').valid();
                    var isFour = $('#threeFormByfourPC').valid();

                    console.log('isOne:' + isOne);
                    console.log('isTwo:' + isTwo);
                    console.log('isThree:' + isThree);
                    if (isOne && isTwo && isThree && isFour) {
                        var row = GetRowFour();
                        if (!RequiredVID(row)) {
                            $.messager.alert('系统提示', '请输入活动ID');
                            return false;
                        }
                        if (row) {
                            array.push(row[0]);
                            array.push(row[1]);
                            array.push(row[2]);
                            $('#cp').datagrid('appendRow', row[0]);
                            $('#cp').datagrid('appendRow', row[1]);
                            $('#cp').datagrid('appendRow', row[2]);
                            $('#cp').datagrid('appendRow', row[3]);
                            $('#four').dialog('close');

                            //排序
                            $('#cp').datagrid('sort', {
                                sortName: 'Group,OrderBy',
                                sortOrder: 'asc,asc'
                            });

                            MergeCells('cp', 'Group');
                        }
                    } else {
                        if ($('#threeFormOnePC [name=Type]').val() == -1 || $('#threeFormTwoPC [name=Type]').val() == -1 || $('#threeFormByThreePC [name=Type]').val() == -1 || $('#threeFormByfourPC [name=Type]').val() == -1) {
                            $.messager.alert('提示', '请选择活动类型');
                        }
                    }
                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#four').dialog('refresh');
                    $('#four').dialog('close');
                }
            }]
        });
        $('#oneByPC').dialog({
            width: 500,
            height: 650,
            cache: false,
            href: '/ActivityV1/OnePC',
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    var isOne = $('#oneFormByOnePC').valid();

                    var type = $('#oneFormByOnePC [name=Type]').val();
                    if (type == -1) {
                        $.messager.alert('提示', '请选择活动类型');
                        return false;
                    }

                    if (isOne) {
                        var row = GetDataByOnePC();
                        var rows = [];
                        rows.push(row);
                        if (!RequiredVID(rows)) {
                            $.messager.alert('系统提示', '请输入活动ID');
                            return false;
                        }

                        if (row) {
                            array.push(row);
                            $('#cp').datagrid('appendRow', row);
                            $('#oneByPC').dialog('close');

                            $('#cp').datagrid('sort', {
                                sortName: 'Group,OrderBy',
                                sortOrder: 'asc,asc'
                            });

                            MergeCells('cp', 'Group');
                        }

                    }

                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#oneByPC').dialog('refresh');
                    $('#oneByPC').dialog('close');
                }
            }]
        });
       

        $('#cp').datagrid({
            toolbar: [{
                text: '一行一列',
                iconCls: 'icon-add',
                handler: function () {
                    $('#one').dialog('open');
                    $('#one').dialog('refresh');
                }
            }, '-', {
                text: '一行两列',
                iconCls: 'icon-add',
                handler: function () {
                    $('#two').dialog('open');
                    $('#two').dialog('refresh');
                }

            }, '-', {
                text: '一行三列',
                iconCls: 'icon-add',
                handler: function () {
                    $('#three').dialog('open');
                    $('#three').dialog('refresh');
                }
            }, '-', {
                text: '一行四列',
                iconCls: 'icon-add',
                handler: function () {
                    $('#four').dialog('open');
                    $('#four').dialog('refresh');
                }
            }, '-', {
                text: '一行一列(网站版)',
                iconCls: 'icon-add',
                handler: function () {
                    $('#oneByPC').dialog('open');
                    $('#oneByPC').dialog('refresh');
                }
            }, '-', {
                text: '编 辑',
                iconCls: 'icon-edit',
                handler: function () {
                    var oldRow = $('#cp').datagrid("getSelected");
                   // console.log(oldRow);
                    var indexRow = $('#cp').datagrid('getRowIndex', oldRow);//数据行号
                    if (oldRow) {
                        Edit(oldRow, indexRow);//
                        $('#update').dialog('open');
                    } else {
                        $.messager.alert('提示', '请选择编辑的行！', 'info');
                    }

                }
            }, '-', '-', '-', '', '', '', '', '', '',
            '', '', 
           {
                text: '删 除',
                iconCls: 'icon-cancel',
                handler: function () {
                    $.messager.confirm('提示', '您确定删除吗?', function (r) {
                        if (r) {
                            var oldRow = $('#cp').datagrid("getSelected");
                            var selectRowIndex = $('#cp').datagrid('getRowIndex', oldRow);//数据行号


                            if (oldRow.BigImg == 0) {//一行数据
                                $('#cp').datagrid('deleteRow', selectRowIndex);
                            } else if (oldRow.BigImg == 1) {//两行
                                $('#cp').datagrid('deleteRow', selectRowIndex);
                                $('#cp').datagrid('selectRow', selectRowIndex);
                                var nextRow;
                                nextRow = $('#cp').datagrid("getSelected");
                                if (nextRow) {
                                    if (nextRow.Group == oldRow.Group) {
                                        $('#cp').datagrid('deleteRow', selectRowIndex);
                                    } else {
                                        $('#cp').datagrid('selectRow', selectRowIndex - 1);
                                        nextRow = $('#cp').datagrid("getSelected");
                                        if (nextRow.Group == oldRow.Group) {
                                            $('#cp').datagrid('deleteRow', selectRowIndex - 1);
                                        }
                                    }
                                } else {//当前行没有数据时
                                    $('#cp').datagrid('selectRow', selectRowIndex - 1);
                                    var nextRow = $('#cp').datagrid("getSelected");

                                    if (nextRow.Group == oldRow.Group) {
                                        $('#cp').datagrid('deleteRow', selectRowIndex - 1);
                                    }
                                }
                            } else if (oldRow.BigImg == 2) {//一行三列
                                var fristIndex;
                                var selectPostion;//0 top 1 middle 2bottom
                                if (selectRowIndex > 0) {
                                    $('#cp').datagrid('selectRow', selectRowIndex - 1);
                                    var preRow = $('#cp').datagrid("getSelected");
                                    $('#cp').datagrid('selectRow', selectRowIndex + 1);
                                    var nextRow = $('#cp').datagrid("getSelected");
                                    if (nextRow) {
                                        if (preRow.Group == oldRow.Group && nextRow.Group == oldRow.Group) {
                                            selectPostion = 1;
                                        }
                                        if (preRow.Group == oldRow.Group && nextRow.Group != oldRow.Group) {
                                            selectPostion = 2;
                                        }

                                        if (preRow.Group != oldRow.Group && nextRow.Group == oldRow.Group) {
                                            selectPostion = 0;
                                        }
                                    } else {
                                        selectPostion = 2;
                                    }
                                    switch (selectPostion) {
                                        case 0:
                                            fristIndex = selectRowIndex;
                                            break;
                                        case 1:
                                            fristIndex = selectRowIndex - 1;
                                            break;
                                        case 2:
                                            fristIndex = selectRowIndex - 2;
                                            break;
                                        default:
                                            break;
                                    }

                                    $('#cp').datagrid('deleteRow', fristIndex);
                                    $('#cp').datagrid('deleteRow', fristIndex);
                                    $('#cp').datagrid('deleteRow', fristIndex);


                                } else {
                                    $('#cp').datagrid('deleteRow', selectRowIndex);
                                    $('#cp').datagrid('deleteRow', selectRowIndex);
                                    $('#cp').datagrid('deleteRow', selectRowIndex);
                                }

                            } else if (oldRow.BigImg == 4) {//一行四列
                                var fristIndex;
                                var selectPostion;
                                if (selectRowIndex > 0) {
                                    $('#cp').datagrid('selectRow', selectRowIndex - 2);
                                    var prepreRow = $('#cp').datagrid("getSelected");
                                    $('#cp').datagrid('selectRow', selectRowIndex - 1);
                                    var preRow = $('#cp').datagrid("getSelected");

                                    $('#cp').datagrid('selectRow', selectRowIndex + 1);
                                    var nextRow = $('#cp').datagrid("getSelected");

                                    $('#cp').datagrid('selectRow', selectRowIndex + 2);
                                    var nextnextRow = $('#cp').datagrid("getSelected");

                                    if (prepreRow == undefined) {
                                        prepreRow = {};
                                        prepreRow.Group = -1;
                                    }

                                    if (nextnextRow == undefined) {
                                        nextnextRow = {};
                                        nextnextRow.Group = -1;
                                    }

                                    if (nextRow == undefined) {
                                        nextRow = {};
                                        nextRow.Group = -1;
                                    }

                                    if (preRow.Group != oldRow.Group) {
                                        selectPostion = 0;
                                    }

                                    if (preRow.Group == oldRow.Group && nextnextRow.Group == oldRow.Group ) {
                                        selectPostion = 1;
                                    }
                                    
                                    if ( prepreRow.Group == oldRow.Group && nextRow.Group == oldRow.Group) {
                                        selectPostion = 2;
                                    }

                                    if (nextRow.Group != oldRow.Group) {
                                        selectPostion = 3;
                                    }

                                    switch (selectPostion) {
                                        case 0:
                                            fristIndex = selectRowIndex;
                                            break;
                                        case 1:
                                            fristIndex = selectRowIndex - 1;
                                            break;
                                        case 2:
                                            fristIndex = selectRowIndex - 2;
                                            break;
                                        case 3:
                                            fristIndex = selectRowIndex - 3;
                                        default:
                                            break;
                                    }

                                    $('#cp').datagrid('deleteRow', fristIndex);
                                    $('#cp').datagrid('deleteRow', fristIndex);
                                    $('#cp').datagrid('deleteRow', fristIndex);
                                    $('#cp').datagrid('deleteRow', fristIndex);
                                } else {
                                    $('#cp').datagrid('deleteRow', selectRowIndex);
                                    $('#cp').datagrid('deleteRow', selectRowIndex);
                                    $('#cp').datagrid('deleteRow', selectRowIndex);
                                    $('#cp').datagrid('deleteRow', selectRowIndex);
                                }

                            } else if (oldRow.BigImg == 3) {
                                $('#cp').datagrid('deleteRow', selectRowIndex);
                            }
                            //
                        }
                    });
                }
            }],
            onLoadSuccess: function () {
                GetTires("form1");
                console.log('执行');
                MergeCells('cp', 'Group');
             
            }
        });
       
        //加载时拍下列表
        $('#cp').datagrid('sort', {
            sortName: 'Group,OrderBy',
            sortOrder: 'asc,asc'
        });


    });

   





    //子页面上传图片
    function UploadImg(obj, showImg, showUrl,isUploading,table) {

        var pobj = $(obj);

        var fileSize = pobj[0].files[0].size/1024*1.0;
        if (fileSize.toFixed(2) > 400) {
            $.messager.alert("提示","上传图片失败！图片不能超过400K");
            return;
        }


        var rd = Math.ceil(Math.random() * 9999) + 1;
        var fileElId = $(obj).attr("id");
        console.log(fileElId);
        $.ajaxFileUpload({
            url: '/Article/ImageUploadToAli?rd=' + rd,
            secureuri: false,
            fileElementId: fileElId,
            dataType: 'json',
            async: false,
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $("#"+table +" [id="+ showImg+"]").attr("src", result.SImage).show();
                    $("#"+table +" [id="+ showUrl+"]").val(result.BImage);
                   // $("#"+table +" [id="+ isUploading+"]").val("1");
                  //  console.log( $("#"+table +" [id="+ isUploading+"]").val());

                } else {
                    alert("上传失败！");
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });
    }

    //子页面上传图片 背景图片
    function UploadBgImg(obj, showImg, showUrl,showSImg) {

        var pobj = $(obj);
        var rd = Math.ceil(Math.random() * 9999) + 1;
        var fileElId = $(obj).attr("id");
        console.log(fileElId);
        $.ajaxFileUpload({
            url: '/Article/ImageUploadToAli?rd=' + rd,
            secureuri: false,
            fileElementId: fileElId,
            dataType: 'json',
            async: false,
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $("#" + showImg).attr("src", result.SImage).show();
                    $("#" + showUrl).val(result.BImage);
                    $('#' + showSImg).val(result.SImage);

                } else {
                    alert("上传失败！");
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });
    }


    // 对Date的扩展，将 Date 转化为指定格式的String
    // 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
    // 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
    // 例子：
    // (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
    // (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1,                 //月份
            "d+": this.getDate(),                    //日
            "h+": this.getHours(),                   //小时
            "m+": this.getMinutes(),                 //分
            "s+": this.getSeconds(),                 //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds()             //毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }


    /**
   * EasyUI DataGrid根据字段动态合并单元格
   * param fldList 要合并table的id
   * param fldList 要合并的列,用逗号分隔(例如："name,department,office");
*/
    function MergeCells(tableID, fldList) {
        var Arr = fldList.split(",");
        var dg = $('#' + tableID);
        var fldName;
        var RowCount = dg.datagrid("getRows").length;
        var span;
        var PerValue = "";
        var CurValue = "";
        var length = Arr.length - 1;
        for (i = length; i >= 0; i--) {
            fldName = Arr[i];
            PerValue = "";
            span = 1;
            for (row = 0; row <= RowCount; row++) {
                if (row == RowCount) {
                    CurValue = "";
                }
                else {
                    CurValue = dg.datagrid("getRows")[row][fldName];
                }
                if (PerValue == CurValue) {
                    span += 1;
                }
                else {
                    var index = row - span;
                    dg.datagrid('mergeCells', {
                        index: index,
                        field: fldName,
                        rowspan: span,
                        colspan: null
                    });
                    span = 1;
                    PerValue = CurValue;
                }
            }
        }
    }


    //类型改变时
    function DropDownChange(formName) {
       
        var value = $('#' + formName + ' [name=Type]').val();
        $('#' + formName + ' [id=TwoPic]').hide();
        console.log(value);
        if (value == 0 || value == 1) { //轮胎 车品
            $('#' + formName).validate(TireValidate);
        } else if (value == 2) {//链接
            $('#' + formName).validate(LinkValidate);
        } else if (value == 3) {//图片
            $('#' + formName).validate(PictureValidate);
        } else if (value == 4) {//优惠卷
            $('#' + formName).validate(CouponValidate);

            $('#' + formName + ' [id=TwoPic]').show();

        } else if (value == 5) {//保养
            $('#' + formName).validate(UpKeepValidate);
        }

        if (value != 0 && value != 1 && value != 6 && value != 7) {
            $('#' + formName + ' [name=IsImage]').val(1);//是图片
        }

    }

    //获取产品库图片以及产品名称
    function GetProductImage(obj,tableName) {
        $.ajax({
            type: 'post',
            url: '/ActivityV1/GetProductImage?pid=' + $(obj).val(),
            dataType: 'json',
            success: function (result) {
                console.log(result);
                var json = JSON.parse(result);
                if (result.BImage != "" && result.SImage != "") {
                    $('#' + tableName + ' [id=cimg]').attr('src', json.SImage);
                    $('#' + tableName + ' [name=hidCimg]').val(json.BImage);
                    $('#' + tableName + ' [name=ProductName]').val(json.DisplayName);
                    if ($('#' + tableName + ' [name=hidCimg]').val() == "") {
                        $.messager.alert("提示", "产品库中无图片,请重新填写");
                        $('#' + tableName + ' [name=PID]').val('');
                    } else {

                    }
                    console.log(json.SImage);
                    console.log(json.BImage);
                    console.log($('#' + tableName + ' [name=hidCimg]').val());
                } else {
                    $.messager.alert("提示", "产品库中无图片,请重新填写");
                    $('#' + tableName + ' [name=PID]').val('');
                }
            }
        });

    }


    /*
    *根据活动ID绑定优惠卷
    *
    */
    function BindCoupon(formName) {
        /*  优惠券作废
        var activityID = $('#'+formName+' [name=VID]').val();
        if (activityID != "") {
            $.ajax({
                type: 'post',
                url: '/Activity/GetCoupon',
                dataType: 'json',
                data: { "activityID": activityID },
                success: function (result) {
                    console.log(result);
                    $('#' + formName + " [name=CID]").empty();
                    if (result != "") {
                        result = JSON.parse(result);
                        for (i = 0; i < result.length; i++) {
                            $('#' + formName + " [name=CID]").append('<option value="'+result[i].Value+'">'+result[i].Name+'</option>');
                        }
                    }
                }
            });
        } else {
            $('#' + formName + " [name=CID]").empty();
        }
        */
        var activityID = $('#' + formName + ' [name=CID]').val();
        if (activityID != "") {
            $.ajax({
                type: 'post',
                url: '/ActivityV1/CouponVlidate',
                dataType: 'json',
                data: { "couponRulePKID": activityID },
                success: function (result) {
                    console.log(result);
                    if (result.Name != "") {
                        if ($('#' + formName + ' [name=CID]').next().next().length > 0) {
                            $('#' + formName + ' [name=CID]').next().next().empty();
                        }
                        $('#' + formName + ' [name=CID]').after("<br/><sapn>名称:" + result.Name + " <br/> 描述:" + result.Description + "</sapn>");
                    } else {
                        $('#' + formName + ' [name=CID]').val("")
                        alert("优惠券不存在,请重新输入");
                        if ($('#' + formName + ' [name=CID]').next().next().length>0) {
                            console.log("清空");
                            $('#' + formName + ' [name=CID]').next().next().empty();
                        }
                        
                    }
                   
                }
            });
        } else {
            $('#' + formName + " [name=CID]").empty();
        }
    }

    function RequiredVID(row) {
        var isReturn = true;

        for (var i = 0; i < row.length; i++) {

            if (row[i].Type == 6 || row[i].type == 7) {
                if (row[i].VID == '' || row[i].VID == null || row[i].VID == undefined) {
                    isReturn = false;
                    break;
                }
            }
        }

        return isReturn
    }


</script>