@model Tuhu.Provisioning.DataAccess.Entity.CouponActivity

@{
    Layout = null;
}
@{
    ViewBag.title = "优惠券活动配置";
}

<style type="text/css">
      .middleInput {
        width:120px;
    }
</style>


<body>
    <h2>APP优惠券活动配置<span style="color: #d43f3a;font-size:15px; font-weight: bolder">*(所有内容不能为空)</span></h2>
    <table id="tableContainer" style="text-align:center;font-size:10px">
        <tr>
            <td colspan="2" rowspan="2" style="text-align:center">
                <img height="40" class="vwPicture" src="@Model.SmallImageUrl" />
                <input type="hidden" class="image" value="@Model.BigImageUrl" />
                <input type="hidden" class="smallImage" value="@Model.SmallImageUrl" />
                <form method="post" action="" enctype="multipart/form-data">
                    <input style="width: 150px;" type="file" id="imgArea" name="imgArea" onchange="UploadImg(this)" /><br /><span style="color: #d43f3a;font-size:10px; font-weight: bolder">(请等待图片加载完成)</span>
                </form>
            </td>
            <td colspan="2" style="text-align:center">
                <label>是否同时发券：</label><input id="IsSendCoupon" type="checkbox" checked="@Model.IsSendCoupon" />
            </td>
            <td><label>文字色值：</label></td>
            <td align="left"><input id="ButtonTextColor" class="middleInput" type="text" value="@Model.ButtonTextColor" /></td>           
        </tr>
        <tr>
            <td><label>按钮文案：</label></td>
            <td align="left"><input class="middleInput" id="ButtonText" type="text" value="@Model.ButtonText"></td>
            <td><label>背景色值：</label></td>
            <td align="left"><input id="ButtonBackGroundColor" type="text" class="middleInput" value="@Model.ButtonBackGroundColor" /></td>
        </tr>
        <tr>
            <td><label>URL：</label></td>
            <td align="left"><input class="middleInput" id="Url" type="text" value="@Model.Url" /></td>
            <td><label>Ios参数：</label></td>
            <td align="left"><input class="middleInput" id="IosUrl" type="text" value="@Model.IosJson" /></td>
            <td><label>Android参数：</label></td>
            <td align="left"><input class="middleInput" id="AndroidUrl" type="text" value="@Model.AndroidJson" /></td>
        </tr>
        <tr>
            <td><label>浮层按钮文案：</label></td>
            <td align="left"><input class="middleInput" id="layerButtonText" type="text" value="@Model.LayerButtonText" disabled="@(!Model.IsSendCoupon)" /></td>
            <td><label>浮层按钮背景色值：</label></td>
            <td align="left"><input class="middleInput" id="layerButtonBackGroundColor" type="text" value="@Model.LayerButtonBackGroundColor" disabled="@(!Model.IsSendCoupon)"></td>
            <td><label>浮层按钮文字色值：</label></td>
            <td align="left"><input class="middleInput" id="layerButtonTextColor" type="text" value="@Model.LayerButtonTextColor" disabled="@(!Model.IsSendCoupon)" /></td>
        </tr>
        <tr>
            <td><label>优惠券RuleID(整数)：</label></td>
            <td align="left"><input class="middleInput" id="RuleID" type="text" value="@Model.PromotionRuleId" disabled="@(!Model.IsSendCoupon)"></td>
            @*<td><label>优惠券Type（整数）：</label><input id="PromotionType" type="text" value="@Model.PromotionType" disabled="@(!Model.IsSendCoupon)"/></td>*@
            <td><label>优惠券描述：</label></td>
            <td align="left"><input class="middleInput" id="CouponDescription" type="text" value="@Model.PromotionDescription" disabled="@(!Model.IsSendCoupon)" /></td>
            <td><label>CodeChannel：</label></td>
            <td align="left"><input class="middleInput" id="CodeChannel" type="text" value="@Model.PromotionCodeChannel" disabled="@(!Model.IsSendCoupon)" /></td>
        </tr>
        <tr>
            <td><label>使用金额(整数)：</label></td>
            <td align="left"><input class="middleInput" id="UseMoney" type="text" value="@Model.PromotionMinMoney" disabled="@(!Model.IsSendCoupon)" /></td>
            <td><label>优惠金额(整数)：</label></td>
            <td align="left"><input class="middleInput" id="DiscountMoney" type="text" value="@Model.PromotionDiscount" disabled="@(!Model.IsSendCoupon)" /></td>
            <td><label>时间从：</label></td>
            <td align="left">
                <input id="startDate" name="startDate" type="text" value="@Model.StartDate" disabled="@(!Model.IsSendCoupon)" />
                <label>至:</label>
                <input id="endDate" name="endDate" type="text" value="@Model.EndDate" disabled="@(!Model.IsSendCoupon)" />
            </td>
        </tr>
    </table>
    <input type="hidden" id="ActivityId" value="@Model.ActivityId" />
    <input type="hidden" id="ActivityKey" value="@Model.ActivityKey" />
</body>
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>
<link rel="stylesheet" href="/Scripts/artDialog6.0.4/css/ui-dialog.css" />
<script src="~/Scripts/artDialog6.0.4/dist/dialog-min.js"></script>
<script src="~/Scripts/artDialog6.0.4/dist/dialog-plus-min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#startDate').datepicker({
            controlType: 'select',
            dateFormat: "yy-mm-dd",
        });
        $('#endDate').datepicker({
            controlType: 'select',
            dateFormat: "yy-mm-dd",
        });

    })

    $("#IsSendCoupon").change(function() {
        var isSendCoupon = document.getElementById("IsSendCoupon").checked;
        if (!isSendCoupon) {
            $("#RuleID").attr("disabled", true);
            $("#PromotionType").attr("disabled", true);
            $("#UseMoney").attr("disabled", true);
            $("#DiscountMoney").attr("disabled", true);
            $("#layerButtonText").attr("disabled", true);
            $("#layerButtonBackGroundColor").attr("disabled", true);
            $("#layerButtonTextColor").attr("disabled", true);
            $("#CouponDescription").attr("disabled", true);
            $("#startDate").attr("disabled", true);
            $("#endDate").attr("disabled", true);
            $("#CodeChannel").attr("disabled", true);
        } else {
            $("#RuleID").attr("disabled", false);
            $("#PromotionType").attr("disabled", false);
            $("#UseMoney").attr("disabled", false);
            $("#DiscountMoney").attr("disabled", false);
            $("#layerButtonText").attr("disabled", false);
            $("#layerButtonBackGroundColor").attr("disabled", false);
            $("#layerButtonTextColor").attr("disabled", false);
            $("#CouponDescription").attr("disabled", false);
            $("#CodeChannel").attr("disabled", false);
            $("#startDate").attr("disabled", false);
            $("#endDate").attr("disabled", false);
        }
    })
    function UploadImg(e) {
        var $e = $(e);
        var $ee = $e.parents().find("td").eq(0).find("img");
        var $smallImage = $e.parents().find("td").eq(0).find("input[class='smallImage']");
        var $image = $e.parents().find("td").eq(0).find("input[class='image']");
        $.ajaxFileUpload({
            url: '/Article/ImageUploadToAli',
            secureuri: false,
            fileElementId: $e.attr("id"),
            dataType: 'json',
            data: {},
            type: "post",
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $ee.attr("src", result.SImage);
                    $(".vwPicture").show();
                    $smallImage.val(result.SImage);
                    $image.val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            }
        });
    }
</script>