@model Tuhu.Provisioning.DataAccess.Entity.QRCodeManageModel
@{
    Layout = null;
    ViewBag.Title = "微信二维码生成配置编辑";
}

<style type="text/css">
    #addoredit .need_flag {
        color: red;
    }

    #addoredit tr td:nth-child(1) {
        width: 25%;
        text-align:left;
    }

    #addoredit tr td:nth-child(2) {
        width: 40%;
        text-align:center;
    }

    #addoredit tr td:nth-child(2) input[type='text'] {
        width: 80%;
    }
</style>

@using (Html.BeginForm("Save", "QRCodeManageConfig", FormMethod.Post, new { @id = Model.Id }))
{
    if (Model.Id >= 0)
    {
        <table style="background:#ffffff;font-size:12px;width:100%;" id="addoredit">
            <tr>
                <td>
                        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                        @Html.HiddenFor(m => m.CreateTime, new { @name = "CreateTime" })
                        <table align="center">
                            <tr>
                                <td>渠道名称:</td>
                                <td>@Html.TextBoxFor(m => m.ChannelName, new { @name = "ChannelName" })</td>
                                <td rowspan="9">
                                    <img width="260" height="260" src="@Model.QRCodeUrl">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>服务号appid: 
                                        <span class="need_flag">*</span>
                                    </label>
                                </td>
                                <td><input type="text" id="appid" value="" class="text" name="appid"></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        服务号appsecret:
                                        <span class="need_flag">*</span>
                                    </label>
                                </td>
                                <td><input type="text" id="appsecret" value="" class="text" name="appsecret"></td>
                            </tr>
                            <tr>
                                <td>状态:</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.IsShow, 0, new { @name = "IsShow" }) 禁用
                                    @Html.RadioButtonFor(m => m.IsShow, 1, new { @name = "IsShow" }) 启用
                                </td>
                            </tr>
                            <tr>
                                <td>二维码类型:</td>
                                <td>
                                    @Html.RadioButtonFor(m => m.QRCodeType, 0, new { @name = "QRCodeType" }) 临时二维码
                                    @Html.RadioButtonFor(m => m.QRCodeType, 1, new { @name = "QRCodeType" }) 永久二维码
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        临时二维码有效: <br />
                                        <span class="need_flag">(秒数，60-2592000(30天)，如果是永久二维码可忽略此项)</span>
                                    </label>
                                </td>
                                <td>@Html.TextBoxFor(m => m.ValidityTime, new { @name = "ValidityTime" })</td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        自定义追踪ID: <br />
                                        <span class="need_flag">(临时二维码时为32位非0整型，永久二维码时最大值为100000)</span>
                                    </label>
                                </td>
                                <td>@Html.TextBoxFor(m => m.TraceId, new { @name = "TraceId" })</td>
                            </tr>
                            <tr>
                                <td>二维码:</td>
                                <td>@Html.TextBoxFor(m => m.QRCodeUrl, new { @name = "QRCodeUrl" })</td>
                            </tr>
                            <tr>
                                <td>
                                    回复内容:
                                </td>
                                <td>
                                    @Html.TextAreaFor(m => m.ResponseContent, new { @name = "ResponseContent" ,@style="height:100px;width:260px" });
                                </td>
                            </tr>
                        </table>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <input id="SaveSubmit" type="button" value="保存" onclick="AddOrEditConfig.CheckedTraceId();"  />
                </td>
            </tr>
        </table>
    }
    else
    {
        <div style="text-align:center;">无效请求！</div>
    }
}

<script type="text/javascript">
    var AddOrEditConfig = {
        CheckedTraceId: function () {
            var _TraceId = $.trim($("#TraceId").val()), _ID = $("#Id").val() || 0;
            console.log([_TraceId, _ID].join(','));

            if (_TraceId.length > 0) {
                $.ajax({
                    type: "POST",
                    url: "/QRCodeManageConfig/CheckedTraceId",
                    data: { traceId: parseInt(_TraceId), id: _ID },
                    success: function (n) {
                        n = n || 0;
                        console.log(n);
                        if (n == 1) {
                            alert("自定义追踪ID，已存在请更换其他ID！");
                            return false;
                        }
                        else {
                            $("form:first").submit();
                        }
                    }
                });
            }
            return false;
        }
    };
</script>