@model  Tuhu.Provisioning.DataAccess.Entity.GaiZhuangRelateArticleModel

@{
    ViewBag.Title = "编辑文章配置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #filter {
        width: 620px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
    }

    #filter dl {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        clear: both;
        padding: 4px 0;
    }

    #filter dt, dd {
        display: block;
        float: left;
        width: auto;
        padding: 0;
        margin: 3px 0;
    }

    #filter dt {
        height: 14px;
        padding-bottom: 4px;
        font-weight: bold;
        color: #333333;
    }

    #filter dd {
        color: #005AA0;
        margin-right: 8px;
    }

    #filter a {
        cursor: pointer;
    }

    .seling {
        background-color: gray; /*#005AA0;*/
        color: #FFFFFF;
    }

    .seled {
        background-color: #005AA0;
        color: #FFFFFF;
    }
</style>

<script src="~/Content/ProductVehicleType/js/angular.min.js"></script>
<script src="~/Content/ProductVehicleType/js/tm.pagination.js"></script>
<script src="~/Content/ProductVehicleType/js/underscore.js"></script>
<link href="~/Content/ProductVehicleType/css/detail.css" type="text/css" rel="stylesheet" />
<link href="~/Content/ProductVehicleType/css/bootstrap.v3.css" type="text/css" rel="stylesheet" />
<link href="~/Content/ProductVehicleType/css/showLoading.css" type="text/css" rel="stylesheet"/>

<script src="~/Content/ConfigCategory/js/Edit.js" type="text/javascript"></script>
<script src="~/Content/ProductVehicleType/js/jquery.showLoading.min.js" type="text/javascript"></script>
<div class="container" ng-app="NodeApp" style="margin-bottom: 400px">
<div class="row"><br/>
            文章名称 
    <input class="ArticleName" id="ArticleName" type="text" value="@Model.ArticleName"/><br/>
            文章链接
    <input class="ArticleLink" id="ArticleLink" type="text" value="@Model.ArticleLink"/><br/>
            @*适配车型
    <input class="VehicleID" id="VehicleID" type="text" value="@Model.VehicleID"/><br/>*@
</div>
    <div class="row">
        <div class="span8" ng-controller="ConfigCategoryController">
            @*这部分加载分布视图*@
            <div data-ng-init="load()"></div>
            <div id="filter">
                <div>
                    <h3>筛选条件</h3>
                </div>
                <dl>
                    <dt>品牌车型：</dt>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>A</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>B</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>C</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>D</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>E</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>F</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>G</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>H</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>I</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>J</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>K</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>L</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>M</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>N</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>O</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>P</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>Q</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>R</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>S</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>T</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>U</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>V</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>W</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>X</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>Y</a>
                        </div>
                    </dd>
                    <dd>
                        <div style="font-size: larger; margin-left: 10px;">
                            <a>Z</a>
                        </div>
                    </dd>
                </dl>
            </div>

            <div class="search-result" style="margin-top: 60px">
                <div id="divNoResult" class="search-no hidden">您好，此产品不需要配置车型数据，谢谢！</div>
                <div id="divNoSearchResult" class="search-no hidden">您好，未查到相关车型数据，请重新筛选！</div>
                <div class="search-list" ng-repeat="item in apiInfoList">
                    <ul class="car-menu">
                        <li>
                            <div class="car-item">
                                <i class="triangle-icon" ng-click="showNext($event.target)"></i>
                                @*<i class="triangle-icon triangle-icon-dowm"></i>*@
                                <div class="car-type">
                                    <label><input type="checkbox" id="level1" name="{{item.id}}" ng-checked="{{item.check}}" ng-click="checkNext($event.target)" /></label>

                                    <span>{{item.name}}</span>
                                </div>
                            </div>
                            <div class="car-item-sub">
                                <ul ng-repeat="subitem in item.children">
                                    <li>
                                        <div class="car-item">
                                            @*<i class="triangle-icon triangle-icon-dowm"></i>*@
                                            <i class="triangle-icon" ng-click="showNext($event.target)"></i>
                                            <div class="car-type">
                                                <label><input type="checkbox" id="level2" name="{{subitem.id}}" ng-checked="{{subitem.check}}" ng-click="checkNext($event.target)" /></label>
                                                <span>{{subitem.name}}</span>
                                            </div>
                                        </div>
                                        <div class="car-item-sub">
                                            <ul ng-repeat="subitem2 in subitem.children">
                                                <li>
                                                    <div class="car-item">
                                                        <i class="triangle-icon" ng-click="showNext($event.target)"></i>
                                                        <div class="car-type">
                                                            <label><input type="checkbox" id="level3" name="{{subitem2.id}}" ng-checked="{{subitem2.check}}" ng-click="checkNext($event.target)" /></label>

                                                            <span>{{subitem2.name}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="car-item-sub">
                                                        <ul ng-repeat="subitem3 in subitem2.children">
                                                            <li>
                                                                <div class="car-item">
                                                                    <i class="triangle-icon" ng-click="showNext($event.target)"></i>
                                                                    <div class="car-type">
                                                                        <label><input type="checkbox" id="level4" name="{{subitem3.id}}" ng-checked="{{subitem3.check}}" ng-click="checkNext($event.target)" /></label>

                                                                        <span>{{subitem3.name}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="car-item-sub">
                                                                    <ul ng-repeat="subitem4 in subitem3.children">
                                                                        <li>
                                                                            <div class="car-type">
                                                                                <label><input type="checkbox" id="level5" name="{{subitem4.id}}" ng-checked="{{subitem4.check}}" ng-click="checkNext($event.target)"></label>
                                                                                <span>{{subitem4.name}}</span>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row" ng-show="showTable">
                <button class="btn btn-info" id="btnCancel">取消修改</button>
                <button class="btn btn-success" id="btnSave" style="margin-left:50px">保存修改</button>
            </div>
        </div>
    </div>

    <div>
        <input type="hidden" id="PKID" value="@Model.PKID" />
        <input type="hidden" id="CategoryID" value="@Model.CategoryId" />
    </div>
</div>
