@model  List<Tuhu.Provisioning.DataAccess.Entity.NuomiServicesConfig>
    @{
        Layout = null;
    }
    <style type="text/css">
        .table-striped tr:nth-child(odd) { background-color: #EEEEEE; }
        .table-striped tr:hover:nth-child(odd) { background: #FFEC8B; }
        .table-striped tr:hover:nth-child(even) { background: #FFEC8B; }
        .table-striped tr th { text-align: center; }
        .table-striped tr th { background: #22A7F0; }
        div.pager { padding-left: 130px; }
        div.pager a.first-child { width: 105px; }
        div.pager a.last-child { width: 105px; }
    </style>
    <div id="div_Window">
        <table style="text-align: center;width:100%;" class="table-striped">
            <tr style="color:white">
                <th><input type="checkbox" id="check_all" onclick="GetAllOrder()" /></th>
                <th>序号</th>
                <th>糯米团购项目名称</th>
                <th>糯米团购ID</th>
                <th>途虎服务名称</th>
                <th>途虎服务产品ID</th>
                <th>糯米商户账户</th>
                <th>团购配置备注</th>
                <th>是否有效</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td><input type="checkbox" name="check_child" value="@item.PKID" /></td>
                        <td>@item.PKID</td>
                        <td>@item.NuomiTitle</td>
                        <td>@item.NuomiId</td>
                        <td>@item.ServiceName</td>
                        <td>@item.ServiceId</td>
                        <td>@item.Email</td>
                        <td>@(item.Remarks == "" ? "无" : item.Remarks)</td>
                        @if (item.IsValid == 0)
                        {
                            <td><span style="color:red;font-weight:bold">无效</span></td>
                        }
                        else
                        {
                            <td><span style="color:green;font-weight:bold">有效</span></td>
                        }
                        <td>@item.CreatedTime</td>
                        <td>@(item.UpdatedTime == null ? "无" : item.UpdatedTime.ToString())</td>
                        <td data-key="@item.PKID"><a class="config-edit">编辑</a> <a class="config-del">删除</a></td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="10">无数据</td></tr>
            }
        </table>
        <input type="hidden" id="Totalcount" value="@(ViewBag.TotalCount)" />
        <label style="position: absolute;color:#08c;margin-bottom:10px;margin-top:28px;margin-left:180px">共@(ViewBag.TotalCount)条数据</label>
    </div>
     <input type="hidden" id="hidden_PKID" />
    <script type="text/javascript">
        $(".config-edit").on("click", function () {
            var $item = $(this).parent().parent();
            var nuomiTitle = $item.find('td').eq(2).html();
            var nuomiID = $item.find('td').eq(3).html();
            var serviceName = $item.find('td').eq(4).html()
            var serviceId = $item.find('td').eq(5).html();
            var userEmail = $item.find('td').eq(6).html();
            var remarks = $item.find('td').eq(7).html();
            var pkid = $item.find('td').eq(11).attr('data-key');
            var userEmailStr = $("#userEmailStr").val();
            var userEmailHtml = "<option value=" + userEmailStr + ">" + userEmailStr + "</option>";
            var html = "<table style='width:100%;height:100%'>";
            var html_NuomiTitle = "<tr><th style='width:130px'>糯米团购项目名称：</th><td><input class='now_nuomiTitle' style='width:90%' type='text' value=" + nuomiTitle + " /></td></tr>";
            var html_NuomiID = "<tr><th>糯米团购ID：</th><td><input class='now_nuomiID'disabled='disabled' type='text' value=" + nuomiID + " style='width:90%' /></td></tr>";
            var html_ServiceId = "<tr><th>途虎服务产品ID：</th><td><input class='now_serviceID' type='text'style='width:90%' value=" + serviceId + " /><label class='now_serviceName'>" + serviceName + "</label></td></tr>";
            var html_UserEmail = "<tr><th>糯米商户账号：</th><td><select class='now_userEmail' disabled='disabled' style='width:90%'>" + userEmailHtml + "</td></tr>";
            var html_Remarks = "<tr><th>团购配置备注：</th><td><input class='now_remarks' type='text'style='width:90%' value=" + remarks + " /></td></tr>";
            html += html_NuomiTitle + html_NuomiID + html_ServiceId + html_UserEmail + html_Remarks + "</table>";
            var d = dialog({
                title: "糯米团购配置",
                width: 500,
                height: 300,
                fixed: true,
                button: [
                    {
                        value: '保存',
                        callback: function () {
                            if (confirm("是否确认操作？")) {
                                nuomiTitle = $(".now_nuomiTitle").val().trim();
                                nuomiID = $(".now_nuomiID").val().trim();
                                userEmail = $(".now_userEmail").val();
                                remarks = $(".now_remarks").val().trim();
                                if (nuomiTitle != "" && nuomiID != "" && serviceId != ""&&userEmail) {
                                    if (!isNaN(nuomiID)) {
                                        if (serviceName == "无效") {
                                            alert("请输入正确的产品ID");
                                            return false;
                                        } else {
                                            $.get("GetServiceNameByServiceId", { serviceId: serviceId }, function (result) {
                                                if (result != "") {
                                                    $.post("EditNuomiServiceConfig", { pkid: pkid, nuomiTitle: nuomiTitle, nuomiId: nuomiID, serviceID: serviceId,userEmail:userEmail, remarks: remarks }, function (data) {
                                                        if (data.status == "success") {
                                                            alert("修改成功");
                                                            initTable(1);
                                                        } else {
                                                            alert("修改失败");
                                                        }
                                                    });
                                                } else {
                                                    alert("请输入正确的产品ID");
                                                    return false;
                                                }
                                            });
                                        }
                                    } else {
                                        alert("请正确输入糯米团购ID");
                                    }
                                } else {
                                    alert("参数不能为空");
                                    return false;
                                }
                            }
                        }
                    },
                    {
                        value: "取消"
                    }
                ]
            });
            d.content(html);
            d.showModal();

            $(".now_serviceID").change(function () {
                $(".ui-dialog-button button:contains('保存')").attr("disabled", true).addClass("ui-state-disabled")
                serviceId = $(".now_serviceID").val().trim();
                if (serviceId != "") {
                    $.get("GetServiceNameByServiceId", { serviceId: serviceId }, function (result) {
                        if (result == "") {
                            serviceName = "无效";
                        } else {
                            serviceName = result;
                            $(".ui-dialog-button button:contains('保存')").attr("disabled", false).removeClass("ui-state-disabled");
                        }
                        $(".now_serviceName").text(serviceName);
                    });
                }
            });
        });

        $(".config-del").on("click", function () {
            var $item = $(this).parent().parent();
            var pkid = $item.find('td').eq(11).attr('data-key');
            if (confirm("是否确认操作？")) {
                $.post("DelNuomiServiceConfig", { pkid: pkid }, function (data) {
                    if (data.status == "success") {
                        alert("操作成功");
                        initTable(1);
                    } else {
                        alert("操作失败");
                    }
                });
            }
        });

        function GetAllOrder() {
            if ($("#check_all")[0].checked) {
                $("[name='check_child']").attr("checked", 'true');
            }
            else {
                $("[name='check_child']").removeAttr("checked");
            }
        }

        function GetChecked() {
            var pkid = "";
            $("input[name='check_child']:checked").each(function () {
                if (this.checked) {
                    pkid += $(this).val() + ",";
                }
            })
            $("#hidden_PKID").val(pkid);
        }

        function BatchSolete() {
            GetChecked();
            var pkidStr = $("#hidden_PKID").val();
            if (pkidStr != "") {
                if (confirm("是否确认操作")) {
                    $.ajax({
                        type: "POST",
                        url: "BatchSoleteConfig",
                        data: { "pkidStr": pkidStr},
                        success: function (result) {
                            if (result == true) {
                                alert("操作成功");
                                initTable(1);
                            } else {
                                alert("操作失败");
                            }
                        }
                    });
                }
            } else {
                alert("请选择数据");
            }
        }
    </script>
