@model Tuhu.Provisioning.DataAccess.Entity.ShareActivityRulesConfig
@{
    Layout = null;
}

<style>
    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    a {
        color: cornflowerblue;
    }
</style>
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>
<script src="~/Scripts/UEditor/ueditor.config.js"></script>
<script src="~/Scripts/UEditor/ueditor.all.min.js"></script>
<script src="~/Scripts/UEditor/lang/zh-cn/zh-cn.js"></script>
 
<form action="/ShareActivityRulesConfig/Edit" method="post">
    <input type="hidden" value="@Model.Id" name="Id" />
    <div>
        <table>

            <tr>
                <td style="width:10%">图片</td>
                <td style="width:90%">
                    <img height="40" class="vwPicture" src="@Model.Image" />
                    <input type="hidden" name="Image" class="image" value="@Model.Image" />
                    <form method="post" action="" enctype="multipart/form-data">
                        <input style="width:150px;" type="file" onchange="UploadImg(this)" id="2" name="2" />
                    </form>
                </td>
            </tr>
            <tr>
                <td>状态</td>
                <td>
                    @Html.RadioButtonFor(m => m.Status, true) 启用
                    @Html.RadioButtonFor(m => m.Status, false) 禁用
                </td>
            </tr>

            <tr>
                <td>规则</td>
                <td>
                    <textarea id="editor" name="editor"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" onclick="SaveShareActivityRulesConfig()" value="保存" class="btn" /></td>
            </tr>
        </table>
    </div>
</form>
<script>
    var ueditor = UE.getEditor('editor', {
        UEDITOR_HOME_URL: "/Scripts/UEditor/",
        allowDivTransToP: false,
        autoHeightEnabled: false,
        initialFrameWidth: 800,
        initialFrameHeight: 500,
        zIndex: 1000,
        enterTag: ''
    });


    $(function () {

        if(@Model.Id!=0){
            ueditor.addListener( 'ready', function() {
                ueditor.setContent(decodeURIComponent('@Model.Rules'), "");
            } );
        }

    })

    function SaveShareActivityRulesConfig() {
        var model = {
            "Id": $("input[name='Id']").val(),
            "Image": $("input[name='Image']").val(),
            "Status": $("input[name='Status']:checked").val(),
            "Rules": encodeURIComponent(ueditor.getContent())
        }

        $.ajax({
            type: "POST",
            url: "/ShareActivityRulesConfig/Edit",
            data: model,
            dataType: "JSON",
            success: function (result) {
                if (result) {
                    window.location.reload(true);
                }
            },
            error: function (result) {

            }
        })
    }

    function UploadImg(e) {
        var $e = $(e);
        var $ee = $e.parents("tr").find("td").eq(1).find("img");
        var $smallImage = $e.parents("tr").find("td").eq(1).find("input[class='smallImage']");
        var $image = $e.parents("tr").find("td").eq(1).find("input[class='image']");
        $.ajaxFileUpload({
            url: '/Article/AddArticleImg2',
            secureuri: false,
            fileElementId: $e.attr("id"),
            dataType: 'json',
            data: {},
            type: "post",
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $ee.attr("src", result.SImage);
                    $(".vwPicture").show();
                    $smallImage.val(result.SImage);
                    $image.val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            }
        })
    }
</script>