@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.BaoYangModel>


@{
    ViewBag.Title = "Index";
}


<link href="~/Styles/iconfont/ux_1440569396_7310162/iconfont.css" rel="stylesheet" />
<style>
    th {
        text-align: center !important;
    }
     #baoyangpageconfig {
         border: 1px solid #000000;
         margin-right: auto;
         margin-left: auto;
         width: 100%;
     }

    #baoyangpageconfig #baoyangpageconfigList {
        padding-left: 40px;
        text-align: center;
    }

    #baoyangpageconfig .baoyangpageconfigList {
        background-color: #00bfff;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        margin-bottom: 20px;
        font-size: 20px;
    }

    a,.baoyangindexconfigItemDIV {
        cursor: pointer;
    }

    #EditItemDIV {
        display: none;
    }

    #baoyangpageconfig .addconfig {
        color: #00008b;
        cursor: pointer;
    }
    .addconfig {
        font-size: 14px;
        border: 2px solid #191970;
    }

    #baoyangindexconfig {
        width: 100%;
        height: 130px;
        overflow: hidden;
    }
    .baoyangindexconfigItemDIV {
        margin: 0px 0px 10px 10px;
        border: 1px solid red;
        width: 11%;
        height: 50px;
        float: left;
    }
    .baoyangindexconfigAdd {
        margin: 0px 0px 10px 10px;
        border: 1px solid red;
        width: 147px;
        height: 60px;
        float: left;
        text-align: center;
        line-height: 60px;
    }
    .baoyangtitle {
        width: 100%;
        height: 40px;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 20px;
    }
    .baoyangtitle span {
        border: 2px solid #008080;
        cursor: pointer;
    }
    .baoyangtitle .isaction {
        background-color: #00ced1;
    }

    li a {
        cursor: default;
    }
    a i,.indexedit {
        cursor: pointer;
    }




.by_list{font-size:12px;font-family:宋体;;width:1280px;margin:0 auto ;background-color:#fff;}
.by_list li{position:relative;float:left;display:inline;width:147px;height:60px;border:1px solid #ddd;}
.by_list li.last{border-right:0;width:144px;}
.by_list .line{display:block;width:100%;height:1px;overflow:hidden;margin:0;border:0;background-color:#ddd;}
.by_list a{display:block;width:100%;height:100%;line-height:50px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;color:#666;border:5px solid #fff;overflow:hidden;}
.by_list a:hover{color:#f58863;border:5px solid #f8f8f8;}
.by_list a:hover .icon{color:#4d7aff;}
.by_list a .icon{color:#c9d7ff;font-size:32px;vertical-align:middle;margin:0 10px 0 16px;}
.by_list a span{/*display:inline-block;*/ line-height:20px;vertical-align:middle;}
.by_list .mark{position:absolute;top:0;left:-6px;}
.by_list .mark span{display:block;width:auto;padding:0 5px;color:#fff;font-family:"arial";position:relative;background-color:#e4393c;z-index:1;}
.by_list .mark .i-arr{border-width:5px 5px;border-color:transparent #ad2334 transparent transparent;border-style:solid;position:absolute;bottom:-5px;left:-5px;}

 
.indexedit {
    display: inline;
    margin-left: 10px;
}
    
</style>


<h2 style="">保养活动配置</h2>

<div>
    <div class="baoyangtitle">
        <span class="isaction">保养页面活动配置</span><span style="margin-left: 10px;">首页保养活动配置</span>
    </div>
    @*<div style="font-size: 20px; color: #000; font-family: 'iconfont';">&#xe600;</div>*@

    <div id="baoyangpageconfig" style="">
        <div id="baoyangpageconfigList">
            <h5><span class="addconfig">添加配置</span></h5>
            <table class="baoyangpageconfigList">
                <tr>
                    <th>项目类型</th>
                    <th>项目名称</th>
                    <th>现在是否活动</th>
                    <th>现在活动样式</th>
                    <th>操作</th>
                </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.byType</td>
                    <td>@item.byValue</td>
                    <td>@(item.isActivity ? "是" : "否")</td>
                    <td>@item.Description</td>
                    <td><a class="EditItem" id="@item.PKID">活动编辑</a></td>
                </tr>
                }
            </table>
        </div>
    </div>

    <div id="baoyangindexconfig" style="display: none;">
        <ul id="listdiv" class="by_list clearfix"> 
        </ul>
        <div class="baoyangindexconfigAdd" style="font-size: 22px; font-weight: bold; cursor: pointer; vertical-align: middle;" onclick="AddIndexItem();">+ 新增模块</div>
        <div style="clear: both;"></div>
    </div>
</div>
<div id="EditItemDIV"></div>

<script>
    $(".baoyangtitle").on("click","span",function() {
        $(this).addClass("isaction");
        $(this).siblings().removeClass("isaction");
        if ($(this).index() == 0) {
            $("#baoyangpageconfig").show();
            $("#baoyangindexconfig").hide();
        } else {
            $("#baoyangpageconfig").hide();
            $("#baoyangindexconfig").show();
        }
    });

    //保养也添加活动浮层
    $(".baoyangpageconfigList").on("click", ".EditItem", function () {
        $("#EditItemDIV").load('/Baoyang/AddActivityList?pkid=' + $(this).attr("id"));
        $("#EditItemDIV").dialog({
            title: "编辑保养页面活动项",
            width: 580,
            height: 450,
            modal: true,
            buttons: {
                "取消": function() {
                    $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                }
            },
            close: function () {
                window.location.reload();
            }
        });
    });

    //保养页面添加配置
    $(".addconfig").click(function() {
        $("#EditItemDIV").load('/Baoyang/BaoyangpageconfigListItem');
        $("#EditItemDIV").dialog({
            title: "编辑保养页面活动项",
            width: 420,
            height: 340,
            modal: true,
            buttons: {
                "取消": function() {
                    $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                }
            }
        });
    });
   


    //index添加保养配置
    function AddIndexItem() {
        $("#EditItemDIV").load('/Baoyang/BaoyangpageconfigListItem?pagetype=index');
        $("#EditItemDIV").dialog({
            title: "编辑保养页面活动项",
            width: 420,
            height: 340,
            modal: true,
            buttons: {
                "取消": function() {
                    $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                }
            }
        });
    }

    //获取index保养数据
    function GetBaoYangIndexConfigItemList() {
        $.ajax({
            type: "post",
            url: "/Baoyang/GetBaoyangIndexConfigItemList",
            success: function (data) {
                if (data != null && data.length > 0) {
                    var HTMLDIV = "";
                    $.each(data,function(i, j) {
                        HTMLDIV = HTMLDIV + '<li id="'+j.PKID+'"><a>';
                        if (j.isActivity ) {
                            HTMLDIV = HTMLDIV + '<div class="mark"><i class="i-arr"></i><span>' + j.Description + '</span></div>';
                        }
                        HTMLDIV = HTMLDIV + '<i class="icon iconfont" data-id=' + j.PKID + '>' + j.ImgCode + '</i><span><span style="display:inline-block;width:36px;white-space:pre-wrap;">' + j.byValue + '</span><span class="indexedit" data-ediid="' + j.PKID + '">编辑</span></span></a></li>';
                    });
                    $("#listdiv").empty();
                    $("#listdiv").html(HTMLDIV);
                }
            },
            error: function () {
                alert('网络异常');
            }
        });
    }
    GetBaoYangIndexConfigItemList();

    //index新增模块
    $("#baoyangindexconfig").on("click", ".baoyangindexconfigItemDIV", function () {
       
        $("#EditItemDIV").load('/Baoyang/BaoyangpageconfigListItem?pagetype=index&pkid=' + $(this).attr("id"));
        $("#EditItemDIV").dialog({
            title: "编辑保养页面活动项",
            width: 420,
            height: 340,
            modal: true,
            buttons: {
                "取消": function () {
                    $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                }
            }
        });
    });

    //index模块点击
    $("#listdiv").on("click","i",function() {
        $("#EditItemDIV").load('/Baoyang/AddActivityList?type=index&pkid=' + $(this).attr("data-id"));
        $("#EditItemDIV").dialog({
            title: "编辑保养页面活动项",
            width: 580,
            height: 450,
            modal: true,
            buttons: {
                "取消": function () {
                    $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                }
            },
            close: function () {
                GetBaoYangIndexConfigItemList();
            }
        });
    });

    $("#listdiv").on("click", ".indexedit", function() {
        $("#EditItemDIV").load('/Baoyang/BaoyangpageconfigListItem?pagetype=index&pkid=' + $(this).attr("data-ediid"));
        $("#EditItemDIV").dialog({
            title: "编辑保养页面活动项",
            width: 420,
            height: 340,
            modal: true,
            buttons: {
                "取消": function () {
                    $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                }
            }
        });
    });

</script>

