@using Tuhu.Provisioning.Models
@using Tuhu.Provisioning.Business;
@using Tuhu.Provisioning.DataAccess.Entity;
@using Newtonsoft.Json
@model Tuhu.Component.Common.Models.ListModel<MDBeautyApplyConfig>
@{
    Layout = null;
}
<div>
    <table id="table22" style="width:100%;margin-top:20px;">
        <thead>
            <tr>
                <td>
                    <input type="checkbox" value="1" class="chkall" />
                    <label>全选/反选</label>
                </td>
                <th>Id</th>
                <th>报名门店</th>
                <th>活动Id</th>
                <th>活动名称</th>
                <th>报名商品</th>
                <th>活动区域</th>
                <th>活动类目</th>
                <th>活动限价</th>
                <th>活动限量</th>
                <th>报名门店数</th>
                <th>报名时间</th>
                <th>起止时间</th>
                <th>生效状态</th>
                @*<th>报名审核状态</th>*@
                <th>退出审核状态</th>
                <th>退出理由</th>
                <th>审核</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.ExitAuditStatus != 3)
                        {
                            <input type="checkbox" value="@item.Id" ProductId="@item.ProductId" ShopId="@item.ShopId" class="chk" />
                        }
                    </td>
                    <td>@item.Id</td>
                    <td>@item.ShopName</td>
                    <td>@item.BeautyAcitivityId</td>
                    <td>@item.Name</td>
                    <td>@item.ProductName</td>
                    <td>
                        @{
                            MeiRongAcitivityConfigManager manager = new MeiRongAcitivityConfigManager();
                            item.RegionList = manager.GetRegionRelation(item.ActivityPKID, 1);
                        }
                        @if (item.RegionList != null && item.RegionList.Count > 0)
                        {
                            foreach (var region in item.RegionList)
                            {
                                <label>@region.ProvinceName  @region.CityName </label><br />
                            }
                        }
                    </td>
                    <td>@item.CategoryName</td>
                    <td>
                        @if (item.Price >= item.MinPrice && item.Price <= item.MaxPrice)
                        {
                            <label>@item.Price / @item.MinPrice  — @item.MaxPrice</label>
                        }
                        else
                        {
                            <label style="color:red">@item.Price / @item.MinPrice  — @item.MaxPrice</label>
                        }
                    </td>
                    <td>
                        @if (item.EverydayQuantity == item.Quantity)
                        {
                            <label>@item.Quantity / @item.EverydayQuantity</label>
                        }
                        else
                        {
                            <label style="color:red">@item.Quantity / @item.EverydayQuantity</label>
                        }
                    </td>
                    <td>@item.MinShopQuantity</td>
                    <td>@item.SignUpStartTime  —<br /> @item.SignUpEndTime</td>
                    <td>@item.PlanStartTime —<br /> @item.ActivityEndTime</td>
                    <td>@(item.Status == 1 ? "启用" : "禁用")</td>

                    <td>
                        @if (item.ExitAuditStatus == 1)
                        {
                            <label style="color:green">待审核</label>
                        }
                        else if (item.ExitAuditStatus == 2)
                        {
                            <label style="color:red">不通过</label>
                        }
                        else if (item.ExitAuditStatus == 3)
                        {
                            <label style="color:fuchsia">通过</label>
                        }
                        else
                        {
                            <label></label>
                        }
                    </td>
                    <td style="width:200px;">
                        @item.ExitActivityReason
                    </td>
                    <td>                       
                        @if (item.ApplyAuditStatus == 3)
                        {
                            if (item.ExitAuditStatus == 1)
                            {
                                <a href="javascript:;" onclick="Update(this,@item.Id,3,'Exit','',@item.ShopId,@item.ProductId)">退出通过</a><br />
                                <a href="javascript:;" onclick="Update(this,@item.Id,2,'Exit','',@item.ShopId,@item.ProductId)">退出不通过</a><br />
                            }
                            if (item.ExitAuditStatus == 2)
                            {
                                <a href="javascript:;" onclick="Update(this,@item.Id,3,'Exit','',@item.ShopId,@item.ProductId)">退出通过</a><br />
                                <a href="javascript:;" onclick="Update(this,@item.Id,0,'Exit','Look')">查看原因</a><br />
                            }                          
                        }

                        <a href="javascript:;" onclick="LogList(@item.Id,'Exit')">操作日志</a><br />
                    </td>
                </tr>
                            }
        </tbody>
    </table>
</div>

<div>
    @Html.Pager(Model.Pager, pageIndex => Url.RouteUrl(new { pageIndex }))
</div>
<div id="AddItem"></div>

<script>

    function LogList(id, type) {
        $("#AddItem").load('/Logger/LogList?id=' + id + '&type=' + type);
        $("#AddItem").dialog({
            title: "操作日志列表",
            width: 600,
            height: 600,
            modal: true
        });
    }
    $(".chkall").click(function () {
        if ($(".chkall").attr("checked")) {
            $(".chk").attr("checked", "checked");
        } else {
            $(".chk").attr("checked", false);
        }
    })

</script>
