@using Tuhu.Provisioning.Business;
@{
    ViewBag.Title = "红包管理";
    Layout = "../Shared/_Layout.cshtml";
    var CouponCategoryList = ViewBag.CouponCategory as IList<Tuhu.Provisioning.DataAccess.Entity.CouponCategory>;
    ICouponManager manager = new CouponManager();
}

<style>
    .nodata {
        width: 98%;
        border: 4px solid #f0f0f0;
        color: #cccccc;
        font-size: 22px;
        font-weight: bold;
        line-height: 200px;
        margin: 0 auto;
        text-align: center;
    }


    .ModuleList, .ModuleList ul, .ModuleList ul li {
        width: 100%;
        float: left;
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .ModuleList ul li {
            padding-right: 2%;
            padding-bottom: 20px;
            width: 18%;
            float: left;
        }

            .ModuleList ul li .box {
                height: auto;
                width: 100%;
                float: left;
                background-color: #d10a0a;
                color: #ffffff;
            }

                .ModuleList ul li .box .picbox {
                    height: auto;
                    width: 100%;
                    float: left;
                    -moz-border-radius: 5px 5px 0 0; /* Gecko browsers */
                    -webkit-border-radius: 5px 5px 0 0; /* Webkit browsers */
                    border-radius: 5px 5px 0 0;
                }

                .ModuleList ul li .box .addnew {
                    height: auto;
                    width: 100%;
                    text-align: center;
                    line-height: 160px;
                    float: left;
                    background-color: #820c0c;
                    color: #ffffff;
                    font-size: 22px;
                    font-weight: bold;
                    -moz-border-radius: 5px; /* Gecko browsers */
                    -webkit-border-radius: 5px; /* Webkit browsers */
                    border-radius: 5px;
                }


                    .ModuleList ul li .box .addnew a {
                        color: #ffffff;
                    }

                .ModuleList ul li .box .picbox .line1 {
                    height: 30px;
                    line-height: 30px;
                    width: 100%;
                    float: left;
                    font-weight: bold;
                }

                .ModuleList ul li .box .picbox .line2 {
                    height: 60px;
                    line-height: 60px;
                    width: 100%;
                    float: left;
                    font-weight: bold;
                    font-size: 28px;
                    text-align: center;
                    overflow: hidden;
                }

                .ModuleList ul li .box .picbox .line3 {
                    height: 30px;
                    line-height: 30px;
                    width: 100%;
                    float: left;
                }

                    .ModuleList ul li .box .picbox .line3 a {
                        color: #ffffff;
                        text-decoration: underline;
                    }

                .ModuleList ul li .box .picbox .line4 {
                    height: 40px;
                    line-height: 40px;
                    width: 100%;
                    float: left;
                    font-size: 15px;
                    text-align: center;
                    background-color: #820c0c;
                    color: #ffffff;
                }

                    .ModuleList ul li .box .picbox .line4 a {
                        color: #ffffff;
                    }

    .fengefu {
        width: 100%;
        border-bottom: 2px solid #999999;
        clear: both;
    }

    .inpercentage {
        width: 40px;
        display: none;
        text-align: right;
    }
</style>
<script>
    function btnDelete(PKID) {
        if (confirm('确定要删除吗？删除后旗下的红包集合也会被删除!!!')) {
            $.ajax({
                type: "post",
                url: '/Coupon/DeleteCouponCategory',
                data: { "id": PKID },
                success: function (result) {
                    if (result == true) {
                        window.location.href = "/Coupon/CouponCategory";
                    }
                }
            });
        }
    }

    function btnAdd(PKID) {
        $("#AddItem").load('/Coupon/AddCouponCategory?id=' + PKID);
        $("#AddItem").dialog({
            title: "红包管理",
            width: 800,
            height: 600,
            modal: true
        });
    }
    $(function () {
        $("#changeper").click(function () {
            var text = $(this).val();
            if (text == "修改概率") {
                $(".inpercentage").show();
                $(".sppercentage").hide();
                $("#cancelchange").show();
                $(this).val("保存概率");
            }
            else if (text == "保存概率") {
                var opstr = "";
                var persum = 0;
                var error = "";
                $(".inpercentage").each(function () {
                    if ($(this).attr("isactive") == 1) {
                        var pkid = $(this).attr("alt");
                        var perc = $(this).val();
                        if (!/^\d+$/.test(perc)) {
                            error = '概率须为正整数';
                        }
                        if (pkid != "" && perc != "") {
                            opstr += (opstr == "" ? "" : "*") + pkid + "," + perc;
                            persum += parseInt(perc);
                        }
                    }
                });
                if (error != "") {
                    alert(error);
                    return false;
                }
                if (persum != 10000) {
                    alert('已启用状态的概率之和为10000；当前为' + persum);
                    return false;
                }
                if (opstr != "") {
                    $.ajax({
                        type: "post",
                        url: '/Coupon/SavePercentage',
                        data: { "opstr": opstr },
                        success: function (result) {
                            //alert(result.ReturnStr);
                            location = '/Coupon/CouponCategory';
                        }
                    });
                }
                else {
                    alert('参数不能为空'); return false;
                }
            }
        });

        $("#cancelchange").click(function () {
            $(".inpercentage").hide();
            $(".sppercentage").show();
            $("#cancelchange").hide();
            $("#changeper").val("修改概率");
            $(".inpercentage").each(function (i) {
                $(this).val($(this).parent().find(".sppercentage").eq(0).html().replace("%", ""));
            });
        });

    });
</script>
<div style="clear:both;"></div>
<div style="float:left;">
    <h2>
        红包管理
    </h2>
</div>
<div style="float:right;">
    <h2>
        <input type="button" value="修改概率" id="changeper" />
        <input type="button" value="取消保存" id="cancelchange" style="display:none;" />
    </h2>
</div>
<div class="ModuleList">
    <ul>
        @foreach (var item in CouponCategoryList)
        {
            <li>
                <div class="box">
                    <div class="picbox">
                        <div class="line1">
                            <div style="float:left;padding-left:10px;">@Html.Raw(item.IsActive == 1 ? "<font color=\"#ffffff\">已启用</font>" : "<font color=\"#cccccc\">已停用</font>")</div>
                            <div style="float:right;padding-right:10px;">
                                <input class="inpercentage" isactive="@item.IsActive" value="@item.Percentage" alt="@item.PKID" />
                                <span class="sppercentage">@(item.Percentage + "‱")</span>
                            </div>
                        </div>
                        <div class="line2" title="@item.Name">@item.Name</div>
                        <div class="line3">
                            <div style="float:left;padding-left:10px;"><a href="javascript:void(0);" onclick="btnAdd('@item.PKID')">编辑</a></div>
                            <div style="float:right;padding-right:10px;"><a href="javascript:void(0);" onclick="btnDelete('@item.PKID')">删除</a></div>
                        </div>
                        <div class="line4">
                            <a href="/Coupon/Coupon?CategoryID=@item.PKID">红包集合设置(@(manager.GetCountByCategoryID(item.PKID)))</a>
                        </div>
                    </div>
                </div>
            </li>
        }
        <li>
            <div class="box">
                <div class="addnew">
                    <a href="javascript:void(0);" onclick="btnAdd('0')">+ 新增分类</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="fengefu"></div>
<div id="AddItem" style="display: none"></div>
