@model Tuhu.Provisioning.DataAccess.Entity.OperationCategoryModel
@{
    Layout = null;
    ViewBag.Title = "添加&修改车品类目";
}

@using (Html.BeginForm("SaveCategory", "GroupBuyingV2", FormMethod.Post, new { @id = Model.Id, onsubmit = "return onSubmit()" }))
{
    <input id="id" name="id" type="hidden" value="@Model.Id" />
    <input id="ParentId" name="ParentId" type="hidden" value="@Model.ParentId" />

    <table style="background:#ffffff;font-size:12px;width:100%;border:solid 1px #808080;">
        <tr>
            <td align="right">类目名称：</td>
            <td>@Html.TextBoxFor(m => m.DisplayName, new { @name = "DisplayName" })</td>
        </tr>
        <tr>
            <td align="right">编码:</td>
            <td>
                @Html.TextBoxFor(m=>m.CategoryCode,new { @name= "CategoryCode" })
            </td>
        </tr>
        <tr>
            <td align="right" style="width:20%;">上传类目图标：</td>
            <td style="width:80%;">
                <form method="post" action="" enctype="multipart/form-data">
                    <input style="width:150px;" type="file" id="upPicture" name="upPicture" onchange="OperationCategoryConfigs.AjaxFileUpload(this);" />
                </form><br />
                <img height="40" src="@Model.Icon" id="vwPicture" style="width:40px;" />
                @Html.HiddenFor(m => m.Icon, new {@name="Icon",@class= "maxProductPic" })
            </td>
        </tr>
        <tr>
            <td align="right">显示顺序：</td>
            <td>@Html.TextBoxFor(m => m.Sort, new { @name = "Sort" })</td>
        </tr>
        <tr>
            <td align="right">类目链接：</td>
            <td>@Html.TextBoxFor(m => m.Description, new { @name = "Description" })</td>
        </tr>
        <tr>
            <td align="right">Android通讯值：</td>
            <td>@Html.TextBoxFor(m => m.AppKeyForAndroid, new { @name = "AppKeyForAndroid" })</td>
        </tr>
        <tr>
            <td align="right">Android处理值：</td>
            <td>@Html.TextBoxFor(m => m.AppValueForAndroid, new { @name = "AppValueForAndroid" })</td>
        </tr>
        <tr>
            <td align="right">IOS通讯值：</td>
            <td>@Html.TextBoxFor(m => m.AppKeyForIOS, new { @name = "AppKeyForIOS" })</td>
        </tr>
        <tr>
            <td align="right">IOS处理值：</td>
            <td>@Html.TextBoxFor(m => m.AppValueForIOS, new { @name = "AppValueForIOS" })</td>
        </tr>
        <tr>
            <td align="right">H5 URL：</td>
            <td>@Html.TextBoxFor(m => m.H5Url,new {@name= "H5Url" })</td>
        </tr>
        <tr>
            <td align="right">是否显示：</td>
            <td>
                @Html.RadioButtonFor(m => m.IsShow, 1, new { @name = "IsShow", @checked = true }) 是
                @Html.RadioButtonFor(m => m.IsShow, 0, new { @name = "IsShow" }) 否
            </td>
        </tr>
        <tr>
            <td align="right">是否需要车型：</td>
            <td>
                @Html.RadioButtonFor(m => m.IsNeedVehicle, 1, new { @name = "IsNeedVehicle", @checked = true }) 是
                @Html.RadioButtonFor(m => m.IsNeedVehicle, 0, new { @name = "IsNeedVehicle" }) 否
            </td>
        </tr>
        @*<tr>
            <td align="right">类目类型：</td>
            <td>
                @Html.DropDownListFor(model => model.Type,
                new List<SelectListItem>(){
                        new SelectListItem() { Value = "0", Text = "前台类目",Selected=true},
                        new SelectListItem() { Value = "1", Text = "专题类目" }
                })
            </td>
        </tr>*@
        <tr>
            <td align="right" style="width:20%;">网站图片：</td>
            <td style="width:80%;">
                <form method="post" action="" enctype="multipart/form-data">
                    <input style="width:150px;" type="file" id="2" name="2" onchange="UploadImg(this);" />
                </form><br />

                <img height="40" class="vwPicture" src="@Model.WebsiteImage" />
                <input type="hidden" name="WebsiteImage" class="image" value="@Model.WebsiteImage" />
            </td>
        </tr>
        <tr>
            <td align="right"></td>
            <td>
                <input type="submit" value="保存" />
            </td>
        </tr>
    </table>
}

<script>
    function UploadImg(e) {
        var $e = $(e);
        var $ee = $e.parents("tr").find("td").eq(1).find("img");
        var $smallImage = $e.parents("tr").find("td").eq(1).find("input[class='smallImage']");
        var $image = $e.parents("tr").find("td").eq(1).find("input[class='image']");
        $.ajaxFileUpload({
            url: '/Article/AddArticleImg2',
            secureuri: false,
            fileElementId: $e.attr("id"),
            dataType: 'json',
            data: {},
            type: "post",
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $ee.attr("src", result.SImage);
                    $(".vwPicture").show();
                    $smallImage.val(result.SImage);
                    $image.val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            }
        });
    };
    function onSubmit() {
        if (!$.trim($("#@Html.IdFor(_=>_.DisplayName)").val())) {
            alert("类目名称不能为空");
            return false;
        }
        return true;
    }
</script>