@model IEnumerable<Tuhu.Provisioning.Business.Push.PushTemplateModifyLog>

<div class="content">
    <div>
        <p></p>
        <a href="#" onclick="window.history.go(-1); return false;" class="btn btn-primary btn-small">返回列表</a>
        <p></p>
    </div>

    <table style="table-layout: fixed;width:100%">
        <tr>
            <th>
                操作人
            </th>
            <th>模版ID</th>
            <th>修改前</th>
            <th>修改后</th>
            <th>修改时间</th>
        </tr>
        @if (Model != null && Model.Any())
            {
                foreach (var log in Model)
                {
                <tr>
                    <td>
                        @log.User
                    </td>
                    <td>
                        @log.TemplateID
                    </td>
                    <td style="word-wrap:break-word">
                        @log.OriginTemplate
                    </td>
                    <td style="word-wrap:break-word">
                        @log.NewTemplate
                    </td>
                    <td>
                        @log.CreateDateTime
                    </td>
                </tr>
            }
        }
    </table>
</div>
