@model Tuhu.Provisioning.Models.Push.PushMessageListModel

@{
    ViewBag.Title = "推送消息发布日志";
    //Layout = null;
}

<style type="text/css">
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }

    #CreateTime {
        width: 150px;
    }

    .floor-top {
        font-size: 12px;
        margin-top: 15px;
    }

        .floor-top .piece, .showbox .piece {
            display: inline-block;
            color: #696969;
            margin-right: 10px;
        }

            .floor-top .piece input, .floor-top .piece select, .showbox .piece input, .showbox .piece select {
                padding: 5px 0;
                font-size: 12px;
                text-align: center;
                border: 1px solid #ccc;
                color: #696969;
            }

            .floor-top .piece select {
                padding: 5px 20px;
            }

        .floor-top .btn, .showbox .btn {
            display: inline-block;
            padding: 5px 20px;
            border-radius: 5px;
            color: #fff;
            margin-right: 25px;
        }

        .floor-top .chaxun {
            background-color: #688af1;
            cursor: pointer;
        }

        .floor-top .renwu {
            background-color: #24c11c;
        }

        .floor-top .youhuiquan {
            background-color: #f5940e;
            cursor: pointer;
        }

    .floor-table {
        margin-top: 30px;
        display: inline-block;
        text-align: center;
    }

        .floor-table table {
            border: solid 1px #cbcbcb;
            border-collapse: collapse;
            clear: both;
            text-align: center;
        }

            .floor-table table th, .floor-table table td {
                padding: 10px 10px;
                border: 1px solid #cbcbcb;
            }

            .floor-table table th {
                background-color: #66abef;
                color: #fff;
                text-align: center;
            }

            .floor-table table tbody tr td:first-child {
                color: #2900dc;
            }

            .floor-table table tbody tr td span {
                padding: 5px 5px;
                color: #fff;
                border-radius: 5px;
            }

                .floor-table table tbody tr td span.shenhe {
                    background-color: #5d90f9;
                    cursor: pointer;
                }

                .floor-table table tbody tr td span.guanbi {
                    background-color: #f95d5d;
                    cursor: pointer;
                }

                .floor-table table tbody tr td span.caozuo {
                    background-color: #f8e71c;
                    cursor: pointer;
                }

                .floor-table table tbody tr td span.disabled {
                    background-color: #c4c4c4;
                }

    .page-number {
        margin: 10px;
    }

        .page-number span {
            border: 1px solid #f2f2f2;
            padding: 5px 10px;
            color: #56c1f1;
        }

        .page-number .active {
            background-color: #ff7816;
            color: #fff;
            border: 1px solid #ff6500;
        }

    .showbox {
        position: fixed;
        top: 30%;
        left: 30%;
        width: 40%;
        display: inline-block;
        padding: 30px;
        text-align: center;
        background-color: #fff;
        -moz-box-shadow: 0 0 0 10px rgba(3,3,3,.2);
        -webkit-box-shadow: 0 0 0 10px rgba(3,3,3,.2);
        box-shadow: 0 0 0 10px rgba(3,3,3,.2);
    }

        .showbox .floor-table table th {
            background-color: #fff;
            color: #000;
        }

        .showbox .floor-table table tbody tr td:first-child {
            color: #000;
        }

        .showbox .chaxunbox {
            background-color: #169bd5;
        }

        .showbox .close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
</style>
<link rel="stylesheet" type="text/css" href="/Content/pager.css" />
<link rel="stylesheet" type="text/css" href="/Content/jquery-ui-1.8.9.custom.css" />
<script type="text/javascript" src="/Scripts/jquery-1.7.1.js"></script>
<script src="/Scripts/jquery-ui-1.8.9.custom.min.js"></script>
@{
    if (Model.SearchInfo.PageNo == null)
    {
        <input type="text" id="PageNo" name="PageNo" value="1" style="display:none;" />
    }
    else
    {
        <input type="text" id="PageNo" name="PageNo" value="@Model.SearchInfo.PageNo" style="display:none;" />
    }
}
<div class="floor-table" style="display:block;width:100%">
    <table style="font-size:12px; ">
        <thead>
            <tr>
                <th style="width:80px">消息描述</th>
                <th style="width:80px">消息标题</th>
                <th style="width:80px">消息内容</th>
                <th style="width:50px">推送类型</th>
                <th style="width:60px">App消息头图标</th>
                <th style="width:60px">大图图片</th>
                <th style="width:60px">富文本图片</th>
                <th style="width:80px">后续动作</th>
                <th style="width:60px">发送时间</th>
                <th style="width:60px">过期时间</th>
                <th style="width:60px">APP过期时间</th>
                <th style="">Android参数1</th>
                <th style="">Android参数2</th>
                <th style="">IOS参数1</th>
                <th style="">IOS参数2</th>
                <th style="">IOS参数3</th>
                <th style="">IOS主标题</th>
                <th style="">IOS副标题</th>
                <th style="width:40px">操作</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model == null || Model.PushMessageList == null || !Model.PushMessageList.Any())
                {
                    <tr><td colspan="14">没有查询到记录...</td></tr>
                }
                else
                {
                    foreach (var item in Model.PushMessageList)
                    {
                        <tr name="tr_@{@item.PKID}">
                            <td>@item.Description</td>
                            <td>@item.Title</td>
                            <td>@item.Content</td>
                            @{
                                if (item.PushType == 1)
                                {
                                    <td>广播</td>
                                }
                                else if (item.PushType == 2)
                                {
                                    <td>组播</td>
                                }
                                else
                                {
                                    <td>单播</td>
                                }
                            }
                            <td><img src="@item.HeadImageUrl" width="20" height="20" /></td>
                            @if (string.IsNullOrEmpty(item.BigImagePath))
                            {
                                <td></td>
                            }
                            else
                            {

                                <td><img src="@(item.BigImagePath)" width="20" height="20" /></td>
                            }
                            @if (string.IsNullOrEmpty(item.RichTextImage))
                            {
                                <td></td>
                            }
                            else
                            {

                                <td><img src="@(item.RichTextImage)" width="20" height="20" /></td>
                            }

                            @{
                                if (item.AfterOpen == "GoActivity")
                                {
                                    <td>
                                        <input type="button" value="打开页面 查看" onclick="showOrHideDetail(this)"
                                               showKey="打开页面"
                                               showValue=" @item.AppActivity " />
                                    </td>
                                }
                                else
                                {
                                    <td>打开应用</td>
                                }
                            }
                            <td>@item.SendTime</td>
                            <td>@item.ExpireTime</td>
                            <td>
                                <span style="color:black">@item.APPExpireTime</span><br>
                                <input type="button" value="修改" onclick="showOrHideTimeChange(this)"
                                       key="@item.PKID"
                                       oldValue="@item.APPExpireTime"
                                       showValue="@item.Description" />
                            </td>
                            @if (item.AndriodKey1 != null)
                            {
                                <td>
                                    <input type="button" value="查看" onclick="showOrHideDetail(this)"
                                           showKey="@item.AndriodKey1"
                                           showValue="@item.AndriodValue1" />
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (item.AndriodKey2 != null)
                            {
                                <td>
                                    <input type="button" value="查看" onclick="showOrHideDetail(this)"
                                           showKey="@item.AndriodKey2"
                                           showValue="@item.AndriodValue2" />
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (item.IOSKey1 != null)
                            {
                                <td>
                                    <input type="button" value="查看" onclick="showOrHideDetail(this)"
                                           showKey="@item.IOSKey1"
                                           showValue="@item.IOSValue1" />
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (item.IOSKey2 != null)
                            {
                                <td>
                                    <input type="button" value="查看" onclick="showOrHideDetail(this)"
                                           showKey="@item.IOSKey2"
                                           showValue="@item.IOSValue2" />
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (item.IOSKey3 != null)
                            {
                                <td>
                                    <input type="button" value="查看" onclick="showOrHideDetail(this)"
                                           showKey="@item.IOSKey3"
                                           showValue="@item.IOSValue3" />
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>
                                @if (!string.IsNullOrEmpty(item.IOSMainTitle))
                                {
                                    <input type="button" value="查看" onclick="showOrHideDetail(this)"
                                           showKey="主标题"
                                           showValue="@item.IOSMainTitle" />
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.IOSTitle))
                                {<input type="button" value="查看" onclick="showOrHideDetail(this)"
                                        showKey="副标题"
                                        showValue="@item.IOSTitle" />}
                            </td>
                            <td>
                                @if (item.SendTime >= System.DateTime.Now)
                                {
                                    <a onclick="DeletePushMessage(@item.PKID)">删除</a>
                                }
                            </td>
                        </tr>
                                    }
                                }
            }
        </tbody>
    </table>
    <br />

    <div id="showDiv" class="showbox" style="display:none;text-align:center">
        <div class="close" onclick="$('#showDiv').hide();">✕</div>
        <table style="margin:auto;text-align:center">
            <thead>
                <tr>
                    <th style="width:100px">key</th>
                    <th style="width:300px">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="showDiv_key" style="color:black"></td>
                    <td span id="showDiv_value" style="color:black"></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div id="timeChangeDiv" style="display:none;text-align:center">
        <input style="display:none" type="text" id="showKey" name="showKey" value="" />
        <div>
            <label id="showTitle" name="showTitle"></label>
        </div>
        <div style="margin-top:20px">
            原  值：<label id="oldAPPExpireTime" name="oldAPPExpireTime"></label><input style="width:1px" value="" />
        </div>
        <div style="margin-top:20px">
            新的值：<input type="text" value="" name="APPExpireTime" id="APPExpireTime" placeholder="请输入App消息过期时间" style="width: 150px;" />
        </div>
    </div>


    <div style="margin-top: 10px; width:948px; text-align:left;">
        @{
            if (Model != null)
            {
                @Html.Raw(Model.PagerStr);
            }
        }
    </div><br />
    <script src="/Scripts/ajaxfileupload.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Scripts/TimeObjectUtil.js"></script>
    <link href="/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/jquery-ui-timepicker-addon/jquery-ui-sliderAccess.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("[id=APPExpireTime]").each(function () {
                $(this).datetimepicker({
                    controlType: 'select',
                    dateFormat: "yy-mm-dd",
                    timeFormat: 'HH:mm'
                });
            })
        })

        function DeletePushMessage(messageId) {
            if (messageId + "" == "")
                return;
            var tr = $("tr[name='tr_" + messageId + "']")[0];
            if (!confirm("你确定删除吗？")) {
                return;
            }
            $.ajax({
                type: 'POST',
                url: '/Push/DeletePushMessage',
                dataType: 'json',
                data: "messageId=" + messageId,
                success: function (jsonObj) {
                    if (jsonObj.IsSuccess) {
                        alert("删除成功！");
                        tr.parentNode.removeChild(tr);
                    }
                    else {
                        alert(jsonObj.OutMessage);
                    }
                }
            });
        }
        function showOrHideDetail(curTd) {
            $("#showDiv_key").html($(curTd).attr('showKey'));
            $("#showDiv_value").html($(curTd).attr('showValue'));
            $("#showDiv").show();

        }


        function showOrHideTimeChange(curTd) {
            $("#showKey").val($(curTd).attr('key'));
            $("#oldAPPExpireTime").html($(curTd).attr('oldValue'));
            $("#showTitle").html("修改APP过期时间：" + $(curTd).attr('showValue'));
            $("#APPExpireTime").val($(curTd).attr('oldValue'));
            dialog.dialog("open");
            //$("#showTitle")[0].focus();
            document.getElementById('APPExpireTime').blur();
            //$("#APPExpireTime")[0].onfocus();
        }

        var dialog = $("#timeChangeDiv").dialog({
            autoOpen: false,
            resizable: false,
            height: 260,
            width: 360,
            modal: true,
            buttons: {
                "保存": function () {
                    //判断使用开始时间和使用结束时间
                    var validateResult = false;
                    var key= $("#showKey").val();
                    var time= $("#APPExpireTime").val();

                    var param = {
                        messageId: key,
                        dateTime: time
                    };
                    validateResult=true;
                    if (validateResult) {
                        $.ajax({
                            type: 'POST',
                            url: '/Push/UpdateAPPExpireTime',
                            dataType: 'json',
                            data: JSON.stringify(param),
                            contentType: "application/json; charset=utf-8",
                            success: function (jsonObj) {
                                alert(jsonObj.OutMessage);
                                if (!jsonObj.IsSuccess) {
                                    return;
                                }
                                var changeInput=$("input[key='"+key+"']");
                                changeInput.parent().find('span').html(time);
                                changeInput.attr('oldValue',time);
                                dialog.dialog("close");
                            }
                        });
                    }

                },
                "取消": function () {
                    dialog.dialog("close");
                }
            },
            close: function () {
                dialog.dialog("close");
            }
        });
    </script>
</div>
