@model Tuhu.Provisioning.DataAccess.Entity.ProductPriceWeight
<link href="/Content/Public/Public.css" rel="stylesheet"/>
<table>
    <thead>
        <tr>
            <th>基础毛利率</th>
            <th>加权值</th>
            <th>操作历史</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>Base</td>
        <td data-id="Base|Base" pkid="@Model.BaseWeight.Item1"><a style="cursor: pointer;" onclick="ChangeValue(this)">@Model.BaseWeight.Item2</a></td>
        <td><a target="_blank" href="/BaoYangPriceGuide/GuideParaLog?key=Base|Base">查看</a></td>
    </tr>
    </tbody>
</table>
<table style="margin-top: 30px;">
    <thead>
    <tr>
        <th>二级类目</th>
        <th>三级类目</th>
        <th>类目加权值</th>
        <th>操作历史</th>
        <th>品牌</th>
        <th>品牌加权值</th>
        <th>操作历史</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.CategoryWeights.Any())
    {
        foreach (var item in Model.CategoryWeights)
        {

            <tr>
                <td rowspan="@(item.Value.Sum(p => p.Brands!=null ? p.Brands.Count + 1 : 1) + 1)">@item.Key</td>
            </tr>
            foreach (var category in item.Value)
            {
                if (category.Brands != null && category.Brands.Any())
                {
                    <tr>
                        <td rowspan="@(category.Brands.Count + 1)">@category.DisplayName</td>
                        <td rowspan="@(category.Brands.Count + 1)" data-id="@(string.Concat("Category|", category.WeightName))" pkid="@category.Pkid">
                            <a style="cursor: pointer;" onclick="ChangeValue(this)">@category.WeightValue</a>
                        </td>
                        <td rowspan="@(category.Brands.Count + 1)">
                            <a target="_blank" href="/BaoYangPriceGuide/GuideParaLog?key=@(string.Concat("Category|", category.WeightName))">查看</a>
                        </td>
                    </tr>
                    foreach (var brand in category.Brands)
                    {
                        <tr>
                            <td>@brand.WeightName</td>
                            <td data-id="@(string.Concat("Brand|", brand.WeightName, "|", category.WeightName))" pkid="@brand.Pkid">
                                <a style="cursor: pointer;" onclick="ChangeValue(this)">@brand.WeightValue</a>
                            </td>
                            <td>
                                <a target="_blank" href="/BaoYangPriceGuide/GuideParaLog?key=@(string.Concat("Brand|", category.WeightName, "|", brand.WeightName))">查看</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>@category.DisplayName</td>
                        <td data-id="@(string.Concat("Category|", category.WeightName))" pkid="@category.Pkid">
                            <a style="cursor: pointer;" onclick="ChangeValue(this)">@category.WeightValue</a>
                        </td>
                        <td>
                            <a target="_blank" href="/BaoYangPriceGuide/GuideParaLog?key=@(string.Concat("Category|", category.WeightName))">查看</a>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            }
        }
    }
    else
    {
        <tr><td colspan="6">暂无数据</td></tr>
    }
    </tbody>
</table>


