@model Tuhu.Provisioning.DataAccess.Entity.BaoYangGuideViewModel
@{
    ViewBag.Title = "修改指导价参数";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var urlPara = Request["type"];
}
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet"/>
<link href="/Content/Public/Public.css" rel="stylesheet" />
<style>
    .list a {
        margin-right: 20px;
        font-size: 18px;
    }

        .list a.selected {
            color: red;
        }

    table {
        width: 588px;
    }

    .hidden {
        display: none;
    }
    .Content {
        margin-top: 20px;
    }
</style>
<div style="clear:both;"></div>
<h2 class="list">
    <a class="@(urlPara=="Base"?"selected":"")" href="/BaoYangPriceGuide/PriceGuidePara?type=weight">加权值</a>
    <a class="@(urlPara=="warn"?"selected":"")" href="/BaoYangPriceGuide/PriceGuidePara?type=warn">预警线</a>
</h2>
@if (ViewBag.Type == "weight")
{
    <form>
        <span>一级类目：</span>
        <select class="firstType" onchange="getSecondType(this)">
            <option value="28656">保养</option>
            <option value="28349">车品</option>
            <option value="193649">美容</option>
        </select>
        &nbsp;
        <span>二级类目：</span>
        <select class="secondType" onchange="getThirdType(this)"></select>
        &nbsp;
        <span>三级类目：</span>
        <select class="thirdType" onchange="getDetail()"></select>
    </form>
    <div class="Content"></div>
    <div class="cv" style="display: none">
        <p>修改前：<span></span>
        <p>修改后：<input type="text" />
    </div>
}
else
{
    <table>
        <tr>
            <th>实际指导价</th>
            <th>下限</th>
            <th>上限</th>
            <th>操作历史</th>
            <th>操作</th>
        </tr>
        @foreach (var item in Model.Warn)
        {
            <tr>
                <td>@(string.Concat(item.MinGuidePrice.ToString("0.00"), "-", item.MaxGuidePrice.ToString("0.00")))</td>
                <td class="lower"><span>@item.LowerLimit.ToString("0.00")</span><input type="text" name="name" value="@item.LowerLimit.ToString("0.00")" class="hidden"/></td>
                <td class="upper"><span>@item.UpperLimit.ToString("0.00")</span><input type="text" name="name" value="@item.UpperLimit.ToString("0.00")" class="hidden"/></td>
                <td><a target="_blank" href="/BaoYangPriceGuide/GuideWarnLog?pkid=@(item.PKID)&min=@item.MinGuidePrice&max=@item.MaxGuidePrice">查看</a></td>
                <td class="opr"><a class="update" href="javascript:void(0)" onclick="UpdateWarnLine(this)">修改</a><a href="javascript:void(0)" onclick="SaveWarnLine(this)" data-pkid="@item.PKID" class="save hidden">保存</a></td>
            </tr>
        }

    </table>
}
@section scripts{
    <script src="~/Content/sweetalert/sweetalert.js"></script>
    <script>
        $(function() {
            getSecondType($(".firstType").val());
        });

        function getSecondType(o) {
            $(".secondType").html("<option value=''>全部</option>");
            $(".thirdType").html("<option value=''>全部</option>");
            var parentOid = $(".firstType").val() != "" ? $(".firstType").val() : 0;
            var oid = $(o).val();
            $.get("GetProductCategoryByParentOid", { oid: parentOid }, function(response) {
                if (response.data) {
                    var dt = response.data;
                    $.each(dt, function(k, v) {
                        $(".secondType").append("<option value='" + k + "'>" + v + "</option>");
                    });
                }
                search($(".firstType").val(), $(".secondType").val(), $(".thirdType").val());
            });
        }

        function getThirdType(o) {
            $(".thirdType").html("<option value=''>全部</option>");
            var parentOid = $(".secondType").val() != "" ? $(".secondType").val() : 0;
            var oid = $(o).val();
            $.get("GetProductCategoryByParentOid", { oid: parentOid }, function(response) {
                if (response.data) {
                    var dt = response.data;
                    $.each(dt, function(k, v) {
                        $(".thirdType").append("<option value='" + k + "'>" + v + "</option>");
                    });
                }
                search($(".firstType").val(), $(".secondType").val(), $(".thirdType").val());
            });
        }

        function getDetail() {
            search($(".firstType").val(), $(".secondType").val(), $(".thirdType").val());
        }

        function search(firstType, secondType, thirdType) {
            $(".Content").load("/BaoYangPriceGuide/BaoYangPriceWeight?firstType=" + firstType + "&secondType=" + secondType + "&thirdType=" + thirdType);
        }

        var UpdateGuidePara = function(target) {
            var $target = $(target),
                $tr = $target.parent().parent(),
                $value = $tr.find(".value"),
                $opr = $tr.find(".opr");

            $value.find("span").hide();
            $value.find("input").show();
            $opr.find(".update").hide();
            $opr.find(".save").show();
        };
        var UpdateWarnLine = function(target) {
            var $target = $(target),
                $tr = $target.parent().parent(),
                $lower = $tr.find(".lower"),
                $upper = $tr.find(".upper"),
                $opr = $tr.find(".opr");

            $lower.find("span").hide();
            $lower.find("input").show();
            $upper.find("span").hide();
            $upper.find("input").show();
            $opr.find(".update").hide();
            $opr.find(".save").show();
        };
        var SaveWarnLine = function(target) {
            var $target = $(target),
                $lowerInput = $target.parent().parent().find(".lower>input"),
                lowerValue = $lowerInput.val().trim(),
                $upperInput = $target.parent().parent().find(".upper>input"),
                upperValue = $upperInput.val().trim();

            if (isNaN(lowerValue) || isNaN(upperValue))
                swal("错误", "上限或下限格式有误!", "error");
            else {
                lowerValue = parseFloat(lowerValue);
                upperValue = parseFloat(upperValue);
                var pkid = $target.data("pkid");

                $.post("SaveWarningLine",
                {
                    PKID: pkid,
                    LowerLimit: lowerValue,
                    UpperLimit: upperValue
                }, function(result) {
                    if (result > 0) {
                        swal({
                                title: "保存成功！"
                            },
                            function() {
                                window.location.reload();
                            });
                    } else if (result == -1)
                        swal("上限或下限有误！");
                    else
                        swal("保存失败！");
                });
            }
        };        

        function ChangeValue(o) {
            var item = $(o);
            var prevValue = item.text();
            var dataId = item.parent().attr("data-id");
            var categoryName = "";
            var weightType = dataId.split("|")[0];
            var weightName = dataId.split("|")[1];
            if (dataId.split("|").length > 2) {
                categoryName = dataId.split("|")[2];
            }
            $(".cv").find("span").text(prevValue);
            $(".cv").find("input").val("");
            $(".cv").dialog({
                title: "修改加权值",
                width: 300,
                height: 300,
                modal: true,
                buttons: {
                    "保存": function () {
                        var dialog = $(this);
                        var value = dialog.find("input").val();
                        if (parseInt(value) + '' == "NaN" || parseInt(value) < 0) {
                            alert("输入的数据不合法");
                            return;
                        }
                        $.post("SaveGuidePara",
                        {
                            PKID: item.parent().attr("pkid"),
                            WeightType: weightType,
                            WeightName: weightName,
                            WeightValue: parseInt(value),
                            CategoryName: categoryName,
                            prevValue: prevValue
                        }, function (result) {
                            if (result > 0) {
                                alert("修改成功");
                                item.text(parseInt(value));
                                dialog.dialog("close");
                            } else
                                alert("保存失败！");
                        });
                    },
                    "关闭": function () {
                        $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                    }
                }
            });
        }
    </script>
}
