
@using Tuhu.Provisioning.Models
@model Tuhu.Component.Common.Models.ListModel<Tuhu.Provisioning.DataAccess.Entity.OrderSharedPushMessageConfig>
@{
    ViewBag.Title = "晒单评论审核通过消息和推送配置";
    Layout = "~/Views/Shared/_PersonalCenterLeft.cshtml";
}

<h2>晒单评论审核通过消息和推送配置</h2>
<style>
    body {
        font-family: "Microsoft Yahei";
    }

    textarea {
        width: 100px;
        height: 100px;
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: cornflowerblue;
        border: solid 1px cornflowerblue;
    }

    td {
        width: 250px;
    }
</style>

<div>
    <a href="javascript:void(0)" class="btn" onclick="OrderSharedPushMessageConfig.Add()">添加</a>
</div>
<div>
    <table style="width:100%;margin-top:20px;">
        <thead>
            <tr>
                <th>消息分类</th>
                <th>消息标题</th>
                <th>推送标题</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.Type == "system")
                        {
                            <label>系统消息</label>
                        }
                        else if (item.Type == "activity")
                        {
                            <label>优惠活动</label>
                        }
                    </td>
                    <td>@item.MessageTilte</td>
                    <td>@item.PushTitile</td>
                    <td>@item.CreateTime</td>
                    <td>
                        <a href="javascript:;" onclick="OrderSharedPushMessageConfig.Update(@item.Id)">编辑</a>&nbsp;&nbsp;
                        <a href="javascript:;" onclick="OrderSharedPushMessageConfig.LogList(@item.Id)">操作日志</a>&nbsp;&nbsp;
                        <a href="javascript:;" onclick="OrderSharedPushMessageConfig.Delete(@item.Id)">删除</a>
                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>

<div>
    @Html.Pager(Model.Pager, pageIndex => Url.RouteUrl(new { pageIndex }))
</div>
<div id="AddItem"></div>

<script>
    var OrderSharedPushMessageConfig = {
        "LogList": function (e) {
            $("#AddItem").load('/ShareOrderConfig/LogPushMessage?id=' + e);
            $("#AddItem").dialog({
                title: "操作日志列表",
                width: 700,
                height: 600,
                modal: true
            });
        },
        "Add": function () {
            $("#AddItem").load('/ShareOrderConfig/EditMessage?id=0');
            $("#AddItem").dialog({
                title: "添加",
                width: 800,
                height: 600,
                modal: true
            });
        },
        "Update": function (id) {
            $("#AddItem").load('/ShareOrderConfig/EditMessage?id=' + id);
            $("#AddItem").dialog({
                title: "修改",
                width: 800,
                height: 600,
                modal: true
            });
        },
        "Delete": function (id) {
            if (window.confirm("您确定要删除吗？")) {
                $.ajax({
                    type: "POST",
                    url: "/ShareOrderConfig/DeleteMessage",
                    data: { "id": id },
                    dataType: "json",
                    success: function (result) {
                        if (result) {
                            window.location.href = "/ShareOrderConfig/PushMessage";
                        }
                        else {
                            alert("删除失败！");
                        }
                    },
                    error: function (result) {
                    }
                })
            }
        }
    }
</script>  