@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.SE_MDBeautyPartConfigModel>

@{
    ViewBag.Title = "美容栏目配置";
    Layout = "../Shared/_Layout.cshtml";
}
<link href="~/Scripts/kkpager/kkpager_blue.css" rel="stylesheet" />
<link href="~/Scripts/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="~/Scripts/zTree/js/jquery.ztree.core-3.5.min.js" type="text/javascript"></script>
<script src="~/Scripts/zTree/js/jquery.ztree.excheck-3.5.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.cookie.js"></script>
<script src="~/Scripts/kkpager/kkpager.min.js"></script>

<style type="text/css">
    input[type=button], input[type=submit], input[type=reset] {
        background: #0088cc none repeat scroll 0 0;
        border: medium none #0088cc;
        border-radius: 5px;
        color: #f0f0f0;
        cursor: pointer;
        font-family: "Microsoft Yahei";
        font-size: 12px;
        outline: medium none;
        padding: 5px 25px;
    }

    ul.ztree {
        background: #f0f6e4 none repeat scroll 0 0;
        border: 1px solid #617775;
        /*overflow-x: auto;
        overflow-y: scroll;*/
    }
</style>

<div style="margin:20px 0 0 0;"></div>

<table style="margin:0 auto;">
    <thead>
        <tr>
            <td rowspan="2">
                <input type="button" value="新增美容栏目" style="margin:5px 0;" onclick="SE_MDBeautyPartConfig.AddOrEdit(0);" />

            </td>
        </tr>
    </thead>
    <tr>
        <th>
            @Html.DisplayName("排序")
        </th>
        <th>
            @Html.DisplayName("分类名称")
        </th>
        @*<th>
            @Html.DisplayName("关联自营类目")
        </th>
        <th>
            @Html.DisplayName("关联门店类目")
        </th>*@
        <th>
            @Html.DisplayName("是否显示")
        </th>
        <th>
            @Html.DisplayName("操作")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Soft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.InteriorCategorys)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExternalCategorys)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IsShow)
            </td>
            <td>
                @if (!string.IsNullOrWhiteSpace(item.InteriorCategorys))
                {
                    <a href="javascript:SE_MDBeautyPartConfig.AddProduct(@item.Id);">添加&编辑产品 |</a> 
                }
                <a href="javascript:SE_MDBeautyPartConfig.AddOrEdit(@item.Id);">编辑</a> |
                <a href="javascript:SE_MDBeautyPartConfig.Delete(@item.Id);;">删除</a>
            </td>
        </tr>
    }
    <tfoot>
        <tr>
            <td id="kkpager" colspan="6"></td>
        </tr>
    </tfoot>
</table>

<div id="SE_MDBeautyPartConfig_Edit_Page"></div>
<div id="SE_MDRecommendConfig_ModelPage"></div>


<script type="text/javascript">
    var totalPage = @(ViewBag.totalPage), 
    totalRecords = @(ViewBag.totalRecords), 
    pageNo = GetQueryString("pageIndex") || 1;

    function GetQueryString(name) {
        ///<summary>获取URL参数</summary>
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null)
            return unescape(r[2]);
        return null;
    } 

    var SE_MDBeautyPartConfig = {
        AddOrEdit: function (id) {
            id = id || 0;
            var _title = id == 0 ? "新增美容项目" : "编辑美容项目";
            var dialogConfig = { title: _title, width: 360, height: 700, modal:true,resizable:false,stack:true};
            $("#SE_MDBeautyPartConfig_Edit_Page").html("")
                .load('/SE_MDBeautyPartConfig/Edit?id=' + id)
                .dialog(dialogConfig);
        },
        AddProduct:function(id){
            var dialogConfig = { title: "关联产品", width: 400, height: 400, modal:true,resizable:false,stack:true};
            $("#SE_MDRecommendConfig_ModelPage").html("")
                .load('/SE_MDRecommendConfig/Index?id=' + id)
                .dialog(dialogConfig);
        },
        Delete:function(id){
            if(confirm('删除不可恢复！是否确认？'))
                window.location.href = '/SE_MDBeautyPartConfig/Delete/'+id;
        }
    }

    //生成分页
    kkpager.generPageHtml({
        pno: pageNo,
        //总页码
        total: totalPage,
        //总数据条数
        totalRecords: totalRecords,
        mode:'click',
        click:function(pageIndex){
            window.location.href = "/SE_MDBeautyPartConfig/Index?pageIndex="+pageIndex;
        },
        isGoPage: false,
        getLink: function (n) {
            return 'javascript:void(0);';
        }
    });
    kkpager.selectPage(GetQueryString("pageIndex") || 1);

</script>
