@{
    ViewBag.Title = "大翻盘";
}
@model List<Tuhu.Provisioning.DataAccess.Entity.LuckyWheel>

<table style="width:100%">
    <thead>
        <tr style="height:40px;">
            <th colspan="6" style="background-color:white;font-size:16px;font-weight:900;">
                翻盘活动列表
                <span style="float:right;margin-right:26px;">
                    <input type="button" value="新 增" id="btnAdd" style="height:30px;width:60px; cursor:pointer;"/>
                </span>
            </th>
           
        </tr>
        <tr>
            <th width="20%">
                组号
            </th>
            <th width="20%">
                名称
            </th>
            <th width="15%">
                一分钱洗车券状态
            </th>
            <th width="15%">
                状态
            </th>
            <th width="10%">
                创建时间
            </th>
            <th width="20%">
                操作
            </th>
            
        </tr>
    </thead>

    @if (Model != null)
    {
        foreach (var item in Model.OrderByDescending(o=>o.CreateDate))
        {
            <tr>
                <td>
                    @item.ID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @(item.isNewUser == 0?"关闭":item.isNewUser == 1?"开启": "关闭")
                </td>
                <td>
                    @(item.isStatus == 1?"启用":"禁用")
                </td>
                <td>
                    @item.CreateDate.ToString("yyyy-MM-dd HH:mm:ss")
                </td>
                <td style="padding-left:50px;padding-right:50px;">
                    <input type="button" value="编 辑" class="btnEdit" data-id="@item.ID" />
                    <input type="button" value="删 除" class="btnDel" data-id="@item.ID"  />
                </td>
            </tr>
        }
    }
</table>
<div id="divAdd"></div>

@section scripts{
   
    <script type="text/javascript">

        !(function () {
            $("#btnAdd").on('click', function () {
                //$("#divAdd").empty();
                //$('#divAdd').load("/LuckyWheel/WheelList");
                //$('#divAdd').dialog({
                //    title: '翻盘明细列表',
                //    width: 1500,
                //    height: 400,
                //    modal: true,
                //    resizable: false,
                //    buttons: {
                //        "保 存": function () {

                //        },
                //        "取 消": function () {
                //            $(this).dialog('close');
                //        }
                //    }
                //});
                location.href = "/LuckyWheel/WheelList";
            });

            $(".btnDel").on('click', function () {
              var r=  confirm("您确定删除吗?")
              if (r) {
                  var data = $(this).data("id");
                  $.ajax({
                      url: '/LuckyWheel/Delete',
                      type: 'post',
                      data: { id: data },
                      success: function (result) {
                          result = JSON.parse(result);
                          if (result.result == 1) {
                              alert("删除成功");
                              location.reload();
                          } else {
                              alert("删除失败");
                          }
                      },
                      error: function () {
                          alert("删除失败");
                      }
                  });
              }
            });

            $(".btnEdit").on('click', function () {
                var data = $(this).data("id");
                location.href = "/LuckyWheel/WheelList?id="+data;
            });

        })();
    </script>


    }