@model Tuhu.Provisioning.DataAccess.Entity.MemberShipLivingRightsModel
@{
    Layout = null;
}
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
<script src="~/Scripts/layui/layui.js"></script>
<style type="text/css">
    .layui-form-label {width:90px;}
</style>
<div style="width:99%;margin-top:10px;" id="div-right-edit">
    <input type="hidden" id="hid-Id" value="@Model.PKID" />
    <form class="layui-form" id="UserRightEdit">
        <div class="layui-form-item" >
            <div class="layui-inline">
                <label class="layui-form-label"> 渠道名称</label>
                <div class="layui-input-inline">
                    <input name="ChannelName" value="@Model.ChannelName" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">权益金额</label>
                <div class="layui-input-inline">
                    <input type="text" name="RightsValue" autocomplete="off" class="layui-input" value="@Model.RightsValue" onkeyup="value=value.replace(/[^\-?\d.]/g,'')">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">排序序列</label>
                <div class="layui-input-inline">
                    <input name="SortIndex" value="@Model.SortIndex" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\-?\d.]/g,'')">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">最后修改人</label>
                <div class="layui-input-inline">
                    <input type="text" name="LastUpdateBy" autocomplete="off" class="layui-input" value="@Model.LastUpdateBy" readonly="readonly" >
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">福利内容</label>
                <div class="layui-input-inline">
                    <input type="text" name="WelfareContent" style="width:520px" autocomplete="off" class="layui-input" value="@Model.WelfareContent">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">领取方式说明</label>
                <div class="layui-input-inline">
                    <input type="text" name="ReceivingDescription" style="width:520px" autocomplete="off" class="layui-input" value="@Model.ReceivingDescription">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">优惠券券说明</label>
                <div class="layui-input-inline">
                    <input type="text" name="CouponDescription" autocomplete="off" style="width:520px" class="layui-input" value="@Model.CouponDescription">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">跳转链接</label>
                <div class="layui-input-inline">
                    <input type="text" name="LinkUrl" autocomplete="off" class="layui-input" style="width:520px" value="@Model.LinkUrl">
                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/Scripts/common/setting.base.js?v=1.2"></script>
<script src="~/Scripts/MembershipsCenter/UserLivingRights.js?v=1.2"></script>
<script type="text/javascript">
    $(function () {
        UserLivingRightsEdit.EditDataInit();
    });
</script>