@using Tuhu.Provisioning.DataAccess.Entity;
@model Tuple<IEnumerable<string>,IEnumerable<TireSizeModel>>
@{
    ViewBag.Title = "竞品价格监控";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <style>
    .title {
    float: left;
    }

    .content {
    clear: both;
    }

    .condition .name {
    /*font-size: 16px;
    font-weight: bold;*/
    left: 0;
    }

    .right {
    margin-left: 30px;
    }

    .condition {
    margin-bottom: 10px;
    }

    .condition > div {
    margin-bottom: 10px;
    }

    .condition > div label {
    margin-top: 5px;
    }

    .condition > div label input[type=text] {
    width: 50px;
    }

    button.select {
    width: 200px;
    height: 30px;
    }

    .tuhu_self.color {
    background-color: #8ADE94;
    }

    .tuhu_other.color {
    background-color: #DCC8B9;
    }

    .hidden {
    display: none;
    }

    .list {
    width: 100%;
    overflow-x: scroll;
    }
    .price_list {
    margin-left:20px;
    }
    .price_list label {
    width: 100px;
    display: inline-block;
    }
    </style>
}
    <div class="title">
        <h2>竞品价格监控</h2>
    </div>

    <div class="content">
        <div class="condition" style="position:relative;">            
                <div>
                    <span class="name">产品名称：</span>
                    <input type="text" name="ProductName" style="height:22px; width:260px;" value="" />
                    <span class="name right">PID：</span>
                    <input type="text" name="PID" style="height:22px;width:180px;" value="" />
                </div>
            <div class="boxlist">
                <div>
                    <span class="name">品牌：</span>
                    <label><input type="checkbox" name="Brand2" checked value="" />不限</label>
                    @foreach (var item in Model.Item1)
                    {
                        <label><input type="checkbox" name="Brand2" value="@item" />@item.Split('/')[0]</label>
                    }
                </div>
                <div class="patternList" style="margin-top:10px;display:none;">
                    <span class="name">轮胎花纹：</span>
                    <label><input type="checkbox" name="Pattern2" checked value="" />不限</label>
                </div>
                <div style="margin-top:10px;display:none;">
                    <span class="name">轮胎规格：</span>
                    @Html.DropDownList("Tire_Width", Model.Item2.Select(T => T.Width).Distinct().OrderBy(v => v).Select(value => new SelectListItem() { Text = value, Value = value }), "胎面宽")<b>/</b>
                    @Html.DropDownList("Tire_AspectRatio", Model.Item2.Select(T => T.AspectRatio).Distinct().OrderBy(v => v).Select(value => new SelectListItem() { Text = value, Value = value }), "扁平比")<b>R</b>
                    @Html.DropDownList("Tire_Rim", Model.Item2.Select(T => T.Rim).Distinct().OrderBy(v => v).Select(value => new SelectListItem() { Text = value, Value = value }), "直径")
                </div>
                <div style="margin-top:10px;display:none;">
                    <span class="name">尺寸：</span>
                    <label><input type="checkbox" name="Rim" checked value="" />不限</label>
                    @foreach (var item in Model.Item2.Select(T => T.Rim).Distinct().OrderBy(v => v))
                    {
                        <label><input type="checkbox" name="Rim" value="@item" />@item</label>
                    }
                </div>
                </div>
                <div>
                    <span class="name" style="display:none;">库存状态：</span>
                    <select class="stock-status" style="display:none;">
                        <option value="0">所有</option>
                        <option value="1">缺货</option>
                        <option value="2">多了</option>
                    </select>
                    <span class="name">上架状态：</span>
                    <select class="onsale-status">
                        <option value="1">上架</option>
                        <option value="0">所有</option>
                        <option value="2">下架</option>
                    </select>

                    <div style="display:none">
                        <span class="name right">展示状态：</span>
                        <select class="show-status">
                            <option value="0" selected="selected">全部</option>
                            <option value="1">有货</option>
                            <option value="2">缺货</option>
                            <option value="3">不展示</option>
                        </select>
                    </div>

                    &nbsp;&nbsp;<button class="select" onclick="Func.LoadList(1)">查询</button>
                    <div class="beforetable" style="float:right;margin-top:18px;">
                        每页显示
                        <select class="PageSize">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>条，<span class="data_count"></span>
                    </div>
                </div>
               
                <div class="maoli-tj" style="display:none;">
                    <input type="checkbox" value="" />
                    <span class="name">毛利额</span>
                    <select>
                        <option value="1">>=</option>
                        <option value="-1"><=</option>
                    </select>
                    <input type="text" style="width:40px" value="44" />
                </div>
                <div class="pcprice_per"style="display:none;">
                    <input type="checkbox" value="" />
                    <span class="name">官网价格</span>
                    <select>
                        <option value="1">高于</option>
                        <option value="-1">低于</option>
                    </select>
                    实际指导价
                    <input type="text" style="width:40px" value="5" />%
                </div>
                <div class="yjx" style="display:none;">
                    <input type="checkbox" value="" />
                    <span class="name">官网价格</span>
                    <select>
                        <option value="1">高于</option>
                        <option value="-1">低于</option>
                    </select>
                    预警线
                </div>
                <div class="stockcompare" style="display:none;">
                    <input type="checkbox" value="" />
                    <span class="name">库存</span>
                    <select>
                        <option value="1">>=</option>
                        <option value="-1"><=</option>
                    </select>
                    <input type="text" style="width:40px" value="" />
                </div>
                <div class="zzts" style="display:none;">
                    <input type="checkbox" value="" />
                    <span class="name">周转天数</span>
                    <select>
                        <option value="1">>=</option>
                        <option value="-1"><=</option>
                    </select>
                    <input type="text" style="width:40px" value="" />
                </div>
                <div class="MonthCount" style="display:none;">
                    <input type="checkbox" value="" />
                    <span class="name">近30天销量</span>
                    <select>
                        <option value="1">>=</option>
                        <option value="-1"><=</option>
                    </select>
                    <input type="text" style="width:40px" value="" />
                </div>
                <div class="WeekCount" style="display:none">
                    <input type="checkbox" value="" />
                    <span class="name">近7天销量</span>
                    <select>
                        <option value="1">>=</option>
                        <option value="-1"><=</option>
                    </select>
                    <input type="text" style="width:40px" value="" />
                </div>
                <div class="VehicleCount" style="display:none;">
                    <input type="checkbox" value="" />
                    <span class="name">原配车型数量</span>
                    <select>
                        <option value="1">>=</option>
                        <option value="-1"><=</option>
                        <option value="2" selected="selected">==</option>
                    </select>
                    <input type="text" style="width:40px" value="" />
                </div>
                <div style="display:none;">
                    <span class="name">更多条件：</span><br /><br />
                    <label><input type="radio" name="radio_1" value="0" checked />无</label><br /><br />
                    <label>
                        <input type="radio" name="radio_1" value="1" />
                        <span style="width: 20px; height: 10px; background: #CBD8DC">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span>自营平台售价/进货价</span>
                        <select>
                            <option value="-1"><=</option>
                            <option value="1">>=</option>
                        </select>
                        <input type="text" value="1" />
                    </label><br /><br />
                    <label>
                        <input type="radio" name="radio_1" value="2" />
                        <span style="width: 20px; height: 10px; background: #8ADE94">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span>第三方平台售价/官网价格</span>
                        <select>
                            <option value="-1"><=</option>
                            <option value="1">>=</option>
                        </select>
                        <input type="text" value="1" />
                    </label><br /><br />
                    <label>
                        <input type="radio" name="radio_1" value="3" />
                        <span style="width: 20px; height: 10px; background: #DCC8B9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span>竞争对手价格/官网价格</span>
                        <select>
                            <option value="-1"><=</option>
                            <option value="1">>=</option>
                        </select>
                        <input type="text" value="1" />
                    </label><br /><br />
                    <label>
                        <input type="radio" name="radio_1" value="4" />
                        <span style="width: 20px; height: 10px; background: #e3b3e6;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                        <span class="price_list">
                            <label>官网价格<input name="custom_price" type="checkbox" value="list" /></label>
                            <label>成本价<input name="custom_price" type="checkbox" value="cost" /></label>
                            <label>途虎淘宝<input name="custom_price" type="checkbox" value="taobao1" /></label>
                            <label>途虎淘宝2<input name="custom_price" type="checkbox" value="taobao2" /></label>
                            <label>途虎天猫1<input name="custom_price" type="checkbox" value="tmall1" /></label>
                            <label>途虎天猫2<input name="custom_price" type="checkbox" value="tmall2" /></label>
                            <label>途虎天猫3<input name="custom_price" type="checkbox" value="tmall3" /></label>
                            <label>途虎天猫4<input name="custom_price" type="checkbox" value="tmall4" /></label>
                            <label>途虎京东<input name="custom_price" type="checkbox" value="tuhujd" /></label>
                            <label>途虎京东旗舰<input name="custom_price" type="checkbox" value="jingdongqj" /></label>
                            <label>汽配龙<input name="custom_price" type="checkbox" value="qipeilong" /></label>
                            <label>特维轮天猫<input name="custom_price" type="checkbox" value="tmalltwl" /></label>
                            <label>京东自营<input name="custom_price" type="checkbox" value="jingdongself" /></label>
                            <label>汽车超人零售<input name="custom_price" type="checkbox" value="qccrl" /></label>
                            <label>汽车超人批发<input name="custom_price" type="checkbox" value="qccrp" /></label>
                            <label>券后价<input name="custom_price" type="checkbox" value="coupon" /></label>
                        </span>/&nbsp;&nbsp;
                        <select class="singlePrice">
                            <option value="list">官网价格</option>
                            <option value="cost">成本价</option>
                            <option value="taobao1">途虎淘宝</option>
                            <option value="taobao2">途虎淘宝2</option>
                            <option value="tmall1">途虎天猫1</option>
                            <option value="tmall2"> 途虎天猫2</option>
                            <option value="tmall3">途虎天猫3</option>
                            <option value="tmall4">途虎天猫4</option>
                            <option value="tuhujd">途虎京东</option>
                            <option value="jingdongqj">途虎京东旗舰</option>
                            <option value="qipeilong">汽配龙</option>
                            <option value="tmalltwl">特维轮天猫</option>
                            <option value="jingdongself">京东自营</option>
                            <option value="qccrl">汽车超人零售</option>
                            <option value="qccrp">汽车超人批发</option>
                            <option value="coupon">券后价</option>
                        </select>
                        <select>
                            <option value="-1"><=</option>
                            <option value="1">>=</option>
                        </select>
                        <input type="text" value="1" />
                    </label>
                </div>
            </div>
        
        <img class="loadimg" src="~/Scripts/layer/skin/default/loading-2.gif" style="margin:5% 50%;" />
        <div class="list">
        </div>

    </div>

    <div id="StockItem" style="display:none;">
        <p>PID:<span class="pid"></span></p>
        <p>产品名称：<span class="name"></span></p>
        <table width="250"></table>
    </div>

    <div id="SaleNumItem" style="display:none;">
        <p>PID:<span class="pid"></span></p>
        <p>产品名称：<span class="name"></span></p>
        <table width="400"></table>
    </div>
    <div id="UpdatePrice" style="display:none;">
        <p>指导价：<span class="guidePrice"></span></p>
        <p>官网价格：<input type="text" name="name" class="price" value="" />元</p>
        <p>备注：<input type="text" name="remark" value="" /></p>
        <p>相比指导价((官网价-实际指导价)/实际指导价)：<span class="xiangbi"></span></p>
        <p>建议价格调整范围：<span class="jyprice"></span></p>
    </div>
    <div id="ApplyUpdatePrice" style="display:none;">
        <p>该价格超过预警线，需要领导审批，审批通过后才会生效，确认修改？</p>
        <p>申请原因：<input type="text" name="name" class="reason" value="" placeholder="必填" /></p>

    </div>

    <div id="UpdateCouponPrice" style="display:none;">
        <div style="float:left;margin-right:10%;"><p>成本价：<span class="cost"></span></p></div>
        <div style="float:left;"><p><a href="#" target="_blank" id="viewLog">查看历史</a></p></div>
        <div style="clear:both;"></div>
        <p>券后价：<input type="text" name="name" class="price" value="" />元</p>
        <p>建议价格调整范围：<span class="jyprice"></span></p>
    </div>
    <div id="ApplyUpdateCouponPrice" style="display:none;">
        <p>该价格超过预警线，需要领导审批，审批通过后才会生效，确认修改？</p>
        <p>申请原因：<input type="text" name="name" class="reason" value="" placeholder="必填" /></p>
    </div>

    <div id="UpdatePriceBitch" style="display:none;">
        <p>
            选择品牌：
            <select class="brand">
                <option value="">请选择</option>
@foreach (var item in Model.Item1)
            {
                    <option value="@item">@item.Split('/')[0]</option>
}
            </select>
        </p>
        <p>
            选择花纹：
            <select class="pattern">
                <option value="">不限</option>
            </select>
        </p>
        <p>
            选择规格：
            <select class="tiresize">
                <option value="">不限</option>
            </select>
        </p>
        <p>
            价格调整：
            <select class="addOrjian">
                <option value="1">提价</option>
                <option value="-1">降价</option>
            </select>
            <input type="text" value="" class="price" style="width:80px" />元
        </p>
    </div>

    <div id="ZXTPrice"></div>
    <div id="ZXTCost"></div>
    <div id="YuanPCar" style="display:none;"></div>
    <div id="FlashSaleShow" style="display:none;"></div>    
    <div id="Monitor"></div>

    <script src="~/Scripts/echarts.js"></script>
    <script>
    $(function () {
    Func.LoadList(1);
    //浏览其他页
    $(".list").on("click", ".pager>a", function (event) {
    event.preventDefault();
    var url = $(this).attr("href");
    if (url) {
    $.post(url, function (html, status) {
    if (status === "success") {
    $(".list").html(html);
    }
    });
    }
    })
    });

    $(".PageSize").change(function () {
        Func.LoadList(1);
    });

    $(".boxlist").on("change", "div input[type=checkbox]", function () {
        if ($(this).prop("checked") && $(this).val() != "") {
            $(this).parent().parent().find("input[type=checkbox]:first").prop("checked", false);
        }
    }).on("change", "div input[name=Brand2]", function () {
        var $target = $(this);
        if ($target.val() != "") {
            $.get("/ProductsMonitor/GetPatternsByBrand", { brand: $target.val() }, function (result) {
                if (result.length) {
                    if ($target.prop("checked")) {
                        var html = '';
                        $.each(result, function (i, v) {
                            html += '<label><input type="checkbox" name="Pattern2" value="' + v + '">' + v + '</label>';
                        });
                        $(".patternList").append(html);
                    }
                    else {
                        $.each(result, function (i, v) {
                            $(".patternList input[name=Pattern2]").each(function () {
                                if ($(this).val() == v)
                                    $(this).parent().remove();
                            });
                        });
                    }
                }
            });
        }
    });
    </script>
    <script>
    var Func = {
    //加载列表数据
        LoadList: function (index) {
            $(".list").hide();
            $(".loadimg").show();
        var ProductName = $("[name=ProductName]").val().trim(),
            PID = $("[name=PID]").val().trim(),
            Brand = "",
            patterns,
            TireSize,
            rims,
            StockStatus = $("select.stock-status>option:selected").val(),
            OnSaleStatus = $("select.onsale-status>option:selected").val(),
            $radio = $("[name=radio_1]:checked"),
            $label = $radio.parent(),
            Type = $radio.val(),
            Contrast,
            MaoLiE,
            PCPricePer,
            MatchMaoLiE = $(".maoli-tj>select>option:selected").val(),
            MatchPCPricePer = $(".pcprice_per>select>option:selected").val(),
            MatchWarnLine = $(".yjx>select>option:selected").val(),
            Proportion,
            MatchStock,
            MatchStockValue = $(".stockcompare>input[type=text]").val(),
            MatchZZTS,
            ManyCustomPrice = '',
            SingleCustomPrice = $(".singlePrice option:selected").val(),
            MatchZZTSValue = $(".zzts>input[type=text]").val(),
            pageSize = $(".PageSize>option:selected").val(),
            MonthCount,
            MonthCountValue,
            WeekCount,
            WeekCountValue,
            ShowStatus = $("select .show-status>option:selected").val(),
            VehicleCount,
            VehicleCountValue;

        if (!$("[name=Brand2]:first").prop("checked")) {
            var tempBrands = [];
            $("[name=Brand2]:checked").each(function () {
                tempBrands.push($(this).val());
            });
            if (tempBrands.length)
                Brand = tempBrands.join(';');
        }
        if (!$("[name=Pattern2]:first").prop("checked")) {
            var tempPatterns = [];
            $("[name=Pattern2]:checked").each(function () {
                tempPatterns.push($(this).val());
            });
            if (tempPatterns.length)
                patterns = tempPatterns.join(';');
        }
        //获取轮胎规格
        var Tire_Width = $("#Tire_Width option:selected").val();
        var Tire_AspectRatio = $("#Tire_AspectRatio option:selected").val();
        var Tire_Rim = $("#Tire_Rim option:selected").val();
        if (Tire_Width.length && Tire_AspectRatio.length && Tire_Rim.length) {
            TireSize = Tire_Width + '/' + Tire_AspectRatio + 'R' + Tire_Rim;
        }

        if (!$("[name=Rim]:first").prop("checked")) {
            var tempRims = [];
            $("[name=Rim]:checked").each(function () {
                tempRims.push($(this).val());
            });
            if (tempRims.length)
                rims = tempRims.join(';');
        }

        if ($(".maoli-tj>input[type=checkbox]").prop("checked")) {
            MaoLiE = $(".maoli-tj>input[type=text]").val();
            if (isNaN(MaoLiE)) {
                alert("毛利额不合法");
                return false;
            }
            MaoLiE = parseFloat(MaoLiE);
        }
        if ($(".pcprice_per>input[type=checkbox]").prop("checked")) {
            PCPricePer = $(".pcprice_per>input[type=text]").val();
            if (isNaN(PCPricePer)) {
                alert("官网价格不合法");
                return false;
            }
            PCPricePer = parseFloat(PCPricePer);
        }
        if ($(".MonthCount >input[type=checkbox]").prop("checked")){
            MonthCount=$(".MonthCount>select>option:selected").val();
            MonthCountValue=$(".MonthCount>input[type=text]").val();
            if(!MonthCountValue.length||isNaN(MonthCountValue)){
                alert("近30天销量数量不合法");
                return false;
            }
            MonthCountValue=parseInt(MonthCountValue)
        }
        if ($(".WeekCount >input[type=checkbox]").prop("checked")){
            WeekCount = $(".WeekCount>select>option:selected").val();
            WeekCountValue = $(".WeekCount>input[type=text]").val();
            if(!WeekCountValue.length||isNaN(WeekCountValue)){
                alert("近7天销量数量不合法");
                return false;
            }
            WeekCountValue=parseInt(WeekCountValue)
        }

        if ($(".VehicleCount >input[type=checkbox]").prop("checked")){
            VehicleCount = $(".VehicleCount>select>option:selected").val();
            VehicleCountValue = $(".VehicleCount>input[type=text]").val();
            if(!VehicleCountValue.length||isNaN(VehicleCountValue)){
                alert("原配车型数量不合法");
                return false;
            }
            VehicleCountValue=parseInt(VehicleCountValue)
        }


        if ($(".stockcompare>input[type=checkbox]").prop("checked")) {
            MatchStock = $(".stockcompare>select>option:selected").val();
            if (!MatchStockValue.length || isNaN(MatchStockValue)) {
                alert("库存数量不合法");
                return false;
            }
            MatchStockValue = parseInt(MatchStockValue);
        }
        if ($(".zzts>input[type=checkbox]").prop("checked")) {
            MatchZZTS = $(".zzts>select>option:selected").val();
            if (!MatchZZTSValue.length || isNaN(MatchZZTSValue)) {
                alert("周转天数数量不合法");
                return false;
            }
            MatchZZTSValue = parseFloat(MatchZZTSValue);
        }


        if (!$(".yjx>input[type=checkbox]").prop("checked")) {
            MatchWarnLine = -99;
        }

        if (Type > 0) {
            Contrast = $label.find("select:last>option:selected").val();
            Proportion = $label.find("[type=text]").val();
            var $checkeds = $(".price_list").find("[type=checkbox]:checked");
            if (Type == 4 && !$checkeds.length) {
                alert("请选择参数筛选的除数");
                return false;
            }
            $checkeds.each(function() {
                ManyCustomPrice += $(this).val() + '|';
            });

            if (isNaN(Proportion)) {
                alert("更多条件中相对比的值不合法");
                return false;
            }
            Proportion = parseFloat(Proportion);
        }

        $.post("/ProductsMonitor/PriceProductList", {
            ProductName: ProductName,
            PID: PID,
            Brand: Brand,
            Patterns:patterns,
            TireSize:TireSize,
            Rims:rims,
            StockStatus: StockStatus,
            OnSaleStatus: OnSaleStatus,
            Type: Type,
            Contrast: Contrast,
            Proportion: Proportion,
            MaoLiE: MaoLiE,
            ManyCustomPrice: ManyCustomPrice,
            SingleCustomPrice: SingleCustomPrice,
            MatchMaoLiE: MatchMaoLiE,
            PCPricePer: PCPricePer,
            MatchPCPricePer: MatchPCPricePer,
            MatchWarnLine: MatchWarnLine,
            MatchStock: MatchStock,
            MatchStockValue: MatchStockValue,
            MatchZZTS: MatchZZTS,
            MatchZZTSValue: MatchZZTSValue,
            pageSize: pageSize,
            pageIndex: index,
            MonthCount:MonthCount,
            MonthCountValue:MonthCountValue,
            WeekCount:WeekCount,
            WeekCountValue:WeekCountValue,
            ShowStatus:ShowStatus,
            VehicleCount:VehicleCount,
            VehicleCountValue:VehicleCountValue
        }, function(html, status) {
            if (status === "success") {
                $(".loadimg").hide();
                $(".list").show();
                $(".list").html(html);
                $(".data_count").text('共' + ($(".table").length ? $(".table").attr("data-count") : 0) + '条数据');
            }
        });
        },
    //金额转换
    formatCurrency: function(num) {
        num = num.toString().replace(/\$|\,/g, '');
        if (isNaN(num))
            num = "0";
        sign = (num == (num = Math.abs(num)));
        num = Math.floor(num * 100 + 0.50000000001);
        cents = num % 100;
        num = Math.floor(num / 100).toString();
        if (cents < 10)
            cents = "0" + cents;
        for (var i = 0; i < Math.floor((num.length - (1 + i)) / 3); i++)
            num = num.substring(0, num.length - (4 * i + 3)) + ',' +
            num.substring(num.length - (4 * i + 3));
        return (((sign) ? '' : '-') + num + '.' + cents);
    },
    //查看监控明细
    ShowMonitor: function (pid,productName,minPrice) {
        $("#Monitor").load('/Monitor/PriceMonitorConfig?pid=' + pid + '&productName=' + encodeURIComponent(productName)+'&minPrice='+minPrice);
        $("#Monitor").dialog({
            title: "查看",
            width: 880,
            height: 600,
            modal: true,
            close: function () {
                Func.LoadList($(".list .pager>a.current").text());
            }
        });
    }
        };

    //回车执行搜索
    $(document).keyup(function (event) {
        if (event.keyCode == 13) {
            Func.LoadList($(".list .pager>a.current").text());
        }
    });

    </script>
