@using System.Text
@using Newtonsoft.Json
@model List< Tuhu.Provisioning.DataAccess.Entity.ZeroActivityApply >
	@{
		ViewBag.Title = "0元购活动";
	}
	<style type="text/css">
		.table-striped {
			margin: 0 auto;
			margin-top: 50px;
		}

			.table-striped tr td, .table-striped tr th {
				text-align: center;
			}

			.table-striped tr:nth-child(odd) {
				background-color: #EEEEEE;
			}
			/*.table-striped tbody tr:nth-child(odd) td {
		  background-color: #EEEEEE;
		}*/
			.table-striped tr:hover:nth-child(odd) {
				background: #FFEC8B;
			}

			.table-striped tr:hover:nth-child(even) {
				background: #FFEC8B;
			}

		.preCurr, .firstCurr, .nextCurr, .lastCurr {
			pointer-events: none;
			cursor: default;
			color: gray;
		}

		.pre, .first, .next, .last, span.pagespan {
			cursor: pointer;
			color: #08c;
		}

			.pre:hover, .first:hover, .next:hover, .last:hover, .pagespan:hover {
				text-decoration: underline;
			}

		span.current {
			text-decoration: underline;
			color: gray;
		}
	</style>
	<html>
	<body>
		<form method="get" style="margin-top:20px;">
			期数
			<input type="text" name="Period" style="width: 90px;" onchange="validate(this)" placeholder="输入数字" />
			用户订单数
			<input type="text" name="UserOrderQuantity" style="width: 90px;" onchange="validate(this)" placeholder="输入数字" />
			用户电话号码
			<input type="text" name="UserMobileNumber" style="width: 90px;" onchange="validate(this)" placeholder="输入数字" />
			是否通过
			<select name="Succeed" style="width:70px;text-align:center;">
				<option>请选择</option>
				<option value="0">否</option>
				<option value="1">是</option>
			</select>
			试用报告状态
			<select name="ReportStatus" style="width:185px;text-align:center">
				<option>-------------请选择-------------</option>
				<option value="0">还未填写试用报告</option>
				<option value="1">已填报告但未填写个人信息</option>
				<option value="2">报告填写完整</option>
				<option value="3">报告审核通过可返押金</option>
			</select>
            <input type="submit" value="搜索" />
            <input type="submit" name="type" value="导出" onclick="ValidPeriod()"/>
		</form>

		<table class=" table-striped" style="margin-top:25px;">
			<tr>
				<th>申请渠道</th>
				<th>期数</th>
				<th>用户ID</th>
				<th>用户名</th>
				<th>用户电话号码</th>
				<th>用户订单数</th>
				<th>产品名称</th>
				<th>产品PID</th>
				<th>产品尺寸</th>
				<th>申请的产品数量</th>
				<th>所在省</th>
				<th>所在地区</th>
				<th>获得加油数</th>
				<th>申请理由</th>
                <th>车型</th>
				<th>是否成功获奖</th>
				<th>成功获奖操作</th>
				<th>获得轮胎后的订单号</th>
				<th>试用报告的状态</th>
				<th>申请时间</th>
				<th>更新时间</th>
			</tr>
			@foreach (var z in Model)
			{
				<tr>
					@if (z.ApplyChannel == null)
					{
						<td></td>
					}
					else if (z.ApplyChannel == 0)
					{
						<td>网站</td>
					}
					else if (z.ApplyChannel == 1)
					{
						<td>手机端</td>
                    }
                    else if (z.ApplyChannel == 3)
                    {
                        <td>微信</td>
                    }
                    else
                    {
						<td></td>
					}
					<td>@z.Period</td>
					<td>@z.UserID</td>
					<td>@z.UserName</td>
					<td>@z.UserMobileNumber</td>
					<td>@z.UserOrderQuantity</td>
					<td>@z.ProductName</td>
					<td>@z.PID</td>
					<td>@z.ProductSize</td>
					<td>@z.Quantity</td>
					<td>@z.ProvinceName</td>
					<td>@z.CityName</td>
					<td>@z.SupportNumber</td>
					<td style="-ms-word-break: break-all; word-break: break-all;">@z.ApplyReason</td>
                    <td>@z.CarName</td>
					<td>@(z.Succeed.GetValueOrDefault()==1 ? "是" : "否")</td>
					<td>
						@if (z.Succeed.GetValueOrDefault()==1)
						{
							@:已操作

						}
						else
						{
							<span style="display:block;width:220px;">注意：订单号从左不为0的数字开始填写</span>
							<input type="text" name='OrderId' oninput="textinput(this)" style="width:150px;" /><input onclick="	GetAward(this)" type='button' value='确认获奖' data-model='{Period:"@z.Period",UserID:"@z.UserID",UserMobileNumber:"@z.UserMobileNumber"}' />
						}
					</td>


                    <td>
                        @if (z.Succeed.GetValueOrDefault() == 1)
                        {
                            <span>@(z.OrderId)</span>
                            <input type="button" data-model='{Period:"@z.Period",UserID:"@z.UserID",UserMobileNumber:"@z.UserMobileNumber"}' value="修改订单号" onclick="EditActivity(this,@z.OrderId)" />
                        }
                        else if (z.Succeed.GetValueOrDefault() == 0)
                        {
                            if (z.Status == 0)
                            {
                                <span style="color:green">申请中</span>
                                <input type="button" value="改为申请失败" onclick="UpdateStatus(@z.Period)" />
                            }
                            else if (z.Status == -1)
                            {
                                <span style="color:red">申请失败</span>
                            }
                        }
                    </td>
                <td>
                    @{
                            if (z.ReportStatus == null || z.ReportStatus == 0)
                            {
                                @:还未填写报告
                                if (z.Succeed.GetValueOrDefault() == 1 && ( User.Identity.Name== "devteam@tuhu.work" || User.Identity.Name== "liuxin@tuhu.cn"))
                            {
                                    <input type="button" value="上传试用报告" onclick="UploadReport('@z.UserID',@z.OrderId,@z.PKID)"/>
                                }
                        }
                        else if (z.ReportStatus == 1)
                        {
								@:已填报告但未填写个人信息
							}
							else if (z.ReportStatus == 2)
							{
								@:报告填写完整还未审核
							}
							else if (z.ReportStatus == 3)
							{
								@:报告审核通过可返押金
							}
						}
					</td>




					<td>@z.ApplyDateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
					<td>@z.LastUpdateDateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
				</tr>
			}
		</table>


		<div class="BatchPager">
			<span class="@(ViewBag.CurrentPage==1?"firstCurr":"first")"><<</span>
			<span class="@(ViewBag.CurrentPage==1?"preCurr":"pre")"><</span>
			@if (ViewBag.TotalCount <= 6)
			{

				for (var i = 1; i <= ViewBag.TotalCount; i++)
				{
					<span class="@(ViewBag.CurrentPage == i? "current" : "pagespan")" data-page="@i">@i</span>
				}
			}
			else
			{
				if (ViewBag.CurrentPage < 6)
				{
					for (var i = 1; i <= 6; i++)
					{
						<span class="@(ViewBag.CurrentPage==i?"current":"pagespan")" data-page="@i">@i</span>
					}
				}
				else if (ViewBag.TotalCount < 12)
				{
					for (var i = 1; i <= ViewBag.TotalCount; i++)
					{
						<span class="@(ViewBag.CurrentPage == i ? "current" : "pagespan")" data-page="@i">@i</span>
					}
				}
				else if (ViewBag.TotalCount - ViewBag.CurrentPage > 5)
				{
					for (var i = ViewBag.CurrentPage - 5; i <= ViewBag.CurrentPage + 5; i++)
					{
						<span class="@(ViewBag.CurrentPage == i ? "current" : "pagespan")" data-page="@i">@i</span>
					}
				}
				else
				{
					for (var i = ViewBag.TotalCount - 5; i <=ViewBag.TotalCount; i++)
					{
						<span class="@(ViewBag.CurrentPage == i ? "current" : "pagespan")" data-page="@i">@i</span>
					}
				}
			}
			@if (ViewBag.TotalCount - ViewBag.CurrentPage == 0)
			{
				<span class="nextCurr">></span>
				<span class="lastCurr">>></span>
			}
			else
			{
				<span class="next">></span>
				<span class="last" data-page="@((int)ViewBag.TotalCount)">>></span>
			}
		</div>
        <div id="EditAwards" style="display:none">
            <span style="display:block;color:red;">订单号从左不为0的数字开始填写</span><br />
            <input class="awards-orderId" style="width:80%" placeholder="请输入获奖者订单号"/>
        </div>
        <div id="ReportDialog" style="display:none">
            <table style="width:100%">
                <tr>
                    <th>标题</th>
                    <td><input class="title" style="width:100%" type="text" /></td>
                </tr>
                <tr>
                    <th>内容</th>
                    <td><textarea class="content" style="width:100%;height:100px"></textarea></td>
                </tr>
                <tr>
                    <th>上传图片</th>
                    <td>
                        <input id="_hdShowImages" name="CoverImage" type="hidden" value="" />
                        <input style="width:150px;" type="file" id="morePicture" name="morePicture" onchange="UploadBImg.UpMorePicture('morePicture',UploadBImg.AddMorePictureHTML);" />
                       
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="morePictureVessel">
                            <div style="clear:none;"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="updateStatus" style="display:none">
            <span style="display:block;color:red;margin-top:20px">点击后本期所有申请中的申请将变为申请失败，是否确认操作？</span><br />
        </div>
        <script src="~/Scripts/ajaxfileupload.js"></script>
		<script type="text/javascript">
	var reg = new RegExp("^([1-9][0-9]*)$");
	var r = new RegExp("^([0-9][0-9]*)$");
	$("input[name=Period]").val("@(ViewBag.Period==0?null:ViewBag.Period)");
	$("input[name=UserOrderQuantity]").val("@(ViewBag.UserOrderQuantity)");
	$("input[name=UserMobileNumber]").val("@(ViewBag.UserMobileNumber)");
	$("select[name=Succeed]").find("option[value=@(ViewBag.Succeed)]").attr("selected", true);
	$("select[name=ReportStatus]").find("option[value=@(ViewBag.ReportStatus)]").attr("selected", true);
	function validate(self)
	{
		if (!r.test($(self).val()))
		{
			$(self).val("");
		}
	}
	function textinput(self)
	{
		if (!reg.test($(self).val()) && $(self).val().trim().length > 0)
		{
			$(self).prev().css("color", "#D12A3E");
			return false;
		}

		$(self).prev().css("color", "#696969");
	}
	function GetAward(self)
	{
		if ($(self).prev().val().trim().length > 0)
		{
			if (reg.test($(self).prev().val()))
			{
				if (confirm("请确保用户已下单，且订单号为：" + $(self).prev().val().trim() + "。点击确定后，获奖结果会立即在网站上公布。"))
				{
					var val = parseInt($(self).prev().val().trim());
					$.post("SucceedAward", { "model": $(self).attr("data-model"), "OrderId": val }, function (data)
					{
					    if (parseInt(data) > 0) {
					        alert("操作成功");
					        location.reload();
					       // $(self).parent().html("已操作").prev().html("是").next().next().html(val + "");
					    } else if (parseInt(data) == -99) {
					        alert("订单号不存在或订单号中无符合该期0元购商品");
					    } else {
					        alert("本次操作不成功，请检查订单号是否重复，或重试，或联系研发部！");
					    }
					});
				}
			}

		}
		else
		{
			alert("请填写订单号！");
		}
	}
	$(".first").click(function ()
	{
		window.location.href = "/ZeroActivity/ZeroActivity?period=" + $("input[name=period]").val() + "&OrderQuantity=" + $("input[name=OrderQuantity]").val() + "&CurrentPage=1&Succeed=" + $("select[name=Succeed]").val() + "&ReportStatus =" + $("select[name=ReportStatus]").val();
	});
	$(".last").click(function ()
	{
		window.location.href = "/ZeroActivity/ZeroActivity?period=" + $("input[name=period]").val() + "&OrderQuantity=" + $("input[name=OrderQuantity]").val() + "&CurrentPage=" + $(this).attr("data-page") + "&Succeed=" + $("select[name=Succeed]").val() + "&ReportStatus =" + $("select[name=ReportStatus]").val();
	});
	$(".pagespan").click(function ()
	{
		window.location.href = "/ZeroActivity/ZeroActivity?period=" + $("input[name=period]").val() + "&OrderQuantity=" + $("input[name=OrderQuantity]").val() + "&CurrentPage=" + $(this).attr("data-page") + "&Succeed=" + $("select[name=Succeed]").val() + "&ReportStatus =" + $("select[name=ReportStatus]").val();
	});
	$(".next").click(function ()
	{
		window.location.href = "/ZeroActivity/ZeroActivity?period=" + $("input[name=period]").val() + "&OrderQuantity=" + $("input[name=OrderQuantity]").val() + "&CurrentPage=" + @(ViewBag.CurrentPage+1) + "&Succeed=" + $("select[name=Succeed]").val() + "&ReportStatus =" + $("select[name=ReportStatus]").val();
	});
	$(".pre").click(function ()
	{
		window.location.href = "/ZeroActivity/ZeroActivity?period=" + $("input[name=period]").val() + "&OrderQuantity=" + $("input[name=OrderQuantity]").val() + "&CurrentPage=" + @(ViewBag.CurrentPage-1) + "&Succeed=" + $("select[name=Succeed]").val() + "&ReportStatus =" + $("select[name=ReportStatus]").val();
	});

    function UpdateStatus(period){
        $("#updateStatus").dialog({
            title:"更改申请状态",
            width:250,
            height:180,
            fixed:true,
            buttons:{
                "确定":function(){
                    $.post("UpdateStatusByPeriod",{period:period},function(result){
                        if(result>0){
                            alert("操作成功");
                            location.reload();
                        }else{
                            alert("操作失败");
                        }
                    });
                },
                "取消":function(){
                    $(this).dialog("close");
                }
            }
        }); 
            }
            //上传图片地址
            function UploadBImg() {
                $.ajaxFileUpload({
                    url: '/ArticleManage/ImageUploadToAli',
                    secureuri: false,
                    fileElementId: 'upPicture',
                    dataType: 'json',
                    async: false,
                    success: function (result) {
                        if (result.BImage != "" && result.SImage != "") {
                            //$("#vwPicture").attr("src", result.SImage);
                            //$("#vwPicture").show();
                            //$("#SmallImage").val(result.SImage);
                            //$("#Image").val(result.BImage);
                        } else {
                            alert("上传失败！");
                        }
                    }
                });
            }

            //上传更多图片
            UploadBImg.UpMorePicture = function (_fileElementId, _callback) {
                $.ajaxFileUpload({
                    url: '/ArticleManage/ImageUploadToAli',
                    secureuri: false,
                    fileElementId: _fileElementId || '',
                    dataType: 'json',
                    async: false,
                    success: function (result) {
                        _callback(result, _fileElementId);
                    }
                });
            }
            //更多图片添加DOM
            UploadBImg.AddMorePictureHTML = function (result, elementId) {
                if (elementId == "morePicture") {
                    var _MorePictureHTML = "<span data-BImage=\"{BImage}\" data-SImage=\"{SImage}\" style=\"display:block;width:40px;float:left;margin-right:50px;margin-top:10px;\">"
                        + "<img height=\"50\" src=\"{SImage}\"  />"
                        + "<a href=\"javascript:void(0);\" onclick=\"UploadBImg.DelMorePicture(this);\">删除</a></span>"
                    _MorePictureHTML = _MorePictureHTML.replace(/\{SImage\}/ig, result.SImage).replace(/\{BImage\}/ig, result.BImage);

                    var imagesPath = $("#_hdShowImages").val();
                    $("#_hdShowImages").val(imagesPath + ";" + result.BImage);

                    $("#morePictureVessel").append(_MorePictureHTML);
                } else if (elementId == "diaProImage") {
                    $("#imgProPic").show();
                    $("#imgProPic").attr("src", result.BImage);
                    $("#_hdProImage").val(result.BImage);
                }
            }
            //删除上传图片
            UploadBImg.DelMorePicture = function (obj) {
                if (confirm("确认删除？删除后不可恢复！")) {
                    var _ojb = $(obj);
                    var bimage = _ojb.parent("span").attr("data-BImage");
                    var imagesPath = $("#_hdShowImages").val();
                    var resultPath = imagesPath.replace(";" + bimage, "");
                    $("#_hdShowImages").val(resultPath);
                    _ojb.parent("span").remove();;
                }
            }

    function UploadReport(userId, orderId, pkid)
    {
        $(".title").val("");
        $(".content").val("");
        $("#_hdShowImages").val("");
        $("#morePicture").val("");
        $("#morePictureVessel").empty();
        $("#ReportDialog").dialog({
            title:"上传试用报告",
            width: 500,
            height: 600,
            fixed: true,
            buttons: {
                "修改": function () {
                    var title = $(".title").val();
                    var content = $(".content").val();
                    var img = $("#_hdShowImages").val();
                    if (title == "") {
                        alert("请输入标题");
                        return false;
                    } else if (content.length < 800) {
                        alert("内容不能为空，且内容不能少于800字");
                        return false;
                    } else if ((img.split(";").length - 1) < 8 || (img.split(";").length - 1) > 10) {
                        alert("图片必须大于等于8张小于等于10张");
                        return false;
                    } else {
                        $.post("UploadTrialReport", { userId: userId,pkid:pkid, orderId: orderId, title: title, content: content, imgStr: img }, function (result) {
                            if (result.result) {
                                alert("操作成功");
                                window.location.reload();
                            } else {
                                alert(result.msg||"操作失败");
                            }
                        });
                    }
                },
                "取消": function () {
                    $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                }
            }
        });
    }

     function EditActivity(self,orderId) {
         $(".awards-orderId").val(orderId);
        $("#EditAwards").dialog({
            title: "修改获奖订单号",
            width: 350,
            height: 180,
            fixed: true,
            buttons: {
                "修改": function () {
                    if ($(".awards-orderId").val().trim().length > 0) {
                        if (reg.test($(".awards-orderId").val())) {
                            if (confirm("请确保用户已下单，且订单号为：" + $(".awards-orderId").val().trim() + "。点击确定后，获奖结果会立即在网站上公布。")) {
                                var val = parseInt($(".awards-orderId").val().trim());
                                $.post("SucceedAward", { "model": $(self).attr("data-model"), "OrderId": val}, function (data) {
                                    if (parseInt(data) > 0) {
                                        alert("修改成功");
                                        location.reload();
                                    } else if (parseInt(data) == -99) {
                                        alert("订单号不存在或订单号中无符合该期0元购商品");
                                    }else {
                                        alert("本次操作不成功，请检查订单号是否重复，或重试，或联系研发部！");
                                    }
                                });
                            }
                        }

                    }
                    else {
                        alert("请填写订单号！");
                    }
                },
                "取消":function(){
                    $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                }
            }
        });
            }

        function ValidPeriod() {
            var period = $("input[name=Period]").val();
            if (!period) {
                alert("请选择要导出的期数");
                window.event.preventDefault();
            }
        }
		</script>
	</body>

</html>

