@model List<Tuhu.Provisioning.DataAccess.Entity.WeixinCardModel>

@{
    ViewBag.Title = "微信卡券列表";
}

<h2>微信卡券列表</h2>



               @functions
{
                   public  DateTime ConvertFromUnixTimestamp(double timestamp)
                   {
                       DateTime origin = new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc);
                       return origin.AddSeconds(timestamp);
                   }
               }

               

@if (Model != null && Model.Any())
{
    <div>设置生成券码数量:</div>
    <input type="text" id="needtoinput" width="200" value="100">


<table>          
    <tr>
        <th>
            序号
            </th>
    <th>
        卡券批次
        </th>
    <th>
        卡券类型
    </th>
    <th>
        卡券名称
    </th>
    <th>
        卡券有效期
    </th>
        <th>
            卡券是否提交
        </th>
    <th>
       已投放数量
    </th>
    <th>
        操作
        </th>      
        </tr>
    @for (var q = 0; q < Model.Count(); q++)
    {
        <tr>
            <td>@Model[q].PKID</td>
            <td>@Model[q].card_id</td>
            <td>@Model[q].card_type</td>
            <td>@Model[q].total_info.base_info.title</td>
            <td>@ConvertFromUnixTimestamp((double)Model[q].total_info.base_info.date_info.end_timestamp)</td>
            <td>@(!String.IsNullOrWhiteSpace(Model[q].card_id) ? "是" : "否")</td>
            <td>
                @(Model[q].PushedCount.HasValue ? @Model[q].PushedCount:0)
            </td>
            <td style="text-align:center;vertical-align:middle">
                <a href="/WeixinCard/updateCard?pkid=@Model[q].PKID&supplierid=@Model[q].total_info.base_info.supplierId">复制<br />微信卡券</a>|             
                <div id="createcodediv" style="display:@(!String.IsNullOrWhiteSpace(Model[q].card_id) ? null : "none")">
                <a href="#" onclick="CreateCardCode('@Model[q].card_id')">生成<br />微信券码</a>
                    </div>

            </td>
           
        </tr>
    }
    <input type="hidden" id="UpdateWeiXinCard">
    </table>

    <script>
        function DeleteWeiXinCard(pkid) {
            var r = confirm("是否确定删除卡券信息？");
            if (r) {
                var data = { PKID: pkid };
                $.post("/WeixinCard/DeleteWeiXinCard", data, function (result) {
                    if (result) {
                        alert("删除成功！");
                        window.location.reload();
                    }
                });
            }
        }


        function UpdateWeiXinCard(PKID)
        {
            $("#UpdateWeiXinCard").load('/WeixinCard/updateCard?pkid=' + PKID);
            $("#UpdateWeiXinCard").dialog({
                title: "编辑微信卡券",
                width: 1000,
                height: "auto !important",
                modal: true,
                buttons: {
                    "保存": function () {
                        $(".button").click();
                    },
                    "关闭": function () {
                        $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                    }
                }
            });
        }

        function CreateCardCode(cardid)
        {
            var textbox1 = document.getElementById('needtoinput');
            if (textbox1.value &&textbox1.value>0)
            {
                var data = {
                    cardid: cardid,
                    count: textbox1.value
                }
            }
            else
            {
                alert("设置生成券码数量必须大于0")
                return
            }
            
            $.post("/WeixinCard/CreateCode", data, function (result) {
                if (result) {
                    alert(result);
                    window.location.reload();
                }
                else
                {
                    alert(result);
                }
            }
            )}
        </script>
}