@using Tuhu.Provisioning.DataAccess.Entity;
@model WeixinCardModel


@{
    ViewBag.Title = "添加微信卡券";
}
<style type="text/css">
        .field-validation-error { color: #f00; }
        .validation-summary-errors { color: #f00; font-weight: bold; }
        .input-validation-error { border: 2px solid #f00; background-color: #fee; }
        input[type="checkbox"].input-validation-error { outline: 2px solid #f00; }

    .bgMustInput {
        background-color: #f00;
        width: 100%;
        height: 100%;
        display: block;
    }

    .bgTitle {
        background-color: #FF6600;
        width: 100%;
        height: 100%;       
        text-align: center;
    }
    .timerb {
    }
    .bgText {
        background-color: #C0C0C0;
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
    }

    .bgpanel {
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
    }

    table {
        width: 100%;
        margin-bottom: 20px;
    }

        table th {
            text-align: center;
        }
</style>
@using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
{
    @Html.ValidationSummary()
    <div>
        @Html.HiddenFor(m => m.card_id, new { id = "cardid" })
        </div>
    <table>
        <tr>
            <td colspan="5"><label class="bgpanel">卡券类型</label></td>
        </tr>

     

        <tr>
            <td colspan="1">
                @Html.RadioButtonFor(m => m.card_type, CardTypeEnum.CASH, new { @class = "cardtyperb" }) 代金券
                @*<label><input type="radio" name="AllowFixed" value="1" checked="@(Model != null && Model.total_info != null &&Model.total_info.base_info!=null &&Model.total_info.base_info.date_info!=null && Model.total_info.base_info.date_info.type.ToString() != "DATE_TYPE_FIX_TIME_RANGE" ? "checked" : null)" />固定有效期</label>*@

            </td>

            <td colspan="4">
                @*<label class="fixed_date" style="display:@(Model != null && Model.total_info != null &&Model.total_info.base_info!=null &&Model.total_info.base_info.date_info!=null&& Model.total_info.base_info.date_info.type.ToString() == "DATE_TYPE_FIX_TIME_RANGE" ? null : "none");width=100%">开始日期  <input type="text" style="width:150px" id="DXStartDate" value="@(Model != null && Model.total_info != null &&Model.total_info.base_info!=null &&Model.total_info.base_info.date_info!=null ? Model.total_info.base_info.date_info.begin_timestamp : "")" /> 结束日期  <input type="text" style="width:150px" id="DXEndDate" value="@(Model != null && Model.total_info != null &&Model.total_info.base_info!=null &&Model.total_info.base_info.date_info!=null ? Model.total_info.base_info.date_info.end_timestamp : "")" /></label>*@
                <label class="cashct">起用金额  @Html.TextBoxFor(m => m.total_info.least_cost, new { @class = "bgText" })  减免金额  @Html.TextBoxFor(m => m.total_info.reduce_cost, new { @class = "bgText" })</label>
            </td>
        </tr>
       

        <tr>
            <td colspan="1">
                @Html.RadioButtonFor(m => m.card_type, CardTypeEnum.GENERAL_COUPON, new { @class = "cardtyperb" }) 优惠券
                @*<label><input type="radio" name="AllowFixed" value="1" checked="@(Model != null && Model.total_info != null &&Model.total_info.base_info!=null &&Model.total_info.base_info.date_info!=null && Model.total_info.base_info.date_info.type.ToString() != "DATE_TYPE_FIX_TIME_RANGE" ? "checked" : null)" />固定有效期</label>*@

            </td>

            <td colspan="4">
                @*<label class="fixed_date" style="display:@(Model != null && Model.total_info != null &&Model.total_info.base_info!=null &&Model.total_info.base_info.date_info!=null&& Model.total_info.base_info.date_info.type.ToString() == "DATE_TYPE_FIX_TIME_RANGE" ? null : "none");width=100%">开始日期  <input type="text" style="width:150px" id="DXStartDate" value="@(Model != null && Model.total_info != null &&Model.total_info.base_info!=null &&Model.total_info.base_info.date_info!=null ? Model.total_info.base_info.date_info.begin_timestamp : "")" /> 结束日期  <input type="text" style="width:150px" id="DXEndDate" value="@(Model != null && Model.total_info != null &&Model.total_info.base_info!=null &&Model.total_info.base_info.date_info!=null ? Model.total_info.base_info.date_info.end_timestamp : "")" /></label>*@
                <label class="generalcouponct">优惠详情  @Html.TextBoxFor(m => m.total_info.default_detail, new { @class = "bgText" })</label>
            </td>
        </tr>
    </table>

    @*@Html.ValidationSummary(true)*@
    <table>
        <tr>
            <th width="100%" style="text-align:center;" colspan="4" class="bgTitle">卡券基本信息</th>
        </tr>

        <tr>
            <td>卡券颜色</td>
            <td> @Html.DropDownListFor(m => m.total_info.base_info.colorid, Tuhu.Provisioning.Models.AccessTokenModel.GetOutColors(Model.total_info.base_info.colorid))
           </td>



            <td>卡券标题</td>
            
            <td>@Html.TextBoxFor(m => m.total_info.base_info.title, new { @class = "bgText" })</td>
        </tr>
        <tr>
            <td>卡券副标题</td>
            @*@Html.ValidationMessageFor(m => m.total_info.base_info.notice)*@
            <td colspan="3">@Html.TextBoxFor(m => m.total_info.base_info.notice, new { @class = "bgText" })</td>
        </tr>


        <tr>
            <td colspan="4"><label class="bgpanel">卡券描述</label>     </td>

        </tr>
        <tr>
            @*@Html.ValidationMessageFor(m => m.total_info.base_info.description)*@
            <td colspan="4"> @Html.TextBoxFor(m => m.total_info.base_info.description, new { @class = "bgText" })</td>
        </tr>

    </table>


    <table>
        <tr>
            <td colspan="5"><label class="bgpanel">卡券有效时间</label></td>
        </tr>

        <tr>
            <td colspan="1">
                @Html.RadioButtonFor(m => m.total_info.base_info.date_info.type, "DATE_TYPE_FIX_TIME_RANGE", new {id= "fixed_date", @class = "timerb" }) 固定有效期
                @*<label><input type="radio" name="AllowFixed" value="1" checked="@(Model != null && Model.total_info != null &&Model.total_info.base_info!=null &&Model.total_info.base_info.date_info!=null && Model.total_info.base_info.date_info.type.ToString() != "DATE_TYPE_FIX_TIME_RANGE" ? "checked" : null)" />固定有效期</label>*@

            </td>

            <td colspan="4">
                @*<label class="fixed_date" style="display:@(Model != null && Model.total_info != null &&Model.total_info.base_info!=null &&Model.total_info.base_info.date_info!=null&& Model.total_info.base_info.date_info.type.ToString() == "DATE_TYPE_FIX_TIME_RANGE" ? null : "none");width=100%">开始日期  <input type="text" style="width:150px" id="DXStartDate" value="@(Model != null && Model.total_info != null &&Model.total_info.base_info!=null &&Model.total_info.base_info.date_info!=null ? Model.total_info.base_info.date_info.begin_timestamp : "")" /> 结束日期  <input type="text" style="width:150px" id="DXEndDate" value="@(Model != null && Model.total_info != null &&Model.total_info.base_info!=null &&Model.total_info.base_info.date_info!=null ? Model.total_info.base_info.date_info.end_timestamp : "")" /></label>*@
                <label class="fixed_date">开始日期  @Html.TextBoxFor(m => m.total_info.base_info.date_info.begin_time,new { id= "ValiStartDate" }) 结束日期  @Html.TextBoxFor(m => m.total_info.base_info.date_info.end_time, new { id = "ValiEndDate" }) </label>
            </td>
        </tr>

        <tr>
            <td colspan="1">
                @*<label><input type="radio" name="AllowFixed" value="0" checked="@(Model != null && Model.total_info != null &&Model.total_info.base_info!=null &&Model.total_info.base_info.date_info!=null && Model.total_info.base_info.date_info.type != "DATE_TYPE_FIX_TERM" ? "checked" : null)" />动态有效期</label>*@
                 @Html.RadioButtonFor(m => m.total_info.base_info.date_info.type, "DATE_TYPE_FIX_TERM", new { id="dx_date",@class= "timerb" })  动态有效期
            </td>

            <td colspan="4">
                @*<label class="dx_date" style="display:@(Model != null && Model.total_info != null &&Model.total_info.base_info!=null &&Model.total_info.base_info.date_info!=null&& Model.total_info.base_info.date_info.type == "DATE_TYPE_FIX_TERM" ? null : "none");width=100%">领取几天生效  <input type="text" style="width:150px" id="DXStartDate" value="@(Model != null && Model.total_info != null &&Model.total_info.base_info!=null &&Model.total_info.base_info.date_info!=null ? Model.total_info.base_info.date_info.fixed_term : "")" /> 生效天数  <input type="text" style="width:150px" id="DXEndDate" value="@(Model != null && Model.total_info != null &&Model.total_info.base_info!=null &&Model.total_info.base_info.date_info!=null ? Model.total_info.base_info.date_info.fixed_begin_term : "")" /></label>*@
                <label class="dx_date">领取几天生效  @Html.TextBoxFor(m => m.total_info.base_info.date_info.fixed_begin_term) 生效天数  @Html.TextBoxFor(m => m.total_info.base_info.date_info.fixed_term) </label>
            </td>
        </tr>
        <tr>
            <td colspan="1">
                统一过期日期
            </td>
            <td colspan="4">
                @Html.TextBoxFor(m => m.total_info.base_info.date_info.end_time, new { @class = "bgText",id="fixedTermEndDate" })
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <th style="text-align:center;" colspan="4"  class="bgTitle">外链入口</th>
        </tr>
        <tr>
                         
                
                        <td colspan="4"><label class="bgpanel">使用场景入口(主入口)</label></td>
                    </tr>
                    <tr>

                        <td>标题</td>
                        @*@Html.ValidationMessageFor(m => m.total_info.base_info.description)*@
                        <td>@Html.TextBoxFor(m => m.total_info.base_info.center_title, new { @class = "bgText" })</td>

                        <td>副标题</td>
                        @*@Html.ValidationMessageFor(m => m.total_info.base_info.center_sub_title)*@
                        <td>@Html.TextBoxFor(m => m.total_info.base_info.center_sub_title, new { @class = "bgText" })</td>
                    </tr>

                    <tr>
                        <td>链接</td>
                        <td colspan="3">@Html.TextBoxFor(m => m.total_info.base_info.center_app_brand_pass, new { @class = "bgText" })</td>
                    </tr>

                   

        <tr>


            <td colspan="4"><label class="bgpanel">服务场景入口</label></td>
        </tr>
        <tr>

            <td>标题</td>
            @*@Html.ValidationMessageFor(m => m.total_info.base_info.custom_url_name)*@
            <td>@Html.TextBoxFor(m => m.total_info.base_info.custom_url_name, new { @class = "bgText" })</td>

            <td>副标题</td>
            @*@Html.ValidationMessageFor(m => m.total_info.base_info.custom_url_sub_title)*@
            <td>@Html.TextBoxFor(m => m.total_info.base_info.custom_url_sub_title, new { @class = "bgText" })</td>
        </tr>

        <tr>
            <td>链接</td>
            <td colspan="3">@Html.TextBoxFor(m => m.total_info.base_info.custom_app_brand_pass, new { @class = "bgText" })</td>
        </tr>

        <tr>


            <td colspan="4"><label class="bgpanel">营销场景入口</label></td>
        </tr>
        <tr>

            <td>标题</td>
            @*@Html.ValidationMessageFor(m => m.total_info.base_info.promotion_url_name)*@
            <td>@Html.TextBoxFor(m => m.total_info.base_info.promotion_url_name, new { @class = "bgText" })</td>

            <td>副标题</td>
            @*@Html.ValidationMessageFor(m => m.total_info.base_info.promotion_url_sub_title)*@
            <td>@Html.TextBoxFor(m => m.total_info.base_info.promotion_url_sub_title, new { @class = "bgText" })</td>
        </tr>

        <tr>
            <td>链接</td>
            <td colspan="3">@Html.TextBoxFor(m => m.total_info.base_info.promotion_app_brand_pass, new {@class = "bgText"})</td>
        </tr>

        <tr>


            <td colspan="4"><label class="bgpanel">激活小程序入口</label></td>
        </tr>
        <tr>

            <td>链接</td>
            <td colspan="3">@Html.TextBoxFor(m => m.total_info.base_info.activate_app_brand_pass, new { @class = "bgText" })</td>

          
        </tr>



       


                </table>

      <table>
                    <tr>
                        <th style="text-align:center;" colspan="4" class="bgTitle">服务场景</th>
                    </tr>

                    <tr>
                        <td>客服电话</td>
                        @*@Html.ValidationMessageFor(m => m.total_info.base_info.service_phone)*@
                        <td colspan="3">@Html.TextBoxFor(m => m.total_info.base_info.service_phone, new { @class = "bgText" })</td>
                    </tr>
                    </table>


                    <table>
                        <tr>
                            <th style="text-align:center;" colspan="4" class="bgTitle">领取/核销限制</th>
                        </tr>
                        <tr>
                          

                                        <td>领取数量限制</td>
                                        <td>@Html.TextBoxFor(m => m.total_info.base_info.get_limit, new { @class = "bgText" })</td>

                                        <td>核销数量限制</td>
                                        <td>@Html.TextBoxFor(m => m.total_info.base_info.use_limit, new { @class = "bgText" })</td>
                                    </tr>

                                    @*<tr>
                                        <td>分享</td>
                                        <td>@Html.CheckBoxFor(m => m.total_info.base_info.can_share)</td>
                                        <td>转赠</td>
                                        <td>@Html.CheckBoxFor(m => m.total_info.base_info.can_give_friend)</td>
                                    </tr>*@

                                  

                     

                    </table>

                    <table>
                        <tr>
                            <th style="text-align:center;" colspan="4" class="bgTitle">使用条件</th>
                        </tr>
                        <tr>


                            <td>适用范围</td>
                            <td>@Html.TextBoxFor(m => m.total_info.advanced_info.use_condition.accept_category, new { @class = "bgText" })</td>
                        </tr>
                        <tr>
                            <td>不适用范围</td>
                            <td>@Html.TextBoxFor(m => m.total_info.advanced_info.use_condition.reject_category, new { @class = "bgText" })</td>
                        </tr>

                        <tr>
                            <td>起用金额</td>
                            <td>@Html.TextBoxFor(m => m.total_info.advanced_info.use_condition.least_cost, new { @class = "bgText" })</td>
                        </tr>
                        <tr>
                            <td>购买类型</td>
                            <td>@Html.TextBoxFor(m => m.total_info.advanced_info.use_condition.object_use_for, new { @class = "bgText" })</td>
                        </tr>

                        <tr>
                            <td>与其他券共用</td>
                            <td>@Html.CheckBoxFor(m => m.total_info.advanced_info.use_condition.can_use_with_other_discount)</td>
                        </tr>                        
                    </table>

                <table>
                    <tr>
                        <th style="text-align:center;" colspan="4" class="bgTitle">封面摘要</th>
                    </tr>
                    <tr>
                        <td>                        
                        <input type="button" id="i_submit" value="上传图片" onclick="UploadImg(0)">
                       </td>
                        <td colspan="3">
                            <input type="file" id="imageInput0" name="imageInput0" style="display:none" />

                            <img id="tempView" src="" width="250" style="display:none;" />
                        </td>
                                                                     
                   </tr>
                    <tr>
                        <td>简介</td>
                        <td colspan="3">@Html.TextBoxFor(m => m.total_info.advanced_info.abstractinfo.abstractstr, new { @class = "bgText" })</td>
                    </tr>

                    
                        <tr>
                            <td>上传的图标</td>
                            <td colspan="3">@Html.TextBoxFor(m => m.total_info.advanced_info.abstractinfo.icon1, new { id = "icon",@class = "icon", @readonly = "true" })</td>

                        </tr>
                    
                    @*<tr>
                        <td>上传的图标</td>
                        <td colspan="3">@Html.TextBoxFor(m => m.total_info.advanced_info.abstractinfo.icon2, new { @class = "icon", @readonly = "true" })</td>

                    </tr>
                    <tr>
                        <td>上传的图标</td>
                        <td colspan="3">@Html.TextBoxFor(m => m.total_info.advanced_info.abstractinfo.icon3, new { @class = "icon", @readonly = "true" })</td>

                    </tr>
                    <tr>
                        <td>上传的图标</td>
                        <td colspan="3">@Html.TextBoxFor(m => m.total_info.advanced_info.abstractinfo.icon4, new { @class = "icon", @readonly = "true" })</td>

                    </tr>
                    <tr>
                        <td>上传的图标</td>
                        <td colspan="3">@Html.TextBoxFor(m => m.total_info.advanced_info.abstractinfo.icon5, new { @class = "icon", @readonly = "true" })</td>

                    </tr>*@

                </table>

                <table>
                    <tr>
                        <th style="text-align:center;" colspan="4" class="bgTitle">图文列表</th>
                    </tr>
                    <tr>
                        <td>图片上传</td>
                        <td>@Html.TextBoxFor(m => m.total_info.advanced_info.abstractinfo.imageText1.image_url, new { id = "image_url1", @readonly = "true" })</td>
                        <td><input type="file" id="imageInput1" name="imageInput1" style="display:none" />
                        <img id="tempInputView1" src="" width="250" style="display:none;" /></td>
                        <td><input type="button" id="i_submit" value="上传图片" onclick="UploadImg(1)"></td>
                    </tr>
                    <tr>
                        <td>文字描述</td>
                        <td colspan="3">@Html.TextBoxFor(m => m.total_info.advanced_info.abstractinfo.imageText1.text)</td>
                        </tr>

                    <tr>
                        <td>图片上传</td>
                        <td>@Html.TextBoxFor(m => m.total_info.advanced_info.abstractinfo.imageText2.image_url, new { id = "image_url2", @readonly = "true" })</td>
                        <td>
                            <input type="file" id="imageInput2" name="imageInput2" style="display:none" />
                            <img id="tempInputView2" src="" width="250" style="display:none;" />
                        </td>
                        <td><input type="button" id="i_submit" value="上传图片" onclick="UploadImg(2)"></td>
                    </tr>
                    <tr>
                        <td>文字描述</td>
                        <td colspan="3">@Html.TextBoxFor(m => m.total_info.advanced_info.abstractinfo.imageText2.text)</td>
                    </tr>

                    <tr>
                        <td>图片上传</td>
                        <td>@Html.TextBoxFor(m => m.total_info.advanced_info.abstractinfo.imageText3.image_url, new { id = "image_url3", @readonly = "true" })</td>
                        <td>
                            <input type="file" id="imageInput3" name="imageInput3" style="display:none" />
                            <img id="tempInputView3" src="" width="250" style="display:none;" />
                        </td>
                        <td><input type="button" id="i_submit" value="上传图片" onclick="UploadImg(3)"></td>
                    </tr>
                    <tr>
                        <td>文字描述</td>
                        <td colspan="3">@Html.TextBoxFor(m => m.total_info.advanced_info.abstractinfo.imageText3.text)</td>
                    </tr>


                    <tr>
                        <td>图片上传</td>
                        <td>@Html.TextBoxFor(m => m.total_info.advanced_info.abstractinfo.imageText4.image_url, new { id = "image_url4", @readonly = "true" })</td>
                        <td>
                            <input type="file" id="imageInput4" name="imageInput4" style="display:none" />
                            <img id="tempInputView4" src="" width="250" style="display:none;" />
                        </td>
                        <td><input type="button" id="i_submit" value="上传图片" onclick="UploadImg(4)"></td>
                    </tr>
                    <tr>
                        <td>文字描述</td>
                        <td colspan="3">@Html.TextBoxFor(m => m.total_info.advanced_info.abstractinfo.imageText4.text)</td>
                    </tr>


                    <tr>
                        <td>图片上传</td>
                        <td>@Html.TextBoxFor(m => m.total_info.advanced_info.abstractinfo.imageText5.image_url, new { id = "image_url5", @readonly = "true" })</td>
                        <td>
                            <input type="file" id="imageInput5" name="imageInput5" style="display:none" />
                            <img id="tempInputView5" src="" width="250" style="display:none;" />
                        </td>
                        <td><input type="button" id="i_submit" value="上传图片" onclick="UploadImg(5)"></td>
                    </tr>
                    <tr>
                        <td>文字描述</td>
                        <td colspan="3">@Html.TextBoxFor(m => m.total_info.advanced_info.abstractinfo.imageText5.text)</td>
                    </tr>
                    </table>

                <table>
                    <tr>
                        <td>
                            <input type="submit" name="command" value="Submit" id="sbm" class="button" />
                        </td>

                      
                        
                        <td>
                            <input type="submit" name="command" value="Save/Update" class="button" />
                        </td>
                    </tr>
                </table>

}
<div>
    <input type="button" onclick="location.href='@Url.Action("CardList", "WeiXinCard")'" value="Switch to CardList" style="text-align:center;vertical-align:middle"/>
    
</div>
@section scripts{
    <script src="~/Scripts/jquery.ztree.all-3.5.min.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.js"></script>
                    <script>

                       

                        function UploadImg(type){

                           // var imgpath=document.getElementById("imageInput"+type).files[0].name;
                            document.getElementById("imageInput"+type).click();

                        }
                        function OnSuccess(data) {
                            $(".validation-summary-errors").hide();
                            alert(data);
                        }

                        function OnFailure(xhr, status) {
                            alert('Error: ' + xhr.statusText);
                        }
                        $(function () {
                         
                            $('#imageInput0').change(function (e) {
                                var tmppath = URL.createObjectURL(e.target.files[0]);
                                $("#tempView").fadeIn("fast").attr('src', URL.createObjectURL(e.target.files[0]));
                                var files = e.target.files;
                                //var myID = 3; //uncomment this to make sure the ajax URL works
                                if (files.length > 0) {
                                    if (window.FormData !== undefined) {
                                        var data = new FormData();
                                        for (var x = 0; x < files.length; x++){
                                            data.append("file" + x, files[x]);
                                        }

                                        $.ajax({
                                            type: "POST",
                                            url: "/WeixinCard/UploadImage",
                                            contentType: false,
                                            processData: false,
                                            data: data,
                                            success: function(data) {
                                                if(data.flag)
                                                {
                                                    alert("图片上传成功");

                                                    document.getElementById("icon").value = data.result;
                                                    //var elements = document.getElementsByClassName("icon");
                                                    //for (var i = 0, element; element = elements[i++];) {
                                                    //    if (element.value === "")
                                                    //    {
                                                    //        element.value=data.result;
                                                    //        break;
                                                    //    }
                                                    //}                                                             
                                                }
                                                else
                                                {
                                                    alert("图片上传失败:"+data.result);                                        
                                                }
                                            },
                                            error: function (xhr, status, p3, p4){
                                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                                if (xhr.responseText && xhr.responseText[0] == "{")
                                                    err = JSON.parse(xhr.responseText).Message;
                                                console.log(err);
                                            }
                                        });
                                    } else {
                                        alert("This browser doesn't support HTML5 file uploads!");
                                    }
                                }

                            });


                            $('#imageInput1').change(function (e) {
                                var tmppath = URL.createObjectURL(e.target.files[0]);
                                $("#tempInputView1").fadeIn("fast").attr('src', URL.createObjectURL(e.target.files[0]));
                                var files = e.target.files;
                                //var myID = 3; //uncomment this to make sure the ajax URL works
                                if (files.length > 0) {
                                    if (window.FormData !== undefined) {
                                        var data = new FormData();
                                        for (var x = 0; x < files.length; x++){
                                            data.append("file" + x, files[x]);
                                        }

                                        $.ajax({
                                            type: "POST",
                                            url: "/WeixinCard/UploadImage",
                                            contentType: false,
                                            processData: false,
                                            data: data,
                                            success: function(data) {
                                                if(data.flag)
                                                {
                                                    alert("图片上传成功");
                                                    document.getElementById("image_url1").value = data.result;
                       
                                                }
                                                else
                                                {                     
                                                    alert("图片上传失败:"+data.result);
                                                }                                              
                                            },
                                            error: function (xhr, status, p3, p4){
                                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                                if (xhr.responseText && xhr.responseText[0] == "{")
                                                    err = JSON.parse(xhr.responseText).Message;
                                                console.log(err);
                                            }
                                        });
                                    } else {
                                        alert("This browser doesn't support HTML5 file uploads!");
                                    }
                                }

                            });

                            $('#imageInput2').change(function (e) {
                                var tmppath = URL.createObjectURL(e.target.files[0]);
                                $("#tempInputView2").fadeIn("fast").attr('src', URL.createObjectURL(e.target.files[0]));
                                var files = e.target.files;
                                //var myID = 3; //uncomment this to make sure the ajax URL works
                                if (files.length > 0) {
                                    if (window.FormData !== undefined) {
                                        var data = new FormData();
                                        for (var x = 0; x < files.length; x++){
                                            data.append("file" + x, files[x]);
                                        }

                                        $.ajax({
                                            type: "POST",
                                            url: "/WeixinCard/UploadImage",
                                            contentType: false,
                                            processData: false,
                                            data: data,
                                            success: function(data) {
                                                if(data.flag)
                                                {
                                                    alert("图片上传成功");
                                                    document.getElementById("image_url2").value = data.result;
                       
                                                }
                                                else
                                                {                     
                                                    alert("图片上传失败:"+data.result);
                                                }      
                                            },
                                            error: function (xhr, status, p3, p4){
                                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                                if (xhr.responseText && xhr.responseText[0] == "{")
                                                    err = JSON.parse(xhr.responseText).Message;
                                                console.log(err);
                                            }
                                        });
                                    } else {
                                        alert("This browser doesn't support HTML5 file uploads!");
                                    }
                                }

                            });


                            $('#imageInput3').change(function (e) {
                                var tmppath = URL.createObjectURL(e.target.files[0]);
                                $("#tempInputView3").fadeIn("fast").attr('src', URL.createObjectURL(e.target.files[0]));
                                var files = e.target.files;
                                //var myID = 3; //uncomment this to make sure the ajax URL works
                                if (files.length > 0) {
                                    if (window.FormData !== undefined) {
                                        var data = new FormData();
                                        for (var x = 0; x < files.length; x++){
                                            data.append("file" + x, files[x]);
                                        }

                                        $.ajax({
                                            type: "POST",
                                            url: "/WeixinCard/UploadImage",
                                            contentType: false,
                                            processData: false,
                                            data: data,
                                            success: function(data) {
                                                if(data.flag)
                                                {
                                                    alert("图片上传成功");
                                                    document.getElementById("image_url3").value = data.result;
                       
                                                }
                                                else
                                                {                     
                                                    alert("图片上传失败:"+data.result);
                                                }      
                                            },
                                            error: function (xhr, status, p3, p4){
                                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                                if (xhr.responseText && xhr.responseText[0] == "{")
                                                    err = JSON.parse(xhr.responseText).Message;
                                                console.log(err);
                                            }
                                        });
                                    } else {
                                        alert("This browser doesn't support HTML5 file uploads!");
                                    }
                                }

                            });

                            $('#imageInput4').change(function (e) {
                                var tmppath = URL.createObjectURL(e.target.files[0]);
                                $("#tempInputView4").fadeIn("fast").attr('src', URL.createObjectURL(e.target.files[0]));
                                var files = e.target.files;
                                //var myID = 3; //uncomment this to make sure the ajax URL works
                                if (files.length > 0) {
                                    if (window.FormData !== undefined) {
                                        var data = new FormData();
                                        for (var x = 0; x < files.length; x++){
                                            data.append("file" + x, files[x]);
                                        }

                                        $.ajax({
                                            type: "POST",
                                            url: "/WeixinCard/UploadImage",
                                            contentType: false,
                                            processData: false,
                                            data: data,
                                            success: function(data) {
                                                if(data.flag)
                                                {
                                                    alert("图片上传成功");
                                                    document.getElementById("image_url4").value = data.result;
                       
                                                }
                                                else
                                                {                     
                                                    alert("图片上传失败:"+data.result);
                                                }      
                                            },
                                            error: function (xhr, status, p3, p4){
                                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                                if (xhr.responseText && xhr.responseText[0] == "{")
                                                    err = JSON.parse(xhr.responseText).Message;
                                                console.log(err);
                                            }
                                        });
                                    } else {
                                        alert("This browser doesn't support HTML5 file uploads!");
                                    }
                                }

                            });


                            $('#imageInput5').change(function (e) {
                                var tmppath = URL.createObjectURL(e.target.files[0]);
                                $("#tempInputView5").fadeIn("fast").attr('src', URL.createObjectURL(e.target.files[0]));
                                var files = e.target.files;
                                //var myID = 3; //uncomment this to make sure the ajax URL works
                                if (files.length > 0) {
                                    if (window.FormData !== undefined) {
                                        var data = new FormData();
                                        for (var x = 0; x < files.length; x++){
                                            data.append("file" + x, files[x]);
                                        }

                                        $.ajax({
                                            type: "POST",
                                            url: "/WeixinCard/UploadImage",
                                            contentType: false,
                                            processData: false,
                                            data: data,
                                            success: function(data) {
                                                if(data.flag)
                                                {
                                                    alert("图片上传成功");
                                                    document.getElementById("image_url5").value = data.result;
                       
                                                }
                                                else
                                                {                     
                                                    alert("图片上传失败:"+data.result);
                                                }      
                                            },
                                            error: function (xhr, status, p3, p4){
                                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                                if (xhr.responseText && xhr.responseText[0] == "{")
                                                    err = JSON.parse(xhr.responseText).Message;
                                                console.log(err);
                                            }
                                        });
                                    } else {
                                        alert("This browser doesn't support HTML5 file uploads!");
                                    }
                                }

                            });


                            $("#ValiStartDate").datetimepicker({
                                timeFormat: "HH:mm:ss",
                                dateFormat: "yy-mm-dd",
                                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],

                            });
                            $("#ValiEndDate").datetimepicker({
                                timeFormat: "HH:mm:ss",
                                dateFormat: "yy-mm-dd",
                                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],

                            });

                            $("#fixedTermEndDate").datetimepicker({
                                timeFormat: "HH:mm:ss",
                                dateFormat: "yy-mm-dd",
                                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],

                            });

                            $(".timerb").click(function () {
                                if ($(this).val() == "DATE_TYPE_FIX_TIME_RANGE") {
                                    $(".fixed_date").show();
                                    $(".dx_date").hide();
                                    $("#fixedTermEndDate").hide();
                                }

                                else {
                                    $(".dx_date").show();
                                    $("#fixedTermEndDate").show();
                                    $(".fixed_date").hide();
                                }
                            });
                            $(".cardtyperb").click(function () {
                                //if ($(this).val() == "GROUPON") {
                                //    $(".grouponct").show();
                                //    $(".cashct").hide();
                                //    $(".discountct").hide();
                                //    $(".giftct").hide();
                                //    $(".generalcouponct").hide();
                                //}

                                if ($(this).val() == "CASH") {

                                    $(".cashct").show();

                                    $(".generalcouponct").hide();
                                }
                                    //else if ($(this).val() == "折扣券") {
                                    //    $(".grouponct").hide();
                                    //    $(".cashct").hide();
                                    //    $(".discountct").show();
                                    //    $(".giftct").hide();
                                    //    $(".generalcouponct").hide();
                                    //}
                                    //else if ($(this).val() == "兑换券") {
                                    //    $(".grouponct").hide();
                                    //    $(".cashct").hide();
                                    //    $(".discountct").hide();
                                    //    $(".giftct").show();
                                    //    $(".generalcouponct").hide();
                                    //}
                                else if ($(this).val() == "GENERAL_COUPON") {

                                    $(".cashct").hide();

                                    $(".generalcouponct").show();
                                }
                            });



                            @*if (@Convert.ToInt16(Model.card_type) == @Convert.ToInt16(CardTypeEnum.GROUPON)) {
                            $(".grouponct").show();
                            $(".cashct").hide();
                            $(".discountct").hide();
                            $(".giftct").hide();
                            $(".generalcouponct").hide();
                        }*@

                            if (@Convert.ToInt16(Model.card_type) == @Convert.ToInt16(CardTypeEnum.CASH)) {
                                $(".grouponct").hide();
                            $(".cashct").show();
                            $(".discountct").hide();
                            $(".giftct").hide();
                            $(".generalcouponct").hide();
                        }
                            @*else if (@Convert.ToInt16(Model.card_type) == @Convert.ToInt16(CardTypeEnum.DISCOUNT)) {
                            $(".grouponct").hide();
                            $(".cashct").hide();
                            $(".discountct").show();
                            $(".giftct").hide();
                            $(".generalcouponct").hide();
                        }
                        else if (@Convert.ToInt16(Model.card_type) == @Convert.ToInt16(CardTypeEnum.GIFT)) {
                            $(".grouponct").hide();
                            $(".cashct").hide();
                            $(".discountct").hide();
                            $(".giftct").show();
                            $(".generalcouponct").hide();
                        }*@
                        else if (@Convert.ToInt16(Model.card_type) == @Convert.ToInt16(CardTypeEnum.GENERAL_COUPON)) {
                                $(".grouponct").hide();
                        $(".cashct").hide();
                        $(".discountct").hide();

                        $(".giftct").hide();
                        $(".generalcouponct").show();
                        }
                        if(document.getElementById("fixed_date").checked)
                        @*if(@string.Equals(Model.total_info.base_info.date_info.type, TimeType.DATE_TYPE_FIX_TIME_RANGE))
                       // if (@Model.total_info.base_info.date_info.type == @TimeType.DATE_TYPE_FIX_TIME_RANGE)*@
                        {
                             $(".fixed_date").show();
                             $(".dx_date").hide();
                             $("#fixedTermEndDate").hide();
                        }
                        else
                      //  else if (@Model.total_info.base_info.date_info.type == @TimeType.DATE_TYPE_FIX_TERM)
                        {
                             $(".fixed_date").hide();
                             $(".dx_date").show();
                             $("#fixedTermEndDate").show();
                        }

                      

                        });

                    </script>
    }
