@{
    ViewBag.Title = "复制配置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Tuhu.Provisioning.DataAccess.Entity.ProductInfo
<script src="~/Content/ProductVehicleType/js/angular.min.js"></script>
<script src="~/Content/ProductVehicleType/js/tm.pagination.js"></script>
<link href="~/Content/ProductVehicleType/css/bootstrap.v3.css" type="text/css" rel="stylesheet" />
@*<link href="~/Content/ProductVehicleType/css/iconfinder.css" type="text/css" rel="stylesheet" />*@

<div class="container" ng-app="NodeApp" style="margin-bottom: 400px">
    <div class="row">
        <div class="span3"></div>
        <div class="span9" style="float:right;text-align:center;margin-top:20px;"><h4>@Model.DisplayName / @Model.ProductCode</h4></div>
    </div>
    <div class="row">
        <div class="span3" style="float:left;">
            <ul class="nav nav-pills nav-stacked" style="margin-top:20px">
                <li><a href="/ProductVehicleType/Detail/@ViewBag.Pid">产品通用信息</a></li>
                <li><a href="/ProductVehicleType/Edit/@ViewBag.Pid">编辑产品车型数据</a></li>
                <li><a href="/ProductVehicleType/FileInportExport/@ViewBag.Pid">导入导出车型数据</a></li>
                <li class="active"><a href="/ProductVehicleType/Copy/@ViewBag.Pid">批量复制车型配置</a></li>
                <li><a href="/ProductVehicleType/ProductLog/@ViewBag.Pid">查看产品操作日志</a></li>
            </ul>
        </div>
        <div class="span8" style="float:right;margin-bottom:100px" ng-controller="ProductVehicleTypeController">
            @*这部分加载分布视图*@
            <div style="width:40%;float:left;margin-top:20px;">
                <div>
                    <fieldset>
                        <legend>已选配置车型产品</legend>
                        <div class="form-group">
                            <p><b>产品名称：</b>@Model.DisplayName</p>
                            <p><b>产品PID：</b>@Model.PID</p>
                            <input type="hidden" value="@Model.PID" id="hiddenPid"/>
                        </div>
                    </fieldset>
                    @*<label class="col-sm-6 control-label" style="width:60%"></label>*@
                    @*<textarea class="form-control" rows="3">


                        </textarea>*@

                </div>
            </div>
            <div style="width:10%;float:left;margin-top:100px;padding-left:36px">
                >>
            </div>
            <div style="width:50%;float:right;margin-top:20px;">
                <div>
                    <fieldset>
                        <legend>
                            目标产品
                        </legend>
                        <div class="form-group">
                            <textarea class="form-control" id="searchTxt" rows="3" placeholder="请输入产品PID,并以逗号隔开"></textarea>
                        </div>
                    </fieldset>
                    @*<label class="col-sm-6 control-label"></label>*@
                    

                </div>
            </div>
            <div>
                <button class="btn btn-info" style="margin-top:10px" id="btnFindProduct">查找产品</button>
                <div class="table-responsive" style="margin-top:10px" ng-show="showTable">

                    <button class="btn btn-primary" style="float:right;margin-bottom:10px" id="btnCopySelected">复制配置到所选产品</button>
                    <table id="tbList" class="table table-striped">
                        <thead>
                            <tr>
                                <th width="60px"><input type="checkbox" id="checkAll" />全选</th>
                                <th>DisplayName</th>
                                <th>PID</th>
                                <th>Brand</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in apiInfoList">
                                <td><input type="checkbox" /></td>
                                <td>{{item.DisplayName}}</td>
                                <td>{{item.Pid}}</td>
                                <td>{{item.Brand}}</td>
                                <td>
                                    <delete ng-model="item" ng-show="showEdit"><button class="btn btn-warning">复制</button></delete>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <tm-pagination conf="paginationConf"></tm-pagination>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Content/ProductVehicleType/js/bootstrap.min.js"></script>
<script src="~/Content/ProductVehicleType/js/copy.js"></script>