@{
    ViewBag.Title = "导入导出";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Tuhu.Provisioning.DataAccess.Entity.ProductInfo
    <link href="~/Content/ProductVehicleType/css/bootstrap.v3.css" type="text/css" rel="stylesheet" />

    <div class="container" style="margin-bottom: 400px">
        <div class="row">
            <div class="span3"></div>
            <div class="span9" style="float:right;text-align:center;margin-top:20px;"><h4>@Model.DisplayName / @Model.ProductCode</h4></div>
        </div>
        <div class="row">
            <div class="span3" style="float:left;">
                <ul class="nav nav-pills nav-stacked" style="margin-top:20px">
                    <li><a href="/ProductVehicleType/Detail/@ViewBag.Pid">产品通用信息</a></li>
                    <li><a href="/ProductVehicleType/Edit/@ViewBag.Pid">编辑产品车型数据</a></li>
                    <li class="active"><a href="/ProductVehicleType/FileInportExport/@ViewBag.Pid">导入导出车型数据</a></li>
                    <li><a href="/ProductVehicleType/Copy/@ViewBag.Pid">批量复制车型配置</a></li>
                    <li><a href="/ProductVehicleType/ProductLog/@ViewBag.Pid">查看产品操作日志</a></li>
                </ul>
            </div>
            <div class="span8" style="float:right">

                @using (Html.BeginForm("FileImport", "ProductVehicleType", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                    <div style="width:50%;float:left;margin-top:20px">
                        <fieldset id="fileUpload">
                            <legend>上传Excel文件</legend>

                            @*<label class="col-sm-6 control-label"></label>*@
                            <div class="form-group">
                                <input type="file" id="inputFile" name="files">
                                <p class="help-block"></p>
                                <span style="color: Red; text-align: center;">@ViewBag.error</span>
                            </div>
                            <input type="submit" value="上传导入" class="btn btn-success" id="btnImport" />

                            <div class="form-group" style="margin-top:20px;">
                                @Html.ActionLink("下载excel模板(此产品初始车型数据)", "DownLoadFile", new { id = Model.PID })
                            </div>
                            <div class="form-group">
                                @Html.ActionLink("下载excel模板(此产品修改过的车型数据)", "DownLoadFileNew", new { id = Model.PID }, new { target = "_blank" })
                            </div>
                        </fieldset>
                    </div>

                    <div style="width:50%;float:right;margin-top:20px;">
                        <fieldset>
                            <legend>历史配置文件下载</legend>

                            @*<label class="col-sm-6 control-label" style="float:initial"></label><br />*@
                            <div class="form-horizontal" style="float:left">
                                @foreach (var item in Model.ExcelInfoList)
                                {
                                    <div class="form-group">
                                        <label>@item.CreatedTime.ToString("yyyy-MM-dd hh:mm:ss")</label>
                                        <label>@item.Operator</label>
                                        <a class="btn btn-default" href="@item.FilePath">下载</a>
                                    </div>
                                }
                            </div>
                        </fieldset>
                    </div>
                }
            </div>
        </div>

    </div>
