@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "优惠券领取活动页配置";
}
@model Tuhu.Provisioning.DataAccess.Entity.NewCoupon.NewCouponActivity
<h2 style="font-size:2em;color:#000;padding:0 0 10px 0;width:250px">优惠券领取活动页配置</h2>
<link rel="stylesheet" href="/Scripts/artDialog6.0.4/css/ui-dialog.css" />
<style type="text/css">
    .buttonStyle { background: #50c16a; border: none; color: azure; box-shadow: 1px 1px 1px #eee8aa; width: 50px; height: 26px; border-radius: 3px; outline: none; cursor: pointer; font-size: 15px; font-family: "Microsoft Yahei"; }
        .buttonStyle:hover { background-color: #008b8b; border-color: #008b8b; }
    .buttonStyleHidden { background: #808080; }
        .buttonStyleHidden:hover { background: #808080; }
    .ui-dialog { width: auto; }
</style>

<div>
    @{
        <fieldset>
            <legend>基本信息配置</legend>
            <div style="margin-top:10px">
                <table style="width:90%">
                    <tr>
                        <th>名称：</th>
                        <td><input type="text" class="activity-activityName" style="width:300px;height:30px" value="@Model.ActivityName" /></td>
                        <th>发放渠道：</th>
                        <td><input type="text" class="activity-channel" style="width:300px;height:30px" value="@Model.Channel" /></td>
                    </tr>
                    <tr>
                        <th>负责人：</th>
                        <td><input type="text" class="activity-owner" style="width:300px;height:30px" value="@Model.Owner" /></td>
                        <th>分享ID：</th>
                        <td><input type="text" class="activity-appShareId" style="width:300px;height:30px" value="@Model.AppShareId" /></td>
                    </tr>
                    <tr>
                        <th>页面状态：</th>
                        <td>
                            @if (Model.IsEnabled)
                            {
                                <label class="checkbox-inline"> <input type="radio" value="false" id="radioDisShow" name="IsEnabled" checked="checked">开启 </label>
                                <label class="checkbox-inline"><input type="radio" value="true" id="radioShow" name="IsEnabled"> 关闭 </label>
                            }
                            else
                            {
                                <label class="checkbox-inline"> <input type="radio" value="false" id="radioDisShow" name="IsEnabled">开启 </label>
                                <label class="checkbox-inline"><input type="radio" value="true" id="radioShow" name="IsEnabled" checked="checked"> 关闭 </label>
                            }
                        </td>
                        <th>页面用途：</th>
                        <td>
                            @if (Model.PageType == 1)
                            {
                                <label class="checkbox-inline"> <input type="radio" class="page-type" value="1" id="outside" name="PageType" data-key="1" checked="checked">外部投放 </label>
                                <label class="checkbox-inline"><input type="radio" class="page-type" value="0" id="orderShare" data-key="0" name="PageType"> 订单分享 </label>
                            }
                            else
                            {
                                <label class="checkbox-inline"> <input type="radio" class="page-type" value="1" id="outside" data-key="1" name="PageType">外部投放 </label>
                                <label class="checkbox-inline"><input type="radio" class="page-type" value="0" id="orderShare" data-key="0" name="PageType" checked="checked"> 订单分享 </label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>领券方式：</th>
                        <td>
                            @if (Model.PageType == 0)
                            {
                                <label class="checkbox-inline"> <input type="radio" value="false" readonly="readonly" class="isRandom" id="NoRandom" name="IsRandom">普通券包 </label>
                                <label class="checkbox-inline"><input type="radio" value="true" readonly="readonly" class="isRandom" id="IsRandom" name="IsRandom" checked="checked"> 随机领取 </label>
                            }
                            else
                            {
                                if (!Model.IsRandom)
                                {
                                    <label class="checkbox-inline"> <input type="radio" value="false" class="isRandom" id="NoRandom" name="IsRandom" checked="checked">普通券包 </label>
                                    <label class="checkbox-inline"><input type="radio" value="true" class="isRandom" id="IsRandom" name="IsRandom"> 随机领取 </label>
                                }
                                else
                                {
                                    <label class="checkbox-inline"> <input type="radio" value="false" class="isRandom" id="NoRandom" name="IsRandom">普通券包 </label>
                                    <label class="checkbox-inline"><input type="radio" value="true" class="isRandom" id="IsRandom" name="IsRandom" checked="checked"> 随机领取 </label>
                                }
                            }

                        </td>
                        <th>仅限新注册用户：</th>
                        <td>
                            @if (Model.IsNewUser)
                            {
                                <label class="checkbox-inline"> <input type="radio" value="false" id="isNewUser" name="IsNewUser" checked="checked">是</label>
                                <label class="checkbox-inline"><input type="radio" value="true" id="noNewUser" name="IsNewUser"> 否 </label>
                            }
                            else
                            {
                                <label class="checkbox-inline"> <input type="radio" value="false" id="isNewUser" name="IsNewUser">是 </label>
                                <label class="checkbox-inline"><input type="radio" value="true" id="noNewUser" name="IsNewUser" checked="checked"> 否 </label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>活动规则:</th>
                        <td colspan="3">
                            <textarea cols="120" class="activity-rules" rows="10">@Model.Description</textarea>
                        </td>
                    </tr>
                    <tr class="orderShare1">
                        <th>活动标签:</th>
                        <td colspan="3">
                            @*<textarea cols="120" class="activity-rules" rows="1">@Model.ActivityDesc</textarea>*@
                            <input type="text" id="ActivityDesc" class="activity-rules" style="width:700px;height:30px" value="@Model.ActivityDesc" />
                        </td>
                    </tr>
                    <tr class="start-end" style="display:@(Model.PageType==0 ? "none" : "")">
                        <th>开始时间：</th>
                        <td><input class="activity-start" style="width:300px;height:30px;line-height:25px;" placeholder="开始时间" value="@Model.StartTime" onclick="WdatePicker({ dateFmt :'yyyy/MM/dd HH:mm:ss'})" /></td>
                        <th>结束时间：</th>
                        <td><input class="activity-end" style="width:300px;height:30px;line-height:25px" placeholder="结束时间" value="@Model.EndTime" onclick="WdatePicker({ dateFmt :'yyyy/MM/dd HH:mm:ss'})" /></td>
                    </tr>
                    <tr class="shareDay" style="display:@(Model.PageType == 0 ? "" : "none")">
                        <th>自分享之日起（天）：</th>
                        <td colspan="3"><input type="text" style="width:300px;height:30px;line-height:25px;" class="activity-validDays verifyNum" placeholder="自领取之日起（天）" value="@Model.ValidDays" /></td>
                    </tr>
                    @*<tr class="share-person" style="display:none">
                            <th>每人每次领取数量：</th>
                            <td colspan="3"><input type="text" class="activity-singleQuantity verifyNum" style="width:300px;height:30px" value="0" /></td>
                        </tr>*@
                    <tr class="share-page" id="numFlag" style="display:@(Model.IsRandom ? "" : "none")">
                        <th>每人每日参与次数：</th>
                        <td><input class="activity-dailyEngagementCount verifyNum" style="width:300px;height:30px" value="@Model.DailyQuantityPerUser" /></td>
                        <th>页面参与人数：</th>
                        <td><input type="text" class="activity-participantsCount verifyNum" style="width:300px;height:30px" placeholder="-1 代表无穷大" value="@Model.PageQuantity.ToString()" /></td>
                    </tr>
                </table>
            </div>
        </fieldset>
        <fieldset>
            <legend>优惠券</legend>
            <table class="couponRules-random  share-page orderShare0" style="width:50%;margin-top:10px;display:@(Model.IsRandom ? "" : "none")">
                <tr>
                    <th>组ID</th>
                    <td><input style="width: 80%; height: 25px"  id="randomGroupId" value="@Model.RandomGroupId" class="random-couponRulesId" placeholder="请输入随机优惠券的组ID" /></td>
                </tr>
            </table>

            <table class="couponRules-random  share-page orderShare1" style="width:100%;margin-top:10px;display:@(Model.IsRandom ? "" : "none")">
                <tr class="">
                    <th style="width:15%">大礼包ID</th>
                    <td sytle="">
                        <input style="height: 25px;width:80%"  id="randomBigGroupId" value="@Model.RandomBigGroupId" class="random-couponRulesId" placeholder="请输入随机优惠券的大礼包hashid" />
                    </td>
                    <th style="width:20%">
                        大奖随机位置
                    </th>
                    <td style="width: 30%;">
                        <input style="width: 40%; height: 25px" id="randomMinPos" value="@Model.RandomMinPos" class="random-couponRulesId" placeholder="请输入数字" />
                        <span>-</span>
                        <input style="width: 40%; height: 25px" id="randomMaxPos" value="@Model.RandomMaxPos" class="random-couponRulesId" placeholder="请输入数字" />
                    </td>
                </tr>
                <tr>
                    <th>
                        普通奖ID
                    </th>
                    <td sytle="width:200px;">
                        <input style="width: 80%; height: 25px" value="@Model.RandomGroupId"  id="randomGroupId1" class="random-couponRulesId" placeholder="请输入随机优惠券的小礼包hashid" />
                    </td>
                </tr>
            </table>

            <table class="couponRules noRandom" style="width:90%;margin-top:10px;display:@(Model.IsRandom ? "none" : "")">
                <tr>
                    <th>优惠券GUID</th>
                    <th>用户类型</th>
                    <th>有效天数</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>使用条件</th>
                    <th>优惠券说明</th>
                    <th>发行量</th>
                    <th>限领数量</th>
                    <th>管理</th>
                </tr>
                @if (Model.CouponRulesConfig != null && Model.CouponRulesConfig.Any())
                {
                    foreach (var item in Model.CouponRulesConfig)
                    {
                        <tr>
                            <td><span class="groupCouponRules">@item.RulesGUID</span></td>
                            <td>@(item.UserType == 0 ? "全部" : (item.UserType == 1 ? "新用户" : "老用户"))</td>
                            <td>@item.ValidDays</td>
                            <td>@item.ValidStartDateTime</td>
                            <td>@item.ValidEndDateTime</td>
                            <td>@item.MinMoney</td>
                            <td>@item.Description</td>
                            <td>@item.Quantity</td>
                            <td>@item.SingleQuantity</td>
                            <td><a href="javascript:void(0)" class='coupon-delete' onclick="DeleteRow(this)">删除</a></td>
                        </tr>
                    }
                }
            </table>
            <input type="button" value="添加优惠券" class="noRandom" style="display:@(Model.IsRandom ? "none" : "")" onclick="AddCouponRulesConfig()" />
        </fieldset>
        <fieldset class="noOrderShare">
            <legend>初始化页面</legend>
            <div style="margin-top:10px">
                <table style="width:90%">
                    <tr>
                        <th>头图：</th>
                        <td>
                            <input id="_headImg" name="ColumnImage" type="text" style="width:300px;height:30px" disabled="disabled" value="@(!string.IsNullOrEmpty(Model.HeadImgUrl)? Model.HeadImgUrl:"")" />
                            <input style="width:160px;" type="file" name="headImg" id="head" onchange="uploadPic('head', HandlerPicResult);" />
                            @if (!string.IsNullOrEmpty(Model.HeadImgUrl))
                            {
                                <img src="@Model.HeadImgUrl" id="headImg" width="75" height="75" />
                            }
                            else
                            {
                                <img src="" id="headImg" width="75" height="75" style="display:none" />
                            }
                            <input type="button" class="clear_img" data-key="head" value="清空" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <th>底图：</th>
                        <td>
                            <input id="_bottomImg" name="ColumnImage" style="width:300px;height:30px" type="text" disabled="disabled" value="@(!string.IsNullOrEmpty(Model.BottomImgUrl)? Model.BottomImgUrl:"")" />
                            <input style="width:160px;" type="file" name="bottomImg" id="bottom" onchange="uploadPic('bottom', HandlerPicResult);" />
                            @if (!string.IsNullOrEmpty(Model.BottomImgUrl))
                            {
                                <img src="@Model.BottomImgUrl" id="bottomImg" width="75" height="75" />
                            }
                            else
                            {
                                <img src="" id="bottomImg" width="75" height="75" style="display:none" />
                            }
                            <input type="button" class="clear_img" data-key="bottom" value="清空" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <th>失败按钮文字：</th>
                        <td><input class="activity-defaultFailText" style="width:300px;height:30px" value="@Model.DefaultFailText" /></td>
                        <th>失败按钮跳转：</th>
                        <td><input class="activity-defaultFailUrl" style="width:300px;height:30px" value="@Model.DefaultFailUrl" /></td>
                    </tr>
                </table>
            </div>
            <legend>推荐活动</legend>
            <div>
                <table style="width:90%;margin-top:10px" class="activity-init">
                    <tr>
                        <th>图片</th>
                        <th>图片Url</th>
                        <th>活动链接</th>
                    </tr>
                    @if (Model.RecommendActivityForInit != null && Model.RecommendActivityForInit.Any())
                    {
                        foreach (var item in Model.RecommendActivityForInit)
                        {
                            <tr>
                                <td><img src='@item.ImgUrl' width='75' height='75' /></td>
                                <td><input id='_groupImg' style="width:100%;height:30px" name='group-Img' disabled="disabled" data-type="InitActivity" value='@item.ImgUrl' /></td>
                                <td><input name='group-Url' style="width:90%;height:30px" value='@item.ActivityUrl' /><a href="javascript:void(0)" class='coupon-delete' onclick="DeleteRow(this)">删除</a></td>
                            </tr>
                        }
                    }
                </table>
                <input type="button" value="添加活动" onclick="AddRecommendActivity('InitActivity')" />
            </div>
        </fieldset>

        <fieldset class="onlyOrderShare">
            <legend>页面配置</legend>
            <div style="margin-top:10px">
                <table style="width:90%" colspan="4">
                    <tr>
                        <th style="width:10%">头图：</th>
                        <td style="width: 90%;" colspan="3">
                            <input id="_orderheadImg" name="ColumnImage" type="text" style="width:300px;height:30px" disabled="disabled" value="@(!string.IsNullOrEmpty(Model.HeadImgUrl)? Model.HeadImgUrl:"")" />
                            <input style="width:160px;" type="file" name="headImg" id="orderhead" onchange="uploadPic('orderhead', HandlerPicResult);" />
                            @if (!string.IsNullOrEmpty(Model.HeadImgUrl))
                            {
                                <img src="@Model.HeadImgUrl" id="orderheadImg" width="75" height="75" />
                            }
                            else
                            {
                                <img src="" id="orderheadImg" width="75" height="75" style="display:none" />
                            }
                            <input type="button" class="clear_img" data-key="orderhead" value="清空" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>  
                    </tr>
                    <tr colspan="4">
                        <th style="width: 10%;">头图跳转链接：</th>
                        <td>
                            <input class="activity-buttonUrl" style="width: 300px;height:30px" value="@Model.ButtonUrl" />
                            领取按钮文字：
                            <input class="activity-buttonText" style="width:300px;height:30px" value="@Model.ButtonText" />
                        </td> 
                    </tr>
                    <tr>
                        <th style="width:10%">底图：</th>
                        <td style="width:80%">
                            <input id="_orderbottomImg" name="ColumnImage" style="width:300px;height:30px" type="text" disabled="disabled" value="@(!string.IsNullOrEmpty(Model.BottomImgUrl)? Model.BottomImgUrl:"")" />
                            <input style="width:160px;" type="file" name="bottomImg" id="orderbottom" onchange="uploadPic('orderbottom', HandlerPicResult);" />
                            @if (!string.IsNullOrEmpty(Model.BottomImgUrl))
                            {
                                <img src="@Model.BottomImgUrl" id="orderbottomImg" width="75" height="75" />
                            }
                            else
                            {
                                <img src="" id="orderbottomImg" width="75" height="75" style="display:none" />
                            }
                            <input type="button" class="clear_img" data-key="orderbottom" value="清空" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                </table>
            </div> 
        </fieldset>

        <fieldset class="noOrderShare">
            <legend>领取结果页面</legend>
            <div style="margin-top:10px">
                @if (Model.IsDefaultPage)
                {
                    <label class="checkbox-inline"> <input type="radio" value="false" id="defaultPage" class="SuccessPageType" name="SuccessPageType" checked="checked">默认页面</label>
                    <label class="checkbox-inline"><input type="radio" value="true" id="definedPage" class="SuccessPageType" name="SuccessPageType"> 自定义页面 </label>
                }
                else
                {
                    <label class="checkbox-inline"> <input type="radio" value="false" id="defaultPage" class="SuccessPageType" name="SuccessPageType">默认页面 </label>
                    <label class="checkbox-inline"><input type="radio" value="true" id="definedPage" class="SuccessPageType" name="SuccessPageType" checked="checked"> 自定义页面 </label>
                }
                <table style="margin-top:10px;width:90%;@(Model.IsDefaultPage?"":"display:none")" class="activity-defaultPage">
                    <tr>
                        <th>好友手气：</th>
                        <td colspan="3">
                            @if (Model.IsShowLuckFriends)
                            {
                                <label class="checkbox-inline"> <input type="radio" value="false" id="openLuckFriends" name="LuckFriends" checked="checked">开启</label>
                                <label class="checkbox-inline"><input type="radio" value="true" id="closeLuckFriends" name="LuckFriends"> 关闭 </label>
                            }
                            else
                            {
                                <label class="checkbox-inline"> <input type="radio" value="false" id="openLuckFriends" name="LuckFriends">开启 </label>
                                <label class="checkbox-inline"><input type="radio" value="true" id="closeLuckFriends" name="LuckFriends" checked="checked"> 关闭 </label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>头图：</th>
                        <td>
                            <input id="_successHeadImg" name="ColumnImage" style="width:300px;height:30px" type="text" disabled="disabled" value="@(!string.IsNullOrEmpty(Model.SuccessHeadImgUrl)? Model.SuccessHeadImgUrl : "")" />
                            <input style="width:160px;" type="file" name="successHeadImg" id="successHead" onchange="uploadPic('successHead', HandlerPicResult);" />
                            @if (!string.IsNullOrEmpty(Model.SuccessHeadImgUrl))
                            {
                                <img src="@Model.SuccessHeadImgUrl" id="successHeadImg" width="75" height="75" />
                            }
                            else
                            {
                                <img src="" id="successHeadImg" width="75" height="75" style="display:none" />
                            }
                            <input type="button" class="clear_img" data-key="successHead" value="清空" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <th>底图：</th>
                        <td>
                            <input id="_bottomHeadImg" style="width:300px;height:30px" name="ColumnImage" type="text" disabled="disabled" value="@(!string.IsNullOrEmpty(Model.SuccessBottomImgUrl)? Model.SuccessBottomImgUrl : "")" />
                            <input style="width:160px;" type="file" name="bottomHeadImg" id="bottomHead" onchange="uploadPic('bottomHead', HandlerPicResult);" />
                            @if (!string.IsNullOrEmpty(Model.SuccessBottomImgUrl))
                            {
                                <img src="@Model.SuccessBottomImgUrl" id="bottomHeadImg" width="75" height="75" />
                            }
                            else
                            {
                                <img src="" id="bottomHeadImg" width="75" height="75" style="display:none" />
                            }
                            <input type="button" class="clear_img" data-key="bottomHead" value="清空" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <th>成功按钮文字：</th>
                        <td><input class="activity-buttonText" style="width:300px;height:30px" value="@Model.ButtonText" /></td>
                        <th>成功过按钮跳转：</th>
                        <td><input class="activity-buttonUrl" style="width:300px;height:30px" value="@Model.ButtonUrl" /></td>
                    </tr>
                </table>
                <table style="margin-top:10px;width:90%;@(Model.IsDefaultPage?"display:none":"")" class="activity-definedPage">
                    <tr>
                        <th>领取成功：</th>
                        <td>
                            <input class="activity-successButtonUrl" style="width:300px;height:30px" value="@Model.SuccessButtonUrl" />
                        </td>
                        <th>领取失败：</th>
                        <td>
                            <input class="activity-failButtonUrl" style="width:300px;height:30px" value="@Model.FailButtonUrl" />
                        </td>
                    </tr>
                </table>
            </div>
            <legend style="margin-top:10px">推荐活动</legend>
            <div>
                <table style="width:90%;margin-top:10px" class="activity-success">
                    <tr>
                        <th>图片</th>
                        <th>图片Url</th>
                        <th>活动链接</th>
                    </tr>
                    @if (Model.RecommendActivityForInit != null && Model.RecommendActivityForSuccess.Any())
                    {
                        foreach (var item in Model.RecommendActivityForSuccess)
                        {
                            <tr>
                                <td><img src='@item.ImgUrl' width='75' height='75' /></td>
                                <td><input id='_groupImg' name='group-Img' style="width:100%;height:30px" disabled="disabled" data-type="SuccessActivity" value='@item.ImgUrl' /></td>
                                <td><input name='group-Url' value='@item.ActivityUrl' style="width:90%;height:30px" /><a href="javascript:void(0)" class='coupon-delete' onclick="DeleteRow(this)">删除</a></td>
                            </tr>
                        }
                    }
                </table>
                <input type="button" value="添加活动" onclick="AddRecommendActivity('SuccessActivity')" />
            </div>
        </fieldset>
        <fieldset class="">
            <legend style="margin-top:30px">验证方式</legend>
            <div style="margin-top:10px">
                <table style="width:80%;text-align:center;">
                    <tr>
                        <td rowspan="2"><input value="0" style="width:60px;height:30px" disabled="disabled" /></td>
                        <td style="border-bottom-color:red;font-weight:bolder">无需验证</td>
                        <td rowspan="2">
                            <input class="activity-verifyCode verifyNum" style="width:60px;height:30px" value="@(Model.VerifyCodeNum>=0?Model.VerifyCodeNum:200)" />次
                        </td>
                        <td style="border-bottom-color:red;font-weight:bolder">短信验证</td>
                        <td rowspan="2">
                            <input class="activity-verifyImgCode verifyNum" style="width:60px;height:30px" value="@(Model.VerifyImgNum>0?Model.VerifyImgNum:500)" />次
                        </td>
                        <td style="border-bottom-color:red;font-weight:bolder">短信&图形验证</td>
                        <td rowspan="2">
                            <input class="activity-autoEndNum verifyNum" onchange="CopyAutoEndNum(this)" style="width:60px;height:30px" value="@(Model.AutoEndNum>0?Model.AutoEndNum:1000)" />次
                        </td>
                        <td style="border-bottom-color:red;font-weight:bolder">自动结束</td>
                        <td rowspan="2">
                            <input style="width:60px;height:30px" disabled="disabled" class="autoEndNum" value="@(Model.AutoEndNum>0?Model.AutoEndNum:1000)" />
                        </td>
                    </tr>
                    <tr>
                        <td style="height:50%"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-weight:bolder">验证码错误次数：</td>
                        <td>
                            <input class="activity-verifyErrorNum verifyNum" style="width:60px;height:30px" value="@(Model.VerifyCodeErrorNum>0?Model.VerifyCodeErrorNum:5)" />次
                        </td>
                        <td colspan="2" style="font-weight:bolder">手机号锁定时限：</td>
                        <td>
                            <input class="activity-mobileLock verifyNum" style="width:60px;height:30px" value="@(Model.MobileLockTime>0?Model.MobileLockTime:24)" />小时
                        </td>
                        <td colspan="3"></td>
                    </tr>
                </table>
            </div>
            <legend>提示语</legend>
            <table style="width: 70%">
                <tr>
                    <th style="width:10%;text-align:right">优惠券领完：</th>
                    <td><input class="activity-noCouponMsg" style="width:90%" value="@(!string.IsNullOrEmpty(Model.NoCouponMsg)?Model.NoCouponMsg:"优惠券已抢光，敬请期待后续活动")" /></td>
                </tr>
                <tr class="orderShare1">
                    <th style="width:10%;text-align:right">次数用光：</th>
                    <td><input class="activity-noCouponMsg" style="width:90%"  id="finishCount" value="@(!string.IsNullOrEmpty(Model.FinishCount)?Model.FinishCount:"")" /></td>
                </tr>
                <tr>
                    <th style="width: 10%; text-align: right">领取成功：</th>
                    <td><input class="activity-successMsg" style="width: 90%" value="@(!string.IsNullOrEmpty(Model.SuccessMsg) ? Model.SuccessMsg : "赶快下载APP，享受更多新人福利")" /></td>
                </tr>
                <tr>
                    <th style="width: 10%; text-align: right">活动未开始：</th>
                    <td><input class="activity-noStartMsg" style="width: 90%" value="@(!string.IsNullOrEmpty(Model.NoStartMsg) ? Model.NoStartMsg : "活动即将开始，敬请期待")" /></td>
                </tr>
                <tr>
                    <th style="width: 10%; text-align: right">活动已结束：</th>
                    <td><input class="activity-overedMsg" style="width: 90%" value="@(!string.IsNullOrEmpty(Model.OverdueMsg) ? Model.OverdueMsg : "感谢关注，活动已经结束啦")" /></td>
                </tr>

                <tr>
                    <th style="width: 10%; text-align: right">页面强制关闭：</th>
                    <td><input class="activity-pageClosedMsg" style="width: 90%" value="@(!string.IsNullOrEmpty(Model.PageClosedMsg) ? Model.PageClosedMsg : "感谢关注，活动已经结束啦")" /></td>
                </tr>
                <tr>
                    <th style="width: 10%; text-align: right">重复领取：</th>
                    <td><input class="activity-existedMsg" style="width: 90%" value="@(!string.IsNullOrEmpty(Model.DuplicateAttemptMsg) ? Model.DuplicateAttemptMsg : "这个优惠券您已经领取过啦")" /></td>
                </tr>
                <tr>
                    <th style="width: 10%; text-align: right">服务器异常：</th>
                    <td><input class="activity-serviceExceptionsMsg" style="width: 90%" value="@(!string.IsNullOrEmpty(Model.ServiceExceptionsMsg) ? Model.ServiceExceptionsMsg : "服务器正在紧急抢修中")" /></td>
                </tr>
                <tr>
                    <th style="width: 10%; text-align: right">小黑屋提示：</th>
                    <td><input placeholder="" class="activity-blackHouseMsg" style="width: 90%" value="@(!string.IsNullOrEmpty(Model.BlackHouseMsg) ? Model.BlackHouseMsg : "该号码已被锁定，请稍后重试")" /></td>
                </tr>
            </table>
        </fieldset>
        <div style="margin-bottom:10px;margin-left:50%">
            <input type="button" value="保存" class="activity-save" />
            <input type="button" value="返回" class="activity-back" />
        </div>
    }
</div>
<input type="hidden" value="@ViewBag.ActivityId" class="activity-activityId" />
<script type="text/javascript" src="~/Content/My97DatePicker/WdatePicker.js"></script>
<script src="/Scripts/ajaxfileupload.js"></script>
<script src="/Scripts/artDialog6.0.4/dist/dialog-min.js"></script>
<script src="/Scripts/artDialog6.0.4/dist/dialog-plus-min.js"></script>
<script type="text/javascript">

    function checkPageTypeAndIsRandom() {
        if ($("#orderShare").prop("checked")) {
            $("#IsRandom").prop("checked", true);
            $("#NoRandom").prop("checked", false).prop("disabled", true);

            $(".orderShare0").hide();
            $(".orderShare1").show();

            $(".noRandom").hide();

            $(".onlyOrderShare").show();
            $(".noOrderShare").hide();
            $("#numFlag").show();

        } else {

            $("#NoRandom").prop("disabled", false);
            $("#IsRandom").prop("disabled", false);

            $(".orderShare1").hide();
           
            if ($("#IsRandom").prop("checked")) { 
                $(".orderShare0").show(); 
                $(".noRandom").hide();
                $("#numFlag").show();
            } else {
                $(".orderShare0").hide(); 
                $(".noRandom").show();
            }

            $(".noOrderShare").show();
            $(".onlyOrderShare").hide();
        }
    }

    $(function () { 
        $(".page-type").on("click", function () {
            var key = $(this).attr("data-key");
            $(".activity-start").val("");
            $(".activity-end").val("");
            $(".activity-validDays").val("0");
            if (key === "1") {
                //外部投放
                $(".activity-validDays").val("0");
                $(".activity-dailyEngagementCount").val("0");
                $(".start-end").show();
                $(".shareDay").hide();
            } else {
                //订单分享
                $(".start-end").hide();
                $(".shareDay").show();  
            } 
        });
      
        $(".isRandom").on("click", function () { 
            if ($("#IsRandom").prop("checked")) {
                //随机领取
                $(".share-page").show();
                $(".noRandom").hide();
                $(".couponRules tbody tr").not(":first").empty(); 
            } else {
                $(".share-page").hide();
                $(".noRandom").show();
                $(".random-couponRulesId").val("");
                $(".activity-dailyEngagementCount").val("0");
                $(".activity-participantsCount").val("0");
            } 
        });

        $(".page-type,.isRandom").on("click", function () {
            checkPageTypeAndIsRandom();
        });

        checkPageTypeAndIsRandom();
    });

  

    $(".activity-back").on("click", function () {
        location.href = "/NewCoupon/NewCouponConfig";
    });

    $(".verifyNum").change(function () {
        var num = $(this).val();
        if (isNaN(num)) {
            $(this).val("0");
        }
    });

    function CopyAutoEndNum(o) {
        $('.autoEndNum').val($(o).val());
    }

    function uploadPic(_fileElementId, _callback) {
        var fileLength = $("#" + _fileElementId).val();
        if (fileLength && fileLength.length <= 0) {
            return;
        }

        $.ajaxFileUpload({
            url: '/ArticleManage/ImageUploadToAli',
            secureuri: false,
            fileElementId: _fileElementId || '',
            dataType: 'json',
            async: false,
            success: function (result) {
                _callback(result, _fileElementId);
            }
        });
    }

    function uploadImg(type) {
        $.ajaxFileUpload({
            url: '/ArticleManage/ImageUploadToAli',
            secureuri: false,
            fileElementId: 'groupImgs',
            dataType: 'json',
            async: false,
            success: function (result) {
                $("#_groupImg").val(result.BImage);
                $("#groupImg").attr("src", result.BImage);
                $("#groupImg").show();
            }
        });
    }

    function HandlerPicResult(result, elementId) { 
        $("#" + elementId + "Img").attr("src", result.BImage);
        $("#" + elementId + "Img").show();
        $("#_" + elementId + "Img").val(result.BImage); 
    }

    $(".clear_img").on("click", function () {
        var elementId = $(this).attr("data-key");

        $("#" + elementId + "Img").attr("src", "");
        $("#" + elementId + "Img").hide();
        $("#_" + elementId + "Img").val(""); 
    });

    $(".IsOpenVerify").change(function () {
        if ($("#openVerify").prop("checked")) {
            $(".table-verify").show();
        } else {
            $(".activity-verifyCode").val("0");
            $(".activity-verifyImgCode").val("0");
            $(".activity-autoEndNum").val("0");
            $(".activity-verifyErrorNum").val("0");
            $(".activity-mobileLock").val("0");
            $(".table-verify").hide();
        }
    });

    $(".SuccessPageType").change(function () {
        if ($("#defaultPage").prop("checked")) {
            $(".activity-defaultPage").show();
            $(".activity-definedPage").hide();
        } else {
            $(".activity-defaultPage").hide();
            $(".activity-definedPage").show();
            $("#closeLuckFriends").prop("checked", true);
        }
    });

    $(".orderShare0 .couponRules-random,#randomGroupId").change(function () {
        var obj = $(this);
        var randomGroupId = $(this).val(); //$(".random-couponRulesId","orderShare0").val();
        if (randomGroupId != "") {
            $.post("IsExistRandomId", { randomGroupId: randomGroupId }, function (result) {
                if (!result) {
                    $(obj).val("");//$(".random-couponRulesId").val("");
                    alert("输入的随机优惠券组ID不存在");
                }
            });
        }
    });

    $(".orderShare1 #randomBigGroupId , .orderShare1  #randomGroupId1").change(function () {
        var obj = $(this);
        var val = $(this).val();
        if (val && val != "") {
            $.post("IsExistRandomId", { randomGroupId: val }, function (result) { 
                    if (!result) { 
                        $(obj).val("");
                        alert("请输入随机优惠券的礼包Hash值");
                    }
                });
        } else {
            alert("请输入随机优惠券的礼包Hash值");
        }

    });



    function AddRecommendActivity(type) {
        var html = "<table style='width:100%;line-height:40px'><tr><th>图片：</th><td><input id='_groupImg'name='ColumnImage'type='hidden'value=''/><input style='width:160px;'type='file' name='groupImg' id='groupImgs' onchange='uploadImg();'/><img src=''style='display:none'id='groupImg'width='75'height='75'/></td></tr><tr><th>活动链接：</th><td><input class='activity-url'value=''/></td></tr></table>";
        var d = dialog({
            title: "添加图片",
            width: 500,
            height: 170,
            fixed: true,
            button: [
                {
                    value: "添加",
                    callback: function () {
                        var uploadImg = $("#_groupImg").val();
                        var actiityUrl = $(".activity-url").val();
                        if (uploadImg == "" || actiityUrl == "") {
                            alert("请完善信息");
                            return false;
                        }
                        var appendHtml = "<tr><td><img src='" + uploadImg + "'id=''width='75'height='75'/></td><td><input style='width: 100%; height: 30px' disabled='disabled' data-type='" + type + "' id=''name='group-Img'value='" + uploadImg + "'/></td><td><input name='group-Url' style='width: 90%; height: 30px' class=''value='" + actiityUrl + "'/><a href='javascript: void(0)'  class='coupon-delete' onclick=DeleteRow(this)>删除</a></td></tr>";
                        if (type == "InitActivity") {
                            $(".activity-init").append(appendHtml);
                        } else {
                            $(".activity-success").append(appendHtml);
                        } 
                    }
                },
                {
                    value: "取消"
                }
            ]
        });
        d.content(html);
        d.showModal();
    }

    function AddCouponRulesConfig() {
        var html = "<table class='couponRules' style='width:90%;margin-top:10px'><tr> <th style='width:20%'>优惠券GUID：</th><td><input style='width:100%' placeholder='请输入优惠券ID' class='coupon-rulesId' value=''/></td></tr >  <tr> <th>用户类型：</th><td><input style='width:100%'  disabled=disabled class='coupon-userType' value='' /></td></tr><tr> <th>有效天数：</th><td><input style='width:100%'  disabled=disabled class='coupon-validDays' value='' /></td></tr> <tr> <th>开始时间：</th> <td><input disabled=disabled style='width:100%'  class='coupon-start' value='' /></td></tr> <tr> <th>结束时间：</th> <td><input style='width:100%'  disabled=disabled class='coupon-end' value='' /></td> </tr> <tr> <th>使用条件：</th><td><input class='coupon-conditions' disabled=disabled value='' style='width:100%' /></td> </tr> <tr> <th>优惠券说明：</th> <td><input style='width:100%'  disabled=disabled class='coupon-des' value='' /></td> </tr> <tr> <th>发行量：</th><td><input disabled=disabled style='width:100%'  class='coupon-quantity' value='' /></td></tr> <tr><th>限领数量：</th><td><input disabled=disabled style='width:100%'  class='coupon-singleQuantity' value='' /></td> </tr> <tr></tr></table >";
        var d = dialog({
            title: "添加优惠券",
            width: 700,
            height: 300,
            fixed: true,
            button: [
                {
                    value: "添加",
                    callback: function () {
                        var couponRulesId = $(".coupon-rulesId").val();
                        var couponUserType = $(".coupon-userType").val();
                        var couponValidDays = $(".coupon-validDays").val();
                        var couponStart = $(".coupon-start").val();
                        var couponEnd = $(".coupon-end").val();
                        var couponConditions = $(".coupon-conditions").val();
                        var couponDes = $(".coupon-des").val();
                        var couponQuantity = $(".coupon-quantity").val();
                        var couponSingleQuantity = $(".coupon-singleQuantity").val();
                        //if (couponSingleQuantity == 1) {
                        var formatHtml = "<tr><td><span class='groupCouponRules'>" + couponRulesId + "</span></td><td>" + couponUserType+"</td><td>" + couponValidDays + "</td><td>" + formatTime(couponStart) + "</td><td>" + formatTime( couponEnd) + "</td><td>" + couponConditions + "</td><td>" + couponDes + "</td><td>" + couponQuantity + "</td><td>" + couponSingleQuantity + "</td><td><a href='javascript: void(0)' class='coupon-delete' onclick=DeleteRow(this)>删除</a></td></tr>";
                            $(".couponRules").append(formatHtml);
                        //} else {
                        //    alert("优惠券无效或优惠券的限领数量不为1");
                        //    return false;
                        //}
                    }
                },
                {
                    value: "取消"
                }
            ]
        });
        d.content(html);
        d.showModal();
        $(".coupon-rulesId").change(function () {
            var rulesId = $(".coupon-rulesId").val();
            if (rulesId != "") {
                $.get("GetCouponRulesInfo", { rulesId: rulesId }, function (result) {
                    if (result != null) {
                        $(".coupon-rulesId").val(result.RulesGUID);
                        $(".coupon-userType").val(result.UserType == 0 ? "全部" : (result.UserType == 1 ? "新用户" : "老用户"));
                        $(".coupon-validDays").val(result.ValidDays);
                        $(".coupon-start").val(result.ValidStartDateTime);
                        $(".coupon-end").val(result.ValidEndDateTime);
                        $(".coupon-conditions").val(result.MinMoney);
                        $(".coupon-des").val(result.Description);
                        $(".coupon-quantity").val(result.Quantity);
                        $(".coupon-singleQuantity").val(result.SingleQuantity);
                    }
                });
            }
        });
    }

    function DeleteRow(o) {
        $(o).parent().parent().remove();
    }

    function formatTime(val) {
        if (val != null && val!="") {
            return eval('new ' + eval(val).source).Format('yyyy-MM-dd hh:mm:ss');
        } else {
            return "";
        }
    }

    $(".activity-save").on("click", function () {
        var dailyQuantity = $(".activity-dailyEngagementCount").val();
        var pageQuantity = $(".activity-participantsCount").val();
         
        var data = {};
        data.ActivityId = $(".activity-activityId").val();
        data.IsEnabled = $("#radioDisShow").prop("checked");
        data.Owner = $(".activity-owner").val();
        data.PageType = $("#outside").prop("checked") ? 1 : 0;
        data.IsRandom = $("#IsRandom").prop("checked");
        data.ActivityName = $(".activity-activityName").val();
        data.Channel = $(".activity-channel").val();
        data.StartTime = $(".activity-start").val();
        data.EndTime = $(".activity-end").val();
        data.ValidDays = $(".activity-validDays").val();
        data.QuantityPerUser = "0";
        data.DailyQuantityPerUser = dailyQuantity == "" ? "-1" : dailyQuantity;
        data.PageQuantity = pageQuantity == "" ? "-1" : pageQuantity;
        data.IsNewUser = $("#isNewUser").prop("checked");

        data.ActivityDesc = $("#ActivityDesc").val();

        var shareOrderFlag = data.PageType === 0;//$("#orderShare").prop("checked");
        if (shareOrderFlag) {
            data.HeadImgUrl = $("#_orderheadImg").val(); //$("#_headImg", ".onlyOrderShare").val();
            data.BottomImgUrl = $("#_orderbottomImg").val(); //$("#_bottomImg", "onlyOrderShare").val();

            data.ButtonText = $(".activity-buttonText",".onlyOrderShare").val() || "";
            data.ButtonUrl = $(".activity-buttonUrl",".onlyOrderShare").val()|| "";

            data.RandomGroupId = $("#randomGroupId1").val();
        } else {
            data.HeadImgUrl = $("#_headImg").val(); //$("#_headImg", ".noOrderShare").val();
            data.BottomImgUrl = $("#_bottomImg").val(); //$("#_bottomImg", "noOrderShare").val();

            data.ButtonText = data.IsDefaultPage ? $(".activity-buttonText").val() : "";
            data.ButtonUrl = data.IsDefaultPage ? $(".activity-buttonUrl").val() : "";
            data.RandomGroupId = $("#randomGroupId").val();
        }
         
        data.Description = encodeURIComponent($(".activity-rules").val());
        data.VerifyCodeNum = $(".activity-verifyCode").val();
        data.VerifyImgNum = $(".activity-verifyImgCode").val();
        data.AutoEndNum = $(".activity-autoEndNum").val();
        data.VerifyCodeErrorNum = $(".activity-verifyErrorNum").val();
        data.MobileLockTime = $(".activity-mobileLock").val();
        data.IsDefaultPage = $("#defaultPage").prop("checked");
        data.IsShowLuckFriends = $("#openLuckFriends").prop("checked");
        data.SuccessHeadImgUrl = data.IsDefaultPage ? $("#_successHeadImg").val() : "";
        data.SuccessBottomImgUrl = data.IsDefaultPage ? $("#_bottomHeadImg").val() : "";
      
        data.DefaultFailText = data.IsDefaultPage ? $(".activity-defaultFailText").val() : "";
        data.DefaultFailUrl = data.IsDefaultPage ? $(".activity-defaultFailUrl").val() : "";
        data.SuccessButtonUrl = data.IsDefaultPage ? "" : $(".activity-successButtonUrl").val();
        data.FailButtonUrl = data.IsDefaultPage ? "" : $(".activity-failButtonUrl").val();
        data.SuccessMsg = $(".activity-successMsg").val();
        data.NoStartMsg = $(".activity-noStartMsg").val();
        data.OverdueMsg = $(".activity-overedMsg").val();
        data.NoCouponMsg = $(".activity-noCouponMsg").val();
        data.PageClosedMsg = $(".activity-pageClosedMsg").val();
        data.DuplicateAttemptMsg = $(".activity-existedMsg").val();
        data.ServiceExceptionsMsg = $(".activity-serviceExceptionsMsg").val();
        data.BlackHouseMsg = $(".activity-blackHouseMsg").val();
      
        data.AppShareId = $(".activity-appShareId").val();
        data.CouponRulesConfig = [];
        data.AllRecommendActivity = [];

        data.RandomBigGroupId = $("#randomBigGroupId").val() || '';

        data.FinishCount = $("#finishCount").val(); 

        data.RandomMinPos = parseInt($("#randomMinPos").val()) || 0;
        data.RandomMaxPos = parseInt($("#randomMaxPos").val()) || 0;
         
        if (data.Owner == "") {
            alert("请输入负责人");
            return false;
        }

        if (data.PageType ===1) {
            if (data.StartTime == "" || data.EndTime == "") {
                alert("请选择日期区间");
                return false;
            }
        } else {
            if (data.ValidDays == "" || data.ValidDays <= 0) {
                alert("天数不能为空或小于等于0");
                return false;
            }
        }

        var validRules = false;
        var validUserType = false;
        $(".groupCouponRules").each(function (index) {
            //var num = $(this).parent().parent().find("td").eq(5).html();
            //var userType = $(this).parent().parent().find("td").eq(1).html();
            //if (parseInt(num, 10) !== parseFloat(num)) {
            //    validRules = true;
            //}
            //if (userType != "全部") {
            //    validUserType = true;
            //}
            data.CouponRulesConfig.push({ RulesGUID: $(this).html() });
        }); 

        if (!shareOrderFlag&&!data.IsRandom && data.CouponRulesConfig.length<=0) {
            alert("请配置普通优惠券");
            return false;
        }

        //if (parseInt(data.QuantityPerUser) >= data.CouponRulesConfig.length) {
        //    alert("优惠券规则要大于个人限领数量");
        //    return false;
        //}

        if (!shareOrderFlag && validRules &&!data.IsRandom) {
            alert("配置的优惠券含有小数值时，好友手气将会关闭");
            data.IsShowLuckFriends = false;
        }

        if (validUserType && !data.IsRandom) {
            alert("券的用户类型必须为全部");
            return false;
        }
         
        $("input[name='group-Img']").each(function (o, s) {
            var type = $(this).attr("data-type");
            var $item = $(this).parent().parent();
            var imgUrl = $item.find("td").eq(1).find("input").val();
            var activityUrl = $item.find("td").eq(2).find("input").val();
            data.AllRecommendActivity.push({ ActivityType: type, ImgUrl: imgUrl, ActivityUrl: activityUrl })
        });

        if (data.ActivityName == "" || data.Channel == "") {
            alert("活动名称和渠道不能为空");
            return false;
        }
          
        if (data.IsRandom) { 
            if (parseInt(data.DailyQuantityPerUser) < 1) {
                alert("每人每日参与次数必须大于0");
                return false;
            }

            if (parseInt(data.PageQuantity) <= 0 && parseInt(data.PageQuantity) != -1) {
                alert("页面参与人数必须大于0");
                return false;
            }

            if (shareOrderFlag && data.RandomGroupId == "") {
                alert("随机优惠普通奖池的hashid不能为空");
                return false;
            } else if (data.RandomGroupId == ""){
                alert("随机优惠券的组ID不能为空");
                return false;
            } 
        }

        if (parseInt(data.VerifyCodeNum) < 0 || parseInt(data.VerifyImgNum) <= 0 || parseInt(data.AutoEndNum) <= 0 || parseInt(data.VerifyCodeErrorNum) <= 0 || parseInt(data.MobileLockTime) <= 0) {
            alert("验证方式的所有数据必须大于0");
            return false;
        }

        if (data.SuccessMsg == "" || data.NoStartMsg == "" || data.OverdueMsg == ""
            || data.NoCouponMsg == "" || data.PageClosedMsg == "" || data.DuplicateAttemptMsg == ""
            || data.ServiceExceptionsMsg == "" || data.BlackHouseMsg == "") {
            alert("所有提示语不能为空");
            return false;
        }

        //orderShare
        if (shareOrderFlag) { 
            if (!data.RandomBigGroupId) {
                alert("请输入随机优惠券的大礼包hashid");
                return false;
            }
            if (!data.RandomGroupId) {
                alert("请输入随机优惠券的小礼包hashid");
                return false;
            }

            if (!(data.RandomMinPos > 0)) {
                alert("请输入大奖随机起始位置");
                return false;
            }
            else if (!(data.RandomMaxPos > 0)) {
                alert("请输入大奖随机结束位置");
                return false;
            } else if (data.RandomMinPos > data.RandomMaxPos) {
                alert("大奖随机结束位置必须大于起始位置");
                return false;
            }

            if (data.RandomMaxPos > data.PageQuantity) {
                alert("大奖随机结束位置不能超出页面参与人数");  
                return false;
            } 
        } 

        if (confirm("是否确认操作")) { 
            $.post("UpsertNewCouponConfig", { data: JSON.stringify(data) }, function (result) {
                if (result.data == true) {
                    alert("操作成功");
                    location.href = "/NewCoupon/NewCouponConfig";
                } else {
                    alert(result.msg);
                }
            });
        }
    });
</script>
