
@{
    ViewBag.Title = "车品旗舰店";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Tuhu.Service.Product.Models.ProductConfig.CarProductFlagshipStoreConfig>

@section head{
    <link href="~/Content/nfine/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <style>
        .title {
            float: left;
        }

        .content {
            clear: both;
        }

        .condition .name {
            font-size: 16px;
            font-weight: bold;
        }

        .condition > div {
            margin-bottom: 10px;
        }
    </style>
}
<div class="title">
    <h2>车品旗舰店配置</h2>
</div>
<div class="content">
    <div class="condition">
        <div>
            <button type="button" class="btn btn-primary btn-small" onclick="BtnAdd()">+ 新增配置</button>
        </div>
    </div>
</div>
<div class="contact" id="ForTableCarProductFlagshipStoreConfig" style="margin:10px 0 10px 0;">
    <table id="TbCarProductFlagshipStoreConfig" style="background: #ffffff; font-size: 12px; width: 100%; text-align: center" border="1" class="table">
        <thead>
            <tr>
                <th style="text-align: center">品牌</th>
                <th style="text-align: center">名称</th>
                <th style="text-align: center">品牌logo</th>
                <th style="text-align: center">背景图</th>
                <th style="text-align: center">是否启用</th>
                <th style="text-align: center">操作</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: center; vertical-align:middle">@item.Brand</td>
                        <td style="text-align: center; vertical-align:middle">@item.Name</td>
                        <td style="text-align: center; vertical-align:middle" width="100" height="100"><img src='@item.LogoUrl' width="50" height="50" /></td>
                        <td style="text-align: center; vertical-align:middle" width="160" height="100"><img src='@item.BackGroundUrl' width="120" height="50" /></td>
                        <td style="text-align: center; vertical-align:middle">@((item.IsEnabled == true) ? "是" : "否")</td>
                        <td style="text-align: center; vertical-align:middle">
                            <button class="btn btn-primary btn-small" data-brand="@item.Brand" onclick="BtnEdit(this)">编辑</button>
                            <button class="btn btn-primary btn-small" onclick="BtnDelete('@item.Brand')">删除</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div id="Edit"></div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/ajaxfileupload.js"></script>
    <script type="text/javascript">
        function BtnAdd() {
            $("#Edit").html("").load("/CarProductFlagshipStoreConfig/Edit?brand=");
            $('#Edit').dialog({
                title: "编辑车品旗舰店",
                width: 450,
                height: "auto",
                cache: false,
                model: true,
                shadow: true,
                buttons: {
                    "保存": function () {
                        SaveCarProductFlagshipStoreConfig(this, "add");
                    },
                    "取消": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }

        function BtnEdit(e) {
            $("#Edit").html("").load("/CarProductFlagshipStoreConfig/Edit?brand=" + encodeURIComponent($(e).attr("data-brand")));
            $('#Edit').dialog({
                title: "编辑车品旗舰店",
                width: 450,
                height: "auto",
                cache: false,
                model: true,
                shadow: true,
                buttons: {
                    "保存": function () {
                        SaveCarProductFlagshipStoreConfig(this, "edit");
                    },
                    "取消": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }

        function BtnDelete(brand) {
            if (brand == null || brand == "") {
                alert('请选择要删除的行！');
            }
            else {
                var con = confirm("您确定删除吗?");
                if (con == true) {
                    $.ajax({
                        url: '/CarProductFlagshipStoreConfig/Delete',
                        type: 'post',
                        data: { brand: brand }
                    }).done(function (result) {
                        if (result == 1) {
                            alert('删除成功！');
                            location.reload();
                        } else {
                            alert('删除失败,稍后重试！');
                        }
                    }).fail(function () {
                        alert('删除失败,稍后重试！');
                    });
                }
            }
        }

        function Upload(obj, showImg, hidImg) {

            var pobj = $(obj);
            var rd = Math.ceil(Math.random() * 9999) + 1;
            var fileElId = $(obj).attr("id");
            console.log(fileElId);
            $.ajaxFileUpload({
                url: '/Article/ImageUploadToAli?rd=' + rd,
                secureuri: false,
                fileElementId: fileElId,
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (result.BImage != "" && result.SImage != "") {
                        $("#" + showImg).attr("src", result.SImage).show();
                        $('#' + hidImg).val(result.BImage);
                    } else {
                        alert("上传失败！");
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            });
        }
    </script>
}

