
@{
    ViewBag.Title = "ContentEdit";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@model  Tuhu.Provisioning.DataAccess.Entity.WechatHomeContent


<form id="form1">
    <table class="form">
        <tr>
            <th class="formTitle">名 称：</th>
            <td class="formValue">
                <input type="text" class="form-control required" id="Title" value="@Model.Title" name="Title" />
            </td>

        </tr>
        <tr>
            <th class="formTitle">标 题：</th>
            <td class="formValue">
                <input type="text" class="form-control required" id="Headings" value="@Model.Headings" name="Headings" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">副标题：</th>
            <td class="formValue">
                <input type="text" class="form-control" id="Subtitle" value="@Model.Subtitle" name="Subtitle" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">图 片:</th>
            <td class="formValue">
                <div class="input-group">
                    <img id="imgUrl" @(string.IsNullOrWhiteSpace( Model.ImageUrl) == false ?"src="+Model.ImageUrl:"") width="50" height="50" />
                    <input type="file" id="fileImageUrl" name="fileImageUrl" onchange="UploadBgImg(this, 'imgUrl', 'ImageUrl')" />
                    <input type="hidden" id="ImageUrl" name="ImageUrl" value="@Model.ImageUrl" />
                </div>
            </td>
        </tr>
        <tr>
            <th class="formTitle">跳转类型</th>
            <td class="formValue">
                <select id="UriTypeText" name="UriTypeText" class="form-control">
                    <option value="小程序内" @(Model.UriTypeText == "小程序内" ? "selected=\"selected\"" : "")>小程序内</option>
                    <option value="其它小程序" @(Model.UriTypeText == "其它小程序" ? "selected=\"selected\"" : "")>其它小程序</option>
                    <option value="H5" @(Model.UriTypeText == "H5" ? "selected=\"selected\"" : "")>H5</option>
                    <option value="FastApp" @(Model.UriTypeText == "FastApp" ? "selected=\"selected\"" : "")>快应用</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class="formTitle">跳转链接:</th>
            <td class="formValue">
                <input type="text" id="Uri" name="Uri" class="form-control" value="@Model.Uri" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">appid:</th>
            <td class="formValue">
               <input type="text" id="AppID" name="AppID" class="form-control" value="@Model.AppID" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">排序:</th>
            <td class="formValue">
                <input type="number" id="OrderBy" name="OrderBy" class="form-control required" value="@Model.OrderBy" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">是否启用</th>
            <td class="formValue">
                <select id="IsEnabled" name="IsEnabled" class="form-control">
                    <option value="1" @(Model.IsEnabled == 1 ? "selected=\"selected\"" : "")>启 用</option>
                    <option value="0" @(Model.IsEnabled == 0 ? "selected=\"selected\"" : "")>禁 用</option>
                </select>
            </td>
        </tr>       
        <tr>
            <th class="formTitle">埋点参数:</th>
            <td class="formValue">
                <input type="text" id="BuriedPointParam" name="BuriedPointParam" class="form-control" value="@Model.BuriedPointParam" />
            </td>
        </tr>
    </table>
    <input type="hidden" id="ID" name="ID" value="@Model.ID" />
    <input type="hidden" id="FKID" name="FKID" value="@Model.FKID"/>
</form>
<script src="/Scripts/ajaxfileupload.js" type="text/javascript"></script>
<script type="text/javascript">
    ///showImg：上传时Image显示的标签ID
    //showUrl:真正显示的
    function UploadBgImg(obj, showImg, showUrl) {

        var pobj = $(obj);
        var fileSize = pobj[0].files[0].size / 1024 * 1.0;
        if (fileSize > 1024) {
            alert("不能上传大于1024KB的图片");
            return false;
        }
        var rd = Math.ceil(Math.random() * 9999) + 1;
        var fileElId = $(obj).attr("id");
        console.log(fileElId);
        $.ajaxFileUpload({
            url: '/Article/ImageUploadToAli?rd=' + rd,
            secureuri: false,
            fileElementId: fileElId,
            dataType: 'json',
            async: false,
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $("#" + showImg).attr("src", result.SImage).show();
                    $("#" + showUrl).val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });
    }

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
    
        $.submitForm({
            url: "/WechatHome/SaveContent",
            param: $("#form1").formSerialize(),
            success: function () {
                //  self.parent.$("#gridList").resetSelection();
                self.parent.$("#gridList").trigger("reloadGrid");
                self.parent.$('#loadingPage').hide();
                self.parent.window.frames[0].location.reload();
                
            }
        })
    }
</script>



