
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@model  Tuhu.Provisioning.DataAccess.Entity.WechatHomeList


<form id="form1">


    <table class="form">
        <tr>
            <th class="formTitle">模块类型：</th>
            <td class="formValue">
                <select id="TypeName" name="TypeName" class="form-control">
                 
                </select>
            </td>
        </tr>
        <tr>
            <th class="formTitle">模块名称：</th>
            <td class="formValue">
                <input type="text" class="form-control required" id="Title" value="@Model.Title" name="Title"/>
            </td>           
        </tr>
        <tr>
            <th class="formTitle">标 题：</th>
            <td class="formValue">
                <input type="text" class="form-control required" id="Headings" value="@Model.Headings" name="Headings" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">副标题：</th>
            <td class="formValue">
                <input type="text" class="form-control" id="Subtitle" value="@Model.Subtitle" name="Subtitle" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">图 片:</th>
            <td class="formValue">
                <div class="input-group">
                    <img id="imgUrl" @(string.IsNullOrWhiteSpace(Model.ImageUrl) == false ? "src=" + Model.ImageUrl : "") width="50" height="50" />
                    <input type="file" id="fileImageUrl" name="fileImageUrl" onchange="UploadBgImg(this, 'imgUrl', 'ImageUrl')" />
                    <input type="hidden" id="ImageUrl" name="ImageUrl" value="@Model.ImageUrl" />
                </div>
            </td>
        </tr>
        <tr>
            <th class="formTitle">跳转链接:</th>
            <td class="formValue">
                <input type="text" id="Uri" name="Uri" class="form-control" value="@Model.Uri" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">排 序：</th>
            <td class="formValue">
                <input type="number" id="OrderBy" name="OrderBy" class="form-control required" value="@Model.OrderBy" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">底部边距</th>
            <td class="formValue">
                <select id="IsShownButtom" name="IsShownButtom" class="form-control">
                    <option value="true" @(Model.IsShownButtom == true ? "selected=\"selected\"" : "")>显示</option>
                    <option value="false" @(Model.IsShownButtom == false ? "selected=\"selected\"" : "")>不显示</option>
                            
                </select>
            </td>
        </tr>
       
        <tr>
            <th class="formTitle">是否新人</th>
            <td class="formValue">
                <select id="IsNewUser" name="IsNewUser" class="form-control">
                    <option value="false" @(Model.IsNewUser == false ? "selected=\"selected\"" : "")>全部</option>
                    <option value="true" @(Model.IsNewUser == true ? "selected=\"selected\"" : "")>新人</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class="formTitle">是否启用</th>
            <td class="formValue">
                <select id="IsEnabled" name="IsEnabled" class="form-control">
                    <option value="1" @(Model.IsEnabled == 1 ? "selected=\"selected\"" : "")>启 用</option>
                    <option value="0" @(Model.IsEnabled == 0 ? "selected=\"selected\"" : "")>禁 用</option>
                </select>
                </td>
        </tr>
       
        @*<tr>
            <th class="formTitle">开始版本:</th>
            <td class="formValue">
                <input type="text" id="SVersion" name="SVersion" class="form-control required" value="@Model.SVersion" />
            </td>
           
        </tr>
        <tr>
            <th class="formTitle">结束版本:</th>
            <td class="formValue">
                <input type="text" id="EVersion" name="EVersion" class="form-control required" value="@Model.EVersion" />
            </td>
        </tr>*@
          
      
    </table>
    <input type="hidden" id="ID" name="ID" value="@Model.ID"/>
    <input type="hidden" id="hiddenTypeName" name="hiddenTypeName" value="@Model.TypeName" />
    <input type="hidden" id="HomePageConfigID" name="HomePageConfigID" value="@Model.HomePageConfigID" />
</form>

<script type="text/javascript">
    var Func = {
        LoadModuleType: function () {
            $.ajax({
                url: "/WechatHome/LoadModuleType",
                type: "POST",
                data: {},
                dataType: "json",
                async: false,
                success: function (data) {
                    var typevalue = "";
                    if ($("#hiddenTypeName").val()) {
                         typevalue = $("#hiddenTypeName").val();
                    }
                    
                    var html = "";
                    var n = data.length;
                    if (n > 0) {
                        for (var j = 0; j < n; j++) {
                            if (data[j] == typevalue) {
                                html += "<option value='" + data[j] + "'" + " selected>" + data[j] + "</option>";
                            }
                            else {
                                html += "<option value='" + data[j] + "'>" + data[j] + "</option>";
                            }

                           
                        }
                    }                        
                        $("#TypeName").empty();
                        $("#TypeName").append(html);
                    },
                   
               
                error: function () {
                    alert("请求失败！");
                    $("#TypeName").empty();                                
                },
            });
        }
    }
    $(function () {      
            Func.LoadModuleType();
        }
    )

    function UploadBgImg(obj, showImg, showUrl) {

        var pobj = $(obj);
        var fileSize = pobj[0].files[0].size / 1024 * 1.0;
        if (fileSize > 1024) {
            alert("不能上传大于1024KB的图片");
            return false;
        }
        var rd = Math.ceil(Math.random() * 9999) + 1;
        var fileElId = $(obj).attr("id");
        console.log(fileElId);
        $.ajaxFileUpload({
            url: '/Article/ImageUploadToAli?rd=' + rd,
            secureuri: false,
            fileElementId: fileElId,
            dataType: 'json',
            async: false,
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $("#" + showImg).attr("src", result.SImage).show();
                    $("#" + showUrl).val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });
    }

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }

        $.submitForm({
            url: "/WechatHome/SaveWechatHome",
            param: $("#form1").formSerialize(),
            success: function () {
              //  self.parent.$("#gridList").resetSelection();
                self.parent.$("#gridList").trigger("reloadGrid");
                self.parent.$('#loadingPage').hide();
                self.parent.window.frames[0].location.reload();
            }
        })
    }
</script>

