
@{
    ViewBag.Title = "RedEnvelopeActivity";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@model  Tuhu.Provisioning.DataAccess.Entity.WXOARedEnvelopeSettingModel


<div style="padding-top:15px;width:695px; margin-left:auto;margin-right:auto">
    <form id="form1">
        <table class="form">
            <tr>
                <td class="formTitle">活动时间：</td>
                <td class="formValue" style="width:180px;">
                    <input id="StartTime" name="StartTime" type="text" class="form-control input-wdatepicker required" placeholder="开始时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
                </td>

                <td class="formValue" style="width:180px;">
                    <input id="EndTime" name="EndTime" type="text" class="form-control input-wdatepicker required" placeholder="结束时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
                </td>
                <td>
                    <a id="btn_submit" class="btn btn-primary dropdown-text" onclick="saveInfo()" style="margin-left:30px;">修改</a>
                </td>
            </tr>
            <tr>
                <td class="formTitle"></td>
                <td class="formValue" style="width:180px;">
                    <input id="OpenIdLegalDate" name="OpenIdLegalDate" type="text" class="form-control input-wdatepicker required" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" style="display:inline" />
                </td>
                <td class="formValue">后关注途虎养车公众号的用户可领取红包</td>
            </tr>
            <tr>
                <td class="formTitle">领取条件：<br /><span class="remark">领取条件为或的关系</span></td>
                <td class="formValue">
                    <input onclick="judgeConditionPrice()" id="ConditionPriceFlag" name="ConditionPriceFlag" type="checkbox" @(Model.ConditionPriceFlag == 1 ? "checked" : "") /> 单笔订单金额大于等于<input type="number" id="ConditionPrice" name="ConditionPrice" class="form-control" value="@Model.ConditionPrice" style="width:50px;display:inline" />元 <br />
                    <input id="ConditionCarModelFlag" name="ConditionCarModelFlag" type="checkbox" @(Model.ConditionCarModelFlag == 1 ? "checked" : "") /> 有认证过的车型
                </td>

            </tr>
            <tr>
                <td class="formTitle">每日红包上限（元）：<br /><span class="remark">不包含赏金金额，修改后次日生效</span></td>
                <td class="formValue">
                    <input type="number" id="DayMaxMoney" name="DayMaxMoney" class="form-control required" value="@Model.DayMaxMoney" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">每人平均领取红包金额（元）：<br /><span class="remark">修改后次日生效</span></td>
                <td class="formValue">
                    <input type="number" id="AvgMoney" name="AvgMoney" class="form-control required" min="1" onchange="avgMoneyRemind()" value="@Model.AvgMoney" />
                </td>
                <td><span id="AvgMoneyRemind"></span></td>
            </tr>
            <tr>
                <td class="formTitle">活动规则：</td>
                <td class="formValue">
                    <textarea id="ActivityRuleText" name="ActivityRuleText" class="form-control required" cols="5" rows="4">@Model.ActivityRuleText
</textarea>
                </td>
            </tr>
            <tr>
                <td class="formTitle">未获得红包提示：<br /><span class="remark">填写0-25个字</span></td>
                <td class="formValue">
                    <input type="text" id="FailTipText" name="FailTipText" class="form-control required" value="@Model.FailTipText" maxlength="25" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">长按识别二维码：</td>
                <td class="formValue">
                    <img id="img1" width="48" height="48" @(string.IsNullOrWhiteSpace(Model.QRCodeUrl) == true ? "" : "src=" + Model.QRCodeUrl) />
                    <input type="file" id="uploadFile1" name="uploadFile1" onchange="Upload(this, 'img1', 'QRCodeUrl')" />
                    <input type="hidden" id="QRCodeUrl" name="QRCodeUrl" value="@Model.QRCodeUrl.Trim()" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">识别二维码提示文字：<br /><span class="remark">填写0-40个字</span></td>
                <td class="formValue">
                    <textarea id="QRCodeTipText" name="QRCodeTipText" class="form-control required" cols="5" rows="4" maxlength="40">@Model.QRCodeTipText</textarea>
                </td>
            </tr>
            <tr>
                <td class="formTitle">分享标题：<br /><span class="remark">填写0-20个字</span></td>
                <td class="formValue">
                    <input type="text" id="ShareTitleText" name="ShareTitleText" class="form-control required" value="@Model.ShareTitleText" maxlength="20" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">分享内容：<br /><span class="remark">填写0-40个字</span></td>
                <td class="formValue">
                    <textarea id="ShareText" name="ShareText" class="form-control required" cols="5" rows="4" maxlength="40">@Model.ShareText</textarea>
                </td>
            </tr>
            <tr>
                <td class="formTitle">分享链接：</td>
                <td class="formValue">
                    <input type="text" id="ShareUrl" name="ShareUrl" class="form-control required" value="@Model.ShareUrl" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">分享图片：</td>
                <td class="formValue">
                    <img id="img2" width="48" height="48" @(string.IsNullOrWhiteSpace(Model.SharePictureUrl) == true ? "" : "src=" + Model.SharePictureUrl) />
                    <input type="file" id="uploadFile2" name="uploadFile2" onchange="Upload(this, 'img2', 'SharePictureUrl')" />
                    <input type="hidden" id="SharePictureUrl" name="SharePictureUrl" value="@Model.SharePictureUrl.Trim()" />
                </td>
            </tr>
        </table>
        <input type="text" id="PKID" value="@Model.PKID" style="display:none;" />
    </form>   
</div>
<script src="~/Content/nfine/js/datepicker/WdatePicker.js"></script>
<script type="text/javascript" src="~/Scripts/ajaxfileupload.js"></script>
<script src="~/Content/nfine/js/jqgrid/jqgrid.min.js"></script>
<script src="~/Content/nfine/js/jqgrid/grid.locale-cn.js"></script>
<script type="text/javascript">
    function avgMoneyRemind() {
        if ($("#AvgMoney").val() * 1 < 1) {
            $("#AvgMoneyRemind").html("金额需大于等于1").css("color", "red");
        } else {
            $("#AvgMoneyRemind").html("");
        }
    }
    function saveInfo() {
        if (!$('#form1').formValid()) {
            return false;
        }
        if ($("#QRCodeUrl").val() == "") {
            alert("长按识别二维码不能为空！");
            return false;
        }
        if ($("#SharePictureUrl").val() == "") {
            alert("分享图片不能为空！");
            return false;
        }
        if (new Date($("#StartTime").val()) >= new Date($("#EndTime").val())) {
            alert("开始时间必须小于结束时间！");
            return false;
        }
        var formData = $("#form1").formSerialize();
        if (formData.ConditionCarModelFlag == false && formData.ConditionPriceFlag == false) {
            alert("领取条件至少选一个！");
            return false;
        }
        if (formData.ConditionCarModelFlag == true) {
            formData.ConditionCarModelFlag = 1;
        } else {
            formData.ConditionCarModelFlag = 0;
        }
        if (formData.ConditionPriceFlag == true) {
            formData.ConditionPriceFlag = 1;
        } else {
            formData.ConditionPriceFlag = 0;
        }
        formData.ActivityRuleText = formData.ActivityRuleText.trim();
        formData.FailTipText = formData.FailTipText.trim();
        formData.QRCodeTipText = formData.QRCodeTipText.trim();
        formData.ShareTitleText = formData.ShareTitleText.trim();
        formData.ShareText = formData.ShareText.trim();
        formData.ShareUrl = formData.ShareUrl.trim();
        console.log($("#form1").formSerialize());
        console.log(JSON.stringify(formData));
        $("#btn_submit").attr("disabled", "disabled");
        $.ajax({
            url: "/WechatHome/SaveOARedEnvelopeSetting",
            type: "post",
            contentType:"application/json",
            //data: {
            //    fdata: JSON.stringify(formData)
            //},
            data: JSON.stringify(formData),
            success: function (res) {
                var data=JSON.parse(res);
                alert(data.Msg);
                $("#btn_submit").removeAttr("disabled");
            },
            error: function ()
            {
                alert("操作失败！");
                $("#btn_submit").removeAttr("disabled");
            }
        })
        
    }

    function Upload(obj, showImg, hidImg) {
        var pobj = $(obj);
        var rd = Math.ceil(Math.random() * 9999) + 1;
        var fileElId = $(obj).attr("id");
        $.ajaxFileUpload({
            url: '/Article/ImageUploadToAli?rd=' + rd,
            secureuri: false,
            fileElementId: fileElId,
            dataType: 'json',
            async: false,
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $("#" + showImg).attr("src", result.SImage).show();
                    $('#' + hidImg).val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });
    }

    function judgeConditionPrice() {
        if ($("#ConditionPriceFlag").is(":checked")) {
            $("#ConditionPrice").addClass('required');
        } else {
            $("#ConditionPrice").removeClass('required');
            $("#ConditionPrice").parent("td").find("i").css('display', 'none');
        }
    }
    $(function () {
        if ('@Model.StartTime.ToString()' != "0001/1/1 0:00:00") {
            $("#StartTime").val('@Model.StartTime.ToString()');
        } 
        if ('@Model.EndTime.ToString()' != "0001/1/1 0:00:00") {
            $("#EndTime").val('@Model.EndTime.ToString()');
        }
        if ('@Model.OpenIdLegalDate.ToString()' != "0001/1/1 0:00:00") {
            $("#OpenIdLegalDate").val('@Model.OpenIdLegalDate.ToString()');
        }
        $(".formTitle").css({ 'width': '180px', 'height': '50px','text-align':'left'});
        $(".formValue").css('width', '350px');
        $(".remark").css('color', '#C0C0C0');
        judgeConditionPrice();
    })
</script>

