@model Tuhu.Provisioning.Models.CommentItemModel
@using ThBiz.Common.Configurations;
@using MVCControlsToolkit.Controls
@using Tuhu.Provisioning.Models
@{
    ViewBag.Title = "评论列表";
}
<h2><a href="#" style="color:red;">评论列表</a></h2>
@using (Html.BeginForm())
{
    <div>
        <span>每页显示记录数：</span>
        @Html.DropDownList("PageSize",
        new SelectListItem[]{
                    new SelectListItem() { Selected = ViewBag.PageSize == 10, Value = "10", Text = "10" },
                    new SelectListItem() { Selected = ViewBag.PageSize == 20, Value = "20", Text = "20" },
                    new SelectListItem() { Selected = ViewBag.PageSize == 50, Value = "50", Text = "50" },
        },
         new { onchange = "changeType()" })&nbsp;&nbsp;&nbsp;&nbsp;
        <span>关键词：</span>
        <input type="text" style="width:25%" name="keyWord" placeholder="例：好评 点赞 强烈推荐 很满意 非常满意" value="@ViewBag.keyWord" />&nbsp;&nbsp;&nbsp;&nbsp;<span>字数上限：</span>
        @Html.DropDownList("SoFilter.$.FilterDescription.WordCount",
        new SelectListItem[]{
                    new SelectListItem() { Selected = ViewBag.WordCount == 9999, Value = "9999", Text = "不限" },
                    new SelectListItem() { Selected = ViewBag.WordCount == 10, Value = "10", Text = "10" },
                    new SelectListItem() { Selected = ViewBag.WordCount == 20, Value = "20", Text = "20" },
        },
        new
        {
            id = "SoFilter___FilterDescription_WordCount",
            @class = "valid"
        })&nbsp;&nbsp;&nbsp;&nbsp;    
        <input type="submit" value="搜索" /> &nbsp;&nbsp;&nbsp;&nbsp; 
        <span>手机端(总@(ViewBag.CommentfromPhone)条)、PC端(总@(ViewBag.CommentfromPC))（总@(ViewBag.CommentfromPhone + ViewBag.CommentfromPC)条）</span>      
        <br />
        <br />
        <script type="text/javascript">
            function changeType() {
                var url = "@YewuDomainConfig.ProvisioningSite";
                location.href = url + "/Comment/BatchOperationCommentList?keyWord=@ViewBag.keyWord&&PageDim=" + $("#PageSize").val();
            }

            function BatchUpdateCommentStatus(button, commentStatus)
			{
			    var commentIds = new Array();
			    obj = document.getElementsByName("checkName");
			    for (k in obj) {
			        if (obj[k].checked){
			            commentIds.push(parseInt(obj[k].value));
			        }
			    }
			    if (window.confirm("是否确认操作！")) {
			        $.post('/Comment/BatchUpdateCommentStatus', { "CommentIds": JSON.stringify(commentIds), "CommentStatus": commentStatus }, function (data) {
			            if (data == true) {
			                alert("操作成功！");
			                changeType();
			            } else {
			                alert("操作失败！");
			            }
			        });
			    }
			}

			function change(obj) {
			    if (obj.checked) {
			        $("input[name='checkName']").each(function () {
			            $(this).attr("checked", true);
			        });
			    } else {
			        $("input[name='checkName']").each(function () {
			            $(this).attr("checked", false);
			        });
			    }
			}

        </script>
        <div id="DivCommentList">
            @Html.DataGridFor(m => m.CommentItemList, ItemContainerType.tr, null,
        "_UCBatchOperationCommentListItemDisplay",
         _S.H<CommentItem>(
            @<table style="text-align: center; width: 100%;">
                <tr>
                    <th><input id="IsChecked" type="checkbox" checked="checked" onclick="change(this)" />@item.LabelFor(m => m.CommentContent)</th>
                    <th>@item.LabelFor(m => m.CommentUserName)</th>
                    <th>评论的门店</th>
                    <th>@item.LabelFor(m => m.CreateTimeDate) </th>
                    <th>@item.LabelFor(m => m.CommentProductId) </th>
                    <th>@item.LabelFor(m => m.CommentOrderId) </th>
                    <th>@item.LabelFor(m => m.CommentR1) </th>
                    <th>@item.LabelFor(m => m.CommentR2) </th>
                    <th>@item.LabelFor(m => m.CommentR3) </th>
                    <th>@item.LabelFor(m => m.CommentR4) </th>
                    <th>@item.LabelFor(m => m.CommentR5) </th>
                    <th>@item.LabelFor(m => m.CommentR6) </th>
                    <th>@item.LabelFor(m => m.CommentR7) </th>
                    <th>审核状态 </th>
                    <th>详细信息 </th>
                </tr>
                @item.ViewData["Content"]
            </table>                                                                                                                                                                                                   ), null, null, itemCss: "normalRow", altItemCss: "alternateRow")
        </div>

        <div align="center" style="margin-top:20px">
            <span>批量操作</span>
            <input type="button" value="审核通过" onclick="BatchUpdateCommentStatus(this, 2)" />
            <input type="button" value="审核不通过" onclick="BatchUpdateCommentStatus(this, 0)" />
            <input type="button" value="仅打分" onclick="BatchUpdateCommentStatus(this, 3)" />
        </div>    
        <div class="BatchPager">
            @{ var pager = Html.PagerFor(m => m.CurrPage, m => m.PrevPage, m => m.TotalPages);}
            @pager.PageButton("<<", PageButtonType.First, PageButtonStyle.Link)
            @pager.PageButton("<", PageButtonType.Previous, PageButtonStyle.Link)
            @pager.PageChoice(5)
            @pager.PageButton(">", PageButtonType.Next, PageButtonStyle.Link)
            @pager.PageButton(">>", PageButtonType.Last, PageButtonStyle.Link)
            @pager.PageButton("转到页", PageButtonType.GoTo, PageButtonStyle.Button)
            @pager.GoToText(new { style = "width:30px;" })
        </div>
        @Html.EnableSortingFor(m => m.CommentItemList, m => m.OrderOrder, "NormalHeader", "AscendingHeader", "DescendingHeader", page: m => m.CurrPage)
        @Html.HiddenFor(m => m.TotalPages)
    </div>
                }
