@{
    ViewBag.Title = "BigFHomeEdit";
    Layout = null;
}
@model Tuhu.Provisioning.DataAccess.Entity.BigFHomeDeatil

<div>
    <form id="BigFHomeForm">
        <table>
            <tr>
                <td>
                    名称:
                </td>
                <td>
                    <input type="text" style="width:160px;" id="BigFHomeName" name="BigFHomeName" value="@Model.BigFHomeName" />
                </td>
                <td>
                    图标:
                </td>
                <td>
                    @if (string.IsNullOrEmpty(Model.ImgFHomePic))
                    {
                    <img id="ImgFHomePic" style="width:30px;height:30px;"  />
                    }
                    else
                    {
                        <img id="ImgFHomePic" style="width:30px;height:30px;"  src="@Model.ImgFHomePic" />
                    }
                    <input type="file" id="BigFHomePic1" name="BigFHomePic1" width="100px"  onchange="UploadImgFActivityHome(this, 'ImgFHomePic', 'HidBigFHomePic')" />
                    <input type="hidden" id="HidBigFHomePic" name="HidBigFHomePic" value="@Model.HidBigFHomePic" />
                </td>
                <td>
                    链接:
                </td>
                <td>
                    <input type="text" id="BigFHomeMobileUrl" name="BigFHomeMobileUrl" style="width:160px"  value="@Model.BigFHomeMobileUrl"/>
                </td>
                <td>
                    网站链接:
                </td>
                <td>
                    <input type="text" id="BigFHomeWwwUrl" name="BigFHomeWwwUrl" style="width:160px" value="@Model.BigFHomeWwwUrl" />
                </td>
                <td>排序:</td>
                <td>
                    <input type="number" id="BigFHomeOrder" name="BigFHomeOrder"  style="width:60px" value="@Model.BigFHomeOrder" />
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
    var BigFHomeForm = {
        rules: {
            BigFHomeName: {
                required: true
            },
            HidBigFHomePic: {
               required:true
            },
            BigFHomeMobileUrl: {
                url: true
            },
            BigFHomeWwwUrl: {
                url: true
            }

        },
        messages: {
            BigFHomeName: {
                required: '名称必填'
            },
            HidBigFHomePic: {
               required:'图标必填'
            },
            BigFHomeMobileUrl: {
                url: '请输入正确的网址'
            },
            BigFHomeWwwUrl: {
                url: '请输入正确的网址'

            }

        }
    };


   

    $('#BigFHomeForm').validate(BigFHomeForm);

    function GetBigFHomeForm() {
        var data = {};

        data.BigFHomeName = $('#BigFHomeName').val();
        data.ImgFHomePic = $('#ImgFHomePic').attr('src') || '';
        data.HidBigFHomePic = $('#HidBigFHomePic').val();
        data.BigFHomeMobileUrl = $('#BigFHomeMobileUrl').val();
        data.BigFHomeWwwUrl = $('#BigFHomeWwwUrl').val();
        data.BigFHomeOrder = $('#BigFHomeOrder').val();
        return data;
    }

</script>