@{
    ViewBag.Title = "Beauty";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@model Tuhu.Provisioning.DataAccess.Entity.Router.RouterLink


<div style="font-size: 13px">
    <div class="container" id="container" style="min-height: 150px;margin-top:100px; overflow-y: auto; width: 800px;">
        @if (Model != null)
        {
            foreach (var item in Model.RouterParameterList)
            {
                if (item.Kind == 1)
                {
                    <div class="col-sm-3">
                        <input type="radio" name="check" class="check" value="@item.Content" style="font-size: 100px" @(item.State == 1 ? "checked=\"checked\"" : "")/><span>@item.Discription</span>
                    </div>
                }
                
                @*else if (item.Kind == 2)
                {
                    <div class="col-sm-3">
                        <input type="text" name="@item.PKID" value="@item.Content" style="font-size: 100px"/><span>@item.Discription</span>
                    </div>
                }*@
                
            }
            <div class="col-sm-12">
                <input type="hidden" class="form-control" id="MainLinkContent" name="MainLinkContent" value="@Model.MainLink.Content"/>
            </div>
            <div class="col-sm-12">
                <input type="hidden" class="form-control" id="linkId" name="linkId" value="@ViewBag.linkId"/>
            </div>
            <div class="col-sm-12">
                <input type="hidden" class="form-control" id="noLinkId" name="noLinkId" value="@ViewBag.noLinkId"/>
            </div>
            <div class="col-sm-12">
                <input type="hidden" class="form-control" id="linkKind" name="linkKind" value="@ViewBag.linkKind" />
            </div>
        }
    </div>
        <div class="modal-footer" style="text-align:center;">
            <button type="button" class="btn btn-default btn-sm" style="width:160px;"  id="btnSave" name="btnSave">生成</button>
        </div>
    </div>
<link rel="stylesheet" href="~/Scripts/multiple/multiple-select.css" type="text/css"/>
<script type="text/javascript" src="~/Scripts/multiple/multiple-select.js"></script>
<script type="text/javascript">


    $(function() {

        //保存按钮点击事件
        $('#btnSave').on('click',
            function() {

                var check = "";
                var mainLinkContent = $('#MainLinkContent').val(); 
                var linkKind = $('#linkKind').val();
                var parameterNum = 0;

                $("input[class^='check']").each(function() {

                    if ($(this).prop("checked")) {
                        parameterNum++;
                        switch (linkKind) {
                            case "1"://APP
                                check += "?url=" + (encodeURIComponent($(this).val()));
                                break;//小程序
                            case "2": check += $(this).val();
                                break;
                        
                        }
                            
                       
                    }

                });

                //未选择时弹出提示
                if (parameterNum === 0) {
                    parent.layer.msg('请选择', { shade: 0.3 });
                    return;
                }

                var url = mainLinkContent + check ;
                var linkId = $('#linkId').val();
                var noLinkId = $('#noLinkId').val();
                if (url && linkId !== "" && noLinkId !== "") {
                    
                    parent.$("#" + linkId).val(url);
                    parent.$("#" + noLinkId).val(decodeURIComponent(url));

                    //关闭窗口
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index); 
                }
            });
        
    });
</script>