
@{
    ViewBag.Title = "测试状态选择";
    Layout = null;
}
@model Tuhu.Service.Config.Models.ABTestDetail

<form id="FormSelectProcessing" method="post" action="">
    </p>
    <div>
        <input type="hidden" id="InputTestGuid" value="@Model.TestGuid" />
        <input type="hidden" id="InputTestName" value="@Model.TestName" />
        <span>状态：</span>
        <select id="TestStatus" name="TestStatus" style="width:50%">
            <option value="OPSelectDone" @(Model.Status == "Done" ? "selected" : "")>测试结束</option>
            <option value="OPSelectProcessing" @(Model.Status == "Processing" ? "selected" : "")>测试中</option>
        </select>
    </div>
    </p>
    <div>
        <span>最终结果：</span>
        <select id="TestGroup" name="TestGroup" style="width:50%">
            @if (Model.GroupList != null)
            {
                foreach (var item in Model.GroupList)
                {
                    <option value="@item.GroupId @item.GroupName">@item.GroupId @item.GroupName</option>
                }
            }
        </select>
    </div>
</form>
<script type="text/javascript">
    function SelectABTestResult(target) {
        var testGuid = $("#InputTestGuid").val();
        var testName = $("#InputTestName").val();
        var testStatus = $('#TestStatus option:selected').val();
        if (testStatus == "OPSelectProcessing") {
            alert("只能选择测试结束选项!");
            return;
        }
        var status = "Done";
        var testGroup = $('#TestGroup option:selected').val();
        var testGroupId = testGroup.split(" ");

        $.ajax({
            url: "/ABTestPlatform/SelectABTestResult",
            type: "Post",
            data: {
                testGuid: testGuid,
                testName: testName,
                status: status,
                testGroupId: testGroupId
            },
            dataType: "json",
            async: false,
            success: function (data) {
                if (data == true) {
                    alert('保存成功！');
                    $(target).dialog("close");
                    window.location.reload();
                }
                else {
                    alert('保存失败！');
                }
            },
            error: function () {
                alert('提交失败！');
            },
        })
    }
</script>
