@model Tuhu.Provisioning.DataAccess.Entity.SE_MDBeautyBrandConfigModel
@{
    Layout = null;
}
<style type="text/css">
    input {
        margin:3px 0;
    }
</style>
@using (Html.BeginForm("BatchSave", "SE_MDBeautyBrandConfig", FormMethod.Post, new { @parentId = Model.ParentId }))
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ParentId)
    @Html.HiddenFor(model => model.CreateTime)
    @Html.HiddenFor(model => model.IsDisable)
    @Html.HiddenFor(model => model.CategoryIds)
    @Html.HiddenFor(model => model.BrandName)

    <table>
        <tr>
            <td>系列名称：</td>
            <td>
                <label>1. </label><input type="text" name="input_BrandName1" id="input_BrandName1" placeholder="系列名称" /><br/>
                <label>2. </label><input type="text" name="input_BrandName2" id="input_BrandName2" placeholder="系列名称" /><br />
                <label>3. </label><input type="text" name="input_BrandName3" id="input_BrandName3" placeholder="系列名称" /><br />
                <label>4. </label><input type="text" name="input_BrandName4" id="input_BrandName4" placeholder="系列名称" /><br />
                <label>5. </label><input type="text" name="input_BrandName5" id="input_BrandName5" placeholder="系列名称" /><br />
                <label>6. </label><input type="text" name="input_BrandName6" id="input_BrandName6" placeholder="系列名称" /><br />
                <label>7. </label><input type="text" name="input_BrandName7" id="input_BrandName7" placeholder="系列名称" /><br />
                <label>8. </label><input type="text" name="input_BrandName8" id="input_BrandName8" placeholder="系列名称" /><br />
                <label>9. </label><input type="text" name="input_BrandName9" id="input_BrandName9" placeholder="系列名称" /><br />
                <label>10. </label><input type="text" name="input_BrandName10" id="input_BrandName10" placeholder="系列名称" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <input type="button" onclick="FilterSbumit();" value="保存" />
            </td>
        </tr>
    </table>
}
<script type="text/javascript">
    function FilterSbumit() {
        var BrandNameItems = [], InputVlaue;
        $("input[name*='input_BrandName']").each(function (i, item) {
            InputVlaue = $.trim($(item).val());
            if (InputVlaue.length > 0)
                BrandNameItems.push(InputVlaue);
        });

        if (BrandNameItems.length <= 0) {
            alert("您没有填写任何项！");
            return false;
        }

        $("#BrandName").val(BrandNameItems.join(','));

        $.ajax({
            type: "POST",
            url: "/SE_MDBeautyBrandConfig/SelectListByBrandName",
            data: { brandName: BrandNameItems.join(',') },
            success: function (json) {
                var _json = JSON.parse(json);
                if (_json.item > 0) {
                    alert("(品牌/系列)名:『 " + _json.values + " 』已存在！");
                    return false;
                }
                $("form:first").submit();
            }
        });
    }
</script>