
@model List<Tuhu.Provisioning.DataAccess.Entity.ZeroActivityDetail>
@{
    ViewBag.Title = "0元购活动配置";
}
<style type="text/css">
    .maincontent {
        padding: 50px;
        width: 500px;
        height: 300px;
        font-size: 90%;
        font-weight: bold;
        background: #e8eef4;
        margin-top: 30px;
        display: none;
    }

    .item {
        height: 40px;
    }

        .item input {
            width: 150px;
            height: 25px;
        }

    .title {
        display: inline-block;
        width: 120px;
        text-align: right;
        line-height: 30px;
    }

    .item .save {
        width: 80px;
        margin-left: 124px;
    }

    .item .variantinput {
        width: 40px;
        margin-right: 3px;
    }

    .item .variantadd, .item .variantremove {
        font-size: 22px;
        color: #4297d7;
        margin-left: 3px;
        border: 1px solid #a6c9e2;
        line-height: 20px;
        display: inline-block;
        width: 15px;
        height: 20px;
        vertical-align: middle;
    }

        .item .variantadd:hover, .item .variantremove:hover {
            cursor: pointer;
        }

    .preCurr, .firstCurr, .nextCurr, .lastCurr {
        pointer-events: none;
        cursor: default;
        color: gray;
    }

    .pre, .first, .next, .last, span.pagespan {
        cursor: pointer;
        color: #08c;
    }

        .pre:hover, .first:hover, .next:hover, .last:hover, .pagespan:hover {
            text-decoration: underline;
        }

    span.current {
        text-decoration: underline;
        color: gray;
    }
</style>

<html>
<body>
    <input type="button" style="margin-top:10px" onclick="btnAdd(this,'add')" value="0元购活动配置" data-StartDateTime="@DateTime.Today.ToString()" data-EndDateTime="@DateTime.Today.ToString()" />
    <input type="button" style="margin-top:10px" onclick="btnRefresh()" value="刷新缓存" />
    <table class=" table-striped" style="margin-top:25px;">
        <tr>
            <th>期数</th>
            <th>产品ProductID</th>
            <th>产品VariantID</th>
            <th width="15%">描述</th>
            <th>本期获奖人数</th>
            <th>提供的产品总数</th>
            <th>活动开始日期</th>
            <th>活动截止日期</th>
            <th>活动创建时间</th>
            <th>头图</th>
            <th>操作</th>
        </tr>
        @if (Model.Count() > 0)
        {
            foreach (var z in Model)
            {
                <tr>
                    <td>@z.Period</td>
                    <td>@z.ProductID</td>
                    <td style="padding:0">
                       <span style="display:inline-block;line-height:26px;border-left:1px solid #e8eef4;height:26px;width:25px;float:left;">@z.VariantID</span>
                    </td>
                    <td>@z.Description</td>
                    <td>@z.SucceedQuota</td>
                    <td>@z.Quantity</td>
                    <td>@z.StartDateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@z.EndDateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@z.CreateDateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td><a target="_blank" href="@z.ImgUrl"><img height="40" width="40" src="@z.ImgUrl" /></a></td>
                    <td>
                        <input type="button" value="编辑" onclick="btnAdd(this,'edit')" style="width:40px;" data-Period="@z.Period" data-ProductID="@z.ProductID" data-VariantID="@z.VariantID" data-Description="@z.Description" data-SucceedQuota="@z.SucceedQuota" data-Quantity="@z.Quantity" data-StartDateTime="@z.StartDateTime.ToString()" data-EndDateTime="@z.EndDateTime.ToString()" data-ImgUrl="@z.ImgUrl" />
                        <input type="button" value="删除" style="width:40px;" class="SCcaozuo" data-period="@z.Period" />
                    </td>
                </tr>}
        }
    </table>
    <div class="BatchPager">
        <span class="@(ViewBag.CurrentPage==1?"firstCurr":"first")"><<</span>
        <span class="@(ViewBag.CurrentPage==1?"preCurr":"pre")"><</span>
        @if (ViewBag.TotalCount <= 6)
        {

            for (var i = 1; i <= ViewBag.TotalCount; i++)
            {
                <span class="@(ViewBag.CurrentPage == i? "current" : "pagespan")" data-page="@i">@i</span>}
        }
        else
        {
            if (ViewBag.CurrentPage < 6)
            {
                for (var i = 1; i <= 6; i++)
                {
                    <span class="@(ViewBag.CurrentPage==i?"current":"pagespan")" data-page="@i">@i</span>}
            }
            else if (ViewBag.TotalCount < 12)
            {
                for (var i = 1; i <= ViewBag.TotalCount; i++)
                {
                    <span class="@(ViewBag.CurrentPage == i ? "current" : "pagespan")" data-page="@i">@i</span>}
            }
            else if (ViewBag.TotalCount - ViewBag.CurrentPage > 5)
            {
                for (var i = ViewBag.CurrentPage - 5; i <= ViewBag.CurrentPage + 5; i++)
                {
                    <span class="@(ViewBag.CurrentPage == i ? "current" : "pagespan")" data-page="@i">@i</span>}
            }
            else
            {
                for (var i = ViewBag.TotalCount - 5; i <= ViewBag.TotalCount; i++)
                {
                    <span class="@(ViewBag.CurrentPage == i ? "current" : "pagespan")" data-page="@i">@i</span>}
            }
        }
        @if (ViewBag.TotalCount - ViewBag.CurrentPage == 0)
        {
            <span class="nextCurr">></span>
            <span class="lastCurr">>></span>}
        else
        {
            <span class="next">></span>
            <span class="last" data-page="@((int)ViewBag.TotalCount)">>></span>}
    </div>

    <div class="maincontent" id="Addmaincontent">
        @*<form action="ZAConfigureAct" method="post">*@
        <div class="item">
            <span class="title">期数</span> <input type="text" name="Period" placeholder="输入数字" onchange="validate(this)" />
        </div>

        <div class="item">
            <span class="title">产品ProductID</span> <input type="text" name="ProductID" placeholder="请填写准确的ProductID" />
        </div>
        <div class="item">
            <span class="title">产品VariantID</span><input type="hidden" name="VariantID">
            <input type="text" class="variantinput" maxlength="5" placeholder="数字" onchange="validate(this)" />@*<label class="variantadd">+</label><label class="variantremove">-</label>*@
        </div>
        <div class="item" style="height:80px;margin-bottom:10px;">
            <span class="title" style="vertical-align: top;">描述</span>&nbsp;<textarea name="Description"></textarea>
        </div>
        <div class="item" style="margin-bottom:10px">
            <span class="title">上传头图</span>
            <input type="hidden" class="smallImage" name="ImgUrl" value="" />
            <input style="width: 150px;" type="file" id="imgArea" name="imgArea" onchange="UploadImg(this)" />
            <img height="40" width="40" class="vwPicture" src="#" />
        </div>
        <div class="item">
            <span class="title">本期获奖人数</span> <input type="text" name="SucceedQuota" placeholder="输入数字" onchange="validate(this)" />
        </div>
        <div class="item">
            <span class="title">提供的产品总数</span> <input type="text" name="Quantity" placeholder="输入数字" onchange="validate(this)" />
        </div>
        <div class="item">
            <span class="title">活动开始日期</span> <input class="Datepicker" type="text" name="StartDateTime" value="" />
        </div>
        <div class="item">
            <span class="title">活动截止日期</span> <input class="Datepicker" type="text" name="EndDateTime" value="" />
        </div>
        <div class="item"><input type="button" class="save" value="提交" /></div>
        @*</form>*@
    </div>

    <script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.js"></script>
    <link href="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <script type="text/javascript">
        $(".Datepicker").datetimepicker({
            timeFormat: "HH:mm:ss",
            dateFormat: "yy-mm-dd"
        });
        var r = new RegExp("^([0-9][0-9]*)$");
        function validate(self)
        {
            if (!r.test($(self).val()))
            {
                $(self).val("");
            }
        }
        $(".first").click(function ()
	{
            window.location.href = "/ZeroActivity/ZAConfigure";
	});
	$(".last").click(function ()
	{
        window.location.href = "/ZeroActivity/ZAConfigure?pageIndex=" + $(this).attr("data-page");
	});
	$(".pagespan").click(function ()
	{
        window.location.href = "/ZeroActivity/ZAConfigure?pageIndex=" + $(this).attr("data-page") 
	});
	$(".next").click(function ()
	{
        window.location.href = "/ZeroActivity/ZAConfigure?pageIndex=" + @(ViewBag.CurrentPage+1) ;
	});
	$(".pre").click(function ()
	{
        window.location.href = "/ZeroActivity/ZAConfigure?pageIndex=" + @(ViewBag.CurrentPage-1) ;
	});
        $(".save").click(function () {
            var period = $("#Addmaincontent [name=Period]").val();
            var productId = $("#Addmaincontent [name=ProductID]").val();
            var variantId = $(".variantinput").val();
            var des = $("#Addmaincontent [name=Description]").val();
            var successQuota = $("#Addmaincontent [name=SucceedQuota]").val();
            var quantity = $("#Addmaincontent [name=Quantity]").val();
            var start = $("#Addmaincontent [name=StartDateTime]").val();
            var end = $("#Addmaincontent [name=EndDateTime]").val();
            var imgUrl = $("#Addmaincontent [name=ImgUrl]").val();
            if(period==""||productId==""||start==""||end==""){
                alert("请完善参数");
            }else if(imgUrl==""){
                alert("请上传图片");
            }
            else{
                if(confirm("是否确认操作？")){
                    $.post("UpsertZeroActivity", { period: period, productId: productId, variantId: variantId, des: des, successQuota: successQuota, quantity: quantity, start: start, end: end, imgUrl: imgUrl }, function (result) {
                        if(result.status=="success"){
                            alert("操作成功");
                            location.reload();
                        }else{
                            alert(result.msg);
                        }
                    });
                }
            }
        });
        function btnAdd(self,type)
        {
            $("#Addmaincontent .vwPicture").attr("src","");
            $("#Addmaincontent [name=ImgUrl]").val("");
            if (type == "edit") {
                $("#Addmaincontent [name=Period]").val($(self).attr("data-Period"));
                $("#Addmaincontent [name=ProductID]").val($(self).attr("data-ProductID"));
                $("#Addmaincontent [name=VariantID]").val($(self).attr("data-VariantID")).next().val($(self).attr("data-VariantID"));
                $("#Addmaincontent [name=Description]").val($(self).attr("data-Description"));
                $("#Addmaincontent [name=SucceedQuota]").val($(self).attr("data-SucceedQuota"));
                $("#Addmaincontent [name=Quantity]").val($(self).attr("data-Quantity"));
                $("#Addmaincontent [name=StartDateTime]").val($(self).attr("data-StartDateTime"));
                $("#Addmaincontent [name=EndDateTime]").val($(self).attr("data-EndDateTime"));
                $("#Addmaincontent .vwPicture").attr("src",$(self).attr("data-ImgUrl"));
                $("#Addmaincontent [name=ImgUrl]").val($(self).attr("data-ImgUrl"));
            }else{
                $("#Addmaincontent [name=Period]").val("");
                $("#Addmaincontent [name=ProductID]").val("");
                $("#Addmaincontent [name=VariantID]").val($(self).attr("data-VariantID")).next().val("");
                $("#Addmaincontent [name=Description]").val("");
                $("#Addmaincontent [name=SucceedQuota]").val("");
                $("#Addmaincontent [name=Quantity]").val("");
                $("#Addmaincontent [name=StartDateTime]").val("");
                $("#Addmaincontent [name=EndDateTime]").val("");
                $("#Addmaincontent .vwPicture").attr("src","");
                $("#Addmaincontent [name=ImgUrl]").val("");
            }
            $("#Addmaincontent").dialog({
                title: "添加0元购活动",
                width: 550,
                height: 600,
                modal: true,
                buttons: {
                    "取消": function ()
                    {
                        $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                    }
                }
            });
        }
        $(".item .variantadd").click(function()
        {
            var self=$(this);
            if(self.siblings(".item .variantinput").length<=4)
            {
                self.prev().after('<input type="text"  placeholder="数字"onchange="validate(this)" class="variantinput" maxlength="5"  />');
            }
        });
        $(".item .variantremove").click(function()
        {
            var self=$(this);
            if(self.siblings(".item .variantinput").length>0)
            {
                self.siblings(".item .variantinput:last").remove();
            }
        });
        $(".item").on("blur",".variantinput",function()
        {
            var val="";
            if($(".item .variantinput").length>0)
            {
                val=$(".item .variantinput").map(function()
                {
                    if($(this).val().trim().length>0)
                        return $(this).val();
                }).get().join(";");
            }
            $("input[name=VariantID]").val(val);
        });
        $(".SCcaozuo").click(function()
        {
            if(confirm("确定要删除数据吗?"))
            {
                var self=$(this);
                $.ajax({
                    url:"/ZeroActivity/ZAConfigureDelete",
                    data:{Period:self.attr("data-period")},
                    dataType:"json",
                    type:"post",
                    success:function(data)
                    {
                        if(parseInt(data)>0)
                        {
                            alert("操作成功！");
                            location.reload();
                        }
                    }
                });
            }
        });

        function UploadImg(e) {
            $.ajaxFileUpload({
                url: '/ProductModuleConfig/ImageUpload',
                secureuri: false,
                fileElementId: "imgArea",
                dataType: 'json',
                data: {},
                type: "post",
                success: function (result) {
                    if (result.BImage != "" && result.SImage != "") {
                        $(".smallImage").val(result.BImage);
                        $(".vwPicture").attr("src",result.BImage);
                    } else {
                        alert("上传失败！");
                    }
                }
            });
        }

        function btnRefresh() {
            $.ajax({
                url: '/ZeroActivity/RefreshCache',
                type: "post",
                success: function(result) {
                    alert(result.msg);
                },
                error: function() {
                    alert("服务端异常！");
                }
            });
        }
    </script>
</body>
</html>
