
@using Tuhu.Provisioning.Models
@model Tuhu.Component.Common.Models.ListModel<Tuhu.Provisioning.DataAccess.Entity.ProductSearch.SearchWordBrandsConfig>
@{
    Layout = null;
}

<div>
    <table style="width:100%;margin-top:20px;">
        <thead>
            <tr>
                <th>Id</th>
                <th>联想词</th>
                <th>品牌</th>
                <th>是否显示</th>
                <th>添加时间</th>
                <th>修改时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Pkid</td>
                    <td>
                        @item.Keywords
                    </td>
                    <td>@item.Brands</td>
                    <td>@(item.IsShow==1?"是":"否")</td>
                    <td>@item.CreateTime</td>
                    <td>@item.UpdateTime</td>
                    <td>
                        <a href="javascript:;" onclick="SearchWordBrandsConfig.Update(@item.Pkid)">编辑</a>&nbsp;&nbsp;
                        <a href="javascript:;" onclick="SearchWordBrandsConfig.Delete(@item.Pkid)">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @Html.Pager(Model.Pager, pageIndex => Url.RouteUrl(new { pageIndex }))
</div>
<div id="AddItem"></div>