@{
    ViewBag.Title = "标签栏配置";
    Layout = null;
}
@model Tuhu.Provisioning.DataAccess.Entity.AllSort.AllSortTagConfig
<link href="http://setting.tuhu.work/Scripts/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/Scripts/My97DatePicker/WdatePicker.js"></script>
<div class="modal-dialog">
    <div class="modal-content" style="width:800px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title">
                编辑标签栏配置
            </h4>
        </div>
        <div class="modal-body">
            <form id="form1" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 form-label">标签栏:</label>
                    <div class="col-sm-4">
                        <input type="radio" name="State" value="1" @(Model.State == 1 ? "checked=\"checked\"" : "") /><span>启用</span>
                        <input type="radio" name="State" value="0" @(Model.State == 0 ? "checked=\"checked\"" : "") /><span>禁用</span>
                    </div>
                    <br />
                    <br />
                    <label class="col-sm-3 form-label">主标题：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="Maintitle" name="Maintitle" value="@Model.Maintitle"/>
                    </div>
                    <br/>
                    <br/>
                    <label class="col-sm-3 form-label">副标题：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="Subtitle" name="Subtitle" value="@Model.Subtitle"/>
                    </div>
                    <br/>
                    <br/>
                    <label class="col-sm-3 form-label">副标题色值:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="SubtitleColor" name="SubtitleColor" value="@Model.SubtitleColor"/>
                    </div>
                    <br/>
                    <br/>
                    <label class="col-sm-3 form-label">频道入口:</label>
                    <div class="col-sm-4">
                        <input type="radio" name="ChannelState" value="1" @(Model.ChannelState == 1 ? "checked=\"checked\"" : "") /><span>启用</span>
                        <input type="radio" name="ChannelState" value="0" @(Model.ChannelState == 0 ? "checked=\"checked\"" : "") /><span>禁用</span>
                    </div>
                    <br />
                    <br />
                    <label class="col-sm-3 form-label">频道入口描述  :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="ChannelDescription" name="ChannelDescription" value="@Model.ChannelDescription" />
                    </div>
                    <br />
                    <br />
                    <label class="col-sm-3 form-label">频道APP入口跳转 :</label>
                    <div class=" col-sm-3">
                        <select class="form-control required" id="Category" name="Category" style="display: inline;">
                            <option value="">请选择</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="LinkUrl" name="LinkUrl" size="50" data-toggle="modal"  value="@Model.ChannelJumpUrl" >
                    </div>
                    <label class="col-sm-3">未编码:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="NoLinkUrl" name="NoLinkUrl" size="50" readonly="readonly">
                    </div>
                    <br />
                    <br />
                    <label class="col-sm-3 form-label">频道小程序入口跳转 :</label>
                    <div class=" col-sm-3">
                        <select class="form-control required" id="WeiXinCatagory" name="WeiXinCatagory" style="display: inline;">
                            <option value="">请选择</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="WeiXinLinkUrl" name="WeiXinLinkUrl" size="50" data-toggle="modal" value="@Model.XiaoChannelJumpUrl">
                    </div>
                    <br />
                    <br />
                    <label class="col-sm-3 form-label">频道入口统计 :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="Statistics" name="Statistics" value="@Model.Statistics" />
                    </div>
                    <input type="hidden" id="ParentId" name="ParentId" value="@Model.ParentId" />
                    <input type="hidden" id="ID" name="ID" value="@Model.PKID"/>
                    <input type="hidden" id="ParentTitle" name="ParentTitle" value="@Model.ParentMaintitle" />
                    <div class="col-sm-9">
                        <input type="text" style=" display:none" class="form-control" id="WeiXinNoLinkUrl" name="WeiXinNoLinkUrl" size="50" readonly="readonly">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" id="btnSave" name="btnSave" class="btn btn-primary">
                保 存
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
                取 消
            </button>
        </div>
    </div>
</div>
<!--页面引入跳转链接相关的js-->
<script type="text/javascript">

    
    $(function () {
        /*
        //拼接入口统计参数
        $('#LinkUrl').on('change', function () {
            $("#Statistics").val($('#Maintitle').val() + "_" + $(this).val());
        });
        $('#Maintitle').on('change', function () {
            $("#Statistics").val($(this).val() + "_" + $('#LinkUrl').val());
        });
        */
        //保存修改按钮
        $('#btnSave').on('click', function () {

            if ($("#Maintitle").val() === "") {
                alert("请填写主标题");
                return;
            }

            if ($("#Statistics").val() === "") {
                $("#Statistics").val($('#ParentTitle').val() + "_标签栏_" + $('#Maintitle').val());

            }

            var data = {};
            data.PKID = $('#ID').val();
            data.ParentId = $('#ParentId').val();

            data.State = $('input[name="State"]:checked').val();
            data.Maintitle = $('#Maintitle').val().replace(/(^\s*)|(\s*$)/g, "");
            data.Subtitle = $('#Subtitle').val().replace(/(^\s*)|(\s*$)/g, "");
            data.SubtitleColor = $('#SubtitleColor').val().replace(/(^\s*)|(\s*$)/g, "");
            data.ChannelState = $('input[name="ChannelState"]:checked').val();
            data.ChannelJumpUrl = $('#LinkUrl').val();
            data.XiaoChannelJumpUrl = $('#WeiXinLinkUrl').val();
            data.Statistics = $('#Statistics').val().replace(/(^\s*)|(\s*$)/g, "");
            data.ChannelDescription = $('#ChannelDescription').val().replace(/(^\s*)|(\s*$)/g, "");

            $(this).attr("disabled", "disabled");
            $.ajax({
                url: '/AllSort/ConfigTagSave',
                type: 'post',
                data: data,
                dataType: 'json'
            }).done(function (result) {
                if (result == 1) {
                    alert('保存成功');
                    $('#edit').modal("hide");
                    location.reload();
                } else {
                    alert("保存失败");
                }
            });
        });

       

        if ($('#NoLinkUrl').val()) {
            $('#NoLinkUrl').val(decodeURIComponent($('#NoLinkUrl').val()));
        }
    });

    initSelectRouter(Category,1);             //生成选择项
    initDocodeLink(LinkUrl, NoLinkUrl);     //生成未编码链接
    getUrl(LinkUrl, NoLinkUrl, Category,1);   //进入跳转页面
    initSelectRouter(WeiXinCatagory, 2);             //生成选择项
    getUrl(WeiXinLinkUrl, WeiXinNoLinkUrl, WeiXinCatagory, 2);   //进入跳转页面
</script>
