@using Tuhu.Provisioning.DataAccess.Entity
@{
    Layout = null;
}
<style>
    .Promotion_tableContainer {
        width: 100%;
    }

        .Promotion_tableContainer th {
            height: 32px;
            background: #99CCFF;
            color: #000000;
            font-weight: 600;
            font-family: "Microsoft Yahei";
            text-align: center;
        }

        .Promotion_tableContainer td {
            font-size: 75%;
            padding: 8px 3px 8px 3px;
            font-family: "Microsoft Yahei";
            text-align: center;
        }
</style>
<script type="text/javascript">
    //2015-04-21  ↓
    function checkOrderCheck() {
        var orderNo = $('#orderNoForCheckBill').text();
        var isHasCheck = IsHasOrderCheck(orderNo);
        if (isHasCheck) {
            alert("该订单已对账了，如需取消，请联系门店组核实");
            return false;
        }
    }
    //2015-04-21  ↑

    function UserPromotionCode(promotionCode) {
        $.ajaxSettings.async = false;
        //2015-04-28  ↓
        var installState = '@ViewBag.InstallStatus';
        if (installState == '4Installing') {
            alert('安装中的订单不能使用优惠券');
            return false;
        }
        var orderId = '@ViewBag.OrderId';
        //2015-05-18  ↑
        var isRelease = false;
        var codePkid = "";
        $.getJSON("/Promotion/CheckOrderPromocode?orderId=" + orderId, function(data) {
            codePkid = data;
            if (data > 0 && !confirm("该订单已使用过优惠卷，确定释放原来的优惠卷使用该优惠卷？"))
                isRelease = true;
        });
        if (isRelease)
            return false;
        //2015-04-21  ↓
        checkOrderCheck();
        //2015-04-21  ↑

        $.ajax({
            type: "post",
            url: "/Promotion/UsePromoCode",
            data: { "id": orderId, "promoCode": promotionCode, "codePkid": codePkid },
            async: false,
            success: function (data) {
                if (data == "使用成功") {
                    location.reload();
                } else {
                    alert(data);
                }
            }
        });
    };

    function ExtendCouponEndTime(promotionCode) {
        $('#UpdateCouponEndTime').dialog({
            title: "延长优惠券结束时间",
            width: 300,
            height: 200,
            modal: true,
            buttons: {
                "确定": function () {
                    if ($("#ExtendedDays").val() == 0) {
                        alert("请选择一个延长的天数");
                        return false;
                    }
                    var extendedDays = $("#ExtendedDays").val();
                    $.ajax({
                        type: "post",
                        url: "/Promotion/ExtendCouponEndTime",
                        data: { "id": orderId, "promoCode": promotionCode, "extendedDays": $("#ExtendedDays").val() },
                        async: false,
                        success: function (data) {
                            if (data == "延期成功") {
                                $("#UpdateCouponEndTime").dialog("close");
                                alert(data);
                                $.ajax({
                                    type: "POST",
                                    timeout: 10000,
                                    url: "/Order/DisplayPromotionCodes",
                                    data: { "UserID": '@ViewBag.UserId', "OrderId": '@ViewBag.OrderId' },
                                    success: function (result) {
                                        $("#PromotionCodesDisplay").html(result);
                                    },
                                    beforeSend: function () {
                                        $("#PromotionCodesDisplay").show();
                                        $("#PromotionCodesDisplay").html('<img src="/images/loading.gif"/> 正在努力为您加载，请稍后...');
                                    }
                                });
                            } else {
                                alert(data);
                            }

                            $("#UpdateCouponEndTime").dialog("close");
                            $("#UpdateCouponEndTime").remove();
                        }
                    });
                }
            },
            "取消": function () {
                $(this).dialog("close");
            }
        });
    };
</script>
<div id="UpdateCouponEndTime" style="display:none">
    <select id="ExtendedDays">
        <option style="width:200px" value="0" selected="selected">请选择优惠券要延期的天数：</option>
        <option style="width:200px" value="1">1天</option>
        <option style="width:200px" value="2">2天</option>
        <option style="width:200px" value="3">3天</option>
        <option style="width:200px" value="4">4天</option>
        <option style="width:200px" value="5">5天</option>
        <option style="width:200px" value="6">6天</option>
        <option style="width:200px" value="7">7天</option>
    </select>
</div>
<h3>
    优惠券(业务系统不支持使用的优惠券，如遇到客户在下订单的时候也使用不成功，一定要在业务系统使用的，请找葛俊！！！)
</h3>
<table class="Promotion_tableContainer">
    <tr>
        <th>
            优惠代码
        </th>
        <th>
            使用类型
        </th>
        <th>
            优惠描述
        </th>
        <th>
            最低价
        </th>
        <th>
            优惠价格
        </th>
        <th>
            开始时间
        </th>
        <th>
            结束时间
        </th>
        <th>
            使用时间
        </th>
        <th>
            状态
        </th>
        <th>
            延长时间
        </th>
    </tr>
    @foreach (BizPromotionCode pc in Model)
    {
        <tr>
            <td>
                @pc.Code
            </td>
            <td>
                @switch (pc.Type)
                {
                    case (int)Promotion.PromotionType.All:
                    case (int)Promotion.PromotionType.TireBaoYang:
                        <label>轮胎保养优惠券</label>
                        break;
                    case (int)Promotion.PromotionType.Tire:
                    <label>轮胎优惠券</label>
                        break;
                    case (int)Promotion.PromotionType.BaoYang:
                    <label>保养优惠券</label>
                        break;
                    case (int)Promotion.PromotionType.BaoYangFree:
                    <label>保养免单券</label>
                        break;
                    case (int)Promotion.PromotionType.TuHuCash:
                    <label>途虎现金券</label>
                        break;
                    case (int)Promotion.PromotionType.BaoYangOrChePin:
                    <label>保养车品优惠卷</label>
                        break;
                    default:
                    <label style="color:red">业务系统不支持使用券</label>
                        break;
                }
            </td>
            <td>
                @pc.Description
            </td>
            <td>
                ￥@pc.MinMoney
            </td>
            <td>
                ￥@pc.Discount
            </td>
            <td>
                @string.Format("{0:yyyy-MM-dd}", pc.StartTime)
            </td>
            <td>
                @string.Format("{0:yyyy-MM-dd}", pc.EndTime)
            </td>
            <td>
                @string.Format("{0:g}", pc.UsedTime)
            </td>
            <td>

                @switch (pc.Status)
                {
                    case 0:
                        if ((pc.Type == (int)Promotion.PromotionType.All || pc.Type == (int)Promotion.PromotionType.TireBaoYang || pc.Type == (int)Promotion.PromotionType.Tire || pc.Type == (int)Promotion.PromotionType.BaoYang || pc.Type == (int)Promotion.PromotionType.BaoYangFree || pc.Type == (int)Promotion.PromotionType.TuHuCash) || Tuhu.Provisioning.SiteUtility.IsActiveByGroups("主管组,经理组,研发管理员,", User.Identity.Name, true))
                        {
                            <button onclick="UserPromotionCode(@pc.PkId)">
                                使用
                            </button>
                        }
                        break;
                    case 1:
                    <label style="color: saddlebrown">@pc.OrderId 已使用</label>
                        break;
                    case 2:
                    <label style="color: red">未激活</label>
                        break;
                }

            </td>
            <td>
                @switch (pc.Status)
                {
                    case 0:

                        if (Tuhu.Provisioning.SiteUtility.IsActiveByGroups("电销管理组,主管组,经理组,研发管理员,", User.Identity.Name, true))
                        {
                            <button onclick="ExtendCouponEndTime(@pc.PkId)">
                                延期
                            </button>
                        }

                        break;
                }

            </td>
        </tr>
    }
</table>
