@using Tuhu.Provisioning.DataAccess.Entity;
@{
    var categorys = ViewBag.Categorys as IEnumerable<CategoryBrandRankModel>;
    var brands = ViewBag.Brands as IEnumerable<CategoryBrandRankModel>;
    var category = ViewBag.Category as CategoryBrandRankModel;
    var selected = default(CategoryBrandRankModel);
}
<style>
    
    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .left, .right{
        width: 45%;
        padding: 20px;
    }
    table {
        width:100%;
    }

    tr.header td{background:#ccc;}
    input.text{width:100%;height:25px;line-height:25px;border-radius:5px;border: 1px solid #ccc;;}
    a.btn{ display: inline-block;padding:5px;border-radius: 5px;background:#eee;border:1px solid #ccc;text-align: center;width:50px;cursor:pointer}
</style>
<div>
    <div class="left">
        <table id="tbl_left">
            <tr class="header"><td colspan="2">排名品类选择</td></tr>
            <tr>
                <td width="100">品类名称</td>
                <td>
                    <select id="sel_category">
                        <option value="0">--请选择品类名称--</option>
                        @foreach (var item in categorys)
                        {
                            if (ViewBag.PKID == item.PKID)
                            {
                                selected = item;
                                <option value="@item.PKID" selected="selected">@item.Name</option>
                                
                            }
                            else
                            {
                                <option value="@item.PKID">@item.Name</option>
                            }
                        }
                    </select>
                    @if (selected != null)
                    {
                        <input type="hidden" name="category" data-name="Name" value="@selected.Name"/>
                        <input type="hidden" name="category" data-name="NameIndex" value="@selected.NameIndex"/>
                    }
                </td>
            </tr>
            <tr class="header"><td colspan="2">品类页面文案</td></tr>
            <tr><td>页面标题</td><td><input class="text" name="category" data-name="PageTitle" value="@category.PageTitle" /></td></tr>
            <tr><td>对话分享标题</td><td><input class="text" name="category" data-name="PageShareTitle" value="@category.PageShareTitle" /></td></tr>
            <tr><td>对话分享内容</td><td><input class="text" name="category" data-name="PageShareDescription" value="@category.PageShareDescription" /></td></tr>
            <tr><td>朋友圈分享内容</td><td><input class="text" name="category" data-name="PageShareContent" value="@category.PageShareContent" /></td></tr>
            <tr class="header"><td colspan="2">排名发布日期</td></tr>
            <tr><td>排名发布日期</td>
                <td>
                    <select id="sel_date">
                        @for (var i = new DateTime(2017, 11, 2); i < new DateTime(2017, 12, 1); i = i.AddDays(1))
                        {
                            if (ViewBag.Date == i.ToString("yyyy-MM-dd"))
                            {
                                <option value="@i.ToString("yyyy-MM-dd")" selected="selected">@i.ToString("yyyy-MM-dd")</option>
                            }
                            else
                            {
                                <option value="@i.ToString("yyyy-MM-dd")">@i.ToString("yyyy-MM-dd")</option>
                            }
                        }
                    </select>
                </td></tr>
            <tr class="header"><td colspan="2">排名品牌</td></tr>
            @{
                int index = 1;
            }
            @foreach (var item in brands)
            {
                <tr><td>排名第@(item.NameIndex)</td><td><input name="brand"  data-pkid="@item.PKID" data-index="@index" class="text" value="@item.Name" /><a class="btn" data-pkid="@item.PKID" name="btn_brand_delete">删除</a></td></tr>
                {
                    index++;
                }
            }
            @for (var i = index; i <= 10; i++)
            {
                <tr><td>排名第@(i)</td><td><input name="brand" data-pkid="0" data-index="@(i)" class="text" /></td></tr>
            }
            <tr id="tr_save"><td colspan="2"><a id="btn_save" class="btn">保存</a></td></tr>
        </table>
    </div>
    <div class="right">
        <table id="tbl_right">
            <tr><td colspan="3"><a class="btn" id="btn_addCategory">添加品类</a></td></tr>
            <tr class="header"><td>名称</td><td width="50">顺序</td><td width="150">操作</td></tr>
            @foreach (var item in categorys)
            {
                <tr id="tr_right_@item.PKID"><td><input class="text" value="@item.Name" /></td><td width="50"><input class="text" value="@item.NameIndex" /></td><td width="150"><a data-pkid="@item.PKID" class="btn" name="btn_category_delete">删除</a><a data-pkid="@item.PKID" class="btn" name="btn_category_save">保存</a></td></tr>
            }
            <tr id="tr_addCategory" style="display:none"><td><input class="text" /></td><td><input class="text" /></td><td><a id="btn_saveCategory" class="btn">添加</a></td></tr>
        </table>
    </div>
    <div style="clear:both;"></div>
</div>
@section scripts{
    <script>
        (function() {

            var ids = [
                "btn_addCategory", "sel_category", "sel_date", "btn_save", "tr_addCategory", "btn_saveCategory",
                "tbl_left", "tbl_right", "tr_save"
            ];
            var el = {};
            for (var i in ids) {
                el[ids[i]] = jQuery("#" + ids[i]);
            }
            var events = {
                addCategory: function(category, callback) {
                    jQuery.ajax({
                        url: "/CBR20171111/AddCategory",
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(category),
                        dataType: "json",
                        success: callback
                    });
                },
                deleteCategory: function(id, callback) {
                    jQuery.ajax({
                        url: "/CBR20171111/DeleteCategory",
                        type: 'POST',
                        data: { id: id },
                        dataType: "json",
                        success: callback
                    });
                },
                saveCategory: function(category, callback) {
                    jQuery.ajax({
                        url: "/CBR20171111/SaveCategory",
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(category),
                        dataType: "json",
                        success: callback
                    });
                },
                saveCategoryBrand: function(categorys, callback) {
                    jQuery.ajax({
                        url: "/CBR20171111/SaveCategoryBrand",
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(categorys),
                        dataType: "json",
                        success: callback
                    });
                },
                change: function() {
                    location.href = "/CBR20171111/Index?id=" + el.sel_category.val() + "&date=" + el.sel_date.val();
                }
            }
            el.sel_category.bind("change", events.change);
            el.sel_date.bind("change", events.change);
            el.tbl_left.delegate("a[name=btn_brand_delete]",
                "click",
                function() {
                    events.deleteCategory(jQuery(this).data("pkid"),
                        function (data) {
                            if (data.code == 1)
                                location.reload();
                            else
                                alert("删除失败");
                        });
                });
            el.tbl_right.delegate("a[name=btn_category_delete]",
                "click",
                function() {
                    events.deleteCategory(jQuery(this).data("pkid"),
                        function(data) {
                            if (data.code == 1)
                                location.reload();
                            else
                                alert("删除失败");
                        });
                }).delegate("a[name=btn_category_save]",
                "click",
                function() {
                    var pkid = jQuery(this).data("pkid");
                    var name = jQuery("#tr_right_" + pkid).find("input:first").val();
                    var nameIndex = jQuery("#tr_right_" + pkid).find("input:last").val();
                    events.saveCategory({
                            Name: name,
                            PKID: pkid,
                            NameIndex: nameIndex
                        },
                        function(data) {
                            if (data.code == 1) {
                                if (data.code == 1) {
                                    alert("保存成功");
                                } else {
                                    alert("保存失败");
                                }
                            }
                        });
                });

            el.btn_addCategory.bind("click",
                function() {
                    el.tr_addCategory.show();
                    el.tr_addCategory.find("input").val("");
                });
            el.btn_saveCategory.bind("click",
                function() {
                    var categoryName = el.tr_addCategory.find("input:first").val();
                    var index = el.tr_addCategory.find("input:last").val();
                    events.addCategory({
                            Name: categoryName,
                            NameIndex: index
                        },
                        function(data) {
                            if (data.code == 1) {
                                location.reload();
                            }
                        });
                    el.tr_addCategory.hide();
                });


            el.btn_save.bind("click",
                function() {
                    var parentPkid = el.sel_category.val();
                    var name = el.sel_category.text();
                    var date = el.sel_date.val();
                    var models = [];
                    var category = { PKID: parentPkid, Name: name };
                    jQuery("input[name=category]").each(function() {
                        category[jQuery(this).data('name')] = jQuery(this).val();
                    });
                    if (category.PKID < 1) {
                        alert("请先选择一个品类");
                        return;
                    }
                    models.push(category);
                    jQuery("input[name=brand]").each(function() {
                        var name = jQuery(this).val().trim();
                        if (name) {
                            models.push({
                                ParentPkid: parentPkid,
                                Date: date,
                                Name: name,
                                NameIndex: jQuery(this).data("index"),
                                PKID: jQuery(this).data("pkid")
                            });
                        }

                    });
                    events.saveCategoryBrand(models,
                        function(data) {
                            if (data.code == 1) {
                                alert("保存成功");
                            } else {
                                alert("保存失败");
                            }
                        });
                });
        })();
    </script>
}