@{
	ViewBag.Title = "优惠券活动页配置";
	//获取数据集合
	var CouponSettingModelList = ViewBag.CouponSettingModelList as IList<Tuhu.Provisioning.DataAccess.Entity.CouponActivityModel>;
}
<style>
	table {
		width: 100%;
		text-align: center;
	}

		table tr th {
			text-align: center;
		}
</style>

<p>
	<h2 style="float:left;">优惠券活动页配置<span style="float: right;"><input type="button" id="addActivityPage" onclick="btnEdit()" value="新增活动页" /></span></h2>
</p>

<table>
	@*<tr>
			<td><input type="button" id="addActivityPage" onclick="couponEdit()" value="测试按钮" /></td>
		</tr>*@
	<tr>
		<th width="20%">活动描述</th>
		<th width="10%">发放渠道</th>
		<th width="10%">限发优惠券数量</th>
		<th width="10%">是否有效</th>
		<th width="40%">地址</th>
		<th width="10%">操作</th>
	</tr>
	@if (CouponSettingModelList != null && CouponSettingModelList.Count > 0)
    {
        foreach (var item in CouponSettingModelList.OrderByDescending(o => o.CreateDateTime))
        {
            <tr>
                <td>@item.ActivityName</td>
                <td>@item.ActivityChannel</td>
                <td>@item.CouponNum</td>
                <td style="color:green;">@(item.IsValid > 0 ? "有效" : "无效")</td>
                <td>
                    <button type="button" onclick="GetDwz(this)">显示短网址</button>
                    @if (item.CreateDateTime > Convert.ToDateTime("2016-07-13"))
                    {
                        <a href="https://wx.tuhu.cn/PromotionActivity/IndexV1?activityID=@(item.ActivityID)" target="_blank">http://wx.tuhu.cn/PromotionActivity/IndexV1?activityID=@(item.ActivityID)</a>
                    }
                    else
                    {
                        <a href="https://wx.tuhu.cn/PromotionActivity/@(item.ActivityID).html" target="_blank">http://wx.tuhu.cn/PromotionActivity/@(item.ActivityID).html</a>
                    }
                  
                </td>
                <td>
                    <input type="button" onclick="btnEdit('@item.ActivityID')" value="修改" />
                    <input type="button" onclick="btnDelete('@item.ActivityID', this)" value="删除" />
                </td>
            </tr> }
    }
</table>
<div id="AddItem" style="display: none"></div>
<div id="EditItem" style="display:none; "></div>
<link href="/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/jquery-ui-timepicker-addon/jquery-ui-sliderAccess.js" type="text/javascript"></script>
<script src="/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
<script src="/Scripts/ajaxfileupload.js"></script>
<script>
	jQuery.validator.addMethod("lt", function (value, element, other) {
		var otherValue = $("[name=" + other + "]", this.currentForm).val()
		return !otherValue || value < otherValue;
	}, "需要比另一个值小");
	jQuery.validator.addMethod("ltn", function (value, element, other) {
		var otherValue = parseFloat($("[name=" + other + "]", this.currentForm).val());
		return !otherValue || isNaN(otherValue) || parseFloat(value) < otherValue;
	}, "需要比另一个数值小");

	function GetDwz(target) {
		target = $(target).next();
		$.get("GetDwz", { url: target.attr("href") })
			.fail(function () {
				alert("服务器异常，请稍后重试！");
			})
			.done(function (url) {
				if (url)
					target.text(url);
				else
					alert("显示失败，请稍后重试！");
			});
	}

	function couponEdit() {
		$.ajax({
			type: "POST",
			url: "/PromotionActivity/EditCoupon",
			data: "couponStr=" + couponStr,
			success: function (msg) {
				if (msg == '0')
					alert("操作失败！");
				else {
					alert("操作成功！");
				}
			}
		});
	}

	function deletCoupon(target) {
		$(target).closest("form").remove();
	}

	var saving = false;
	//修改/添加活动页
	function btnEdit(activityID) {
		$("#EditItem").html("").load('/PromotionActivity/Edit?activityID=' + (activityID || ""));
		$("#EditItem").dialog({
			title: "编辑活动页配置",
			width: 850,
			height: 1000,
			modal: true,
			resizable: false,
			buttons: {
				"保存": function () {
					var isvalid = true;
					if (!$("#editActivity>form").valid())
						isvalid = false;
					$("#showTemplate>form").each(function () {
						if (!$(this).valid())
							isvalid = false;
					});
					if (!$("#SuccessPage").valid())
						isvalid = false;
					if (!$("#ErrorPage").valid())
						isvalid = false;

					var data = GetTableData();
					console.log(JSON.stringify( data));
					if (isvalid && data.Coupons.length == 0) {
						alert("必须配置有优惠券");
						isvalid = false;
					}

					if (isvalid) {
						saving = true;
						$.ajax({
							type: "POST",
							url: "/PromotionActivity/Edit",
							data: { activityID: activityID || "", data: JSON.stringify(data) },
							success: function (msg) {
								saving = false;
								if (msg == '0')
									alert("保存失败！");
								else {
									alert("保存成功！");
									location.reload();
								}
							}
						});
					}
				},
				"取消": function () {
					$(this).dialog("close");
				}
			}
		});
	}

	//删除活动页
	function btnDelete(activityID, target) {
		if (confirm("确认要删除该条数据吗？")) {
			$.ajax({
				type: "POST",
				timeout: 10000,
				url: "/PromotionActivity/Delete/?activityID=" + activityID,
				success: function (result) {
					if (result == "1") {
						alert("删除成功！");
						$(target).closest("tr").remove();
					}
					else {
						alert("删除失败！");
					}
				}
			});
		}
	}

	function UploadImg(self) {
		var target = $(self).parent();

		if (self.value) {
			self.name = self.id = Date.now();
			$.ajaxFileUpload({
				url: '/WebSiteHomeAd/ImageUploadToAli',
				fileElementId: self.id,
				data: { filepath: '/activity/Images/' },
				dataType: 'text',
				success: function (src) {
					src = $(src).text() || src;
					if (src && src.indexOf("/") == 0) {
						var wxhost = window.location.host;
						var hostend = wxhost.substring(wxhost.lastIndexOf('.') + 1, wxhost.length);
						if (hostend != "cn") {
							target.children("img").attr('src', "http://image.tuhu.test" + src).next().val("http://image.tuhu.test" + src);
						} else {
							src = "http://image.tuhu.cn" + src;
							var img = new Image();
							img.onload = function () {
								target.children("img").attr('src', src).next().val(src);
							}
							img.onerror = function () {
								alert("上传失败！");
							}
							img.src = src;
						}
					} else {
						alert("上传失败！");
					}
				},
				error: function () {
					alert("上传失败！");
				}
			});
		}
	}

	var mainValidateOptions = {
		rules: {
			ActivityName: "required",
			ActivityChannel: "required",
			CouponNum: {
				digits: true,
				min: 1
			},
			//StartTime: {
			//	date: true,
			//	required: true,
			//	lt: "EndTime"
			//},
			//EndTime: {
			//	date: true,
			//	required: true
			//},
			BannerImg: "required",
			ActivityRuleImg: "required"
		},
		messages: {
			ActivityName: "请输入活动名称",
			ActivityChannel: "请输入活动渠道",
			CouponNum: {
				digits: "请输入大于0的整数或不填",
				min: "请输入大于0的整数或不填"
			},
			StartTime: {
				date: "格式不正确",
				required: "请选择开始时间",
				lt: "开始时间必须小于结束时间"
			},
			EndTime: {
				date: "日期格式不正确",
				required: "请选择结束时间"
			},
			BannerImg: "请上传头图",
			ActivityRuleImg: "请上传底图"
		}
	};
	var couponValidateOptions = {
		rules: {
			Money: {
				required: true,
				digits: true,
				min: 0,
				ltn: "MinMoney"
			},
			MinMoney: {
				required: true,
				digits: true,
				min: 0
			},
			StartDate: {
				required: true,
				lt: "EndDate"
			},
			EndDate: "required",
			ValidDays: {
				required: true,
				digits: true,
				min: 1
			},
			Instructions: {
				required: true,
				maxlength: 20
			}
		},
		messages: {
			Money: {
				required: "请输入优惠金额",
				digits: "请输入大于0的整数",
				min: "请输入大于0的整数",
				ltn: "优惠金额必须小于最低金额"
			},
			MinMoney: {
				required: "请输入最低金额",
				digits: "请输入大于0的整数",
				min: "请输入大于0的整数"
			},
			StartDate: {
				required: "请选择开始日期",
				lt: "开始日期必须小于结束日期"
			},
			EndDate: "请选择结束日期",
			ValidDays: {
				required: "请输入大于0的整数",
				digits: "请输入大于0的整数",
				min: "请输入大于0的整数"
			},
			Instructions: {
				required: "请输入说明",
				maxlength: "不超过20个字符"
			}
		}
	};
	var pageValidateOptions = {
		rules: {
			TopImg: "required",
			CenterImg: "required",
			BottomImg: "required",
			IOSLink: {
				required: true,
				url: true
			},
			AndroidLink: {
				required: true,
				url: true
			},
			JumpMillisecond: {
				required: true,
				digits: true,
				min: 999
			}
		},
		messages: {
			TopImg: "请上传头图",
			CenterImg: "请上传中图",
			BottomImg: "请上传底图",
			IOSLink: {
				required: "请输入链接",
				url: "请输入有效链接"
			},
			AndroidLink: {
				required: "请输入链接",
				url: "请输入有效链接"
			},
			JumpMillisecond: {
				required: "请输入自动跳转毫秒数",
				digits: "请输入大于999的整数",
				min: "请输入大于999的整数"
			}
		}
	};

	//添加
	function GetTableData() {
		var Coupons = [];
		$("#showTemplate>form").each(function () {
			var tab = $(this);
			Coupons.push({
			    PKID:   $("[name=pkid]", tab).val() ,  //tab.data("pkid"),
				CouponType: $("[name=CouponType]", tab).val(),
				Money: $("[name=Money]", tab).val(),
				MinMoney: $("[name=MinMoney]", tab).val(),
				DateWay: $("[name=DateWay]:checked", tab).val(),
				StartDate: $("[name=StartDate]", tab).val(),
				EndDate: $("[name=EndDate]", tab).val(),
				ValidDays: $("[name=ValidDays]", tab).val(),
				Instructions: $("[name=Instructions]", tab).val(),
			    CouponNum:$("[name=CouponNum]",tab).val()||0
			});
		});
		return {
			ActivityName: $("#editActivity [name=ActivityName]").val(),
			ActivityChannel: $("#editActivity [name=ActivityChannel]").val(),
			StartTime: $("#editActivity [name=StartTime]").val(),
			EndTime: $("#editActivity [name=EndTime]").val(),
			CouponNum: $("#editActivity [name=CouponNum]").val()||0,
			IsNewUser: $("#editActivity [name=IsNewUser]:checked").val(),
			BannerImg: $("#editActivity [name=BannerImg]").val(),
			ActivityRuleImg: $("#editActivity [name=ActivityRuleImg]").val(),
			ActivityType: $("#editActivity [name=ActivityType]").val(),
			Coupons: Coupons,
			SuccessPage: {
				PageNumber: 1,
				TopImg: $("#SuccessPage [name=TopImg]").val(),
				CenterImg: $("#SuccessPage [name=CenterImg]").val(),
				BottomImg: $("#SuccessPage [name=BottomImg]").val(),
				IOSLink: $("#SuccessPage [name=IOSLink]").val(),
				AndroidLink: $("#SuccessPage [name=AndroidLink]").val(),
				JumpMillisecond: $("#SuccessPage [name=skipWay_1]:checked").val() || $("#SuccessPage [name=JumpMillisecond]").val()
			},
			ErrorPage: {
				PageNumber: 0,
				TopImg: $("#ErrorPage [name=TopImg]").val(),
				CenterImg: $("#ErrorPage [name=CenterImg]").val(),
				BottomImg: $("#ErrorPage [name=BottomImg]").val(),
				IOSLink: $("#ErrorPage [name=IOSLink]").val(),
				AndroidLink: $("#ErrorPage [name=AndroidLink]").val(),
				JumpMillisecond: $("#ErrorPage [name=skipWay_1]:checked").val() || $("#ErrorPage [name=JumpMillisecond]").val()
			}
			
		};
	}
</script>
