@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.QZTJLogModel>
@{
    ViewBag.Title = "强制推荐日志查看";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper ShowChange(string oldC, string newC, bool isImg)
{
    if (string.IsNullOrWhiteSpace(oldC))
   {
           if (!string.IsNullOrWhiteSpace(newC))
           {
               if (isImg)
               {
                       <td>无-><a href="@("https://image.tuhu.cn"+newC)" target="_blank">查看图片</a></td>
               }
               else
               {
                       <td>无->@(newC)</td>
               }
           }
           else
           {
                   <td>无</td>
           }
   }
   else
   {
          if (!string.IsNullOrWhiteSpace(newC))
          {
               if (newC == oldC)
               {
                   <td>无变化</td>
               }
               else
               {
                   if (isImg)
                   {
                       <td><a href="@("https://image.tuhu.cn" + oldC)" target="_blank" >查看图片</a>-><a href="@("https://image.tuhu.cn" + newC)" target="_blank">查看图片</a></td>
                   }
                   else
                   {
                   <td>@(oldC)->@(newC)</td>
   
                   }
               }
           }
           else
           {
               if (isImg)
               {
                   <td><a href="@("https://image.tuhu.cn" + oldC)" target="_blank">查看图片</a>->无</td>
               }
               else
               {
                   <td>@(oldC)->无 </td>
               }
           }
   }
}

@if (Model.Any())
{
<table width="100%">
    <tr>
        <th>PID</th>
        <th>操作人</th>
        <th>操作</th>
        <th>操作明细</th>
        <th>操作时间</th>
    </tr>
    @foreach (var OPR in Model)
    {
        <tr>
            <td>@Request.QueryString["pid"]</td>
            <td>@OPR.Author</td>
            <td>@OPR.Operation</td>
            <td>
                <table>
                    <tr>
                        <th></th>
                        <th>PID</th>
                        <th>推荐原因</th>
                        <th>产品图片</th>
                    </tr>
                    <tr>
                        <td>第一个</td>
                        @ShowChange(OPR.LogValue.OldPID1, OPR.LogValue.NewPID1, false)
                        @ShowChange(OPR.LogValue.OldReason1, OPR.LogValue.NewReason1, false)
                        @ShowChange(OPR.LogValue.OldImage1, OPR.LogValue.NewImage1, true)
                    </tr>
                    <tr>
                        <td>第二个</td>
                        @ShowChange(OPR.LogValue.OldPID2, OPR.LogValue.NewPID2, false)
                        @ShowChange(OPR.LogValue.OldReason2, OPR.LogValue.NewReason2, false)
                        @ShowChange(OPR.LogValue.OldImage2, OPR.LogValue.NewImage2, true)
                    </tr>
                    <tr>
                        <td>第三个</td>
                        @ShowChange(OPR.LogValue.OldPID3, OPR.LogValue.NewPID3, false)
                        @ShowChange(OPR.LogValue.OldReason3, OPR.LogValue.NewReason3, false)
                        @ShowChange(OPR.LogValue.OldImage3, OPR.LogValue.NewImage3, true)
                    </tr>
                </table>
            </td>
            <td>@OPR.ChangeDateTime</td>
        </tr>
    }
</table>
}
else
{
    <h1>无操作日志</h1>
}

