@{
    ViewBag.Title = "活动页配置日志";
}
@model Tuhu.Provisioning.DataAccess.Entity.ConfigHistory



<center><h1>活动页(简化版)配置日志</h1></center> 
<table width="100%">
    <tr>
        <td>日志编号:</td>
        <td>
            @Model.PKID
        </td>
        <td width="50%">操作时间:</td>
        <td>
            @Model.ChangeDatetime
        </td>
    </tr>
    <tr>
        <td>修改人:</td>
        <td>
            @Model.Author
        </td>
        <td>
            操作方式:
        </td>
        <td>
            @Model.Operation
        </td>
    </tr>
    <tr>
        <td colspan="2">
            修改前
        </td>
        <td colspan="2">
            修改后
        </td>
    </tr>
    <tr>
        <td colspan="2" style="width:50%;vertical-align: initial;">
  
            @if (!string.IsNullOrWhiteSpace(Model.BeforeValue))
            {
                List<Tuhu.Provisioning.DataAccess.Entity.SE_ActivityDeatil> listAfter = null;
                if (!string.IsNullOrWhiteSpace(Model.AfterValue))
                {
                    Newtonsoft.Json.Linq.JObject jsonAfter = Newtonsoft.Json.Linq.JObject.Parse(Model.AfterValue);
                    listAfter = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Tuhu.Provisioning.DataAccess.Entity.SE_ActivityDeatil>>(jsonAfter["Items"].ToString()).OrderBy(o => o.GROUP).ThenBy(o => o.OrderBy).ToList();
                }

                int i = 0;
                Newtonsoft.Json.Linq.JObject json = Newtonsoft.Json.Linq.JObject.Parse(Model.BeforeValue);
                List<Tuhu.Provisioning.DataAccess.Entity.SE_ActivityDeatil> list = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Tuhu.Provisioning.DataAccess.Entity.SE_ActivityDeatil>>(json["Items"].ToString());

                foreach (var item in list.OrderBy(o => o.GROUP).ThenBy(o => o.OrderBy))
                {
                    Tuhu.Provisioning.DataAccess.Entity.SE_ActivityDeatil compareModel = null;
                    if (listAfter != null && listAfter.Count > i)
                    {
                        compareModel = listAfter[i];
                    }
                    else
                    {
                        compareModel = new Tuhu.Provisioning.DataAccess.Entity.SE_ActivityDeatil();
                    }


                    <span>组号:</span><span style="color:@(item.GROUP == compareModel.GROUP?"":"red")">@(item.GROUP)</span><br />
                    <span>活动类型:</span><span style="color:@(item.Type == compareModel.Type?"":"red")">@(item.Type == 0 ? "轮胎" : (item.Type == 1 ? "车品" : (item.Type == 2 ? "链接" : (item.Type == 3 ? "图片" : (item.Type == 4 ? "优惠券" : (item.Type == 5 ? "保养" : (item.Type == 6 ? "限购轮胎" : (item.Type == 7 ? "限购车品" : (item.Type == 8 ? "活动规则" : (item.Type == 9 ? "秒杀" : (item.Type == 10 ? "轮毂" : "限购轮毂")))))))))))</span><br />
                    <span>是否图片:</span><span style="color:@(item.IsImage == compareModel.IsImage?"":"red")">@(item.IsImage == 0 ? "模板" : "图片") </span><br />
                    <span>显示方式: </span><span style="color:@(item.DisplayWay == compareModel.DisplayWay?"":"red")">@(item.DisplayWay == 1 ? "横向" : "竖向")</span><br />
                    <span>PID:</span><span style="color:@(item.PID == compareModel.PID?"":"red")">@(item.PID) </span><br />
                    <span>产品名称:</span><span style="color:@(item.ProductName == compareModel.ProductName?"":"red")">@item.ProductName</span><br />
                    <span>产品库原价:</span><span style="color:@(item.ActivityPrice == compareModel.ActivityPrice?"":"red")">@item.ActivityPrice</span><br />
                    <span>活动ID：</span><span style="color:@(item.ActivityFlashID == compareModel.ActivityFlashID?"":"red")">@item.ActivityFlashID</span><br />
                    <span>优惠券ID：</span><span style="color:@(item.CouponID == compareModel.CouponID?"":"red")">@item.CouponID</span><br />
                    <span>图片:</span><span style="color:@(item.SmallImage == compareModel.SmallImage?"":"red")"><img src="@item.SmallImage" width="30" height="30" /></span><br />
                    <span>图片Url:</span><span style="color:@(item.BigImage == compareModel.BigImage?"":"red")">@item.BigImage</span><br />
                    <span>描述:</span><span style="color:@(item.Description == compareModel.Description?"":"red")">@item.Description</span><br />
                    <span>URL:</span><span style="color:@(item.AppUrl == compareModel.AppUrl?"":"red")">@item.AppUrl</span><br />
                    <span>微信URL：</span><span style="color:@(item.WapUrl == compareModel.WapUrl?"":"red")">@item.WapUrl</span><br />
                    <span>官网:</span><span style="color:@(item.PCUrl == compareModel.PCUrl?"":"red")">@item.PCUrl</span><br />
                    <span>排序:</span><span style="color:@(item.OrderBy == compareModel.OrderBy?"":"red")">@item.OrderBy</span>
                    <span>APP处理值(IOS):</span><span style="color:@(item.HandlerIOS == compareModel.HandlerIOS?"":"red")">@item.HandlerIOS</span><br />
                    <span>APP处理值(Android):</span><span style="color:@(item.HandlerAndroid == compareModel.HandlerAndroid?"black":"red")">@item.HandlerAndroid</span><br />
                    <span>特殊通讯值(IOS):</span><span style="color:@(item.SOAPIOS == compareModel.SOAPIOS?"":"red")">@item.SOAPIOS</span><br />
                    <span>特殊通讯值(Android):</span><span style="color:@(item.SOAPAndroid == compareModel.SOAPAndroid? "" : "red")">@item.SOAPAndroid</span><br />

                    <br/>
                    <br/>
                    i++;
                }
            }

        </td>

        <td colspan="2" style="width:50%;vertical-align: initial;">
            @if (!string.IsNullOrWhiteSpace(Model.BeforeValue))
            {
                Newtonsoft.Json.Linq.JObject json = Newtonsoft.Json.Linq.JObject.Parse(Model.AfterValue);
                List<Tuhu.Provisioning.DataAccess.Entity.SE_ActivityDeatil> list = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Tuhu.Provisioning.DataAccess.Entity.SE_ActivityDeatil>>(json["Items"].ToString());
                foreach (var item in list.OrderBy(o => o.GROUP).ThenBy(o => o.OrderBy))
                {
                    <span>组号:</span><span>@item.GROUP</span><br />
                    <span>活动类型:</span><span>@(item.Type == 0 ? "轮胎" : (item.Type == 1 ? "车品" : (item.Type == 2 ? "链接" : (item.Type == 3 ? "图片" : (item.Type == 4 ? "优惠券" : (item.Type == 5 ? "保养" : (item.Type == 6 ? "限购轮胎" : (item.Type == 7 ? "限购车品" : (item.Type == 8 ? "活动规则" : (item.Type == 9 ? "秒杀" : (item.Type == 10 ? "轮毂" : "限购轮毂")))))))))))</span><br />
                    <span>是否图片:</span><span>@(item.IsImage == 0 ? "模板" : "图片") </span><br />
                    <span>显示方式: </span><span>@(item.DisplayWay == 1 ? "横向" : "竖向")</span><br />
                    <span>PID:</span><span>@(item.PID) </span><br />
                    <span>产品名称:</span><span>@item.ProductName</span><br />
                    <span>产品库原价:</span><span>@item.ActivityPrice</span><br />
                    <span>活动ID：</span><span>@item.ActivityFlashID</span><br />
                    <span>优惠券ID：</span><span>@item.CouponID</span><br />
                    <span>图片:</span><span><img src="@item.SmallImage" width="30" height="30" /></span><br />
                    <span>图片Url:</span><span>@item.BigImage</span><br />
                    <span>描述:</span><span>@item.Description</span><br />
                    <span>URL:</span><span>@item.AppUrl</span><br />
                    <span>微信URL：</span><span>@item.WapUrl</span><br />
                    <span>官网:</span><span>@item.PCUrl</span><br />
                    <span>排序:</span><span>@item.OrderBy</span>
                    <span>APP处理值(IOS):</span><span>@item.HandlerIOS</span><br />
                    <span>APP处理值(Android):</span><span>@item.HandlerAndroid</span><br />
                    <span>特殊通讯值(IOS):</span><span>@item.SOAPIOS</span><br />
                    <span>特殊通讯值(Android):</span><span>@item.SOAPAndroid</span><br />

                    <br />
                    <br />
                }
            }

        </td>
    </tr>
</table>
