@model Tuhu.Provisioning.DataAccess.Entity.PointsTransactionDescriptionConfig
@{
    Layout = null;
}

<style>
    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    a {
        color: cornflowerblue;
    }
    textarea {
        width:300px;
        height:150px;
    }
</style>
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>

<form action="/PointsTransactionDescriptionConfig/Edit" method="post">
    <input type="hidden" value="@Model.IntegralRuleID" name="IntegralRuleID" />
    <div>
        <table>
            <tr>
                <td>状态</td>               
                <td>
                    @Html.RadioButtonFor(m => m.IsActive, true) 启用
                    @Html.RadioButtonFor(m => m.IsActive, false) 禁用
                </td>
            </tr>

            <tr>
                <td>积分类型</td>              
                <td>
                    @Html.RadioButtonFor(m => m.IntegralType, 0) 收入
                    @Html.RadioButtonFor(m => m.IntegralType, 1) 支出
                </td>
            </tr>
            <tr>
                <td>积分交易条件</td>
                <td>
                    <textarea id="IntegralConditions" name="IntegralConditions" >@Model.IntegralConditions</textarea>
                </td>
            </tr>
            <tr>
                <td>积分交易描述</td>
                <td>
                    <textarea id="IntegralDescribe" name="IntegralDescribe" >@Model.IntegralDescribe</textarea>
                </td>
            </tr>
            <tr>
                <td>积分交易类型</td>
                <td>
                    <textarea id="Remark" name="Remark">@Model.Remark</textarea>
                </td>
            </tr>
            <tr>
                <td>积分交易描述参数</td>
                <td>
                    <textarea id="NeedeKeys" name="NeedeKeys">@Model.NeedeKeys</textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="保存" class="btn" /></td>
            </tr>
        </table>
    </div>
</form>
