@using Tuhu.Provisioning.Business;
@using Tuhu.Provisioning.DataAccess.Entity;
@using Newtonsoft.Json;
@model MeiRongAcitivityConfig
@{
    List<Region>
    ProvinceList = ViewBag.ProvinceList as List<Region>
        ;
    List<ShopCosmetologyServers> shopServers = ViewBag.ShopService as List<ShopCosmetologyServers>;
}
<link href="~/Scripts/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="~/Scripts/zTree/js/jquery.ztree.core-3.5.min.js" type="text/javascript"></script>
<script src="~/Scripts/zTree/js/jquery.ztree.excheck-3.5.min.js" type="text/javascript"></script>
<style>
    .chkall {
        color: red;
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: cornflowerblue;
        border: solid 1px cornflowerblue;
    }

    a {
        color: cornflowerblue;
    }
</style>
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>

<form action="/MeiRongAcitivityConfig/Edit" method="post">
    <input type="hidden" value="@Model.Id" name="Id" />
    <input type="hidden" value="@Model.ActivityId" name="ActivityId" />
    <input type="hidden" value="" name="PrivilegeType" />
    <div>
        <table style="width:100%">
            <tr>
                <td>活动名称</td>
                <td>
                    <input type="text" value="@Model.Name" name="Name" maxlength="7" placeholder="最多输入7个字符" />
                    <label style="color:red">*</label>
                </td>
            </tr>
            <tr>
                <td>生效状态</td>
                <td>
                    @Html.RadioButtonFor(m => m.Status, 1) 启用
                    @Html.RadioButtonFor(m => m.Status, 0) 禁用
                </td>
            </tr>
            <tr>
                <td>报名起止时间</td>
                <td>
                    <input type="datetime-local" value="@(Model.SignUpStartTime.Value.ToString("yyyy-MM-ddTHH:mm"))" na name="SignUpStartTime" />—
                    <input type="datetime-local" value="@(Model.SignUpEndTime.Value.ToString("yyyy-MM-ddTHH:mm"))" na name="SignUpEndTime" />

                </td>
            </tr>
            <tr>
                <td>活动起止时间</td>
                <td>
                    <input type="datetime-local" @(Model.Id != 0 ? "readonly" : "") value="@(Model.PlanStartTime.HasValue?Model.PlanStartTime.Value.ToString("yyyy-MM-ddTHH:mm"):"")" name="PlanStartTime" />—
                    <input type="datetime-local" @(Model.Id != 0 ? "readonly" : "") value="@(Model.ActivityEndTime.Value.ToString("yyyy-MM-ddTHH:mm"))" name="ActivityEndTime" />
                </td>
            </tr>
            <tr>
                <td>活动品类</td>
                <td>
                    <fieldset style="width:300px">
                        <ul id="ProductConfig_CategoryTree" class="ztree"></ul>
                    </fieldset>
                    <label style="color:red">*</label>
                </td>
            </tr>

            <tr>
                <td>活动限价</td>
                <td>
                    <input type="number" value="@Model.MinPrice" name="MinPrice" />—
                    <input type="number" value="@Model.MaxPrice" name="MaxPrice" />
                </td>
            </tr>
            <tr>
                <td>每天的最大件数</td>
                <td><input type="number" value="@Model.EverydayQuantity" name="EverydayQuantity" /></td>
            </tr>
            <tr>
                <td>最新报名门店数</td>
                <td><input type="number" value="@Model.MinShopQuantity" name="MinShopQuantity" /></td>
            </tr>
            <tr>
                <td>适配车型等级</td>
                <td>
                    <fieldset style="width:300px">
                        <div class="VehicleGrade">
                            <input type="checkbox" value="1" @((Model.VehicleGrade & 1) == 1 ? "checked" : "" ) value1="低端车" />
                            <label>低端车</label>
                            <input type="checkbox" value="2" @((Model.VehicleGrade & 2) == 2 ? "checked" : "" ) value1="中端车" />
                            <label>中端车</label>
                            <input type="checkbox" value="4" @((Model.VehicleGrade & 4) == 4 ? "checked" : "" ) value1="高端车" />
                            <label>高端车</label>
                            <input type="checkbox" value="8" @((Model.VehicleGrade & 8) == 8 ? "checked" : "" ) value1="无" />
                            <label>无</label>
                            <label style="color:red">  *</label>
                        </div>

                    </fieldset>

                </td>
            </tr>
            <tr>
                <td>适用车型</td>
                <td>
                    <fieldset style="width:350px">
                        <div class="ApplicationVehicle">
                            <input type="checkbox" value="1" @((Model.ApplicationVehicle & 1) == 1 ? "checked" : "" ) value1="五座轿车" />
                            <label>五座轿车</label>
                            <input type="checkbox" value="2" @((Model.ApplicationVehicle & 2) == 2 ? "checked" : "" ) value1="SUV" />
                            <label>SUV</label>
                            <input type="checkbox" value="4" @((Model.ApplicationVehicle & 4) == 4 ? "checked" : "" ) value1="MPV" />
                            <label>MPV</label>
                            <input type="checkbox" value="8" @((Model.ApplicationVehicle & 8) == 8 ? "checked" : "" ) value1="SUV/MPV" />
                            <label>SUV/MPV</label>
                            <input type="checkbox" value="16" @((Model.ApplicationVehicle & 16) == 16 ? "checked" : "" ) value1="无" />
                            <label>无</label>
                            <label style="color:red">  *</label>
                        </div>
                    </fieldset>

                </td>
            </tr>

            <tr>
                <td>美容评分</td>
                <td>
                    <fieldset style="width:300px">
                        <div class="MeiRongAppraise">
                            <input type="checkbox" value="1" @((Model.MeiRongAppraise & 1) == 1 ? "checked" : "" ) value1="1-3分" />
                            <label>1-3分</label>
                            <input type="checkbox" value="2" @((Model.MeiRongAppraise & 2) == 2 ? "checked" : "" ) value1="3-4分" />
                            <label>3-4分</label>
                            <input type="checkbox" value="4" @((Model.MeiRongAppraise & 4) == 4 ? "checked" : "" ) value1="4-5分" />
                            <label>4-5分</label>
                        </div>
                    </fieldset>
                </td>
            </tr>

            <tr>
                <td>活动要求</td>
                <td>
                    <textarea id="ActivityRequire" style="width:300px;" name="ActivityRequire">@Model.ActivityRequire</textarea>
                </td>
            </tr>
            <tr>
                <td>活动通知</td>
                <td>
                    <textarea id="ActivityNotification" style="width:300px;" name="ActivityNotification">@Model.ActivityNotification</textarea>
                    <label style="color:red">*</label>
                </td>
            </tr>


        </table>

    </div>
</form>

<table id="table1">
    <tr>
    <tr>
        <td style="width:10%">门店类型</td>
        <td>
            <fieldset style="width:300px">
                <div class="ShopType">
                    <input type="checkbox" value="1" @((Model.ShopType & 1) == 1 ? "checked" : "" ) value1="4S店" />
                    <label>4S店</label>
                    <input type="checkbox" value="2" @((Model.ShopType & 2) == 2 ? "checked" : "" ) value1="快修店" />
                    <label>快修店</label>
                    <input type="checkbox" value="4" @((Model.ShopType & 4) == 4 ? "checked" : "" ) value1="工场店" />
                    <label>工场店</label>
                    <input type="checkbox" value="8" @((Model.ShopType & 8) == 8 ? "checked" : "" ) value1="修理厂" />
                    <label>修理厂</label>
                    <label style="color:red">  *</label>
                </div>
            </fieldset>

        </td>
    </tr>
    <tr>
        <td>门店等级</td>
        <td>
            <fieldset style="width:300px">
                <div class="ShopGrade">
                    <input type="checkbox" value="1" @((Model.ShopGrade & 1) == 1 ? "checked" : "" ) value1="0" />
                    <label>0级</label>
                    <input type="checkbox" value="2" @((Model.ShopGrade & 2) == 2 ? "checked" : "" ) value1="1" />
                    <label>1级</label>
                    <input type="checkbox" value="4" @((Model.ShopGrade & 4) == 4 ? "checked" : "" ) value1="2" />
                    <label>2级</label>
                    <input type="checkbox" value="8" @((Model.ShopGrade & 8) == 8 ? "checked" : "" ) value1="3" />
                    <label>3级</label>
                    <label style="color:red">  *</label>
                </div>
            </fieldset>

        </td>
    </tr>
    @foreach (var item in shopServers)
    {
        MeiRongAcitivityConfigManager manager = new MeiRongAcitivityConfigManager();
        List<ShopCosmetologyServers> shoplist = manager.GetShopCosmetologyServers(item.PKID);

        List<ShopServiceRelation> selectServer = new List<ShopServiceRelation>();
        selectServer = manager.GetShopServiceRelation(Model.Id, 1, 0);

        if (selectServer != null)
        {
            <tr class="shopserver">
                <td>
                    <input type="checkbox" @(selectServer.Where(o => o.PKID == item.PKID).Count() > 0 ? "checked=\"checked\"" : "") PKID="@item.PKID" ProductID="@item.ProductID" CatogryID="@item.CatogryID" ServersName="@item.ServersName" />
                    <label>@item.ServersName</label>
                </td>
                <td>
                    <input type="checkbox" class="chkall" />
                    <label style="color:blue">全部</label>
                    @foreach (var server in shoplist)
                    {

                        List<ShopServiceRelation> smalllist = new List<ShopServiceRelation>();

                        smalllist = manager.GetShopServiceRelation(Model.Id, 1, server.CatogryID);

                        <input type="checkbox" @(smalllist.Any(s => s.PKID == server.PKID) ? "checked" : "") PKID="@server.PKID" ProductID="@server.ProductID" CatogryID="@server.CatogryID" ServersName="@server.ServersName" />
                        <label>@server.ServersName</label>
                    }
                </td>
            </tr>

        }

    }
    <tr>
        <td>
            省/自治区/直辖市
        </td>
        <td>
            市/县/区
        </td>
        <td><a href="javascript:;" style="color:blue" onclick="CloneTr()">添加</a></td>
    </tr>
    @if (Model.RegionList != null && Model.RegionList.Count > 0)
    {
        foreach (var region in Model.RegionList)
        {
            <tr class="region">
                <td>
                    <select class="province">
                        <option value="-1">全国</option>
                        @foreach (var item in ProvinceList)
                        {
                            <option value="@item.PKID" @(item.PKID == region.ProvinceId ? "selected" : "")>@item.RegionName</option>
                        }
                    </select>
                </td>
                <td>
                    @{
                        MeiRongAcitivityConfigManager manaer = new MeiRongAcitivityConfigManager();
                        List<Region> cityall = manaer.GetRegion(region.ProvinceId);
                        List<RegionRelation> citylist = manaer.GetRegionRelation(region.ProvinceId, Model.Id, 1);
                    }

                    <fieldset>
                        <div>
                            <input type="checkbox" class="cityall" value="0" value1="全部" /><label>全部</label>
                            @foreach (var item in cityall)
                            {
                                <input type="checkbox" @(citylist.Any(s => s.CityId == item.PKID) ? "checked" : "") value='@item.PKID' value1="@item.RegionName" /><label>@item.RegionName</label>
                            }
                        </div>
                    </fieldset>
                </td>
                <td>
                    <a style="color:blue;display:inline-block;width:50px;" href="javascript:;" onclick="DeleteTr(this)">删除</a>
                </td>
            </tr>
                            }
                        }
                        else
                        {

                            <tr class="region">
                                <td>
                                    <select class="province">
                                        <option value="-1">全国</option>
                                        @foreach (var item in ProvinceList)
                {
                                            <option value="@item.PKID">@item.RegionName</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <fieldset>
                                        <div>

                                        </div>
                                    </fieldset>
                                </td>
                                <td>
                                    <a style="color:blue;display:inline-block;width:50px;" href="javascript:;" onclick="DeleteTr(this)">删除</a>
                                </td>
                            </tr>
                        }



</table>
<table>
    <tr>
        <td><input type="button" value="保存" onclick="SaveModel()" class="btn" /></td>
        <td><input type="button" class="btn" onclick="SearchShop()" value="查询符合条件的门店数" /></td>
        <td><input type="button" class="btn" onclick="SendMessage()" value="发送通知和短信" /></td>
    </tr>
</table>
<table id="table2"></table>
<table id="templateTable" style="display:none;">
    <tr class="region">
        <td>
            <select class="province">
                <option value="-1">全国</option>
                @foreach (var item in ProvinceList)
                {
                    <option value="@item.PKID">@item.RegionName</option>
                }
            </select>
        </td>
        <td>
            <fieldset>
                <div>

                </div>
            </fieldset>
        </td>
        <td>
            <a style="color:blue;display:inline-block;width:50px;" href="javascript:;" onclick="DeleteTr(this)">删除</a>
        </td>
    </tr>
</table>

<script>

    $(".chkall").click(function () {
        if ($(this).attr("checked")) {
            $(this).siblings().attr("checked", "checked");
        } else {
            $(this).siblings().attr("checked", false);
        }
    })
    $(".cityall").click(function () {
        if ($(this).attr("checked")) {
            $(this).siblings().attr("checked", "checked");
        } else {
            $(this).siblings().attr("checked", false);
        }
    })
    function DeleteTr(target) {
        $(target).closest('tr').remove();
    }
    function CloneTr() {
        var tr = $("#templateTable tr").clone();
        tr.appendTo("#table1");

        $(".province").change(function () {
            var self = $(this);
            self.val(self.val());
            var sb = '<input type="checkbox" class="cityall" value="0" value1="全部" /><label>全部</label>';
            $.get("/MeiRongAcitivityConfig/GetRegion/" + self.val() + "", function (result) {
                if (result.length != 0) {
                    for (var i = 0; i < result.length; i++) {
                        sb += '<input type="checkbox" value=' + result[i].PKID + ' value1="' + result[i].RegionName + '" /> <label>' + result[i].RegionName + '</label>'
                    }
                }

                self.parents("tr").find("td").eq(1).find("div").html(sb);

                $(".cityall").click(function () {
                    if ($(this).attr("checked")) {
                        $(this).siblings().attr("checked", "checked");
                    } else {
                        $(this).siblings().attr("checked", false);
                    }
                })
            });
        });

    }
    $(".province").change(function () {

        var self = $(this).find("option:selected");
        self.val(self.val());
        var sb = '<input type="checkbox" class="cityall" value="0" value1="全部" /><label>全部</label>';
        $.get("/MeiRongAcitivityConfig/GetRegion/" + self.val() + "", function (result) {

            if (result.length != 0) {
                for (var i = 0; i < result.length; i++) {

                    sb += '<input type="checkbox" value=' + result[i].PKID + ' value1="' + result[i].RegionName + '" /> <label>' + result[i].RegionName + '</label>'
                }
            }

            self.parents("tr").find("td").eq(1).find("div").html(sb);

            $(".cityall").click(function () {

                if ($(this).attr("checked")) {
                    $(this).siblings().attr("checked", "checked");
                } else {
                    $(this).siblings().attr("checked", false);
                }
            })
        });

    });

    var categoryid=0;
    var _CategoryData=@Html.Raw(ViewBag.ZTreeJsonForCategory);
    var MeiRongAcitivityConfig = function(jsonData,defaultElement){
        var self = this;
        this.setting={
            check:  {enable: true,chkStyle: "radio",radioType: "all"},
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback:{
                onCheck:function(){
                    var ids=[];
                    var _SelectCategorys = self.getItems();
                    $(_SelectCategorys).each(function(i,item){
                        ids.push(item.id);
                        categoryid=item.id;
                    });
                }
            }
        },
        this.zTreeJson= jsonData || [],
        this.zTreeInit=function(){
            $.fn.zTree.init($("#"+defaultElement),this.setting,this.zTreeJson);
        },
        this.getItems=function(){
            return $.fn.zTree.getZTreeObj(defaultElement).getCheckedNodes(true)[0];
        },
        this.expandAll=function(isExpandAll){
            $.fn.zTree.getZTreeObj(defaultElement).expandAll(isExpandAll || false);
        }
    };


    var initMeiRongAcitivityConfig = new MeiRongAcitivityConfig(_CategoryData,"ProductConfig_CategoryTree");
    initMeiRongAcitivityConfig.zTreeInit();

    function SaveModel() {
        categoryid=initMeiRongAcitivityConfig.getItems().id;
        if (!$("input[name='Name']").val()) {
            alert("活动名称不能为空");
            return false;
        }
        console.log(JSON.stringify(categoryid));

        if (categoryid==0) {
            alert("请选择类目");
            return false;
        }

        var dataRegion = new Array();
        var shopServices=new Array();
        $('#table1 >tbody> tr').each(function (i) {
            if (i >= 0) {

                if ($(this).attr("class") == "region") {
                    var columns = $(this).children();
                    if (columns.eq(0).find(".province").val()!=-1) {
                        //console.log( columns.eq(1).find(":checkbox").eq(0))
                        columns.eq(1).find(":checkbox").each(function (j) {
                            var jsonData = { "ProvinceId": "", "ProvinceName": "" ,"CityId":"","CityName":""};
                            if ($(this).attr("checked")) {
                                if ($(this).attr("value1") != "全部") {
                                    jsonData.CityName += $(this).attr("value1") + ",";
                                    jsonData.ProvinceId = columns.eq(0).find(".province").val();
                                    jsonData.ProvinceName = columns.eq(0).find(".province").find("option:selected").text();
                                    jsonData.CityId =  $(this).attr("value");
                                    jsonData.CityName = $(this).attr("value1");

                                    dataRegion.push(jsonData);
                                }
                            }
                        });

                    }else{
                        var jsonData = { "ProvinceId": "-1", "ProvinceName": "全国" ,"CityId":"-1","CityName":"全国"};
                        dataRegion.push(jsonData);
                    }
                }else if ($(this).attr("class") == "shopserver") {
                    var columns = $(this).children();
                    var jsonData = { "PKID": "", "ProductID": "" ,"ServersName":"","CatogryID":"","List":[]};

                    if (columns.eq(0).find(":checkbox").eq(0).attr("checked")) {
                        jsonData.PKID=columns.eq(0).find(":checkbox").eq(0).attr("PKID");
                        jsonData.ProductID=columns.eq(0).find(":checkbox").eq(0).attr("ProductID");
                        jsonData.ServersName=columns.eq(0).find(":checkbox").eq(0).attr("ServersName");
                        jsonData.CatogryID=columns.eq(0).find(":checkbox").eq(0).attr("CatogryID");
                        shopServices.push(jsonData);
                        columns.eq(1).find(":checkbox").each(function (i) {
                            var jsonModel = { "PKID": "", "ProductID": "" ,"ServersName":"","CatogryID":""};
                            if ($(this).attr("checked")) {
                                if ($(this).attr("PKID")) {
                                    jsonModel.PKID=$(this).attr("PKID");
                                    jsonModel.ProductID=$(this).attr("ProductID");
                                    jsonModel.ServersName=$(this).attr("ServersName");
                                    jsonModel.CatogryID=$(this).attr("CatogryID");
                                    shopServices.push(jsonModel);
                                }
                            }

                        });

                    }
                }
            }
        });
        var strRegion = JSON.stringify(dataRegion);
        //console.log(JSON.stringify(shopServices));
        // console.log(strRegion);
        var vehicleGrade=0;
        $(".VehicleGrade :checkbox").each(function (i) {
            if ($(this).attr("checked")) {
                vehicleGrade+=parseInt($(this).val());
            }
        });
        if (vehicleGrade==0) {
            alert("请选择适配车型等级");
            return false;
        }
        var applicationVehicle=0;
        $(".ApplicationVehicle :checkbox").each(function (i) {
            if ($(this).attr("checked")) {
                applicationVehicle+=parseInt($(this).val());
            }
        });
        if (applicationVehicle==0) {
            alert("请选择适用车型");
            return false;
        }

        var shopType=0;
        $(".ShopType :checkbox").each(function (i) {
            if ($(this).attr("checked")) {
                shopType+=parseInt($(this).val());
            }
        });
        if (shopType==0) {
            alert("请选择门店类型");
            return false;
        }
        var shopGrade=0;
        $(".ShopGrade :checkbox").each(function (i) {
            if ($(this).attr("checked")) {
                shopGrade+=parseInt($(this).val());
            }
        });
        if (shopGrade==0) {
            alert("请选择门店等级");
            return false;
        }
        var meiRongAppraise=0;
        $(".MeiRongAppraise :checkbox").each(function (i) {
            if ($(this).attr("checked")) {
                meiRongAppraise+=parseInt($(this).val());
            }
        });

        var dataStr ={
            "Id":$.trim($("input[name='Id']").val()),
            "ActivityId":$("input[name='ActivityId']").val(),
            "Name": $.trim($("input[name='Name']").val()),
            "SignUpStartTime": $("input[name='SignUpStartTime']").val(),
            "SignUpEndTime": $("input[name='SignUpEndTime']").val(),
            "PlanStartTime": $("input[name='PlanStartTime']").val(),
            "ActivityEndTime": $("input[name='ActivityEndTime']").val(),
            "CategoryId": categoryid,
            "Region": strRegion,
            "MinPrice": $.trim($("input[name='MinPrice']").val()),
            "MaxPrice": $.trim($("input[name='MaxPrice']").val()),
            "EverydayQuantity": $.trim($("input[name='EverydayQuantity']").val()),
            "MinShopQuantity": $.trim($("input[name='MinShopQuantity']").val()),
            "VehicleGrade": vehicleGrade,
            "ApplicationVehicle": applicationVehicle,
            "ShopType": shopType,
            "ShopGrade": shopGrade,
            "MeiRongAppraise": meiRongAppraise,
            "ActivityRequire": $.trim($("#ActivityRequire").val()),
            "ActivityNotification": $.trim($("#ActivityNotification").val()),
            "Status":$("#Status:checked").val(),           
            "ShopServices":JSON.stringify(shopServices),
        };

        console.log(JSON.stringify(dataStr));

        $.ajax({
            type: "POST",
            url: "/MeiRongAcitivityConfig/Edit",
            data: dataStr,
            dataType: "JSON",
            success: function (result) {
                if (result) {
                    window.location.href="/MeiRongAcitivityConfig/Index"
                }
            },
            error: function (result) {

            }
        });
    }

    function SearchShop(){

        $.ajax({
            type: "POST",
            url: "/MeiRongAcitivityConfig/ShopCount",
            data: Seach() ,
            dataType: "JSON",
            success: function (result) {

                if (result.Succeed=="True") {
                    var html="";
                    for (var i = 0; i < result.Message.length; i++) {
                        html +='<tr><td>'+result.Message[i].Province+'</td><td>'+result.Message[i].City+'</td><td>'+result.Message[i].TotalCount+'</td></tr>'
                    }
                    $("#table2").html(html);
                }else{
                    alert(result.Message);
                    return false;
                }
            },
            error: function (result) {

            }
        });
    }

    function  SendMessage(){

        $.ajax({
            type: "POST",
            url: "/MeiRongAcitivityConfig/SendMessage",
            data:  Seach(),
            dataType: "JSON",
            success: function (result) {
                console.log(JSON.stringify(result))
                if (result.Succeed=="True") {
                    alert("发送成功！")
                }else{
                    alert(result.Message);
                    return false;
                }
            },
            error: function (result) {

            }
        });

    }

    function Seach(){
        var dataRegion = new Array();
        var shopServices="";
        $('#table1 >tbody> tr').each(function (i) {
            if (i >= 0) {
                if ($(this).attr("class") == "region") {
                    var columns = $(this).children();

                    if (columns.eq(0).find(".province").val()!=-1) {
                        //console.log( columns.eq(1).find(":checkbox").eq(0))
                        columns.eq(1).find(":checkbox").each(function (j) {
                            var jsonData = { "Province": "", "City":""};
                            if ($(this).attr("checked")) {
                                if ($(this).attr("value1") != "全部") {
                                    jsonData.Province = columns.eq(0).find(".province").find("option:selected").text();

                                    jsonData.City = $(this).attr("value1");

                                    dataRegion.push(jsonData);
                                }
                            }
                        });

                    }else{
                        var jsonData = { "Province": "", "City":""};
                        dataRegion.push(jsonData);
                    }
                }else if ($(this).attr("class") == "shopserver") {
                    var columns = $(this).children();

                    if (columns.eq(0).find(":checkbox").eq(0).attr("checked")) {
                        columns.eq(1).find(":checkbox").each(function (i) {

                            if ($(this).attr("checked")) {
                                if ($(this).attr("PKID")) {
                                    shopServices+=$(this).attr("ProductID")+",";
                                }
                            }
                        });
                    }
                }
            }
        });
        var strRegion = JSON.stringify(dataRegion);


        var shopType="";
        $(".ShopType :checkbox").each(function (i) {
            if ($(this).attr("checked")) {
                shopType+=$(this).attr("value1")+",";
            }
        });
        if (shopType==0) {
            alert("请选择门店类型");
            return false;
        }
        var shopGrade="";
        $(".ShopGrade :checkbox").each(function (i) {
            if ($(this).attr("checked")) {
                shopGrade+=$(this).attr("value1")+",";
            }
        });
        if (shopGrade==0) {
            alert("请选择门店等级");
            return false;
        }

        var dataStr={
            "Regions":JSON.stringify(dataRegion),
            "ShopBusinessType":shopType,
            "ShopServices":shopServices,
            "ShopTechLevel":shopGrade,
            "activityId":@Model.Id,
            "notification":$("#ActivityNotification").val(),
        }
        console.log(JSON.stringify(dataStr));
        return dataStr;
    }

    $(".city,.province").filtrateSelect({ height: 200 });
</script>
