@using Tuhu.Provisioning.Models
@model Tuhu.Component.Common.Models.ListModel<Tuhu.Provisioning.DataAccess.Entity.VIPAuthorizationRuleConfig>
@{
    Layout = null;
}
<div>
    <table style="width:100%;margin-top:20px;">
        <thead>
            <tr>
                <th>编号</th>
                <th>VIP权限规则名称</th>
                <th>VIP权限有效天数</th> 
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.RuleName</td>
                    <td>@item.ValidityDay</td>
                    <td>@item.CreateTime</td>
                    <td>@item.UpdateTime</td>
                    <td>
                        <a href="javascript:;" onclick="VIPAuthorizationRuleConfig.Update(@item.Id)">编辑</a><br />
                        <a href="javascript:;" onclick="VIPAuthorizationRuleConfig.Delete(@item.Id)">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @Html.Pager(Model.Pager, pageIndex => Url.RouteUrl(new { pageIndex }))
</div>
<div id="AddItem"></div>
