@using Tuhu.Provisioning.DataAccess.Entity.TireSecurityCode;
@using Tuhu.Provisioning;
@using Tuhu.Component.Common.Models;
@model ListModel<TireSecurityCodeConfig>
@{
    Layout = null;
    var query = ViewBag.query as TireSecurityCodeConfigQuery;
}
<table id="TbTireSecurityCodeConfig" style="background: #ffffff; font-size: 12px; width: 100%; text-align: center" border="1" class="table">
    <tr>
        <td style="text-align: center">Guid</td>
        <td style="text-align: center">防伪码</td>
        <td style="text-align: center">u</td>
        <td style="text-align: center">f</td>
        <td style="text-align: center">条形码</td>
        <td style="text-align: center">创建时间</td>
        <td style="text-align: center">更新时间</td>
    </tr>
    @if (Model.Source.Any())
    {
        foreach (var item in Model.Source)
        {
            <tr>
                <td style="text-align: center">@((item.CodeID == null) ? "" : item.CodeID.ToString("D"))</td>
                <td style="text-align: center">@((item.SecurityCode == null) ? "" : item.SecurityCode)</td>
                <td style="text-align: center">@((item.UCode == null) ? "" : item.UCode)</td>
                <td style="text-align: center">@((item.FCode == null) ? "" : item.FCode)</td>
                <td style="text-align: center">@((item.BarCode == null) ? "" : item.BarCode)</td>
                <td style="text-align: center">@((item.CreateTime.ToString()))</td>
                <td style="text-align: center">@((item.LastUpdateDataTime.ToString()))</td>
            </tr>
        }
    }
</table>

@Html.Pager(Model.Pager, true, id => Url.Action("SearchList", new
{
    SecurityCodeCriterion = query.SecurityCodeCriterion,
    UCodeCriterion = query.UCodeCriterion,
    FCodeCriterion = query.FCodeCriterion,
    BarCodeCriterion = query.BarCodeCriterion,
    GuidCriterion = query.GuidCriterion,
    PageIndex = id,
    PageDataQuantity = query.PageDataQuantity
}))

<script>
    $(document).ready(function () {
        $("#DataCountInfo").text("共 @query.TotalCount 条数据");
    });
    function GetPageIndex() {
        return @query.PageIndex;
    }
</script>

