@{
    ViewBag.Title = "模块列表";
}
@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.SE_HomePageModuleConfig>
    <style>
        .content .style { width: 800px; font-size: 14px; margin: 0 auto 10px; border: 1px solid #D1EEEE; cursor: pointer; }
        .content .style span { display: inline-block; height: 30px; line-height: 30px; text-align: center; border-right: 1px solid #D1EEEE; }
        .content .style .col1 { width: 30%; }
        .content .style .col2 { width: 18%; }
        .content .style .col3 { width: 18%; }
        .content .style .col4 { /*width: 18%;*/ border-right: none; }
        .btn-groups { height: 64px; line-height: 40px; border-radius: 4px; text-align: right; padding: 0 10px; font-weight: 700; margin-bottom: 15px; display: flex; align-items: center; color: rgba(39,56,72,.85); font-weight: 500; }
    </style>
    <div class="row ibox ibox-content">
        <div class="btn-groups">
            <input type="hidden" id="hiddenID" name="hiddenID" value="@(Model !=null? Model.FirstOrDefault().FKHomePage.ToString():"")" />
            <a href="javascript:void(0)"><button type="button" class="tuhu-btn tuhu-btn-primary" id="btnModuleListSave" name="btnModuleListSave"><span>保 存</span></button></a>
        </div>
        <div class="row">

        </div>
        <div class="row">
            <div class="content">
                <div class="style titile" data-type="-1">
                    <span class="col1">名称</span>
                    <span class="col2">状态</span>
                    <span class="col3">模块类型</span>
                    <span class="col3">顺序</span>
                    <span class="col4">管理</span>
                </div>
                @if (Model != null)
                {
                    foreach (var item in Model.Take(3))
                    {
                        <div class="style modules" data-mtype="@item.ModuleType" data-id="@item.ID" data-pkid="@item.FKHomePage">
                            <span class="col1">@item.ModuleName</span>
                            <span class="col2">@(item.IsEnabled == true ? "启用" : "禁用")</span>
                            <span class="col3">
                                @(item.ModuleType == 8 ? "状态栏"
                                : item.ModuleType == 9 ? "标题栏"
                                : item.ModuleType == 10 ? "车型库" : "")
                            </span>
                            <span class="col3">@item.PriorityLevel</span>
                            <span class="col4">&nbsp; </span>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div id="moduleContainer" style="min-height:500px;">
                <div class="content" id="moduleList">
                    @if (Model != null)
                    {
                        foreach (var item in Model.Skip(3))
                        {
                            <div class="style modules" data-mtype="@item.ModuleType" data-id="@item.ID" data-pkid="@item.FKHomePage">
                                <span class="col1">@item.ModuleName</span>
                                <span class="col2">@(item.IsEnabled == true ? "启用" : "禁用")</span>
                                <span class="col3">
                                    @(item.ModuleType == 1 ? "主业务"
                                    : item.ModuleType == 2 ? "banner"
                                    : item.ModuleType == 3 ? "天天秒杀"
                                    : item.ModuleType == 4 ? "新人专区"
                                    : item.ModuleType == 5 ? "汽车头条"
                                    : item.ModuleType == 6 ? "保养提醒"
                                    : item.ModuleType == 7 ? "自定义模块"
                                    : item.ModuleType == 20 ? "动画模块"
                                    : item.ModuleType == 22 ? "轮胎模块"
                                    : item.ModuleType == 26 ? "保养模块"
                                    : item.ModuleType == 28 ? "改装模块"
                                    : item.ModuleType == 29 ? "美容团购模块"
                                    : item.ModuleType == 30 ? "拼图模块"
                                    : item.ModuleType == 32 ? "应用市场通栏"
                                    : item.ModuleType == 33 ? "自定义人群&渠道模块"
                                    : item.ModuleType == 35 ? "车型活动模块"
                                    : item.ModuleType == 36 ? "0元砍价+0元众测"
                                    : item.ModuleType == 37 ? "拼团模块"
                                    : item.ModuleType == 38 ? "顶部Banner"
                                    : item.ModuleType == 39 ? "顶部轮播图"
                                    : "")
                                </span>
                                <span class="col3">@item.PriorityLevel</span>
                                <span class="col4" style="text-align:right;">
                                    @if (item.IsChildModule)
                                    {
                                        <a href="javascript:void(0)" class="btn btn-default btn-sm" data-id="@item.ID" name="btnSelectChild" style="width:90px;padding:0px;">查看子模块</a>
                                    }
                                    else
                                    {
                                        <label>&nbsp;</label>
                                    }
                                    @if (User.Identity.Name.Contains("chenyutao"))
                                    {
                                        <a href="javascript:void(0)" class="btn btn-danger btn-sm" data-id="@item.ID" name="btnDelete" style="width:60px;padding:0px;">删 除</a>
                                    }
                                </span>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="edit" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1">
    </div>
    @section scripts{
        <script type="text/javascript">
            $(function () {
                // 工具栏拖拽
                $('#moduleContainer').droppable({
                    drop: function (event, ui) {
                        var type = ui.helper.data("type");
                        if (type != undefined) {
                            var id = $('#hiddenID').val();
                            if (id) {
                                // alert(type +" "+id);
                                var dialog = $('#edit');
                                var url = "/HomePageConfigV2/HomePageModuleEdit?FKHomePage=" + id + "&ModeulType=" + type + "&Module=0";

                                dialog.empty();
                                dialog.html(dialog.load(url));
                                dialog.modal("show");
                            }
                        }
                    }
                });

                $("#moduleList").sortable();
                $("#moduleList").disableSelection();

                //编辑模块
                $('.modules').on('click', function () {
                    console.log("编辑");
                    var type = $(this).data("mtype");
                    console.log(type);
                    if (type != undefined) {
                        var id = $('#hiddenID').val();
                        if (id) {
                            // alert(type +" "+id);
                            var dialog = $('#edit');
                            dialog.empty();
                            var url = "/HomePageConfigV2/HomePageModuleEdit?FKHomePage=" + id + "&ModeulType=" + type + "&Module=" + $(this).data("id");
                            dialog.html(dialog.load(url));
                            dialog.modal("show");
                        }
                    }
                });

                //保存排序
                $('#btnModuleListSave').on('click', function () {
                    var array = [];
                    var number = 1;
                    $('.modules').each(function (e) {
                        var id = $(this).data("id");
                        var pkid = $(this).data("pkid");
                        var mtype = $(this).data("mtype");
                        var module = {
                            ID: id,
                            FKHomePage: pkid,
                            PriorityLevel: number++
                        };
                        if (number > 4)
                            array.push(module);
                    });
                    
                    $.ajax({
                        url: '/HomePageConfigV2/UpdateHomePageModulePriorityLevel',
                        type: 'post',
                        data: { content: JSON.stringify(array) },
                        dataType: 'json'
                    }).done(function (result) {
                        if (result == 1)
                            location.reload();
                        else
                            alert("排序保存失败");
                    }).fail(function (result) {
                        console.log("保存失败");
                    });

                });

                //取消排序
                $('#btnModuleCancel').on('click', function () {
                    $("#moduleList").sortable("cancel");
                });

                // 查看子模块
                $('a[name="btnSelectChild"]').on('click', function (e) {

                    location.href = "/HomePageConfigV2/HomePageModuleChildList?moduleID=" + $(this).data("id");
                    return false;
                });

                // 删除子模块
                $('a[name="btnDelete"]').on('click', function () {
                    var id = $(this).data("id");
                    if (confirm("您确实删除吗?"))
                        if (id) {
                            $.ajax({
                                url: '/HomePageConfigV2/HomePageModuleDelete',
                                type: 'post',
                                data: { id: id }
                            }).done(function (result) {
                                if (result == 1) {
                                    alert("删除成功");
                                    setTimeout(function () {
                                        location.reload();
                                    }, 500)
                                }
                            });
                        }
                    return false;
                });
            });

            ///showImg：上传时Image显示的标签ID
            //showUrl:真正显示的
            function UploadBgImg(obj, showImg, showUrl) {
                var pobj = $(obj);
                var fileSize = pobj[0].files[0].size / 1024 * 1.0;
                if (fileSize > 1024) {
                    alert("不能上传大于1024KB的图片");
                    return false;
                }
                var rd = Math.ceil(Math.random() * 9999) + 1;
                var fileElId = $(obj).attr("id");
                console.log(fileElId);
                $.ajaxFileUpload({
                    url: '/Article/ImageUploadToAli?rd=' + rd,
                    secureuri: false,
                    fileElementId: fileElId,
                    dataType: 'json',
                    async: false,
                    success: function (result) {
                        if (result.BImage != "" && result.SImage != "") {
                            $("#" + showImg).attr("src", result.SImage).show();
                            $("#" + showUrl).val(result.BImage);
                        } else {
                            alert("上传失败！");
                        }
                    },
                    error: function (data, status, e)//服务器响应失败处理函数
                    {
                        alert(e);
                    }
                });
            }
            function UploadBgImg2(obj) {
                var pobj = $(obj);
                var fileSize = pobj[0].files[0].size / 1024 * 1.0;
                if (fileSize > 2024) {
                    alert("文件不能超过2M，超大会影响前台展示效率");
                    return false;
                }
                var rd = Math.ceil(Math.random() * 9999) + 1;
                var fileElId = $(obj).attr("id");
                console.log(fileElId);
                $.ajaxFileUpload({
                    url: '/UploadFile/UploadFileByParam?directoryName=' + 'HomePageAe',
                    secureuri: false,
                    fileElementId: fileElId,
                    dataType: 'json',
                    async: false,
                    success: function (result) {
                        if (result.Code == 1) {
                            $("#fileUrl").val(result.File);
                        } else {
                            alert(result.Msg);
                        }
                    },
                    error: function (data, status, e)//服务器响应失败处理函数
                    {
                        alert(e);
                    }
                });
            }
        </script>
    }
