@{
    ViewBag.Title = "首页底部菜单";
}

@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.SE_HomePageMenuConfig>



<div class="row ibox-content">
    <div class="col-lg-12 ibox-content">
        <div class="row" style="text-align:right;margin-bottom:5px;">
            <a href="javascript:void(0)" class="btn btn-danger btn-small " id="btnAdd" style="width: 150px;" data-toggle="modal" data-target="#edit">新 增</a>
        </div>
        <div class="row">
            <table class="table table-bordered" style="text-align:center;">
                <thead>
                    <tr>
                        <th style="text-align:center;">
                            ID
                        </th>
                        <th style="text-align:center;">
                            名称
                        </th>
                        <th style="text-align:center;">
                            类型
                        </th>
                        <th style="text-align:center">
                            显示图片
                        </th>
                        <th style="text-align:center">
                            点击图片
                        </th>
                        <th style="text-align:center">
                            显示字体
                        </th>
                        <th style="text-align:center">
                            点击字体
                        </th>
                        <th style="text-align:center;">
                           排序
                        </th>
                        <th style="text-align:center;">
                            管 理
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID </td>
                                <td>@item.MenuName</td>
                                <td>
                                    @(item.MenuType.Equals("home")?"首页":(item.MenuType.Equals("store") ?"门店":item.MenuType.Equals("me")?"我的":item.MenuType.Equals("quora")?"问答": item.MenuType.Equals("forum") ?"论坛": item.MenuType.Equals("classify")?"分类": "发现"))
                                </td>
                                <td>
                                    @{
                                        if (!string.IsNullOrWhiteSpace(item.ShowImageUrl))
                                        {
                                            <img src="@item.ShowImageUrl" width="60" height="60"/>
                                        }

                                    }
                                </td>
                                <td>
                                    @{
                                        if (!string.IsNullOrWhiteSpace(item.ClickImageUrl))
                                        {
                                            <img src="@item.ClickImageUrl" width="60" height="60" />
                                        }

                                    }
                                </td>
                                <td>
                                    @item.ShowFontColor
                                </td>
                                <td>
                                    @item.ClickFontColor
                                </td>
                                <td>
                                    @item.PriorityLevel
                                </td>
                                <td>
                                    <a class="btn btn-default btn-sm btnedit" href="javascript:void(0)" data-id="@item.ID" data-toggle="modal" data-target="#edit">编 辑</a>
                                    <a class="btn btn-danger btn-sm" href="javascript:void(0)" name="btnDelete" data-id="@item.ID" >删 除</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
<div id="edit" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1">

</div>
<input type="hidden" id="FKMenuListID" name="FKMenuListID" value="@ViewBag.FKMenuListID" />
@section scripts{
    <script type="text/javascript">

    $(function () {
        $('#btnAdd').on('click', function () {
            var url = "/HomePageConfigV2/HomePageMenuEdit?id=0";
            // dialogOpen("新增首页", url, "edit");
            var dialog = $('#edit');
            dialog.empty();
            dialog.html(dialog.load(url));
        });


        $('.btnedit').on('click', function () {
            var id = $(this).data("id");
            if (id) {
                var url = "/HomePageConfigV2/HomePageMenuEdit?id=" + id;
                var dialog = $('#edit');
                dialog.empty();
                dialog.html(dialog.load(url));
            }
        });


        $('a[name="btnDelete"]').on('click', function () {
            var id = $(this).data("id")
            if (confirm("您确定删除吗?")) {
                $.ajax({
                    url: '/HomePageConfigV2/HomePageMenuDelete',
                    type: 'post',
                    data: { id: id },
                    dataType: 'json'
                }).done(function (result) {
                    if (result == 1) {
                        location.reload();
                    } else {
                        alert("删除失败");
                    }
                });
            }
        });
    });






    function UploadBgImg(obj, showImg, showUrl) {

        var pobj = $(obj);
        var rd = Math.ceil(Math.random() * 9999) + 1;
        var fileElId = $(obj).attr("id");
        console.log(fileElId);
        $.ajaxFileUpload({
            url: '/Article/ImageUploadToAli?rd=' + rd,
            secureuri: false,
            fileElementId: fileElId,
            dataType: 'json',
            async: false,
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $("#" + showImg).attr("src", result.SImage).show();
                    $("#" + showUrl).val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });
    }
</script>

    }


