@{
    ViewBag.Title = "WapParameterList";
}
@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.SE_WapParameterConfig>


<div class="row ibox ibox-content">
    <div class="row" style="text-align:right;margin-bottom:5px;">
        <a href="javascript:void(0)" class="btn btn-danger btn-small " id="btnAdd" style="width: 150px;" data-toggle="modal" data-target="#edit">新 增</a>
    </div>
    <div class="row">
        <table class="table table-bordered" style="text-align:center;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>项 目</th>
                    <th>Key</th>
                    <th>Android</th>
                    <th>IOS</th>
                    <th>操 作</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Name</td>
                            <td>@item.KeyName</td>
                            <td>@item.Android</td>
                            <td>@item.IOS</td>
                            <td>
                                <a href="javascript:void(0)" class="btn btn-default btn-small" onclick="Delete('@item.ID')" >删 除</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

   
</div>
<div id="edit" class="modal fade" aria-hidden="true" role="dialog" tabindex="-1">

</div>
@section scripts{
    <script type="text/javascript">
        $(function () {




        });

        $('#btnAdd').on('click', function () {
            var url = "/HomePageConfigV2/WapParameterEdit";
            // dialogOpen("新增首页", url, "edit");
            var dialog = $('#edit');
            dialog.empty();
            dialog.html(dialog.load(url));
        });

        function Delete(id) {
            var r = confirm("您确定删除吗?");
            if (r) {
                $.ajax({
                    url: '/HomePageConfigV2/DeleteWapParameter',
                    type: 'post',
                    data: {id:id}
                }).done(function (result) {
                    if (result == 1) {
                        location.reload();
                    } else {
                        alert("删除失败");
                    }
                });
            }
        }


    </script>
    }