@model Tuhu.Provisioning.DataAccess.Entity.SE_MDBeautyBrandConfigModel

@{
    Layout = null;
}

@using (Html.BeginForm("Save", "SE_MDBeautyBrandConfig", FormMethod.Post, new { @id = Model.Id }))
{
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ParentId)
        @Html.HiddenFor(model => model.CreateTime)
        <table>
            <tr>
                <td>品牌名称</td>
                <td>@Html.TextBoxFor(model => model.BrandName, new { maxlength = 50, placeholder = "品牌名称" })</td>
            </tr>
            <tr>
                @if (Model.ParentId == 0)
                {
                    <td>关联类目</td>
                    <td>
                        <ul id="CategoryTagTreeEdit" class="ztree"></ul>
                        @Html.HiddenFor(model => model.CategoryIds)
                    </td>
                }
                else
                {
                    @Html.HiddenFor(model => model.CategoryIds, new { @value = "" })
                }
            </tr>
            <tr>
                @if (Model.Id > 0)
                {
                    <td>是否禁用</td>
                    <td>@Html.EditorFor(model => model.IsDisable)</td>
                }
                else
                {
                    @Html.HiddenFor(model => model.IsDisable, new { @value = false })
                }
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input type="button" onclick="FilterSbumit();" value="保存" />
                </td>
            </tr>
        </table>
}
<script type="text/javascript">
    var seleectItemEdits,               //类目选中项集合
        iszTreeInit=@Model.ParentId;    //是否加载树

    var zTreeSettingEdit = {
        setting :{
        check: {
            enable: true,
                chkboxType:{ "Y" : "s", "N" : "s" }
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback:{
                onCheck:function(){
                    seleectItemEdits = zTreeSettingEdit.getItems();
                    var ids=[];
                    $(seleectItemEdits).each(function(i,item){
                        ids.push(item.id);
                    });
                    $("#CategoryIds").val(ids.join(","));
                    console.log(zTreeSettingEdit.getItems());
                }
            }
        },
        zTreeJson:@Html.Raw(ViewBag.ZTreeJsonEdit),
        zTreeInit:function(){
            $.fn.zTree.init($("#CategoryTagTreeEdit"),zTreeSettingEdit.setting,zTreeSettingEdit.zTreeJson);
        },
        getItems:function(){
            return $.fn.zTree.getZTreeObj("CategoryTagTreeEdit").getCheckedNodes(true);
        },
        expandAll:function(isExpandAll){
            $.fn.zTree.getZTreeObj("CategoryTagTreeEdit").expandAll(isExpandAll || false);
        }
    };

    if((iszTreeInit||0) == 0){
        zTreeSettingEdit.zTreeInit();
    }

    function FilterSbumit() {
        var InputVlaue = $("#BrandName").val(),ID =$("#Id").val() || 0;
        if (InputVlaue.length <= 0) {
            alert("请填写品牌名称！");
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/SE_MDBeautyBrandConfig/SelectListByBrandName",
            data: { brandName:InputVlaue,id:ID},
            success: function (json) {
                var _json = JSON.parse(json);
                if(_json.item > 0)
                {
                    alert("品牌名:『 "+ _json.values +" 』已存在！");
                    return false;
                }
                $("form:first").submit();
            }
        });
    }
</script>