@using Tuhu.Provisioning.DataAccess.Entity;
@model List<Tuhu.Provisioning.DataAccess.Entity.tbl_TuhuNews>
    @{
        ViewBag.Title = "途虎新闻配置";
    }

    <h2>途虎养车新闻编辑后台</h2>
    <style>
        .button1 {
            margin: 20px 0 10px 0;
            padding: 5px 25px;
            border: none;
            color: #F0F0F0;
            font-size: 12px;
            font-family: "Microsoft Yahei";
            outline: none;
            cursor: pointer;
            background: #0088cc;
            border-color: #0088cc;
        }

        #wrapper table th {
            color: white;
            padding: 6px 5px;
            text-align: center;
            background-color: #0088cc;
            border: solid 2px #F0F0F0;
        }

        #wrapper table td {
            text-align: center;
            line-height: 25px;
        }

        #wrapper table tr span {
            color: blue;
        }
    </style>

    <input type="button" class="button1" onclick="UpdateNews()" id="Insert" value="添加" />
    <div id="wrapper">
        <table style="width:100%">
            <thead>
                <tr>
                    <th>标题</th>
                    <th>来源</th>
                    <th>发布时间</th>
                    <th>类别</th>
                    <th>操作日志</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var newstype = "";
                    if (item.NewsType == 0)
                    {
                        newstype = "途虎官方新闻";
                    }
                    else if (item.NewsType == 1) { newstype = "媒体报道新闻"; };
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.NewsFrom</td>
                        <td>@item.IssueTime.ToString("yyyy-MM-dd")</td>
                        <td>@newstype</td>
                        <td><span s="@item.Id"  onclick="LookOpr(this)">操作日志</span></td>
                        <td><span onclick="UpdateNews(@item.Id)">修改</span>&nbsp;&nbsp;<span s="@item.Id" onclick="delnews(this)" class="DelNews">删除</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="AddItem" style="display: none"></div>
    <div id="OprHistory"></div>
    <script type="text/javascript">

        $(function () {

            
        })

        function UpdateNews(obj) {
            $("#AddItem").load('/ConfigNews/Add?N_id=' + (obj || ''));
            $("#AddItem").dialog({
                title: "添加",
                width: 1200,
                height: 900,
                modal: true
            });
        }

        function LookOpr(obj) {
            var content = "";
            var Oid = $(obj).attr('s');
            $("#OprHistory").empty();
            $.get("SelectOprLogByCommentID", { Oid: Oid }, function (data) {
                if (data.status == "success") {
                    
                    $(data.data).each(function (index) {
                        var changeDatetime = data_string(data.data[index].ChangeDatetime);
                        content += "<span style='display:block;margin-bottom:5px;'>操作人：" + data.data[index].Author + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作：" + data.data[index].Operation + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作时间：" + changeDatetime + "</span>";
                    })
                } else {
                    content = "暂无记录";
                }
                $("#OprHistory").append(content);

            })

            $("#OprHistory").dialog({
                title: "操作历史",
                width: 600,
                height: 500,
                modal: true
            });

        }

        function data_string(str) {
            var d = eval('new ' + str.substr(1, str.length - 2));
            var ar_date = [d.getFullYear(), d.getMonth() + 1, d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds()];
            for (var i = 0; i < ar_date.length; i++) ar_date[i] = dFormat(ar_date[i]);
            return ar_date.slice(0, 3).join('-') + ' ' + ar_date.slice(3).join(':');

            function dFormat(i) { return i < 10 ? "0" + i.toString() : i; }
        }


        function delnews(obj) {
            if (confirm("是否确定删除该新闻？")) {
                $.ajax({
                    url: "/ConfigNews/DeleteNews",
                    data: {"N_Id":$(obj).attr('s')},
                    type: "post",
                    datatype: "json",
                    success: function (msg) {
                        $(obj).parent().parent().remove();
                    }
                });
            }

        }
       
    </script>
