@{
    Layout = null;
}
@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.SE_HomePageModuleContentConfig>

<table class="table table-bordered" id="moduleTable" style="text-align:center;">
    <thead>
        <tr style="text-align:center;">
            <th style="text-align:center;">ID</th>
            <th style="text-align:center;">名称</th>
            <th style="text-align:center;">设备类型</th>
            <th style="text-align:center;">开始版本</th>
            <th style="text-align:center;">结束版本</th>
            <th style="text-align:center;">状态</th>
            <th style="text-align:center;">链接</th>
            <th style="text-align:center;">优先级</th>
            <th style="text-align:center;">更新时间</th>
            <th style="text-align:center;">管 理</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr data-xy="@(Newtonsoft.Json.JsonConvert.SerializeObject(new { item.Width,item.Height,item.UpperLeftX,item.UpperLeftY,item.LowerRightX,item.LowerRightY }))">
                    <td>@item.ID</td>
                    <td>@item.Title</td>
                    <td>@(item.DeviceType == 0?"全部":(item.DeviceType == 1?"Android":(item.DeviceType == 2?"IOS":"Wap")))</td>
                    <td>@item.StartVersion</td>
                    <td>@item.EndVersion</td>
                    <td>@(item.IsEnabled == true?"启用":"禁用")</td>
                    <td>@item.LinkUrl</td>
                    <td>@item.PriorityLevel</td>
                    <td>@(string.Format("{0:yyyy-MM-dd HH:mm:ss}", item.EndDateTime ))</td>
                    <td>
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" data-toggle="modal" name="btnEdit" data-target="#edit" data-id="@item.ID" data-postion="@(Newtonsoft.Json.JsonConvert.SerializeObject(new { item.Width,item.Height,item.UpperLeftX,item.UpperLeftY,item.LowerRightX,item.LowerRightY }))">编 辑</a>
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" data-id="@item.ID" name="btnDel" >删 除</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
