@using Tuhu.Provisioning.DataAccess.Entity.TireSecurityCode;
@using Tuhu.Provisioning;
@using Tuhu.Component.Common.Models;
@model ListModel<UploadSecurityCodeLog>
@{
    Layout = null;
    var query = ViewBag.query as LogSearchQuery;
}
<table id="TbUploadSecurityCodeLog" style="background: #ffffff; font-size: 12px; width: 100%; text-align: center" border="1" class="table">
    <tr>
        <td style="text-align: center">上传文件名</td>
        <td style="text-align: center">上传时间</td>
        <td style="text-align: center">二维码文件</td>
        <td style="text-align: center">失败记录</td>
        <td style="text-align: center">操作人</td>
    </tr>
    @if (Model.Source.Any())
    {
        foreach (var item in Model.Source)
        {
            <tr>
                <td style="text-align: center;vertical-align:middle;">
                    @((item.UploadFileName == null) ? "" : item.UploadFileName)
                    &nbsp;
                    <a class="btn btn-default" href="@item.UploadFileAddress">下载</a>
                </td>
                <td style="text-align: center;vertical-align:middle;">@((item.CreateTime.ToString()))</td>
                <td style="text-align: center;vertical-align:middle;">
                    @((item.SuccessFileName == null || item.SuccessFileName == "") ? "上传数据都是历史提交过的数据" : item.SuccessFileName)
                    &nbsp;
                    @if (item.SuccessFileAddress != null && item.SuccessFileAddress != "")
                    {
                        <a class="btn btn-default" href="@item.SuccessFileAddress">下载</a>
                    }
                </td>
                <td style="text-align: center;vertical-align:middle;">
                    @((item.FailFileName == null || item.FailFileName == "") ? "无错误记录" : item.FailFileName)
                    &nbsp;
                    @if (item.FailFileAddress != null && item.FailFileAddress != "")
                    {
                        <a class="btn btn-default" href="@item.FailFileAddress">下载</a>
                    }
                </td>
                <td style="text-align: center;vertical-align:middle;">@item.Operator</td>
            </tr>
        }
    }
</table>

@Html.Pager(Model.Pager, true, id => Url.Action("UploadSecurityCodeLogList", new
{
    PageIndex = id,
    PageDataQuantity = query.PageDataQuantity
}))

<script>
    $(document).ready(function () {
        $("#DataCountInfo").text("共 @query.TotalCount 条数据");
    });
    function GetPageIndex() {
        return @query.PageIndex;
    }
</script>