@{
    ViewBag.Title = "Find";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@model Tuhu.Provisioning.DataAccess.Entity.Router.RouterLink


<div style="font-size: 13px">
    <div class="container" id="container" style="margin-top: 100px; min-height: 150px; overflow-y: auto; width: 800px;">
        @if (Model != null)
        {
            foreach (var item in Model.RouterParameterList)
            {
                if (item.Kind == 1)
                {
                    <div class="col-sm-4">
                        <input type="radio" name="check" class="check" value="@item.Content" style="font-size: 100px" @(item.State == 1 ? "checked=\"checked\"" : "")/><span>@item.Discription</span>
                    </div>
                }
                else if (item.Kind == 2)
                {
                    <div class="form-group" style="margin-left: 200px">
                        <div class="col-sm-2">
                            <label>@item.Discription</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="text" class="text" id="text" value="@item.Url"/>
                        </div>
                    </div>
                }
            }
            <div class="col-sm-4">
                <input type="hidden" class="form-control" id="MainLinkContent" name="MainLinkContent" value="@Model.MainLink.Content"/>
            </div>
            <div class="col-sm-12">
                <input type="hidden" class="form-control" id="linkId" name="linkId" value="@ViewBag.linkId"/>
            </div>
            <div class="col-sm-12">
                <input type="hidden" class="form-control" id="noLinkId" name="noLinkId" value="@ViewBag.noLinkId"/>
            </div>
            <div class="col-sm-12">
                <input type="hidden" class="form-control" id="linkKind" name="linkKind" value="@ViewBag.linkKind" />
            </div>
        }
    </div>
    <div class="form-group">
        <div class="modal-footer" style="text-align: center;">
            <button type="button" class="btn btn-default btn-sm" style="width: 160px;" id="btnSave" name="btnSave">生成</button>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/Scripts/multiple/multiple-select.css" type="text/css"/>
<script type="text/javascript" src="~/Scripts/multiple/multiple-select.js"></script>
<script type="text/javascript">


    $(function() {

        //保存按钮点击事件
        $('#btnSave').on('click',
            function() {


                var mainLinkContent = $('#MainLinkContent').val();
                var linkKind = $('#linkKind').val();
                var url = "";
                if ($('#text').val() === "") {
                    parent.layer.msg('请填写', { shade: 0.3 });
                    return;
                }
                var id = parseInt($('#text').val());
                var valid = false;


                $.ajax({
                    url: 'GetFindUrl',
                    type: 'post',
                    dataType: 'json',
                    data: { id: id },
                    success: function(result) {
                        if (result !== 0) {
                            valid = true;
                            if (linkKind=="1")//APP
                                url = mainLinkContent + "?url=" + encodeURIComponent(result);
                            if (linkKind == "2")//小程序
                                url = mainLinkContent + "?id=" + id +"&appid=wxcb33a9e9af575642";
                            
                
                            var linkId = $('#linkId').val();
                            var noLinkId = $('#noLinkId').val();
                            if (linkId !== "" && noLinkId !== "") {


                                $("#Link").val(url);
                                parent.$("#" + linkId).val(url);
                                parent.$("#" + noLinkId).val(decodeURIComponent(url));

                                //关闭窗口
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);

                            }

                        } else {
                            parent.layer.msg('ID不存在', { shade: 0.3 });
                            return;
                        }

                    },
                    error: function(xmlHttpRequest, textStatus) {
                        alert("验证文章ID错误！");
                    }
                });
                
            });
    });
</script>