@model Tuhu.Provisioning.DataAccess.Entity.AnnouncementConfig
@{
    Layout = null;
}

<style>
    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    a {
        color: cornflowerblue;
    }

    textarea {
        width: 300px;
    }

    input[type=text] {
        width: 300px;
    }
</style>
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>

<form action="/AnnouncementConfig/Edit" method="post">
    <input type="hidden" value="@Model.PKID" id="PKID" name="PKID" />
    <div>
        <table>
            <tr>
                <td>类型</td>
                <td>

                    <select id="NoticeType" name="NoticeType">
                        @if (Model.NoticeType == 1)
                        {
                            <option value="1" selected="selected">H5链接</option>
                            <option value="2">图片</option>
                            <option value="3">原生跳转</option>
                        }
                        else if (Model.NoticeType == 2)
                        {
                            <option value="1">H5链接</option>
                            <option value="2" selected="selected">图片</option>
                            <option value="3">原生跳转</option>
                        }
                        else if (Model.NoticeType == 3)
                        {
                            <option value="1">H5链接</option>
                            <option value="2">图片</option>
                            <option value="3" selected="selected">原生跳转</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">-请选择-</option>
                            <option value="1">H5链接</option>
                            <option value="2">图片</option>
                            <option value="3">原生跳转</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>状态</td>
                <td>
                    @Html.RadioButtonFor(m => m.Status, true) 启用
                    @Html.RadioButtonFor(m => m.Status, false) 禁用
                </td>
            </tr>
            <tr>
                <td>公告内容</td>
                <td>
                    <textarea name="Content">@Model.Content</textarea>
                </td>
            </tr>


            <tr class="h5url">
                <td>H5Url</td>
                <td><input type="text" value="@Model.H5Url" name="H5Url" /></td>
            </tr>
            <tr class="img">
                <td>图片</td>
                <td>
                    <img height="40" class="vwPicture" src="@Model.ImageUrl" />
                    <form method="post" action="" enctype="multipart/form-data">
                        <input style="width:150px;" type="file" onchange="UploadImg(this)" id="2" name="2" />
                    </form>
                    <input type="text" name="ImageUrl" class="image" value="@Model.ImageUrl" />
                </td>
            </tr>
            <tr class="yuansheng">
                <td>iOS 处理值</td>
                <td><input type="text" value="@Model.IOSProcessValue" name="IOSProcessValue" /></td>
            </tr>
            <tr class="yuansheng">
                <td>iOS 特殊通讯值</td>
                <td><textarea type="text" name="IOSCommunicationValue">@Model.IOSCommunicationValue</textarea></td>
            </tr>
            <tr class="yuansheng">
                <td>Android 处理值</td>
                <td><input type="text" value="@Model.AndroidProcessValue" name="AndroidProcessValue" /></td>
            </tr>
            <tr class="yuansheng">
                <td>Android 特殊通讯值</td>
                <td><textarea type="text" name="AndroidCommunicationValue">@Model.AndroidCommunicationValue</textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="保存" class="btn" /></td>
            </tr>
        </table>
    </div>
</form>
<script>
    $(".h5url").hide();
    $(".img").hide();
    $(".yuansheng").hide();

    $("#NoticeType").change(function () {
        type = $(this).val();
        if (type == 1) {
            $(".h5url").show();
            $(".img").hide();
            $(".yuansheng").hide();
        } else if (type == 2) {
            $(".img").show()
            $(".h5url").hide();
            $(".yuansheng").hide();
        } else if (type == 3) {
            $(".yuansheng").show()
            $(".h5url").hide();
            $(".img").hide();
        }
    })

    $(function () {
        if ($("#PKID").val() != 0) {
            $("#NoticeType").attr("disabled", "disabled");
        }
        $("#NoticeType").change()
    })
    function UploadImg(e) {
        var $e = $(e);
        var $ee = $e.parents("tr").find("td").eq(1).find("img");
        var $smallImage = $e.parents("tr").find("td").eq(1).find("input[class='smallImage']");
        var $image = $e.parents("tr").find("td").eq(1).find("input[class='image']");
        $.ajaxFileUpload({
            url: '/Article/AddArticleImg2',
            secureuri: false,
            fileElementId: $e.attr("id"),
            dataType: 'json',
            data: {},
            type: "post",
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $ee.attr("src", result.SImage);
                    $(".vwPicture").show();
                    $smallImage.val(result.SImage);
                    $image.val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            }
        })
    }
</script>