@using Tuhu.Provisioning.Models
@using Tuhu.Provisioning.DataAccess.Entity
@model Tuhu.Component.Common.Models.ListModel<tbl_OrderModel>
@{
    ViewBag.Title = "加油卡漏单";
}

<script src="https://resource.tuhu.cn/Scripts/Activity/jquery-1.10.2.min.js"></script>

<style>
    body {
        font-family: "Microsoft Yahei";
    }

    textarea {
        width: 100px;
        height: 100px;
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: cornflowerblue;
        border: solid 1px cornflowerblue;
    }
</style>
<h2>加油卡漏单列表</h2>

<div>
    <table>
        <tbody>
            <tr>
                <td>
                    订单时间：
                </td>
                <td>
                    <input type="date" value="@(Convert.ToDateTime(ViewBag.StartTime).ToString("yyyy-MM-dd"))" name="StartTime" />TO
                    <input type="date" value="@(Convert.ToDateTime(ViewBag.EndTime).ToString("yyyy-MM-dd"))" name="EndTime" />
                </td>
                <td>
                    <a href="javascript:void(0)" class="btn" onclick="Search()">查询</a>
                    <a href="javascript:void(0)" class="btn" onclick="SearchALL()">查询全部</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<table style="margin-top:20px;width:100%">
    <thead>
        <tr>
            <th>OrderNo</th>
            <th>OrderDatetime</th>
            <th>UserName</th>
            <th>UserTel</th>
            <th>Status</th>
            <th>PayStatus</th>
            <th>PayMothed</th>
            <th>OrderType</th>
            <th>OrderChannel</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="https://oms.tuhu.cn/Order/Details/@item.PKID" target="_blank">@item.OrderNo</a>
                </td>
                <td>@item.OrderDatetime</td>
                <td>@item.UserName</td>
                <td>@item.UserTel</td>
                <td>@item.Status</td>
                <td>@item.PayStatus</td>
                <td>@item.PayMothed</td>
                <td>@item.OrderType</td>
                <td>@item.OrderChannel</td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.Pager(Model.Pager, pageIndex => Url.RouteUrl(new { pageIndex }))
</div>

<script type="text/javascript">
    function SearchALL() {
        var date=new Date();
        window.location.href = "/VehicleMountedCouponConfig/JiaYouCard?startTime=2016-01-01&endTime=" + date.toDateString();
    }
    function Search() {
        window.location.href = "/VehicleMountedCouponConfig/JiaYouCard?startTime=" + $("input[name=StartTime]").val() + "&endTime=" + $("input[name=EndTime]").val()
    }
    $(function () {

        var int = setInterval(function () {
            $(".pager a").each(function () {
                if ($(this).attr("href") && $(this).attr("href").indexOf("startTime") < 0) {
                    $(this).attr("href", $(this).attr("href") + "&startTime=" + $("input[name=StartTime]").val() + "&endTime=" + $("input[name=EndTime]").val())
                }
            })
        }, 1000);

        $(".pager a").each(function () {
            if ($(this).attr("href") && $(this).attr("href").indexOf("startTime") >= 0) {
                window.clearInterval(int);
            }
        })
    })

</script>
