@{
    ViewBag.Title = "HFive";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@model Tuhu.Provisioning.DataAccess.Entity.Router.RouterLink


<div style="font-size: 13px">
    <div class="container" id="container" style="margin-top: 50px; min-height: 330px; overflow-y: auto; width: 800px;">
    @if (ViewBag.linkKind == 1)
    {
        <div class="form-group">
            <label class="col-sm-2 control-label">车型要求:</label>
            <div class="col-sm-3">
                <select id="tireType" name="tireType" class="form-control">
                    <option value="">无</option>
                    <option value="requireCarLevel2=1">二级车型</option>
                    <option value="requireCarLevel4=1">4级车型</option>
                    <option value="requireCarLevel5=1">5级车型</option>
                </select>
            </div>
        </div>
    }
        @if (Model != null)
        {
            foreach (var item in Model.RouterParameterList)
            {
                if (item.Kind == 1)
                {
                    <div class="form-group">
                        <div class="col-sm-3">
                            <input type="radio" class="check" value="@item.Content" style="font-size: 100px" @(item.State == 1 ? "checked=\"checked\"" : "")/><span>@item.Discription</span>
                        </div>
                    </div>
                }
                else if (item.Kind == 2)
                {
                    <div class="col-sm-4">
                        <label>@item.Discription</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" name="text" class="text" id="text" value="@item.Url"/>
                    </div>
                }
            }
            <br/>
            <br/>
            <div class="form-group">
                <label class="col-sm-2 control-label">活动ID：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="aId" value="@ViewBag.aId "/>
                </div>
            </div>

            <br/>
            <div class="col-sm-12">
                <input type="hidden" class="form-control" id="MainLinkContent" name="MainLinkContent" value="@Model.MainLink.Content"/>
            </div>

            <div class="col-sm-12">
                <input type="hidden" class="form-control" id="type" name="type" value="@ViewBag.typeArray"/>
            </div>
            <div class="col-sm-12">
                <input type="hidden" class="form-control" id="para" name="para" value="@ViewBag.paraArray"/>
            </div>
            <div class="col-sm-12">
                <input type="hidden" class="form-control" id="linkId" name="linkId" value="@ViewBag.linkId"/>
            </div>
            <div class="col-sm-12">
                <input type="hidden" class="form-control" id="noLinkId" name="noLinkId" value="@ViewBag.noLinkId"/>
            </div>
            <div class="col-sm-12">
                <input type="hidden" class="form-control" id="linkKind" name="linkKind" value="@ViewBag.linkKind" />
            </div>
            <br>
            <br>
        }
    </div>
    <div class="modal-footer" style="text-align: center;">
        <button type="button" class="btn btn-default btn-sm" style="width: 160px;" id="btnSave" name="btnSave">生成</button>
    </div>
</div>

<link rel="stylesheet" href="~/Scripts/multiple/multiple-select.css" type="text/css"/>
<script type="text/javascript" src="~/Scripts/multiple/multiple-select.js"></script>
<script type="text/javascript">


    $(function() {


        $.ajax({
            url: "/Activity/ActivityUnity/GetBaoyangProdcutJson",
            type: "post",
            dataType: "json",
            async: false,
            success: function(res) {
                if (res != null) {


                    var num = 0;
                    var o = document.getElementById("container");
                    for (var i = 0; i < res.length; i++) {
                        num++;
                        var input = document.createElement("input");
                        input.type = "radio";
                        input.className = "kind";
                        input.value = res[i].id;
                        input.readOnly = "true";
                        o.appendChild(input);


                        var label = document.createElement("input");
                        label.type = "text";
                        label.class = "lab";
                        label.style = "border:none;";
                        label.value = res[i].text;
                        label.readOnly = "true";
                        o.appendChild(label);

                        //控制显示的列数
                        if (num % 4 === 0) {
                            var br = document.createElement("br");
                            o.appendChild(br);
                        }

                    }
                    //设置类型初始值
                    var list = $("#type").val();

                    if ("" !== list) {
                        //console.log(list);
                        var typeArray = list.split(',');

                        $("input[class^='kind']").each(function() {

                            for (var j = 0; j < typeArray.length; j++) {
                                if ($(this).val() === typeArray[j])
                                    $(this).attr("checked", true);
                            }
                        });
                    }

                }
            }
        });

        //保存按钮点击事件
        $('#btnSave').on('click',
            function() {
                var mainLinkContent = $('#MainLinkContent').val();
                var check = "";
                var type = "";
                var aId = $("#aId").val();
                var linkKind = $('#linkKind').val();
                var tireType = $('#tireType').val();
                if ($('#tireType').val() !== "")
                    tireType = "&" + tireType;


                $("input[class^='check']").each(function() {

                    if ($(this).prop("checked")) {
                        check += "&" + ($(this).val());
                    }
                });
                var counter = 0;
                $("input[class^='kind']").each(function() {

                    if ($(this).prop("checked")) {
                        counter++;
                        if (counter !== 1) type += ",";
                        type += ($(this).val());

                    }
                });


                if (type === "") {
                    parent.layer.msg('请选择保养服务', { shade: 0.3 });
                    return;
                }

                var url = "";
                switch (linkKind) {
                case "1"://APP
                    url = mainLinkContent +
                        "?type=" +
                        type +
                        (aId !== ""
                            ? ("&aid=" +
                                encodeURIComponent(aId))
                            : "") +
                        check +
                        tireType;
                    break;//小程序
                case "2": url = mainLinkContent +
                    "?baoyangtypes=" +
                    type +
                    (aId !== ""
                        ? ("&actid=" +
                            aId)
                        : "") ;
                    break;
                        
                }

                var linkId = $('#linkId').val();
                var noLinkId = $('#noLinkId').val();
                if (linkId !== "" && noLinkId !== "") {


                    $("#Link").val(url);
                    parent.$("#" + linkId).val(url);
                    parent.$("#" + noLinkId).val(decodeURIComponent(url));

                    //关闭窗口
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }
            });

        //设置radio可以取消
        $(":radio").click(
            function() {
                var nm = $(this).attr("name");
                $(":radio[name=" + nm + "]:not(:checked)").attr("tag", 0);
                if ($(this).attr("tag") == 1) {
                    $(this).attr("checked", false);
                    $(this).attr("tag", 0);
                } else {
                    $(this).attr("tag", 1);
                }
            }
        );
    });

    //预置车型选择
    function initTireType() {
        var require = $("#para").val();

        if ("" !== require) {
            // alert(require);
            var paraArray = require.split('&');

            var select = document.getElementById("tireType");
            for (var i = 0; i < select.length; i++) {
                for (var j = 0; j < paraArray.length; j++) {
                    if (select.options[i].value === paraArray[j]) {
                        select.options[i].setAttribute("selected", true);

                    }
                }

            }


        }
    }

    initTireType();

</script>