@{
    ViewBag.Title = "会员运费折扣配置";
    Layout = "~/Views/Shared/_PersonalCenterLeft.cshtml";
}


@model System.Collections.Generic.List<Tuhu.Provisioning.DataAccess.Entity.tbl_UserTransportation>
<style type="text/css">
   
    input[type=text] {
        width: 50px;
    }
</style>

<h2>会员运费折扣配置</h2>
<p><input type="button" value="保 存" class="btn" name="save" id="save" /></p>
<table>
    <thead>
        <tr style="border-bottom-color:#FFFFFF;border-bottom-style:solid;border-bottom-width:2px;">
          
           
        </tr>
        <tr>
            <th>
                LV1
            </th>
            <th>
                LV2
            </th>
            <th>
                LV3
            </th>
            <th>
                LV4
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @*运费<input type="text" value="@(Model[0].TransMoney)" name="preFreight" />元*@
                折扣率<input type="text" value="@(Model[0].Discount)" name="sale" />%
                @*折后运费<input type="text" value="@(Model[0].SaleMoney)" name="nextFreight" />元*@
            </td>
            <td>
                @*运费<input type="text" value="@(Model[1].TransMoney)" name="preFreight" />元*@
                折扣率<input type="text" value="@(Model[1].Discount)" name="sale" />%
                @*折后运费<input type="text" value="@(Model[1].SaleMoney)" name="nextFreight" />元*@
            </td>
            <td>
                @*运费<input type="text" value="@(Model[2].TransMoney)" name="preFreight" />元*@
                折扣率<input type="text" value="@(Model[2].Discount)" name="sale" />%
                @*折后运费<input type="text" value="@(Model[2].SaleMoney)" name="nextFreight" />元*@
            </td>
            <td>
                @*运费<input type="text" value="@(Model[3].TransMoney)" name="preFreight" />元*@
                折扣率<input type="text" value="@(Model[3].Discount)" name="sale" />%
                @*折后运费<input type="text" value="@(Model[3].SaleMoney)" name="nextFreight" />元*@
            </td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    $('#save').click(function () {
        var list = [];
        $('table tbody tr td').each(function (i) {
            var data = {};
            data.Rank = i + 1;
            //   data.TransMoney = $(this).find('input[name=preFreight]').val();
            data.Discount = $(this).find('input[name=sale]').val();
            //    data.SaleMoney = $(this).find('input[name=nextFreight]').val();
            list.push(data);
        });

        console.log(list);
        $.ajax({
            type: 'GET',
            url: '/UserPermission/SaveTrans?list=' + JSON.stringify(list),
            dataType: 'json',
            success: function (result) {
                if (result.status == 1) {
                    alert("保存成功");
                } else {
                    alert("保存失败");
                }
            }
        });
    });

    //$('input[name=sale]').focusout(function () {
    //    var oldMoney = $(this).prev().val();
    //    var newMoney = oldMoney * 1.0 * ($(this).val() / 100);

    //    $(this).next().val(newMoney.toFixed(2));
    //});


    $(function () {
        $('input[type=text]').each(function () {
            var value = $(this).val() * 1;

            $(this).val(value.toFixed(2));
        });
    });

</script>