@using Tuhu.Provisioning.Business;
@using Tuhu.Provisioning.Business.MDBeauty;
@using Tuhu.Provisioning.DataAccess.Entity;
@using Newtonsoft.Json;
@using System.Configuration;
@model BeautyHomePageConfig
@{

    List<Region>
    ProvinceList = ViewBag.ProvinceList as List<Region>;
}
<style>
    body {
        font-family: "Microsoft Yahei";
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: cornflowerblue;
        border: solid 1px cornflowerblue;
    }
</style>
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>

<form action="/BeautyHomePageConfig/Edit" method="post">
    <input type="hidden" value="@Model.Id" name="Id" />
    <div>
        <table id="table1" style="width: 100%">
            <tr>
                <td>渠道</td>
                <td>
                    <select id="Channel">
                        @if (Model.Channel == "android")
                        {
                            <option value="android" selected="selected">Android</option>
                            <option value="ios">iOS</option>
                            <option value="wx">微信</option>
                        }
                        else if (Model.Channel == "ios")
                        {
                            <option value="android">Android</option>
                            <option value="ios" selected="selected">iOS</option>
                            <option value="wx">微信</option>
                        }
                        else if (Model.Channel == "wx")
                        {
                            <option value="android">Android</option>
                            <option value="ios">iOS</option>
                            <option value="wx" selected="selected">微信</option>
                        }

                    </select>
                </td>
            </tr>
            <tr>
                <td width="12%">状态</td>
                <td>
                    @Html.RadioButtonFor(m => m.Status, true) 启用
                    @Html.RadioButtonFor(m => m.Status, false) 禁用
                </td>
            </tr>
            <tr>
                <td>显示顺序</td>

                <td>
                    <input type="number" value="@Model.Sort" name="Sort" />
                </td>

            </tr>
            <tr>
                @if (Model.Type == 1)
                {
                    <td>模块名称</td>
                }
                else if (Model.Type == 2)
                {
                    <td>活动名称</td>
                }

                <td>
                    <input type="text" value="@Model.Name" name="Name" />
                </td>

            </tr>
            <tr>
                <td>开始版本</td>
                <td>
                    <input type="text" value="@Model.StartVersion" name="StartVersion" />

                </td>
            </tr>
            <tr>
                <td>结束版本</td>
                <td>
                    <input type="text" value="@Model.EndVersion" name="EndVersion" />
                </td>
            </tr>

            <tr>
                <td>大标题</td>
                <td>
                    <input type="text" value="@Model.Title" name="Title" />
                </td>
            </tr>
            <tr>
                <td>小标题</td>
                <td>
                    <input type="text" value="@Model.SmallTitle" name="SmallTitle" />
                </td>
            </tr>
            <tr>
                <td>万能跳转</td>
                <td>
                    <input type="text" value="@Model.Link" name="Link" />
                </td>
            </tr>
            <tr>
                <td>CARLEVEL</td>
                <td>
                    <input type="number" value="@Model.CarLevel" name="CarLevel" />
                </td>
            </tr>
            <tr>
                <td>开始时间</td>
                <td>
                    <input type="datetime-local" value="@(Model.StartTime.ToString("yyyy-MM-ddTHH:mm"))" name="StartTime" />

                </td>
            </tr>
            <tr>
                <td>结束时间</td>
                <td>
                    <input type="datetime-local" value="@(Model.EndTime.ToString("yyyy-MM-ddTHH:mm"))" name="EndTime" />
                </td>
            </tr>
            @if (Model.Type == 1)
            {
                <tr class="img">
                    <td>项目Icon</td>
                    <td>
                        <img height="40" class="vwPicture" src="@Model.Icon" />
                        <form method="post" action="" enctype="multipart/form-data">
                            <input style="width:150px;" type="file" onchange="UploadImg(this)" id="1" name="1" />
                        </form><br />
                        <input type="text" class="image" name="Icon" value="@Model.Icon" />
                    </td>
                </tr>
            }
            else if (Model.Type == 2)
            {
                <tr class="img">
                    <td>活动Banner1</td>
                    <td>
                        <img height="40" class="vwPicture" src="@Model.Icon" />
                        <form method="post" action="" enctype="multipart/form-data">
                            <input style="width:150px;" type="file" onchange="UploadImg(this)" id="1" name="1" />
                        </form><br />
                        <input type="text" class="image" name="Icon" value="@Model.Icon" />
                    </td>
                </tr>

                <tr class="img">
                    <td>活动Banner2</td>
                    <td>
                        <img height="40" class="vwPicture" src="@Model.Banner" />
                        <form method="post" action="" enctype="multipart/form-data">
                            <input style="width:150px;" type="file" onchange="UploadImg(this)" id="2" name="2" />
                        </form><br />
                        <input type="text" class="image" name="Banner" value="@Model.Banner" />
                    </td>
                </tr>
            }

            <tr>
                @{
                    IEnumerable
                    <SE_MDBeautyPartConfigModel>
                        BeautyPart = SE_MDBeautyPartConfigBLL.SelectPages(1, int.MaxValue);
                    MeiRongAcitivityConfigManager meiRongAcitivityConfigManager = new MeiRongAcitivityConfigManager();
                    List<MeiRongAcitivityConfig> activity = meiRongAcitivityConfigManager.GetMeiRongAcitivityConfigList();
                }
                @if (Model.Type == 1)
                {
                    <td>选择类目</td>
                    <td>
                        <select id="CategoryID">
                            @foreach (var item in BeautyPart)
                            {
                                if (item.Id == Model.CategoryID)
                                {
                                    <option selected="selected" value="@item.Id">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </td>

                }
                else if (Model.Type == 2)
                {
                    <td>选择活动</td>
                    <td>
                        <select id="activity">
                            <option value="0">附近优惠</option>
                            @foreach (var item in activity)
                            {
                                if (item.Id == Model.ActivityPKID)
                                {
                                    <option selected="selected" value="@item.Id" value1="@item.ActivityId">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id" value1="@item.ActivityId">@item.Name</option>
                                }
                            }

                        </select>
                    </td>
                }


            </tr>
            @if (Model.Type == 1)
            {
                <tr>
                    <td width="12%">是否前端展示</td>
                    <td>
                        @Html.RadioButtonFor(m => m.IsNotShow, false) 展示
                        @Html.RadioButtonFor(m => m.IsNotShow, true) 不展示
                    </td>
                </tr>
                <tr>
                    <td width="12%">Banner配置</td>
                    <td>
                        <a onclick="addBannerConfigs()">增加</a>
                        <table id="bannerConfigs">
                            <tr>
                                <td>跳转|优惠券</td>
                                <td>跳转地址|优惠券GUID</td>
                                <td>图片(宽高比5:2)</td>
                                <td>展示顺序(越大越靠前)</td>
                                <td>操作</td>
                            </tr>
                            @{
                                if (Model.BannerConfigsList != null && Model.BannerConfigsList.Any())
                                {
                                    for (int i = 0; i < Model.BannerConfigsList.Count; i++)
                                    {
                                        var item = Model.BannerConfigsList[i];
                                <tr id="configs_@i">
                                    @if (item.ConfigType == 2)
                                                {
                                    <td>
                                        <input type="radio" value="2" class="Jump" name="bcType_@i" checked="checked" onclick="ConfigTypeChange(this)" /> 跳转
                                        <input type="radio" value="1" class="Promotion" name="bcType_@i" onclick="ConfigTypeChange(this)" />优惠券
                                    </td>
                                    <td>
                                        <input type="text" value="@item.JumpUrl" name="configValue_@i" class="configValue" />
                                    </td>
                                                }
                                                else
                                                {
                                    <td>
                                        <input type="radio" value="2" class="Jump" name="bcType_@i" onclick="ConfigTypeChange(this)" /> 跳转
                                        <input type="radio" value="1" class="Promotion" name="bcType_@i" checked="checked" onclick="ConfigTypeChange(this)" />优惠券
                                    </td>
                                    <td>
                                        <input type="text" value="@item.PromotionGuid" class="configValue" name="configValue_@i" />
                                    </td>
                                                }
                                    <td>
                                        <img height="40" class="vwPicture" src="@item.ImageUrl" />
                                        <input style="width:150px;" type="file" onchange="UploadImg2(this)" id="file_@i" name="file_@i" />
                                        <input type="text" class="image" name="imgValue_@i" value="@item.ImageUrl" />
                                    </td>
                                    <td>
                                        <input type="number" class="sort" name="sortValue_@i" value="@item.Sort" style="width:50px;" />
                                    </td>
                                    <td>
                                        <a onclick="deleteBannerConfigs(@i)">删除</a>
                                    </td>
                                </tr>
                                        }
                                    }
                            }
                        </table>

                    </td>
                </tr>
                                }
            <tr>
                <td width="10%">是否开启更多城市</td>
                <td>
                    @Html.RadioButtonFor(m => m.IsRegion, true) 启用
                    @Html.RadioButtonFor(m => m.IsRegion, false) 禁用
                </td>

            </tr>

        </table>
        <table id="table3">
            <tbody>
                <tr>
                    <td>
                        省/自治区/直辖市
                    </td>
                    <td>
                        市/县/区
                    </td>
                    <td><a href="javascript:;" style="color:blue" onclick="AddRegion()">添加</a></td>
                </tr>
                @if (Model.RegionList != null && Model.RegionList.Count > 0)
                {
                    foreach (var region in Model.RegionList)
                    {
                        <tr class="region">
                            <td>
                                <select class="province">

                                    @foreach (var item in ProvinceList)
                                    {
                                        <option value="@item.PKID" @(item.PKID == region.ProvinceId ? "selected" : "")>@item.RegionName</option>
                                    }
                                </select>
                            </td>
                            <td>
                                @{
                                    MeiRongAcitivityConfigManager manaer = new MeiRongAcitivityConfigManager();
                                    List<Region> cityall = manaer.GetRegion(region.ProvinceId);
                                    List<RegionRelation> citylist = manaer.GetRegionRelation(region.ProvinceId, Model.Id, 2);
                                }

                                <fieldset>
                                    <div>
                                        <input type="checkbox" class="cityall" value="0" value1="全部" /><label>全部</label>
                                        @foreach (var item in cityall)
                                        {
                                            <input type="checkbox" @(citylist.Any(s => s.CityId == item.PKID) ? "checked" : "") value='@item.PKID' value1="@item.RegionName" /><label>@item.RegionName</label>
                                        }
                                    </div>
                                </fieldset>
                            </td>
                            <td>
                                <a style="color:blue;display:inline-block;width:50px;" href="javascript:;" onclick="DeleteRegion(this)">删除</a>
                            </td>
                        </tr>
                                        }
                                    }
            </tbody>
        </table>
        <input type="button" value="保存" onclick="SaveModel()" class="btn" />
    </div>
</form>

<table id="regionTable" style="display:none">
    <tr class="region">
        <td>
            <select class="province">
                @foreach (var item in ProvinceList)
                {
                    <option value="@item.PKID">@item.RegionName</option>
                }
            </select>
        </td>
        <td>
            <fieldset>
                <div>

                </div>
            </fieldset>
        </td>
        <td>
            <a style="color:blue;display:inline-block;width:50px;" href="javascript:;" onclick="DeleteRegion(this)">删除</a>
        </td>
    </tr>
</table>

<script>

    $(".cityall").click(function () {
        if ($(this).attr("checked")) {
            $(this).siblings().attr("checked", "checked");
        } else {
            $(this).siblings().attr("checked", false);
        }
    })

    $(function () {
        if ('@Model.IsRegion' == 'True') {
            $("#table3").show();
        } else {
            $("#table3").hide();
        }
    })

    $("input[name='IsRegion']").click(function () {
        if ($(this).val() == "True") {
            $("#table3").show();
        } else {

            $("#table3").hide();
        }
    })
    $(".province").change(function () {
        var self = $(this);
        self.val(self.val());
        var sb = '<input type="checkbox" class="cityall" value="0" value1="全部" /><label>全部</label>';
        $.get("/MeiRongAcitivityConfig/GetRegion/" + self.val() + "", function (result) {
            if (result.length != 0) {
                for (var i = 0; i < result.length; i++) {
                    sb += '<input type="checkbox" value=' + result[i].PKID + ' value1="' + result[i].RegionName + '" /> <label>' + result[i].RegionName + '</label>'
                }
            }

            self.parents("tr").find("td").eq(1).find("div").html(sb);

            $(".cityall").click(function () {
                if ($(this).attr("checked")) {
                    $(this).siblings().attr("checked", "checked");
                } else {
                    $(this).siblings().attr("checked", false);
                }
            })
        });
    });

    function DeleteRegion(target) {
        $(target).closest('tr').remove();
    }
    function AddRegion() {
        var tr = $("#regionTable tr").clone();
        tr.appendTo("#table3");

        $(".province").change(function () {
            var self = $(this);
            self.val(self.val());
            var sb = '<input type="checkbox" class="cityall" value="0" value1="全部" /><label>全部</label>';
            $.get("/MeiRongAcitivityConfig/GetRegion/" + self.val() + "", function (result) {
                if (result.length != 0) {
                    for (var i = 0; i < result.length; i++) {
                        sb += '<input type="checkbox" value=' + result[i].PKID + ' value1="' + result[i].RegionName + '" /> <label>' + result[i].RegionName + '</label>'
                    }
                }

                self.parents("tr").find("td").eq(1).find("div").html(sb);

                $(".cityall").click(function () {
                    if ($(this).attr("checked")) {
                        $(this).siblings().attr("checked", "checked");
                    } else {
                        $(this).siblings().attr("checked", false);
                    }
                })
            });
        });
    }

    var type = @Model.Type;
    function SaveModel() {
        var dataRegion = new Array();
        $('#table3 >tbody> tr').each(function () {
            if ($(this).attr("class") == "region") {
                var columns = $(this).children();
                if (columns.eq(0).find(".province").val()!=-1) {
                    columns.eq(1).find(":checkbox").each(function (j) {
                        var jsonData = { "ProvinceId": "", "ProvinceName": "" ,"CityId":"","CityName":""};
                        if ($(this).attr("checked")) {
                            if ($(this).attr("value1") != "全部") {
                                jsonData.CityName += $(this).attr("value1") + ",";
                                jsonData.ProvinceId = columns.eq(0).find(".province").val();
                                jsonData.ProvinceName = columns.eq(0).find(".province").find("option:selected").text();
                                jsonData.CityId =  $(this).attr("value");
                                jsonData.CityName = $(this).attr("value1");
                                if (jsonData.ProvinceId&&jsonData.CityId ) {
                                    dataRegion.push(jsonData);
                                }
                            }
                        }
                    });
                }
            }
        });
        console.log(JSON.stringify(dataRegion));
        var BannerOk = true;
        var bannerConfigsArray = [];
        var bannerTable = $("#bannerConfigs tr");
        bannerTable.each(function (i, e) {
            if (i==0)
            {
                return;
            }
            var config_id = $(e).attr("id");
           var num=config_id.substr(8, config_id.length);

            console.log(e);
            var configType = $(e).find("input[checked='checked']").val();
            var jumpUrl = $(e).find("input[name='configValue_" + num + "']").val();
            var promotionGuid = $(e).find("input[name='configValue_" + num + "']").val();
            var sort = $(e).find("input[name='sortValue_" + num + "']").val();
            if (configType == "1")//优惠券
            {
                jumpUrl = "";
                if (!promotionGuid)
                {
                    BannerOk = false;
                    alert("Banner配置第" + (i) + "行的优惠券GUID不能为空！");
                    return;
                }
                else {
                    var reg = new RegExp(/^[0-9a-z]{8}-[0-9a-z]{4}-[0-9a-z]{4}-[0-9a-z]{4}-[0-9a-z]{12}$/).test(promotionGuid);
                    if (!reg)
                    {
                        BannerOk = false;
                        alert("Banner配置第" + (i) + "行的优惠券GUID格式不正确！");
                        return;
                    }
                }
            }
            if (configType == "2")//跳转链接
            {
                promotionGuid ="";
                if (!jumpUrl)
                {
                    BannerOk = false;
                    alert("Banner配置第" + (i) + "行的跳转链接不能为空！");
                    return;
                }
            }
            var imageUrl = $(e).find("input[name='imgValue_" + num + "']").val();
            if (!imageUrl)
            {
                BannerOk = false;
                alert("Banner配置第" + i + "行的Banner配置图片为上传！");
                return;
            }


           var banner = {
               "ConfigType": configType,
               "JumpUrl": jumpUrl,
               "PromotionGuid": promotionGuid,
               "ImageUrl": imageUrl,
               "Sort": sort
            };
           bannerConfigsArray.push(banner);
        });
        if (BannerOk == false)
        {
            return;
        }
        var bannerConfigs = JSON.stringify(bannerConfigsArray);
        console.log(bannerConfigs);

        var dataStr = {
            "Id": $.trim($("input[name='Id']").val()),
            "Type": type,
            "Channel": $("#Channel").val(),
            "StartVersion": $.trim($("input[name='StartVersion']").val()),
            "EndVersion": $.trim($("input[name='EndVersion']").val()),
            "Status": $("input[name='Status']:checked").val(),
            "Name": $.trim($("input[name='Name']").val()),
            "Sort": $.trim($("input[name='Sort']").val()),
            "Title": $.trim($("input[name='Title']").val()),
            "SmallTitle": $.trim($("input[name='SmallTitle']").val()),
            "CategoryID": $.trim($("#CategoryID").val()),
            "CategoryName": $("#CategoryID").find("option:selected").text(),
            "Link": $.trim($("input[name='Link']").val()),
            "Icon": $.trim($("input[name='Icon']").val()),
            "Banner": $.trim($("input[name='Banner']").val()),
            "IsRegion": $.trim($("input[name='IsRegion']").val()),
            "CarLevel": $.trim($("input[name='CarLevel']").val()),
            "ActivityPKID": $("#activity").val(),
            "ActivityId":$("#activity").find("option:selected").attr("value1"),
            "IsRegion": $("input[name='IsRegion']:checked").val(),
            "StartTime": $.trim($("input[name='StartTime']").val()),
            "EndTime": $.trim($("input[name='EndTime']").val()),
            "Region": JSON.stringify(dataRegion),
            "IsNotShow": $("input[name='IsNotShow']:checked").val(),
            "BannerConfigs":bannerConfigs,
        };
        console.log(JSON.stringify(dataStr));

        $.ajax({
            type: "POST",
            url: "/BeautyHomePageConfig/Edit",
            data: dataStr,
            dataType: "JSON",
            success: function (result) {
                if (result) {
                    window.location.href = '/BeautyHomePageConfig/Index?type=' +@Model.Type;
                }
            },
            error: function (result) {
            }
        });
    }
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURIComponent(r[2]); return null;
    }
    function UploadImg(e) {
        var $e = $(e);
        var $ee = $e.parents("tr").find("td").eq(1).find("img");
        var $smallImage = $e.parents("tr").find("td").eq(1).find("input[class='smallImage']");
        var $image = $e.parents("tr").find("td").eq(1).find("input[class='image']");
        $.ajaxFileUpload({
            url: '/Article/AddArticleImg2',
            secureuri: false,
            fileElementId: $e.attr("id"),
            dataType: 'json',
            data: {},
            type: "post",
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $ee.attr("src", result.SImage);
                    $(".vwPicture").show();
                    $smallImage.val(result.SImage);
                    $image.val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            }
        })
    }

    function addBannerConfigs()
    {
        var bannerTable = $("#bannerConfigs");
        var i = $("#bannerConfigs tr").length - 1;
        if (i > 5)
        {
            alert("最多配置6条Banner");
            return;
        }
        bannerTable.append('<tr id="configs_' + i + '"><td><input type="radio" value="2" class="Jump"  name="bcType_' + i + '"   checked="checked"  onclick="ConfigTypeChange(this)"/> 跳转<input type="radio" value="1" class="Promotion"  name="bcType_' + i + '" onclick="ConfigTypeChange(this)"/>优惠券</td><td><input type="text" value=""  class="configValue"  name="configValue_' + i + '" /></td><td><img height="40" class="vwPicture" src="" /><input style="width:150px;" type="file" onchange="UploadImg2(this)" id="file_' + i + '" name="file_' + i + '" /><input type="text" class="image" name="imgValue_' + i + '" value="" /></td><td><input type="text" class="sort" name="sortValue_' + i + '" value="0" style="width:50px;"/></td><td><a onclick="deleteBannerConfigs(' + i + ')">删除</a></td></tr>');
    }
    function deleteBannerConfigs(e)
    {
        var bannerTable = $("#bannerConfigs");
        $("#configs_" + e).remove();
    }
    function UploadImg2(e) {
        var $e = $(e);
        var $ee = $e.parents("tr").find("td").eq(2).find("img");
        var $image = $e.parents("tr").find("td").eq(2).find("input[class='image']");
        $.ajaxFileUpload({
            url: '/Article/AddArticleImgForBeautyBanner',
            secureuri: false,
            fileElementId: $e.attr("id"),
            dataType: 'json',
            data: {},
            type: "post",
            success: function (result) {
                if (result.BImage != "") {
                    $ee.attr("src", result.BImage);
                    $(".vwPicture").show();
                    $image.val(result.BImage);
                } else {
                    alert("上传失败！" + result.Msg);
                }
            }
        })
    }
    function ConfigTypeChange(e)
    {
        var input = $(e);
        console.log(input);
        if (input.attr("class") == 'Jump')
        {
            input.parent().find("input[class='Promotion']").attr("checked", null);
            input.attr("checked", "checked");

        }
        else if (input.attr("class") == 'Promotion')
        {
            input.parent().find("input[class='Jump']").attr("checked", null);
            input.attr("checked", "checked");
        }
    }
</script>
