@using Tuhu.Provisioning.DataAccess.Entity;
@using Tuhu.Provisioning.Business;
@model List<ActivityPageRegionConfig>
@{
    ViewBag.Title = "Region";
    Layout = null;
    List<Region> ProvinceList = ViewBag.ProvinceList as List<Region>
        ;
}
<style>
       .table td {
        padding: 0;
        text-align:center;
    }

</style>
<div>
    <table id="table3">
        <tbody>
            <tr>
                <td>
                    省/自治区/直辖市
                </td>
                <td>
                    市/县/区
                </td>
                <td><a href="javascript:;" style="color:blue" onclick="AddRegion()">添加</a></td>
            </tr>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var region in Model)
                {
                    <tr class="region">
                        <td>
                            <select class="province">
                                <option value="-1">请选择</option>
                                @foreach (var item in ProvinceList)
                                {
                                    <option value="@item.PKID" @(item.RegionName == region.Province ? "selected" : "")>@item.RegionName</option>
                                }
                            </select>
                        </td>
                        <td>
                            @{
                                MeiRongAcitivityConfigManager manaer = new MeiRongAcitivityConfigManager();
                                RegionActivityPageConfigManager manager1 = new RegionActivityPageConfigManager();

                                List<Region> cityall = new List<Region>();
                                if (region.Province == "上海市")
                                {
                                    cityall.Add(new Region { RegionName = "上海市" });
                                }
                                else if (region.Province == "天津市")
                                {
                                    cityall.Add(new Region { RegionName = "天津市" });
                                }
                                else if (region.Province == "北京市")
                                {
                                    cityall.Add(new Region { RegionName = "北京市" });
                                }
                                else if (region.Province == "重庆市")
                                {
                                    cityall.Add(new Region { RegionName = "重庆市" });
                                }
                                else
                                {
                                    cityall = manaer.GetRegion(region.Province);
                                }

                                List<ActivityPageRegionConfig> citylist = manager1.GetRegionRelationByName(ViewBag.UrlId, region.Province);
                            }


                            <div>
                                <input type="checkbox" class="cityall" value="0" value1="全部" /><label>全部</label>
                                @foreach (var item in cityall)
                                {
                                    <input type="checkbox" @(citylist.Any(s => s.City == item.RegionName) ? "checked" : "") value1="@item.RegionName" /><label>@item.RegionName</label>
                                }
                            </div>

                        </td>
                        <td>
                            <a style="color:blue;display:inline-block;width:50px;" href="javascript:;" onclick="DeleteRegion(this)">删除</a>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
    <table id="regionTable" style="display:none">
        <tr class="region">
            <td>
                <select class="province">
                    <option value="-1">请选择</option>
                    @foreach (var item in ProvinceList)
                    {
                        <option value="@item.PKID">@item.RegionName</option>
                    }
                </select>
            </td>
            <td>

                <div>

                </div>

            </td>
            <td>
                <a style="color:blue;display:inline-block;width:50px;" href="javascript:;" onclick="DeleteRegion(this)">删除</a>
            </td>
        </tr>
    </table>

</div>
<script>
    $(".province").change(function () {
        var self = $(this);
        self.val(self.val());
        var name = self.find("option:selected").text();
        var sb = '<input type="checkbox" class="cityall" value="0" value1="全部" /><label>全部</label>';

        var div = self.parents("tr").find("td").eq(1).find("div");
        if (name == "上海市") {
            sb = '<input type="checkbox" value="" value1="上海市" /> <label>上海市</label>'
            div.html(sb);
        } else if (name == "北京市") {
            sb = '<input type="checkbox" value="" value1="北京市" /> <label>北京市</label>'
            div.html(sb);
        } else if (name == "天津市") {
            sb = '<input type="checkbox" value="" value1="天津市" /> <label>天津市</label>'
            div.html(sb);
        } else if (name == "重庆市") {
            sb = '<input type="checkbox" value="" value1="重庆市" /> <label>重庆市</label>'
            div.html(sb);
        } else {
            $.get("/MeiRongAcitivityConfig/GetRegion/" + self.val() + "", function (result) {
                if (result.length != 0) {
                    for (var i = 0; i < result.length; i++) {
                        sb += '<input type="checkbox" value=' + result[i].PKID + ' value1="' + result[i].RegionName + '" /> <label>' + result[i].RegionName + '</label>'
                    }
                }

                div.html(sb);

                $(".cityall").click(function () {
                    if ($(this).attr("checked")) {
                        $(this).siblings().attr("checked", "checked");
                    } else {
                        $(this).siblings().attr("checked", false);
                    }
                })
            });
        }
    });

    function DeleteRegion(target) {
        $(target).closest('tr').remove();
    }
    function AddRegion() {
        var tr = $("#regionTable tr").clone();
        tr.appendTo("#table3");

        $(".province").change(function () {
            var self = $(this);
            self.val(self.val());
            var name = self.find("option:selected").text();
            var sb = '<input type="checkbox" class="cityall" value="0" value1="全部" /><label>全部</label>';
            var div = self.parents("tr").find("td").eq(1).find("div");
            if (name == "上海市") {
                sb = '<input type="checkbox" value="" value1="上海市" /> <label>上海市</label>'
                div.html(sb);
            } else if (name == "北京市") {
                sb = '<input type="checkbox" value="" value1="北京市" /> <label>北京市</label>'
                div.html(sb);
            } else if (name == "天津市") {
                sb = '<input type="checkbox" value="" value1="天津市" /> <label>天津市</label>'
                div.html(sb);
            } else if (name == "重庆市") {
                sb = '<input type="checkbox" value="" value1="重庆市" /> <label>重庆市</label>'
                div.html(sb);
            } else {

                $.get("/MeiRongAcitivityConfig/GetRegion/" + self.val() + "", function (result) {
                    if (result.length != 0) {
                        for (var i = 0; i < result.length; i++) {
                            sb += '<input type="checkbox" value=' + result[i].PKID + ' value1="' + result[i].RegionName + '" /> <label>' + result[i].RegionName + '</label>'
                        }
                    }

                    div.html(sb);

                    $(".cityall").click(function () {
                        if ($(this).attr("checked")) {
                            $(this).siblings().attr("checked", "checked");
                        } else {
                            $(this).siblings().attr("checked", false);
                        }
                    })
                });
            }
        });
    }


    $(".cityall").click(function () {
        if ($(this).attr("checked")) {
            $(this).siblings().attr("checked", "checked");
        } else {
            $(this).siblings().attr("checked", false);
        }
    })
</script>
