@using Tuhu.Provisioning.Models

@model Dictionary<int, List<ActivityProduct>>
@{
    ViewBag.Title = "限时抢购配置";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var p = ViewData["Product"] as List<ActivityProduct>;
    var a = ViewData["Activity"] as List<ActivityModel>;
}
<style>
    table th {
        background-color: #5C87B2;
        color: #ffffff;
    }

    a {
        cursor: pointer;
    }

    .set div span {
        color: red;
        font-size: 16px;
    }

    .set div label {
        font-weight: bold;
        padding: 5px 10px 5px 0;
        line-height: 50px;
        color: black;
        font-size: 16px;
    }

    .set div > input {
        padding-left: 8px;
        width: 200px;
        height: 30px;
        line-height: 30px;
    }

    .tabproduct tr td input {
        width: 100%;
    }

    .tbright_btn {
        background-color: #EBEBEB;
        border: 1px solid;
        border-radius: 3px;
        width: 80px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
    }

    .activeimg {
        display: inline-block;
        width: 360px;
        height: 40px;
        border: 1px solid #5C87B2;
        vertical-align: bottom;
    }

        .activeimg > img {
            width: 360px;
            height: 40px;
        }

    .selectType {
        padding-left: 8px;
        width: 210px;
        height: 35px;
        line-height: 30px;
        border: 1px solid #CCC;
    }
</style>
<link href="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />

<div style="clear:both;"></div>
@if (ViewBag.Type == "1")
{
    <div style="float:left">
        <h2>
            <span>活动配置</span>
            <span style="color:#08c;margin-left:10px;">
                <a href="/FlashSales/ConfigurationIndex?type=2">新建活动</a>
            </span>
        </h2>
    </div>

    <div style="clear:both;float:left">
        <h3 class="hd">
            <a href="javascript:void(0);" style="color:red;">限时抢购</a>&nbsp;&nbsp;&nbsp;
            <a href="javascript:void(0);">闪购</a>&nbsp;&nbsp;&nbsp;
            <a href="javascript:void(0);">普通活动</a>&nbsp;&nbsp;&nbsp;
        </h3>
    </div>
    <table style="width:100%;" class="tabflashsale">
        <tr>
            <th width="5%">序号</th>
            <th width="15%">活动ID</th>
            <th width="10%">活动名称</th>
            <th width="20%">开始时间</th>
            <th width="20%">结束时间</th>
            <th width="20%">操作历史</th>
            <th width="10%">操作</th>
        </tr>
        @if (a != null)
        {
            int i = 0;
            var items = a.Where(o => o.ActiveType == 0);
            foreach (var item in items)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>@item.ActivityID</td>
                    <td><a href="https://www.tuhu.cn/spages/FlashSalesActivity/@(item.ActivityID).aspx" target="_blank">@item.ActivityName</a></td>
                    <td>@item.StartDateTime.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@item.EndDateTime.ToString("yyyy-MM-dd HH:mm")</td>
                    <td><a href="javascript:void(0)" onclick="javascript: LookOpr(this)">查看操作历史</a></td>
                    <td><a href="javascript:void(0)" onclick="javascript: UpdateActivity(this)">修改</a>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="javascript:DelActivity(this)">删除</a></td>
                </tr>
            }
        }
    </table>
    <table style="width:100%;display:none;" class="tabshangou">
        <tr>
            <th width="5%">序号</th>
            <th width="15%">活动ID</th>
            <th width="10%">活动名称</th>
            <th width="20%">开始时间</th>
            <th width="20%">结束时间</th>
            <th width="20%">操作历史</th>
            <th width="10%">操作</th>
        </tr>
        @if (a != null)
        {
            int i = 0;
            var items = a.Where(o => o.ActiveType == 1).OrderByDescending(o => o.StartDateTime);
            foreach (var item in items)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>@item.ActivityID</td>
                    <td><a href="https://www.tuhu.cn/SPages/ShanGou.aspx" target="_blank">@item.ActivityName</a></td>
                    <td>@item.StartDateTime.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@item.EndDateTime.ToString("yyyy-MM-dd HH:mm")</td>
                    <td><a href="javascript:void(0)" onclick="javascript: LookOpr(this)">查看操作历史</a></td>
                    <td><a href="javascript:void(0)" onclick="javascript: UpdateActivity(this)">修改</a>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="javascript:DelActivity(this)">删除</a></td>
                </tr>}
        }
    </table>
    <table style="width:100%;display:none;" class="tabnormal">
        <tr>
            <th width="5%">序号</th>
            <th width="15%">活动ID</th>
            <th width="10%">活动名称</th>
            <th width="20%">开始时间</th>
            <th width="20%">结束时间</th>
            <th width="20%">操作历史</th>
            <th width="10%">操作</th>
        </tr>
        @if (a != null)
        {
            int i = 0;
            var items = a.Where(o => o.ActiveType == 2).OrderByDescending(o => o.StartDateTime);
            foreach (var item in items)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>@item.ActivityID</td>
                    <td><a href="https://www.tuhu.cn/spages/WebActivity/@(item.ActivityID).aspx" target="_blank">@item.ActivityName</a></td>
                    <td>@item.StartDateTime.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@item.EndDateTime.ToString("yyyy-MM-dd HH:mm")</td>
                    <td><a href="javascript:void(0)" onclick="javascript: LookOpr(this)">查看操作历史</a></td>
                    <td><a href="javascript:void(0)" onclick="javascript: UpdateActivity(this)">修改</a>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="javascript:DelActivity(this)">删除</a></td>
                </tr>}
        }
    </table>
}
@if (ViewBag.Type == "2")
{
    var pcodeIDStr = "";
    if (Model.Count > 0 && !string.IsNullOrEmpty(Model.FirstOrDefault().Value.FirstOrDefault().PCodeIDS))
    {
        pcodeIDStr = Model.FirstOrDefault().Value.FirstOrDefault().PCodeIDS;
        if (pcodeIDStr.Split(';').Length == 1)
        { pcodeIDStr += ";;"; }
        if (pcodeIDStr.Split(';').Length == 2)
        { pcodeIDStr += ";"; }
    }

    <div style="float:left;margin-left:10px;">
        <h2>
            <a href="/FlashSales/ConfigurationIndex?type=1">返回配置首页</a>
        </h2>
    </div>
    <div style="clear:both;border:solid #999 1px;" class="set">
        <div><span>*</span><label>活动ID:&nbsp;&nbsp;</label><span class="activityid">@(Model.Count == 0 ? "自动生成,无需填写" : Model.FirstOrDefault().Value.FirstOrDefault().ActivityID.ToString())</span></div>
        <div><span>*</span><label>活动名称:</label><input type="text" name="Name" value="@(Model.Count == 0 ? "" : Model.FirstOrDefault().Value.FirstOrDefault().ActivityName)" placeholder="输入不可超过20个字符" maxlength="20" /></div>
        <div><span>*</span><label>活动时段:</label><input type="text" id="startDate" readonly="readonly" value="@(Model.Count == 0 ? "" : Model.FirstOrDefault().Value.FirstOrDefault().StartDateTime.ToString("yyyy-MM-dd HH:mm"))" />—<input type="text" id="endDate" readonly="readonly" value="@(Model.Count == 0 ? "" : Model.FirstOrDefault().Value.FirstOrDefault().EndDateTime.ToString("yyyy-MM-dd HH:mm"))" /></div>
        <div><span>*</span><label>活动类型:</label><select class="selectType"><option value="0">限时抢购</option><option value="1" @(Model.Count > 0 && Model.FirstOrDefault().Value.FirstOrDefault().ActiveType == 1 ? "selected" : "")>闪购</option><option value="2" @(Model.Count > 0 && Model.FirstOrDefault().Value.FirstOrDefault().ActiveType == 2 ? "selected" : "")>普通活动</option></select></div>
        <div class="usenotshangou" style="@(Model.Count == 0 || (Model.Count > 0 && Model.FirstOrDefault().Value.FirstOrDefault().ActiveType != 1)?"":"display:none")"><span></span><label>&nbsp;优惠券ID:</label><input type="text" name="pcodeid1" value="@(pcodeIDStr == "" ? "" : pcodeIDStr.Split(';')[0])" /><input type="text" name="pcodeid2" value="@(pcodeIDStr == "" ? "" : pcodeIDStr.Split(';')[1])" /><input type="text" name="pcodeid3" value="@(pcodeIDStr == "" ? "" : pcodeIDStr.Split(';')[2])" /></div>
        <div class="usenotshangou" style="@(Model.Count == 0 || (Model.Count > 0 && Model.FirstOrDefault().Value.FirstOrDefault().ActiveType != 1)?"":"display:none")"><label style="float:left">&nbsp;&nbsp;banner:</label><divl style="float:left;margin:21px 10px 0 0;"><div class="tbright_btn">选择图片</div><input type="file" id="top_banner" name="top_banner" style="display:none;" /></divl><div class="activeimg top" style="margin:10px 0 0"><img src="@(Model.Count > 0&&Model.FirstOrDefault().Value.FirstOrDefault().WebBanner!=null ? Model.FirstOrDefault().Value.FirstOrDefault().WebBanner:"")" /></div></div>
        <div style="clear:both"></div>
        <div class="usenotshangou" style="@(Model.Count == 0 || (Model.Count > 0 && Model.FirstOrDefault().Value.FirstOrDefault().ActiveType != 1)?"":"display:none")"><label style="float:left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;底图:</label><divl style="float:left;margin:21px 10px 0 0;"><div class="tbright_btn">选择图片</div><input type="file" id="bottom_banner" name="bottom_banner" style="display:none;" /></divl><div class="activeimg bottom" style="margin:10px 0 0"><img src="@(Model.Count > 0&&Model.FirstOrDefault().Value.FirstOrDefault().WebOtherPart!=null ? Model.FirstOrDefault().Value.FirstOrDefault().WebOtherPart:"")" /></div></div>
        <div style="clear:both"></div>
        @*<div><label>&nbsp;底图链接:</label><input type="text" name="bottom_link" value="" /></div>*@
        <div class="usenotshangou" style="@(Model.Count == 0 || (Model.Count > 0 && Model.FirstOrDefault().Value.FirstOrDefault().ActiveType != 1)?"":"display:none")"><span>*</span><label>背景色:&nbsp;&nbsp;</label><input type="text" name="bgcolor" value="@(Model.Count > 0&&Model.FirstOrDefault().Value.FirstOrDefault().WebBackground!=null ? Model.FirstOrDefault().Value.FirstOrDefault().WebBackground:"")" /></div>
        <div><label>&nbsp;会场限购件数:</label><input type="text" name="PlaceQuantity" placeholder="不需会场限购则不填" value="@(Model.Count==0?null:Model.FirstOrDefault().Value.FirstOrDefault().PlaceQuantity)" /></div>
        <div id="productDiv">
            <span>*</span><label>添加活动商品:</label>
            @if (Model.Count > 0)
            {
                Random rd = new Random();
                foreach (var item in Model)
                {

                    <table style="width:90%;margin-left:7%;" class="tabproduct">
                        <tr>
                            <th width="10%" style="background-color:red;">第<input type="text" value="@item.Key" style="width:20px;" />层</th>
                            <th width="10%">PID</th>
                            <th width="5%">排序</th>
                            <th width="20%">商品名称</th>
                            <th width="7%">原价</th>
                            <th width="7%">促销价</th>
                            <th width="6%">伪原价</th>
                            <th width="8%">每人限购</th>
                            <th width="7%">总限购</th>
                            <th width="5%">安装/付款方式</th>
                            <th width="5%">优惠券</th>
                            <th width="5%">渠道</th>
                            <th width="5%">是否加入会场限购</th>
                            <th width="5%">操作</th>
                        </tr>
                        <tr>
                            <td>楼层图片：</td>
                            <td>
                                <input type="hidden" name="name" value="@item.Value.FirstOrDefault().ImgUrl" />
                                <div class="tbright_btn">选择图片</div>
                                <input type="file" id="floor@(rd.Next(0,100000))" name="floor" style="visibility:hidden;" />
                            </td>
                            <td colspan="7"><lable style="display: inline-block;width: 360px;height: 40px;border: 1px solid #5C87B2;vertical-align: bottom;"><img src="@item.Value.FirstOrDefault().ImgUrl" style="width:360px;height:40px;" /></lable></td>
                        </tr>
                        @if (item.Value.Count > 0)
                        {
                            foreach (var s in item.Value)
                            {
                                <tr class="tabtr" data-pkid="@s.PKID">
                                    <td></td>
                                    <td><input type="text" onblur="javascript: CheckPID(this)" value="@s.PID" /></td>
                                    <td><input type="text" value="@s.Position" /></td>
                                    <td>@s.DisplayName</td>
                                    <td>@s.OriginalPrice</td>
                                    <td><input type="text" value="@(s.Price==9999?"":s.Price.ToString("0.00"))" /></td>
                                    <td><input type="text" value="@(s.FalseOriginalPrice==0?(Math.Ceiling(s.OriginalPrice*1.3M)).ToString("0.00"):s.FalseOriginalPrice.ToString("0.00"))" /></td>
                                    <td><input type="text" value="@(s.MaxQuantity == 0 ? "" : s.MaxQuantity.ToString())" /></td>
                                    <td><input type="text" value="@(s.TotalQuantity == 0 ? "" : s.TotalQuantity.ToString())" /></td>
                                    <td><select><option value="不限" @(string.IsNullOrWhiteSpace(s.InstallAndPay) ? "selected" : "")>不限</option><option value="PayOnline" @(s.InstallAndPay == "PayOnline" ? "selected" : "")> 在线支付</option><option value="InstallAtShop" @(s.InstallAndPay == "InstallAtShop" ? "selected" : "")>到店安装</option><option value="PayOnlineAndInstallAtShop" @(s.InstallAndPay == "PayOnlineAndInstallAtShop" ? "selected" : "")>在线支付且到店安装</option></select></td>
                                    <td><select><option value="1" @(s.IsUsePCode == 1 ? "selected" : "")>使用</option><option value="0" @(s.IsUsePCode == 0 ? "selected" : "")>不使用</option></select></td>
                                    <td><select><option value="all" @(s.Channel == "all" ? "selected" : "")>全部</option><option value="pc" @(s.Channel == "pc" ? "selected" : "")>仅网站</option><option value="app" @(s.Channel == "app" ? "selected" : "")>仅APP</option></select></td>
                                    <td><select><option value="0" @(s.IsJoinPlace ? "" : "selected")>否</option><option value="1" @(s.IsJoinPlace ? "selected" : "")>是</option></select></td>
                                    <td><a href="javascript:void(0);" onclick="javascript:DelProduct(this)">删除</a></td>
                                </tr>
                            }
                        }
                        <tr class="add">
                            <td colspan="3">
                                <a href="javascript:void(0);" onclick="javascript:AddProduct(this)" style="font-size:14px;">+添加商品</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="javascript:void(0);" onclick="javascript:DelLevel(this)" style="font-size:14px;">-删除此楼层</a>
                            </td>
                        </tr>
                    </table>
                }
            }


        </div>

        <button href="javascript:void(0);" onclick="AddLevel()" style="margin:10px;width:100px;height:40px;">+添加楼层</button><br>
        @if (Model.Count > 0 && Model.FirstOrDefault().Value.FirstOrDefault().ActiveType != 2)
        {
            <button style="margin:10px;width:100px;height:40px;" class="checkprice">价格校验</button>
        }
        <button style="margin:10px;width:100px;height:40px;" class="btn">保存</button>
        <div class="wrong_tit" style="color:red;font-size:16px;"></div>
    </div>

}
<div id="AddItem"></div>
@section scripts{
    <script src="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.js"></script>
    <script>
        $(function () {
            $("#startDate").datetimepicker({
                timeFormat: "HH:mm",
                dateFormat: "yy-mm-dd",
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],

            });

            $("#endDate").datetimepicker({
                timeFormat: "HH:mm",
                dateFormat: "yy-mm-dd",
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            });
            $(".checkprice").click(function () {
                $(".wrong_tit").empty().html("正在校验...");
                var activityID = $(".activityid").text();
                var p = [];
                $("#productDiv .tabproduct").each(function (i) {//遍历楼层
                    $(this).find(".tabtr").each(function (j) {
                        var single = {
                            ActivityID: activityID == "自动生成,无需填写" ? "00000000-0000-0000-0000-000000000000" : activityID,
                            PID: $(this).find("td:eq(1) input").val(),
                            Price: $(this).find("td:eq(5) input").val()
                        }
                        p.push(single);
                    });
                });
                $.post("/FlashSales/CheckPIDSamePrice",
                    { p: JSON.stringify(p) },
                    function (content) {
                        $(".wrong_tit").empty().html(content);
                    });
            });
            $(".btn").click(function () {
                var activityName = $("input[name=Name]").val(),
                    activityId = $(".activityid").text(),
                    startDateTime = $("#startDate").val(),
                    activeType = $(".selectType").val(),
                    endDateTime = $("#endDate").val(),
                    topbanner = "",
                    bottombanner = "",
                    //bottomlink = $("[name=bottom_link]").val(),
                    bgcolor = "",
                    PlaceQuantity = $("[name=PlaceQuantity]").val(),
                pcodeIDs = ";;";//相当于三个优惠券ID都是空,便于处理
                if (activeType == "0" || activeType == "2") {
                    pcodeIDs = $("[name=pcodeid1]").val().trim() + ";" + $("[name=pcodeid2]").val().trim() + ";" + $("[name=pcodeid3]").val().trim()
                    topbanner = $(".activeimg.top>img").attr("src");
                    bottombanner = $(".activeimg.bottom>img").attr("src");
                    bgcolor = $("[name=bgcolor]").val();
                }
                if (activityName == "") {
                    alert("活动名称不能为空");
                    return;
                }
                if ((activeType == "0" || activeType == "2") && bgcolor == "") {
                    alert("背景色不能为空");
                    return;
                }
                if (!PlaceQuantity && isNaN(PlaceQuantity))
                {
                    alert("会场限购件数填写不规范");
                    retrun;
                }
                if (startDateTime == "" || endDateTime == "") {
                    alert("活动时段不能为空");
                    return;
                }
                if (new Date(startDateTime) >= new Date(endDateTime)) {
                    alert("活动开始时间必须小于结束时间");
                    return;
                }
                var flag = true;
                if (!$("#productDiv .tabproduct .tabtr").length) {
                    alert("未添加活动产品");
                    return;
                }

                $("#productDiv .tabproduct").each(function (i) {//遍历楼层
                    var lel = $(this).find("tr:eq(0) th input").val();//楼层
                    if (parseInt(lel) + "" == "NaN" || lel == "") {
                        alert("第" + lel + "楼层未填写或不符合");
                        flag = false;
                        return;
                    }
                    if (activeType == "0" && $(this).find("tr:eq(1) td:eq(1) input[type=hidden]").val() == "") {
                        alert("第" + lel + "楼层未传图片");
                        flag = false;
                        return;
                    }
                    $(this).find(".tabtr").each(function (j) {
                        if ($(this).find("td:eq(1) input").val() == "") {
                            alert("第" + lel + "楼层,第" + (j + 1) + "行PID未填写");
                            flag = false;
                            return;
                        }
                        if ($(this).find("td:eq(2) input").val() != "" && parseFloat($(this).find("td:eq(2) input").val()) + "" == "NaN" && flag) {
                            alert("第" + lel + "楼层,第" + (j + 1) + "行排序填写有误");
                            flag = false;
                            return;
                        }
                        if ($(this).find("td:eq(3)").text() == "无此产品编号" && flag) {
                            alert("第" + lel + "楼层,第" + (j + 1) + "行PID有误");
                            flag = false;
                            return;
                        }
                        if (activeType != "2" && $(this).find("td:eq(5) input").val() == "" && flag) {
                            alert("第" + lel + "楼层,第" + (j + 1) + "行促销价未填写");
                            flag = false;
                            return;
                        }
                        if (activeType != "2" && parseFloat($(this).find("td:eq(5) input").val()) + "" == "NaN" && flag) {
                            alert("第" + lel + "楼层,第" + (j + 1) + "行促销价有误");
                            flag = false;
                            return;
                        }
                        if (activeType != "2" && $(this).find("td:eq(6) input").val() != "" && parseFloat($(this).find("td:eq(6) input").val()) + "" == "NaN" && flag) {
                            alert("第" + lel + "楼层,第" + (j + 1) + "行伪原价有误");
                            flag = false;
                            return;
                        }
                        if (activeType != "2" && $(this).find("td:eq(6) input").val() =="") {
                            alert("第" + lel + "楼层,第" + (j + 1) + "行伪原价未填写");
                            flag = false;
                            return;
                        }
                        if (activeType == "1" && ($(this).find("td:eq(8) input").val() == "" || parseInt($(this).find("td:eq(8) input").val()) + "" == "NaN" || parseInt($(this).find("td:eq(8) input").val()) == 0) && flag) {
                            alert("第" + lel + "楼层,第" + (j + 1) + "行总限购不能为空且大于0");
                            flag = false;
                            return;
                        }
                        if (activeType == "0" && $(this).find("td:eq(4)").text() != "0.0000" && parseFloat($(this).find("td:eq(5) input").val()) != 1 && parseFloat($(this).find("td:eq(5) input").val()) != 11.11 && parseFloat($(this).find("td:eq(5) input").val()) != 12.12 && flag) {
                            if (!($(this).find("td:eq(5) input").val().indexOf(".") >= 0 && (parseFloat($(this).find("td:eq(5) input").val().split(".")[1]) == 9 || parseFloat($(this).find("td:eq(5) input").val().split(".")[1]) == 90))) {
                                if (Math.abs(parseFloat($(this).find("td:eq(4)").text()) - parseFloat($(this).find("td:eq(5) input").val())) / parseFloat($(this).find("td:eq(4)").text()) > 0.1) {
                                    alert("第" + lel + "楼层,第" + (j + 1) + "行促销价相对于原价浮动超过百分之10,请修改后提交");
                                    flag = false;
                                    return;
                                }
                            }
                        }
                    });
                });
                if (!flag) {
                    return;
                }
                var products = [];
                $("#productDiv .tabproduct").each(function (i) {//遍历楼层
                    var lcnum = $(this).find("tr:eq(0) th input").val();//楼层
                    var imgurl = $(this).find("tr:eq(1) td:eq(1) input[type=hidden]").val();
                    $(this).find(".tabtr").each(function (j) {
                        var onepro = {
                            PKID: !$(this).attr("data-pkid") ? "0" : $(this).attr("data-pkid"),
                            PID: $(this).find("td:eq(1) input").val(),
                            Position: $(this).find("td:eq(2) input").val(),
                            Price: activeType != "2" ? $(this).find("td:eq(5) input").val() : 9999,
                            FalseOriginalPrice: $(this).find("td:eq(6) input").val() == "" ? 0 : $(this).find("td:eq(6) input").val(),
                            MaxQuantity: $(this).find("td:eq(7) input").val() == "" ? "0" : $(this).find("td:eq(7) input").val(),
                            TotalQuantity: $(this).find("td:eq(8) input").val() == "" ? "0" : $(this).find("td:eq(8) input").val(),
                            Level: lcnum,
                            InstallAndPay: $(this).find("td:eq(9) select").val(),
                            ImgUrl: imgurl,
                            IsUsePCode: $(this).find("td:eq(10) select").val(),
                            Channel: $(this).find("td:eq(11) select").val(),
                            IsJoinPlace: $(this).find("td:eq(12) select").val()==1
                        };
                        products.push(onepro);
                    });

                });



                if ($("#productDiv").attr("data-pkids")) {
                    $.post("/FlashSales/DelActivityProduct", { pkids: $("#productDiv").attr("data-pkids") }, function () { });
                }
                $.post("/FlashSales/CreateOrUpdateActivityProduct",
                       {
                           ActivityName: activityName,
                           ActivityID: activityId,
                           StartDateTime: startDateTime,
                           EndDateTime: endDateTime,
                           Products: JSON.stringify(products),
                           PCodeIDS: pcodeIDs,
                           ActiveType: activeType,
                           WebBanner: topbanner,
                           WebOtherPart: bottombanner,
                           WebBackground: bgcolor,
                           PlaceQuantity: PlaceQuantity
                       }, function (result) {
                           if (result == -99)
                               alert("已存在该活动名,不可重复添加");
                           else if (result == -101)
                               alert("优惠券ID填写有误");
                           else if (result == -102)
                               alert("优惠券ID填写重复");
                           else if (result == -98 || result == -1)
                               alert("闪购活动不允许时间重叠，请重设时间！");
                           else if (result > 0) {
                               alert("成功");
                               location.href = "/FlashSales/ConfigurationIndex?type=1"
                           }
                       });
            });
        });
        //查看不通活动类型的活动
        $(".hd").on("click", "a", function () {
            var self = $(this);
            $(".hd a").css("color", "#08c");
            self.css("color", "red");
            if (self.index() == 0) {
                $(".tabflashsale").show();
                $(".tabshangou").hide();
                $(".tabnormal").hide();
            }
            else if (self.index() == 1) {
                $(".tabflashsale").hide();
                $(".tabshangou").show();
                $(".tabnormal").hide();
            }
            else if (self.index() == 2) {
                $(".tabflashsale").hide();
                $(".tabshangou").hide();
                $(".tabnormal").show();
            }
        });
        //活动类型切换时候优惠券ID的显示与隐藏
        $(".selectType").change(function () {
            $(".wrong_tit").empty();
            if ($(this).val() == 1)
                $(".usenotshangou").hide();
            else
                $(".usenotshangou").show();
            if ($(this).val() == 2)
                $(".checkprice").hide();
            else
                $(".checkprice").show();
        });
        function AddProduct(self) {
            $(self).parent().parent().before('<tr class="tabtr"><td></td><td><input type="text" onblur="javascript: CheckPID(this)" /></td><td><input type="text" /></td><td></td><td></td><td><input type="text" /></td><td><input type="text" /></td><td><input type="text" /></td><td><input type="text" /></td><td><select><option value="不限">不限</option><option value="PayOnline">在线支付</option><option value="InstallAtShop">到店安装</option><option value="PayOnlineAndInstallAtShop">在线支付且到店安装</option></select></td><td><select><option value="1">使用</option><option value="0">不使用</option></select></td> <td><select><option value="all">全部</option><option value="pc">仅网站</option><option value="app">仅APP</option></select></td><td><select><option value="0" selected)>否</option><option value="1">是</option></select></td><td><a href="javascript:void(0);" onclick="javascript:DelProduct(this)">删除</a></td></tr>');
        }
        function DelProduct(self) {
            if ($(self).parent().parent().attr("data-pkid")) {
                if (!$("#productDiv").attr("data-pkids")) {
                    $("#productDiv").attr("data-pkids", $(self).parent().parent().attr("data-pkid"));
                }
                else {
                    $("#productDiv").attr("data-pkids", $("#productDiv").attr("data-pkids") + ',' + $(self).parent().parent().attr("data-pkid"));
                }
            }
            $(self).parent().parent().remove();
        }
        function DelLevel(self) {
            if (!confirm("确认删除楼层?"))
                return;
            var trs = $(self).parent().parent().parent().find(".tabtr");
            if (trs.length > 0) {
                trs.each(function (i) {
                    if ($(this).attr("data-pkid")) {
                        if (!$("#productDiv").attr("data-pkids")) {
                            $("#productDiv").attr("data-pkids", $(this).attr("data-pkid"));
                        }
                        else {
                            $("#productDiv").attr("data-pkids", $("#productDiv").attr("data-pkids") + ',' + $(this).attr("data-pkid"));
                        }
                    }
                })
            }
            $(self).parent().parent().parent().parent().remove();
        }
        function CheckPID(self) {
            var _NewPID = $(self).val();
            $.ajax({
                type: "post",
                url: '/Advertise/GetProductNamebyPID',
                data: { "PID": _NewPID, "Cate": 1 },
                success: function (result) {
                    if (result != "") {
                        $(self).parent().next().next().empty().text(result);
                        $.ajax({ url: '/sale/pinfo', data: { pnum: _NewPID } }).done(function (data) {
                            var r = JSON.parse(data);
                            if (!r.error) {
                                var d = r[0];
                                $(self).parent().next().next().next().empty().text(d.cy_list_price);
                                $(self).parent().next().next().next().next().next().find("input").val((d.cy_list_price*1.3).toFixed(0)+".00");
                            }
                        });
                    }
                    else {
                        $(self).parent().next().next().empty().append('<font color="red">无此产品编号</font>')
                    }
                }
            });
        }

        function UpdateActivity(self) {
            location.href = "/FlashSales/ConfigurationIndex?type=2&ActivityID=" + $(self).parent().parent().find("td:eq(1)").text();
        }
        function DelActivity(self) {
            if (!confirm("确认是否删除?")) {
                return;
            }
            $.post("/FlashSales/DelActivity", { activityID: $(self).parent().parent().find("td:eq(1)").text() }, function (result) {
                if (result > 0) {
                    location.reload();
                }
                else {
                    alert("删除失败!");
                }
            });

        }

        function LookOpr(self) {
            $("#AddItem").load('/FlashSales/SelectOprForActivity?activityID=' + $(self).parent().parent().find("td:eq(1)").text() + ",");
            $("#AddItem").dialog({
                title: "操作历史",
                width: 600,
                height: 500,
                modal: true
            });
        }

    </script>

    <script src="~/Scripts/ajaxfileupload.js"></script>
    <script>
        function AddLevel() {
            var level;
            if ($("#productDiv>table:last>tbody>tr>th:first>input").length > 0) {
                level = $("#productDiv>table:last>tbody>tr>th:first>input").val();
            }
            else {
                level = 0;
            }
            var id = "floor" + (new Date()).getTime();
            $("#productDiv").append('<table style="width:90%;margin-left:7%;" class="tabproduct"><tr><th width="10%" style="background-color:red;">第<input type="text" value="' + (level - 0 + 1) + '" style="width:20px;" />层</th><th width="10%">PID</th><th width="5%">排序</th><th width="20%">商品名称</th><th width="7%">原价</th><th width="7%">促销价</th><th width="6%">伪原价</th><th width="8%">每人限购</th><th width="7%">总限购</th><th width="5%">安装/付款方式</th> <th width="5%">优惠券</th><th width="5%">渠道</th><th width="5%">是否加入会场限购</th><th width="5%">操作</th><tr><td>楼层图片：</td><td ><input type="hidden" name="name" value="" /><div class="tbright_btn">选择图片</div><input type="file" id="' + id + '" name="floor"  style="visibility:hidden;"/></td><td colspan="7"><lable style="display: inline-block;width: 360px;height: 40px;border: 1px solid #5C87B2;vertical-align: bottom;"><img style="width:360px;height:40px;" /></lable></td></tr></tr><tr class="add"><td colspan="3"><a href="javascript:void(0);" onclick="javascript:AddProduct(this)" style="font-size:14px;">+添加商品</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="javascript:DelLevel(this)" style="font-size:14px;">-删除此楼层</a></td></tr></table>');
        }

        $(".set").on("click", ".tbright_btn", function () {
            var self = $(this);
            var id = self.next().attr("id");
            self.next().click();
            self.next().on("change", function () {
                var geshi = $(this).val().split('.')[1].toUpperCase();
                if (geshi != "JPG" && geshi != "JPEG" && geshi != "GIF" && geshi != "PNG" && geshi != "BMP") {
                    alert("图片大小不能超过20M，格式支持jpg、jpeg、gif、png、bmp");
                    return;
                }
                $.ajaxFileUpload({
                    url: '/WebSiteHomeAd/ImageUploadToAli',
                    secureuri: false,
                    fileElementId: id,
                    dataType: 'text',
                    data: {},
                    type: "post",
                    data: { filepath: "/WebActive/Image/" },
                    success: function (src) {
                        if (src != "") {
                            self.prev().val("http://image.tuhu.cn" + src);
                            self.parent().next().find("img").attr("src", "http://image.tuhu.cn" + src);
                        }
                        else {
                            alert("上传失败！");
                        }
                    }
                });

            });
        });
    </script>

}