@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.PromotionModel>
@{
    ViewBag.Title = "优惠券策略";
	var i = 0;
}

@section head{
	<style>
		table {
			width: 60%;
			text-align: center;
		}

			table tr th {
				text-align: center;
			}
		h2 {
			width:200px;
			color:#333;
			float:left;
		}
		.addPromotion {
			margin-left:200px;
			color:#08c;
		}
	</style>
}
<h2 style="">优惠券策略</h2>
<h2 class="addPromotion"><a href="/Promotion/Index">返回优惠券配置</a></h2>

<div class="Detai_display">
<table>
	<tr>
		<th width="25%;">优惠券名称</th>
		<th width="25%;">按类别</th>
		<th width="25%;">按品牌</th>
		<th width="25%;">按PID</th>
        <th width="25%;">按门店ID</th>
        <th width="25%;">按门店类别</th>
	</tr>
	@foreach (var p in Model)
	{
		i++;
		<tr>
			@if (i == 1)
			{
				<td rowspan="@Model.Count()">@p.Name</td>
			}
			<td>@(string.IsNullOrWhiteSpace(p.Category)?"——":p.Category)</td>
			<td>@(string.IsNullOrWhiteSpace(p.Brand)?"——":p.Brand)</td>
			<td>@(string.IsNullOrWhiteSpace(p.ProductID) ? "——" : p.ProductID)</td>
            <td>@(p.ShopID==0 ? "——" : p.ShopID.ToString())</td>
            <td>@(p.ShopType == 0 ? "——" : p.ShopType.ToString())</td>
		</tr>
	}
</table>
</div>


@section scripts{
	<script>
		//function DeletePromotion(t,pkid)
		//{
		//	var r = confirm("是否确定删除信息？");
		//	if (r)
		//	{
		//		var data = { type: t, PKID: pkid };
		//		$.post("/Promotion/DeleteRecord", data, function (result)
		//		{
		//			if (result > 0)
		//			{
		//				alert("删除成功！");
		//				window.location.reload();
		//			}
		//		});
		//	}
		//}
	</script>
}
