@model Tuhu.Provisioning.DataAccess.Entity.Airlines

@{
    Layout = null;
}

<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("form").submit(function () {
            if ($("#AirlinesName").val() == "" ) {
                alert('名称不能为空');
                return false;
            }
        });

    });

</script>
@using (Html.BeginForm("EditAirlines", "Airlines"))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.ID)
    <table style="background:#ffffff;font-size:12px;width:100%;">
        <tr>
            <td align="right" style="width:30%;">客服名称:</td>
            <td style="width:70%;">@Html.TextBoxFor(model => model.AirlinesName, new { @style = "width:150px" })</td>
        </tr>
        <tr>
            <td align="right">状态:</td>
            <td>
                @Html.RadioButtonFor(m => m.State, 1) 启用
                @Html.RadioButtonFor(m => m.State, 0) 停用
            </td>
        </tr>
        <tr>
            <td align="right"></td>
            <td>
                <input type="submit" value="保存" />
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" value="取消并返回" onclick="location = 'AirlinesIndex'" />
            </td>
        </tr>
    </table>
}