@using Tuhu.Provisioning.Business;
@{
    ViewBag.Title = "限时抢购活动管理";
    Layout = "../Shared/_Layout.cshtml";
    var Android001List = ViewBag.Android001List as IList<Tuhu.Provisioning.DataAccess.Entity.FlashSales>;
    var IOS001List = ViewBag.IOS001List as IList<Tuhu.Provisioning.DataAccess.Entity.FlashSales>;
    IFlashSalesManager manager = new FlashSalesManager();
}

<style>
    .nodata {
        width: 98%;
        border: 4px solid #f0f0f0;
        color: #cccccc;
        font-size: 22px;
        font-weight: bold;
        line-height: 200px;
        margin: 0 auto;
        text-align: center;
    }


    .ModuleList, .ModuleList ul, .ModuleList ul li {
        width: 100%;
        float: left;
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .ModuleList ul li {
            padding-right: 2%;
            padding-bottom: 20px;
            width: 18%;
            float: left;
        }

            .ModuleList ul li .box {
                height: auto;
                width: 100%;
                float: left;
            }

                .ModuleList ul li .box .picbox {
                    height: auto;
                    width: 98%;
                    border: 1px solid #dddddd;
                    float: left;
                    background-color: #FFFFCC;
                    -moz-border-radius: 5px 5px 0 0; /* Gecko browsers */
                    -webkit-border-radius: 5px 5px 0 0; /* Webkit browsers */
                    border-radius: 5px 5px 0 0;
                }

                .ModuleList ul li .box .addnew, .ModuleList ul li .box .addnew2 {
                    height: auto;
                    width: 100%;
                    text-align: center;
                    line-height: 160px;
                    float: left;
                    background-color: #5c87b2;
                    color: #ffffff;
                    font-size: 22px;
                    font-weight: bold;
                    -moz-border-radius: 5px; /* Gecko browsers */
                    -webkit-border-radius: 5px; /* Webkit browsers */
                    border-radius: 5px;
                }

                .ModuleList ul li .box .addnew2 {
                    line-height: 172px;
                }

                    .ModuleList ul li .box .addnew a, .ModuleList ul li .box .addnew2 a {
                        color: #ffffff;
                    }

                .ModuleList ul li .box .picbox .line1 {
                    height: 30px;
                    line-height: 30px;
                    width: 100%;
                    float: left;
                    font-weight: bold;
                }

                .ModuleList ul li .box .picbox .line2 {
                    height: 60px;
                    line-height: 60px;
                    width: 100%;
                    float: left;
                    font-weight: bold;
                    font-size: 26px;
                    text-align: center;
                    overflow: hidden;
                }

                .ModuleList ul li .box .picbox .line3 {
                    border-top: 1px solid #f0f0f0;
                    height: 30px;
                    line-height: 30px;
                    width: 100%;
                    float: left;
                    background-color: #FFFFCC;
                }

                    .ModuleList ul li .box .picbox .line3 a {
                        text-decoration: underline;
                    }

                .ModuleList ul li .box .picbox .line4 {
                    height: 40px;
                    line-height: 40px;
                    width: 100%;
                    float: left;
                    font-size: 15px;
                    text-align: center;
                    background-color: #5c87b2;
                    color: #ffffff;
                }

                    .ModuleList ul li .box .picbox .line4 a {
                        color: #ffffff;
                    }

                .ModuleList ul li .box .picbox .line5 {
                    height: 100px;
                    line-height: 100px;
                    width: 100%;
                    float: left;
                    font-weight: bold;
                    font-size: 22px;
                    text-align: center;
                    background-color: #F9F9F9;
                    overflow: hidden;
                    -moz-border-radius: 5px 5px 0 0; /* Gecko browsers */
                    -webkit-border-radius: 5px 5px 0 0; /* Webkit browsers */
                    border-radius: 5px 5px 0 0;
                }

                .ModuleList ul li .box .picbox .line6 {
                    border-top: 1px solid #f0f0f0;
                    height: 30px;
                    line-height: 30px;
                    width: 100%;
                    float: left;
                    background-color: #666666;
                }

                    .ModuleList ul li .box .picbox .line6 a {
                        text-decoration: none;
                        color: #ffffff;
                    }

    .fengefu {
        width: 100%;
        border-bottom: 2px solid #999999;
        clear: both;
    }
</style>
<script>
    function btnDelete(PKID) {
        if (confirm('确定要删除吗？删除后旗下的产品集合也会被删除!!!')) {
            $.ajax({
                type: "post",
                url: '/FlashSales/DeleteFlashSales',
                data: { "id": PKID },
                success: function (result) {
                    if (result == true) {
                        window.location.href = "/FlashSales/FlashSales";
                    }
                }
            });
        }
    }

    function btnAdd(PKID, EnID) {
        if (PKID == 0) {
            $("#AddItem").load('/FlashSales/AddFlashSales?EnID=' + EnID);
        }
        else {
            $("#AddItem").load('/FlashSales/AddFlashSales?id=' + PKID);
        }
        $("#AddItem").dialog({
            title: "限时抢购活动管理",
            width: 600,
            height: 640,
            modal: true
        });
    }

    function ResetFlashSales(PKID) {
        if (confirm('确定要删除用户购买记录吗？\r\n删除后旗下的产品集合的剩余量会被重置!!!')) {
            $.ajax({
                type: "post",
                url: '/FlashSales/ResetFlashSales',
                data: { "id": PKID },
                success: function (result) {
                    if (result == true) {
                        alert('删除成功');
                    }
                    else {
                        alert('删除失败');
                    }
                }
            });
        }
    }
</script>

<div style="clear:both;"></div>
<h2>
    限时抢购活动管理-安卓
</h2>
<div class="ModuleList">
    <ul>
        @foreach (var item in Android001List)
        {
            <li>
                <div class="box">
                    <div class="picbox">
                        <div class="line1">
                            <div style="float: left; padding-left: 10px;">
                                <font color="#006600">@item.StartTime.ToString("yyyy-MM-dd HH:mm")</font>
                            </div>
                            <div style="float:right;padding-right:10px;">
                                @Html.Raw((item.Status == 0 ? "<font color=\"#FF0000\">已停用" : "<font color=\"#006600\">已启用") + "</font>")
                            </div>
                        </div>
                        <div class="line2" title="@item.Name">@item.Name</div>
                        <div class="line3">
                            <div style="float:left;padding-left:10px;">
                                <a href="javascript:void(0);" onclick="btnAdd('@item.PKID','0')">编辑</a>
                                <a href="javascript:void(0);" onclick="ResetFlashSales('@item.PKID')">删除用户购买记录</a>
                            </div>
                            <div style="float:right;padding-right:10px;"><a href="javascript:void(0);" onclick="btnDelete('@item.PKID')">删除</a></div>
                        </div>
                        <div class="line4">
                            <a href="/FlashSales/FlashSalesProduct?FlashSalesID=@item.PKID">产品集合设置(@(manager.GetCountByFlashSalesID(item.PKID)))</a>
                        </div>
                    </div>
                </div>
            </li>
        }
        <li>
            <div class="box">
                <div class="addnew">
                    <a href="javascript:void(0);" onclick="btnAdd('0','android001')">+ 新增模块</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="fengefu"></div>
<h2>
    限时抢购活动管理-IOS
</h2>
<div class="ModuleList">
    <ul>
        @foreach (var item in IOS001List)
        {
            <li>
                <div class="box">
                    <div class="picbox">
                        <div class="line1">
                            <div style="float: left; padding-left: 10px;">
                                <font color="#006600">@item.StartTime.ToString("yyyy-MM-dd HH:mm")</font>
                            </div>
                            <div style="float:right;padding-right:10px;">
                                @Html.Raw((item.Status == 0 ? "<font color=\"#FF0000\">已停用" : "<font color=\"#006600\">已启用") + "</font>")
                            </div>
                        </div>
                        <div class="line2" title="@item.Name">@item.Name</div>
                        <div class="line3">
                            <div style="float:left;padding-left:10px;">
                                <a href="javascript:void(0);" onclick="btnAdd('@item.PKID','0')">编辑</a>
                                <a href="javascript:void(0);" onclick="ResetFlashSales('@item.PKID')">删除用户购买记录</a>
                            </div>
                            <div style="float:right;padding-right:10px;"><a href="javascript:void(0);" onclick="btnDelete('@item.PKID')">删除</a></div>
                        </div>
                        <div class="line4">
                            <a href="/FlashSales/FlashSalesProduct?FlashSalesID=@item.PKID">产品集合设置(@(manager.GetCountByFlashSalesID(item.PKID)))</a>
                        </div>
                    </div>
                </div>
            </li>
        }
        <li>
            <div class="box">
                <div class="addnew">
                    <a href="javascript:void(0);" onclick="btnAdd('0','ios001')">+ 新增模块</a>
                </div>
            </div>
        </li>
    </ul>
</div>

<div id="AddItem" style="display: none"></div>
