@model Tuhu.Provisioning.DataAccess.Entity.AliPayBaoYangSetting
@{
    ViewBag.Title = "支付宝保养套餐关键字设置";
}
<style>
    #ValiStartDate {
        width: 160px
    }

    #ValiEndDate {
        width: 160px
    }
</style>
<h2>支付宝保养套餐关键字设置</h2>
<table>
    <tr>
        <th style="width:20%">
            序号
        </th>
        <th style="width:20%">
            关键字
        </th>
        <th style="width:20%">
            编辑时间
        </th>
        <th style="width:20%">
            状态
        </th>
        <th style="width:20%">
            操作
        </th>
    </tr>
    @for (var q = 0; q < Model.AliPayBaoYangItems.Count(); q++)
    {
        <tr>
            <td>@Model.AliPayBaoYangItems[q].PKID</td>
            <td>@Model.AliPayBaoYangItems[q].KeyWord</td>
            <td>@Model.AliPayBaoYangItems[q].UpdateTime</td>
            <td>@(Model.AliPayBaoYangItems[q].IsDisabled == true ? "禁用" : "启用")</td>
            <td style="text-align:center;vertical-align:middle">
                <a href="javascript:void(0)" onclick="UpdateAlipayBaoYangItem(@Model.AliPayBaoYangItems[q].PKID)">编辑</a>|

                <a href="javascript:void(0)" onclick="DeleteAlipayBaoYangItem(@Model.AliPayBaoYangItems[q].PKID)">删除</a>


            </td>

        </tr>
    }
    <tr>

        <td>
            时间范围:
        </td>
        <td colspan="4">
            <label class="fixed_date">开始日期  @Html.TextBoxFor(m => m.Activity.BeginTime, new { id = "ValiStartDate" }) 结束日期  @Html.TextBoxFor(m => m.Activity.EndTime, new { id = "ValiEndDate" }) </label>
        </td>

    </tr>

    <tr>
        <button id="select" onclick="addAlipayBaoYangItem()" style="width:150px">添加关键字</button>
    </tr>
    <tr>
        <button id="select" onclick="UpdateAlipayBaoYangActivityTime()" style="width:150px">更新时间</button>

    </tr>
</table>


<div id="addtagdiv"></div>
<div id="updatetagdiv"></div>
<br />
<br />
<div>
    <label><input type="button" onclick="RefreshCache()" value="刷新车型保养套餐缓存" /></label>
</div>
<div>
    <textarea id="failedCacheKeys" style="display:none"></textarea>
</div>
@section scripts{
    <script src="~/Scripts/jquery.ztree.all-3.5.min.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.js"></script>
}
<script>

    $(function () {
        $("#ValiStartDate").datetimepicker({
            timeFormat: "HH:mm:ss",
            dateFormat: "yy-mm-dd",
            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],

        });
        $("#ValiEndDate").datetimepicker({
            timeFormat: "HH:mm:ss",
            dateFormat: "yy-mm-dd",
            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],

        });
    })
    function OnSuccess(data) {
        //alert(data);
        //  window.location.reload();
    }

    function OnFailure(xhr, status) {
        alert('Error: ' + xhr.statusText);
    }

    function RefreshCache() {
        $.ajax({
            url: "/AlipayBaoyangManage/RefreshCarBaoYangPackageCache",
            type: "POST",
            data: {},
            dataType: "json",
            async: false,
            success: function (result) {
                if (result <= 0)
                {
                    alert("刷新缓存失败！");
                }
                
                else {
                    alert("刷新缓存成功！");
                }


            },
            error: function () {
                alert("请求失败！");

            },
        });
    }

    function UpdateAlipayBaoYangItem(pkid) {
        $("#updatetagdiv").load('/AlipayBaoyangManage/UpdateAlipayBaoYangItem?pkid=' + pkid + '');
        $("#updatetagdiv").dialog({
            title: "更新关键字",
            width: 1000,
            height: 500,
            modal: true,
            buttons: {
                "保存": function () {
                    $(".updatebutton").click();
                },
                "关闭": function () {
                    $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                }
            }
        });
    }

    function addAlipayBaoYangItem() {
        $("#addtagdiv").load('/AlipayBaoyangManage/AddAlipayBaoYangItem');
        $("#addtagdiv").dialog({
            title: "添加关键字",
            width: 1000,
            height: 500,
            modal: true,
            buttons: {
                "保存": function () {
                    $(".addbutton").click();
                    //  window.location.reload();
                },
                "关闭": function () {
                    $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                }
            }
        });
    }

    function UpdateAlipayBaoYangActivityTime() {
        var begintime = Date.parse(document.getElementById('ValiStartDate').value);
        var endtime = Date.parse(document.getElementById('ValiEndDate').value);

        if (begintime > endtime) {
            alert("活动结束时间不应早于开始时间");

        }
        else {
            var data = {
                BeginTime: document.getElementById('ValiStartDate').value,
                EndTime: document.getElementById('ValiEndDate').value
            };
            //  var data = { PKID: pkid };
            $.post("/AlipayBaoyangManage/UpdateAliPayBaoYangSetting", data, function (result) {
                if (result) {
                    alert("更新成功！");
                    window.location.reload();
                }
            });
        }
    }
    function DeleteAlipayBaoYangItem(pkid) {
        var r = confirm("是否确定删除此关键字信息？");
        if (r) {
            var data = { PKID: pkid };
            $.post("/AlipayBaoyangManage/DeleteAlipayBaoYangItem", data, function (result) {
                if (result) {
                    alert("删除成功！");
                    window.location.reload();
                }
            });
        }
    }
</script>
