@{
    Layout = null;
}
@model List<Tuhu.Provisioning.DataAccess.Entity.FlashSaleProductOprLog>
    <div>
        <table class="table table-striped table-bordered table-hover" id="LoggerTable">

            <thead>
                <tr>
                    <td>操作人</td>
                    <td>操作时间</td>
                    <td>操作内容</td>
                    <td>查看详情</td>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @item.OperateUser
                                <input type="hidden" value="@item.PKid" />
                            </td>
                            <td>@item.CreateDateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            <td>@item.Operation</td>
                            <td><a href="javascript:void(0)" onclick="Look(@item.PKid) ">查看</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
<script type="text/javascript">
    //$("#startDT").datepicker({ dateFormat: 'yy-mm-dd' })
    //$("#endDT").datepicker({ dateFormat: 'yy-mm-dd' })

    $("#startDT").datepicker({
        dateFormat: "yy-mm-dd",
        //showSecond: false,
        //timeFormat: 'HH:mm:ss',
        //stepHour: 1,
        //stepMinute: 1,
        //stepSecond: 1,
        //todayHighlight: 1,
    });
    $("#endDT").datepicker({
        dateFormat: "yy-mm-dd",
        //showSecond: false,
        //timeFormat: 'HH:mm:ss',
        //stepHour: 1,
        //stepMinute: 1,
        //stepSecond: 1,
        //todayHighlight: 1,
        //autoclose: 1

    });
    //function ReloadData() {
    //    // alert($('#startDT').val());
    //    var start = $('#startDT').val();
    //    var end = $('#endDT').val();
    //    $(".modal-body").html("").load('/CreateOrderOption/ListBoostrap?objectType=OOption' + '&startDT=' + start + '&endDT=' + end);
    //}

        function Look(e) {
        window.open("/CreateOrderOption/ViewConfigLog?id=" + e, "_blank");
    };


</script>
