@model  Tuhu.Provisioning.Models.CommentReportModel


@{
    ViewBag.Title = "评论报表";
}


<style>
    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: #0088cc;
        border: solid 1px #0088cc;
    }
</style>

<h2 style="text-align:left">评论报表</h2>

@using (Html.BeginForm())
{
    <body>
        <input type="text" style="width:120px" value="@ViewBag.StartDate" placeholder="请输入开始时间" id="startDate" name="startDate" />
        <span>-</span>
        <input type="text" value="@ViewBag.EndDate" style="width:120px" name="endDate" placeholder="请输入结束时间" id="endDate" />
        <input type="button" value="搜索" onclick="search()" />
        <table style="margin-top:20px">
            <thead>
                <tr>
                    <th>评论总数</th>
                    <th>手机端数量</th>
                    <th>PC端数量</th>
                    <th>审核不通过</th>
                    <th>未审核</th>
                    <th>审核通过</th>
                    <th>仅打分</th>
                    @if (Model.TousuReportItems != null)
                    {
                        foreach (var item in Model.TousuReportItems)
                        {
                            <th>@item.Key</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.TotalCount</td>
                    <td>@Model.PhoneCount</td>
                    <td>@Model.WebCount</td>
                    <td>@Model.NotPassCount</td>
                    <td>@Model.NotVerifiedCount</td>
                    <td>@Model.PassCount</td>
                    <td>@Model.OnlyRankedCount</td>
                    @if (Model.TousuReportItems != null)
                    {
                        foreach (var item in Model.TousuReportItems)
                        {
                            <td>@item.Value</td>
                        }
                    }
                </tr>
            </tbody>
        </table>
    </body>
    <script type="text/javascript">
        $("#startDate").datepicker({ dateFormat: 'yy-mm-dd' });
        $("#endDate").datepicker({ dateFormat: 'yy-mm-dd' });

        function search() {
            if ($("#startDate").val() == "" || $("#endDate").val() == "") {
                alert("请输入起止时间！");
            } else {
                location.href = "/Comment/CommentReport?startDate=" + $("#startDate").val() + "&&endDate=" + $("#endDate").val();
            }
        }
    </script>
}