@model Tuhu.Provisioning.Models.tbl_Comment
@using Tuhu.Provisioning.Controls
@using MVCControlsToolkit.Core
@using MVCControlsToolkit.Controls
@using Tuhu.Provisioning.Models
@using System.Linq.Expressions
@using MVCControlsToolkit.Controls.Bindings
@{
    ViewBag.Title = "CommentDetails";
}
<script type="text/javascript">
    function SetCommentStatus(button) {
        var self = $(button);
        var ID = self.attr("data-value");
        $.post('/Comment/UpdateCommentStatus', { "CommentId": self.attr("data-value") }, function () {
            $(document.getElementById(ID)).hide().next().show();
            self.parent().parent().parent().hide();
        });
    }
</script>
<h2>
    CommentDetails</h2>
<div id="CommentDetails">
    <table style="word-wrap: break-word; table-layout: fixed; width: 100%">
        <tr>
            <td width="8%">
                用户ID:
            </td>
            <td>
                @Html.DisplayField(m => m.CommentUserId)
            </td>
        </tr>
        <tr>
            <td width="8%">
                用户名称:
            </td>
            <td>
                @Html.DisplayField(m => m.CommentUserName)
            </td>
        </tr>
        @if (Model.CommentType == 2)
        {
            <tr>
                <td width="8%">
                    标题:
                </td>
                <td>
                    @Html.DisplayField(m => m.SingleTitle)
                </td>
            </tr>
        }

        <tr>
            <td width="8%">
                内容:
            </td>
            <td>
                @Html.DisplayField(m => m.CommentContent)
            </td>
        </tr>
        <tr>
            <td width="8%">
                评论产品ID:
            </td>
            <td>
                @Html.DisplayField(m => m.CommentProductId)
            </td>
        </tr>
        <tr>
            <td width="8%">
                评论产品ID:
            </td>
            <td>
                @Html.DisplayField(m => m.CommentProductFamilyId)
            </td>
        </tr>
        <tr>
            <td width="8%">
                评论OrderID:
            </td>
            <td>
                @Html.DisplayField(m => m.CommentOrderId)
            </td>
        </tr>
        <tr>
            <td width="8%">
                评论Order列表ID:
            </td>
            <td>
                @Html.DisplayField(m => m.CommentOrderListId)
            </td>
        </tr>
        <tr>
            <td width="8%">
                评论扩展信息:
            </td>
            <td>
                @Html.DisplayField(m => m.CommentExtAttr)
            </td>
        </tr>
        <tr>
            <td width="8%">
                创建时间:
            </td>
            <td>
                @Html.DisplayField(m => m.CreateTime)
            </td>
        </tr>
        <tr>
            <td width="8%">
                评论类型:
            </td>
            <td>
                @Html.DisplayField(m => m.CommentType)
            </td>
        </tr>
        <tr>
            <td width="8%">
                更新时间:
            </td>
            <td>
                @Html.DisplayField(m => m.UpdateTime)
            </td>
        </tr>
        @*
            <tr>
                <td>
                </td>
                <td>@Html.DisplayField(m => m.NextP)
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>@Html.DisplayField(m => m.PrevP)
                </td>
            </tr>
        *@
        <tr>
            <td width="8%">
                R1:
            </td>
            <td>
                @Html.DisplayField(m => m.CommentR1)
            </td>
        </tr>
        <tr>
            <td width="8%">
                R2:
            </td>
            <td>
                @Html.DisplayField(m => m.CommentR2)
            </td>
        </tr>
        <tr>
            <td width="8%">
                R3:
            </td>
            <td>
                @Html.DisplayField(m => m.CommentR3)
            </td>
        </tr>
        <tr>
            <td width="8%">
                R4:
            </td>
            <td>
                @Html.DisplayField(m => m.CommentR4)
            </td>
        </tr>
        <tr>
            <td width="8%">
                R5:
            </td>
            <td>
                @Html.DisplayField(m => m.CommentR5)
            </td>
        </tr>
        <tr>
            <td width="8%">
                R6:
            </td>
            <td>
                @Html.DisplayField(m => m.CommentR6)
            </td>
        </tr>
        <tr>
            <td width="8%">
                R7:
            </td>
            <td>
                @Html.DisplayField(m => m.CommentR7)
            </td>
        </tr>
        <tr>
            <td width="8%">
                审核状态:
            </td>
            <td>
                <label id="@Model.CommentId" style="@(Model.CommentStatus == 1 ? "color: Red" : "display: none")">
                    未审核
                </label>
                <label style="@(Model.CommentStatus != 1 ? "" : "display: none")">
                    已审核
                </label>
            </td>
        </tr>
        <tr style="@(Model.CommentStatus == 1 ? "" : "display: none")">
            <td width="8%">
                审核操作:
            </td>
            <td>
                <label style="@(Model.CommentStatus == 1 ? "" : "display: none")">
                    <input type="button" value="审核" onclick="SetCommentStatus(this)" data-value="@Model.CommentId" />
                </label>
            </td>
        </tr>
        <tr>
            <td width="8%">
                官方回复：
            </td>
            <td>
                @Model.OfficialReply
            </td>
        </tr>
        <tr>
            <td width="8%">
                评论图片:
            </td>
            <td>
                @if (Model.CommentImages != "" && Model.CommentImages != null)
                {
                    for (int i = 0; i < Model.CommentImages.Split(';').Count(); i++)
                    {
                        <a href="@(Model.CommentImages.Split(';')[i])" target="_blank" style="margin-left:30px;">
                            <img src="@(Model.CommentImages.Split(';')[i])" width="120px" height="120px" style="border:1px solid #999">
                        </a>
                    }
                }
                else
                {
                    <span>无</span>
                }
            </td>
        </tr>
    </table>

    <div style="height: 30px;">
    </div>
    <div style="text-decoration: underline">@Html.ActionLink("返回评论列表页面", "/CommentList", new { t = Model.CommentType })</div>
</div>
