
@using Tuhu.Provisioning.Models
@model Tuhu.Component.Common.Models.ListModel<Tuhu.Provisioning.DataAccess.Entity.PointsTransactionDescriptionConfig>
@{
    ViewBag.Title = "积分交易记录描述配置";
    Layout = "~/Views/Shared/_PersonalCenterLeft.cshtml";
}

<h2>积分交易记录描述配置</h2>
<style>
    body {
        font-family: "Microsoft Yahei";
    }

    textarea {
        width: 100px;
        height: 100px;
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: cornflowerblue;
        border: solid 1px cornflowerblue;
    }
   
</style>

<div>
    <a href="javascript:void(0)" class="btn" onclick="PointsTransactionDescriptionConfig.Add()">添加</a>
</div>
<div>
    <table style="margin-top:20px;">
        <thead>
            <tr>
                <th>积分类型</th>
                <th width="5%">积分交易条件</th>
                <th>积分交易描述</th>
                <th>积分交易类型</th>
                <th>积分交易描述参数</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (item.IntegralType == 0)
                    {
                        <td>收入</td>
                    }
                    else if (item.IntegralType == 1)
                    {
                        <td>支出</td>
                    }
                    else
                    {
                        <td></td>
                    }

                    <td>@item.IntegralConditions</td>
                    <td>@item.IntegralDescribe</td>
                    <td>@item.Remark</td>
                    <td>@item.NeedeKeys</td>
                    <td>@(item.IsActive ? "启用" : "禁用")</td>
                    <td>
                        <a href="javascript:;" onclick="PointsTransactionDescriptionConfig.Update('@item.IntegralRuleID')">编辑</a>&nbsp;&nbsp;
                        <a href="javascript:;" onclick="PointsTransactionDescriptionConfig.Delete('@item.IntegralRuleID')">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @Html.Pager(Model.Pager, pageIndex => Url.RouteUrl(new { pageIndex }))
</div>
<div id="AddItem"></div>

<script>
    var PointsTransactionDescriptionConfig = {

        "Add": function () {
            $("#AddItem").load('/PointsTransactionDescriptionConfig/Edit?id=');
            $("#AddItem").dialog({
                title: "添加",
                width: 600,
                height: 800,
                modal: true
            });
        },
        "Update": function (id) {
            $("#AddItem").load('/PointsTransactionDescriptionConfig/Edit?id=' + id);
            $("#AddItem").dialog({
                title: "修改",
                width: 600,
                height: 800,
                modal: true
            });
        },
        "Delete": function (id) {
            if (window.confirm("您确定要删除吗？")) {
                $.ajax({
                    type: "POST",
                    url: "/PointsTransactionDescriptionConfig/Delete",
                    data: { "id": id },
                    dataType: "json",
                    success: function (result) {
                        if (result) {
                            window.location.href = "/PointsTransactionDescriptionConfig/Index";
                        }
                        else {
                            alert("删除失败！");
                        }
                    },
                    error: function (result) {
                    }
                })
            }
        }
    }
</script>  