@using Tuhu.Provisioning.DataAccess.Entity;
@{
    ViewBag.Title = "微信二维码扫描统计";
    Layout = "../Shared/_Layout.cshtml";
    IEnumerable<QRCodeStatisticsConfigModel> _QRCodeStatisticsList = (IEnumerable<QRCodeStatisticsConfigModel>)ViewBag._QRCodeStatisticsList ?? null;
}

<style type="text/css">
    input[type=button], input[type=submit] {
        background: #0088cc none repeat scroll 0 0;
        border: medium none #0088cc;
        border-radius: 5px;
        color: #f0f0f0;
        cursor: pointer;
        font-family: "Microsoft Yahei";
        font-size: 12px;
        outline: medium none;
        padding: 5px 25px;
    }

     table th {
        color: white;
        padding: 6px 5px;
        text-align: center;
        background-color: #0088cc;
        border: solid 1px #0088cc;
    }

    table.faqlist td {
        text-align: center;
        padding:0;
    }

    .faqlist {
        width: 100%;
        margin: 10px;
    }

   .faqlist tr:nth-child(1) td {
       font-weight: bold;
       font-size: 16px;
   }

   .faqlist tr td:nth-child(5) span {
        display:block;
   }
</style>

<table class="faqlist">
    <thead>
        <tr>
            <th width="10%">微信二维码扫描统计</th>
            <th colspan="5">
                渠道名:
                <input type="text" id="queryName" />
                &nbsp;
                <input type="button" value="搜索" onclick="QRCodeStatisticsConfig.Search();" style="background:#fff;color:#333;" />
                &nbsp;
                <input type="button" value="重置" onclick="QRCodeStatisticsConfig.Reset();" style="background:#fff;color:#333;" />
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="10%">序号</td>
            <td width="15%">二维码渠道号(EventKey)</td>
            <td width="15%">渠道名</td>
            <td width="15%">日期</td>
            <td width="10%">老用户</td>
            <td width="10%">新用户</td>
        </tr>
        @{
            if (_QRCodeStatisticsList != null)
            {
                var index = 0;
                foreach (var item in _QRCodeStatisticsList)
                {
                    <text>
                        <tr>
                            <td>@(++index)</td>
                            <td>@item.EventKey</td>
                            <td>@item.ChannelName</td>
                            <td>@(item.Year + "-" + item.Month + "-" + item.Day)</td>

                            @{
                                if (!string.IsNullOrWhiteSpace(item.SumViewModel))
                                {
                                    var _SumViewModel = item.SumViewModel.Split('|');
                                    if (_SumViewModel.Length > 0)
                                    {
                                        if (_SumViewModel.Length == 2)
                                        {
                                            <text>
                                                <td style="font-weight:bold;">@_SumViewModel[0]</td>
                                                <td style="font-weight:bold;">@_SumViewModel[1]</td>
                                            </text>
                                        }
                                        else if (_SumViewModel.Length == 1)
                                        {
                                           <text>
                                               <td style="font-weight:bold;">@_SumViewModel[0]</td>
                                               <td style="font-weight:bold;">0</td>
                                           </text>
                                        }
                                        else
                                        {
                                           <text>
                                               <td style="font-weight:bold;">0</td>
                                               <td style="font-weight:bold;">0</td>
                                           </text>
                                        }
                                    }
                                }
                                else
                                {
                                   <text>
                                       <td style="font-weight:bold;">0</td>
                                       <td style="font-weight:bold;">0</td>
                                   </text>
                                }
                             }
                        </tr>
                    </text>
                }
            }
            else
            {
                <text>
                    <tr>
                        <td colspan="6" align="center">暂无数据！</td>
                    </tr>
                </text>
            }
        }
    </tbody>
</table>

<div id="ShowDialog"></div>

<script type="text/javascript">
    var QRCodeStatisticsConfig = {
        Url: window.location.href.split('?'),
        Search: function () {
            var _queryName = $.trim($("#queryName").val());
            if (_queryName.length > 0) {
                window.location.href = this.Url[0] + "?queryName=" + escape(_queryName);
            }
            else {
                alert("请输入搜索关键词!");
            }
        },
        Reset:function(){
            window.location.href = this.Url[0];
        },
        Sum:function(){
            var $faqlist = $(".faqlist > tbody"), newUser = 0, oldUser = 0,sumHtml;
            $faqlist.find("tr").each(function (i, j) {
                if (i > 0) {
                    var $dom = $(j);
                    newUser += parseInt($dom.find("td:nth-child(5)").text());
                    oldUser += parseInt($dom.find("td:nth-child(6)").text());
                }
            });
            sumHtml = "<tr style='color:red;font-weight:bold;'><td></td><td></td><td></td><td>合计</td><td>" + newUser + "</td><td>" + oldUser + "</td></tr>";
            $faqlist.append(sumHtml);
        },
        GetQueryString: function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null)
                return unescape(r[2]);
            return null;
        },
        GetDefeatParams: function () {
            var _params = this.GetQueryString("queryName") || "";
            if (_params.length > 0)
                $("#queryName").val(_params);
        }
    }

    QRCodeStatisticsConfig.GetDefeatParams();
    QRCodeStatisticsConfig.Sum();
</script>