@using Tuhu.Provisioning.DataAccess.Entity;
@using Tuhu.Provisioning;
@model Tuhu.Component.Common.Models.ListModel<TousuModel>
    @{
        Layout = null;
        var selectModel = ViewBag.Select as TousuModel;
    }
   
                                                 <style type="text/css">
                                                     .grey {
                                                         background-color: grey;
                                                     }

                                                     .approved {
                                                         background-color: greenyellow;
                                                     }

                                                     .rejected {
                                                         background-color: red;
                                                     }

                                                     .pending {
                                                         background-color: none;
                                                     }

                                                    

                                                     .radio label:before {
                                                         border-radius: 8px;
                                                     }

                                                     .checkbox label:before {
                                                         border-radius: 3px;
                                                     }

                                                     input[type=radio]:checked {
                                                         content: "\2022";
                                                         color: red;
                                                         font-size: 30px;
                                                         text-align: center;
                                                         line-height: 18px;
                                                     }

                                                     input[type=checkbox]:checked {
                                                         content: "\2713";
                                                         text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
                                                         font-size: 15px;
                                                         color: red;
                                                         text-align: center;
                                                         line-height: 15px;
                                                     }

                                                 </style>


    <table data-count="@Model.Pager.TotalItem" width="100%">       
            <tr>
                <th>是否选中</th>
                <th>名称</th>
                <th>提醒消息</th>               
                <th>操作</th>
                <th>操作历史</th>
            </tr>
            @foreach (var item in Model)
            {

                var json = new
                {                   
                    DicValue = item.DicValue,
                    CautionText = item.CautionText,
                    IsNeedPhoto = item.IsNeedPhoto,
                    DicText = item.DicText,
                    IsChecked = item.IsChecked                   
                };
              
            <tr class=@(item.IsChecked ? "approved" : "pending")>
                <td><input type="checkbox" checked="@item.IsChecked" disabled></td>
                <td style="color:orangered">@item.DicText</td>
                <td style="color:orangered">@item.CautionText</td>

                <td style="color:orangered">
                    <a href="javascript:void(0)" onclick="Func.UpdateItem('@(Newtonsoft.Json.JsonConvert.SerializeObject(json))')">修改</a>
                </td>
                <td style="color:orangered">
                    <a href="javascript:void(0)" onclick="Func.showLog('@json.DicValue')">查看历史</a>
                </td>
            </tr>
            }

        </table>
    @Html.Pager(Model.Pager, true, id => Url.Action("LastLevelTousuItemList", new { DicValue = selectModel.DicValue, OrderType=selectModel.OrderType,  pageSize = Model.Pager.PageSize, pageIndex = id }))


