@using Tuhu.Provisioning.DataAccess.Entity;
@using Tuhu.Provisioning;
@model Tuhu.Component.Common.Models.ListModel<TousuModel>
    @{
        Layout = null;
        var selectModel = ViewBag.Select as TousuModel;
    }
   



    <table data-count="@Model.Pager.TotalItem" width="100%">       
        <tr>
            <th>业务系统显示名称</th>
            <th>APP显示名称</th>
            <th>操作</th>
            <th>操作历史</th>
        </tr>
            @foreach (var item in Model)
            {

                var json = new
                {
                    DicValue = item.DicValue,                   
                    AppDisplayName = item.AppDisplayName,
                    DicText = item.DicText
                };
            <tr>
                <td>@item.DicText</td>
                <td>@item.AppDisplayName</td>


                <td>
                    <a href="javascript:void(0)" onclick="Func.UpdateItem('@(Newtonsoft.Json.JsonConvert.SerializeObject(json))')">修改</a>
                </td>
                <td>
                <a href="javascript:void(0)" onclick="Func.showLog('@json.DicValue')">查看历史</a>
                </td>
            </tr>
            }

        </table>
    @Html.Pager(Model.Pager, true, id => Url.Action("LastLevelTousuItemNameList", new { dicValue = selectModel.DicValue,  pageSize = Model.Pager.PageSize, pageIndex = id }))


