@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.TousuModel>

    @{
        ViewBag.Title = "首类投诉编辑";
    }
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
                      
    <style>
        .error {
            color: red;
            display: none;
        }
    </style>
    <h2>首类投诉编辑  |  @Html.ActionLink("订单关联投诉编辑", "LastLevelTousuEdit", "TousuConfig", new { target = "_blank" })  |  @Html.ActionLink("末类投诉编辑", "LastLevelTousuNameEdit", "TousuConfig", new { target = "_blank" })</h2>  
    <table width="100%">
        <tr>
            <th>业务系统显示名称</th>
            <th>APP显示名称</th>
            <th>操作</th>
            <th>操作历史</th>
        </tr>
        @foreach (var item in Model)
        {

            var json = new
            {
                DicValue = item.DicValue,
                //Name = "<label>Tuhu.Service.ThirdParty<input type=checkbox value=Tuhu.Service.ThirdParty/></label>" +
                //"<label>Tuhu.Service.Member< input type = checkbox value = Tuhu.Service.Member checked= true /></label>",
                AppDisplayName = item.AppDisplayName,
                DicText = item.DicText               
            };
        <tr>
            <td>@item.DicText</td>
            <td>@item.AppDisplayName</td>


            <td>
                <a href="javascript:void(0)" onclick="Func.UpdateItem('@(Newtonsoft.Json.JsonConvert.SerializeObject(json))')">修改</a>
            </td>
            <td>
                <a href="javascript:void(0)" onclick="Func.showLog('@json.DicValue')">查看历史</a>
            </td>
        </tr>
        }

    </table>
    <div id="UpdateItem" style="display:none;">
        <span>业务系统显示名称：</span>
        <input type="text" class="dictext-update" onfocus="$(this).next().hide()" disabled="disabled" />
        <span/>

        <span>APP显示名称：</span>
        <input type="text" class="appName-update" onfocus="$(this).next().hide()" />
        <span class="error">请填写APP显示名称</span>

       
        <input type="text" class="dicvalue-update" onfocus="$(this).next().hide()" style="display:none" />
      
    </div>
    <div id="LogDialog"></div>
<script src="~/Content/sweetalert/sweetalert.js"></script>
    <script>

        var Func = {
            TopLevelOptionChange: function (selectedText) {

                $.ajax({
                    url: "/TousuConfig/GetTousuModelList",
                    type: "POST",
                    data: {
                        dictype: selectedText,
                    },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        var html = "";
                        var n = data.length;
                        if (n > 0) {

                            for (var j = 0; j < n; j++) {
                                html += "<option value='" + data[j].DicText + "'>" + data[j].DicText + "</option>";
                            }
                            $("#SecondLevelOptions").empty();
                            $("#SecondLevelOptions").append(html);
                            // SecondLevelOptionChange($("#SecondLevelOptions").val())
                        }
                        else {
                            html += "<option value=''>无数据</option>";
                            $("#SecondLevelOptions").empty();
                            $("#SecondLevelOptions").append(html);

                        }
                    },
                    error: function () {
                        alert("请求失败！");
                        var html = "<option value=''>无数据</option>";
                        $("#SecondLevelOptions").empty();
                        $("#SecondLevelOptions").append(html);

                    },
                });

            },

            SecondLevelOptionChange: function (selectedText) {

                $.ajax({
                    url: "/TousuConfig/GetTousuModelList",
                    type: "POST",
                    data: {
                        dictype: selectedText,
                    },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        var html = "";
                        var n = data.length;
                        if (n > 0) {
                            for (var j = 0; j < n; j++) {
                                html += "<option value='" + data[j].DicText + "'>" + data[j].DicText + "</option>";
                            }
                            $("#ThirdLevelOptions").empty();
                            $("#ThirdLevelOptions").append(html);

                        }
                        else {
                            html += "<option value=''>无数据</option>";
                            $("#ThirdLevelOptions").empty();
                            $("#ThirdLevelOptions").append(html);

                        }
                    },
                    error: function () {
                        alert("请求失败！");
                        var html = "<option value=''>无数据</option>";
                        $("#ThirdLevelOptions").empty();
                        $("#ThirdLevelOptions").append(html);

                    },
                });

            },

            UpdateItem(json)
            {
                json = JSON.parse(json);

                //赋值

                $("#UpdateItem").find(".dictext-update").val(json.DicText);

                $("#UpdateItem").find(".dicvalue-update").val(json.DicValue);
                $("#UpdateItem").find(".appName-update").val(json.AppDisplayName);               

                $("#UpdateItem").dialog({
                    title: "修改",
                    width: 800,
                    height: 600,
                    modal: true,
                    buttons: {
                        "保存": function () {
                            var dialog = $(this);

                            var 
                                DicValue = dialog.find(".dicvalue-update").val().trim(),
                                AppDisplayName = dialog.find(".appName-update").val().trim(),
                                oldAppDisplayName = json.DicText

                            flag = true;



                            if (!AppDisplayName.length) {
                                dialog.find(".appName-update").parent().find(".error").show();
                                flag = false;
                            }
                          

                            if (flag) {
                                $.post("/TousuConfig/UpdateTopLevelTouSu", {
                                    DicValue: DicValue,
                                    AppDisplayName: AppDisplayName,
                                    oldAppDisplayName: oldAppDisplayName                                   
                                }, function (result) {
                                    if (result > 0) {
                                        swal({
                                            title: "更新成功！"
                                        },
                                            function () {
                                              
                                                window.location.reload();
                                            });
                                    }
                                    else
                                        swal("更新失败!");
                                });


                            }

                        },
                        "关闭": function () {
                            $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                        }
                    }
                });
            },
            showLog: function (id) {
                $("#LogDialog").load('/TousuConfig/HistoryActions?objectId=' + id.toLowerCase() + '&objectType=TopLevelTousuNameUpdate');
                var logDialog = $("#LogDialog").dialog({
                    title: "操作历史",
                    width: 600,
                    height: 500,
                    cache: false
                });
            }

        }
    </script>
