@using Newtonsoft.Json
@using Tuhu.Provisioning.Models
@using Tuhu.Service.Product.Models
@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.SE_GiftManageConfigModel>
@{
    ViewBag.Title = "途虎打折活动管理";
    var request = (GiftManageConfigRequest)ViewBag.GiftManageConfigRequest??new GiftManageConfigRequest();
    Layout = "../Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.cookie.js"></script>
<script src="~/Scripts/kkpager/kkpager.min.js"></script>
<link href="~/Scripts/kkpager/kkpager_blue.css" rel="stylesheet" />
@helper  CaseType(int type)
{
string outPut = "";
switch (type)
{
    case 1: outPut = "按轮胎尺寸"; break;
    case 2: outPut = "按轮毂尺寸"; break;
    case 3: outPut = "按品类"; break;
    case 4: outPut = "按PID"; break;
    case 5: outPut = "按轮胎类型"; break;
}
    @outPut
}
<body>
    <p>
        @Html.ActionLink("创建打折活动", "Create", new { }, new { target = "_blank", style = "height: 25px;line-height: 25px;padding: 5px 10px;background-color: green;color:#fff;border:1px #000 solid;display:inline-block;text-decoration: none;font-size: 20px;font-weight:900;" })
        <input type="button" onclick="RefreshCache(this);" style="height: 37px;line-height: 25px;padding: 5px 10px;background-color:green;color:#fff;border:1px #000 solid;display:inline-block;text-decoration: none;font-size: 20px;font-weight:900;" value="刷新缓存" />
        @*<input type="button" onclick="SetDisabled(this);" style="height: 37px;line-height: 25px;padding: 5px 10px;background-color: #b0232a;color:#fff;border:1px #000 solid;display:inline-block;text-decoration: none;font-size: 20px;font-weight:900;" value="禁用过期配置(针对过期七天以上的))" />*@
    </p>
    <form id="searchArguments" method="post">
        <label>状态</label>
        <select id="State" name="State" value="@request.state" style="width: 80px; padding: 5px; border: solid 1px #000; margin-bottom: 10px">
            <option value="1">启用</option>
            <option value="0">禁用</option>
            <option value="2">全部</option>
            <option value="3">已过期</option>
            <option value="4">进行中</option>
        </select>
        <input id="pageIndex" name="pageIndex"value="@request.pageIndex" type="hidden" style="width: 100px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
        <input id="productPid" name="productPid"value="@request.productPid" type="text" placeholder="产品PID" style="width: 100px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />               
        <input id="channel" name="channel" value="@request.channel" type="text" placeholder="渠道" style="width: 100px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
        <input id="Name" name="Name" value="@request.Name" type="text" placeholder="活动名称" style="width: 100px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
        <input id="ValidTimeBegin" name="ValidTimeBegin" value="@request.ValidTimeBegin" type="text" placeholder="开始时间" style="width: 100px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
        <input id="ValidTimeEnd" name="ValidTimeEnd" value="@request.ValidTimeEnd" type="text" placeholder="结束时间" style="width: 100px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
        <input id="Creater" name="Creater" value="@request.Creater" type="text" placeholder="创建人" style="width: 80px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
        <input id="Mender" name="Mender" value="@request.Mender" type="text" placeholder="更新人" style="width: 80px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
        <input  type="submit" value="搜索" style="background-color: #b0232a; color: #fff; border: 1px #000 solid; font-size: 16px; font-weight: 900;" />
        <input type="reset" value="重置" style="background-color: #b0232a; color: #fff; border: 1px #000 solid; font-size: 16px; font-weight: 900;" />
    </form>
    <table>
        <tr>
            <th>
                活动名称
            </th>
            <th>
                类别
            </th>
            <th>
                赠品名称
            </th>
             <th>
                赠品描述
            </th>
            <th>
                是否禁用
            </th>
           <th>
                开始时间
            </th>
            <th>
                结束时间
            </th>
            <th>
                创建人
            </th>
            <th>
                更新人
            </th>
            <th>
                操作
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @CaseType(item.Type)
                </td>
                <td>
                    @{
                        var gifts = item.GiftProducts == null ? new List<string>() : JsonConvert.DeserializeObject<List<DiscountConfigModel>>(item.GiftProducts).Select(r => r.ShortDescribe).ToList();
                        for (var name = 0; name < gifts.Count(); name++)
                        {
                            if (name != gifts.Count() - 1)
                            {
                                @(gifts[name] + ";")<br />
                            }
                            else
                            {
                                @(gifts[name])
                            }
                        }
                    }
                </td>
                   <td>
                    @{
                        var describs = item.GiftProducts == null ? new List<string>() : JsonConvert.DeserializeObject<List<DiscountConfigModel>>(item.GiftProducts).Select(r => r.LongDescribe).ToList();
                        for (var i = 0; i < describs.Count(); i++)
                        {
                            if (i != describs.Count() - 1&&describs[i]!="")
                            {
                                @(describs[i] + ";")<br />
                            }
                            else
                            {
                                @(describs[i])
                            }
                        }
                    }
                </td>
                <td>
                    @(item.State ? "启用" : "禁用")
                </td>
                <td>
                    @(item.ValidTimeBegin)
                </td>
               <td>
                    @(item.ValidTimeEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creater)
                    <br />
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mender)
                    <br />
                    @Html.DisplayFor(modelItem => item.UpdateTime)
                </td>
                <td>
                    @Html.ActionLink("编辑", "Create", new { id = item.Id }, new { target = "_blank" }) |
                    @Html.ActionLink("删除", "Delete", new { id = item.Id },new { onclick = "return confirm('确认删除？')" ,style="display: none"}) 
                    @Html.ActionLink("查看日志", "OperateLogs", new { id = item.Id }, new { target = "_blank" })
                </td>
            </tr>
                        }
        <tr>
            <td id="kkpager" colspan="8"></td>
        </tr>
    </table>
</body>

<script type="text/javascript">

    var totalPage = @(ViewBag.totalPage),
        totalRecords = @(ViewBag.totalRecords),
        pageIndex = @(ViewBag.pageIndex),
        pageNo = pageIndex || 1;

    //生成分页
    kkpager.generPageHtml({
        pno: pageNo,
        //总页码
        total: totalPage,
        //总数据条数
        totalRecords: totalRecords,
        mode:'click',
        click: function (_pageIndex) {
            $("#pageIndex").attr("value", _pageIndex);
            $("#searchArguments").submit();
            //window.location.href =  '/SE_GiftManageConfig/Index?pageIndex='+ (_pageIndex||1) +"&"+(pageManage.GetSearchArguments() || "");
        },
        isGoPage: false,
        getLink: function (n) {
            return 'javascript:void(0);';
        }
    });
    kkpager.selectPage(pageIndex);

    var pageManage={
        GetUrl:function(){
            return window.location.href.split('?')[0]
        },
        GetSearchArguments: function () {
            console.log($("#searchArguments").serialize());
            return $("#searchArguments").serialize();
        },
        SetSearchArguments:function(){
            var arguments = (window.location.href.split('?')[1] || "").split('&');
            for (var i = 0; i < arguments.length; i++) {
                var item = arguments[i].split('=');
                $("#" + item[0]).val(decodeURI(item[1]));
            }
        },
        Search:function(){
            pageIndex = 1;
            window.location.href =decodeURI('/SE_GiftManageConfig/Index?pageIndex=' + (pageIndex || 1) + "&" + (pageManage.GetSearchArguments() || ""));
            console.log(window.location.href);
        }
    }
    pageManage.SetSearchArguments();

    function RefreshCache(e){
        $(e).attr("disabled","disabled");
        $.ajax({
            type: "POST",
            url: "/DiscountManageConfig/RefreshCache",
            success: function(r){
                r= JSON.parse(r);
                if(r.state)
                    alert("刷新成功");
                else
                    alert("刷新失败\r\n"+ r.msg);

                $(e).removeAttr("disabled");
            }
        })
    }
        function SetDisabled(e){
        $(e).attr("disabled","disabled");
        $.ajax({
            type: "POST",
            url: "/SE_GiftManageConfig/SetDisabled",
            success: function(r){
                r= JSON.parse(r);
                if(r.state)
                    alert("设置成功，更新"+r.result+"条记录");
                else
                    alert("设置失败\r\n"+ r.msg);

                $(e).removeAttr("disabled");
            }
        })
    }

    $(function(){
        $("#ValidTimeBegin").datepicker({"dateFormat":"yy-mm-dd"});
        $("#ValidTimeEnd").datepicker({ "dateFormat": "yy-mm-dd" });
               $("#State Option").each(function() {
           if ($(this).val() == @ViewBag.Status) {
                $(this).attr("selected", "selected");
            }
         });
    });
</script>
