@using Tuhu.Provisioning.Models;
@{
    ViewBag.Title = "晒图列表";
    var pagerModel = ViewData["PagerModel"] as PagerModel;
    SearchImgModel searchModel = new SearchImgModel();
    if (ViewData["SearchModel"] != null)
    {
        searchModel = ViewData["SearchModel"] as SearchImgModel;
    }
}
@using Tuhu.Provisioning.DataAccess.Entity.Discovery;
@model List<ShareImage>
<style type="text/css">
    .search-result p span, .ibox-content .op span {
        margin-right: 10px;
    }

    .ibox-content h2 .op {
        float: right;
        font-size: 14px;
    }

    .input-group .form-search {
        position: relative;
        z-index: 2;
        float: left;
        margin-bottom: 0;
        height: 36px;
        border-radius: 0;
        display: table-cell;
        padding: 5px 10px;
        font-size: 14px;
    }

    .input-group-btn {
        padding-left: 10px;
        float: left;
    }

    .input-group input.title {
        width: 368px;
    }

    .input-group input.btn-search {
        padding: 6px 12px;
        height: 36px;
        border-top-left-radius: 3px !important;
        border-bottom-left-radius: 3px !important;
    }

    .input-group .fontDesc {
        float: left;
        font-size: 14px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .bgc {
        background-color: #c1bebe;
    }
    .shareImg {
    margin-top:20px;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>晒图管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">首页</a>
            </li>
            <li class="active">
                <strong>晒图列表</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <h2 style="height:38px">
                        <!--<span class="text-navy">头条管理</span>-->
                        <span class="op">
                            <span id="sp_All"><a href="@Url.Action("ShareImgManage","ArticleManage",new { status="All"})">全部</a></span>
                            <span id="sp_WaitAudit"><a href="@Url.Action("ShareImgManage","ArticleManage",new { status= "WaitAudit" })">待审核</a></span>
                            <span id="sp_AuditPass"><a href="@Url.Action("ShareImgManage","ArticleManage",new { status= "AuditPass" })">审核通过</a></span>
                            <span id="sp_AuditNotPass"><a href="@Url.Action("ShareImgManage","ArticleManage",new { status= "AuditNotPass" })">审核不通过</a></span>
                        </span>
                    </h2>
                    <div class="search-form">
                        <form action="@Url.Action("SearchShareImgs", "ArticleManage")" method="get">
                            <div class="input-group">
                                <span style="line-height:36px;">
                                    <span class="fontDesc">文字内容: </span><input type="text" placeholder="包含的文字" name="Content" class="form-search input-lg title" value="@searchModel.Content" />
                                    <span class="fontDesc">开始时间: </span><input type="text" placeholder="开始时间" name="StartDate" id="d4311" class="form-search input-lg" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'d4312\')||\'2020-10-01\'}'})" value="@searchModel.StartDate">
                                    <span class="fontDesc">结束时间: </span><input type="text" placeholder="结束时间" name="EndDate" id="d4312" class="form-search input-lg" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'d4311\')}',maxDate:'2020-10-01'})" value="@searchModel.EndDate">
                                    <input type="hidden" name="status" value="@ViewData["DataStatus"]" />
                                </span>
                                <div class="input-group-btn">
                                    <input class="btn btn-lg btn-primary btn-search" type="submit" value="搜索" />
                                </div>
                            </div>

                        </form>
                    </div>
                   
                    <table class="table table-bordered shareImg">
                        <thead>
                            <tr>
                                <th>图片</th>
                                <th width="25%">文字</th>
                                <th width="15%">发布时间</th>
                                <th width="15%">用户</th>
                                <th width="8%">评论数</th>
                                <th width="12%">管理</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @if (item.images.Count > 0)
                                            {
                                                foreach (var img in item.images)
                                                {
                                                    <a href="@img.imageUrl" target="_blank">
                                                        <img src="@img.imageUrl" width="72" height="72" />
                                                    </a>
                                                }
                                            }
                                        </td>
                                        <td>@item.content</td>
                                        <td>@item.createTime.ToString()</td>
                                        <td>昵称：@item.User.NickName <br />手机号：@item.User.UserPhone</td>
                                        <td><a href="/ArticleComment?ID=@item.PKID&Type=10" target="_blank">@item.commentCount</a></td>
                                        <td class="oper">
                                            <span class="checkOperate">
                                                @if (Convert.ToString(ViewData["DataStatus"]) == "WaitAudit")
                                                {
                                                    <a href="javascript:void(0)" class="clsPass" pkid="@item.PKID">通过</a>@("|")<a href="javascript:void(0)" class="clsUnPass" pkid="@item.PKID">不通过</a>
                                                }
                                                else
                                                {
                                                    if (item.isActive)
                                                    {
                                                        <a href="javascript:void(0)" class="clsUnPass" pkid="@item.PKID">不通过</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="javascript:void(0)" class="clsPass" pkid="@item.PKID">通过</a>
                                                    }
                                                }
                                            </span>
                                            |<a href="/ArticleManage/ShareImgEdit?PKID=@item.PKID">编辑</a>
                                            <br /><br /><a href="javascript:void(0)" class="addBlackList" userId="@item.User.UserID" pkid="@item.PKID">加入黑名单</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6">没有数据</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    <div class="text-center">
                        <div class="btn-group" id="tcdPageCode"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script src="~/Content/My97DatePicker/WdatePicker.js"></script>
<script src="~/Scripts/CommentFile/jquery.page.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#sp_@ViewData["DataStatus"]").addClass("bgc");

            $("#tcdPageCode").createPage({
                pageCount: @pagerModel.TotalPage,
                current: @pagerModel.CurrentPage,
                backFn: function (p) {
                    //单击回调方法，p是当前页码
                    //location.href="/ArticleManage/ShareImgManage?pageIndex="+p;
                    var currentLink=window.location.href;
                    if(currentLink.indexOf("status")!=-1){
                        //搜索分页
                        if(currentLink.indexOf("Search")!=-1){
                            var reg = /pageIndex=[\d]/g;
                            if(reg.test(currentLink)){
                                location.href=currentLink.replace(reg,"pageIndex="+p);
                            }else{
                                location.href=currentLink+"&pageIndex="+p;
                            }
                        }else{
                            location.href="/ArticleManage/ShareImgManage?status=@ViewData["DataStatus"]&pageIndex="+p;
                        }
                    }else{
                        location.href="/ArticleManage/ShareImgManage?pageIndex="+p;
                    }
                }
            });


            //通过
            $(".oper").on("click", ".clsPass", function () {
                var thisObj = $(this);
                var pkid = thisObj.attr("pkid");
                $.ajax({
                    type: "post",
                    url: "/ArticleManage/CheckShareStatus",
                    data: { PKID: pkid, isActive: true },
                    success: function (res) {
                        if (res == "ok") {
                            thisObj.parent().html('<a href="javascript:void(0)" class="clsUnPass" pkid="' + pkid + '">不通过</a>');
                        } else {
                            alert("失败");
                        }
                    }
                });
            });
            //不通过
            $(".oper").on("click", ".clsUnPass", function () {
                var thisObj = $(this);
                var pkid = thisObj.attr("pkid");
                $.ajax({
                    type: "post",
                    url: "/ArticleManage/CheckShareStatus",
                    data: { PKID: pkid, isActive: false },
                    success: function (res) {
                        if (res == "ok") {
                            thisObj.parent().html('<a href="javascript:void(0)" class="clsPass" pkid="' + pkid + '">通过</a>');
                        } else {
                            alert("失败");
                        }
                    }
                });
            });
            //加入黑名单
            $(".oper").on("click",".addBlackList",function(){
                var thisObj=$(this);
                var userId=thisObj.attr("userId");
                var pkid=thisObj.attr("pkid");
                var relatedCon="晒图违规，晒图Id："+pkid;
                if(userId==undefined||userId==""){
                    alert("用户不存在");return;
                }
                if(confirm("确定要将此用户加入黑名单吗？")){
                    $.ajax({
                        type: "post",
                        url: "/ArticleManage/AddBlackList",
                        data: { UserId: userId, RelatedContent: relatedCon },
                        success: function (res) {
                            if (res == "ok") {
                                alert("成功加入黑名单");
                            }
                        }
                    });
                }
            });


        });


    </script>
}