@model  List<Tuhu.Provisioning.DataAccess.Entity.MaPaiVipModel>
    @{
        Layout = null;
    }
    <style type="text/css">
        .table-striped tr:nth-child(odd) { background-color: #EEEEEE; }
        .table-striped tr:hover:nth-child(odd) { background: #FFEC8B; }
        .table-striped tr:hover:nth-child(even) { background: #FFEC8B; }
        .table-striped tr th { text-align: center; }
        .table-striped tr th { background: #22A7F0; }
        div.pager { padding-left: 130px; }
        div.pager a.first-child { width: 105px; }
        div.pager a.last-child { width: 105px; }
    </style>
    <div id="div_Window">
        <table style="text-align: center;width:100%;" class="table-striped">
            <tr style="color:white">
                <th><input type="checkbox" id="check_all" onclick="GetAllOrder()" /></th>
                <th>PKID</th>
                <th>专属券码</th>
                <th>电话</th>
                <th>姓名</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td><input type="checkbox" name="check_child" value="@item.PKID" /></td>
                        <td>@item.PKID</td>
                        @if (item.IsDeleted == true)
                        {
                            <td><span style="text-decoration:line-through;color:red">@item.UniquePrivilegeCode</span> </td>
                            <td><span style="text-decoration:line-through;color:red">@item.UserPhone</span></td>
                        }
                        else
                        {
                            <td>@item.UniquePrivilegeCode</td>
                            <td>@item.UserPhone</td>
                        }
                        <td>@item.UserName</td>
                        <td>@item.CreatedTime</td>
                        <td>@(item.UpdatedTime == null ? "无" : item.UpdatedTime.ToString())</td>
                        @if (item.IsDeleted == true)
                        {
                            <td><span style="color:red;font-weight:bold">删除</span></td>
                            <td><a class="config-edit" style="cursor:pointer" onclick="UpdateStatus(@item.PKID,0)">设为正常</a>  <a style="cursor:pointer" onclick="SearchLog(@item.PKID)" class="config-log">日志</a></td>
                        }
                        else
                        {
                            <td><span style="color:green;font-weight:bold">正常</span></td>
                            <td><a class="config-edit" style="cursor:pointer" onclick="UpdateStatus(@item.PKID,1)">设为删除</a>  <a style="cursor:pointer" class="config-log" onclick="SearchLog(@item.PKID)">日志</a></td>
                        }
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="10">无数据</td></tr>
            }
        </table>
        <input type="hidden" id="Totalcount" value="@(ViewBag.TotalCount)" />
        <label style="position: absolute;color:#08c;margin-bottom:10px;margin-top:28px;margin-left:180px">共@(ViewBag.TotalCount)条数据</label>
    </div>
    <input type="hidden" id="hidden_PKID" />
    <script type="text/javascript">
        function UpdateStatus(pkid, status) {
            var $item = $(this).parent().parent();
            if (confirm("是否确认操作？")) {
                $.post("UpdateContinentalConfigStatus", { pkid: pkid,status:status }, function (data) {
                    if (data==true) {
                        alert("操作成功");
                        initTable(1);
                    } else {
                        alert("操作失败");
                    }
                });
            }
        };

        function GetAllOrder() {
            if ($("#check_all")[0].checked) {
                $("[name='check_child']").attr("checked", 'true');
            }
            else {
                $("[name='check_child']").removeAttr("checked");
            }
        }

        function GetChecked() {
            var pkid = "";
            $("input[name='check_child']:checked").each(function () {
                if (this.checked) {
                    pkid += $(this).val() + ",";
                }
            })
            $("#hidden_PKID").val(pkid);
        }

        function BatchDelete() {
            GetChecked();
            var pkidStr = $("#hidden_PKID").val();
            if (pkidStr != "") {
                if (confirm("是否确认操作")) {
                    $.ajax({
                        type: "POST",
                        url: "BatchDeleteConfig",
                        data: { "pkidStr": pkidStr },
                        success: function (result) {
                            if (result == true) {
                                alert("操作成功");
                                initTable(1);
                            } else {
                                alert("操作失败");
                            }
                        }
                    });
                }
            } else {
                alert("请选择数据");
            }
        }

        function SearchLog(pkid) {
            var html = "<table style='width:100%'><tr><td>消息</td><td>备注</td><td>操作人</td><td>时间</td></tr>";
            var d = dialog({
                title: "操作日志",
                width: 1000,
                height: 500,
                fixed: true,
                button: [
                    {
                        value: "取消"
                    }
                ]
            });

            $.post("SelectOperationLog", { objectId: pkid }, function (result) {
                if (result.length > 0) {
                    $.each(result, function (index) {
                        html += "<tr><td>" + result[index].Message + "</td><td>" + result[index].Remarks + "</td><td>" + result[index].Operator + "</td><td>" + formatTime(result[index].CreatedTime) + "</td></tr>";
                    });
                }
                html += "</table>";
                d.content(html);
                d.showModal();
            });
        }

        function formatTime(val) {
            if (val != null) {
                return eval('new ' + eval(val).source).Format('yyyy-MM-dd hh:mm:ss');
            } else {
                return "无";
            }
        }
    </script>
