@using Newtonsoft.Json
@using Tuhu.Provisioning.Models
@using Tuhu.Service.Product.Models
@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.SE_GiftManageConfigModel>
    @{
        ViewBag.Title = "途虎赠品管理";
        var request = (GiftManageConfigRequest)ViewBag.GiftManageConfigRequest ?? new GiftManageConfigRequest();
        Layout = "../Shared/_Layout.cshtml";
    }
    <style type="text/css">
        td { text-align: center; }
        th { text-align: center; }
        #searchArguments div input { border: 1px solid #C6C6C6 !important; box-shadow: inset 1px 2px 1px #F0F0F0; }
        #searchArguments div input:focus { outline: none }
        #kkpager { width: 90%; padding: 10px !important; clear: none !important }
        #kkpager span.disabled { cursor: no-drop }
        .pager-left { text-align: center; float: left; color: #999; padding: 10px 0 !important; }
        .pager-right { text-align: center; float: left; }
        .pager-limits { vertical-align: top; padding: 0; border: none; }
        .pager-limits select { height: 22px; padding: 1px; cursor: pointer; border: 1px solid #DFDFDF; box-sizing: content-box; }
        .pager-limits select:focus { outline: 0; border-color: #31ACE2 !important; }
        .btn-groups { height: 64px; line-height: 40px; border-radius: 4px; text-align: right; padding: 0 10px; font-weight: 700; margin-bottom: 15px; display: flex; align-items: center; color: rgba(39,56,72,.85); font-weight: 500; }
        .btn-groups button:focus { outline: none }
    </style>
    <link href="~/Content/nfine/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/cloudjs/cloudcss/combobox.css" rel="stylesheet" />
    <link href="~/Content/cloudjs/cloudcss/dialog.css" rel="stylesheet" />
    <link href="~/Content/cloudjs/cloudcss/validate.css" rel="stylesheet" />
    <link href="~/Content/cloudjs/cloudcss/message.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
    @helper  CaseType(int type)
    {
        string outPut = "";
        switch (type)
        {
            case 1: outPut = "按轮胎尺寸"; break;
            case 2: outPut = "按轮毂尺寸"; break;
            case 3: outPut = "按品类"; break;
            case 4: outPut = "按PID"; break;
            case 5: outPut = "按轮胎类型"; break;
        }
        @outPut
    }
    <body>
        <p>
            @*@Html.ActionLink("创建全网活动", "Create", new { }, new { target = "_blank", style = "height: 25px;line-height: 25px;padding: 5px 10px;background-color: #00BFFF;color:#fff;border:1px #000 solid;display:inline-block;text-decoration: none;font-size: 20px;font-weight:900;" })*@
            <button type="button" class="btn btn-primary" onclick="Create(this);" aria-label="Left Align" style="margin-top: 10px;">
                创建全网活动
                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#LevelModal" aria-label="Left Align" style="margin-top: 10px;">
                创建互斥关系
                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-warning" onclick="RefreshCache(this);" aria-label="Left Align" style="margin-top: 10px;">
                刷新缓存(15秒后生效)
                <span class="glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-warning" onclick="SetDisabled(this);" aria-label="Left Align" style="margin-top: 10px;">
                禁用过期配置(针对过期七天以上的)
                <span class="glyphicon glyphicon glyphicon-alert" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger" onclick="SearchGiftLevel();" aria-label="Left Align" style="margin-top: 10px;">
                查询已经创建过互斥关系的规则
                <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </p>
        <form id="searchArguments" method="post" action="/SE_GiftManageConfig/Index">
            <p>
                <label>状态</label>
                <select id="State" name="State" value="@request.state">
                    <option value="">==请选择==</option>
                    <option value="1">启用</option>
                    <option value="0">禁用</option>
                    <option value="2">全部</option>
                    <option value="3">已过期</option>
                    <option value="4">进行中</option>
                </select>
                <label>套装</label>
                <select id="IsPackage" name="IsPackage" value="@request.IsPackage">
                    <option value="">==请选择==</option>
                    <option value="1">套装</option>
                    <option value="0">非套装</option>
                    <option value="2">全部</option>
                </select>
                <label>买三送一</label>
                <select id="GiveAway" name="GiveAway" value="@request.GiveAway">
                    <option value="">==请选择==</option>
                    <option value="1">是</option>
                    <option value="0">否</option>
                    <option value="2">全部</option>
                </select>
            </p>
            <div>
                <input id="pageIndex" name="pageIndex" value="@request.pageIndex" type="hidden" style="width: 100px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
                <input id="productPid" name="productPid" value="@request.productPid" type="text" autocomplete="off" placeholder="产品PID" style="width: 100px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
                <input id="giftPid" name="giftPid" value="@request.giftPid" type="text" autocomplete="off" placeholder="赠品PID" style="width: 100px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
                <input id="giftName" name="giftName" value="@request.giftName" type="text" autocomplete="off" placeholder="赠品名称" style="width: 100px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
                <input id="channel" name="channel" value="@request.channel" type="text" autocomplete="off" placeholder="渠道" style="width: 100px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
                <input id="Name" name="Name" value="@request.Name" type="text" autocomplete="off" placeholder="活动名称" style="width: 100px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
                <input id="ValidTimeBegin" name="ValidTimeBegin" value="@request.ValidTimeBegin" type="text" placeholder="开始时间" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd '})" style="width: 100px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
                <input id="ValidTimeEnd" name="ValidTimeEnd" value="@request.ValidTimeEnd" type="text" placeholder="结束时间" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd '})" style="width: 100px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
                <input id="Creater" name="Creater" value="@request.Creater" type="text" autocomplete="off" placeholder="创建人" style="width: 80px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
                <input id="Mender" name="Mender" value="@request.Mender" type="text" autocomplete="off" placeholder="更新人" style="width: 80px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
                <input id="Group" name="Group" value="@request.Group" type="text" autocomplete="off" placeholder="组号" style="width: 80px; padding: 5px; border: solid 1px #000; margin-bottom: 10px" />
                <input id="pageSize" name="pageSize" value="@request.pageSize" type="hidden" />
            </div>
            <div class="btn-groups">
                <a href="javascript:void(0)" style="margin-right:5px"><button type="submit" class="tuhu-btn tuhu-btn-primary" onclick="resetPager()"><span>搜 索</span></button></a>
                <a href="javascript:void(0)" style="margin-right:5px"><button type="reset" class="tuhu-btn tuhu-btn-primary"><span>重 置</span></button></a>
                <a href="javascript:void(0)"><button type="button" class="tuhu-btn tuhu-btn-primary batch-updateTime"><span>批量修改开始结束时间</span></button></a>
            </div>
        </form>
        <table id="tbl_grid">
            <tr>
                <th>
                    <label>
                        <input name="select_all" id="select_all" type="checkbox" />
                    </label>
                </th>
                <th>
                    PKID
                </th>
                <th>
                    组号
                </th>
                <th>
                    活动名称
                </th>
                <th>
                    类别
                </th>
                <th>
                    赠品名称
                </th>
                <th>
                    赠品描述
                </th>
                <th>
                    是否禁用
                </th>
                <th>
                    开始时间
                </th>
                <th>
                    结束时间
                </th>
                <th>
                    创建人
                </th>
                <th>
                    更新人
                </th>
                <th style="width: 200px">
                    操作
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="select_item" id="select_item" ms-attr-value="@(item.Id)">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Group)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @CaseType(item.Type)
                    </td>
                    <td>
                        @{
                            var gifts = item.GiftProducts == null ? new List<string>() : JsonConvert.DeserializeObject<List<GiftProdctModel>>(item.GiftProducts).Select(r => r.Name).ToList();
                            for (var name = 0; name < gifts.Count(); name++)
                            {
                                if (name != gifts.Count() - 1)
                                {
                                    @(gifts[name] + ";")<br />
                                }
                                else
                                {
                                    @(gifts[name])
                                }
                            }
                        }
                    </td>
                    <td>
                        @{
                            var describs = item.GiftProducts == null ? new List<string>() : JsonConvert.DeserializeObject<List<GiftProdctModel>>(item.GiftProducts).Select(r => r.Describe).ToList();
                            for (var i = 0; i < describs.Count(); i++)
                            {
                                if (i != describs.Count() - 1 && describs[i] != "")
                                {
                                    @(describs[i] + ";")<br />
                                }
                                else
                                {
                                    @(describs[i])
                                }
                            }
                        }
                    </td>
                    <td>
                        @(item.State ? "启用" : "禁用")
                    </td>
                    <td>
                        @(item.ValidTimeBegin)
                    </td>
                    <td>
                        @(item.ValidTimeEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creater)
                        <br />
                        @Html.DisplayFor(modelItem => item.CreateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mender)
                        <br />
                        @Html.DisplayFor(modelItem => item.UpdateTime)
                    </td>
                    <td>
                        @Html.ActionLink("编辑", "Edit", new { id = item.Id }, new { target = "_blank" }) |
                        @Html.ActionLink("删除", "Delete", new { id = item.Id }, new { onclick = "return confirm('确认删除？')", style = "display: none" })
                        @Html.ActionLink("查看日志", "OperateLogs", new { id = item.Id }, new { target = "_blank" })|
                        <a href="javascript:void(0)" onclick="Copy('@item.Id') ">复制新增</a>|
                        <a href="javascript:void(0)" onclick="UpdateGiftLevel('@item.Group')">修改互斥关系</a>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="13">
                    <div class="pager-left">
                        <span class="pager-limits">
                            <select id="pager-size" onchange="changePager()">
                                <option value="">请选择每页条数</option>
                                <option value="10">10 条/页</option>
                                <option value="20">20 条/页</option>
                                <option value="30">30 条/页</option>
                                <option value="50">50 条/页</option>
                                <option value="100">100 条/页</option>
                            </select>
                        </span>
                    </div>
                    <div id="kkpager" class="pager-right"></div>
                </td>
            </tr>
        </table>
        <div class="modal fade " tabindex="-1" role="dialog" id="LevelModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" style="color: blueviolet;" id="myModalLabel">创建互斥关系</h3>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="Products" style="width:800px; margin-left: 10px;">
                        <thead>
                            <tr class="danger">
                                <th style="text-align: center">赠品活动ID</th>
                                <th style="text-align: center">活动名称</th>
                                <th style="text-align: center">优先级</th>
                                <th style="text-align: center"><input type="button" value="添加" onclick="Add_GiftLevel();" /> </th>
                            </tr>
                        </thead>
                        <tbody id="GiftLevelbody"></tbody>
                    </table>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="SaveGiftLevel()">保存</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-loader ui-loader-default hide">
            <span class="ui-icon ui-icon-loading"></span>
            <h2>loading</h2>
        </div>
    </body>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/nfine/js/bootstrap/bootstrap.js"></script>
    <script src="~/Content/ProductVehicleType/js/bootstrap.min.js"></script>
    <script src="~/Scripts/kkpager/kkpager.min.js"></script>
    <link href="~/Scripts/kkpager/kkpager_blue.css" rel="stylesheet" />
    <script type="text/javascript">

        var totalPage = @(ViewBag.totalPage),
            totalRecords = @(ViewBag.totalRecords),
            pageIndex = @(ViewBag.pageIndex),
            pageNo = pageIndex || 1;

        //全选，全不选
        var checkboxes = document.getElementsByName('select_item');
        $("#select_all").click(function() {
            for (var i = 0; i < checkboxes.length; i++) {
                var checkbox = checkboxes[i];
                if (!$(this).get(0).checked) {
                    checkbox.checked = false;
                } else {
                    checkbox.checked = true;
                }
            }
        });

        //生成分页
        kkpager.generPageHtml({
            pno: pageNo,
            //总页码
            total: totalPage,
            //总数据条数
            totalRecords: totalRecords,
            mode: 'click',
            isShowCurrPage:false,
            isShowTotalRecords:true,
            click: function(_pageIndex) {
                $("#pageIndex").attr("value", _pageIndex);
                $("#searchArguments").submit();
            },
            isGoPage: false,
            getLink: function() {
                return 'javascript:void(0);';
            }
        });
        kkpager.selectPage(pageIndex);

        /**
         * 重置页码
         */
        function resetPager() {
            $("#pageIndex").attr("value", "1");
        }

        /**
         * 改变页码大小
         */
        function changePager() {
            $('#pageSize').val($('.pager-limits select').find("option:selected").val());
            $("#searchArguments").submit();
        }

        /**
         * 刷新缓存方法
         * @@param e
         */
        function RefreshCache(e) {
            $(e).attr("disabled", "disabled");
            $.ajax({
                type: "POST",
                url: "/SE_GiftManageConfig/RefreshCache",
                success: function(r) {
                    r = JSON.parse(r);
                    if (r.state) alert("刷新成功");
                    else alert("刷新失败\r\n" + r.msg);

                    $(e).removeAttr("disabled");
                }
            });
        }

        /**
         * 创建活动
         */
        function Create() {
            window.location.href = decodeURI('/SE_GiftManageConfig/Create');
        }

        /**
         * 查询互斥关系的数据
         */
        function Get_GiftLevels() {
            var items = [];
            $("#Products tbody tr").each(function(i, e) {
                var _pkid = $(e).find("td").eq(0).find("input").val() || "",
                _sort = $(e).find("td").eq(2).find("input").val() || 0;
                //_stock = $(e).find("td").eq(4).find("input").val() || "";
                if (_pkid.length > 0) items.push({
                    pkid: _pkid,
                    sort: _sort
                });
            });
            return items.length > 0 ? JSON.stringify(items) : null;
        }
        $("#LevelModal").on("hidden.bs.modal",function() {
            $(this).removeData("bs.modal");
            $("#GiftLevelbody").html('');
        });

        /**
         * 保存互斥关系
         */
        function SaveGiftLevel() {
            var value = Get_GiftLevels();
            $.ajax({
                type: "POST",
                url: "/SE_GiftManageConfig/CreateMultistage",
                data: {
                    value: value
                },
                success: function(r) {
                    if (r.state) {
                        alert("保存成功");
                        window.location.href = decodeURI('/SE_GiftManageConfig/Index');
                    } else {
                        alert("保存失败\r\n");
                    }

                }
            });
            $('#LevelModal').modal('hide');
        }

        /**
         * 修改互斥关系
         * @@param group
         */
        function UpdateGiftLevel(group) {
            var flag = true;
            var source = [];
            $.ajax({
                type: "POST",
                url: "/SE_GiftManageConfig/UpdateGiftLevel",
                async: false,
                data: {
                    group: group
                },
                success: function(v) {
                    if (v.Status > 0) {
                        source = v.Data;
                    } else {
                        flag = false;
                        alert(v.Message);
                    }
                }
            });
            if (!flag) {
                return false;
            }
            var $template = $("#GiftLevelTemplate").html();
            for (var i = 0; i < source.length; i++) {
                $("#GiftLevelbody").append($template.replace(/{{PKid}}/ig, source[i].Id).replace(/{{Name}}/ig, source[i].Name).replace(/{{Sort}}/ig, source[i].Sort));
            }
            $("#LevelModal").modal("show");
        }

        /**
         * 输入PKID后查询数据
         * @@param el
         */
        function onblur_PKid(el) {
            var val = $.trim($(el).val()),
            _parentElement = $(el).closest("table[id='Products']").attr("id");

            if (val.length > 0) {
                $.ajax({
                    type: "POST",
                    url: "/SE_GiftManageConfig/GetGiftModel",
                    data: {
                        id: val
                    },
                    success: function(r) {
                        if (r.Status <= 0) {
                            $(el).val("");
                            alert("PKID:『" + val + "』不存在！");
                        } else {
                            if (_parentElement != 'undefined') {
                                $(el).parents("td").next().find("input[type='text']").val(r.Name);
                            }
                        }
                    }
                });
            }
        }

        /**
         * 添加互斥关系产品
         */
        function Add_GiftLevel() {
            $("#GiftLevelbody").append($("#GiftLevelTemplate").html().replace(/{{PKid}}/ig, "").replace(/{{Name}}/ig, "").replace(/{{Sort}}/ig, ""));
        }

        /**
         * 删除互斥关系产品
         * @@param obj
         */
        function Del_GiftLevel(obj) {
            if (confirm("确认删除？")) $(obj).parents("tr").remove();
        }

        /**
         * 禁用过期配置
         * @@param e
         */
        function SetDisabled(e) {
            $(e).attr("disabled", "disabled");
            $.ajax({
                type: "POST",
                url: "/SE_GiftManageConfig/SetDisabled",
                success: function(r) {
                    r = JSON.parse(r);
                    if (r.state) alert("设置成功，更新" + r.result + "条记录");
                    else alert("设置失败\r\n" + r.msg);

                    $(e).removeAttr("disabled");
                }
            });
        }

        /**
         * 查询已经创建过互斥关系的规则
         */
        function SearchGiftLevel() {
            window.location.href = decodeURI('/SE_GiftManageConfig/SearchGiftLevel');
        }

        $(function () {

            cloudjs('#State,#IsPackage,#GiveAway,#pager-size').combobox();

            $(".pager-limits select option[value='@ViewBag.pageSize'] ").attr("selected", true);

            $("#State Option").each(function() {
                if ($(this).val() === '@ViewBag.Status') {
                    $(this).attr("selected", "selected");
                }
            });
            $("#IsPackage Option").each(function() {
                if ($(this).val() === '@ViewBag.IsPackage') {
                    $(this).attr("selected", "selected");
                }
            });
            $("#GiveAway option").each(function() {
                if ($(this).val() === '@ViewBag.GiveAway') {
                    $(this).attr("selected", "selected");
                }
            });

            /**
             * 批量修改开始结束时间
             */
            $('.batch-updateTime').click(function () {
                var $chkBoxes = $('#tbl_grid').find('input:checked');
                if ($chkBoxes.length === 0) {
                    //如果不勾选弹出警告框
                    cloudjs.message({ content: '请至少选择一条记录', type: 'warn', showLeftIcon: true, showCloseIcon: true, duration: 3000, offsetTop:350 });
                    return false;
                }

                var array = [];
                //遍历被选中的checkbox集
                $($chkBoxes).each(function () {
                    if ($(this).attr('ms-attr-value') != null) {
                        array.push({
                            Id: $(this).attr('ms-attr-value')
                        });
                    }
                });

                cloudjs($('#BatchTimeTemplate').html()).dialog({
                    modal: true,
                    width: 300,
                    height:140,
                    animate: true,
                    resizable:false,
                    title:'批量修改开始结束时间',
                    buttons: {
                        '保存': function () {
                            cloudjs('.batchtime').validate({
                                success: function () {
                                    $.each(array, function (index) {
                                        array[index].ValidTimeEnd = $('#EndDateTime').val();
                                        array[index].ValidTimeBegin = $('#StartDateTime').val();
                                    });

                                    $('.ui-loader').toggleClass('hide');

                                    $.ajax({
                                        url: '/SE_GiftManageConfig/BatchUpdateTime',
                                        type: 'post',
                                        data: { content: JSON.stringify(array) },
                                        dataType: 'json'
                                    }).done(function (result) {
                                        if (result === 1) {
                                            cloudjs.message({ content: '批量修改时间成功', type: 'success', showLeftIcon: true, showCloseIcon: true, duration: 3000, offsetTop: 350 });
                                            setTimeout(function() {
                                                location.reload();
                                            },1000);
                                        }
                                        else
                                            cloudjs.message({ content: '修改失败', type: 'error', showLeftIcon: true, showCloseIcon: true, duration: 3000, offsetTop: 350 });

                                        $('.ui-loader').toggleClass('hide');
                                    }).fail(function (result) {
                                        cloudjs.message({ content: '修改失败', type: 'error', showLeftIcon: true, showCloseIcon: true, duration: 3000, offsetTop: 350 });
                                        $('.ui-loader').toggleClass('hide');
                                    });

                                }
                            });
                        }, '取消': function() {
                            $('.validate_div').remove();
                            this.close();
                        }
                    }
                });
                setTimeout(function() {
                    $('.batchNum').html(array.length);
                },300);

                return false;
            });
        });

        /**
         * 复制新增操作
         * @@param id
         */
        function Copy(id) {
            if (confirm("确定复制新增吗？")) {
                window.location.href = decodeURI('/SE_GiftManageConfig/Copy?id=' + id);
            }
        };
    </script>
    <script type="text/template" id="GiftLevelTemplate">
        <tr class="success">
            <td><input onblur="onblur_PKid(this);" type="text" style="width:200px;" name="PKid" value="{{PKid}}" /></td>
            <td><input type="text" value="{{Name}}" style="width:300px;" name="Name" /></td>
            <td><input type="number" min="1" value="{{Sort}}" style="width:100px;" name="Sort" /></td>
            <td><input type="button" value="删除" onclick="Del_GiftLevel(this);" /></td>
        </tr>
    </script>
    <script type="text/template" id="BatchTimeTemplate">
        <div class="batch-updateTime-content">
            <div class="form-group">
                <input class="batchtime form-control Wdate" placeholder="开始时间（必填）" data-check="empty;time" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'EndDateTime\')}'})" name="StartDateTime" id="StartDateTime">
            </div>
            <div class="form-group">
                <input class="batchtime form-control Wdate" placeholder="结束时间（必填）" data-check="empty;time" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'StartDateTime\')}'})" name="EndDateTime" id="EndDateTime">
            </div>
            <div class="form-group">
                <span>共计选中 <i class="batchNum" style="color:red"></i> 条记录,请谨慎修改！</span>
            </div>
        </div>
    </script>
