@model List<Tuhu.Provisioning.DataAccess.Entity.SE_DictionaryConfigModel>
@{
    ViewBag.Title = null;
}
<style type="text/css">
    table {
        width: 100%;
        table-layout: fixed;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        word-break: keep-all;
        text-overflow: ellipsis;
    }
</style> 

<table>
    <thead>
        <tr>
            <th>操作人</th>
            <th>操作类型</th>
            <th width="30%">修改前</th>
            <th width="30%">修改后</th>
            <th width="10%">创建时间</th>
            <th width="10%">修改时间</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Extend3</td>
                        <td>@item.Extend4</td>
                        <td>@item.Extend1</td>
                        <td>@item.Extend2</td>
                        <td>@item.CreateTime</td>
                        <td>@item.UpdateTime</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" align="center">无操作记录</td>
                </tr>
            }
        }
    </tbody>
</table>
