@{
    ViewBag.Title = "Edit";
    Layout = null;
}
@model Tuhu.Provisioning.DataAccess.Entity.LuckyWheelDeatil

<form id="formEdit">
    <table>
        <tr style="display:none;">
            <td>
                活动类型:
            </td>
            <td>
                <select id="Type" name="Type">
                    <option value="4">优惠券</option>
                </select>
            </td>

        </tr>
        <tr style="display:none;">
            <td>
                用户等级:
            </td>
            <td>
                <select id="UserRank" name="UserRank">
                    <option value="0" @(Model.UserRank == 0?" selected=\"selected\"":"")>全部</option>
                    <option value="1" @(Model.UserRank == 1?" selected=\"selected\"":"")>LV1</option>
                    <option value="2" @(Model.UserRank == 2?" selected=\"selected\"":"")>LV2</option>
                    <option value="3" @(Model.UserRank == 3?" selected=\"selected\"":"")>LV3</option>
                    <option value="4" @(Model.UserRank == 4?" selected=\"selected\"":"")>LV4</option>
                </select>
            </td>
        </tr>
        <tr>
           <td> 优惠券规则ID：</td>
            <td>
                <input type="text"  id="CouponRuleID" name="CouponRuleID"  onblur="wheelDeatil.validateRule(this)" value="@(!string.IsNullOrWhiteSpace(Model.CouponRuleID)?Model.CouponRuleID.ToString():"")" />
            </td>
        </tr>
       <tr>
           <td>
               领券上限(当日):
           </td>
           <td>
               <input type="text" value="@(!string.IsNullOrWhiteSpace(Model.MaxCoupon)?Model.MaxCoupon.ToString():"")"  id="MaxCoupon" name="MaxCoupon"   />
           </td>
       </tr>
        <tr>
            <td>背面图片:</td>
            <td>
                @if (!string.IsNullOrWhiteSpace(Model.BGImage))
                {
                    <img id="bgSImage" src="@Model.BGImage" width="25" height="25"  />
                }
                else
                {
                    <img id="bgSImage" width="25" height="25"  />
                }

                <input type="file" id="fileBgImage" name="fileBgImage" onchange="wheelDeatil.upload(this, 'bgSImage', 'hidBgImage', 'formEdit')"/>
                <input type="hidden" id="hidBgImage" name="hidBgImage" value="@Model.BGImage"/>
            </td>
        </tr>
        <tr>
            <td>
                内容图片:
            </td>
            <td>
                @if (!string.IsNullOrWhiteSpace(Model.ContentImage))
                {
                    <img id="ContentImage" src="@Model.ContentImage" width="25" height="25" />
                }
                else
                {
                    <img id="ContentImage" width="25" height="25"  />
                }
               
                <input type="file" id="fileContentImage" name="fileContentImage" onchange="wheelDeatil.upload(this, 'ContentImage', 'hidContentImage', 'formEdit')" />
                <input type="hidden" id="hidContentImage" name="hidContentImage" value="@Model.ContentImage" />
            </td>
        </tr>
        <tr style="display:none;">
            <td>
                翻转图片:
            </td>
            <td>
                @if (!string.IsNullOrWhiteSpace(Model.ChangeImage))
                {
                    <img id="ChangeImage" src="@Model.ChangeImage" width="25" height="25"  />
                }
                else
                {
                    <img id="ChangeImage" width="25" height="25"  />
                }
               
                <input type="file" id="fileChangeImage" name="fileChangeImage" onchange="wheelDeatil.upload(this, 'ChangeImage', 'hidChangeImage', 'formEdit')" />
                <input type="hidden" id="hidChangeImage" name="hidChangeImage" value="@Model.ChangeImage" />
            </td>
        </tr>
        <tr>
            <td>
                领券成功描述:
            </td>
            <td>
               
                <textarea id="GetDescription" name="GetDescription"  style="height:60px; width:270px;">@(Model.GetDescription.Trim())</textarea>
            </td>
        </tr>
        <tr>
            <td>
                去逛逛描述:
            </td>
            <td>
                <textarea id="GoDescription" name="GoDescription" style="height:60px; width:270px;">@(Model.GoDescription.Trim())</textarea>
            </td>
        </tr>
        <tr>
            <td>
                AppUrl:
            </td>
            <td>
                <input type="text" id="APPUrl" name="APPUrl" value="@Model.APPUrl" style="width:275px;" />
            </td>
        </tr>
        <tr>
            <td>
                WapUrl:
            </td>
            <td>
                <input type="text" id="WapUrl" name="WapUrl" value="@Model.WapUrl" style="width:275px;" />
             </td>
        </tr>
        <tr>
            <td>
                WwwUrl:
            </td>
            <td>
                <input type="text" id="WwwUrl" name="WwwUrl" value="@Model.WwwUrl" style="width:275px;" />
            </td>
        </tr>
        <tr>
            <td>
                App处理值(IOS):
            </td>
            <td>
                <input type="text" id="HandlerIOS" name="HandlerIOS" value="@Model.HandlerIOS" style="width:275px;"  />
            </td>
        </tr>
        <tr>
            <td>App通信值(IOS):</td>
            <td>
                @*<input type="text" id="SOAPIOS" name="SOAPIOS" value="" style="width:275px;height:60px;" multiple="true"  />*@
                <textarea id="SOAPIOS" name="SOAPIOS" style="width:275px; height:60px;">@Model.SOAPIOS</textarea>
            </td>
        </tr>
        <tr>
            <td>
                App处理值(Android):
            </td>
            <td>
                <input type="text" id="HandlerAndroid" name="HandlerAndroid" value="@Model.HandlerAndroid" style="width:275px;"  />
            </td>
        </tr>
        <tr>
            <td>
                App通信值(Android):
            </td>
            <td>
                @*<input type="text" id="SOAPAndroid" name="SOAPAndroid" value="@Model.SOAPAndroid" style="width:275px;"  />*@
                <textarea id="SOAPAndroid" name="SOAPAndroid" style="width:270px;height:60px;">@Model.SOAPAndroid</textarea>
            </td>
        </tr>
        <tr>
            <td>
                排序:
            </td>
            <td>
                <input type="number" id="OrderBy" name="OrderBy" value="@Model.OrderBy"/>
            </td>
        </tr>
    </table>
    
</form>
<input type="hidden" id="hidID" name="hidID" value="@Model.ID" />
<script type="text/javascript">
    $('#formEdit').validate(validateRuleForm);
    function GetData() {
        var data = {};
        var form =$('#formEdit');
        data.Type = $('#Type', form).val();
        data.UserRank = $('#UserRank', form).val();
        data.CouponRuleID = $('#CouponRuleID', form).val();
        data.MaxCoupon = $('#MaxCoupon', form).val();
        data.BGImage = $('#hidBgImage', form).val();
        data.ContentImage = $("#hidContentImage",form).val();
        data.ChangeImage = "";//$("#hidChangeImage",form).val();
        data.GetDescription = $('#GetDescription', form).val()||'';
        data.GoDescription = $('#GoDescription',form).val()||'';
        data.APPUrl = $('#APPUrl', form).val()||'';
        data.WapUrl = $('#WapUrl', form).val()||'';
        data.WwwUrl = $('#WwwUrl',form).val()||'';
        data.HandlerAndroid = $('#HandlerAndroid',form).val();
        data.SOAPAndroid = $('#SOAPAndroid',form).val();
        data.HandlerIOS=$('#HandlerIOS',form).val();
        data.SOAPIOS=$('#SOAPIOS',form).val();
        //data.UserRank=$('#UserRank',form).val();
        data.OrderBy = $('#OrderBy', form).val();

        data.ID = $('#hidID').val();
      //  console.log(data);
        return data;
    }


    !(function () {
        if (window.add) {
            var form = $('#formEdit');
            var value = $('#hidID').val();
            var orderby = 0;
            $('#tbWheelList tr').each(function (i) {
                if (i != 0) {
                    var json = $(this).data("json");
                    if (json.OrderBy > orderby) {
                        orderby = json.OrderBy;
                    }
                }
            });
            orderby++;
            $('#OrderBy', form).val(orderby);
            window.add = false;
        }
    })()


</script>