@using Tuhu.Provisioning.DataAccess.Entity;
@using Tuhu.Provisioning;
@model  Tuhu.Component.Common.Models.ListModel<CouponBlackItem>
    @{
        Layout = null;
    }
    @if (Model.Source.Any())
            {
                var id = (Model.Pager.CurrentPage - 1) * Model.Pager.PageSize;
        <table class="table" data-count="@Model.Pager.TotalItem" width="100%">
            <tr>
                <th>ID</th>
                <th>手机号</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            @foreach (var item in Model.Source)
                {
                    id += 1;
                <tr>
                    <td>@id</td>
                    <td>@item.PhoneNum</td>
                    <td>@item.CreateDateTime</td>
                    <td><a href="javascript:void(0)" onclick="Func.Deletebtn(@item.PhoneNum)">删除</a></td>
                </tr>
            }
        </table>
    }
    else
    {
        <div>无数据</div>
    }
    @Html.Pager(Model.Pager, true, id => Url.Action("CouponBlackList2", new
{
    phoneNum = ViewBag.Search,
    pageIndex = id,
    pageSize = Model.Pager.PageSize
}))
