@using Tuhu.Provisioning.Models
@using Tuhu.Provisioning.DataAccess.Entity
@model Tuhu.Component.Common.Models.ListModel<PriceApproval>
@{
    ViewBag.Title = "券后价审批记录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>审批记录</h2>
<form method="get">
    PID:<input type="text" name="PID" value="@ViewBag.PID" />
    <input type="submit" value="查询" />
</form>
@if (Model.Source.Any())
{
    <table>
        <tr>
            <th>申请人</th>
            <th>提交时间</th>
            <th>品牌</th>
            <th>PID</th>
            <th>产品名称</th>
            <th>进货价</th>
            <th>最近一次采购价</th>
            <th>当前库存</th>
            <th>近7天销量</th>
            <th>近30天销量</th>
            <th>实际指导价</th>
            <th>当前券后价</th>
            <th>申请券后价</th>
            <th>京东自营价</th>
            <th>汽车超人零售</th>
            <th>官网价格</th>
            <th>毛利额</th>
            <th>申请原因</th>
            <th>审批人</th>
            <th>审批时间</th>
            <th>操作记录</th>
        </tr>

        @foreach (var item in Model.Source)
        {
            <tr>
                <td>@item.ApplyPerson</td>
                <td>@item.ApplyDateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@item.Brand</td>
                <td><a href="https://item.tuhu.cn/Products/@(item.PID.Replace("|","/")).html" target="_blank">@item.PID</a></td>
                <td>@item.PoductName</td>
                <td>@(item.CostPrice == null ? "-" : item.CostPrice.ToString("0.00"))</td>
                <td>@(item.LastCostPrice==null?"-":((decimal)item.LastCostPrice).ToString("0.00"))</td>
                <td>@item.StockCount</td>
                <td>@item.WeekSaleCount</td>
                <td>@item.MonthSaleCount</td>
                <td>@(item.GuidePrice == null ? "-" : ((decimal)item.GuidePrice).ToString("0.00"))</td>
                <td>@(item.NowPrice == null ? "-" : ((decimal)item.NowPrice).ToString("0.00"))</td>
                <td>
                    @(item.NewPrice.ToString("0.00"))
                </td>
                <td>@(item.JDPrice == null ? "-" : ((decimal)item.JDPrice).ToString("0.00"))</td>
                <td>@(item.CarPrice == null ? "-" : ((decimal)item.CarPrice).ToString("0.00"))</td>
                <td>@(item.TuhuPrice==null?"-": ((decimal)item.TuhuPrice).ToString("0.00"))</td>
                <td>@(item.GrossProfit == null?"-":item.GrossProfit.ToString("0.00"))</td>
                <td>@item.ApplyReason</td>
                <td>@item.ApprovalPerson</td>
                <td>@item.ApprovalTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@(item.ApprovalStatus? "通过" : "驳回")</td>
            </tr>
        }
    </table>
    @Html.Pager(Model.Pager, true, id => Url.Action("CouponPriceApprovalLog", new
{
    PID = ViewBag.PID,
    pageSize = Model.Pager.PageSize,
    pageIndex = id
}));
        
    }
