@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.QPLPriceApplyModel>

@{
    ViewBag.Title = "价格修改历史";
}

<style>
    .table th {
        text-align: center;
    }
</style>

<table class="table" style="text-align: center; width: 99%">
    <tr>
       
        <th>
            PID
        </th>
        <th>
            修改前价格
        </th>
        <th>
            修改后价格
        </th>  
        <th>修改时间</th>
        <th>操作人</th>
        <th>修改渠道</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                <a href="https://item.tuhu.cn/Products/@(item.PID.Replace("|","/")).html" target="_blank">@item.PID</a>
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.OldPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NowPrice)
            </td> 
            <td>
                @(item.UpdateDateTime.HasValue ? item.UpdateDateTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : item.ApplyDateTime.Value.ToString("yyyy-MM-dd HH:mm:ss"))
            </td>
            <td>
                @(string.IsNullOrEmpty(item.Auditor) ? item.ApplyUser : item.Auditor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
        </tr>
    }

</table>
