@using Tuhu.Provisioning.DataAccess.Entity.Tire;
@using Tuhu.Provisioning;
@model Tuple<Tuhu.Component.Common.Models.ListModel<InstallFeeModel>,InstallFeeConditionModel>
@{
    Layout = null;
}
@if (Model.Item1.Source.Any())
{
    <table data-count="@Model.Item1.Pager.TotalItem" class="table" width="100%">
        <tr>
            <th>
                <input type="checkbox" name="SelectAll" value="" />全选
            </th>
            <th>PID</th>
            <th>名称</th>
            <th>规格</th>
            <th>安装费加价</th>
            <th>操作</th>
            <th>操作历史</th>
        </tr>
        @foreach (var item in Model.Item1.Source)
        {
            <tr>
                <td><input type="checkbox" name="selectSingle" value="" data-pid="@item.PID" data-price='@(item.AddPrice==null? "0" : item.AddPrice.Value.ToString("0.00"))' /></td>
                <td><a target="_blank" href="https://item.tuhu.cn/Products/@(item.PID.Replace("|","/")).html">@item.PID</a></td>
                <td>@item.DisplayName</td>
                <td>@item.TireSize</td>
                <td style="text-align: center;">@(item.AddPrice==null? "—" : item.AddPrice.Value.ToString("0.00"))</td>
                <td>
                    <a href="javascript:void(0)" onclick="TuhuTire.Logic.InstallFee.Edit('@item.PID','@(item.AddPrice==null? "0" : item.AddPrice.Value.ToString("0.00"))')">编辑</a>
                </td>
                <td><a href="/Tire/InstallFeeLog?key=@(item.PID)" target="_blank">查看</a></td>
            </tr>
        }
    </table>
    @Html.Pager(Model.Item1.Pager, true, id => Url.Action("InstallFeeList", new {
    Brands = Model.Item2.Brands,
    IsConfig = Model.Item2.IsConfig,
    OnSale = Model.Item2.OnSale,
    Patterns = Model.Item2.Patterns,
    PID = Model.Item2.PID,
    Rims = Model.Item2.Rims,
    Rof = Model.Item2.Rof,
    TireSizes = Model.Item2.TireSizes,
    Winter = Model.Item2.Winter,
    pageSize = Model.Item1.Pager.PageSize,
    pageIndex = id }))
}

<script>
    $("[name=SelectAll]").change(function () {
        $("[name=selectSingle]").prop("checked", $(this).prop("checked"));
    })
</script>