@using Tuhu.Provisioning.DataAccess.Entity.Tire;
@using Tuhu.Provisioning;
@model Tuhu.Component.Common.Models.ListModel<InstallNowModel>
@{
    Layout = null;
    var selectModel = ViewBag.Select as InstallNowConditionModel;
}
@if (Model.Source.Any())
{
    <table class="table" data-count="@Model.Pager.TotalItem" width="100%">
        <tr>
            <th>
                <input type="checkbox" value="" name="selectAll" />全选
            </th>
            <th>省</th>
            <th>市</th>
            <th>规格</th>
            <th>PID</th>
            <th>启用状态</th>
            <th>操作</th>
            <th>操作历史</th>
        </tr>
        @foreach (var item in Model.Source)
        {

            <tr>
                <td><input type="checkbox" name="selectSingle" value="" data-pkid="@item.PKID" /></td>
                <td>@item.Province</td>
                <td>@item.City</td>
                <td>@item.TireSize</td>
                <td><a target="_blank" href="https://item.tuhu.cn/Products/@(item.PID.Replace("|","/")).html">@item.PID</a></td>
                <td>@(item.Status ? "启用" : "禁用")</td>
                <td>
                    <a href="javascripts:void(0);" onclick="TuhuTire.Logic.InstallNow.Delete('@item.PKID')">删除</a>
                </td>
                <td>
                    <a target="_blank" href="/Tire/ShowInstallNowOprLog?cityId=@item.CityId&pid=@item.PID&province=@item.Province&city=@item.City&tireSize=@item.TireSize">查看</a>
                </td>
            </tr>
        }

    </table>
    @Html.Pager(Model.Pager, true, id => Url.Action("InstallNowList", new
{
    CityIds = selectModel.CityIds,
    PID = selectModel.PID,
    Status = selectModel.Status,
    TireSize = selectModel.TireSize,
    pageSize = Model.Pager.PageSize,
    pageIndex = id
}))
}

<script>
    $("[name=selectAll]").change(function () {
        $("[name=selectSingle]").prop("checked", $(this).prop("checked"));
    })
</script>
