@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.PriceChangeLog>
@{
    ViewBag.Title = "价格变动日志";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Any())
{
    <table style="width:100%;margin-top:20px">
        <tr>
            <th>PID</th>
            <th>修改前价格</th>
            <th>修改后价格</th>
            <th>修改时间</th>
            <th>操作人</th>
            <th>修改渠道</th>
        </tr>
        @foreach (var opr in Model)
        {
            <tr>
                <td>@opr.PID</td>
                <td>@opr.OldPrice.ToString("0.00")</td>
                <td>@opr.NewPrice.ToString("0.00")</td>
                <td>@opr.ChangeDateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@opr.ChangeUser</td>
                <td>@opr.ChangeReason</td>
            </tr>
        }
    </table>
}
else
{
    <h1>无价格变动</h1>
}