@using Tuhu.Provisioning.DataAccess.Entity.Tire;
@model ActivityItem
@{
    Layout = null;
}
<form id="FrmTireActConfig" action="" method="post">
    @Html.HiddenFor(m => m.PKId, new { id = "PKId1", @name = "PKId" })
    @Html.HiddenFor(m => m.VehicleId, new { id = "VehicleId1", @name = "VehicleId" })
    @Html.HiddenFor(m => m.TireSize, new { id = "TireSize1", @name = "TireSize" })
    <table style="font-size:12px;width:100%;" border="0">
        <tr>
            <td style="width:100px;">活动Hash值：</td>
            <td>
                @Html.TextBoxFor(m => m.HashKey, new { id = "HashKey1", @name = "HashKey",  @style = "width:100%" })
            </td>
        </tr>
        <tr>
            <td>活动状态：</td>
            <td>
                @Html.DropDownListFor(m => m.Status,
                 new[]
                 {
                            new SelectListItem() {Value = "1", Text = "启用"},
                            new SelectListItem() {Value = "0", Text = "禁用"}
                 }, new
                 {
                     id = "Status1",
                     @style = "width:100%",
                     @name = "Status"
                 })
            </td>
        </tr>
    </table>
</form>
<script>
    function SaveTireChangedActConfig(target) {
        var PKId1 = $("#PKId1").val();
        var HashKey1 = $.trim($("#HashKey1").val());
        if (!HashKey1) {
            alert("Hash值不能为空！");
            return;
        }
        var re = new RegExp("^[0-9A-Za-z]{8}$");
        if (!re.test(HashKey1)) {
            alert("Hash值必须是8位大小写字母或数字！");
            return;
        }
        var Status1 = $("#Status1").val();
        var VehicleId1 = $("#VehicleId1").val();
        var TireSize1 = $("#TireSize1").val();
        $.ajax({
            url: "/Tire/AddOrUpdateTireAct",
            type: "POST",
            data: {
                PKId: PKId1,
                HashKey: HashKey1,
                Status: Status1,
                VehicleId: VehicleId1,
                TireSize: TireSize1
            },
            dataType: "json",
            async: false,
            success: function (data) {
                if (data == 1 || data == 3) {
                    if (data == 3)
                        alert('新建成功！');
                    else
                        alert('更新成功！');
                    $(target).dialog("close");
                    LoadList(GetPageIndex());
                }
                else {
                    if (data == -1)
                        alert('找不到与输入的Hash值相对应的活动，无法新建或更新！');
                    else if (data == 2)
                        alert('新建失败！');
                    else
                        alert('更新失败！');
                }
            },
            error: function () {
                alert('提交失败！');
            },
        })
    }
</script>
