@using Tuhu.Provisioning.DataAccess.Entity.Tire;
@using Tuhu.Provisioning;
@using Tuhu.Component.Common.Models;
@model ListModel<TireSpecParamsModel>
@{
    Layout = null;
    var query = ViewBag.query as TireSpecParamsConfigQuery;
}
<table id="TbTireSpecParamsModel" style="background: #ffffff; font-size: 12px; width: 100%; text-align: center" border="1" class="table">
    <tr>
        <th style="text-align: center" rowspan="2">PID</th>
        <th style="text-align: center" rowspan="2">名称</th>
        <th style="text-align: center" rowspan="2">质检名称</th>
        <th style="text-align: center" rowspan="2">规格</th>
        <th style="text-align: center" rowspan="2">产地</th>
        <th style="text-align: center" rowspan="2">轮辋保护</th>
        <th style="text-align: center" rowspan="2">载重</th>
        <th style="text-align: center" rowspan="2">M+S</th>
        <td style="text-align: center" colspan="3">3T指数</td>
        <td style="text-align: center" colspan="3">胎冠结构</td>
        <td style="text-align: center" colspan="1">胎侧结构</td>
        <td style="text-align: center" colspan="3">轮胎标签</td>
        <th style="text-align: center" rowspan="2">花纹对称</th>
        <th style="text-align: center" rowspan="2">导向</th>
        <th style="text-align: center" rowspan="2">工厂编码</th>
        <th style="text-align: center" rowspan="2">沟槽数量</th>
        <th style="text-align: center" rowspan="2">备注</th>
        <th style="text-align: center" rowspan="2">操作</th>
        <th style="text-align: center" rowspan="2">操作历史</th>
    </tr>
    <tr>
        <td style="text-align: center">
            Treadwear
            耐磨指数
        </td>
        <td style="text-align: center">
            Traction
            抓地指数
        </td>
        <td style="text-align: center">
            Temperature
            温度指数
        </td>
        <td style="text-align: center">聚酯层数</td>
        <td style="text-align: center">钢丝层数</td>
        <td style="text-align: center">尼龙层数</td>
        <td style="text-align: center">聚酯层数</td>
        <td style="text-align: center">滚动阻力</td>
        <td style="text-align: center">湿滑抓地性</td>
        <td style="text-align: center">噪音</td>
    </tr>
    @if (Model.Source.Any())
    {
        foreach (var item in Model.Source)
        {
            <tr>
                <td style="text-align: center">@((item.ProductID == null) ? "" : item.ProductID)</td>
                <td style="text-align: center">@((item.DisplayName == null) ? "" : item.DisplayName)</td>
                <td style="text-align: center">@((item.QualityInspectionName == null) ? "" : item.QualityInspectionName)</td>
                <td style="text-align: center">@((item.TireSize == null) ? "" : item.TireSize)</td>
                <td style="text-align: center">@((item.OriginPlace == null) ? "" : item.OriginPlace)</td>
                <td style="text-align: center">@((item.RimProtection == null) ? "" : (item.RimProtection == true) ? "是" : "否")</td>
                <td style="text-align: center">@((item.TireLoad == null) ? "" : item.TireLoad.ToString())</td>
                <td style="text-align: center">@((item.MuddyAndSnow == null) ? "" : (item.MuddyAndSnow == true) ? "是" : "否")</td>
                <td style="text-align: center">@((item.ThreeT_Treadwear == null) ? "" : item.ThreeT_Treadwear.ToString())</td>
                <td style="text-align: center">@((item.ThreeT_Traction == null) ? "" : item.ThreeT_Traction)</td>
                <td style="text-align: center">@((item.ThreeT_Temperature == null) ? "" : item.ThreeT_Temperature)</td>
                <td style="text-align: center">@((item.TireCrown_Polyester == null) ? "" : item.TireCrown_Polyester.ToString())</td>
                <td style="text-align: center">@((item.TireCrown_Steel == null) ? "" : item.TireCrown_Steel.ToString())</td>
                <td style="text-align: center">@((item.TireCrown_Nylon == null) ? "" : item.TireCrown_Nylon.ToString())</td>
                <td style="text-align: center">@((item.TireSideWall_Polyester == null) ? "" : item.TireSideWall_Polyester.ToString())</td>
                <td style="text-align: center">@((item.TireLable_RollResistance == null) ? "" : item.TireLable_RollResistance)</td>
                <td style="text-align: center">@((item.TireLable_WetGrip == null) ? "" : item.TireLable_WetGrip)</td>
                <td style="text-align: center">@((item.TireLable_Noise == null) ? "" : item.TireLable_Noise)</td>
                <td style="text-align: center">@((item.PatternSymmetry == null) ? "" : item.PatternSymmetry)</td>
                <td style="text-align: center">@((item.TireGuideRotation == null) ? "" : item.TireGuideRotation)</td>
                <td style="text-align: center">@((item.FactoryCode == null) ? "" : item.FactoryCode)</td>
                <td style="text-align: center">@((item.GrooveNum == null) ? "" : item.GrooveNum.ToString())</td>
                <td style="text-align: center">@((item.Remark == null) ? "" : item.Remark)</td>
                <td><button class="btn btn-primary btn-small" onclick="TireSpecParamsConfigEdit('@item.ProductID')">编辑</button></td>
                <td><button class="btn btn-primary btn-small" onclick="TireSpecParamsEditHistory('@item.ProductID')">查看</button></td>
            </tr>
        }
    }
</table>

@Html.Pager(Model.Pager, true, id => Url.Action("TireSpecParamsConfigList", new
{
    PIDCriterion = query.PIDCriterion,
    DisplayNameCriterion = query.DisplayNameCriterion,
    PageIndex = id,
    PageDataQuantity = query.PageDataQuantity
}))

<script>
    $(document).ready(function () {
        $("#DataCountInfo").text("共 @query.TotalCount 条数据");
    });
    function GetPageIndex() {
        return @query.PageIndex;
    }
</script>