@model List<Tuhu.Provisioning.DataAccess.Entity.BaoYangPackage>
@{
    Layout = "";
    var BaoYangActivityId = (int)ViewData["BaoYangActivityId"];
    var ActivityNum = ViewData["ActivityNum"];
}
<style>
    body {
        font-family: "Microsoft Yahei";
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }
</style>

<div class="servicetype">
    <fieldset>
        @foreach (var item in Model)
        { <input type="checkbox" key="@item.Type" item="@item.Items" catalog="@item.Catalog" name="@item.Name" />
        <label>@item.Name</label>

        }
    </fieldset>
    <input type="button" onclick="ServiceTypeChecked()" class="btn" value="选择" />
</div>
<script>
    $('input[type=checkbox]').click(function () {
        $(this).attr('checked', 'checked').siblings().removeAttr('checked');
    });

    function ServiceTypeChecked() {
        var type = "";
        var items = "";
        var name = "";
        $(".servicetype :checkbox").each(function (i) {
            if ($(this).attr("checked")) {
                if ($(this).attr("key")) {
                    type = $(this).attr("key");
                    items = $(this).attr("item");
                    name = $(this).attr("name");
                    catalog = $(this).attr("Catalog");
                }
            }
        });

        $("#AddServiceType").dialog('close');
        window.location.href = "/BaoYangActivitySetting/AddItem?type=" + type + "&items=" + items + "&name=" + name + "&catalog=" + catalog + "&id=@BaoYangActivityId" + "&ActivityNum=@ActivityNum";
    }
</script>