@model Tuhu.Provisioning.DataAccess.Entity.GuideViewModel
@{
    ViewBag.Title = "修改指导价参数";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var urlPara = Request["type"];
}
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<style>
    .list a {
        margin-right: 20px;
        font-size: 18px;
    }

        .list a.selected {
            color: red;
        }

    table {
        width: 588px;
    }

    .hidden {
        display: none;
    }
</style>
<div style="clear:both;"></div>
<h2 class="list">
    <a class="@(urlPara=="Base"?"selected":"")" href="/Tire/PriceGuidePara?type=Base">基础毛利率</a>
    <a class="@(urlPara=="TireSize"?"selected":"")" href="/Tire/PriceGuidePara?type=TireSize">规格加权</a>
    <a class="@(urlPara=="Rim"?"selected":"")" href="/Tire/PriceGuidePara?type=Rim">尺寸加权</a>
    <a class="@(urlPara=="Rof"?"selected":"")" href="/Tire/PriceGuidePara?type=Rof">防爆加权</a>
    <a class="@(urlPara=="SalesQuantity"?"selected":"")" href="/Tire/PriceGuidePara?type=SalesQuantity">销量加权</a>
    <a class="@(urlPara=="Brand"?"selected":"")" href="/Tire/PriceGuidePara?type=Brand">品牌加权</a>
    <a class="@(urlPara=="Pattern"?"selected":"")" href="/Tire/PriceGuidePara?type=Pattern">花纹加权</a>
    <a class="@(urlPara=="warn"?"selected":"")" href="/Tire/PriceGuidePara?type=warn">预警线</a>
</h2>
@if (Model.Para != null && Model.Para.Any())
{
    var type = Model.Para.FirstOrDefault().Type;
    var typeValue = "";
    switch (type)
    {
        case "Base": typeValue = "基础毛利率"; break;
        case "TireSize": typeValue = "规格"; break;
        case "Rim": typeValue = "尺寸"; break;
        case "Rof": typeValue = "是否防爆"; break;
        case "Brand": typeValue = "品牌"; break;
        case "SalesQuantity": typeValue = "销量档位"; break;
        case "Pattern": typeValue = "花纹"; break;

    }
    <table>
        <tr>
            <th>@typeValue</th>
            <th>加权值</th>
            <th>操作历史</th>
            <th>操作</th>
        </tr>
        @foreach (var item in Model.Para)
        {
        <tr>
            <td>@item.Item</td>
            <td class="value"><span>@(item.Value ?? 0)</span><input type="text" name="name" value="@item.Value" class="hidden" /></td>
            <td><a target="_blank" href="/Tire/GuideParaLog?key=@(item.Type+"|"+item.Item)">查看</a></td>
            <td class="opr"><a class="update" href="javascript:void(0)" onclick="UpdateGuidePara(this)">修改</a><a href="javascript:void(0)" onclick="SaveGuidePara(this)" data-pkid="@(item.PKID??0)" class="save hidden">保存</a></td>
        </tr>
        }

    </table>
    if (type == "SalesQuantity")
    {
        <ul style="list-style-type:none;margin-top:20px;">
            <li>销量档位说明：</li>
            <li>一、有10%以上的：10%+、10%-5%、5%-2%、2%-1%、1%以下五档；</li>
            <li>二、没10%以上的：5%+、5%-3%、3%-2%、2%-1%、1%以下五档。</li>
            <li>三、销量最多是1档,销量最少是5档</li>
        </ul>
    }
}
else if (Model.Warn != null && Model.Warn.Any())
{
    <table>
        <tr>
            <th>实际指导价</th>
            <th>下限</th>
            <th>上限</th>
            <th>操作历史</th>
            <th>操作</th>
        </tr>
        @foreach (var item in Model.Warn)
        {
            <tr>
                <td>@(string.Concat(item.MinGuidePrice.ToString("0.00"), "-", item.MaxGuidePrice.ToString("0.00")))</td>
                <td class="lower"><span>@item.LowerLimit.ToString("0.00")</span><input type="text" name="name" value="@item.LowerLimit.ToString("0.00")" class="hidden" /></td>
                <td class="upper"><span>@item.UpperLimit.ToString("0.00")</span><input type="text" name="name" value="@item.UpperLimit.ToString("0.00")" class="hidden" /></td>
                <td><a target="_blank" href="/Tire/GuideWarnLog?pkid=@(item.PKID)&min=@item.MinGuidePrice&max=@item.MaxGuidePrice">查看</a></td>
                <td class="opr"><a class="update" href="javascript:void(0)" onclick="UpdateWarnLine(this)">修改</a><a href="javascript:void(0)" onclick="SaveWarnLine(this)" data-pkid="@item.PKID" class="save hidden">保存</a></td>
            </tr>
        }

    </table>
}
else
{
    <h2>无数据</h2>
}
@section scripts{
    <script src="~/Content/sweetalert/sweetalert.js"></script>
    <script>
        var UpdateGuidePara = function (target) {
            var $target = $(target),
             $tr = $target.parent().parent(),
             $value = $tr.find(".value"),
             $opr = $tr.find(".opr");

            $value.find("span").hide();
            $value.find("input").show();
            $opr.find(".update").hide();
            $opr.find(".save").show();
        };
        var UpdateWarnLine = function (target) {
            var $target = $(target),
             $tr = $target.parent().parent(),
             $lower = $tr.find(".lower"),
             $upper = $tr.find(".upper"),
             $opr = $tr.find(".opr");

            $lower.find("span").hide();
            $lower.find("input").show();
            $upper.find("span").hide();
            $upper.find("input").show();
            $opr.find(".update").hide();
            $opr.find(".save").show();
        };
        var SaveWarnLine = function (target) {
            var $target = $(target),
                $lowerInput = $target.parent().parent().find(".lower>input"),
                lowerValue = $lowerInput.val().trim(),
                $upperInput = $target.parent().parent().find(".upper>input"),
                upperValue = $upperInput.val().trim();

            if (isNaN(lowerValue) || isNaN(upperValue))
                swal("错误", "上限或下限格式有误!", "error");
            else {
                lowerValue = parseFloat(lowerValue);
                upperValue = parseFloat(upperValue);
                var pkid = $target.data("pkid");

                $.post("/Tire/SaveWarningLine",
                    {
                        PKID: pkid,
                        LowerLimit: lowerValue,
                        UpperLimit: upperValue
                    }, function (result) {
                        if (result > 0) {
                            swal({
                                title: "保存成功！"
                            },
                            function () {
                                window.location.reload();
                            });
                        }
                        else if (result == -1)
                            swal("上限或下限有误！");
                            else
                            swal("保存失败！");
                    });
            }
        };
        var SaveGuidePara = function (target) {
            var $target = $(target),
                $input = $target.parent().parent().find(".value>input"),
                value = $input.val().trim();
            value = value.length ? value : 0;

            if (isNaN(value))
                swal("错误", "加权值格式有误!", "error");
            else {
                value = parseFloat(value);
                var pkid = $target.data("pkid"),
                    item = $target.parent().parent().find("td:first").text(),
                    urlPara = "@(Model.Para==null?"":Model.Para.FirstOrDefault().Type)";
                if (urlPara.length) {
                    $.post("/Tire/SaveGuidePara",
                        {
                            PKID: pkid,
                            Type: urlPara,
                            Item: item,
                            Value: value
                        }, function (result) {
                            if (result > 0) {
                                swal({
                                    title: "保存成功！"
                                },
                                function () {
                                    window.location.reload();
                                });
                            }
                            else
                                swal("保存失败！");
                        });
                }
                else
                    swal("错误", "参数错误,不允许保存", "error");
            }
        };
    </script>
}
