@model Tuhu.Provisioning.DataAccess.Entity.PersonalCenterConfig
@{
    Layout = null;
    List<Tuhu.Provisioning.DataAccess.Entity.VIPAuthorizationRuleConfig> rulelist = ViewBag.RuleList;
}

<style>
    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    a {
        color: cornflowerblue;
    }

    select {
        width: 165px;
    }
</style>
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>

@using (Html.BeginForm(new { @enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.Id)
    <div>
        <table>
            <tr>
                <td>位置</td>
                <td>
                    <select name="Location" id="Location">
                        <option value="1">签到</option>
                        <option value="2">个人中心</option>
                        <option value="3">会员中心</option>
                        <option value="4">订单成功页</option>
                        <option value="5">违章查询无结果页</option>
                        <option value="6">会员商城</option>
                        <option value="7">个人中心浮层</option>
                        <option value="8">会员商城浮层</option>
                        <option value="9">第三方参数</option>
                        <option value="10">个人中心中间Banner</option>
                        <option value="11">下单成功页分享</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>等级</td>
                <td>

                    <select id="Grade" name="Grade">
                        <option value="0">LV0</option>
                        <option value="1">LV1</option>
                        <option value="2">LV2</option>
                        <option value="3">LV3</option>
                        <option value="4">LV4</option>
                    </select>

                </td>
            </tr>
            <tr>
                <td>VIP权限规则</td>
                <td>
                    <select id="VIPAuthorizationRuleId" name="VIPAuthorizationRuleId">
                        <option value="0">--请选择--</option>
                        @foreach (var item in rulelist)
                        {
                            <option value="@item.Id">@item.RuleName</option>
                        }

                    </select>
                </td>
            </tr>
            <tr>
                <td>跳转类型</td>
                <td>

                    <select id="UrlType" name="Urltype">
                        <option value="0">Url</option>
                        <option value="1">分享面板</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>顺序</td>
                <td><input type="number" value="@Model.Sort" name="Sort" /></td>
            </tr>

            <tr>
                <td>状态</td>
                <td>
                    @Html.RadioButtonFor(m => m.Status, true) 启用
                    @Html.RadioButtonFor(m => m.Status, false) 禁用
                </td>
            </tr>
            <tr>
                <td>图片</td>
                <td>
                    <img height="40" class="vwPicture" src="@Model.Image" />
                    <input type="hidden" name="Image" class="image" value="@Model.Image" />
                    <form method="post" action="" enctype="multipart/form-data">
                        <input style="width:150px;" type="file" onchange="UploadImg(this)" id="2" name="2" />
                    </form>
                </td>
            </tr>
            <tr>
                <td>URl</td>
                <td><input type="text" value="@Model.Link" name="Link" /></td>
            </tr>
            <tr>
                <td>iOS 处理值</td>
                <td><input type="text" value="@Model.IOSProcessValue" name="IOSProcessValue" /></td>
            </tr>
            <tr>
                <td>iOS 特殊通讯值</td>
                <td><input type="text" value="@Model.IOSCommunicationValue" name="IOSCommunicationValue" /></td>
            </tr>
            <tr>
                <td>Android 处理值</td>
                <td><input type="text" value="@Model.AndroidProcessValue" name="AndroidProcessValue" /></td>
            </tr>
            <tr>
                <td>Android 特殊通讯值</td>
                <td><input type="text" name="AndroidCommunicationValue" value="@Model.AndroidCommunicationValue"/></td>
            </tr>
            <tr>
                <td>Route跳转</td>
                <td>
                    <textarea name="Route" style="width:250px;">@Model.Route</textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="保存" class="btn" /></td>
            </tr>
        </table>
    </div>
}
<script>
    $(function () {
        $("#Location").val(@Model.Location);
        $("#Grade").val(@Model.Grade);
        $("#VIPAuthorizationRuleId").val(@Model.VIPAuthorizationRuleId);
        $("#UrlType").val(@Model.UrlType);
    })
    function UploadImg(e) {
        var $e = $(e);
        var $ee = $e.parents("tr").find("td").eq(1).find("img");
        var $smallImage = $e.parents("tr").find("td").eq(1).find("input[class='smallImage']");
        var $image = $e.parents("tr").find("td").eq(1).find("input[class='image']");
        $.ajaxFileUpload({
            url: '/Article/AddArticleImg2',
            secureuri: false,
            fileElementId: $e.attr("id"),
            dataType: 'json',
            data: {},
            type: "post",
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $ee.attr("src", result.SImage);
                    $(".vwPicture").show();
                    $smallImage.val(result.SImage);
                    $image.val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            }
        })
    }
</script>