@{
    ViewBag.Title = "轮胎活动";
    Layout = "~/Views/Shared/_Layout_TiresActivity.cshtml";
}
@model Tuhu.Provisioning.DataAccess.Entity.TiresActivity.TiresActivityModel
<style>
    .table { text-align: center; }
        .table tr > th { text-align: center; }
</style>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <ul id="specialTabs" class="nav nav-tabs">
            <li class="active">
                <a href="#specialTab" data-toggle="tab">
                    全局配置
                </a>
            </li>
        </ul>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row" style="margin-top:20px;">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>活动名称：</td>
                                    <td>
                                        <input type="text" name="ActivityName" id="activity-ActivityName" placeholder="活动名称" value="@Model.ActivityName" style="width:260px;" />
                                    </td>
                                    <td>开始时间:</td>
                                    <td>
                                        <input type="text" id="activity-StartDate" name="activity-StartDate" value="@(Model.StartTime!=null?Model.StartTime.Value.ToString("yyyy-MM-dd HH:mm:ss"):DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))" placeholder="开始时间" style="width:200px" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd HH:mm:ss'})" />
                                    </td>
                                    <td>
                                        结束时间：
                                    </td>
                                    <td>
                                        <input type="text" id="activity-EndDate" name="activity-EndDate" value="@(Model.EndTime!=null?Model.EndTime.Value.ToString("yyyy-MM-dd HH:mm:ss"):DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))" placeholder="结束时间" style="width:200px" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd HH:mm:ss'})" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>车型适配：</td>
                                    <td>
                                        @if (Model.IsAdaptationVehicle)
                                        {
                                            <input type="radio" id="activity-AdaptationVehicle" checked="checked" name="IsAdaptationVehicle" /><span>开启</span>
                                            <input type="radio" id="activity-NoAdaptationVehicle" name="IsAdaptationVehicle" /><span>关闭</span>
                                        }
                                        else
                                        {
                                            <input type="radio" id="activity-AdaptationVehicle" name="IsAdaptationVehicle" /><span>开启</span>
                                            <input type="radio" id="activity-NoAdaptationVehicle" checked="checked" name="IsAdaptationVehicle" /><span>关闭</span>
                                        }
                                    </td>
                                    <td>背景颜色：</td>
                                    <td>
                                        <input type="text" id="activity-BackgroundColor" placeholder="背景颜色" value="@Model.BackgroundColor" style="width:260px;" />
                                    </td>
                                    <td>负责人：</td>
                                    <td>
                                        <input type="text" id="activity-Owner" placeholder="tuhu@tuhu.cn" value="@Model.Owner" style="width:260px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>是否显示分期价格：</td>
                                    <td>
                                        @if (Model.IsShowInstallmentPrice)
                                        {
                                            <input type="radio" id="activity-ShowInstallmentPrice" checked="checked" name="IsShowInstallmentPrice" /><span>显示</span>
                                            <input type="radio" id="activity-NoShowInstallmentPrice" name="IsShowInstallmentPrice" /><span>不显示</span>
                                        }
                                        else
                                        {
                                            <input type="radio" id="activity-ShowInstallmentPrice" name="IsShowInstallmentPrice" /><span>显示</span>
                                            <input type="radio" id="activity-NoShowInstallmentPrice" checked="checked" name="IsShowInstallmentPrice" /><span>不显示</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>顶部Banner</td>
                                    <td>
                                        <input style="width:160px;" type="file" id="HeadImg" name="tireImg" onchange="uploadPic('HeadImg', HandlerPicResult);" />
                                        <input id="_TireHeadImg" disabled="disabled" name="ColumnImage" type="text" style="width:100%;margin-top:10px" value="@(!string.IsNullOrEmpty(Model.HeadImg)? Model.HeadImg:"")" />
                                    </td>
                                    <td colspan="2">
                                        @if (!string.IsNullOrEmpty(Model.HeadImg))
                                        {
                                            <img src="@Model.HeadImg" id="tireHeadImg" width="75" height="75" />
                                        }
                                        else
                                        {
                                            <img src="" id="tireHeadImg" width="75" height="75" style="display:none" />
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>无商品提示</td>
                                    <td>
                                        <input style="width:160px;" type="file" id="NoAdatationImg" name="tireImg" onchange="uploadPic('NoAdatationImg', HandlerPicResult);" />
                                        <input id="_TireNoAdatationImg" disabled="disabled" name="ColumnImage" style="width:100%;margin-top:10px" type="text" value="@(!string.IsNullOrEmpty(Model.NoAdaptationImg)? Model.NoAdaptationImg:"")" />
                                    </td>
                                    <td colspan="2">
                                        @if (!string.IsNullOrEmpty(Model.NoAdaptationImg))
                                        {
                                            <img src="@Model.NoAdaptationImg" id="tireNoAdatationImg" width="75" height="75" />
                                        }
                                        else
                                        {
                                            <img src="" id="tireNoAdatationImg" width="75" height="75" style="display:none" />
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>活动规则图片</td>
                                    <td>
                                        <input style="width:160px;" type="file" id="ActivityRulesImg" name="tireImg" onchange="uploadPic('ActivityRulesImg', HandlerPicResult);" />
                                        <input id="_TireActivityRulesImg" disabled="disabled" name="ColumnImage" style="width:100%;margin-top:10px" type="text" value="@(!string.IsNullOrEmpty(Model.ActivityRulesImg)? Model.ActivityRulesImg:"")" />
                                    </td>
                                    <td colspan="2">
                                        @if (!string.IsNullOrEmpty(Model.ActivityRulesImg))
                                        {
                                            <img src="@Model.ActivityRulesImg" id="tireActivityRulesImg" width="75" height="75" />
                                        }
                                        else
                                        {
                                            <img src="" id="tireActivityRulesImg" width="75" height="75" style="display:none" />
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>活动规则：</td>
                                    <td colspan="5">
                                        <textarea style="float:left" rows="10" cols="130" id="activity-activityrules">@Model.ActivityRules</textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <ul id="specialTabs" class="nav nav-tabs">
            <li class="active">
                <a href="#specialTab" data-toggle="tab">
                    分享参数
                </a>
            </li>
        </ul>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row" style="margin-top:20px;">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>微信URL：</td>
                                    <td>
                                        <input type="text" id="activity-H5URL"  value="@Model.WXUrl" style="width:260px;" />
                                    </td>
                                    <td>APPURL:</td>
                                    <td>
                                        <input type="text" id="activity-APPURL" value="@Model.AppUrl" style="width:260px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        分享标题：
                                    </td>
                                    <td>
                                        <input type="text" id="activity-ShareTitle" value="@Model.ShareTitle" style="width:260px;" />
                                    </td>
                                    <td>
                                        分享描述：
                                    </td>
                                    <td>
                                        <input type="text" id="activity-ShreDes" value="@Model.ShareDes" style="width:260px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>分享图：</td>
                                    <td>
                                        <input style="width:160px;" type="file" id="ShareImg" name="tireImg" onchange="uploadPic('ShareImg', HandlerPicResult);" />
                                        <input id="_TireShareImg" disabled="disabled" name="ColumnImage" style="width:100%;margin-top:10px" type="text" value="@(!string.IsNullOrEmpty(Model.ShareImg)? Model.ShareImg:"")" />
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(Model.ShareImg))
                                        {
                                            <img src="@Model.ShareImg" id="tireShareImg" width="75" height="75" />
                                        }
                                        else
                                        {
                                            <img src="" id="tireShareImg" width="75" height="75" style="display:none" />
                                        }
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"  style="display:@(Model.ActivityId==Guid.Empty?"none":"")">
    <ul id="specialTabs" class="nav nav-tabs">
        <li class="active">
            <a href="#specialTab" data-toggle="tab">
                楼层配置
            </a>
        </li>
    </ul>
        <div class="col-lg-12" style="text-align:center">
            <div class="ibox">
                <div class="ibox-content">
                    <input type="button" style="float:left;margin-bottom:10px" value="添加楼层活动" class="btn btn-primary btn-medium add-floorActivity" />
                    <table class="table table-bordered">
                        <thead style="font-size:smaller">
                            <tr>
                                <th>活动名称</th>
                                <th>楼层ID</th>
                                <th>抢购活动ID</th>
                                <th>开始日期</th>
                                <th>结束日期</th>
                                <th>创建日期</th>
                                <th>更新日期</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.TiresFloorList != null && Model.TiresFloorList.Any())
                            {
                                foreach (var item in Model.TiresFloorList)
                                {
                                    <tr>
                                        <td>@item.ActivityName</td>
                                        <td>@item.FloorActivityId</td>
                                        <td>@item.FlashSaleId</td>
                                        <td>@item.StartTime</td>
                                        <td>@item.EndTime</td>
                                        <td>@item.CreateDateTime</td>
                                        <td>@item.LastUpdateDateTime</td>
                                        <td><a onclick="EditActivity(this,'@item.FloorActivityId')">编辑</a>/<a onclick="DeleteActivity('@item.FloorActivityId')">删除</a></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="8">无数据</td></tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-center">
                        <div class="btn-group" id="tcdPageCode">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="text-align:center">
        <div class="col-lg-12" style="text-align:center">
            <div class="ibox">
                <div class="ibox-content">
                    <input type="button" class="btn btn-primary btn-medium" id="btnSave" value="保 存" />
                    <input type="button" class="btn btn-danger btn-medium" id="btnCancel" value="取 消" />
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@ViewBag.ActivityId" class="activity-ActivityId" />
<input type="hidden" value="@ViewBag.FloorActivityId" class="activity-FloorActivityId" />
@section scripts{
    <script type="text/javascript">
        function uploadPic(_fileElementId, _callback) {
            $.ajaxFileUpload({
                url: '/ArticleManage/ImageUploadToAli',
                secureuri: false,
                fileElementId: _fileElementId || '',
                dataType: 'json',
                async: false,
                success: function (result) {
                    _callback(result, _fileElementId);
                }
            });
        }

        function HandlerPicResult(result, elementId) {
            $("#tire" + elementId).attr("src", result.BImage);
            $("#tire" + elementId).show();
            $("#_Tire" + elementId).val(result.BImage);
        }

        $("#btnSave").on("click", function () {
            var data = {};
            data.ActivityId = $(".activity-ActivityId").val();
            data.ActivityName = $("#activity-ActivityName").val();
            data.StartTime = $("#activity-StartDate").val();
            data.EndTime = $("#activity-EndDate").val();
            data.IsAdaptationVehicle = $("#activity-AdaptationVehicle").prop("checked");
            data.IsShowInstallmentPrice = $("#activity-ShowInstallmentPrice").prop("checked");
            data.BackgroundColor = $("#activity-BackgroundColor").val();
            data.Owner = $("#activity-Owner").val();
            data.HeadImg = $("#_TireHeadImg").val();
            data.NoAdaptationImg = $("#_TireNoAdatationImg").val();
            data.ActivityRulesImg = $("#_TireActivityRulesImg").val();
            data.ActivityRules = encodeURI($("#activity-activityrules").val());
            data.WXUrl = $("#activity-H5URL").val();
            data.AppUrl = $("#activity-APPURL").val();
            data.ShareImg = $("#_TireShareImg").val();
            data.ShareTitle = $("#activity-ShareTitle").val();
            data.ShareDes = $("#activity-ShreDes").val();

            if (data.ActivityName == "" || data.StartDate == "" || data.EndDate == "" || data.BackgroundColor == "" || data.Owner == "" || data.HeadImg == "" || data.NoAdaptationImg == "") {
                alert("请完善全局配置选项卡");
                return false;
            }

            if (!/\w*tuhu.cn$/.test(data.Owner) && !/\w*tuhu.work$/.test(data.Owner)) {
                alert("请检查输入负责人的格式");
                return false;
            }

            if (confirm("是否确认操作？")) {
                $.post("UpserTiresActivity", { model: JSON.stringify(data) }, function (result) {
                    if (result) {
                        alert("操作成功");
                        if (data.ActivityId == "00000000-0000-0000-0000-000000000000") {
                            location.href = "/TiresActivity/TiresActivity";
                        } else {
                            location.reload();
                        }
                    } else {
                        alert("操作失败");
                    }
                });
            }
        });

        function DeleteActivity(floorId)
        {
            if (confirm("是否确认操作？")) {
                $.post("DeleteTiresFloorActivity", { activityId: $(".activity-ActivityId").val(), floorId: floorId }, function (result) {
                    if (result) {
                        alert("操作成功");
                        location.reload();
                    } else {
                        alert("操作失败");
                    }
                });
            }
        }

        function EditActivity(o, floorActivityId) {
            location.href = "/TiresActivity/TiresFloorInfo?parentId=@ViewBag.ActivityId&floorId=" + floorActivityId;
        }

        $("#btnCancel").on("click", function () {
            location.href = "/TiresActivity/TiresActivity";
        });

        $(".add-floorActivity").on("click", function () {
            location.href = "/TiresActivity/TiresFloorInfo?parentId=@ViewBag.ActivityId";
        });

    </script>

}
