@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.ConfigHistory>
@{
    ViewBag.Title = "保养预警线操作日志";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/Public/Public.css" rel="stylesheet" />
@if (Model != null && Model.Any())
{

    <table style="width:100%;margin-top:20px">
        <tr>
            <th>实际指导价</th>
            <th>下限</th>
            <th>上限</th>
            <th>操作人</th>
            <th>操作时间</th>
        </tr>
        @foreach (var opr in Model)
        {
            <tr>
                <td>@(ViewBag.guidePrice)</td>
                <td>@opr.BeforeValue.Split('|')[0]</td>
                <td>@opr.BeforeValue.Split('|')[1]</td>
                <td>@opr.Author</td>
                <td>@opr.ChangeDatetime.ToString("yyyy-MM-dd HH:mm:ss")</td>
            </tr>
        }
    </table>
}
else
{
    <h1>无操作</h1>
}

