@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.ConfigHistory>
<link href="/Content/Public/Public.css" rel="stylesheet" />
@{
    ViewBag.Title = "保养价格指导参数日志";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null && Model.Any())
{
    if (ViewBag.Type.Equals("Base"))
    {
        <table style="width:100%;margin-top:20px">
            <tr>
                <th>类型</th>
                <th>加权项</th>
                <th>加权值修改前</th>
                <th>加权值修改后</th>
                <th>操作人</th>
                <th>操作时间</th>
            </tr>
            @foreach (var opr in Model)
            {
                <tr>
                    <td>基础毛利率</td>
                    <td>Base</td>
                    <td>@opr.BeforeValue</td>
                    <td>@opr.AfterValue</td>
                    <td>@opr.Author</td>
                    <td>@opr.ChangeDatetime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                </tr>
            }
        </table>
    }
    if (ViewBag.Type.Equals("Category"))
    {
        <table style="width:100%;margin-top:20px">
            <tr>
                <th>二级类目</th>
                <th>三级类目</th>
                <th>类目加权值修改前</th>
                <th>类目加权值修改后</th>
                <th>操作人</th>
                <th>操作时间</th>
            </tr>
            @foreach (var opr in Model)
            {
                <tr>
                    <td>@ViewBag.SecondType</td>
                    <td>@ViewBag.ThirdType</td>
                    <td>@opr.BeforeValue</td>
                    <td>@opr.AfterValue</td>
                    <td>@opr.Author</td>
                    <td>@opr.ChangeDatetime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                </tr>
            }
        </table>
    }
    if (ViewBag.Type.Equals("Brand"))
    {
        <table style="width:100%;margin-top:20px">
            <tr>
                <th>二级类目</th>
                <th>三级类目</th>
                <th>品牌</th>
                <th>品牌修改前</th>
                <th>品牌修改后</th>
                <th>操作人</th>
                <th>操作时间</th>
            </tr>
            @foreach (var opr in Model)
            {
                <tr>
                    <td>@ViewBag.SecondType</td>
                    <td>@ViewBag.ThirdType</td>
                    <td>@opr.Operation.Split('|')[2]</td>
                    <td>@opr.BeforeValue</td>
                    <td>@opr.AfterValue</td>
                    <td>@opr.Author</td>
                    <td>@opr.ChangeDatetime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                </tr>
            }
        </table>
    }
}
else
{
    <h1>无操作</h1>
}

