@model Tuhu.Models.PagedModel<Tuhu.Service.Comment.Models.AdditionProductComment>
@using Tuhu.Provisioning.Controls
@using MVCControlsToolkit.Core
@using MVCControlsToolkit.Controls
@using Tuhu.Provisioning.Models
@using System.Linq.Expressions
@using MVCControlsToolkit.Controls.Bindings
@using ThBiz.Common.Configurations
@{
    ViewBag.Title = "产品追评审核列表";
}
<script src="~/Scripts/kkpager/kkpager.min.js"></script>
<link href="~/Scripts/kkpager/kkpager_blue.css" rel="stylesheet" />
<h2><a href="CommentList?t=1">产品评论审核列表</a>&nbsp;&nbsp;<label style=color:red;>产品追评审核列表</label>&nbsp;&nbsp;<a href="CommentList?t=2">晒单列表</a>&nbsp;&nbsp;<a href="CommentList?t=3">试用报告</a></h2>
<form id="searchArguments">
    @Html.DropDownList("AdditionCommentStatusFilter",
            new SelectListItem[]
            {
                new SelectListItem() {Selected = ViewBag.Status == 0, Value = "0", Text = "全部"},
                new SelectListItem() {Selected = ViewBag.Status == 1, Value = "1", Text = "未审核"},
                new SelectListItem() {Selected = ViewBag.Status == 2, Value = "2", Text = "审核通过",},
                new SelectListItem() {Selected = ViewBag.Status == 3, Value = "3", Text = "审核不通过"}
            },
            new
            {
                id = "AdditionCommentStatus_Filter",
                @class = "valid"
            })&nbsp;&nbsp;
    @Html.DropDownList("SearchCriteriumFilter",
            new SelectListItem[]
            {
                new SelectListItem() {Selected = ViewBag.SearchCriterium == 3, Value = "3", Text = "按订单ID查找"},
                new SelectListItem() {Selected = ViewBag.SearchCriterium == 2, Value = "2", Text = "按追评ID查找"},
                new SelectListItem() {Selected = ViewBag.SearchCriterium == 1, Value = "1", Text = "按原评论ID查找"}

            },
            new
            {
                id = "SearchCriterium_Filter",
                @class = "valid"
            })&nbsp;&nbsp;


    <input type="text" style="width: 14%" id="comment_COrAcId" name="COrAcId" placeholder="输入追评ID/原评论ID/订单ID" value="@ViewBag.COrAcId" />&nbsp;&nbsp;
    
    <!--自动审核筛选-->

    <span>自动审核状态：</span>
    @Html.DropDownList("AutoApprove",
        new SelectListItem[]{
                    new SelectListItem() { Selected = ViewBag.AutoApprove == 0, Value = "0", Text = "全部" },
                    new SelectListItem() { Selected = ViewBag.AutoApprove == 1, Value = "1", Text = "自动审核通过" },
                    new SelectListItem() { Selected = ViewBag.AutoApprove == 2, Value = "2", Text = "自动审核不通过" },
                    new SelectListItem() { Selected = ViewBag.AutoApprove == 3, Value = "3", Text = "未审核" },
                    new SelectListItem() { Selected = ViewBag.AutoApprove == -1, Value = "-1", Text = "审核中" },
        },
        new
        {
            id = "AutoApprove",
            @class = "valid"
        })&nbsp;&nbsp;&nbsp;&nbsp;

    <!--END-->

    <input type="button" value="搜索" onclick="pageManage.Search()" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    共<span>@(Model.Pager == null ? 0 : Model.Pager.Total)</span>条记录
</form>
<div id="DivAdditonCommentList">
    <table style="text-align: center; width: 100%;">
        <tr>
            <th style="width: 5%;text-align: center;">追评ID</th>
            <th style="width: 20%;text-align: center;">追评内容</th>
            <th style="width: 10%;text-align: center;">追评图片</th>
            <th style="width: 10%;text-align: center;">追评时间</th>
            <th style="width: 15%;text-align: center;">查看原评价</th>
            <th style="width: 10%;text-align: center;">自动审核状态</th>
            <th style="width: 9%;text-align: center;">审核操作</th>
            <th style="width: 9%;text-align: center;">审核状态</th>
            <th style="width: 12%;text-align: center;">操作历史</th>
        </tr>
        @if (Model.Source != null && Model.Source.Any())
        {
            foreach (var additionalComment in Model.Source)
            {
                <tr>
                    <td style="width: 5%;" id="acid">@additionalComment.AdditionCommentId</td>
                    <td style="width: 20%;">@additionalComment.AdditionCommentContent</td>
                    <td style="width: 10%;">
                        @if (!string.IsNullOrWhiteSpace(additionalComment.AdditionCommentImages))
                        {
                            foreach (var image in additionalComment.AdditionCommentImages.Split(';'))
                            {
                                <a href="@image" target="_blank"><img src="@image" width="40" height="40"></a>;
                            }
                        }
                    </td>
                    <td style="width: 10%;">@additionalComment.CreateTime</td>
                    <td style="width: 15%;"><a href="@(YewuDomainConfig.ProvisioningSite)/Comment/CommentDetails?CommentId=@(additionalComment.CommentId)" target="_blank">@(YewuDomainConfig.ProvisioningSite)/Comment/CommentDetails?CommentId=@(additionalComment.CommentId)</a></td>
                    <td style="width: 10%">
                        @if (additionalComment.AutoApproveStatus == 1)
                        {
                            <div>自动审核通过</div>
                        }
                        else if (additionalComment.AutoApproveStatus == 0)
                        {
                            <div>未审核</div>
                        }
                        else if (additionalComment.AutoApproveStatus == 2)
                        {
                            <div style="color: Red;">自动审核不通过</div>
                        }
                        else if (additionalComment.AutoApproveStatus == -1)
                        {
                            <div>自动审核中</div>
                        }
                    </td>
                    <td style="width: 9%;">
                        @if (additionalComment.AdditionCommentStatus == 2)
                        {
                            <div>
                                <input type="button" style="display:inline-block" value="审核不通过" onclick="SetCommentStatus(this,2,1)" data-value="@additionalComment.CommentId" />
                                <input type="button" disabled="disabled" style="display:inline-block;" value="审核通过" onclick="SetCommentStatus(this,1,2)" data-value="@additionalComment.CommentId" />
                            </div>
                        }
                        else if (additionalComment.AdditionCommentStatus == 3)
                        {
                            <div>
                                <input type="button" disabled="disabled" style="display: inline-block" value="审核不通过" onclick="SetCommentStatus(this,2,1)" data-value="@additionalComment.CommentId" />
                                <input type="button" style="display: inline-block;" value="审核通过" onclick="SetCommentStatus(this,1,2)" data-value="@additionalComment.CommentId" />
                            </div>
                        }
                        else
                        {
                            <div>
                                <input type="button" style="display: inline-block" value="审核不通过" onclick="SetCommentStatus(this,2,0)" data-value="@additionalComment.CommentId" />
                                <input type="button" style="display: inline-block;" value="审核通过" onclick="SetCommentStatus(this,1,0)" data-value="@additionalComment.CommentId" />
                            </div>
                        }
                    </td>
                    <td style="width: 9%;">
                        <label id="@additionalComment.CommentId" style="@(additionalComment.AdditionCommentStatus == 1 ? "color: Red;" : "display: none;")">未审核</label>
                        <label style="@(additionalComment.AdditionCommentStatus == 2 ? null : "display: none;")">审核通过</label>
                        <label style="@(additionalComment.AdditionCommentStatus == 3 ? null : "display: none;")">审核不通过</label>
                    </td>
                    <td style="width: 10%;"><a href="javascript:void(0)" onclick="javascript: LookOpr(@additionalComment.AdditionCommentId);">查看操作历史</a></td>
                </tr>
                <tr>
                    <td colspan="8">&nbsp;</td>
                </tr>
            }
        }
        <tr>
            <td id="kkpager" colspan="8"></td>
        </tr>
    </table>
</div>
<div id="OprHistory"></div>
<script type="text/javascript">
    function LookOpr(commentId) {
        var content = "";
        $("#OprHistory").empty();
        $.get("SelectOprLogByCommentID", { commentID: commentId }, function (data) {
            if (data.status == "success") {
                console.log(data);
                $(data.data).each(function (index) {
                    var changeDatetime = data_string(data.data[index].ChangeDatetime);
                    content += "<span style='display:block;margin-bottom:5px;'>操作人：" + data.data[index].Author + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作：" + data.data[index].Operation + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作时间：" + changeDatetime + "</span>";
                });
            } else {
                content = "暂无记录";
            }
            $("#OprHistory").append(content);
        });

        $("#OprHistory").dialog({
            title: "操作历史",
            width: 600,
            height: 500,
            modal: true
        });
    }
    function data_string(str) {
        var d = eval('new ' + str.substr(1, str.length - 2));
        var ar_date = [d.getFullYear(), d.getMonth() + 1, d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds()];
        for (var i = 0; i < ar_date.length; i++) ar_date[i] = dFormat(ar_date[i]);
        return ar_date.slice(0, 3).join('-') + ' ' + ar_date.slice(3).join(':');

        function dFormat(i) { return i < 10 ? "0" + i.toString() : i; }
    }

    var totalPage = @(Model.Pager == null ? 1 : Model.Pager.TotalPage),
        totalRecords = @(Model.Pager == null ? 0 : Model.Pager.Total),
        pageIndex = @(Model.Pager == null ? 1 : Model.Pager.CurrentPage),
        pageNo = pageIndex || 1;

    //生成分页
    kkpager.generPageHtml({
        pno: pageNo,
        //总页码
        total: totalPage,
        //总数据条数
        totalRecords: totalRecords,
        mode:'click',
        click:function(_pageIndex){
            pageIndex = _pageIndex;
            window.location.href =  '/Comment/AdditionCommentList?pageIndex='+ (_pageIndex||1) +"&"+(pageManage.GetSearchArguments() || "");
        },
        isGoPage: false,
        getLink: function (n) {
            return 'javascript:void(0);';
        }
    });
    kkpager.selectPage(pageIndex);

    var pageManage={
        GetUrl:function() {
            return window.location.href.split('?')[0];
        },
        GetSearchArguments:function(){
            return $("#searchArguments").serialize();
        },
        SetSearchArguments:function(){
            var arguments = (window.location.href.split('?')[1] || "").split('&');
            for (var i = 0; i < arguments.length; i++) {
                var item = arguments[i].split('=');
                $("#" + item[0]).val(decodeURI(item[1]));
            }
        },

        Search:function(){
            pageIndex = 1;
            window.location.href =  '/Comment/AdditionCommentList?pageIndex='+ (pageIndex||1) +"&"+(pageManage.GetSearchArguments() || "");
        }
    }
    pageManage.SetSearchArguments();

    function SetCommentStatus(button, commentStatus, currentStatus)
    {
        var self = $(button);
        var id = self.attr("data-value");
        var additionId = self.parent().parent().siblings("#acid").text();

        $.post('/Comment/AdditionCommentJudgement', { "commentId": id, "additionCommentId": additionId, "commentStatus": commentStatus, "currentStatus": currentStatus }, function(data)
        {
            if (!data) {
                alert("修改失败，请重试");
            }
            else
            {
                self.attr("disabled", "disabled");
                self.siblings("input").each(function ()
                {
                    $(this).attr("disabled", false);
                });
                var label = $("#" + id);
                if (commentStatus == 1)
                {
                    label.hide().next().show().next().hide();
                }
                else
                {
                    label.hide().next().hide().next().show();
                }
            }
        });
    }
</script>
