@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "拼团抽奖后台";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<style>
    .modal {
        font-size: 1.5rem;
    }
</style>

<div class="title" style="margin-bottom:20px;">
    <h2>拼团抽奖拼团成功订单</h2>
</div>
<div>
    <form class="form-inline" role="form" style="margin-bottom:40px;">
        <div class="col-md-6" style="padding-left:0;">
            <div class="form-group">
                <label for="inputfile" style="font-size:1.5em;">订单号</label>
                <input type="text" class="form-control" id="orderId" placeholder="请输入订单号" />
            </div>
            <div class="form-group" style="margin-left:20px;">
                <label for="lotteryResult" style="font-size:1.5em;">获奖状态</label>
                <select class="form-control" id="lotteryResult">
                    <option value="-1">未开奖</option>
                    <option value="0" selected="selected">全部</option>
                    <option value="1">一等奖</option>
                    <option value="2">二等奖</option>
                </select>
            </div>
            <button type="button" id="search_btn" class="btn btn-info" style="margin-left:20px;">搜索</button>
        </div>
        <div class="col-md-1 col-md-offset-2">
            <button type="button" id="push_btn" class="btn btn-info">发消息推送</button>
        </div><div class="col-md-1">
            <button type="button" id="refund_btn" class="btn btn-info">给用户退款</button>
        </div>
        <div class="col-md-1">
            <button type="button" id="coupon_btn" class="btn btn-info">给用户塞劵</button>
        </div>
        <div class="col-md-1">
            <button type="button" id="lotteryLog" class="btn btn-info">查看日志</button>
        </div>
    </form>
    <div style="clear:both;" />
    <hr />
    <div style="margin-bottom:30px">
        每页显示：
        <select class="PageSize">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="10000">10000</option>
        </select>条
        <span class="data_count"></span>
    </div>
    <img class="loadimg" src="~/Scripts/layer/skin/default/loading-2.gif" style="margin:5% 50%;display:none;" />
    <div class="content_list"></div>
</div>


<!-- 推送消息 -->
<div class="modal fade" id="sendBox" tabindex="-1" role="dialog" aria-labelledby="sendMessage" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">发送推送消息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="send_productGroupId" class="control-label col-md-4">ProductGroupId</label>
                        <div class="col-md-offset-1 col-md-5">
                            <p class="orm-control" id="send_productGroupId" style="font-weight:bolder">@ViewBag.PeoductGroupId</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="push_batchId" class="control-label col-md-4">推送消息ID</label>
                        <div class="col-md-offset-1 col-md-5">
                            <select id="push_batchId" class="form-control">
                                <option value="1867">一等奖中奖通知</option>
                                <option value="1868">二等奖中奖通知</option>
                                <option value="1872">退款通知</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="push_user" class="control-label col-md-4">用户范围</label>
                        <div class="col-md-offset-1 col-md-5">
                            <select id="push_user" class="form-control" onchange="LotteryFunc.GetLotteryUserCount(this)">
                                <option value="1">一等奖用户</option>
                                <option value="2">二等奖用户</option>
                                <option value="-1" selected="selected">全部用户</option>
                                <option value="-99">单个用户</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="push_order" class="control-label col-md-4">订单Id</label>
                        <div class="col-md-offset-1 col-md-5">
                            <input class="form-control" id="push_order" style="font-weight:bolder" type="number" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="LotteryFunc.SendMessage()">提交</button>
            </div>
        </div>
    </div>
</div>


<!-- 订单状态修改 -->
<div class="modal fade" id="orderBox" tabindex="-1" role="dialog" aria-labelledby="orderInfo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">订单状态修改</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="order_productGroupId" class="control-label col-md-4">ProductGroupId</label>
                        <div class="col-md-offset-1 col-md-5">
                            <p class="orm-control" id="order_productGroupId" style="font-weight:bolder">@ViewBag.PeoductGroupId</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="order_action" class="control-label col-md-4">订单状态</label>
                        <div class="col-md-offset-1 col-md-5">
                            <select id="order_action" class="form-control">
                                <option value="1" selected="selected">取消订单并退款</option>
                                @*<option value="2">完成订单</option>*@
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="order_user" class="control-label col-md-4">用户范围</label>
                        <div class="col-md-offset-1 col-md-5">
                            <select id="order_user" class="form-control" onchange="LotteryFunc.GetLotteryUserCount(this)">
                                @*<option value="1">一等奖用户</option>*@
                                <option value="2">二等奖用户</option>
                                @*<option value="-1" selected="selected">全部用户</option>*@
                                <option value="-99">单个用户</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cancel_order" class="control-label col-md-4">订单Id</label>
                        <div class="col-md-offset-1 col-md-5">
                            <input class="form-control" id="cancel_order" style="font-weight:bolder" type="number" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="LotteryFunc.CancelOrder()">提交</button>
            </div>
        </div>
    </div>
</div>

<!-- 给用户塞券 -->
<div class="modal fade" id="couponBox" tabindex="-1" role="dialog" aria-labelledby="couponInfo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">给用户塞券</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="coupon_productGroupId" class="control-label col-md-4">ProductGroupId</label>
                        <div class="col-md-offset-1 col-md-5">
                            <p class="orm-control" id="coupon_productGroupId" style="font-weight:bolder">@ViewBag.PeoductGroupId</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="coupon_user" class="control-label col-md-4">用户范围</label>
                        <div class="col-md-offset-1 col-md-5">
                            <select id="coupon_user" class="form-control" onchange="LotteryFunc.GetLotteryUserCount(this)">
                                <option value="1">一等奖用户</option>
                                <option value="2">二等奖用户</option>
                                <option value="-1" selected="selected">全部用户</option>
                                <option value="-99">单个用户</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="coupon_order" class="control-label col-md-4">订单Id</label>
                        <div class="col-md-offset-1 col-md-5">
                            <input class="form-control" id="coupon_order" style="font-weight:bolder" type="number" />
                        </div>
                    </div>
                </form>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            请选择优惠券
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            <button type="button" class="btn btn-info" id="addCoupon_btn">+新增</button>
                            <button type="button" class="btn btn-info" id="deleteCoupon_btn">删除</button>
                        </div>
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>优惠券GUID</th>
                                    <th>优惠券说明</th>
                                    <th>使用条件</th>
                                    <th>有效期</th>
                                    <th>创建人</th>
                                </tr>
                            </thead>
                            <tbody id="couponList"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="LotteryFunc.SendLotteryCoupon()">提交</button>
            </div>
        </div>
    </div>
</div>


<!-- 新增优惠券 -->
<div class="modal fade" id="addCouponBox" tabindex="-1" role="dialog" aria-labelledby="addCouponInfo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">新增优惠券</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="addCoupon_productGroupId" class="control-label col-md-4">ProductGroupId</label>
                        <div class="col-md-offset-1 col-md-5">
                            <div class="orm-control" id="addCoupon_productGroupId" style="font-weight:bolder">@ViewBag.PeoductGroupId</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="coupon_id" class="control-label col-md-4">优惠券GUID</label>
                        <div class="col-md-offset-1 col-md-5">
                            <input type="text" class="form-control" id="coupon_id" style="font-family:Consolas;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="coupon_desc" class="control-label col-md-4">优惠券描述</label>
                        <div class="col-md-offset-1 col-md-5">
                            <input class="form-control" id="coupon_desc" style="font-weight:bolder" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="coupon_condition" class="control-label col-md-4">使用条件</label>
                        <div class="col-md-offset-1 col-md-5">
                            <input class="form-control" id="coupon_condition" style="font-weight:bolder" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="coupon_usefulLife" class="control-label col-md-4">有效期</label>
                        <div class="col-md-offset-1 col-md-5">
                            <input class="form-control" id="coupon_usefulLife" style="font-weight:bolder" readonly />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="LotteryFunc.AddLotteryCoupon()">提交</button>
            </div>
        </div>
    </div>
</div>


<!-- 日志 -->
<div class="modal fade" id="pushLogBox" tabindex="-1" role="dialog" aria-labelledby="pushLogInfo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">查看</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="lotteryLogShow" class="control-label col-md-2" style="padding-left:0px;">日志类型</label>
                    <select id="lotteryLogShow" class="form-control">
                        <option value="pushLog" selected="selected">推送日志</option>
                        <option value="orderLog">订单操作日志</option>
                        <option value="couponLog">塞券日志</option>
                        <option value="lotteryResultlog">一等奖设置日志</option>
                    </select>
                </div>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>时间</th>
                            <th>操作类型</th>
                            <th>操作人</th>
                            <th>备注</th>
                        </tr>
                    </thead>
                    <tbody id="logDetail"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        LotteryFunc.LoadList(1);
        $(".content_list").on("click", ".pager>a", function (event) {
            event.preventDefault();
            var url = $(this).attr("href");
            if (url) {
                $.post(url, function (html, status) {
                    if (status === "success") {
                        $(".content_list").html(html);
                    }
                });
            }
        });
        $(".PageSize").change(function () {
            LotteryFunc.LoadList(1);
        });
        $("#push_btn").click(function () {
            $("#sendBox").modal("show");
        });

        $("#refund_btn").click(function () {
            $("#orderBox").modal("show");
        });
        $("#coupon_btn").click(function () {
            LotteryFunc.GetLotteryCoupon();
        });
        $("#addCoupon_btn").click(function () {
            $("#addCouponBox").modal("show");
        });
        $("#lotteryLog").click(function () {
            LotteryFunc.GetLotteryLog("PushMessage");
        });
        $("#coupon_id").blur(function () {
            LotteryFunc.GetCouponDetail();
        });
        $("#deleteCoupon_btn").click(function () {
            LotteryFunc.DeleteLotteryCoupons();
        });
        $("#search_btn").click(function () {
            LotteryFunc.LoadList(1);
        });
        $("#lotteryLogShow").change(function () {
            var type = $("#lotteryLogShow").val();
            var operateType = "PushMessage";
            if (type == "pushLog") operateType = "PushMessage";
            if (type == "orderLog") operateType = "CancelOrder";
            if (type == "couponLog") operateType = "SendCoupon";
            if (type == "lotteryResultlog") operateType = "SetLevel->1";
            LotteryFunc.GetLotteryLog(operateType);
        });
    })
</script>


<script>
    LotteryFunc = {
        //设置抽奖结果
        SetLotteryResult: function(level, userId, orderId, productGroupId) {
            var levelStr = level == 1 ? '一等奖' : '二等奖';
            var confirmStr = `您确定要将该用户设置为 ${levelStr} 吗？`;
            if (!confirm(confirmStr)) return;

            $.post("/GroupBuyingV2/SetLotteryResult",
                {
                    productGroupId: productGroupId,
                    userId: userId,
                    orderId: orderId,
                    level: level
                },
                function(data) {
                    alert(data.Info);
                    if (data.Code == 1 || data.Code == 2) {
                        LotteryFunc.LoadList(1);
                    }
                });
        },
        // 载入用户列表
        LoadList: function(index) {
            $(".loadimg").show();
            var productGroupId = "@ViewBag.PeoductGroupId";
            var orderId = $("#orderId").val().trim();
            var lotteryResult = $("#lotteryResult").val();
            $.post("/GroupBuyingV2/LotteryInfoList",
                {
                    productGroupId: productGroupId,
                    orderId: orderId,
                    lotteryResult: lotteryResult,
                    pageSize: $(".PageSize option:selected").val(),
                    pageIndex: index
                },
                function(html, status) {
                    if (status === "success") {
                        $(".loadimg").hide();
                        $(".content_list").html(html);
                        $(".data_count").text('共' +
                            ($(".orderListTable").length ? $(".orderListTable").attr("data-count") : 0) +
                            '条数据');
                    }
                });
        },
        // 设置单个用户订单状态
        SetOrderStatusForOne: function(userId, orderId, status) {
            var statusStr = status == 1 ? '完成' : '取消';
            var confirmStr = `您确定要 ${statusStr} 该用户的订单吗？`;
            if (!confirm(confirmStr)) return;

            var productGroupId = "@ViewBag.PeoductGroupId";
            $.post("/GroupBuyingV2/SetOrderStatusForOne",
                {
                    productGroupId: productGroupId,
                    userId: userId,
                    orderId: orderId,
                    status: status
                },
                function(data) {
                    alert(data.Info);
                    if (data.Code == 1) {
                        LotteryFunc.LoadList(1);
                    }
                });
        },
        // 获取优惠券详情
        GetCouponDetail: function() {
            var couponId = $("#coupon_id").val().trim();
            if (couponId == '') retrun;
            $.post("/GroupBuyingV2/GetCouponDetail",
                {
                    couponId: couponId
                },
                function(data) {
                    if (data.Code !== 1) {
                        alert(data.Info);
                        $("#coupon_id").val("");
                    } else {
                        $("#coupon_desc").val(data.CouponDesc);
                        $("#coupon_condition").val(data.CouponCondition);
                        $("#coupon_usefulLife").val(data.UsefulLife);
                    }
                });
        },
        // 增加一个优惠券配置
        AddLotteryCoupon: function() {
            var couponId = $("#coupon_id").val().trim();
            if (couponId == '') retrun;
            var productGroupId = "@ViewBag.PeoductGroupId";
            $.post("/GroupBuyingV2/AddLotteryCoupon",
                {
                    productGroupId: productGroupId,
                    couponId: couponId
                },
                function(data) {
                    alert(data.Info);
                    if (data.Code == 1) {
                        $("#addCouponBox").modal("hide");
                        LotteryFunc.GetLotteryCoupon();
                    }
                });
        },
        // 批量删除优惠券
        DeleteLotteryCoupons: function() {
            var couponList = [];
            var productGroupId = "@ViewBag.PeoductGroupId";
            $(".couponItem:checked").each(function(index) {
                var couponId = $(this).parent().parent().find(".couponId").first().text();
                if (couponId !== '') couponList.push(couponId);
            });
            var confirmStr = "您选中一下优惠券ID\n" + couponList.join(";") + "\n您确定要删除吗？";
            if (confirm(confirmStr)) {
                $.post("/GroupBuyingV2/DeleteLotteryCoupons",
                    {
                        productGroupId: productGroupId,
                        couponIds: couponList
                    },
                    function(data) {
                        alert(data.Info);
                        if (data.Code == 1) {
                            LotteryFunc.GetLotteryCoupon();
                        }
                    });
            }
            return;
        },

        // 给用户批量塞券
        SendLotteryCoupon: function() {
            var couponList = [];
            var productGroupId = "@ViewBag.PeoductGroupId";
            var orderId = $("#coupon_order").val().trim();
            var tag = $("#coupon_user").val();


            var couponStr = tag == 1 ? '一等奖用户' : (tag == 2 ? '二等奖用户' : (tag == -1 ? '全部用户' : '单个用户'));
            var confirmStr = `您确定为 ${couponStr} 塞券吗？`;
            if (!confirm(confirmStr)) return;

            $(".couponItem:checked").each(function(index) {
                var couponId = $(this).parent().parent().find(".couponId").first().text();
                if (couponId !== '') couponList.push(couponId);
            });
            if (couponList.length == 0) {
                alert("请选择优惠券！");
                return;
            }
            $.post("/GroupBuyingV2/SendLotteryCoupon",
                {
                    productGroupId: productGroupId,
                    orderId: orderId,
                    couponList: couponList,
                    tag: tag
                },
                function(data) {
                    alert(data.Info);
                });
        },

        // 给用户推送
        SendMessage: function() {
            var batchId = $("#push_batchId").val();
            var tag = $("#push_user").val();
            var orderId = $("#push_order").val().trim();
            var productGroupId = "@ViewBag.PeoductGroupId";


            var pushStr = tag == 1 ? '一等奖用户' : (tag == 2 ? '二等奖用户' : (tag == -1 ? '全部用户' : '单个用户'));
            var confirmStr = `您确定为 ${pushStr} 推送吗？`;
            if (!confirm(confirmStr)) return;

            if (tag == -99 && orderId == '') {
                alert("请填写订单号！");
                return;
            }
            $.post("/GroupBuyingV2/PushLotteryMessage",
                {
                    productGroupId: productGroupId,
                    tag: tag,
                    batchId: batchId,
                    orderId: orderId
                },
                function(data) {
                    alert(data.Info);
                });
        },

        // 取消订单
        CancelOrder: function() {
            var tag = $("#order_user").val();
            var orderId = $("#cancel_order").val().trim();
            var productGroupId = "@ViewBag.PeoductGroupId";


            var orderStr = tag == 1 ? '一等奖用户' : (tag == 2 ? '二等奖用户' : (tag == -1 ? '全部用户' : '单个用户'));
            var confirmStr = `您确定取消 ${orderStr} 的订单吗？`;
            if (!confirm(confirmStr)) return;

            if (tag == -99 && orderId == '') {
                alert("请填写订单号！");
                return;
            }
            $.post("/GroupBuyingv2/CancelLotteryOrder",
                {
                    productGroupId: productGroupId,
                    orderId: orderId,
                    tag: tag
                },
                function(data) {
                    alert(data.Info);
                });
        },

        // 根据人群标签获取对应人数
        GetLotteryUserCount: function(target) {
            var tag = $(target).val();
            if (tag == -99) return;
            var productGroupId = "@ViewBag.PeoductGroupId";
            $.post("/GroupBuyingV2/GetLotteryUserCount",
                {
                    productGroupId: productGroupId,
                    tag: tag
                },
                function(data) {
                    if (data.Code == 1) {
                        alert(`所选人群共${data.Info}人`);
                    } else {
                        alert(data.Info);
                    }
                });
        },
        // 获取推送日志
        GetLotteryLog: function(type) {
            $("#logDetail").html('');
            var productGroupId = "@ViewBag.PeoductGroupId";
            $.post("/GroupBuyingV2/GetLotteryLog",
                {
                    productGroupId: productGroupId,
                    type: type
                },
                function(data) {
                    if (data.Code != 1) {
                        alert(data.Info);
                    } else {
                        var html = ''
                        $.each(data.Data,
                            function(k, v) {
                                html += `<tr><td>${LotteryFunc.FormatTime(v.CreateDateTime)}</td>
                                    <td>${v.OperateType}</td>
                                    <td>${v.Operator}</td><td>${v.Remark}</td></tr>`
                            });
                        $("#logDetail").html(html);
                        $("#pushLogBox").modal("show");
                    }

                });
        },

        // 获取用户优惠券
        GetLotteryCoupon: function() {
            $("#couponList").empty();
            var productGroupId = "@ViewBag.PeoductGroupId";
            $.post("/GroupBuyingV2/GetLotteryCouponList",
                {
                    productGroupId: productGroupId
                },
                function(data) {
                    if (data.Code != 1) {
                        alert(data.Info);
                    } else {
                        var html = "";
                        $.each(data.Data,
                            function(k, v) {
                                html += `<tr><td><input type="checkbox" class="couponItem" /></td>
                        <td class="couponId">${v.CouponId}</td><td>${v.CouponDesc}</td>
                        <td>${v.CouponCondition}</td><td>${v.UsefulLife}</td>
                        <td>${v.Creator}</td></tr>`;
                            });
                        $("#couponList").html(html);
                        $("#couponBox").modal("show");
                    }
                })
        },
        // 时间格式化
        FormatTime: function(strTime) {
            var obj = new Date(parseInt(strTime.replace("/Date(", "").replace(")/", ""), 10));
            return obj.Format("yyyy-MM-dd hh:mm:ss");
        }
    }
</script>
