@using Tuhu.Provisioning;
@using Tuhu.Provisioning.DataAccess.Entity.GroupBuyingV2;
@model Tuhu.Component.Common.Models.ListModel<LotteryUserModel>
    @{
        Layout = null;
    }
    @if (Model.Source.Any())
    {
        <table class="table table-bordered orderListTable" data-count="@Model.Pager.TotalItem">
            <thead>
                <tr>
                    <th>ProductGroupId</th>
                    <th>订单号</th>
                    <th>订单状态</th>
                    <th>账号手机号</th>
                    <th>获奖状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Source)
                {
                    <tr>
                        <td>@item.ProductGroupId</td>
                        <td>@item.OrderId</td>
                        <td>@item.OrderStatus</td>
                        <td>@item.UserPhone</td>
                        <td>@(item.LotteryResult == 0 ? "未开奖" : item.LotteryResult == 1 ? "一等奖" : "二等奖")</td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="LotteryFunc.SetLotteryResult(@(item.LotteryResult == 1?2:1),'@(item.UserId)',@item.OrderId,'@(item.ProductGroupId)')">
                                @(item.LotteryResult == 1 ? "设为二等奖" : "设为一等奖")
                            </button>
                            @if (item.OrderStatus == "未完成")
                            {
                                <button type="button" class="btn btn-primary" onclick="LotteryFunc.SetOrderStatusForOne('@item.UserId',@item.OrderId,1)" style="margin-left:10px;">完成订单</button>
                                <button type="button" class="btn btn-primary" onclick="LotteryFunc.SetOrderStatusForOne('@item.UserId',@item.OrderId,-1)" style="margin-left:10px;">取消订单</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div>无数据</div>
    }
    @Html.Pager(Model.Pager, true, id => Url.Action("LotteryInfoList", new
{
    orderId = ViewBag.OrderId,
    productGroupId = ViewBag.ProductGroupId,
    lotteryResult = ViewBag.LotteryResult,
    pageIndex = id,
    pageSize = Model.Pager.PageSize
}))
