@{
    Layout = "";
    var uploadId = 2;
    Tuhu.Provisioning.DataAccess.Entity.DownloadApp modelContent = ViewBag.DownloadApp as Tuhu.Provisioning.DataAccess.Entity.DownloadApp;
    Tuhu.Provisioning.DataAccess.Entity.Content bottomContent = Newtonsoft.Json.JsonConvert.DeserializeObject<Tuhu.Provisioning.DataAccess.Entity.Content>(modelContent.BottomContent);
    Tuhu.Provisioning.DataAccess.Entity.Content timerContent = Newtonsoft.Json.JsonConvert.DeserializeObject<Tuhu.Provisioning.DataAccess.Entity.Content>(modelContent.TimerContent);
    List<Tuhu.Provisioning.DataAccess.Entity.Content> iamgeContentList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Tuhu.Provisioning.DataAccess.Entity.Content>>(modelContent.ImageContent);
}

<style>
    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: #0088cc;
        border: solid 1px #0088cc;
    }
</style>
<div>
    <fieldset>
        <legend>Title</legend>
        <input type="text" style="width:300px" id="title_name" value="@modelContent.Title" />
    </fieldset>
    <fieldset>
        <legend>浮层图片</legend>
        <table id="table1">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>MLink</th>                 
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img style="width:40px;height:40px;" class="vwPicture" src="@bottomContent.SmallImage" />
                        <input type="hidden" class="image" value="@bottomContent.Image" />
                        <input type="hidden" class="smallImage" value="@bottomContent.SmallImage" />
                        <form method="post" action="" enctype="multipart/form-data">
                            <input style="width:150px;" type="file" onchange="UploadImg(this)" id="0" name="0" />
                        </form>
                    </td>
                    <td><input type="text" value="@bottomContent.MLink" /></td>
                    
                    <td>
                        @if (modelContent.BottomStatus)
                        {
                            <select>
                                <option value="1">启用</option>
                                <option value="0">禁用</option>
                            </select>
                        }
                        else
                        {
                            <select>
                                <option value="0">禁用</option>
                                <option value="1">启用</option>
                            </select>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <fieldset>
        <legend>初始化下载</legend>
        <table id="table2">
            <tbody>
                <tr>
                    <td>
                        <img style="width:150px;height:40px;" class="vwPicture" src="" />
                        <input type="hidden" class="image" value="" />
                        <input type="hidden" class="smallImage" value="" />
                        <form method="post" action="" enctype="multipart/form-data" style="display:none;">
                            <input style="width:150px;" type="file" onchange="UploadImg(this)" id="1" name="1" />
                        </form>
                    </td>
                    <td><input type="text" value="@timerContent.MLink" /></td>
                    <td>
                        @if (modelContent.TimerStatus)
                        {
                            <select>
                                <option value="1">启用</option>
                                <option value="0">禁用</option>
                            </select>
                        }
                        else
                        {
                            <select>
                                <option value="0">禁用</option>
                                <option value="1">启用</option>
                            </select>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <fieldset>
        <legend>Image</legend>
        <table id="table3">

            <tbody>
                @foreach (var item in iamgeContentList)
                {
                    uploadId++;
                    <tr>
                        <td>
                            <img style="width:40px;height:40px;" class="vwPicture" src="@item.SmallImage" />
                            <input type="hidden" class="image" value="@item.Image" />
                            <input type="hidden" class="smallImage" value="@item.SmallImage" />
                            <form method="post" action="" enctype="multipart/form-data">
                                <input style="width:150px;" type="file" onchange="UploadImg(this)" id="@uploadId" name="@uploadId" />
                            </form>
                        </td>
                        <td><input type="text" value="@item.MLink" /></td>
                       
                        <td>
                            <a href="javascript:;" onclick="AddClick()">添加</a><br />
                            <a href="javascript:;" onclick="DeleteClick(this)">删除</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </fieldset>

    <table id="templateTable" style="display:none;">
        <tr>
            <td>
                <img height="40" class="vwPicture" />
                <input type="hidden" class="image" />
                <input type="hidden" class="smallImage" />
                <form method="post" action="" enctype="multipart/form-data">
                    <input style="width:150px;" type="file" onchange="UploadImg(this)" />
                </form>
            </td>
            <td><input type="text" /></td>           
            <td>
                <a href="javascript:;" onclick="AddClick()">添加</a><br />
                <a href="javascript:;" onclick="DeleteClick(this)">删除</a>
            </td>
        </tr>
    </table>
</div>
<script>

    function UploadImg(e) {
        var $e = $(e);
        var $ee = $e.parents("tr").find("td").eq(0).find("img");
        var $smallImage = $e.parents("tr").find("td").eq(0).find("input[class='smallImage']");
        var $image = $e.parents("tr").find("td").eq(0).find("input[class='image']");
        $.ajaxFileUpload({
            url: '/Article/AddArticleImg2',
            secureuri: false,
            fileElementId: $e.attr("id"),
            dataType: 'json',
            data: {},
            type: "post",
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $ee.attr("src", result.SImage);
                    $(".vwPicture").show();
                    $smallImage.val(result.SImage);
                    $image.val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            }
        });
    };

    var nameId = 100;
    function AddClick() {
        //添加第一行
        nameId++;
        var tr = $("#templateTable tr").clone();
        tr.find("td").eq(0).find("input[type='file']").attr("id", nameId);
        tr.find("td").eq(0).find("input[type='file']").attr("name", nameId);
        tr.css('display', '');
        tr.appendTo("#table3");
    }


    function DeleteClick(target) {

        $(target).closest('tr').remove();
    };
</script>

