@using Tuhu.Provisioning.Business;
@using Tuhu.Provisioning.DataAccess.Entity;
@model MDBeautyApplyConfig
@{
    Layout = null;
    List<Region>
    ProvinceList = ViewBag.ProvinceList as List<Region>
        ;
    string look = ViewData["look"] as string;
}

<style>
    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    a {
        color: cornflowerblue;
    }
</style>
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>

<form action="/MeiRongAcitivityConfig/Edit" method="post">
    <input type="hidden" value="@Model.Id" name="Id" />
    <input type="hidden" value="" name="PrivilegeType" />
    <div>
        <table id="table1" style="width:100%">
            <tbody>
                <tr>
                    <td>1：<label>不通过的理由1</label></td>
                </tr>
                <tr>
                    <td>2：<label>不通过的理由2</label></td>
                </tr>
                <tr>
                    <td>3：<label>不通过的理由3</label></td>
                </tr>
                <tr>
                    <td>
                        <textarea style="width:300px;" maxlength="499" required="required" class="Reason" placeholder="请填写报名不通过的原因">@Model.AuditReason</textarea>
                    </td>

                </tr>
                <tr>
                    <td>
                        @if (look != "Look")
                        {
                            <input type="button" value="保存" onclick="SaveModel()" class="btn" />
                        }

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<script>
    $("label").click(function(){
        $(".Reason").html($(this).text());
    })
    function SaveModel() {
        if (!$(".Reason").val()) {
            return false;
        }
        var dataStr = {
            "Id": $.trim($("input[name='Id']").val()),
            "ApplyAuditStatus": @ViewData["status"],
            "ExitAuditStatus": @ViewData["status"],
            "AuditReason": $(".Reason").val(),
            "ExitReason": $(".Reason").val(),
            "type":'@ViewData["type"]',
            "ShopId":'@Model.ShopId',
            "ProductId":"@Model.ProductId"
        };

        console.log(JSON.stringify(dataStr));

        $.ajax({
            type: "POST",
            url: "/MDBeautyApplyConfig/Edit",
            data: dataStr,
            dataType: "JSON",
            success: function (result) {
                if (result) {
                    window.location.reload(true);
                }
            },
            error: function (result) {

            }
        });
    }

</script>
