@model List<Tuhu.Provisioning.DataAccess.Entity.FriendLink>
@{
    ViewBag.Titel = "官网友链配置";
}

<h2>官网友链配置</h2>
<style>
    .ui-dialog {
        border-radius: 3px;
        padding: 0px;
        width: auto;
    }

    .ui-dialog-grid {
        width: 100%;
    }

    .ui-dialog-title {
        width: 75%;
        padding: 8px 15px 8px 15px;
    }

    .ui-dialog-close {
        top: 8px;
    }

    .ui-dialog-body {
        padding: 10px;
    }

    .ui-dialog-content {
        padding: 0;
    }

    .ui-dialog-footer {
        padding: 5px 10px 5px 5px;
        background: #ffffff;
        border-top: 1px solid #eee;
    }

    .ui-dialog-footer button {
        padding: 3px 15px;
        border-radius: 2px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
        font-size: 12px;
    }

    .ui-dialog-footer button.ui-dialog-autofocus {
        font-weight: 700;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    .button1 {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        font-family: "Microsoft Yahei";
        outline: none;
        cursor: pointer;
        background: #0088cc;
        border-color: #0088cc;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: #0088cc;
        border: solid 1px #0088cc;
    }
</style>

<link rel="stylesheet" href="/Scripts/artDialog6.0.4/css/ui-dialog.css" />
<script src="~/Scripts/artDialog6.0.4/dist/dialog-min.js"></script>
<script src="~/Scripts/artDialog6.0.4/dist/dialog-plus-min.js"></script>
<input type="button" class="button1" id="Insert" value="添加" />
<div style="margin-top: 20px;">
    <table style="width: 100%">
        <thead>
        <tr>
            <th>Fid</th>
            <th>友链名称</th>
            <th>友链链接</th>
            <th>友链位置</th>
            <th>操作</th>
            <th>操作历史</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Fid</td>
                <td>@item.FriendLinkName</td>
                <td>@item.Link</td>
                <td>@item.Position</td>
                <td>
                    <a href="javascript:;" onclick="Update(@item.Fid, '@item.FriendLinkName', '@item.Link', '@item.Position')">编辑</a>
                    <a href="javascript:;" onclick="Delete(@item.Fid)">删除</a>
                </td>
                <td><a href="javascript:void(0)" onclick="javascript: LookOpr(@item.Fid);">查看操作历史</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>
<script>
    $("#Insert").on("click", function() {
        var dialogResult = dialog({
            height: 150,
            width: 330,
            fixed: true,
            title: "添加友链",
            button: [
                {
                    value: "保存",
                    callback: function() {
                        if (!$(".FriendLinkName").val()) {
                            $(".FriendLinkName").css("border", "1px solid red");
                            return false;
                        }
                        if (!$(".Link").val()) {
                            $(".Link").css("border", "1px solid red");
                            return false;
                        }

                        $.ajax({
                            type: "POST",
                            url: "/FriendLink/Insert",
                            data: {
                                "FriendLinkName": $(".FriendLinkName").val(),
                                "Link": $(".Link").val(),
                                "Position": $(".Position").val()
                            },
                            success: function(result) {
                                if (result >= 1) {
                                    window.location.reload(true);
                                } else if (result == -1) {
                                    alert("Key已经存在！");
                                } else {
                                    alert("保存失败！");
                                }
                            },
                            error: function(result) {
                                alert("添加友链失败!");
                            }
                        });
                    }
                }, { value: "关闭" }
            ]
        });

        $.ajax({
            url: "/FriendLink/Add",
            data: {},
            type: "GET",
            success: function(result) {
                dialogResult.content(result);
                dialogResult.showModal();
            }
        });
    });

    function Delete(id) {
        if (window.confirm("确定要删除吗？")) {
            $.ajax({
                method: "POST",
                url: "/FriendLink/Delete",
                data: { "id": id },
                dataType: "json"
            }).done(function(data) {

            }).fail(function(data) {
            });

            location.reload(true);
        }
    };

    function  Update(fid, friendLinkName, link, position) {
        var dialogResult = dialog({
            height: 150,
            width: 330,
            fixed: true,
            title:"编辑友链",
            button: [
                {
                    value: "保存",
                    callback:function() {
                        if (!$(".FriendLinkName").val()) {
                            $(".FriendLinkName").css("border", "1px solid red");
                            return false;
                        }
                        if (!$(".Link").val()) {
                            $(".Link").css("border", "1px solid red" );
                            return false;
                        }
                        $.ajax({
                            url: "/FriendLink/Update",
                            type: "POST",
                            data: { "Fid": fid, "FriendLinkName": $(".FriendLinkName").val(), "Link": $(".Link").val(), "Position": $(".Position").val() },
                            dataType: "json",
                            success: function(result) {
                                if (result) {
                                    window.location.reload(true);
                                }
                                else {
                                    alert("保存失败！");
                                }
                            },
                            error: function(result) {
                                alert("编辑友链失败！");
                            }
                    });
                    }
                },
                { value: "关闭" }
            ]

        });
        $.ajax({
            url: "/FriendLink/Add",
            type: "GET",
            data: { "Fid": fid, "FriendLinkName": friendLinkName, "Link": link, "Position": position },
            success: function(result){
                dialogResult.content(result);
                dialogResult.showModal();
            }
         });
    };

    function data_string(str) {
        var d = eval('new ' + str.substr(1, str.length - 2));
        var ar_date = [d.getFullYear(), d.getMonth() + 1, d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds()];
        for (var i = 0; i < ar_date.length; i++) ar_date[i] = dFormat(ar_date[i]);
        return ar_date.slice(0, 3).join('-') + ' ' + ar_date.slice(3).join(':');

        function dFormat(i) { return i < 10 ? "0" + i.toString() : i; }
    }

    function LookOpr(Fid) {

        var dialogResult = dialog({
            title: "操作历史",
            width: 600,
            height: 500,
            fixed: true
        });
        $.ajax({
            url: "/FriendLink/SelectOprLogByFid",
            type: "GET",
            data: { "Fid": Fid},
            success: function (data) {
                var content = "";
                if (data.status == "success") {
                    console.log(data);
                    $(data.data).each(function(index) {
                        var changeDatetime = data_string(data.data[index].ChangeDatetime);
                        content += "<span style='display:block;margin-bottom:5px;'>操作人：" + data.data[index].Author + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作：" + data.data[index].Operation + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作时间：" + changeDatetime + "</span>";
                    });
                } else {
                    content = "暂无记录";
                }
                dialogResult.content(content);
                dialogResult.showModal();
            }
        });
    }
</script>
