@{
    ViewBag.Title = "产品日志";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Tuhu.Provisioning.DataAccess.Entity.ProductInfo

<link href="~/Content/ProductVehicleType/css/bootstrap.v3.css" type="text/css" rel="stylesheet" />
@*<link href="~/Content/ProductVehicleType/css/iconfinder.css" type="text/css" rel="stylesheet" />*@
<div class="container" ng-app="NodeApp" style="margin-bottom: 400px">
    <div class="row">
        <div class="span3"></div>
        <div class="span9" style="float:right;text-align:center;margin-top:20px;"><h4>@Model.DisplayName / @Model.ProductCode</h4></div>
        <input type="hidden" value="@ViewBag.Pid" id="hiddenPid" />
    </div>
    <div class="row">
        <div class="span3" style="float:left;">
            <ul class="nav nav-pills nav-stacked" style="margin-top:20px">
                <li><a href="/ProductVehicleType/Detail/@ViewBag.Pid">产品通用信息</a></li>
                <li><a href="/ProductVehicleType/Edit/@ViewBag.Pid">编辑产品车型数据</a></li>
                <li><a href="/ProductVehicleType/FileInportExport/@ViewBag.Pid">导入导出车型数据</a></li>
                <li><a href="/ProductVehicleType/Copy/@ViewBag.Pid">批量复制车型配置</a></li>
                <li class="active"><a href="/ProductVehicleType/ProductLog/@ViewBag.Pid">查看产品操作日志</a></li>
            </ul>
        </div>
        <div class="span8" style="float:right">
            <div class="table-responsive" style="margin-top:20px">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:200px">操作人</th>
                            <th style="width:160px">操作时间</th>
                            <th>操作内容</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.List)
                        {
                            <tr>
                                <td>@item.Operator</td>
                                <td>@item.OperateTime</td>
                                <td>@item.OperateContent</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
</div>
<script src="~/Content/ProductVehicleType/js/bootstrap.min.js"></script>
