@using Tuhu.Provisioning.DataAccess.Entity;
@model IEnumerable<ShippingModel>
@{
    ViewBag.Title = "车品/保养运费配置";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Rules = ViewBag.GradeDeliveryFeeRule as List<GradeDeliveryFeeRule>;
    var Rulelist = Rules != null ? Rules.Where(x => x.UserType == 1).ToList() : new List<GradeDeliveryFeeRule>();
    var newUserRuleList = Rules != null ? Rules.Where(x => x.UserType == 2).ToList() : new List<GradeDeliveryFeeRule>();
    var freeCitys = "";
    foreach (var item in Model.Where(m => (m.Types & 1) == 0 && (m.Types & 8) == 8))
    {
        freeCitys += item.StrCityIDs + "|";
    }
    var nofreeCitys = "";
    foreach (var item in Model.Where(m => (m.Types & 1) == 0 && (m.Types & 8) == 0))
    {
        nofreeCitys += item.StrCityIDs + "|";
    }
}

<style>
    table th {
        width: auto;
        height: auto;
        background: #66ABEF;
        color: #F3F7FA;
        border: 1px solid #559BD0;
        font-weight: 600;
        font-family: "Microsoft Yahei";
        text-align: center;
        min-width: 20%;
        font-size: larger;
    }

    table td {
        font-size: 75%;
        padding: 8px 3px 8px 3px;
        font-family: "Microsoft Yahei";
        text-align: center;
        border: 1px solid #eee;
        min-width: 20px;
    }
    .no-free td {
        font-size: 75%;
        padding: 8px 3px 8px 3px;
        font-family: "Microsoft Yahei";
        text-align: center;
        border: 1px solid #eee;
        min-width: 20px;
        max-width: 200px;
    }

    a {
        cursor: pointer;
    }

    .title > h3 > label {
        font-weight: normal;
    }

    input {
        width: 50px;
    }

    .bottom {
        clear: both;
        font-size: 30px;
        margin-top: 40px;
        text-align: center;
    }

    .bottom > a {
        color: black;
    }

    .bottom > a:hover {
        text-decoration: none;
        font-weight: bold;
    }

    .bottom > a:first-of-type {
        background-color: aquamarine;
        padding: 10px 20px;
        margin-right: 20px;
    }

    #tabRule input {
        width: auto;
    }

    button {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .btn-primary {
        font-weight: bold;
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
        width: 80px;
    }

    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .btn-danger {
        font-weight: bold;
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
        width: 80px;
    }


    .correctPos {
        margin-left: 10px;
    }

    #DefaultRule input, #NewUserDefaultRule input { width: auto; }
</style>


<div style="clear:both;"></div>

<div style="float:left;" class="title">
    <h2>
        <span>@(ViewBag.Where == "home" ? "配送到家车品/保养订单 运费规则" : "配送到店车品/保养订单 运费规则")</span>
    </h2>
    <h3>
        <span>&nbsp;&nbsp;商品类别：</span><label>车品/保养</label>
    </h3>
    <h3>
        <span>&nbsp;&nbsp;配送方式：</span><label>@(ViewBag.Where == "home" ? "配送到家" : "配送到店")</label>
    </h3>
    <h3>
        <span style="color: red;">*</span><span>默认运费：</span>
        @{
            var defaultNoFree = Model.Where(m => (m.Types & 1) == 1 && (m.Types & 8) == 0);
            var defaultFree = Model.Where(m => (m.Types & 1) == 1 && (m.Types & 8) == 8);
            int userType = 1;

            if (defaultNoFree.Any())
            {
                userType = defaultNoFree.FirstOrDefault().UserType;
            }
            if (defaultFree.Any())
            {
                userType = defaultFree.FirstOrDefault().UserType;
            }
            <label>
                每单
                <input type="text" id="paid" name="default" data-pkid="@(defaultNoFree.Any() ? defaultNoFree.FirstOrDefault().PKID : 0)" value="@(defaultNoFree.Any() ? defaultNoFree.FirstOrDefault().Value : 0)" />元
                ，
            </label>
            <label>
                每单满
                <input type="text" id="free" name="default" data-pkid="@(defaultFree.Any() ? defaultFree.FirstOrDefault().PKID : 0)" value="@(defaultFree.Any() ? defaultFree.FirstOrDefault().Value : 0)" />元
                包邮
            </label>
            if (ViewBag.Where != "home")
            {
                <label>
                    ，包邮的订单金额
                    <select id="IsInstallFree">
                        <option value="1" @(Model.Any(m => (m.Types & 1) == 1 && (m.Types & 8) == 8 && (m.Types & 32) == 32) ? "selected" : null)>包含</option>
                        <option value="0" @(Model.Any(m => (m.Types & 1) == 1 && (m.Types & 8) == 8 && (m.Types & 32) == 0) ? "selected" : null)>不包含</option>
                    </select> 安装费
                </label>
            }
        }       
        <label style="font-size:12px;color:#696969;">（除指定地区外,其余地区的运费采用"默认运费"）</label>
    </h3>
</div>
<div style="float:left;clear:both;">
    <div style="margin-top:20px;">
        <label style="font-size: larger; font-weight: bold; color: black;">
            默认文案配置
        </label>
        <p></p>
        <table id="DefaultRule">
            <thead>
                <tr>
                    <th>内容</th>
                    <th>价格</th>
                    @if (ViewBag.Where != "home")
                    {
                        <th>（包/不包）含安装费内容</th>
                    }
                    else
                    {
                        <th>包邮</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    if (Rulelist != null && Rulelist.Any(t => string.IsNullOrEmpty(t.Grade)))
                    {
                        foreach (var item in Rulelist.Where(t => string.IsNullOrEmpty(t.Grade)))
                        {
                            <tr>
                                <td id="@item.PKID">
                                    <input type="text" value="@item.Content" />
                                </td>
                                <td>
                                    <input type="text" disabled="disabled" />
                                    <span>@(item.IsFreeInstall ? "（含安装费）" : "（不含安装费）")</span>
                                </td>
                                <td>
                                    <input type="text" value="@item.ContainInstall" isfreeinstall="@(item.IsFreeInstall ? "true" : "false")" />
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        if (ViewBag.Where != "home")
                        {
                            <tr>
                                <td>
                                    <input type="text" value="" />
                                </td>
                                <td>
                                    <input type="text" disabled="disabled" />
                                    <span>（含安装费）</span>
                                </td>
                                <td>
                                    <input type="text" value="" isfreeinstall="true" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" value="" />
                                </td>
                                <td>
                                    <input type="text" disabled="disabled" />
                                    <span>（不含安装费）</span>
                                </td>
                                <td>
                                    <input type="text" value="" isfreeinstall="false" />
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    <input type="text" value="" />
                                </td>
                                <td>
                                    <input type="text" disabled="disabled" />
                                </td>
                                <td>
                                    <input type="text" value="" isfreeinstall="false" />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    <div style="margin-top:20px;">
        <label style="font-size: larger; font-weight: bold; color: black;">
            新人默认文案配置
        </label>
        <p></p>
        <table id="NewUserDefaultRule">
            <thead>
                <tr>
                    <th>内容</th>
                    <th>价格</th>
                    @if (ViewBag.Where != "home")
                    {
                        <th>（包/不包）含安装费内容</th>
                    }
                    else
                    {
                        <th>包邮</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    if (newUserRuleList.Any(t => string.IsNullOrEmpty(t.Grade)))
                    {
                        foreach (var item in newUserRuleList.Where(t => string.IsNullOrEmpty(t.Grade)))
                        {
                            <tr>
                                <td id="@item.PKID">
                                    <input type="text" value="@item.Content" />
                                </td>
                                <td>
                                    <input type="text" disabled="disabled" />
                                    <span>@(item.IsFreeInstall ? "（含安装费）" : "（不含安装费）")</span>
                                </td>
                                <td>
                                    <input type="text" value="@item.ContainInstall" isfreeinstall="@(item.IsFreeInstall ? "true" : "false")" />
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        if (ViewBag.Where != "home")
                        {
                            <tr>
                                <td>
                                    <input type="text" value="" />
                                </td>
                                <td>
                                    <input type="text" disabled="disabled" />
                                    <span>（含安装费）</span>
                                </td>
                                <td>
                                    <input type="text" value="" isfreeinstall="true" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" value="" />
                                </td>
                                <td>
                                    <input type="text" disabled="disabled" />
                                    <span>（不含安装费）</span>
                                </td>
                                <td>
                                    <input type="text" value="" isfreeinstall="false" />
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    <input type="text" value="" />
                                </td>
                                <td>
                                    <input type="text" disabled="disabled" />
                                </td>
                                <td>
                                    <input type="text" value="" isfreeinstall="false" />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div>
        <p style="margin:20px 0 10px 0;float:left;">
            <input id="userRank" type="checkbox" @(Rulelist.Any(t => !string.IsNullOrEmpty(t.Grade)) ? "checked" : "") /><span>用户等级</span>
        </p>

        <table id="tabRule" style="display:none;">
            <thead>
                <tr>
                    <th>等级</th>
                    <th>内容</th>
                    <th>价格</th>
                    @if (ViewBag.Where != "home")
                    {
                        <th>（包/不包）含安装费内容</th>
                    }
                    else
                    {
                        <th>包邮</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Rulelist != null && Rulelist.Any(t => !string.IsNullOrEmpty(t.Grade)))
                {
                    foreach (var item in Rulelist.Where(t => !string.IsNullOrEmpty(t.Grade)))
                    {
                        <tr>
                            <td>
                                <input type="hidden" value="@item.PKID" />
                                <label>@item.Grade</label>

                            </td>
                            <td>
                                <input type="text" value="@item.Content" />
                            </td>
                            <td>
                                <input type="text" value="@item.Price" />
                            </td>

                            <td>
                                <input type="text" value="@item.ContainInstall" />
                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            <input type="hidden" value="0" /><label>V0</label>
                        </td>
                        <td>
                            <input type="text" value="" />
                        </td>
                        <td>
                            <input type="text" value="" />
                        </td>

                        <td>
                            <input type="text" value="" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" value="0" /><label>V1</label>
                        </td>
                        <td>
                            <input type="text" value="" />
                        </td>
                        <td>
                            <input type="text" value="" />
                        </td>
                        <td>
                            <input type="text" value="" />
                        </td>

                    </tr>
                    <tr>
                        <td><input type="hidden" value="0" /><label>V2</label>  </td>
                        <td>
                            <input type="text" value="" />
                        </td>
                        <td>
                            <input type="text" value="" />
                        </td>
                        <td>
                            <input type="text" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td><input type="hidden" value="0" /><label>V3</label>  </td>
                        <td>
                            <input type="text" value="" />
                        </td>
                        <td>
                            <input type="text" value="" />
                        </td>
                        <td>
                            <input type="text" value="" />
                        </td>

                    </tr>
                    <tr>
                        <td><input type="hidden" value="0" /><label>V4</label>  </td>
                        <td>
                            <input type="text" value="" />
                        </td>
                        <td>
                            <input type="text" value="" />
                        </td>
                        <td>
                            <input type="text" value="" />
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div style="float:left;clear:both;">
    <h3>
        为指定地区城市设置运费:
    </h3>
</div>
<table style="width:100%;" class="no-free" data-cityids="@nofreeCitys">
    <tr>
        <th width="30%">地区和城市</th>
        <th width="13%">编辑</th>
        <th width="13%">运费规则</th>
        <th width="13%">包邮规则</th>
        <th width="13%">人群</th>
        <th width="13%">操作</th>
    </tr>
    @{
        var data = new Dictionary<Tuple<string, int, string>, IEnumerable<ShippingModel>>();
        if (Model.Any(m => (m.Types & 1) == 0 && !string.IsNullOrWhiteSpace(m.StrCityIDs)))
        {
            data = Model.Where(m => (m.Types & 1) == 0 && !string.IsNullOrWhiteSpace(m.StrCityIDs)).GroupBy(p => new { p.StrCityIDs, p.UserType, p.StrCityNames}).
                ToDictionary(t => Tuple.Create(t.Key.StrCityIDs, t.Key.UserType, t.Key.StrCityNames), t => t.Select(o => o));
        }
        foreach (var item in data)
        {
            var noFreeData = item.Value.FirstOrDefault(p => (p.Types & 8) == 0) ?? new ShippingModel();
            var freeData = item.Value.FirstOrDefault(p => (p.Types & 8) == 8) ?? new ShippingModel();
            <tr class="rule">
                <td data-cityids="@(item.Key.Item1 + "|")" id="@("no-free_" + new Random().Next(0, 10000000) + noFreeData.PKID)" style="text-align: -webkit-auto;">
                    @item.Key.Item3
                </td>
                <td><a href="javascript:void(0);" onclick="javascript:ShowRegionDialog(this)" >编辑</a></td>
                <td data-pkid="@noFreeData.PKID">每单<input type="text" name="name" value="@noFreeData.Value" />元</td>
                <td data-pkid="@freeData.PKID">满<input type="text" name="name" value="@(freeData.Value > 0 ? freeData.Value.ToString() : "")"/>元包邮
                    @if (ViewBag.Where != "home")
                    {
                        <label>
                            , <select>
                                <option value="1" @(((freeData.Types & 32) == 32) ? "selected" : "")>包含</option>
                                <option value="0" @(((freeData.Types & 32) == 0) ? "selected" : "")>不包含</option>
                            </select>安装费
                        </label>
                    }
                </td>
                <td>
                    <label>
                        <select>
                            <option value="1" @(item.Key.Item2 == 1 ? "selected" : "")>全部</option>
                            <option value="2" @(item.Key.Item2 == 2 ? "selected" : "")>未下单</option>
                        </select>
                    </label>
                </td>
                <td><a href="javascript:void(0);" onclick="javascript:DelRule(this)">删除</a></td>
            </tr>
        }
    }       
    <tr>
        <td colspan="6"><a href="javascript:void(0);" onclick="javascript:AddDeliveryFeeRule(this)" style="float: left;">+新增规则</a></td>
    </tr>
</table>

<div class="bottom">
    <button type="button" class="btn-primary correctPos" onclick="javascript: Save()">保存</button>
    <button type="button" class="btn-danger correctPos" onclick="javascript: Cancel()">取消</button>
</div>
<div id="AddItem" style="display: none"></div>
<script>


    $("input[type='checkbox']").on("click", function () {
        if (this.checked == true) {
            $(this).next("label").show();
        }
        else {
            $(this).next("label").hide();
        }
    });

    $("#userRank").on('click', function () {
        if (this.checked == true) {
            $("#tabRule").show();
        } else {
            $("#tabRule").hide();
        }
    });
    $(function () {
        if ('@Rulelist.Count(t => !string.IsNullOrEmpty(t.Grade))' > 0) {
            $("#tabRule").show();
        }
    });
    Array.prototype.S = String.fromCharCode(2);
    Array.prototype.in_array = function (e) {
        var r = new RegExp(this.S + e + this.S);
        return (r.test(this.S + this.join(this.S) + this.S));
    };
    var ShowRegionDialog = function (target) {
        var id = "";
        if (typeof ($(target).parent().prev().attr("id")) == "undefined") {
            id = $(target).parent().parent().parent().parent().prop("class") + "_" + new Date().getTime();
            $(target).parent().prev().prop("id", id);
        } else {
            id = $(target).parent().prev().prop("id");
        }
        $("#AddItem").load('/Shipping/Regions?id=' + id);

        $("#AddItem").dialog({
            title: "选择地区",
            width: 750,
            height: 700,
            modal: true
        });
    }

    var AddDeliveryFeeRule = function (target) {
        var html = '<tr class="rule">' +
            '<td data-cityids="" style="text-align: -webkit-auto;"></td>' +
            '<td><a href="javascript:void(0);" onclick="javascript:ShowRegionDialog(this)" >编辑</a></td>' +
            '<td>每单<input type="text" name="name" value=" " />元</td>';
        if ("@ViewBag.Where" != "home") {
            html += '<td>满<input type="text" name="name" value=" " />元包邮' +
            '<label>，<select><option value="1">包含</option><option value="0">不包含</option></select>安装费</label></td>';
        } else {
            html += '<td>满<input type="text" name="name" value=" " />元包邮</td>';
        }
        html += "<td><label><select><option value='1'>全部</option><option value='2' >未下单</option></select></label></td>" +
                '<td><a href="javascript:void(0);" onclick="javascript:DelRule(this)">删除</a></td>' +
                "</tr>";
        $(target).parent().parent().before(html);
    }

    //取消
    var Cancel = function () {
        window.location.href = "/Shipping/Index";
    }

    //删除
    var DelRule = function (target) {
        var IsShopInstall = true;
        if ("@ViewBag.Where" == "home")
            IsShopInstall = false;
        if (!confirm("确认删除这条规则?"))
            return;
        var $tr = $(target).parent().parent();
        var cityids = $tr.find("td:first").attr("data-cityids");

        if (cityids) {
            var allcityids = $("." + $tr.find("td:first").prop("id").split("_")[0]).attr("data-cityids");
            var cityarr = cityids.substr(0, cityids.length - 1).split("|");
            var citysarr = allcityids.substr(0, allcityids.length - 1).split("|");
            var temp = [];
            for (var i = 0; i < citysarr.length; i++) {
                if (!cityarr.in_array(citysarr[i]))
                    temp.push(citysarr[i]);
            }
            var str = "";
            if (temp.length) {
                str = temp.join("|") + "|";
            }
            $("." + $tr.find("td:first").prop("id").split("_")[0]).attr("data-cityids", str);
        }

        var $noFreeData = $tr.find("td").eq(2);
        var $freeData = $tr.find("td").eq(3);
        if ($noFreeData.attr("data-pkid") && $freeData.attr("data-pkid")) {
            $.post("/Shipping/DelRule", { pkid: parseInt($noFreeData.attr("data-pkid")) }, function (result) {
                if (result < 0) {
                    alert("删除失败");
                    return;
                }
                else {
                    $.get("/Shipping/InsertOprLog", { ObjectType: "SetYunFei", ObjectID: IsShopInstall ? 1 : 2, Operation: "删除规则" }, function (data) { });
                    $tr.remove();
                }
            });
            $.post("/Shipping/DelRule", { pkid: parseInt($freeData.attr("data-pkid")) }, function (result) {
                if (result < 0) {
                    alert("删除失败");
                    return;
                }
                else {
                    $.get("/Shipping/InsertOprLog", { ObjectType: "SetYunFei", ObjectID: IsShopInstall ? 1 : 2, Operation: "删除规则" }, function (data) { });
                    $tr.remove();
                }
            });
        }
        else {
            $tr.remove();
        }
    }

    //保存
    var Save = function () {
        //到店到家
        var IsShopInstall = true;
        var isFreeInstall = false;
        if ("@ViewBag.Where" == "home") {
            isFreeInstall = false;
            IsShopInstall = false;
        } else {
            if ($("#IsInstallFree").val() === "1") {
                isFreeInstall = true;
            } else {
                isFreeInstall = false;
            }
        }
        console.log(isFreeInstall);

        var sb = "";
        var arrdata = [];
        //默认
        var defaultFee = $("#paid").val();
        if (parseFloat(defaultFee) + "" == "NaN" || defaultFee == "") {
            alert("默认运费不符合规范");
            return false;
        }
        var o = {};
        if (IsShopInstall)
            o.Types = 1 ^ 0 ^ 4 ^ 0 ^ 0 ^ 0 ^ 0;
        else
            o.Types = 1 ^ 0 ^ 0 ^ 0 ^ 0 ^ 0 ^ 0;
        o.Value = parseFloat(defaultFee);
        var pkid = $("#paid").attr("data-pkid");
        if (pkid)
            o.PKID = parseInt(pkid);
        o.UserType = 1;
        arrdata.push(o);

        var byFee = $("#free").val();
        if (parseFloat(byFee) + "" == "NaN" || byFee == "") {
            alert("默认运费不符合规范");
            return false;
        }
        var oo = {};
        if (IsShopInstall) {
            if ($("#IsInstallFree").val() === "1") {
                oo.Types = 1 ^ 0 ^ 4 ^ 8 ^ 0 ^ 32 ^ 0;
            }
            else {
                oo.Types = 1 ^ 0 ^ 4 ^ 8 ^ 0 ^ 0 ^ 0;
            }
        }
        else
            oo.Types = 1 ^ 0 ^ 0 ^ 8 ^ 0 ^ 0 ^ 0;
        oo.Value = parseFloat(byFee);
        var pkid = $("#free").attr("data-pkid");
        if (pkid)
            oo.PKID = parseInt(pkid);
        oo.UserType = 1;
        arrdata.push(oo);

        //运费
        var yf_rule = $(".no-free").find(".rule");
        if (yf_rule.length) {
            //校验
            var cityIds = [];
            yf_rule.each(function (i) {
                var ids = $(this).find("td:eq(0)").attr("data-cityids");
                if (!ids) {
                    sb += "指定地区运费：第" + (i + 1) + "条规则未选地区与城市\n";
                }
                var value = $(this).find("td:eq(2)>input").val();
                if (parseFloat(value) + "" == "NaN" || value == "") {
                    sb += "第" + (i + 1) + "条规则运费规则不符合规范\n";
                }
                //var freeValue = $(this).find("td:eq(3)>input").val();
                //if (parseFloat(freeValue) + "" == "NaN" || freeValue == "") {
                //    sb += "第" + (i + 1) + "条规则包邮规则不符合规范\n";
                //}
                var freePkid = $(this).find("td:eq(3)").attr("data-pkid");
                var freeValue = $(this).find("td:eq(3)>input").val();
                if (!freePkid || freePkid == 0) {
                    if (freeValue != null && freeValue != "" && !/^[ ]+$/.test(freeValue)) {
                        if (parseFloat(freeValue) + "" == "NaN") {
                            sb += "第" + (i + 1) + "条规则包邮规则不符合规范\n";
                        }
                    }
                } else {
                    if (parseFloat(freeValue) + "" == "NaN" || freeValue == "") {
                        sb += "不能单独删除已有包邮规则\n";
                    }
                }
                var strCityIds = $(this).find("td:eq(0)").attr("data-cityids").substr(0, $(this).find("td:eq(0)").attr("data-cityids").length - 1);
                var userType = $(this).find("td:eq(4)>label>select").val();
                try {
                    strCityIds.split("|").map(function (e) {
                        var obj = {};
                        obj.UserType = userType;
                        obj.CityId = e;
                        var flag = true;
                        cityIds.map(function (o) {
                            if (o.CityId == e && o.UserType == obj.UserType) {
                                sb += "第" + (i + 1) + "条规地区与其他规则有重复\n";
                                flag = false;
                                throw "";
                            }
                        });
                        if (flag) {
                            cityIds.push(obj);
                        }
                    });
                }
                catch (e) {}               
                //$.each(arrdata, function (index) {
                //    if (arrdata[index].StrCityIDs === strCityIds) {
                //        sb += "第" + (i + 1) + "条规地区与其他规则有重复\n";
                //    }
                //});
            });
            if (sb) {
                alert(sb);
                return false;
            }
            //封装保存
            yf_rule.each(function (i) {
                var o = {};
                o.StrCityIDs = $(this).find("td:eq(0)").attr("data-cityids").substr(0, $(this).find("td:eq(0)").attr("data-cityids").length - 1);
                o.Value = parseFloat($(this).find("td:eq(2)>input").val());
                if ($(this).find("td:eq(2)").attr("data-pkid"))
                    o.PKID = parseInt($(this).find("td:eq(2)").attr("data-pkid"));
                if (IsShopInstall)
                    o.Types = 0 ^ 0 ^ 4 ^ 0 ^ 0 ^ 0 ^ 0;
                else
                    o.Types = 0 ^ 0 ^ 0 ^ 0 ^ 0 ^ 0 ^ 0;
                o.UserType = $(this).find("td:eq(4)>label>select").val();
                if (o.Value > 0) {
                    arrdata.push(o);
                }

                var oo = {}
                oo.StrCityIDs = $(this).find("td:eq(0)").attr("data-cityids").substr(0, $(this).find("td:eq(0)").attr("data-cityids").length - 1);
                oo.Value = parseFloat($(this).find("td:eq(3)>input").val());
                if ($(this).find("td:eq(3)").attr("data-pkid"))
                    oo.PKID = parseInt($(this).find("td:eq(3)").attr("data-pkid"));
                if (IsShopInstall) {
                    if ($(this).find("td:eq(3)>label>select").val() === "1") {
                        oo.Types = 0 ^ 0 ^ 4 ^ 8 ^ 0 ^ 32 ^ 0;
                    }
                    else {
                        oo.Types = 0 ^ 0 ^ 4 ^ 8 ^ 0 ^ 0 ^ 0;
                    }
                }
                else
                    oo.Types = 0 ^ 0 ^ 0 ^ 8 ^ 0 ^ 0 ^ 0;
                oo.UserType = $(this).find("td:eq(4)>label>select").val();
                if (oo.Value > 0) {
                    arrdata.push(oo);
                }
            });
        }

        if (arrdata.length > 0) {
            var arrRank = new Array();
            var at = "";
            if ($("#userRank").attr("checked") == "checked") {
                $('#tabRule >tbody> tr').each(function () {
                    var columns = $(this).children();
                    var jsonData = {
                        "PKID": "",
                        "Grade": "",
                        "IsShopInstall": "",
                        "Price": "",
                        "IsFreeInstall": "",
                        "Content": "",
                        "ProductType": "",
                        "ContainInstall": "",
                    };
                    var grade = columns.eq(0).find("label").text();
                    var content = columns.eq(1).find("input[type='text'").val();
                    var price = columns.eq(2).find("input[type='text'").val();
                    var containInstall = columns.eq(3).find("input[type='text'").val();
                    if (content === null || content === "") {
                        at += "用户等级" + grade + "内容未填写\n";
                    }
                    if (parseFloat(price) + "" == "NaN" || price === "") {
                        at += "用户等级" + grade + "价格不符合规范\n";
                    }
                    if (containInstall === null || containInstall === "") {
                        if (IsShopInstall) {
                            at += "用户等级" + grade + "是否包含安装费内容未填写\n";
                        } else {
                            at += "用户等级" + grade + "是否包邮未填写\n";
                        }
                    }
                    var pkid = columns.eq(0).find("input[type='hidden'").val();
                    jsonData.PKID = pkid != null && pkid != "" ? pkid : 0;
                    jsonData.Grade = grade;
                    jsonData.IsShopInstall = IsShopInstall;
                    jsonData.Content = content;
                    jsonData.Price = price;
                    jsonData.ContainInstall = containInstall;
                    jsonData.IsFreeInstall = isFreeInstall;
                    jsonData.ProductType = 1;

                    arrRank.push(jsonData);
                });
            }
            $('#DefaultRule >tbody> tr').each(function () {
                var columns = $(this).children();
                var jsonData = {
                    "PKID": "",
                    "Grade": "",
                    "IsShopInstall": "",
                    "Price": "",
                    "IsFreeInstall": "",
                    "Content": "",
                    "ProductType": "",
                    "ContainInstall": "",
                    "UserType":1,
                };
                var isFreeInstall1 = false;
                if (IsShopInstall) {
                    var pro = columns.eq(2).find("input[type='text'").attr("isfreeinstall");
                    if (pro === "true") {
                        isFreeInstall1 = true;
                    }
                }
                var grade = null;
                var content = columns.eq(0).find("input[type='text'").val();
                var price = 0;
                var containInstall = columns.eq(2).find("input[type='text'").val();
                if (content === null || content === "") {
                    at += "内容未填写\n";
                }
                if (containInstall === null || containInstall === "") {
                    if (IsShopInstall) {
                        at += "（包/不包）含安装费内容未填写\n";
                    } else {
                        at += "包邮未填写\n";
                    }
                }
                var pkid = columns.eq(0).attr("id");
                jsonData.PKID = pkid != null && pkid != "" ? pkid : 0;
                jsonData.Grade = grade;
                jsonData.IsShopInstall = IsShopInstall;
                jsonData.Content = content;
                jsonData.Price = price;
                jsonData.ContainInstall = containInstall;
                jsonData.IsFreeInstall = isFreeInstall1;
                jsonData.ProductType = 1;

                arrRank.push(jsonData);
            });
            $('#NewUserDefaultRule >tbody> tr').each(function () {
                var columns = $(this).children();
                var jsonData = {
                    "PKID": "",
                    "Grade": "",
                    "IsShopInstall": "",
                    "Price": "",
                    "IsFreeInstall": "",
                    "Content": "",
                    "ProductType": "",
                    "ContainInstall": "",
                    "UserType": 2,
                };
                var isFreeInstall1 = false;
                if (IsShopInstall) {
                    var pro = columns.eq(2).find("input[type='text'").attr("isfreeinstall");
                    if (pro === "true") {
                        isFreeInstall1 = true;
                    }
                }
                var grade = null;
                var content = columns.eq(0).find("input[type='text'").val();
                var price = 0;
                var containInstall = columns.eq(2).find("input[type='text'").val();
                if (content === null || content === "") {
                    at += "内容未填写\n";
                }
                if (containInstall === null || containInstall === "") {
                    if (IsShopInstall) {
                        at += "（包/不包）含安装费内容未填写\n";
                    } else {
                        at += "包邮未填写\n";
                    }
                }
                var pkid = columns.eq(0).attr("id");
                jsonData.PKID = pkid != null && pkid != "" ? pkid : 0;
                jsonData.Grade = grade;
                jsonData.IsShopInstall = IsShopInstall;
                jsonData.Content = content;
                jsonData.Price = price;
                jsonData.ContainInstall = containInstall;
                jsonData.IsFreeInstall = isFreeInstall1;
                jsonData.ProductType = 1;

                arrRank.push(jsonData);
            });
        }
        console.log(JSON.stringify(arrRank));
        if (at) {
            alert(at);
            return false;
        }

        $.ajax(
       {
           url: "/Shipping/InsertAndUpdateaRule",
           type: "post",
           datatype: "json",
           data: {
               data: JSON.stringify(arrdata),
               rank: JSON.stringify(arrRank),
               status: $("#userRank").attr("checked") == "checked" ? "True" : "False",
               IsShopInstall: IsShopInstall,
               ProductType: 1
           },
           success: function (result) {
               if (result > 0) {
                   $.get("/Shipping/InsertOprLog", { ObjectType: "SetYunFei", ObjectID: IsShopInstall ? 3 : 4, Operation: "保存规则" }, function (data) { });
                   location.href = "/Shipping/Index";
               }
               else {
                   console.log(result);
                   alert("保存失败");
               }
           }
       });
    }
</script>
