@using Tuhu.Provisioning.Models
@model Tuhu.Component.Common.Models.ListModel<Tuhu.Provisioning.DataAccess.Entity.BaoYangPackageImageConfig>
@{
    Layout = null;
    int updateid = 0;
    var updateid2 = "";
}
<div>
    <table style="width:100%;margin-top:20px;">
        <thead>
            <tr>
                <th>ID</th>
                <th>PID</th>
                <th style="width:200px;">DisplayName</th>
                <th>编辑时间</th>
                <th>Image</th>
                <th>Image2</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                updateid++;
                updateid2 = "0_" + updateid;
                <tr>
                    <td>@item.Id</td>
                    <td>@item.PID</td>
                    <td>@item.DisplayName</td>
                    <td>@item.CreateTime</td>
                    <td>                       
                        <img height="50" class="vwPicture" src="@item.Image" />
                        <input type="hidden" name="image" class="image" value="@item.Image" />
                        <form method="post" action="" enctype="multipart/form-data">
                            <input style="width:150px;" type="file" onchange="Edit.UploadImg(this)" id="@updateid" name="@updateid" />
                        </form>
                    </td>
                    <td>
                        <img height="50" class="vwPicture" src="@item.Image2" />
                        <input type="hidden" name="image2" class="image" value="@item.Image2" />
                        <form method="post" action="" enctype="multipart/form-data">
                            <input style="width:150px;" type="file" onchange="Edit.UploadImg(this)" id="@updateid2" name="@updateid2" />
                        </form>
                    </td>
                    <td>
                        <a href="javascript:;" onclick="BaoYangPackageImageConfig.Update(@item.Id,'@item.PID',this)">保存</a><br />
                        <a href="javascript:;" onclick="BaoYangPackageImageConfig.Delete(@item.Id)">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @Html.Pager(Model.Pager, pageIndex => Url.RouteUrl(new { pageIndex }))
</div>

<script>
    var Edit = {
        "UploadImg": function (e) {
            var $e = $(e);
            var $ee = $e.parent().parent().find("img");
            var $smallImage = $e.parent().parent().find("input[class='smallImage']");
            var $image = $e.parent().parent().find("input[class='image']");
            $.ajaxFileUpload({
                url: '/Article/AddArticleImg2',
                secureuri: false,
                fileElementId: $e.attr("id"),
                dataType: 'json',
                data: {},
                type: "post",
                success: function (result) {
                    if (result.BImage != "" && result.SImage != "") {
                        $ee.attr("src", result.SImage);
                        $(".vwPicture").show();
                        $smallImage.val(result.SImage);
                        $image.val(result.BImage);
                    } else {
                        alert("上传失败！");
                    }
                }
            });
        }
    }

</script>