@using Newtonsoft.Json;
@model Tuhu.Provisioning.DataAccess.Entity.VIPAuthorizationExchangeCodeConfig
@{
    List<Tuhu.Provisioning.DataAccess.Entity.VIPAuthorizationRuleConfig> rulelist = ViewBag.RuleList;
    Layout = null;
}

<style>
    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    a {
        color: cornflowerblue;
    }
</style>
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>

<form action="/VIPAuthorizationExchangeCodeConfig/Edit" method="post">
    <input type="hidden" value="@Model.ExchangeCode" name="Id" />
    <div>
        <table id="table1" style="width:100%">

            <tr>
                <td>VIP权限规则</td>
                <td>
                    <select name="VIPAuthorizationRuleId">
                        @foreach (var item in rulelist)
                        {
                            <option value="@item.Id">@item.RuleName </option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>数量</td>
                <td>
                    <input type="number" value="@Model.SumNum" name="SumNum" min="1" max="2000" required="required" />
                </td>
            </tr>
            <tr>
                <td>兑换码结束时间</td>
                <td>
                    <input type="datetime-local" value="@(Model.EndTime.Value.ToString("yyyy-MM-dd HH:mm:ss"))" name="EndTime" />
                </td>
            </tr>
        </table>

        <input type="submit" value="生成兑换码" class="btn" />
    </div>
</form>
