@using Tuhu.Provisioning.Models
@model Tuhu.Component.Common.Models.ListModel<Tuhu.Provisioning.DataAccess.Entity.VIPAuthorizationExchangeCodeConfig>
@{
    Layout = null;
}
<div>
    <table style="width:100%;margin-top:20px;">
        <thead>
            <tr>
                <th>批次</th>
                <th>兑换码</th> 
                <th>生成时间</th>
                <th>兑换码结束时间</th>
                <th>VIP权限规则名称</th>
                <th>状态</th>               
                @*<th>操作</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.GroupBy(x => x.CodeBatch))
            {
                <tr>
                    <td rowspan="@(item.ToList().Count()+1)" align="center">@item.ToList()[0].CodeBatch</td>
                </tr>

                foreach (var item1 in item.ToList())
                {
                    <tr>                  
                        <td>@item1.ExchangeCode</td>
                        <td>@item1.CreateTime</td>
                        <td>@item1.EndTime</td>
                        <td>@item1.RuleName</td>
                        <td>@item1.Status</td>
                        @*<td>
                            <a href="javascript:;" onclick="VIPAuthorizationExchangeCodeConfig.Update(@item1.ExchangeCode)">编辑</a><br />
                            <a href="javascript:;" onclick="VIPAuthorizationExchangeCodeConfig.Delete(@item1.ExchangeCode)">删除</a>
                        </td>*@
                    </tr>
                }

            }
        </tbody>
    </table>
</div>

<div>
    @Html.Pager(Model.Pager, pageIndex => Url.RouteUrl(new { pageIndex }))
</div>
<div id="AddItem"></div>
