
@model Tuhu.Provisioning.DataAccess.Entity.RulesDictionaryConfig
@{
    ViewBag.Title = "规则文案配置";
    Layout = "~/Views/Shared/_PersonalCenterLeft.cshtml";
}

<h2 id="titleh2"></h2>

<style>
    body {
        font-family: "Microsoft Yahei";
    }

    textarea {
        width: 100px;
        height: 100px;
    }

    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: cornflowerblue;
        border: solid 1px cornflowerblue;
    }

    td {
        width: 250px;
    }
</style>

<div>
    <a href="javascript:void(0)" class="btn" onclick="RulesDictionaryConfig.Add()">添加</a>
</div>
<div>
    <table style="width:100%;margin-top:20px;">
        <thead>
            <tr>
                <th style="width:10%;">Id</th>
                <th style="width:60%">内容</th>
                <th style="width:10%">更新时间</th>
                <th style="width:10%">状态</th>
                <th style="width:10%">操作</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                @if (Model != null)
                {
                    <td style="height:200px">@Model.Id</td>
                    <td><textarea style="width:100%;height:100%" readonly="readonly">@Model.Content</textarea></td>
                    <td>@Model.CreateTime</td>
                    <td>@(Model.Status ? "启用" : "禁用")</td>
                    <td>
                        <a href="javascript:;" onclick="RulesDictionaryConfig.Update(@Model.Id)">编辑</a>&nbsp;&nbsp;

                        <a href="javascript:;" onclick="RulesDictionaryConfig.Delete(@Model.Id)">删除</a>
                    </td>
                }
            </tr>

        </tbody>
    </table>
</div>

<div id="AddItem"></div>
<script>


    var type = "";
    $(function () {
        type = RulesDictionaryConfig.GetQueryString("type")
        if (type == "1") {
            $("#titleh2").html("VIP规则配置");
            document.title="VIP规则配置";
        } else if (type == "2") {
            $("#titleh2").html("VIP兑换码规则配置");
            document.title="VIP兑换码规则配置";
        }else if(type == "3"){
            document.title="会员升级规则";
        }
    })
  
    var RulesDictionaryConfig = {
        "GetQueryString":function(name){
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return decodeURIComponent(r[2]); return null;
        },
        "Add": function () {
            $("#AddItem").load('/RulesDictionaryConfig/Edit?id=0&type=' + type);
            $("#AddItem").dialog({
                title: "添加",
                width: 600,
                height: 500,
                modal: true
            });
        },
        "Update": function (id) {
            $("#AddItem").load('/RulesDictionaryConfig/Edit?id=' + id + "&type=" + type);
            $("#AddItem").dialog({
                title: "修改",
                width: 600,
                height: 500,
                modal: true
            });
        },
        "Delete": function (id) {
            if (window.confirm("您确定要删除吗？")) {
                $.ajax({
                    type: "POST",
                    url: "/RulesDictionaryConfig/Delete",
                    data: { "id": id },
                    dataType: "json",
                    success: function (result) {
                        if (result) {
                            window.location.href = "/RulesDictionaryConfig/Index";
                        }
                        else {
                            alert("删除失败！");
                        }
                    },
                    error: function (result) {
                    }
                })
            }
        },
        "Save": function (type) {
            $.ajax({
                type: "POST",
                url: "/RulesDictionaryConfig/Edit",
                data: {
                    "Id": $("#Id").val(),
                    "Type": type,
                    "Content": $("#Content").val(),
                    "Status": $("input[name=Status]:checked").val()
                },
                dataType: "json",
                success: function (result) {
                    if (result) {
                        window.location.href = "/RulesDictionaryConfig/Index?type=" + type;
                    }
                    else {
                        alert("保存失败");
                    }
                },
                error: function (result) {
                }
            })
        }
    }
</script>
