@using Tuhu.Provisioning.Models
@using Tuhu.Provisioning.Business;
@using Tuhu.Provisioning.DataAccess.Entity;
@using Newtonsoft.Json
@model Tuhu.Component.Common.Models.ListModel<MeiRongAcitivityConfig>
@{
    Layout = null;
}
<div>
    <table style="width:100%;margin-top:20px;">
        <thead>
            <tr>
                <th>活动Id</th>
                <th>活动名称</th>
                <th>活动类目</th>
                <th>活动价格</th>
                <th>活动限量</th>
                <th>报名门店数</th>
                <th>报名时间</th>
                <th>计划起止时间</th>
                <th>实际开始时间</th>
                <th>生效状态</th>
                <th>管理</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.CategoryName</td>
                    <td>@item.MinPrice  / @item.MaxPrice</td>
                    <td>@item.EverydayQuantity</td>
                    <td>@item.MinShopQuantity</td>
                    <td>@item.SignUpStartTime  —<br /> @item.SignUpEndTime</td>
                    <td>@item.PlanStartTime —<br /> @item.ActivityEndTime</td>
                    <td>@item.ActivityStartTime</td>
                    <td>@(item.Status == 1 ? "启用" : "禁用")</td>
                    <td>
                        <a href="javascript:;" onclick="Update(@item.Id)">编辑</a><br />
                        @if (!item.ActivityStartTime.HasValue)
                        {
                            <a href="javascript:;" onclick="CompelStart(@item.Id)">强制开启</a><br />
                        }
                        <a href="javascript:;" onclick="Delete(@item.Id)">删除</a><br />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @Html.Pager(Model.Pager, pageIndex => Url.RouteUrl(new { pageIndex }))
</div>
<div id="AddItem"></div>
