@model Tuhu.Provisioning.DataAccess.Entity.SE_MDBeautyPartConfigModel

@{
    Layout = null;
}

@using (Html.BeginForm("Save", "SE_MDBeautyPartConfig",FormMethod.Post,new { @id = Model.Id})) {
    @Html.HiddenFor(model => model.Id)
    <table>
        <tr>
            <td>项目名称:</td>
            <td>@Html.TextBoxFor(model => model.Name, new { maxlength = 50, placeholder = "项目名称", @style = "width:200px;" })</td>
        </tr>
        <tr>
            <td>显示顺序:</td>
            <td>@Html.EditorFor(model => model.Soft)</td>
        </tr>
        <tr>
            <td>H5 URL:</td>
            <td>@Html.TextBoxFor(model => model.H5URL, new { maxlength = 500, placeholder = "详请介绍页面URL", @style = "width:200px;" })</td>
        </tr>
        <tr>
            <td> 关联自营类目:</td>
            <td>
                <ul id="treeInteriorCategorys" class="ztree"></ul>
                @Html.HiddenFor(model => model.InteriorCategorys, new { maxlength = 500 })
            </td>
        </tr>
        <tr>
            <td>关联门店类目:</td>
            <td>
                <ul id="treeExternalCategorys" class="ztree"></ul>
                @Html.HiddenFor(model => model.ExternalCategorys, new { maxlength = 500 })
            </td>
        </tr>
        <tr>
            <td>是否显示:</td>
            <td>@Html.CheckBoxFor(model => model.IsShow, false)</td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="保存" />
            </td>
        </tr>
    </table>
}
<script type="text/javascript">
    var _SelectInteriorCategorys,
        _SelectExternalCategorys,
        InteriorCategorysJson = @Html.Raw(ViewBag.InteriorCategorys ?? "[]"),
        ExternalCategorysJson = @Html.Raw(ViewBag.ExternalCategorys ?? "[]");

    var SE_MDBeautyPartConfigConfig = function (jsonData, defaultElement, isCheckParent) {
        var self = this;
        this.setting = {
            check: !isCheckParent
                    ? { enable: true, chkStyle: "radio", radioType: "all" }
                    : { enable: true, chkboxType: { "Y": "", "N": "" } },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                onCheck: function () {
                    var ids = [];
                    if (defaultElement.indexOf("InteriorCategorys") >= 0) {
                        _SelectInteriorCategorys = self.getItems();
                        $(_SelectInteriorCategorys).each(function (i, item) {
                            ids.push(item.id);
                        });
                        $("#InteriorCategorys").val(ids);
                    }
                    else {
                        _SelectExternalCategorys = self.getItems();
                        $(_SelectExternalCategorys).each(function (i, item) {
                            ids.push(item.id);
                        });
                        $("#ExternalCategorys").val(ids.join(","));
                    }
                },
                beforeCheck: function zTreeBeforeClick(treeId, treeNode, clickFlag) {
                    if (isCheckParent == false) {
                        return !treeNode.isParent;
                    }
                }
            }
        },
        this.zTreeJson = jsonData || [],
        this.zTreeInit = function () {
            $.fn.zTree.init($("#" + defaultElement), this.setting, this.zTreeJson);
        },
        this.getItems = function () {
            return $.fn.zTree.getZTreeObj(defaultElement).getCheckedNodes(true);
        },
        this.expandAll = function (isExpandAll) {
            $.fn.zTree.getZTreeObj(defaultElement).expandAll(isExpandAll || false);
        },
        this.checkAllTree = function (ischecks) {
            $.fn.zTree.getZTreeObj(defaultElement).checkAllNodes(ischecks || false);
            self.setting.callback.onCheck();
        }
    };

    new SE_MDBeautyPartConfigConfig(InteriorCategorysJson, "treeInteriorCategorys", true).zTreeInit();
    new SE_MDBeautyPartConfigConfig(ExternalCategorysJson, "treeExternalCategorys", true).zTreeInit();
</script>