@model Tuhu.Provisioning.DataAccess.Entity.ShareOrderConfig
@{
    Layout = null;
}

<style>
    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    a {
        color: cornflowerblue;
    }

    input[type='text'] {
        width: 250px;
    }
</style>
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>

<form action="/ShareOrderConfig/Edit" method="post">
    <input type="hidden" value="@Model.Id" name="Id" />
    <div>
        <table>
            <tr>
                <td style="width:30%">全部订单提示文案</td>
                <td style="width:70%">

                    <input type="text" value="@Model.Prompt" name="Prompt" maxlength="4" placeholder="最多4个字符" />
                </td>
            </tr>
            <tr>
                <td>订单详情页按钮文案</td>
                <td>
                    <input type="text" value="@Model.ButtonValue" name="ButtonValue" maxlength="6" placeholder="最多6个字符" />
                </td>
            </tr>
            <tr>
                <td>预览活动简介</td>
                <td><input type="text" value="@Model.PreviewIntroduce" name="PreviewIntroduce" maxlength="15" placeholder="最多15个字符" /></td>
            </tr>
            <tr>
                <td>晒单图片活动介绍</td>
                <td>
                    <img height="50" class="vwPicture" src="@Model.Image" />

                    <form method="post" action="" enctype="multipart/form-data">
                        <input style="width:150px;" type="file" onchange="UploadImg(this)" id="2" name="2" />
                    </form>
                    <input type="text" name="Image" class="image" value="@Model.Image" />
                </td>
            </tr>
            <tr>
                <td>二维码活动介绍</td>
                <td><input type="text" value="@Model.QRCodeIntroduce" name="QRCodeIntroduce" maxlength="10" placeholder="最多10个字符" /></td>
            </tr>
            <tr>
                <td>二维码活动链接</td>
                <td><input type="text" value="@Model.QRCodeLink" name="QRCodeLink" /></td>
            </tr>
            <tr>
                <td>状态</td>
                <td>
                    @Html.RadioButtonFor(m => m.Status, true) 启用
                    @Html.RadioButtonFor(m => m.Status, false) 禁用
                </td>
            </tr>
            <tr>
                <td>IOS开始版本</td>
                <td>
                    <input type="text" value="@Model.IOSStartVersions" name="IOSStartVersions" />
                </td>
            </tr>
            <tr>
                <td>IOS结束版本</td>
                <td>
                    <input type="text" value="@Model.IOSEndVersions" name="IOSEndVersions" />
                </td>
            </tr>
            <tr>
                <td>Android开始版本</td>
                <td>
                    <input type="text" value="@Model.AndroidStartVersions" name="AndroidStartVersions" />
                </td>
            </tr>
            <tr>
                <td>Android结束版本</td>
                <td>
                    <input type="text" value="@Model.AndroidEndVersions" name="AndroidEndVersions" />
                </td>
            </tr>
            <tr>
                <td>万能跳转</td>
                <td>
                    <textarea name="AppLink" style="width:350px;">@Model.AppLink</textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="保存" class="btn" /></td>
            </tr>
        </table>
    </div>
</form>
<script>
    function UploadImg(e) {
        var $e = $(e);
        var $ee = $e.parents("tr").find("td").eq(1).find("img");
        var $smallImage = $e.parents("tr").find("td").eq(1).find("input[class='smallImage']");
        var $image = $e.parents("tr").find("td").eq(1).find("input[class='image']");
        $.ajaxFileUpload({
            url: '/Article/AddArticleImg2',
            secureuri: false,
            fileElementId: $e.attr("id"),
            dataType: 'json',
            data: {},
            type: "post",
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $ee.attr("src", result.SImage);
                    $(".vwPicture").show();
                    $smallImage.val(result.SImage);
                    $image.val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            }
        })
    }
</script>