@{
    ViewBag.Title = "ArticleEdit";
    Layout = null;
}
@model Tuhu.Provisioning.DataAccess.Entity.SE_DecorativePatternDetail

<form id="ArticleEditForm">
    <table width="100%">
        <tr>
            <td>文章ID：</td>
            <td>
                <input type="text" id="ArticleID" style="width:300px;" name="ArticleID" value="@(Model.ArticleID == 0?"":Model.ArticleID.ToString())" onblur="ArticleValidate(this, 'ArticleEditForm')"/>
            </td>
        </tr>
        <tr>
            <td>文章标题:</td>
            <td>
                <input type="text" id="ArticleTitle" style="width:300px;" name="ArticleTitle" value="@Model.ArticleTitle"/>
            </td>
        </tr>
        <tr>
            <td>图片:</td>
            <td>
                @if (string.IsNullOrWhiteSpace(Model.Image))
                {
                    <img id="imgS" width="30" height="30"  />
                }
                else
                {
                    <img id="imgS" src="@Model.Image" width="30" height="30" />
                }
              
                <input type="file" id="fileImage" name="fileImage" onchange="Upload(this, 'imgS', 'Image')"/>
                <input type="hidden" id="Image" name="Image" value="@Model.Image" />
            </td>
        </tr>
        <tr>
            <td>描述:</td>
            <td>
                <textarea id="Description1" name="Description1" style="width:350px;height:114px; font-size:12px; overflow:hidden;">@Model.Description</textarea>
            </td>
        </tr>
        <tr>
            <td>排序:</td>
            <td>
                    <input type="number" id="OrderBy" name="OrderBy" value="@Model.OrderBy" />
            </td>
        </tr>
    </table>
</form>

