@model  Tuple<GroupBuyingListModel, List<GroupProductDetail>,int>
@using Tuhu.Provisioning.Models.GroupBuyingV2;
@{
    Layout = null;
    var labelCount = Model.Item1.Label != null ? Model.Item1.Label.Split(';').Length : 0;
    var productCount = Model.Item2.Count();
    var labelList = new List<string> {"优惠券团", "抽奖团", "1分团", "低价团", "精品团"};
}
<input type="text" hidden="hidden" id="ProductGroupId" value="@Model.Item1.ProductGroupId" />
<form id="form1" name="form1" enctype="multipart/form-data" method="post">
    <input type="file" id="file" name="file" style="display:none" />
</form>
<form id="form2" name="form2" enctype="multipart/form-data" method="post">
    <input type="file" id="file2" name="file2" style="display:none" />
</form>
<table id="EditTable">
    <tr>
        <td colspan="2" style="color:red">基本配置</td>
    </tr>
    <tr>
        <td>GroupId</td>
        <td>
            <input type="text" readonly="readonly" value="@(Model.Item3 == 1 ? Model.Item1.ProductGroupId : null)" />
            <label style="color:darkgrey">后台自动生成</label>
        </td>
    </tr>
    <tr>
        <td>上下架时间(*)</td>
        <td>
            <input type="text" id="BeginTime" style="width:auto" value="@(Model.Item1.BeginTime ?? null)" /><label style="color:darkgrey">上架时间</label>
            <br /><br /><input type="text" id="EndTime" style="width:auto" value="@(Model.Item1.EndTime ?? null)" /><label style="color:darkgrey">下架时间</label>
        </td>
    </tr>
    <tr>
        <td>是否用于列表页展示</td>
        <td>显示&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" checked=@(Model.Item1.IsShow ? "checked" : null) name="isShow" id="IsShow" /></td>
    </tr>
    @*<tr>
            <td>是否允许使用优惠券</td>
            <td>允许&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" checked=@(Model.Item1.ApplyCoupon ? "checked" : null) name="applyCoupon" id="ApplyCoupon" /></td>
        </tr>*@
    <tr>
        <td>拼团人数(*)</td>
        <td><input type="text" id="GroupNum" value="@(Model.Item1.MemberCount ?? null)" readonly=@(Model.Item3 == 1 ? "readonly" : null) /><label style="color:darkgrey">2-8的正整数</label></td>
    </tr>
    <tr>
        <td>拼团类型(*)</td>
        <td>
            <select id="GroupType" @(Model.Item3 == 1 ? "disabled" : "")>
                <option value="0" @(Model.Item1.GroupType == 0 ? "selected='selected'" : null)>普通团</option>
                <option value="1" @(Model.Item1.GroupType == 1 ? "selected='selected'" : null)>新人团</option>
                <option value="2" @(Model.Item1.GroupType == 2 ? "selected='selected'" : null)>团长特价</option>
                <option value="3" @(Model.Item1.GroupType == 3 ? "selected='selected'" : null)>团长免单</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>团库存上限(*)</td>
        <td><input type="text" id="TotalGroupCount" value="@(Model.Item1.TotalGroupCount ?? null)"/></td>
    </tr>
    <tr>
        <td>已消耗团库存(*)</td>
        <td><input type="text" id="CurrentGroupCount" value="@(Model.Item1.CurrentGroupCount ?? null)" readonly="readonly" /></td>
    </tr>
    <tr>
        <td>特定人群</td>
        <td><input type="number" id="SpecialUserTag" value="@(Model.Item1.SpecialUserTag)"></td>
    </tr>
    <tr>
        <td colspan="2" style="color:red">显示配置</td>
    </tr>
    <tr>
        <td>首页显示顺序(*)</td>
        <td><input type="text" id="Sequence" value="@(Model.Item1.Sequence ?? null)" /><label style="color:darkgrey">数字越大显示越靠前</label></td>
    </tr>
    <tr>
        <td>渠道(*)</td>
        <td>
            <label>
                <input type="checkbox" class="Channel" value="kH5" checked=@(Model.Item1.Channel == null ? null: (Model.Item1.Channel.Contains("kH5") ? "checked":null))> H5
            </label>
            <label>
                <input type="checkbox" class="Channel" value="WXAPP" checked=@(Model.Item1.Channel == null ? null:(Model.Item1.Channel.Contains("WXAPP") ? "checked" : null))> 微信小程序
            </label>
        </td>
    </tr>
    <tr>
        <td>首页宣传图片</td>
        <td>
            <img height="40" src="@Model.Item1.Image" id="Image" style="width:200px;height:100px;" /><br />
            <input type="button" value="上传图片" onclick="UploadImage('file')" />
            @*<span class="errormsg headimgerror"></span>*@
            <button onclick="$('#Image').attr('src','')">清除图片</button>
        </td>
    </tr>
    <tr>
        <td>分享图片</td>
        <td>
            <img height="40" src="@Model.Item1.ShareImage" id="ShareImage" style="width:200px;height:100px;" /><br />
            <input type="button" value="上传图片" onclick="UploadImage('file2')" />
            @*<span class="errormsg headimgerror"></span>*@
            <button onclick="$('#Image').attr('src','')">清除图片</button>
        </td>
    </tr>
    <tr>
        <td>分享文案</td>
        <td><input type="text" value="@Model.Item1.ShareId" id="ShareId" style="width:350px;" /></td>
    </tr>

    <tr>
        <td>拼团种类(*)</td>
        <td>
            <select id="groupCategory" @(Model.Item3 == 1 ? "disabled" : "")>
                <option value="0" @(Model.Item1.GroupCategory == 0 ? "selected='selected'" : null)>普通拼团</option>
                <option value="1" @(Model.Item1.GroupCategory == 1 ? "selected='selected'" : null)>抽奖拼团</option>
                <option value="2" @(Model.Item1.GroupCategory == 2 ? "selected='selected'" : null)>优惠券拼团</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>抽奖规则描述</td>
        <td>
            <textarea id="groupDescription" style="width:350px;">@Model.Item1.GroupDescription</textarea>
        </td>
    </tr>

    <tr>
        <td>商品运营标签</td>
        <td>
            <select id="Label">
                @if (!labelList.Contains(Model.Item1.Label))
                {
                    <option value="" selected="selected">未选择</option>
                }
                <option value="精品团" selected=@(Model.Item1.Label == "精品团" ? "selected":null)>精品团</option>
                <option value="低价团" selected=@(Model.Item1.Label== "低价团"? "selected":null)>低价团</option>
                <option value="1分团" selected=@(Model.Item1.Label== "1分团"? "selected":null)>1分团</option>
                <option value="优惠券团" selected=@(Model.Item1.Label== "优惠券团" ? "selected":null)>优惠券团</option>
                <option value="抽奖团" selected=@(Model.Item1.Label== "抽奖团" ? "selected":null)>抽奖团</option>
            </select>
        </td>
    </tr>

    <tr>
        <td colspan="2" style="color:red">商品配置</td>
    </tr>
    @{
        if (Model.Item2 != null && Model.Item2.Any())
        {
            int i = 1;
            foreach (GroupProductDetail item in Model.Item2)
            {
                <tr name="product_@i" @(i > 1 ? "class=pids" : null)>
                    <td>商品PID(*)</td>
                    <td><input type="text" value="@item.PID" id="pid_@i" name="PID" onmouseout="GetAllProducts()" readonly=@(Model.Item3 == 1 ? "readonly" : null) @(i > 1 ? "readonly='readonly'" : null) />&nbsp;&nbsp;&nbsp;是否用于默认展示<input type="checkbox" @(item.DisPlay ? "checked" : null) name="showDetail" id="DisPlay_@i" /></td>
                </tr>
                <tr name="product_@i" @(i > 1 ? "class=pids" : null)>
                    <td>商品名称</td>
                    <td><input type="text" id="productName_@i" value="@item.ProductName" style="width:350px;" /></td>
                </tr>
                <tr name="product_@i" @(i > 1 ? "class=pids" : null)>
                    <td>每单限购数量</td>
                    <td><input type="number" id="upperLimit_@i" min="1" value="@item.UpperLimitPerOrder" style="width:350px;" /></td>
                </tr>
                <tr name="product_@i" @(i > 1 ? "class=pids" : null)>
                    <td>每人限购单数</td>
                    <td><input type="number" id="buyLimit_@i" min="0" value="@item.BuyLimitCount" style="width:350px;" /></td>
                </tr>
                <tr name="product_@i" @(i>1?  "class=pids":null)>
                    <td>是否允许使用优惠券</td>
                    <td>允许&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" checked=@(item.UseCoupon ? "checked" : null) name="applyCoupon" id="ApplyCoupon_@i" /></td>
                </tr>
                <tr name="product_@i" @(i > 1 ? "class=pids" : null)>
                    <td>是否显示（至少有一个商品显示）</td>
                    <td>允许&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" checked=@(item.IsShow ? "checked" : null) name="allowShow" id="allowShow_@i" /></td>
                </tr>
                <tr name="product_@i" @(i > 1 ? "class=pids" : null)>
                    <td>商品售价(*)</td>
                    <td><input type="text" id="OriginalPrice_@i" value="@item.OriginalPrice" /></td>
                </tr>
                <tr name="product_@i" @(i > 1 ? "class=pids" : null)>
                    <td>商品活动价(*)</td>
                    <td><input type="text" id="FinalPrice_@i" value="@item.FinalPrice" /></td>
                </tr>
                <tr name="product_@i" @(i > 1 ? "class=pids" : null)>
                    <td>商品团长价(*)</td>
                    <td><input type="text" id="SpecialPrice_@i" value="@item.SpecialPrice" /></td>
                </tr>
                i++;
            }
        }
        else
        {
            <tr name="product_1">
                <td>商品PID(*)</td>
                <td><input type="text" value="" id="pid_1" name="PID" readonly=@(Model.Item3 == 1 ? "readonly" : null) onblur="GetAllProducts()" />&nbsp;&nbsp;&nbsp;是否用于默认展示<input type="checkbox" checked="checked" name="showDetail" id="DisPlay_1" /></td>
            </tr>
            <tr name="product_1">
                <td>商品名称</td>
                <td><input type="text" id="productName_1" style="width:350px;" /></td>
            </tr>
            <tr name="product_1">
                <td>每单限购数量</td>
                <td><input type="number" id="upperLimit_1" min="1" style="width:350px;" /></td>
            </tr>
            <tr name="product_1" >
                <td>每人限购单数</td>
                <td><input type="number" id="buyLimit_1" min="0" style="width:350px;" /></td>
            </tr>
            <tr name="product_1">
                <td>是否允许使用优惠券</td>
                <td>允许&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="applyCoupon" id="ApplyCoupon_1" /></td>
            </tr>
            <tr name="product_1">
                <td>是否显示（至少有一个商品显示）</td>
                <td>允许&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="allowShow" id="allowShow_1" /></td>
            </tr>
            <tr name="product_1">
                <td>商品售价(*)</td>
                <td><input type="text" id="OriginalPrice_1" /></td>
            </tr>
            <tr name="product_1">
                <td>商品活动价(*)</td>
                <td><input type="text" id="FinalPrice_1"/></td>
            </tr>
            <tr name="product_1">
                <td>商品团长价(*)</td>
                <td><input type="text" id="SpecialPrice_1" /></td>
            </tr>
        }
    }
</table>
<script src="~/Scripts/ajaxfileupload.js"></script>
<script src="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.js"></script>
<script>

   var isGet = false;
var pid = "";
if (@Model.Item3 > 0) {
    isGet = true;
    pid = $("#pid_1").val();
}

function GetAllProducts() {
    var a = $("#pid_1").val();
    if (!a)
        return;
    if (pid === a) { //
        if (isGet) {
            return;
        }
    } //
    $(".pids").remove();
    var isLottery = $("#groupCategory").val() == 1;
    //alert(isLottery);
    $.ajax({
        url: "/GroupBuyingV2/GetProductsByPID",
        type: "post",
        dataType: "json",
        data: {
            "pid": a,
            isLottery: isLottery
        },
        success: function (Data) {
            var i = 2;
            $.each(Data, function (index, row) {
                if (row["PID"] != a) {
                    $("#EditTable").append(
                        `<tr name="product_${i}" class="pids">
                        <td>商品PID</td><td><input type="text" readonly="readonly" value="${row["PID"]}" id="pid_${i}"/>&nbsp;&nbsp;&nbsp;是否用于默认展示<input type="checkbox" id="DisPlay_${i}" name="showDetail"/>
                        </td></tr>
                        <tr name="product_${i}" class="pids"><td>商品名称</td><td><input type="text" id="productName_${i}" value="${row["DisplayName"]}" style="width:350px;" class="pids"/>
                        </td></tr>
                        <tr name="product_${i}" class="pids" : null)>
                            <td>每单限购数量</td>
                            <td><input type="number" id="upperLimit_${i}" min="1" value="1" style="width:350px;" /></td>
                        </tr>
                        <tr name="product_${i}" class="pids">
                            <td>没人限购单数</td>
                            <td><input type="number" id="buyLimit_${i}" min="0" value="0" style="width:350px;" /></td>
                        </tr>
                        <tr name="product_${i}" class="pids")>
                            <td>是否允许使用优惠券</td>
                            <td>允许&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="applyCoupon" id="ApplyCoupon_${i}" /></td>
                        </tr>
                        <tr name="product_${i}" class="pids">
                            <td>是否显示（至少有一个商品显示）</td>
                            <td>允许&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" checked="checked") name="allowShow" id="allowShow_${i}" /></td>
                        </tr>
                        <tr name="product_${i}" class="pids"><td>商品售价(*)</td><td><input type="text" id="OriginalPrice_${i}" value="${row["TuhuPrice"]}"/>
                        </td></tr>
                        <tr name="product_${i}" class="pids"><td>商品活动价(*)</td><td><input type="text" id="FinalPrice_${i}" /></td></tr><tr name="product_${i}" class="pids"><td>商品团长价(*)</td><td><input type="text" id="SpecialPrice_${i}" />
                        </td></tr>`);
                    i = i + 1;
                } else {
                    $("#productName_1").val(row["DisplayName"]);
                    $("#OriginalPrice_1").val(row["TuhuPrice"]);
                    $("#FinalPrice_1").val("");
                    $("#buyLimit_1").val(0);
                    $("#upperLimit_1").val(1);
                    $("#SpecialPrice_1").val("");
                    $("#DisPlay_1").attr("checked", "checked");
                }

            });
            //isGet = true;//
            pid = a;
            $("[name=showDetail]").change(function () {
                $("[name=showDetail]").attr("checked", null);
                $(this).attr("checked", "checked");
            });
        },
        error: function () {
            alert("服务端异常！");
        }
    });
}
$(function () {

    $("#BeginTime").datetimepicker({
        timeFormat: "HH:mm:ss",
        dateFormat: "yy-mm-dd",
        monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],

    });
    $("#EndTime").datetimepicker({
        timeFormat: "HH:mm:ss",
        dateFormat: "yy-mm-dd",
        monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],

    });
    $("[name=showDetail]").change(function () {
        $("[name=showDetail]").attr("checked", null);
        $(this).attr("checked", "checked");
    });
});

function UploadImage(targetId) {
    var ie = navigator.appName == "Microsoft Internet Explorer" ? true : false;
    if (ie) {
        document.getElementById(targetId).click();
    } else {
        var a = document.createEvent("MouseEvents"); //FF的处理
        a.initEvent("click", true, true);
        document.getElementById(targetId).dispatchEvent(a);
    }
};
$("#file").change(function () {
    up("file", "Image");
});
$("#file2").change(function () {
    up("file2", "ShareImage");
});

function up(targetId, ImageId) {
    $.ajaxFileUpload({
        url: '/UserTaskSetting/UploadTaskImage', //需要链接到服务器地址//
        secureuri: false,
        fileElementId: targetId, //文件选择框的id属性
        dataType: 'text', //服务器返回的格式，可以是json
        success: function(data, status) {
            $("#" + targetId).change(function() {
                up()
            })
            console.log(data);
            if (data == -1)
                $(".headimgerror").text("仅支持jpg, gif, png, jpeg格式");
            else if (data == -2 || data == -99)
                $(".headimgerror").text("上传失败");
            else if (data == -3)
                $(".headimgerror").text("图片限制100kb以内");
            else {
                $(".headimgerror").text("");
                $("#" + ImageId).attr("src", data);
            }
        }
    });
} //
</script>