
@using Tuhu.Provisioning.Models
@using ThBiz.Common.Configurations;
@model Tuhu.Component.Common.Models.ListModel<Tuhu.Provisioning.DataAccess.Entity.CouponActivity>   
@{
        ViewBag.Title = "活动列表";
}
<style>
    .ui-dialog {
        border-radius: 3px;
        padding: 0px;
        width: auto;
    }

    .ui-dialog-grid {
        width: 100%;
    }

    .ui-dialog-title {
        width: 75%;
        padding: 8px 15px 8px 15px;
    }

    .ui-dialog-close {
        top: 8px;
    }

    .ui-dialog-body {
        padding: 10px;
    }

    .ui-dialog-content {
        padding: 0px;
    }

    .ui-dialog-footer {
        padding: 5px 10px 5px 5px;
        background: #ffffff;
        border-top: 1px solid #eee;
    }

        .ui-dialog-footer button {
            padding: 3px 15px;
            border-radius: 2px;
            box-shadow: 0 1px 1px rgba(0,0,0,.15);
            font-size: 12px;
        }

            .ui-dialog-footer button.ui-dialog-autofocus {
                font-weight: 700;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
            }

    .button1 {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        font-family: "Microsoft Yahei";
        outline: none;
        cursor: pointer;
        background: #0088cc;
        border-color: #0088cc;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: #0088cc;
        border: solid 1px #0088cc;
    }
   
</style>
<body>
    <h2>活动列表</h2>
    <link rel="stylesheet" href="/Scripts/artDialog6.0.4/css/ui-dialog.css" />
    <script src="~/Scripts/artDialog6.0.4/dist/dialog-min.js"></script>

    请选择：
    @Html.DropDownList("type", new List<SelectListItem>() {
            new SelectListItem() { Text="APP活动", Value="APP",Selected=true},
            new SelectListItem() { Text="WEB活动",Value="WEB"}
        }, new { onchange = "changeType()" })
    <input type="button" style="margin-left:10%" class="button1" onclick="AddActivity()" value="添加" />

    <div style="margin-top:20px;">
        <table style="width:80%;">
            <thead>
                <tr>
                    <th>ActivityId</th>
                    <th>预览</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="table-add">
                @foreach (var item in Model)
                {
                    <tr>
                         @if (ViewBag.type == "APP")
                         {
                             if (@item.ActivityId == -1)
                             {
                                <td>@item.ActivityKey</td>
                                <td><img id="@item.ActivityKey" width="50px" height="50px" src="@item.SmallImageUrl" /><a href="@ViewBag.WeiXinDomain/CouponActivity/AppCouponActivity?id=@item.ActivityKey" target="_blank">@ViewBag.WeiXinDomain/CouponActivity/AppCouponActivity?id=@item.ActivityKey</a></td>
                                <td><a onclick="EditActivity(this)" akid="@item.ActivityKey" style="cursor:pointer">编辑</a>  <a style="cursor:pointer" onclick="DeleteClick(this)">删除</a></td>
                             }
                             else
                             {
                                <td>@item.ActivityId</td>
                                <td><img id="@item.ActivityId" width="50px" height="50px" src="@item.SmallImageUrl" /><a href="@ViewBag.WeiXinDomain/CouponActivity/AppCouponActivity?id=@item.ActivityId" target="_blank">@ViewBag.WeiXinDomain/CouponActivity/AppCouponActivity?id=@item.ActivityId</a></td>
                                <td><a onclick="EditActivity(this)" akid="@item.ActivityId" style="cursor:pointer">编辑</a>  <a style="cursor:pointer" onclick="DeleteClick(this)">删除</a></td>
                             }
                         }
                         else
                         {
                             if (@item.ActivityId == -1)
                             {
                                <td>@item.ActivityKey</td>
                                 <td><img id="@item.ActivityKey" width="50px" height="50px" src="@item.SmallImageUrl" /><a href="@ViewBag.BaoYangDomain/Activity/Coupon.html?id=@item.ActivityKey" target="_blank">@ViewBag.BaoYangDomain/Activity/Coupon.html?id=@item.ActivityKey</a></td>
                                <td><a onclick="EditActivity(this)" akid="@item.ActivityKey" style="cursor:pointer">编辑</a>  <a  style="cursor:pointer" onclick="DeleteClick(this)">删除</a></td>
                             }
                             else
                             {
                                <td>@item.ActivityId</td>
                                <td><img id="@item.ActivityId" width="50px" height="50px" src="@item.SmallImageUrl" /><a href="@ViewBag.BaoYangDomain/Activity/Coupon.html?id=@item.ActivityId" target="_blank">@ViewBag.BaoYangDomain/Activity/Coupon.html?id=@item.ActivityId</a></td>
                                <td><a onclick="EditActivity(this)" akid="@item.ActivityId" style="cursor:pointer">编辑</a>  <a style="cursor:pointer" onclick="DeleteClick(this)">删除</a></td>
                             }
                         }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
    @{ 
        var type= ViewBag.type; 
      }
    @Html.Pager(Model.Pager, pageIndex => Url.RouteUrl(new { pageIndex,type }))
    </div>
</body>

<script>
    function changeType() {
        var url = "@YewuDomainConfig.ProvisioningSite";
        location.href =  url + "/ActivityV1/ActivityConfigList?pageIndex=1&&type=" + $("#type").val();
    }

    function EditActivity(object) {
        var item = $(object).parents().parents();
        var id = $(object).parents().find("a").eq(0).attr("akid");
        var activityName = $("#type").val();
        var dialgpResult = dialog({
            modal: true,
            width: 850,
            height: 'auto',
            fixed: true,
            title: "活动页面修改",
            button: [
                {
                    value: "保存",
                    callback: function () {
                        if (activityName == "APP") {
                            var url = $("#tableContainer tr").eq(0).find("img").attr("src");
                            SaveCouponActivityAppConfig("Edit", url, id);
                        }
                        if (activityName == "WEB") {
                            var url = $("#tableContainer tr").eq(0).find("img").attr("src");
                            SaveCouponActivityWebConfig("Edit", url, id);
                        }
                   
                    }
                },
                {
                    value: "关闭",
                    callback: function () {

                    }
                }]
        });

        if (activityName == "APP") {
            $.get("CouponActivityConfig", { id: id }, function (data) {
                dialgpResult.content(data);
                dialgpResult.showModal();
            })
        }
        if (activityName == "WEB") {
            $.get("CouponActivityWebConfig", { id: id }, function (data) {
                dialgpResult.content(data);
                dialgpResult.showModal();
            })
        }
    }

    function AddActivity() {
        var activityName = $("#type").val();
        var dialgpResult = dialog({
            modal: true,
            width: 850,
            height: 'auto',
            fixed: true,
            title: "活动页面添加",
            button: [
                {
                    value: "保存",
                    callback: function () {
                        if (activityName == "APP") {
                            SaveCouponActivityAppConfig("ADD");
                        }
                        if (activityName == "WEB") {
                           SaveCouponActivityWebConfig("ADD");
                        }
                     
                    }
                },
                {
                    value: "关闭",
                    callback: function () { }
                }]
        });

        if (activityName == "APP") {
            $.get("CouponActivityConfig", function (data) {
                dialgpResult.content(data);
                dialgpResult.showModal();
            });
        }
        if (activityName == "WEB") {
            $.get("CouponActivityWebConfig", function (data) {
                dialgpResult.content(data);
                dialgpResult.showModal();
            });
        }
          
    }


    function DeleteClick(e) {
        var activityName = $("#type").val();
        var id = $(e).parents().find("a").eq(0).attr("akid");
        if (window.confirm("你确定要删除吗？(删除后该活动将消失！请谨慎操作！)")) {
            $.post("DeleteActivityConfig", { type: activityName, id: id }, function (data) {
                if (data) {
                    alert("删除成功");
                    changeType();
                } else {
                    alert("删除失败");
                }
            });
        }
    }

    function SaveCouponActivityAppConfig(type, url, id) {
        var configObject = new Object();
        configObject.SmallImageUrl = $("#tableContainer tr").eq(0).find("input[class='smallImage']").val();
        configObject.BigImageUrl = $("#tableContainer tr").eq(0).find("input[class='image']").val();
        configObject.ButtonBackGroundColor = $("#ButtonBackGroundColor").val();
        configObject.ButtonTextColor = $("#ButtonTextColor").val();
        configObject.ButtonText = $("#ButtonText").val();
        configObject.IosJson = $("#IosUrl").val();
        configObject.AndroidJson = $("#AndroidUrl").val();
        configObject.IsSendCoupon = document.getElementById('IsSendCoupon').checked;
        configObject.LayerButtonText = $("#layerButtonText").val();
        configObject.LayerButtonBackGroundColor = $("#layerButtonBackGroundColor").val();
        configObject.LayerButtonTextColor = $("#layerButtonTextColor").val();
        //var promotionTypeVal = $("#PromotionType").val();
        //if (promotionTypeVal != "") {
        //    configObject.PromotionType = promotionTypeVal;
        //}
        configObject.PromotionRuleId = $("#RuleID").val();
        configObject.PromotionMinMoney = $("#UseMoney").val();
        configObject.PromotionDiscount = $("#DiscountMoney").val();
        configObject.StartDate = $("#startDate").val();
        configObject.EndDate = $("#endDate").val();
        configObject.PromotionDescription = $("#CouponDescription").val();
        configObject.PromotionCodeChannel = $("#CodeChannel").val();
        configObject.Url = $("#Url").val();
        configObject.ActivityId = $("#ActivityId").val();
        configObject.ActivityKey = $("#ActivityKey").val();
        if (configObject.SmallImageUrl == "" || configObject.BigImageUrl == "" || configObject.ButtonBackGroundColor == "" || configObject.ButtonTextColor == "" || configObject.ButtonText == "") {
            alert("不能为空");
        } else {
            if (/^[0-9]*$/.test(configObject.PromotionRuleId) && /^[0-9]*$/.test(configObject.PromotionMinMoney) && /^[0-9]*$/.test(configObject.PromotionDiscount)) {
                $.ajax({
                    type: "POST", url: "/ActivityV1/SaveCouponActivityConfig",
                    data: { "configStr": JSON.stringify(configObject) },
                    success: function (result) {
                        if (result) {
                            alert("保存成功");
                            if (type == "ADD") {
                                changeType();
                            }
                            if (type == "Edit") {
                                $("#" + id + "").attr("src", url);
                            }
                        } else {
                            alert("保存失败");
                        }
                    }
                })
            } else {
                alert("数据不合法");
                return;
            }
        }
    }


    function SaveCouponActivityWebConfig(type, url, id) {
        var configObject = new Object();
        configObject.SmallBannerImageUrl = $(".bannerSmallImage").val();
        configObject.BigBannerImageUrl = $(".bannerBigImage").val();
        configObject.SmallContentImageUrl = $(".contentSmallImage").val();
        configObject.BigContentImageUrl = $(".contentBigImage").val();
        configObject.ButtonBackGroundColor = $("#ButtonBackGroundColor").val();
        configObject.ButtonTextColor = $("#ButtonTextColor").val();
        configObject.ButtonText = $("#ButtonText").val();
        configObject.IsSendCoupon = document.getElementById('IsSendCoupon').checked;
        configObject.LayerButtonText = $("#layerButtonText").val();
        configObject.LayerButtonBackGroundColor = $("#layerButtonBackGroundColor").val();
        configObject.LayerButtonTextColor = $("#layerButtonTextColor").val();
        //configObject.PromotionType = $("#PromotionType").val();
        configObject.PromotionRuleGUID = $("#RuleGUID").val();
        configObject.Url = $("#Url").val();
        configObject.ActivityId = $("#ActivityId").val();
        configObject.ActivityKey = $("#ActivityKey").val();
        if (configObject.BigBannerImageUrl == "" || configObject.BigContentImageUrl == "" || configObject.ButtonBackGroundColor == "" || configObject.ButtonTextColor == "" || configObject.ButtonText == "") {
            alert("不能为空");
        } else {
            if (/^[0-9a-zA-Z-]*$/.test(configObject.PromotionRuleGUID)) {
                $.ajax({
                    type: "POST", url: "/ActivityV1/SaveCouponActivityWebConfig",
                    data: { "configStr": JSON.stringify(configObject) },
                    success: function (result) {
                        if (result) {
                            alert("保存成功");
                            if (type == "ADD") {
                                changeType();
                            }
                            if (type == "Edit") {
                                $("#" + id + "").attr("src", url);
                            }
                        } else {
                            alert("保存失败");
                        }
                    }

                })
            } else {
                alert("数据不合法");
                return;
            }
        }
    }
</script>

