@using Tuhu.Provisioning.DataAccess.Entity
@using Tuhu.Provisioning.Business.WebSiteHomeAd
@model Tuple<IEnumerable<AdColumnModel>, IEnumerable<BaoYangModel>>
@{
    ViewBag.Title = "官网首页广告位配置";
    var imgurl = "https://image.tuhu.cn";
}
@helper Show(string ID, string Remark, int? Width, int? Height)
{
var url = "https://image.tuhu.cn";
var Now = DateTime.Now;
var AdColumn = Model.Item1 == null ? null : Model.Item1.Where(a => String.Compare(ID, a.ID, true) == 0) == null || Model.Item1.Where(a => String.Compare(ID, a.ID, true) == 0).Count() == 0 ? null : Model.Item1.Where(a => String.Compare(ID, a.ID, true) == 0).FirstOrDefault();
if (Model != null && AdColumn != null)
{
    var advertises = AdColumn.Advertises == null || AdColumn.Advertises.Where(ad => ad.State == 1 && ad.BeginDateTime <= Now && ad.EndDateTime >= Now).Count() <= 0 ? null : AdColumn.Advertises.Where(ad => ad.State == 1 && ad.BeginDateTime <= Now && ad.EndDateTime >= Now);
    var Images = advertises == null ? null : advertises.OrderBy(ad => ad.Position).Select(ad => new AdvertiseModel
    {
        BeginDateTime = ad.BeginDateTime,
        EndDateTime = ad.EndDateTime,
        Image = url + ad.Image,
        Url = ad.Url,
        bgColor = ad.bgColor
    });
    if (advertises != null && advertises.Any() && Images != null && Images.Any())
    {
        if (String.Compare(Remark, "banner", true) == 0)
        {
            foreach (var img in Images)
            {
                    <li data-bgcolor="@img.bgColor">
                        <img src="@img.Image" width="@Width" height="@Height" />
                    </li>
                }
            }
            else if (String.Compare(Remark, "advertise", true) == 0)
            {
                var OkImg = Images.Where(i => i.BeginDateTime <= DateTime.Now && i.EndDateTime >= DateTime.Now);
                <img src="@(OkImg.Count() > 0 ? OkImg.FirstOrDefault().Image : url + AdColumn.DefaultImage)" width="@Width" height="@Height" />}
    }
    else
    {
        if (String.Compare(Remark, "banner", true) == 0)
        {
                <li data-bgcolor="@AdColumn.DefaultbgColor">
                    <img src="@(url+AdColumn.DefaultImage)" width="@Width" height="@Height" />
                </li>}
        else if (String.Compare(Remark, "advertise", true) == 0)
        {
                <img src="@(url+AdColumn.DefaultImage)" width="@Width" height="@Height" />}
    }
}
else
{
    if (String.Compare(Remark, "banner", true) == 0)
    {
            <li>
                <img width="@Width" height="@Height" />
            </li>
    }
    else if (String.Compare(Remark, "advertise", true) == 0)
    {
            <img width="@Width" height="@Height" />
    }
}
}

@helper ShowTitle(string ID)
{
var Now = DateTime.Now;
var AdColumn = Model.Item1 == null ? null : (Model.Item1.Where(a => String.Compare(ID, a.ID, true) == 0) == null || Model.Item1.Where(a => String.Compare(ID, a.ID, true) == 0).Count() == 0) ? null : Model.Item1.Where(a => String.Compare(ID, a.ID, true) == 0).FirstOrDefault();
if (Model != null && AdColumn != null)
{
    var advertises = AdColumn.Advertises == null || AdColumn.Advertises.Where(ad => ad.State == 1 && ad.BeginDateTime <= Now && ad.EndDateTime >= Now).Count() <= 0 ? null : AdColumn.Advertises.Where(ad => ad.State == 1 && ad.BeginDateTime <= Now && ad.EndDateTime >= Now);
    if (advertises != null && advertises.Any())
    {
            <a href="@(advertises.FirstOrDefault().Url)" target="_blank"> @advertises.FirstOrDefault().AdName<i class="i-icon"></i></a>
    }
    else
    {
            <a href="@(AdColumn.DefaultUrl)" target="_blank"> @AdColumn.ADCName<i class="i-icon"></i></a>
    }
}
}
@helper ShowProducts(string ID)
{
    var Now = DateTime.Now;
    var AdColumn = Model.Item1 == null ? null : (Model.Item1.Where(a => String.Compare(ID, a.ID, true) == 0) == null || Model.Item1.Where(a => String.Compare(ID, a.ID, true) == 0).Count() == 0) ? null : Model.Item1.Where(a => String.Compare(ID, a.ID, true) == 0).FirstOrDefault();
    if (Model != null && AdColumn != null)
    {
        var advertises = AdColumn.Advertises == null || AdColumn.Advertises.Where(ad => ad.State == 1 && ad.BeginDateTime <= Now && ad.EndDateTime >= Now).Count() <= 0 ? null : AdColumn.Advertises.Where(ad => ad.State == 1 && ad.BeginDateTime <= Now && ad.EndDateTime >= Now);
        IEnumerable<AdProductModel> Products = WebSiteHomeAdManager.SelectAdProductByID(ID);
        if (advertises != null && advertises.Any())
        {
            IEnumerable<AdProductModel> oneproduct = Products.Where(p => p.AdvertiseID == advertises.FirstOrDefault().PKID);
            foreach (var p in oneproduct)
            {
                <li data-pid="@p.PID" class="productslist">
                    <div class="img"><a><img src="" alt="" width="89" height="89" /></a></div>
                    <div class="field">
                        <a class="name"></a>
                        <p class="price"></p>
                        <p class="buy-num">若干人购买</p>
                    </div>
                </li>
        }
    }
    else
    {
        IEnumerable<AdProductModel> oneproduct = Products.Where(p => p.AdColumnID == AdColumn.ID && p.AdvertiseID == 0);
        foreach (var p in oneproduct)
        {
                <li data-pid="@p.PID" class="productslist">
                    <div class="img"><a href="#"><img src="" alt="" width="89" height="89" /></a></div>
                    <div class="field">
                        <a href="" class="name"></a>
                        <p class="price"></p>
                        <p class="buy-num">若干人购买</p>
                    </div>
                </li>
        }
    }
}
}
@section head{
    <link href="~/Styles/HomeConfig.css" rel="stylesheet" />
    <link href="~/Styles/iconfont/ux_1440569396_7310162/iconfont.css" rel="stylesheet" />
}
<h2>官网首页广告位配置</h2> <div class="updateCouchbase"> 配置完成后请及时更新缓存 <span class="updatebutton">更新缓存</span></div>
@{
    var topad = Model.Item1 == null || Model.Item1.Where(a => String.Compare("Home_Top", a.ID, true) == 0).Count() == 0 || Model.Item1.Where(a => String.Compare("Home_Top", a.ID, true) == 0).FirstOrDefault().Advertises == null ? null : Model.Item1.Where(a => String.Compare("Home_Top", a.ID, true) == 0).FirstOrDefault().Advertises.Where(a => a.State == 1 && a.BeginDateTime <= DateTime.Now && a.EndDateTime >= DateTime.Now);
    var topdefault = Model.Item1 == null ? null : Model.Item1.Where(a => String.Compare("Home_Top", a.ID, true) == 0).FirstOrDefault();
    var url = "";
    var bgcolor = "";
    if (topad != null && topad.Any())
    {
        var Img = topad.OrderBy(ad => ad.Position).Select(ad => new AdvertiseModel
        {
            BeginDateTime = ad.BeginDateTime,
            EndDateTime = ad.EndDateTime,
            Image = imgurl + ad.Image,
            Url = ad.Url,
            bgColor = ad.bgColor
        });
        if (Img.Where(i => i.BeginDateTime <= DateTime.Now && i.EndDateTime >= DateTime.Now).Count() > 0)
        {
            url = Img.Where(i => i.BeginDateTime <= DateTime.Now && i.EndDateTime >= DateTime.Now).FirstOrDefault().Image;
            bgcolor = Img.Where(i => i.BeginDateTime <= DateTime.Now && i.EndDateTime >= DateTime.Now).FirstOrDefault().bgColor;
        }
    }
    else if (topdefault != null)
    {
        url = imgurl + topdefault.DefaultImage;
        bgcolor = topdefault.DefaultbgColor;
    }
    <div class="img-edit" style="background:@(bgcolor) url(@url) 50% 50% no-repeat ;height:100px;margin-bottom:10px;">
        <p class="configure" data-id="Home_Top" data-name="" data-type="advertise">Home_Top - <span>编辑</span></p>
    </div>
}
    <div class="logo img-edit" style="margin-bottom:10px;height:150px" >
        <div class="img-edit" style="float:left;height:150px;width:250px;margin-bottom:10px;margin-left:20%">
            <p class="configure" data-id="Home_Under_Logo" data-name="" data-type="advertise">Home_Under_Logo - <span>编辑</span></p>
                @Show("Home_Under_Logo", "advertise", 250, 150)
        </div>
        <div class="img-edit" style="float:left;height:150px;width:250px;margin-left:10%;margin-bottom:10px;">
            <p class="configure" data-id="Home_Under_Right" data-name="" data-type="advertise">Home_Under_Right - <span>编辑</span></p>
                @Show("Home_Under_Right", "advertise", 250, 150)
        </div>
    </div>
<div class="clearfix  bgc" style="background-color:#007fe6;">
    <div class="clearfix" style="background-color:#fff;height:320px;overflow:hidden;width:1200px;margin:0 auto;">
        <div style="float:right;margin:0;height:320px;width:580px;">
            <div class="slide img-edit" id="banner_slide">
                <p class="configure" data-id="Home_Banner" data-name="" data-type="banner">Home_Banner - <span>编辑</span></p>
                <a href="javascript:void(0);" class="prev i-icon"></a>
                <a href="javascript:void(0);" class="next i-icon"></a>
                <ul>
                    @Show("Home_Banner", "banner", 580, 320)
                </ul>
            </div>
        </div>
        <div style="float:right;text-align:right;width:320px;padding-top:60px;">
            <div class="img-edit">
                <p class="configure" data-id="Home_LeftBY" data-name="" data-type="advertise">Home_LeftBY - <span>编辑</span></p>
                <div style="height:80px;background-color:#999;margin-bottom:10px;">
                    @Show("Home_LeftBY", "advertise", 320, 80)
                </div>
            </div>
            <div class="img-edit">
                <p class="configure" data-id="Home_LeftDP" data-name="" data-type="advertise">Home_LeftDP - <span>编辑</span></p>
                <div style="height:80px;background-color:#999;margin-bottom:10px;">
                    @Show("Home_LeftDP", "advertise", 320, 80)
                </div>
            </div>
            @*<div class="img-edit">
                    <p class="configure" data-id="Home_LeftCP" data-name="" data-type="advertise">Home_LeftCP - <span>编辑</span></p>
                    <div style="height:80px;background-color:#999;margin-bottom:10px;"></div>
                </div>*@
        </div>
    </div>
</div>

<div class="wrap">
    <!--横排活动banner-->
    <div class="clearfix hori-banner">
        <a class="img-edit">
            <p class="configure" data-id="Home_0F_01" data-name="" data-type="advertise">Home_0F_01 - <span>编辑</span></p>
            @Show("Home_0F_01", "advertise", 220, 139)
        </a>
        <a class="img-edit">
            <p class="configure" data-id="Home_0F_02" data-name="" data-type="advertise">Home_0F_02 - <span>编辑</span></p>
            @Show("Home_0F_02", "advertise", 240, 139)
        </a>
        <a class="img-edit">
            <p class="configure" data-id="Home_0F_03" data-name="" data-type="advertise">Home_0F_03 - <span>编辑</span></p>
            @Show("Home_0F_03", "advertise", 240, 139)
        </a>
        <a class="img-edit">
            <p class="configure" data-id="Home_0F_04" data-name="" data-type="advertise">Home_0F_04 - <span>编辑</span></p>
            @Show("Home_0F_04", "advertise", 240, 139)
        </a>
        <a class="img-edit">
            <p class="configure" data-id="Home_0F_05" data-name="" data-type="advertise">Home_0F_05 - <span>编辑</span></p>
            @Show("Home_0F_05", "advertise", 240, 139)
        </a>
    </div>
    <!--1f-->
    <div class="clearfix floor floor-red">
        <div class="side">
            <div class="floor-tit">
                <span class="tit i-icon">Home_1F</span>
                <h2>
                    <i class=" i-tire i-icon"></i>
                    <span>换轮胎</span>
                </h2>
            </div>

        </div>
        <div class="main clearfix">
            <div class="section">
                <div class="slide img-edit" id="f1_slide">
                    <p class="configure" data-id="Home_1F_01" data-name="" data-type="banner">Home_1F_01 - <span>编辑</span></p>
                    <a href="javascript:void(0);" class="prev i-icon"></a>
                    <a href="javascript:void(0);" class="next i-icon"></a>
                    <ul>
                        @Show("Home_1F_01", "banner", 479, 273)
                    </ul>
                </div>
                <ul class="p-list">
                    <li class="img-edit">
                        <p class="configure" data-id="Home_1F_04" data-name="" data-type="advertise">Home_1F_04 - <span>编辑</span></p>
                        @Show("Home_1F_04", "advertise", 240, 185)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_1F_05" data-name="" data-type="advertise">Home_1F_05 - <span>编辑</span></p>
                        @Show("Home_1F_05", "advertise", 240, 185)
                    </li>
                </ul>
            </div>
            <div class="section">
                <ul class="p-list">
                    <li class="fore1 img-edit">
                        <p class="configure" data-id="Home_1F_02" data-name="" data-type="advertise">Home_1F_02 - <span>编辑</span></p>
                        @Show("Home_1F_02", "advertise", 240, 273)
                    </li>
                    <li class="fore2 img-edit">
                        <p class="configure" data-id="Home_1F_03" data-name="" data-type="advertise">Home_1F_03 - <span>编辑</span></p>
                        @Show("Home_1F_03", "advertise", 240, 273)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_1F_06" data-name="" data-type="advertise">Home_1F_06 - <span>编辑</span></p>
                        @Show("Home_1F_06", "advertise", 240, 185)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_1F_07" data-name="" data-type="advertise">Home_1F_07 - <span>编辑</span></p>
                        @Show("Home_1F_07", "advertise", 240, 185)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--1f品牌-->
    <div class="brands clearfix">
        <a class="img-edit smallad">
            <p class="configure" data-id="Home_LTBrand_01" data-name="" data-type="advertise">Home_LTBrand_01 - <span>编辑</span></p>
            @Show("Home_LTBrand_01", "advertise", null, null)
        </a>
        <a class="img-edit smallad">
            <p class="configure" data-id="Home_LTBrand_02" data-name="" data-type="advertise">Home_LTBrand_02 - <span>编辑</span></p>
            @Show("Home_LTBrand_02", "advertise", null, null)
        </a>
        <a class="img-edit smallad">
            <p class="configure" data-id="Home_LTBrand_03" data-name="" data-type="advertise">Home_LTBrand_03 - <span>编辑</span></p>
            @Show("Home_LTBrand_03", "advertise", null, null)
        </a>
        <a class="img-edit smallad">
            <p class="configure" data-id="Home_LTBrand_04" data-name="" data-type="advertise">Home_LTBrand_04 - <span>编辑</span></p>
            @Show("Home_LTBrand_04", "advertise", null, null)
        </a>
        <a class="img-edit smallad">
            <p class="configure" data-id="Home_LTBrand_05" data-name="" data-type="advertise">Home_LTBrand_05 - <span>编辑</span></p>
            @Show("Home_LTBrand_05", "advertise", null, null)
        </a>
        <a class="img-edit smallad">
            <p class="configure" data-id="Home_LTBrand_06" data-name="" data-type="advertise">Home_LTBrand_06 - <span>编辑</span></p>
            @Show("Home_LTBrand_06", "advertise", null, null)
        </a>
        <a class="img-edit smallad">
            <p class="configure" data-id="Home_LTBrand_07" data-name="" data-type="advertise">Home_LTBrand_07 - <span>编辑</span></p>
            @Show("Home_LTBrand_07", "advertise", null, null)
        </a>
        <a class="img-edit smallad">
            <p class="configure" data-id="Home_LTBrand_08" data-name="" data-type="advertise">Home_LTBrand_08 - <span>编辑</span></p>
            @Show("Home_LTBrand_08", "advertise", null, null)
        </a>
        <a class="img-edit smallad">
            <p class="configure" data-id="Home_LTBrand_09" data-name="" data-type="advertise">Home_LTBrand_09 - <span>编辑</span></p>
            @Show("Home_LTBrand_09", "advertise", null, null)
        </a>
        <a class="img-edit smallad">
            <p class="configure" data-id="Home_LTBrand_10" data-name="" data-type="advertise">Home_LTBrand_10 - <span>编辑</span></p>
            @Show("Home_LTBrand_10", "advertise", null, null)
        </a>
        <a class="img-edit smallad">
            <p class="configure" data-id="Home_LTBrand_11" data-name="" data-type="advertise">Home_LTBrand_11 - <span>编辑</span></p>
            @Show("Home_LTBrand_11", "advertise", null, null)
        </a><a class="img-edit smallad">
            <p class="configure" data-id="Home_LTBrand_12" data-name="" data-type="advertise">Home_LTBrand_12 - <span>编辑</span></p>
            @Show("Home_LTBrand_12", "advertise", null, null)
        </a><a class="img-edit smallad">
            <p class="configure" data-id="Home_LTBrand_13" data-name="" data-type="advertise">Home_LTBrand_13 - <span>编辑</span></p>
            @Show("Home_LTBrand_13", "advertise", null, null)
        </a><a class="img-edit smallad">
            <p class="configure" data-id="Home_LTBrand_14" data-name="" data-type="advertise">Home_LTBrand_14 - <span>编辑</span></p>
            @Show("Home_LTBrand_14", "advertise", null, null)
        </a>
        <a class="img-edit smallad">
            <p class="configure" data-id="Home_LTBrand_15" data-name="" data-type="advertise">Home_LTBrand_15 - <span>编辑</span></p>
            @Show("Home_LTBrand_15", "advertise", null, null)
        </a><a class="img-edit smallad">
            <p class="configure" data-id="Home_LTBrand_16" data-name="" data-type="advertise">Home_LTBrand_16 - <span>编辑</span></p>
            @Show("Home_LTBrand_16", "advertise", null, null)
        </a>
    </div>
    <!--2f-->
    <div class="clearfix floor floor-blue">
        <div class="side">
            <div class="floor-tit">
                <span class="tit i-icon">Home_2F</span>
                <h2>
                    <i class=" i-by i-icon"></i>
                    <span>做保养</span>
                </h2>
            </div>

        </div>
        <div class="main clearfix">
            <div class="section">
                <div class="slide img-edit" id="f2_slide">
                    <p class="configure" data-id="Home_2F_01" data-name="" data-type="banner">Home_2F_01 - <span>编辑</span></p>
                    <a href="javascript:void(0);" class="prev i-icon"></a>
                    <a href="javascript:void(0);" class="next i-icon"></a>
                    <ul>
                        @Show("Home_2F_01", "banner", 479, 273)
                    </ul>
                </div>
                <ul class="p-list">
                    <li class="img-edit">
                        <p class="configure" data-id="Home_2F_04" data-name="" data-type="advertise">Home_2F_04 - <span>编辑</span></p>
                        @Show("Home_2F_04", "advertise", 240, 185)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_2F_05" data-name="" data-type="advertise">Home_2F_05 - <span>编辑</span></p>
                        @Show("Home_2F_05", "advertise", 240, 185)
                    </li>
                </ul>
            </div>
            <div class="section">
                <ul class="p-list">
                    <li class="fore1 img-edit">
                        <p class="configure" data-id="Home_2F_02" data-name="" data-type="advertise">Home_2F_02 - <span>编辑</span></p>
                        @Show("Home_2F_02", "advertise", 240, 273)
                    </li>
                    <li class="fore2 img-edit">
                        <p class="configure" data-id="Home_2F_03" data-name="" data-type="advertise">Home_2F_03 - <span>编辑</span></p>
                        @Show("Home_2F_03", "advertise", 240, 273)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_2F_06" data-name="" data-type="advertise">Home_2F_06 - <span>编辑</span></p>
                        @Show("Home_2F_06", "advertise", 240, 185)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_2F_07" data-name="" data-type="advertise">Home_2F_07 - <span>编辑</span></p>
                        @Show("Home_2F_07", "advertise", 240, 185)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--保养项目-->
    <div class="img-edit" style="position:relative">
        <a href="https://setting.tuhu.cn/Baoyang/Index" class="baoyang_configure" style="position:absolute;left:0;top:0;z-index:99;display:block;text-decoration:none;height:23px;" target="_blank">Home_BaoYang - <span>编辑</span></a>
        <ul class="by_list clearfix">
            @if (Model.Item2 != null && Model.Item2.Any())
            {
                var i = 0;
                var firstmodel = Model.Item2.Count() > 8 ? Model.Item2.Take(8) : Model.Item2;
                var lastmodel = Model.Item2.Count() > 8 ? Model.Item2.Skip(8).Take(7) : null;
                foreach (var by in firstmodel)
                {
                    <li class="@(++i==8?"last":null)">
                        <a href="@by.StrUrl" target="_blank">
                            @if (by.isActivity)
                            {
                                <div class="mark">
                                    <i class="i-arr"></i><span>@by.Description</span>
                                </div>
                            }
                            <i class="icon iconfont">@HttpUtility.HtmlDecode(by.ImgCode)</i>
                            <span>@by.byValue</span>
                        </a>
                    </li>
                }
                <hr class="line" />
                if (lastmodel != null && lastmodel.Any())
                {
                    foreach (var by in lastmodel)
                    {
                        <li>
                            <a href="@by.StrUrl" target="_blank">
                                @if (by.isActivity)
                                {
                                    <div class="mark">
                                        <i class="i-arr"></i><span>@by.Description</span>
                                    </div>
                                }
                                <i class="icon iconfont">@HttpUtility.HtmlDecode(by.ImgCode)</i>
                                <span>@by.byValue</span>
                            </a>
                        </li>
                    }
                }
                <li class="last"><a><i class="icon iconfont">&#xe614;</i><span>&nbsp;&nbsp;更多<br />保养项目></span></a></li>
            }
        </ul>
    </div>
    <div class="hori-adv img-edit">
        <p class="configure" data-id="Home_2.5F" data-name="" data-type="advertise">Home_2.5F - <span>编辑</span></p>
        @Show("Home_2.5F", "advertise", 1180, 90)
    </div>

    <!--3f-->
    <div class="clearfix floor floor-purple">
        <div class="side">
            <div class="floor-tit">
                <span class="tit i-icon">3F</span>
                <h2>
                    <i class=" i-other i-icon"></i>
                    <span>汽车用品</span>
                </h2>
            </div>
            <div class="inner">
                <div class="img-edit">
                    <p class="configure" data-id="Home_3F_08" data-name="" data-type="advertise">Home_3F_08 - <span>编辑</span></p>
                    @Show("Home_3F_08", "advertise", 220, 240)
                </div>

                <div class="adv img-edit">
                    <p class="configure" data-id="Home_3F_09" data-name="" data-type="advertise" data-description="description">Home_3F_09 - <span>编辑</span></p>
                    @ShowTitle("Home_3F_09")
                </div>
                <div class="adv img-edit">
                    <p class="configure" data-id="Home_3F_10" data-name="" data-type="advertise" data-description="description">Home_3F_10 - <span>编辑</span></p>
                    @ShowTitle("Home_3F_10")
                </div>


            </div>
        </div>
        <div class="main clearfix">
            <div class="section">
                <div class="slide img-edit" id="f3_slide">
                    <p class="configure" data-id="Home_3F_01" data-name="" data-type="banner">Home_3F_01 - <span>编辑</span></p>
                    <a href="javascript:void(0);" class="prev i-icon"></a>
                    <a href="javascript:void(0);" class="next i-icon"></a>
                    <ul>
                        @Show("Home_3F_01", "banner", 479, 273)
                    </ul>
                </div>
                <ul class="p-list">
                    <li class="img-edit">
                        <p class="configure" data-id="Home_3F_04" data-name="" data-type="advertise">Home_3F_04 - <span>编辑</span></p>
                        @Show("Home_3F_04", "advertise", 240, 185)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_3F_05" data-name="" data-type="advertise">Home_3F_05 - <span>编辑</span></p>
                        @Show("Home_3F_05", "advertise", 240, 185)
                    </li>
                </ul>
            </div>
            <div class="section">
                <ul class="p-list">
                    <li class="fore1 img-edit">
                        <p class="configure" data-id="Home_3F_02" data-name="" data-type="advertise">Home_3F_02 - <span>编辑</span></p>
                        @Show("Home_3F_02", "advertise", 240, 273)
                    </li>
                    <li class="fore2 img-edit">
                        <p class="configure" data-id="Home_3F_03" data-name="" data-type="advertise">Home_3F_03 - <span>编辑</span></p>
                        @Show("Home_3F_03", "advertise", 240, 273)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_3F_06" data-name="" data-type="advertise">Home_3F_06 - <span>编辑</span></p>
                        @Show("Home_3F_06", "advertise", 240, 185)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_3F_07" data-name="" data-type="advertise">Home_3F_07 - <span>编辑</span></p>
                        @Show("Home_3F_07", "advertise", 240, 185)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--3f品牌-->
    @*<div class="brands clearfix">
            <a class="img-edit smallad">
                <p class="configure" data-id="Home_CPBrand_01" data-name="" data-type="advertise">Home_CPBrand_01 - <span>编辑</span></p>
                @Show("Home_CPBrand_01", "advertise", null, null)
            </a>
            <a class="img-edit smallad">
                <p class="configure" data-id="Home_CPBrand_02" data-name="" data-type="advertise">Home_CPBrand_02 - <span>编辑</span></p>
                @Show("Home_CPBrand_02", "advertise", null, null)
            </a>
            <a class="img-edit smallad">
                <p class="configure" data-id="Home_CPBrand_03" data-name="" data-type="advertise">Home_CPBrand_03 - <span>编辑</span></p>
                @Show("Home_CPBrand_03", "advertise", null, null)
            </a>
            <a class="img-edit smallad">
                <p class="configure" data-id="Home_CPBrand_04" data-name="" data-type="advertise">Home_CPBrand_04 - <span>编辑</span></p>
                @Show("Home_CPBrand_04", "advertise", null, null)
            </a>
            <a class="img-edit smallad">
                <p class="configure" data-id="Home_CPBrand_05" data-name="" data-type="advertise">Home_CPBrand_05 - <span>编辑</span></p>
                @Show("Home_CPBrand_05", "advertise", null, null)
            </a>
            <a class="img-edit smallad">
                <p class="configure" data-id="Home_CPBrand_06" data-name="" data-type="advertise">Home_CPBrand_06 - <span>编辑</span></p>
                @Show("Home_CPBrand_06", "advertise", null, null)
            </a>
            <a class="img-edit smallad">
                <p class="configure" data-id="Home_CPBrand_07" data-name="" data-type="advertise">Home_CPBrand_07 - <span>编辑</span></p>
                @Show("Home_CPBrand_07", "advertise", null, null)
            </a>
            <a class="img-edit smallad">
                <p class="configure" data-id="Home_CPBrand_08" data-name="" data-type="advertise">Home_CPBrand_08 - <span>编辑</span></p>
                @Show("Home_CPBrand_08", "advertise", null, null)
            </a>
        </div>*@
    <!--相关产品-->
    <div class="about-list img-edit">
        <p class="configure" data-id="Home_3F_11" data-name="" data-type="product">Home_3F_11 - <span>编辑</span></p>
        <div class="inner" id="f3_about_slide">
            <div class="left-arrow"><a href="javascript:void(0);" class="prev i-icon"></a></div>
            <div class="right-arrow"><a href="javascript:void(0);" class="next i-icon"></a></div>
            <ul class="clearfix">
                @ShowProducts("Home_3F_11")

            </ul>
        </div>
    </div>
    <!--4f-->
    <div class="clearfix floor floor-lightblue">
        <div class="side">
            <div class="floor-tit">
                <span class="tit i-icon">4F</span>
                <h2>
                    <i class=" i-appliances i-icon"></i>
                    <span>汽车装饰</span>
                </h2>
            </div>
            <div class="inner">
                <div class="img-edit">
                    <p class="configure" data-id="Home_4F_08" data-name="" data-type="advertise">Home_4F_08 - <span>编辑</span></p>
                    @Show("Home_4F_08", "advertise", 220, 240)
                </div>

                <div class="adv img-edit">
                    <p class="configure" data-id="Home_4F_09" data-name="" data-type="advertise" data-description="description">Home_4F_09 - <span>编辑</span></p>
                    @ShowTitle("Home_4F_09")
                </div>
                <div class="adv img-edit">
                    <p class="configure" data-id="Home_4F_10" data-name="" data-type="advertise" data-description="description">Home_4F_10 - <span>编辑</span></p>
                    @ShowTitle("Home_4F_10")
                </div>


            </div>
        </div>
        <div class="main clearfix">
            <div class="section">
                <div class="slide img-edit" id="f4_slide">
                    <p class="configure" data-id="Home_4F_01" data-name="" data-type="banner">Home_4F_01 - <span>编辑</span></p>
                    <a href="javascript:void(0);" class="prev i-icon"></a>
                    <a href="javascript:void(0);" class="next i-icon"></a>
                    <ul>
                        @Show("Home_4F_01", "banner", 479, 273)
                    </ul>
                </div>
                <ul class="p-list">
                    <li class="img-edit">
                        <p class="configure" data-id="Home_4F_04" data-name="" data-type="advertise">Home_4F_04 - <span>编辑</span></p>
                        @Show("Home_4F_04", "advertise", 240, 185)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_4F_05" data-name="" data-type="advertise">Home_4F_05 - <span>编辑</span></p>
                        @Show("Home_4F_05", "advertise", 240, 185)
                    </li>
                </ul>
            </div>
            <div class="section">
                <ul class="p-list">
                    <li class="fore1 img-edit">
                        <p class="configure" data-id="Home_4F_02" data-name="" data-type="advertise">Home_4F_02 - <span>编辑</span></p>
                        @Show("Home_4F_02", "advertise", 240, 273)
                    </li>
                    <li class="fore2 img-edit">
                        <p class="configure" data-id="Home_4F_03" data-name="" data-type="advertise">Home_4F_03 - <span>编辑</span></p>
                        @Show("Home_4F_03", "advertise", 240, 273)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_4F_06" data-name="" data-type="advertise">Home_4F_06 - <span>编辑</span></p>
                        @Show("Home_4F_06", "advertise", 240, 185)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_4F_07" data-name="" data-type="advertise">Home_4F_07 - <span>编辑</span></p>
                        @Show("Home_4F_07", "advertise", 240, 185)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--相关产品-->
    <div class="about-list img-edit">
        <p class="configure" data-id="Home_4F_11" data-name="" data-type="product">Home_4F_11 - <span>编辑</span></p>
        <div class="inner" id="f3_about_slide">
            <div class="left-arrow"><a href="javascript:void(0);" class="prev i-icon"></a></div>
            <div class="right-arrow"><a href="javascript:void(0);" class="next i-icon"></a></div>
            <ul class="clearfix">
                @ShowProducts("Home_4F_11")

            </ul>
        </div>
    </div>
    <div class="hori-adv img-edit">
        <p class="configure" data-id="Home_4.5F" data-name="" data-type="advertise">Home_4.5F - <span>编辑</span></p>
        @Show("Home_4.5F", "advertise", 1180, 90)
    </div>
    <!--5f-->
    <div class="clearfix floor floor-cyanine">
        <div class="side">
            <div class="floor-tit">
                <span class="tit i-icon">5F</span>
                <h2>
                    <i class=" i-clear i-icon"></i>
                    <span>美容清洗</span>
                </h2>
            </div>
            <div class="inner">
                <div class="img-edit">
                    <p class="configure" data-id="Home_5F_08" data-name="" data-type="advertise">Home_5F_08 - <span>编辑</span></p>
                    @Show("Home_5F_08", "advertise", 220, 240)
                </div>

                <div class="adv img-edit">
                    <p class="configure" data-id="Home_5F_09" data-name="" data-type="advertise" data-description="description">Home_5F_09 - <span>编辑</span></p>
                    @ShowTitle("Home_5F_09")
                </div>
                <div class="adv img-edit">
                    <p class="configure" data-id="Home_5F_10" data-name="" data-type="advertise" data-description="description">Home_5F_10 - <span>编辑</span></p>
                    @ShowTitle("Home_5F_10")
                </div>


            </div>
        </div>
        <div class="main clearfix">
            <div class="section">
                <div class="slide img-edit" id="f5_slide">
                    <p class="configure" data-id="Home_5F_01" data-name="" data-type="banner">Home_5F_01 - <span>编辑</span></p>
                    <a href="javascript:void(0);" class="prev i-icon"></a>
                    <a href="javascript:void(0);" class="next i-icon"></a>
                    <ul>
                        @Show("Home_5F_01", "banner", 479, 273)
                    </ul>
                </div>
                <ul class="p-list">
                    <li class="img-edit">
                        <p class="configure" data-id="Home_5F_04" data-name="" data-type="advertise">Home_5F_04 - <span>编辑</span></p>
                        @Show("Home_5F_04", "advertise", 240, 185)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_5F_05" data-name="" data-type="advertise">Home_5F_05 - <span>编辑</span></p>
                        @Show("Home_5F_05", "advertise", 240, 185)
                    </li>
                </ul>
            </div>
            <div class="section">
                <ul class="p-list">
                    <li class="fore1 img-edit">
                        <p class="configure" data-id="Home_5F_02" data-name="" data-type="advertise">Home_5F_02 - <span>编辑</span></p>
                        @Show("Home_5F_02", "advertise", 240, 273)
                    </li>
                    <li class="fore2 img-edit">
                        <p class="configure" data-id="Home_5F_03" data-name="" data-type="advertise">Home_5F_03 - <span>编辑</span></p>
                        @Show("Home_5F_03", "advertise", 240, 273)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_5F_06" data-name="" data-type="advertise">Home_5F_06 - <span>编辑</span></p>
                        @Show("Home_5F_06", "advertise", 240, 185)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_5F_07" data-name="" data-type="advertise">Home_5F_07 - <span>编辑</span></p>
                        @Show("Home_5F_07", "advertise", 240, 185)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--相关产品-->
    <div class="about-list img-edit">
        <p class="configure" data-id="Home_5F_11" data-name="" data-type="product">Home_5F_11 - <span>编辑</span></p>
        <div class="inner" id="f5_about_slide">
            <div class="left-arrow"><a href="javascript:void(0);" class="prev i-icon"></a></div>
            <div class="right-arrow"><a href="javascript:void(0);" class="next i-icon"></a></div>
            <ul class="clearfix">
                @ShowProducts("Home_5F_11")
            </ul>
        </div>
    </div>
    <!--6f-->
    <div class="clearfix floor floor-cyan">
        <div class="side">
            <div class="floor-tit">
                <span class="tit i-icon">6F</span>
                <h2>
                    <i class=" i-driving i-icon"></i>
                    <span>安全自驾</span>
                </h2>
            </div>
            <div class="inner">
                <div class="img-edit">
                    <p class="configure" data-id="Home_6F_08" data-name="" data-type="advertise">Home_6F_08 - <span>编辑</span></p>
                    @Show("Home_6F_08", "advertise", 220, 240)
                </div>

                <div class="adv img-edit">
                    <p class="configure" data-id="Home_6F_09" data-name="" data-type="advertise" data-description="description">Home_6F_09 - <span>编辑</span></p>
                    @ShowTitle("Home_6F_09")
                </div>
                <div class="adv img-edit">
                    <p class="configure" data-id="Home_6F_10" data-name="" data-type="advertise" data-description="description">Home_6F_10 - <span>编辑</span></p>
                    @ShowTitle("Home_6F_10")
                </div>


            </div>
        </div>
        <div class="main clearfix">
            <div class="section">
                <div class="slide img-edit" id="f6_slide">
                    <p class="configure" data-id="Home_6F_01" data-name="" data-type="banner">Home_6F_01 - <span>编辑</span></p>
                    <a href="javascript:void(0);" class="prev i-icon"></a>
                    <a href="javascript:void(0);" class="next i-icon"></a>
                    <ul>
                        @Show("Home_6F_01", "banner", 479, 273)
                    </ul>
                </div>
                <ul class="p-list">
                    <li class="img-edit">
                        <p class="configure" data-id="Home_6F_04" data-name="" data-type="advertise">Home_6F_04 - <span>编辑</span></p>
                        @Show("Home_6F_04", "advertise", 240, 185)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_6F_05" data-name="" data-type="advertise">Home_6F_05 - <span>编辑</span></p>
                        @Show("Home_6F_05", "advertise", 240, 185)
                    </li>
                </ul>
            </div>
            <div class="section">
                <ul class="p-list">
                    <li class="fore1 img-edit">
                        <p class="configure" data-id="Home_6F_02" data-name="" data-type="advertise">Home_6F_02 - <span>编辑</span></p>
                        @Show("Home_6F_02", "advertise", 240, 273)
                    </li>
                    <li class="fore2 img-edit">
                        <p class="configure" data-id="Home_6F_03" data-name="" data-type="advertise">Home_6F_03 - <span>编辑</span></p>
                        @Show("Home_6F_03", "advertise", 240, 273)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_6F_06" data-name="" data-type="advertise">Home_6F_06 - <span>编辑</span></p>
                        @Show("Home_6F_06", "advertise", 240, 185)
                    </li>
                    <li class="img-edit">
                        <p class="configure" data-id="Home_6F_07" data-name="" data-type="advertise">Home_6F_07 - <span>编辑</span></p>
                        @Show("Home_6F_07", "advertise", 240, 185)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--相关产品-->
    <div class="about-list img-edit">
        <p class="configure" data-id="Home_6F_11" data-name="" data-type="product">Home_6F_11 - <span>编辑</span></p>
        <div class="inner" id="f6_about_slide">
            <div class="left-arrow"><a href="javascript:void(0);" class="prev i-icon"></a></div>
            <div class="right-arrow"><a href="javascript:void(0);" class="next i-icon"></a></div>
            <ul class="clearfix">
                @ShowProducts("Home_6F_11")
            </ul>
        </div>
    </div>
</div>
@section scripts
    {
    <script type="text/javascript" src="//res.tuhu.cn/Scripts/jquery-2.1.0.min.js"></script>
    <script>
        (function ($) {
            //更新缓存
            $(".updatebutton").click(function () {
                if (confirm("是否更新缓存？")) {
                    $.post("/WebSiteHomeAd/UpdateHomePageAdvertise", {}, function (data) {
                        if (data)
                            alert("更新成功！");
                        else
                            alert("更新失败！");
                    });
                }

            });

            //当读取产品ID时将显示它的名称 价格
            $(".productslist").each(function () {
                var self = $(this);
                var _NewPID = self.attr("data-pid");
                if (_NewPID != "") {
                    $.ajax({
                        type: "post",
                        url: '/Advertise/GetProductNamebyPID',
                        data: { "PID": _NewPID, "Cate": 1 },
                        success: function (result) {
                            if (result != "") {
                                self.find(".field .name").text(result);
                                $.ajax({ url: '/sale/pinfo', data: { pnum: _NewPID } }).done(function (data) {
                                    console.log(data);
                                    var r = JSON.parse(data);
                                    if (!r.error) {
                                        var d = r[0];
                                        self.find("img").attr("src", "https://img4-tuhu-cn.alikunlun.com/" + d.image_filename);
                                        self.find(".field .price").text("¥" + parseInt(d.cy_list_price));
                                    }
                                });
                            }
                            else {
                                self.find(".field .name").text(无此产品);
                                self.find(".field .price").text("");
                            }
                        }
                    });
                }
            });


            //点击编辑  进入编辑页面
            $(".configure").click(function () {
                var id = $(this).attr("data-id"),
				name = $(this).attr("data-name") == "" ? $(this).attr("data-id") : $(this).attr("data-name"),
				Remark = $(this).attr("data-type");
                var description = $(this).attr("data-description");
                window.location.href = "/WebSiteHomeAd/WSHomeAdConfig?id=" + id + "&name=" + name + "&Remark=" + Remark + (description && description.length > 0 ? "&description=" + description : "");
            });
            //滑块
            function slide(slideTag, interval, hasNav, autoplay) {
                var timer,
                ul = $(slideTag).children('ul'),
                                    first = ul.children(":first").clone(),
                                    nav = $("<div class=nav></div>"),
                                    silde_width = $(slideTag).width(),
                                    count = ul.children('li').length,
                                    _interval = typeof (interval) == "number" ? interval : 5000;
                // _hasNav = typeof(hasNav) == "boolean" ? hasNav : true,
                // _autoplay = typeof(autoplay) == "boolean" ? autoplay : true;
                ul.append(first);
                // if(_hasNav){
                for (var i = 0; i < count; i++) {
                    nav.append('<li></li>');
                }
                $(slideTag).append(nav);
                // }
                var indexer = ul.children('li').mouseenter(function () {
                    action($(this).index());
                });
                var action = function (index, auto) {
                    clearTimeout(timer);
                    $(slideTag + " .nav li").removeClass("active").eq(index % count).addClass("active");
                    ul.children('li').removeClass("active").eq(index % count).addClass("active");
                    var bgc = ul.children("li.active").attr("data-bgcolor");
                    ul.stop().animate({
                        "margin-left": -index * silde_width
                    }, 400, function () {
                        timer = setTimeout(function () {
                            action((index % count) + 1, true);
                        }, _interval);

                        if (index == count)
                            ul.css('margin-left', "");
                    }).parents(".bgc").attr("style", "background-color:" + bgc);
                }
                var prevImg = function () {
                    var indexbanner = count - 1;
                    if (ul.children('li').index(ul.children('li.active')) == indexbanner) {
                        ul.animate({
                            "margin-left": (-indexbanner - 1) * silde_width
                        }, 400, function () {
                            ul.stop().css('margin-left', "");
                            action(0);
                        });
                        return;
                    }
                    ul.children('li.active').next().mouseenter();
                }
                var nextImg = function () {
                    var indexbanner = count - 1;
                    if (ul.children('li').index(ul.children('li.active')) == 0) {
                        ul.css('margin-left', (-indexbanner - 1) * silde_width);
                        ul.animate({
                            "margin-left": -indexbanner * silde_width
                        }, 400, function () {
                            ul.stop().css('margin-left', -indexbanner * silde_width);
                            action(indexbanner);
                        });
                        return;
                    }
                    ul.children('li.active').prev().mouseenter();
                }
                $(slideTag + " .prev").click(nextImg);
                $(slideTag + " .next").click(prevImg);
                action(0);
            }
            slide("#f1_slide", 5000);
            slide("#f2_slide", 5000);
            slide("#f3_slide", 5000);
            slide("#f4_slide", 5000);
            slide("#f5_slide", 5000);
            slide("#f6_slide", 5000);
            slide("#banner_slide", 5000);
            //图片左右滚动
            function listSrcoll(tags) {
                var $tag = $(tags).children("ul"),
                        scrollwidth = $tag.children("li").width() + 45;
                $tag.css("left", "0");
                $(tags).on("click", ".prev", function () {
                    var leftval = parseInt($tag.css("left").replace(/px/i, ""));
                    if (leftval < 0) {
                        $tag.animate({ "left": leftval + scrollwidth }, 500);
                    }
                });
                $(tags).on("click", ".next", function () {
                    var leftval = parseInt($tag.css("left").replace(/px/i, ""));
                    if (leftval > -(scrollwidth * ($tag.children("li").length - 5))) {
                        $tag.animate({ "left": -(-leftval + scrollwidth) }, 500);
                    }
                });
            }
            listSrcoll("#f3_about_slide");
            listSrcoll("#f5_about_slide");
            listSrcoll("#f6_about_slide");
        })(jQuery);
    </script>
}