@model Tuhu.Provisioning.DataAccess.Entity.CouponActivityModel
@{
    Layout = null;
    ViewBag.Title = "编辑活动页配置";
}
<style>
    .tab {
        width: 100%;
    }

    .td_right {
        text-align: right;
    }

    .td_left {
        text-align: left;
    }

    #showTemplate select {
        max-width: 200px;
    }


    .btn {
        margin-top: 20px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        outline: none;
        cursor: pointer;
        background: cornflowerblue;
        border-color: cornflowerblue;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: cornflowerblue;
        border: solid 1px cornflowerblue;
    }
</style>
<div id="editActivity">
    <form class="editForm">
        <fieldset>
            <legend>活动</legend>

            <table class="tab" border="0" style="margin-bottom:10px;">
                <tr>
                    <td class="td_right">名称：</td>
                    <td class="td_left"><input type="text" name="ActivityName" value="@(Model == null ? null : Model.ActivityName)" /></td>
                    <td class="td_right">页面有效期：</td>
                    <td class="td_left"><input type="text" name="StartTime" style="width: 150px;" value="@(Model == null ? null : Model.StartTime.ToString("yyyy-MM-dd HH:mm"))" /></td>
                </tr>
                <tr>
                    <td class="td_right">发放渠道：</td>
                    <td class="td_left"><input type="text" name="ActivityChannel" value="@(Model == null ? null : Model.ActivityChannel)" /></td>
                    <td></td>
                    <td class="td_left"><input type="text" name="EndTime" style="width: 150px;" value="@(Model == null ? null : Model.EndTime.ToString("yyyy-MM-dd HH:mm"))" /></td>
                </tr>
                <tr>
                    <td class="td_right">数量：</td>
                    <td class="td_left"><input type="number" name="CouponNum" min="1" value="@(Model == null||Model.CouponNum == 0 ? null : Model.CouponNum.ToString())" /></td>
                    <td class="td_right">新注册用户：</td>
                    <td class="td_left">
                        <label><input type="radio" name="IsNewUser" value="1" checked="@(Model == null || Model.IsNewUser < 1 ? null : "checked")" />是</label>
                        <label><input type="radio" name="IsNewUser" value="0" checked="@(Model == null || Model.IsNewUser < 1 ? "checked" : null)" />否</label>
                    </td>
                </tr>
                <tr>
                    <td class="td_right">头图：</td>
                    <td class="td_left">
                        <input style="width: 150px;" type="file" onchange="UploadImg(this);" />
                        <img style="height:40px;" src="@(Model == null ? null : Model.BannerImg)" />
                        <input type="text" name="BannerImg" size="1" style="visibility: hidden" value="@(Model == null ? null : Model.BannerImg)" />
                    </td>
                    <td class="td_right">底图：</td>
                    <td class="td_left">
                        <input style="width:150px;" type="file" onchange="UploadImg(this);" />
                        <img style="height:40px;" src="@(Model == null ? null : Model.ActivityRuleImg)" />
                        <input type="text" name="ActivityRuleImg" size="1" style="visibility: hidden" value="@(Model == null ? null : Model.ActivityRuleImg)" />
                    </td>
                </tr>

            </table>
        </fieldset>
    </form>
    <fieldset>
        <legend>优惠券</legend>
        <div id="showTemplate">
            @if (Model != null && Model.Coupons != null && Model.Coupons.Any())
            {
                foreach (var coupon in Model.Coupons)
                {
                    int? type = null;
                    <form class="editForm">
                        <table class="tab" border="0">
                            <tr>
                                <td class="td_right">优惠券Id：</td>
                                <td class="td_left">
                                    <input type="number" name="CouponId" value="@coupon.CouponId" />
                                    <input type="hidden" id="pkid" name="pkid" value="@coupon.PKID" />
                                </td>
                                <td class="td_right">兑换后有效天数： </td>
                                <td class="td_left">
                                    <input name="ValidDays" type="number" value="@coupon.ValidDays" min="1" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td class="td_right">优惠金额： </td>
                                <td class="td_left"><input name="Money" type="number" value="@coupon.Money" min="0" readonly="readonly" /></td>
                                <td class="td_right">固定日期：</td>
                                <td class="td_left">
                                    <input name="StartDate" type="text" value="@(coupon.StartDate == null ? null : coupon.StartDate.Value.ToString("yyyy-MM-dd"))" readonly="readonly" /> 至
                                    <input name="EndDate" type="text" value="@(coupon.EndDate == null ? null : coupon.EndDate.Value.ToString("yyyy-MM-dd"))" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td class="td_right">限制最低金额： </td>
                                <td class="td_left"><input name="MinMoney" type="number" value="@coupon.MinMoney" min="0" readonly="readonly" /></td>

                                <td class="td_right">
                                    优惠卷数量:
                                </td>
                                <td class="td_left">
                                    <input type="number" id="CouponNum" name="CouponNum" value="@coupon.CouponNum" min="0" readonly="readonly" />
                                </td>
                            </tr>
                            <tr>
                                <td class="td_right">说明： </td>
                                <td class="td_left"><input name="Instructions" type="text" readonly="readonly" value="@coupon.Instructions" /></td>
                                <td><input onclick="deletCoupon(this)" class="btn" type="button" value="删除" /></td>
                            </tr>

                        </table>
                    </form>
                }
            }
        </div>
    </fieldset>
    <input style="margin-top:10px;" type="button" class="btn" id="AddCoupon" value="添加优惠券" />
    <div style="margin-top:10px;">
        <fieldset>
            <legend>成功页面</legend>
            <form class="editForm" id="SuccessPage">
                <table class="tab" border="0">

                    <tr>
                        <td class="td_right">头图：</td>
                        <td class="td_left">
                            <input style="width:150px;" type="file" onchange="UploadImg(this);" />
                            <img style="height:40px;" src="@(Model == null ? null : Model.SuccessPage.TopImg)" />
                            <input type="text" name="TopImg" size="1" style="visibility: hidden" value="@(Model == null ? null : Model.SuccessPage.TopImg)" />
                        </td>
                        <td class="td_right">IOS链接：</td>
                        <td class="td_left"><input type="text" name="IOSLink" value="@(Model == null ? null : Model.SuccessPage.IOSLink)" /></td>
                    </tr>
                    <tr>
                        <td class="td_right">中图：</td>
                        <td class="td_left">
                            <input style="width:150px;" type="file" onchange="UploadImg(this);" />
                            <img style="height:40px;" src="@(Model == null ? null : Model.SuccessPage.CenterImg)" />
                            <input type="text" name="CenterImg" size="1" style="visibility: hidden" value="@(Model == null ? null : Model.SuccessPage.CenterImg)" />
                        </td>
                        <td class="td_right">Android链接：</td>
                        <td class="td_left"><input type="text" name="AndroidLink" value="@(Model == null ? null : Model.SuccessPage.AndroidLink)" /></td>
                    <tr>
                        <td class="td_right">底图：</td>
                        <td class="td_left">
                            <input style="width:150px;" type="file" onchange="UploadImg(this);" />
                            <img style="height:40px;" src="@(Model == null ? null : Model.SuccessPage.BottomImg)" />
                            <input type="text" name="BottomImg" size="1" style="visibility: hidden" value="@(Model == null ? null : Model.SuccessPage.BottomImg)" />
                        </td>
                        <td class="td_right">跳转方式：</td>
                        <td class="td_left" colspan="3">
                            @{ var jumpMillisecond = Model == null || Model.SuccessPage.JumpMillisecond < 1000 ? 0 : Model.SuccessPage.JumpMillisecond; }
                            <input type="number" style="font-size:10px; width: 50px;" name="JumpMillisecond" min="999" value="@(jumpMillisecond < 1000 ? null : jumpMillisecond.ToString())" disabled="@(jumpMillisecond < 1000 ? "disabled" : null)" />毫秒后<label><input type="radio" name="skipWay_1" checked="@(jumpMillisecond < 1000 ? null : "checked")" value="" />自动跳转</label> 或 <label><input type="radio" name="skipWay_1" checked="@(jumpMillisecond < 1000 ? "checked" : null)" value="0" />点击跳转</label>
                        </td>
                    </tr>
                </table>
            </form>
        </fieldset>
        <fieldset>
            <legend>失败页面</legend>
            <form class="editForm" id="ErrorPage">
                <table class="tab" border="0">

                    <tr>
                        <td class="td_right">头图：</td>
                        <td class="td_left">
                            <input style="width:150px;" type="file" onchange="UploadImg(this);" />
                            <img style="height:40px;" src="@(Model == null ? null : Model.ErrorPage.TopImg)" />
                            <input type="text" name="TopImg" size="1" style="visibility: hidden" value="@(Model == null ? null : Model.ErrorPage.TopImg)" />
                        </td>
                        <td class="td_right">IOS链接：</td>
                        <td class="td_left"><input type="text" name="IOSLink" value="@(Model == null ? null : Model.ErrorPage.IOSLink)" /></td>
                    </tr>
                    <tr>
                        <td class="td_right">中图：</td>
                        <td class="td_left">
                            <input style="width:150px;" type="file" onchange="UploadImg(this);" />
                            <img style="height:40px;" src="@(Model == null ? null : Model.ErrorPage.CenterImg)" />
                            <input type="text" name="CenterImg" size="1" style="visibility: hidden" value="@(Model == null ? null : Model.ErrorPage.CenterImg)" />
                        </td>
                        <td class="td_right">Android链接：</td>
                        <td class="td_left"><input type="text" name="AndroidLink" value="@(Model == null ? null : Model.ErrorPage.AndroidLink)" /></td>
                    </tr>
                    <tr>
                        <td class="td_right">底图：</td>
                        <td class="td_left">
                            <input style="width:150px;" type="file" onchange="UploadImg(this);" />
                            <img style="height:40px;" src="@(Model == null ? null : Model.ErrorPage.BottomImg)" />
                            <input type="text" name="BottomImg" size="1" style="visibility: hidden" value="@(Model == null ? null : Model.ErrorPage.BottomImg)" />
                        </td>
                        <td class="td_right">跳转方式：</td>
                        <td class="td_left" colspan="3">
                            @{ jumpMillisecond = Model == null || Model.ErrorPage.JumpMillisecond < 1000 ? 0 : Model.ErrorPage.JumpMillisecond; }
                            <input type="number" style="font-size:10px; width: 50px;" name="JumpMillisecond" min="999" value="@(jumpMillisecond < 1000 ? null : jumpMillisecond.ToString())" disabled="@(jumpMillisecond < 1000 ? "disabled" : null)" />毫秒后<label><input type="radio" name="skipWay_1" checked="@(jumpMillisecond < 1000 ? null : "checked")" value="" />自动跳转</label> 或 <label><input type="radio" name="skipWay_1" checked="@(jumpMillisecond < 1000 ? "checked" : null)" value="0" />点击跳转</label>
                        </td>
                    </tr>
                </table>
            </form>
        </fieldset>
    </div>
</div>
<div id="addTemplate" style="display: none;">
    <form class="editForm">
        <table class="tab" border="0">
            <tr>
                <td class="td_right">优惠券Id：</td>
                <td class="td_left">
                    <input type="number" name="CouponId" />
                    <input type="hidden" id="pkid" name="pkid" value="0" />
                </td>
                <td class="td_right">兑换后有效天数： </td>
                <td class="td_left">
                    <input name="ValidDays" type="number" min="1" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td class="td_right">优惠金额： </td>
                <td class="td_left"><input name="Money" type="number" value="0" min="0" readonly="readonly" /></td>
                <td class="td_right">固定日期：</td>
                <td class="td_left">
                    <input name="StartDate" type="text" value="" readonly="readonly" />
                    至 <input name="EndDate" type="text" value="" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td class="td_right">限制最低金额： </td>
                <td class="td_left"><input name="MinMoney" type="number" min="0" readonly="readonly" /></td>

                <td class="td_right">
                    优惠卷数量:
                </td>
                <td class="td_left">
                    <input type="number" id="CouponNum" name="CouponNum" min="0" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td class="td_right">说明： </td>
                <td class="td_left"><input name="Instructions" type="text" readonly="readonly" /></td>
                <td><input onclick="deletCoupon(this)" class="btn" type="button" value="删除" /></td>
            </tr>
        </table>
    </form>
</div>
<script>

    $("input[name='CouponId']").blur(function () {
        var $t = $(this);
        $.ajax({
            type: "POST",
            url: "/ActivityV1/CouponVlidate",
            data: {
                "couponRulePKID": $t.val()
            },
            dataType: "JSON",
            success: function (result) {
                console.log(JSON.stringify(result))
                $t.parents("form").find("input[name='Instructions']").val(result.Description);
                $t.parents("form").find("input[name='ValidDays']").val(result.CouponDuration);
                if (result.Discount < 1) {
                    $t.parents("form").find("input[name='Money']").val(0);
                }else {
                    $t.parents("form").find("input[name='Money']").val(result.Discount);
                }
                if (result.Minmoney < 1) {
                    $t.parents("form").find("input[name='MinMoney']").val(0);
                } else {
                    $t.parents("form").find("input[name='MinMoney']").val(result.Minmoney);
                }


                $t.parents("form").find("input[name='StartDate']").val(result.CouponStartTime);
                $t.parents("form").find("input[name='EndDate']").val(result.CouponEndTime);
                $t.parents("form").find("input[name='CouponNum']").val(result.Quantity);
            },
            error: function (result) {

            }
        });
    })
    $("#showTemplate").on("click", "[name=DateWay]", function () {
        var tr = $(this).closest("tr").next();
        if (this.value == "0") {
            $("[type=date]", tr).removeProp("disabled");
            $("[name=ValidDays]", tr.next()).prop("disabled", true);
        }
        else {
            $("[type=date]", tr).prop("disabled", true);
            $("[name=ValidDays]", tr.next()).removeProp("disabled");
        }
    }).on("change", "[name=CouponType]", function () {
        var self = $(this);
        var form = self.closest("form");
        var type = self.children(":selected").data("type");
        if (type == "3" || type == "11" || type == "99")
            $("[name=Money],[name=MinMoney]", form).attr("disabled", "disabled");
        else
            $("[name=Money],[name=MinMoney]", form).removeAttr("disabled");

        $("[name=Instructions]", form).val(self.children(":selected").text());
    });

    $("#SuccessPage [name=skipWay_1], #ErrorPage [name=skipWay_1]").on("click", function () {
        var input = $(this).parent().siblings("[name=JumpMillisecond]");
        this.value ? input.prop("disabled", true) : input.removeProp("disabled");
    });

    $("#editActivity>form").validate(mainValidateOptions);

    $("#editActivity [name=StartTime],#editActivity [name=EndTime]").datetimepicker({
        minDate: new Date(),
        dateFormat: "yy-mm-dd"
    });

    $("#AddCoupon").click(function () {
        $("#showTemplate").append($("#addTemplate>.editForm").clone(true, true));
        $("#showTemplate>form:last").validate(couponValidateOptions);
    });


</script>
