@{
    ViewBag.Title = "品牌旗舰店";
}
@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.SE_BrandFlagship>

@section head{
    <link href="~/Scripts/jquery-autocomplete/jquery.autocomplete.css" type="text/css" rel="stylesheet" />
    }

<table width="100%" id="BrandFlagship">
    <thead>
        <tr>
            <td colspan="4" style="height:20px;">
                <input type="button" value="新 增" id="btnAdd" style="position:absolute;right:20px;top:5px;width:100px;"/>
            </td>
        </tr>
        <tr>
            <th width="10%">ID</th>
            <th width="30%">名称</th>
            <th width="20%">
                URL
            </th>
            <th width="10%">分享参数</th>
            <th width="30%">管理</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ID
                    </td>
                    <td>@item.Name</td>
                    <td>
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["WeiXinDomain"]/Shops/BrandShop?id=@item.ID">@System.Configuration.ConfigurationManager.AppSettings["WeiXinDomain"]/Shops/BrandShop?id=@item.ID</a>
                    </td>
                    <td>@item.ShareParameter</td>
                    <td>
                        <input type="button" value="编 辑" style="width:120px; margin-left:10px;" onclick="Edit(this,'@item.ID')" />
                        <input type="button" value="删除" style="width:120px; margin-left:10px;" onclick="Delete(this,'@item.ID')" />
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

<div id="edit"></div>
@section scripts{
<script src="/Scripts/ajaxfileupload.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate-1.8.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        $('#btnAdd').on('click', function () {
            $('#edit').empty();
            $('#edit').load("/BrandFlagship/Edit");
            $('#edit').dialog({
                title: "品牌旗舰店编辑",
                width: 600,
                height: 900,
                modal: true,
                resizable: false,
                buttons: {
                    "保 存": function () {
                        var data = GetData();

                        if (data) {
                            $.ajax({
                                url: '/BrandFlagship/Save',
                                type: 'post',
                                data: { content: JSON.stringify(data) },
                                dataType: 'json'
                            }).done(function (result) {
                                if (result == 1) {
                                    alert("保存成功");
                                    $('#edit').dialog("close");
                                    location.reload();
                                } else {
                                    alert("保存失败");
                                }
                            }).fail(function () {
                                alert("保存失败");
                            });
                        }
                    },
                    "取 消": function () {
                        $('#edit').empty();
                        $(this).dialog("close");
                    }
                }
            });
        });

        function Upload(obj, showImg,hidImg) {

            var pobj = $(obj);
            var rd = Math.ceil(Math.random() * 9999) + 1;
            var fileElId = $(obj).attr("id");
            console.log(fileElId);
            $.ajaxFileUpload({
                url: '/Article/ImageUploadToAli?rd=' + rd,
                secureuri: false,
                fileElementId: fileElId,
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (result.BImage != "" && result.SImage != "") {
                        $("#" + showImg).attr("src", result.SImage).show();
                        $('#' + hidImg).val(result.BImage);
                    } else {
                        alert("上传失败！");
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            });
        }


        function ArticleValidate(obj, formName) {

            var value = $(obj).val();

            if (value == '' || value == null) { return; }

            $.ajax({
                type: 'post',
                url: '/BrandFlagship/SelectActricle?id=' + value,
                dataType: 'json'
            }).done(function (result) {

                result = JSON.parse(result);
                if (result.length > 0) {
                    $('#ArticleTitle', '#' + formName).val(result[0].BigTitle);
                } else {
                    alert("文章不存在");
                    $(obj).val('');
                }
            }).fail(function () {

            });
        }

        function Edit(obj,id) {
            $('#edit').empty();
            $('#edit').load("/BrandFlagship/Edit?id="+id);
            $('#edit').dialog({
                title: "品牌旗舰店编辑",
                width: 600,
                height: 900,
                modal: true,
                resizable: false,
                buttons: {
                    "保 存": function () {
                        var data = GetData();
                        if (data) {
                            data.ID = id;
                            $.ajax({
                                url: '/BrandFlagship/Save',
                                type: 'post',
                                data: { content: JSON.stringify(data) },
                                dataType: 'json'
                            }).done(function (result) {
                                if (result == 1) {
                                    alert("保存成功");
                                    $('#edit').dialog("close");
                                    location.reload();
                                } else {
                                    alert("保存失败");
                                }
                            }).fail(function () {
                                alert("保存失败");
                            });
                        }
                    },
                    "取 消": function () {
                        $('#edit').empty();
                        $(this).dialog("close");
                    }
                }
            });
        }
        function Delete(obj,id) {
            var r = confirm("您确定删除吗?");
            if (r) {
                $.ajax({
                    url: '/BrandFlagship/Delete',
                    type: 'post',
                    data: { id: id }
                }).done(function (result) {
                    if (result == 1) {
                        alert("删除成功");
                        location.reload();
                    } else {
                        alert("删除失败");
                    }
                }).fail(function () {
                    alert("删除失败");
                });
            }
        }


        function SimpleActivityValidate(obj) {
            var id = $(obj).val();
            if (id) {
                $.ajax({
                    url: '/BrandFlagship/SimpleActivity',
                    data: { id: id },
                    type: 'post'
                }).done(function (result) {
                    if (result == 1) {

                    } else {
                        alert("活动ID不存在");
                        $(obj).val("");
                    }
                }).fail(function () {

                });
            }
           
        }

        function FlowerValidate(obj) {
            var id = $(obj).val();
            if (id) {
                $.ajax({
                    url: '/BrandFlagship/FlowerValite',
                    data: { id: id },
                    type:'post'
                }).done(function (result) {
                    if (result == 1) {

                    } else {
                        alert("花纹ID不存在");
                        $(obj).val("");
                    }
                }).fail(function () {

                });
            }
         
        }

        function BindBrand(sel) {
            $.ajax({
                url: '@(System.Configuration.ConfigurationManager.AppSettings["ApiDomain"].ToString())/Tires/GetTiresBrand',
                type: 'post',
                dataType: 'json',
                success: function (result) {
                    $('#Brand').append('<option value=""></option>');
                    for (var i = 0; i < result.TiresBrand.length; i++) {
                        var item = result.TiresBrand[i];
                        if (item.BrandName != sel)
                            $('#Brand').append(' <option value="' + item.BrandName + '">' + item.BrandName + '</option>');
                        else
                            $('#Brand').append(' <option value="' + item.BrandName + '"  selected="selected" >' + item.BrandName + '</option>');
                    }
                }


            });
        }
    </script>
    }
