@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.AdvertCategoryModel>
@{
    var title = "改装广告类目配置";

    ViewBag.Title = title;
}
<style>
    .ui-dialog {
        border-radius: 3px;
        padding: 0px;
        width: auto;
    }

    .ui-dialog-grid {
        width: 100%;
    }

    .ui-dialog-title {
        width: 75%;
        padding: 8px 15px 8px 15px;
    }

    .ui-dialog-close {
        top: 8px;
    }

    .ui-dialog-body {
        padding: 10px;
    }

    .ui-dialog-content {
        padding: 0px;
    }

    .ui-dialog-footer {
        padding: 5px 10px 5px 5px;
        background: #ffffff;
        border-top: 1px solid #eee;
    }

        .ui-dialog-footer button {
            padding: 3px 15px;
            border-radius: 2px;
            box-shadow: 0 1px 1px rgba(0,0,0,.15);
            font-size: 12px;
        }

            .ui-dialog-footer button.ui-dialog-autofocus {
                font-weight: 700;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
            }

    .button1 {
        border-radius: 5px;
        padding: 5px 25px;
        border: none;
        color: #F0F0F0;
        font-size: 12px;
        font-family: "Microsoft Yahei";
        outline: none;
        cursor: pointer;
        background: #0088cc;
        border-color: #0088cc;
    }

    table th {
        color: white;
        padding: 6px 5px;
        text-align: left;
        background-color: #0088cc;
        border: solid 1px #0088cc;
    }
</style>
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>
<link rel="stylesheet" href="/Scripts/artDialog6.0.4/css/ui-dialog.css" />
<script src="~/Scripts/artDialog6.0.4/dist/dialog-min.js"></script>
<script src="~/Scripts/artDialog6.0.4/dist/dialog-plus-min.js"></script>

<link href="~/Scripts/jQuery-EasyUI/themes/default/easyui.css" type="text/css" rel="stylesheet" />
<link href="~/Scripts/jQuery-EasyUI/themes/icon.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/jQuery-EasyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="~/Scripts/jQuery-EasyUI/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="~/Scripts/layer/layer.js"></script>
<h2 style="">改装广告类目配置</h2>
<div id="LookOplog"></div>
<div id="advertcategoryconfig" style="">
    <div id="advertcategoryconfigList">
        <a class="button1" href="javascript:;" style="margin-bottom: 20px; float: right;" onclick="insert();">添加广告</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="button1" href="javascript:;" style="margin-bottom: 20px; float: right; margin: 0 6px;" onclick="LookOplog();">查看日志</a><br/>
        @*<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true,onClick:function(){LookOplog();$('#LookOplog').dialog('center')}">查看日志</a>*@
        @*<h5><span class="addAdvert" id="addAdvert">添加广告</span></h5>*@
        @*<h5><span class="searchLogger" id="searchLogger">查看日志</span></h5>*@
        <table style="text-align: center; width: 100%;">
            <tr>
                <th>广告名称</th>
                <th>显示顺序</th>
                <th>是否显示</th>
                <th>操作</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width: 30%">@item.AdvertName</td>
                    <td style="width: 20%">@item.Sort</td>
                    <td style="width: 20%">@(item.IsShow ? "是" : "否")</td>
                    <td style="width: 30%">
                        <a class="EditAdvertItem" value="@(item.PKID)" id="@(item.PKID)_Update" onclick="update(@(item.PKID))">编辑</a>
                        <a class="EditAdvertItem" value="@(item.PKID)" id="@(item.PKID)_Update" onclick="deleteModel(@(item.PKID))">删除</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div id="EditItemAdvertDIV"></div>
<input type="hidden" id="hidObjectType" value="GuangGao" />
<script>

    function insert() {
        var categoryid=@ViewData["categoryid"];
        window.location.href = "/ConfigCategory/AdvertCategory?categoryid=" + categoryid;

        //var dialgpResult = dialog({
        //    height: 350,
        //    width: 700,
        //    title: "添加广告",
        //    button: [
        //    {
        //        value: "保存",
        //        callback: function () {
        //            $.ajax({
        //                type: "POST",
        //                url: "/ConfigCategory/InsertAdvertCategoryItem",
        //                data: {
        //                    "categoryId": categoryid,
        //                    "adType": $("#ddlType").val(),
        //                    "typeName": $("#ddlType option:selected").text(),
        //                    "adName" : $("#AdName").val(),
        //                    "imageURL": $("#Image").val(),
        //                    "sort": $("#Sort").val(),
        //                    "appLink": $("#AppLink").val(),
        //                    "mobileLink": $("#MobileLink").val(),
        //                    "promotionCodeID": $("#PromotionCodeID").val(),
        //                    "isShow": $("input[type='radio']:checked").val(),
        //                    "extend1": $("#Extend1").val(),
        //                    "extend2": $("#Extend2").val()
        //                },
        //                success: function (result) {
        //                    if (result) {
        //                        window.location.reload(true);
        //                    }
        //                    else {
        //                        alert("保存失败！");
        //                    }
        //                }
        //            });
        //        }
        //    },
        //    {
        //        value: "关闭"
        //    }]
        //});
        //$.ajax({
        //    url: "/ConfigCategory/AdvertCategory?categoryid=" + categoryid,
        //    data: {},
        //    type: "GET",
        //    success: function (result) {
        //        dialgpResult.content(result);
        //        dialgpResult.showModal();
        //    }
        //});
    };

    function update(e) {
        var categoryid=@ViewData["categoryid"];
        window.location.href = "/ConfigCategory/AdvertCategory?pkid=" + e + "&categoryid=" + categoryid;

        //var dialgpResult = dialog({
        //    height: 200,
        //    width: 500,
        //    fixed: true,
        //    title: "编辑广告",
        //    button: [
        //    {
        //        value: "保存",
        //        callback: function () {
        //            $.ajax({
        //                type: "POST",
        //                url: "/ConfigCategory/UpdateAdvertCategoryItem",
        //                data: {
        //                    "pkid": e,
        //                    "categoryId": categoryid,
        //                    "adType": $("#ddlType").val(),
        //                    "typeName": $("#ddlType option:selected").text(),
        //                    "adName": $("#AdName").val(),
        //                    "imageURL": $("#Image").val().length==0?$("#existImage").val():$("#Image").val(),
        //                    "sort": $("#Sort").val(),
        //                    "appLink": $("#AppLink").val(),
        //                    "mobileLink": $("#MobileLink").val(),
        //                    "promotionCodeID": $("#PromotionCodeID").val(),
        //                    "isShow": $("input[type='radio']:checked").val(),
        //                    "extend1": $("#Extend1").val(),
        //                    "extend2": $("#Extend2").val(),
        //                    "extend3": $("#Extend3").val(),
        //                    "remark": $("#Remark").val()
        //        },
        //                success: function (result) {
        //                    if (result) {
        //                        window.location.reload(true);
        //                    }
        //                    else {
        //                        alert("保存失败！");
        //                    }
        //                }
        //            });
        //        }
        //    },
        //    {
        //        value: "关闭"
        //    }]
        //});
        //$.ajax({
        //    url: "/ConfigCategory/AdvertCategory?pkid=" + e,
        //    data: {},
        //    type: "GET",
        //    success: function (result) {
        //        dialgpResult.content(result);
        //        dialgpResult.showModal();
        //    }
        //});
    };

    function deleteModel(e) {
        if (confirm("确定要删除吗")) {
            $.ajax({
                type: "POST",
                url: "/ConfigCategory/DeleteAdvert",
                data: {
                    "pkid": e
                },
                success: function (result) {
                    if (result) {
                        window.location.reload(true);

                    }
                    else {
                        alert("删除失败！");

                    }
                }
            });
        };
    }

    function LookOplog() {
        $("#LookOplog").html("").load('/Logger/list?objectType=GuangGao');
        $("#LookOplog").dialog({
            title: "查看日志",
            width: 850,
            height: 450,
            modal: true,
            resizable: false,
            buttons: {
                "取消": function() {
                    $(this).dialog("close");
                }
            }
        });
    }

</script>


