@using Tuhu.Provisioning.DataAccess.Entity;
@{
    ViewBag.Title = "微信二维码生成配置管理";
    Layout = "../Shared/_Layout.cshtml";
    IEnumerable<QRCodeManageModel> _QRCodeManageList = (IEnumerable<QRCodeManageModel>)ViewBag.QRCodeManageList ?? null;
}

<style type="text/css">
    input[type=button], input[type=submit] {
        background: #0088cc none repeat scroll 0 0;
        border: medium none #0088cc;
        border-radius: 5px;
        color: #f0f0f0;
        cursor: pointer;
        font-family: "Microsoft Yahei";
        font-size: 12px;
        outline: medium none;
        padding: 5px 25px;
    }

     table th {
        color: white;
        padding: 6px 5px;
        text-align: center;
        background-color: #0088cc;
        border: solid 1px #0088cc;
    }

    table.faqlist td {
        text-align: center;
        padding:0;
    }

    .faqlist {
        width: 100%;
        margin: 10px;
    }

   .faqlist tr:nth-child(1) td {
       font-weight: bold;
       font-size: 16px;
   }

   .faqlist tr td:nth-child(5) span {
        display:block;
   }
</style>

<table class="faqlist">
    <thead>
        <tr>
            <th width="10%" rowspan="3">微信二维码配置管理</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>
                <span style="display:none;">
                    (慎用,仅当二维吗生成失败时使用) &nbsp;
                    缓存Key ( appid )
                    <input id="cacheText" type="text" />
                    <input type="button" value="确认清除" onclick="QRCodeManageConfig.RemoveCache(this);" style="background:#fff;color:#333;" />
                </span>
            </th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th width="15%">
            <input type="button" value="添加配置" onclick="QRCodeManageConfig.EditConfig(0);" style="background:#fff;color:#333;" />
            <input type="button" value="查看统计" onclick="QRCodeManageConfig.GoToQRCodeStatistics();" style="background:#fff;color:#333;" />
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="10%;">序号</td>
            <td>渠道名</td>
            <td>追踪ID</td>
            <td>有效期</td>
            <td>二维码</td>
            <td>二维码类型</td>
            <td>状态</td>
            <td>创建时间</td>
            <td>操作</td>
        </tr>
        @{
            if (_QRCodeManageList != null)
            {
                var index = 0;
                foreach (var item in _QRCodeManageList)
                {
                    <text>
                        <tr id="@item.Id">
                            <td>@(++index)</td>
                            <td>@item.ChannelName</td>
                            <td>@item.TraceId</td>
                            <td>@(item.QRCodeType == 0 ? item.ValidityTime : "")</td>
                            <td>
                                <span><img width="100" height="100" src="@(item.QRCodeUrl)"></span>
                                <span style="display:none;">@item.QRCodeUrl</span>
                            </td>
                            <td>@(item.QRCodeType == 0 ? "临时" : "永久" ) </td>
                            <td>@(item.IsShow == 1 ? Html.Raw("<span style='color:green;'>启用</span>") : Html.Raw("<span style='color:red;'>禁用</span>")) </td>
                            <td>@item.CreateTime</td>
                            <td>
                                <input type="button" value="编辑" onclick="QRCodeManageConfig.EditConfig(@(item.Id));" style="display:none;" />
                                <input type="button" value="删除" onclick="QRCodeManageConfig.RemoveConfig(@(item.Id),this)" />
                            </td>
                        </tr>
                    </text>
                }
            }
            else
            {
                <text>
                    <tr>
                        <td colspan="9" align="center">暂无数据！</td>
                    </tr>
                </text>
            }
        }
    </tbody>
</table>

<div id="ShowDialog"></div>

<script type="text/javascript">
    var QRCodeManageConfig = {
        LoadConfig: function (id) {
            $("#ShowDialog").html("").load('/QRCodeManageConfig/AddOrEdit?id=' + id || 0);
        },
        ShowConfig: function (id) {
            $("#ShowDialog").dialog({
                title: id > 0 ? "修改配置" : "添加配置",
                width: 800,
                height: 530,
                modal: true
            });
        },
        EditConfig: function (id) {
            this.LoadConfig(id);
            this.ShowConfig(id);
        },
        RemoveConfig:function(id,obj)
        {
            if(confirm("删除后不可恢复，确认删除？")){
                var $obj = $(obj).parent().parent();
                $.ajax({
                    type: "POST",
                    url: "/QRCodeManageConfig/RemoveConfig",
                    data: { id:id },
                    success: function(n){
                        n = n || 0;
                        if(n > 0){
                            $obj.remove();
                        }
                        else{
                            alert("删除失败，请刷新重试！");
                        }
                    }
                });
            }
        },
        RemoveCache: function (obj) {
            var $cacheText = $("#cacheText");
            if ($.trim($cacheText.val()).length > 0) {
                $(obj).attr("disabled", "disabled").val("缓存清楚中...");
                $.ajax({
                    type: "POST",
                    url: "/QRCodeManageConfig/RemoveCache",
                    data: { key: "token_" + $cacheText.val() },
                    success: function (n) {
                        n = n || 0;
                        if (n > 0) {
                            $cacheText.val("");
                            alert("缓存清除成功！");
                        }
                        else {
                            alert("缓存清除失败！");
                        }
                        $(obj).removeAttr("disabled").val("确认清除");
                    }
                });
            }
            else
            {
                alert("请输入要清除的KEY！");
            }
        },
        GoToQRCodeStatistics:function(){
            window.open("/QRCodeStatisticsConfig/Index", "_blank");
        }
    }
    
</script>