@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.BlackListConfigModel>
@{
    ViewBag.Title = "黑名单列表";
}

<style type="text/css">
 .faqlist { width: 100%; }
 .faqlist p { padding: 0; margin: 0;}
 table th {color: white;padding: 6px 5px; text-align: left; background-color: #0088cc; border: solid 1px #0088cc;}
</style>

@{
    <h1>黑名单列表</h1>
    if (Model != null && Model.Count() > 0)
    {
        <table class="faqlist">
            <thead>
                <tr style="background-color: #5c87b2; color: #ffffff;">
                    <th>序号</th>
                    <th>用户ID</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>管理</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var num = 0;
                    foreach (var item in Model)
                    {
                        ++num;
                        <text>
                            <tr>
                                <td>@num</td>
                                <td>@item.UserId</td>
                                <td>@(item.State == 1 ? "黑名单" : "")</td>
                                <td>@item.CreateTime</td>
                                <td><input type="button" id="@item.Id" value="解除黑名单" onclick="DelBlackList(this,@item.Id)" /></td>
                            </tr>
                        </text>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
       <div style="text-align:center;">暂无数据</div>
    }
}
<script type="text/javascript">
    function DelBlackList(element, id) {
        var $element = $(element);

        if (confirm("确认解除?")) {
            id = parseInt(id) || 0;
            if (id > 0) {
                $.ajax({
                    type: "POST",
                    url: "/BlackListConfig/DelBlackList",
                    data: { id: id },
                    success: function (n) {
                        n = n || 0;
                        if (n > 0) { 
                            $element.parent().parent().remove();
                            alert("解除成功!");
                        }
                        else{alert("解除失败,请刷新重试!");}
                    }
                });
            }
            else {
                alert("解除失败,请刷新重试!");
            }
        }
    }
</script>