@model  Tuple<List<SupplierInfo>, SupplierInfo>
@using Tuhu.Provisioning.DataAccess.Entity

@{
    ViewBag.Title = "供应商设置";
}

@using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
{
    @Html.ValidationSummary()
  <table>
      <tr>
          <td>
              商户标志
              </td>
                                 
          <td>
            
              @Html.HiddenFor(m => m.Item2.logo_url, new { id = "logoimg" })
              @*<input type="file" id="imageInput" name="imageInput"/>*@
              <input type="file" id="imageInput" name="imageInput" style="display:none" />
              <input type="button" id="i_submit"  value="上传图片" onclick="UploadImg()">
              <br>
              <img src="" width="200" style="display:none;" />
              <br>
              <div id="disp_tmp_path"></div>
          </td>

          </tr>

      <tr>
          <td>
              商户名称
          </td>
          <td>
             
              @Html.TextBoxFor(m=>m.Item2.brand_name)
          </td>
          <td>
              <input type="submit" value="提交" />
          </td>

      </tr>
      @if (Model.Item1 != null)
      {
          <tr>
             
              <td width="30%">商户名称</td>
              <td width="30%">更新时间</td>             
              <td width="10%">操作</td>
              <th width="10%">查看/添加<br /><b style="color:red;">卡券信息</b></th>
          </tr>
          foreach (var item in Model.Item1)
          {
              <tr>
                 
                  <td>@item.brand_name</td>
                  <td>@item.LastUpdateDate</td>                 
                  <td style="text-align:center;vertical-align:middle">
                     
                      <a href="#" onclick="UpdateSupplier(@item.pkid)" btnkey="EditSupplier" istuhuverify="1">编辑</a>
                                           
                  </td>
                  <td style="text-align:center;vertical-align:middle">
                      <a href="/WeixinCard/CreateCard?pkId=0&supplierId=@item.pkid">添加<br />微信卡券</a>                      
                  </td>
              </tr>
          }
      }
      </table>
}
                             <div id="tagdiv"></div>

      <script>

          function UploadImg(){

                    document.getElementById("imageInput").click();
               
          }

         function OnSuccess(data) {
                        alert(data);
                       window.location.reload();
                    }

                    function OnFailure(xhr, status) {
                        alert('Error: ' + xhr.statusText);
                    }


          function DeleteSupplier(pkid) {
              var r = confirm("是否确定删除商户信息？");
              if (r) {
                  var data = { PKID: pkid };
                  $.post("/WeixinCard/DeleteSupplier", data, function (result) {
                      if (result) {
                          alert("删除成功！");
                          window.location.reload();
                      }
                  });
              }
          }


          function UpdateSupplier(pkid) {
              $("#tagdiv").load('/WeixinCard/UpdateSupplier?pkid=' + pkid + '');
              $("#tagdiv").dialog({
                  title: "更新商户",
                  width: 1000,
                  height: 500,
                  modal: true,
                  buttons: {
                      "保存": function () {
                          $(".button").click();
                      },
                      "关闭": function () {
                          $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                      }
                  }
              });
          }


       $(function () {

           //$("#imageInput").change(function () {

           //       var re= document.getElementById("imageInput").files[0].name;

           //      $.ajax({
           //       method: 'POST',
           //       url:"/WeixinCard/UploadImage",
           //       data: {imagePath:re},
           //       success: function (data) {

           //              console.log("Upload Success");
           //              $('#logoimg').val(data);
           //            },
           //      error: function(jqXHR, textStatus, errorMessage) {
           //                console.log(errorMessage); // Optional
           //         }
           //   });
           //});
           $('#imageInput').change(function (event) {
               var tmppath = URL.createObjectURL(event.target.files[0]);
               $("img").fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));

               $("#disp_tmp_path").val(tmppath);

           });

$('#imageInput').on('change', function (e) {
    var tmppath = URL.createObjectURL(e.target.files[0]);
               $("img").fadeIn("fast").attr('src', URL.createObjectURL(e.target.files[0]));

               $("#disp_tmp_path").val(tmppath);
    var files = e.target.files;
    //var myID = 3; //uncomment this to make sure the ajax URL works
    if (files.length > 0) {
       if (window.FormData !== undefined) {
           var data = new FormData();
           for (var x = 0; x < files.length; x++){
               data.append("file" + x, files[x]);
           }

           $.ajax({
               type: "POST",
               url: "/WeixinCard/UploadImage",
               contentType: false,
               processData: false,
               data: data,
               success: function(data) {
                   if(data.flag)
                   {
                       alert("图片上传成功");
                       $('#logoimg').val(data.result);
                       
                   }
                   else
                   {                     
                          alert("图片上传失败:"+data.result);
                    }
               },
               error: function (xhr, status, p3, p4){
                   var err = "Error " + " " + status + " " + p3 + " " + p4;
                   if (xhr.responseText && xhr.responseText[0] == "{")
                       err = JSON.parse(xhr.responseText).Message;
                       console.log(err);
                    }
                });
        } else {
            alert("This browser doesn't support HTML5 file uploads!");
          }
     }
});

   });
          </script>

