@model  List<Tuhu.Provisioning.DataAccess.Entity.SE_MDRecommendConfigModel>
@{
    Layout = null;
}

<div id="tabs">
    <ul>
        <li data-type="1"><a href="#tabs-1">低端车</a></li>
        <li data-type="2"><a href="#tabs-2">中端车</a></li>
        <li data-type="3"><a href="#tabs-3">高端车</a></li>
    </ul>

    <table>
        <tr>
            <td>

                <div id="tabs-1" data-parent="1">
                    <input id="Id" type="hidden" type1="1" value="0" />
                    <label> @Html.RadioButton("VehicleType1", 1) 五座轿车</label>
                    <label> @Html.RadioButton("VehicleType1", 2) SUV/MPV</label>
                    <label> @Html.RadioButton("VehicleType1", 3) SUV</label>
                    <label> @Html.RadioButton("VehicleType1", 4) MPV</label>
                    <div id="pid-1">
                        <label>
                            <input type="text" />
                            <input type="button" value="查询" onclick="SE_MDRecommendConfig.IsExistsPId(this);" />
                            <a href="javascript:void(0);" style="color:red;" onclick="SE_MDRecommendConfig.DelElement(this);">删除</a>
                        </label>
                        <br />
                    </div>
                    <br />
                    <input type="submit" value="添加产品" onclick="SE_MDRecommendConfig.AddItems('pid-1')" />
                </div>
                <div id="tabs-2" data-parent="2">
                    <input id="Id" type="hidden" type1="2" value="0" />
                    <label> @Html.RadioButton("VehicleType1", 1) 五座轿车</label>
                    <label> @Html.RadioButton("VehicleType1", 2) SUV/MPV</label>
                    <label> @Html.RadioButton("VehicleType1", 3) SUV</label>
                    <label> @Html.RadioButton("VehicleType1", 4) MPV</label>
                    <div id="pid-2">
                        <label>
                            <input type="text" />
                            <input type="button" value="查询" onclick="SE_MDRecommendConfig.IsExistsPId(this);" />
                            <a href="javascript:void(0);" style="color:red;" onclick="SE_MDRecommendConfig.DelElement(this);">删除</a>
                        </label>
                        <br />
                    </div>
                    <br />
                    <input type="submit" value="添加产品" onclick="SE_MDRecommendConfig.AddItems('pid-2')" />
                </div>
                <div id="tabs-3" data-parent="3">
                    <input id="Id" type="hidden" type1="3" value="0" />
                    <label> @Html.RadioButton("VehicleType1", 1) 五座轿车</label>
                    <label> @Html.RadioButton("VehicleType1", 2) SUV/MPV</label>
                    <label> @Html.RadioButton("VehicleType1", 3) SUV</label>
                    <label> @Html.RadioButton("VehicleType1", 4) MPV</label>
                    <div id="pid-3">
                        <label>
                            <input type="text" />
                            <input type="button" value="查询" onclick="SE_MDRecommendConfig.IsExistsPId(this);" />
                            <a href="javascript:void(0);" style="color:red;" onclick="SE_MDRecommendConfig.DelElement(this);">删除</a>
                        </label>
                        <br />
                    </div>
                    <br />
                    <input type="submit" value="添加产品" onclick="SE_MDRecommendConfig.AddItems('pid-3')" />
                </div>
            </td>

        </tr>
        <tr>
            <td>
                <label style="color:red">*编辑和添加：请选择车型添加产品！单个保存，切换tab无效 *</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" value="提交" onclick="SE_MDRecommendConfig.Submit();" />
                <input type="button" value="取消" onclick="SE_MDRecommendConfig.DialogClose();" />
            </td>

        </tr>
    </table>

</div>

<script id="addTemplate" type="text/template">
    <label style="display:block;margin:2px 0;">
        <input type="text" />
        <input type="button" value="查询" onclick="SE_MDRecommendConfig.IsExistsPId(this);" />
        <a href="javascript:void(0);" style="color:red;" onclick="SE_MDRecommendConfig.DelElement(this);">删除</a>
    </label>
</script>

<script type="text/javascript">
    $(function() {
        $( "#tabs" ).tabs();
    });

    var PartId = @(ViewBag.PartId);
    var SE_MDRecommendConfig = {
        AddItems: function (id) {
            var _html = $("#addTemplate").html();
            $("#" + id).append(_html);
        },
        IsExistsPId:function(el){
            var _pid = $(el).prev().val();

            $.ajax({
                type: "POST",
                url: "/SE_MDRecommendConfig/IsExistsPId",
                data: {pid:_pid},
                success: function(n){
                    alert(n.msg);
                    console.log(n);
                }
            });
        },
        BusinessFilter:function(){
            var collection = [],
                tabs = [1, 2, 3],
                dataSource;

            //for (var i = 0; i < tabs.length; i++) {
            //    var _VehicleType = "#VehicleType" + tabs[i] + ":checked",
            //        _Products = "#pid-" + tabs[i] + " input[type='text']",
            //        _Id = "#tabs-" + tabs[i],
            //        _Model = new Model();

            //    _Model.Id =ModelId;// $(_Id).find("#Id").val();
            //    _Model.Type = tabs[i];
            //    if (_VehicleType) {
            //        _Model.VehicleType = parseInt($(_VehicleType).val());
            //    }


            //    _Model.Products ="," + $(_Products).map(function () {
            //        var _val = $.trim($(this).val());
            //        if (_val.length > 0)
            //            return _val;
            //    }).get().join(",") + ",";

            //    collection.push(_Model);
            //}

            var _Model = new Model();
            _Model.Type = $(".ui-state-active").attr("data-type");
            var _VehicleType = $("div[data-parent="+_Model.Type+"]").find("input[type=radio]:checked").val()||1;
            _Model.VehicleType = _VehicleType;
            _Model.Id = ModelId;
            _Model.Products ="," + $("#pid-" +_Model.Type + " input[type='text']").map(function () {
                var _val = $.trim($(this).val());
                if (_val.length > 0)
                    return _val;
            }).get().join(",") + ",";

            if (ModelId!=-1) {
                collection.push(_Model)
            }

            dataSource = JSON.stringify(collection);
            console.table(dataSource);

            return dataSource;
        },
        DelElement:function(el){
            $(el).parent().remove();
        },
        Submit: function () {
            var self = this;
            $.ajax({
                type: "POST",
                url: "/SE_MDRecommendConfig/Edit",
                data: {partId:PartId,model:this.BusinessFilter()},
                success: function(n){
                    if (n.code == 1) {
                        alert("操作成功！");
                        self.CleanCache();
                    }
                    else
                        alert(n.msg);

                    console.log(n);

                    $("#SE_MDRecommendConfig_ModelPage").dialog( "close" );
                }
            });
            this.BusinessFilter();
        },
        DialogClose:function(){
            $("#SE_MDRecommendConfig_ModelPage").dialog( "close" );
        },
        CleanCache: function () {
            $.ajax({
                type: "POST",
                url: "/SE_MDRecommendConfig/RefreshBeautyCache",
                success: function (rsp) {
                    if (!rsp.Status) {
                        alert("清除缓存失败");
                    }
                    console.log(rsp);
                }
            });
        }
    },
    Model = function () {
        this.Id = 0,
        this.Type = 0,
        this.VehicleType = 0,
        this.Products = ""
    }

    var ModelId=-1;

    $("input[name=VehicleType1]").click(function(){
      
        ModelId=0;
        var t=$(this);
        t.parent().parent().find("div").html("");
        var type=t.parent().parent().find("input[type='hidden']").attr("type1");
        var vtype=t.val();
        var part=PartId;

        $.ajax({
            type: "POST",
            url: "/SE_MDRecommendConfig/GetProducts",
            data: {part:part,type:type,vtype:vtype},
            success: function(n){
                console.log(JSON.stringify(n));
                if (n) {
                    var id=n.Id;
                    var n=n.Products;
                    if (n) {
                        var html='';
                        t.parent().parent().find("div").html(html);
                        var _roducts =n.substr(1,n.length-2).split(',');
                        console.log(JSON.stringify(_roducts));
                        for (var item in _roducts) {
                            if (_roducts[item]&&_roducts[item].toString().indexOf("function")<0) {

                                html+='<label style="display:block;margin:2px 0;">'+
                                             '<input type="text" value="'+_roducts[item]+'" />'+
                                             '<input type="button" value="查询" onclick="SE_MDRecommendConfig.IsExistsPId(this);" />'+
                                             '<a href="javascript:void(0);" style="color:red;" onclick="SE_MDRecommendConfig.DelElement(this);">删除</a>'+
                                             '</label>';
                            }
                        }
                        ModelId=id;
                        t.parent().parent().find("input[type='hidden']").val(id);
                        t.parent().parent().find("div").html(html);
                    }
                }
                t.parent().parent().find("input[type='hidden']").val(0);

            }
        });
    });
</script>