@{
	ViewBag.Title = "商户APP广告位配置";
	Layout = "../Shared/_Layout.cshtml";
	var AllShopAppBannerList = ViewBag.AllShopAppBannerList as List<Tuhu.Provisioning.DataAccess.Entity.ShopAppBanner>;
}
<style type="text/css">
	table tr td{
		text-align:center
	}
	.col{
		line-height:24px
	}
</style>
<script src="../../Scripts/ajaxfileupload.js" type="text/javascript"></script>
<script>
	function setImagePreview(obj, localImagId, preview) {
		var array = new Array('gif', 'jpeg', 'png', 'jpg', 'bmp'); //可以上传的文件类型
		var imgObjPreview = document.getElementById(preview);
		if (obj.value == '') {
			$.messager.alert("让选择要上传的图片!");
			return false;
		}
		else {
			var fileContentType = obj.value.match(/^(.*)(\.)(.{1,8})$/)[3]; //这个文件类型正则很有用 格式
			////布尔型变量
			var isExists = false;
			//循环判断图片的格式是否正确
			for (var i in array) {
				if (fileContentType.toLowerCase() == array[i].toLowerCase()) {
					//图片格式正确之后，根据浏览器的不同设置图片的大小
					if (obj.files && obj.files[0]) {
						//火狐下，直接设img属性
						imgObjPreview.style.width = imgObjPreview.naturalWidth;
						imgObjPreview.style.height = imgObjPreview.naturalHeight;
						//火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
						imgObjPreview.src = window.URL.createObjectURL(obj.files[0]);
						//$("#fm").submit();
						if (localImagId == localImag1) {
							$("#fm1").ajaxSubmit(function (responseResult) {
								$("#ImgUrl1").val(responseResult);
							});
						}
						if (localImagId == localImag2) {
							$("#fm2").ajaxSubmit(function (responseResult) {
								$("#ImgUrl2").val(responseResult);
							});
						}
						if (localImagId == localImag3) {
							$("#fm3").ajaxSubmit(function (responseResult) {
								$("#ImgUrl3").val(responseResult);
							});
						}
						if (localImagId == localImag4) {
							$("#fm4").ajaxSubmit(function (responseResult) {
								$("#ImgUrl4").val(responseResult);
							});
						}
					}
					else {
						//IE下，使用滤镜
						obj.select();
						var imgSrc = document.selection.createRange().text;
						//必须设置初始大小
						imgObjPreview.style.width = imgObjPreview.naturalWidth;
						imgObjPreview.style.height = imgObjPreview.naturalHeight;
						//图片异常的捕捉，防止用户修改后缀来伪造图片
						try {
							localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
							localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
						}
						catch (e) {
							$.messager.alert("您上传的图片格式不正确，请重新选择!");
							return false;
						}
						imgObjPreview.style.display = 'none';
						document.selection.empty();
					}
					isExists = true;
					return true;
				}
			}
			if (isExists == false) {
				$.messager.alert("上传图片类型不正确!");
				return false;
			}
			return false;
		}
	}
	function Delete(PKID) {
		if (confirm("确认要删除该条数据吗？")) {
			$.ajax({
				type: "GET",
				timeout: 10000,
				url: "/MessagePush/DeleteAppBanner",
				data: { "PKID": PKID },
				success: function (result) {
					if (result=="0") {
						alert("删除成功");
						location = 'AppShopBanner';
					}
					else {
						alert(result);
						return false;
					}
				}
			});
		}
	}
	function btnAdd(PKID) {
		$("#AddItem").load('/MessagePush/AddAppShopBanner?PKID=' + PKID);
		$("#AddItem").dialog({
			title: "商户APP广告位配置",
			width: 980,
			height: 540,
			buttons: {
				"确定": function () {
					var PKID = $("#PKID").val();
					var Type = $("#Type").val();
					var Theme = $("#Theme").val();
					var MainTitle = $("#MainTitle").val();
					if (MainTitle == "") {
						alert("请输入大标题");
						return;
					}
					var Contents = $("#Contents").val();
					if (Contents == "") {
						alert("请输入小标题");
						return;
					}
					var URL = $("#URL").val();
					if (URL == "") {
						alert("请输入链接地址");
						return;
					}
					var Action = $("#Action").val();
					if (Action == "") {
						Action = "内嵌webview中打开";
					}
					var StartDate = $("#StartDate").val();
					var EndDate = $("#EndDate").val();
					var BgColor = $("#BgColor").val();
					var ImgType = $("#ImgType").val();
					if (ImgType == "") {
						ImgType = "背景图片";
					}
					if (BgColor.indexOf('#') != 0 && ImgType == "头部图片") {
						alert("背景颜色设置格式不正确！");
						return;
					}
					var ImgUrl1 = $("#ImgUrl1").val();
					if (ImgUrl1 == "") {
						alert("请上传1倍图片");
						return;
					}
					var ImgUrl2 = $("#ImgUrl2").val();
					if (ImgUrl2 == "") {
						alert("请上传2倍图片");
						return;
					}
					var ImgUrl3 = $("#ImgUrl3").val();
					if (ImgUrl3 == "") {
						alert("请上传3倍图片");
						return;
					}
					var ImgUrl4 = $("#ImgUrl4").val();
					var Remark = $("#Remark").val();
					if (StartDate == "" || StartDate == "0001/1/1 0:00:00") {
						alert("请选择起始日期");
						return;
					}
					if (StartDate == "" || EndDate == "0001/1/1 0:00:00") {
						alert("请选择结束日期");
						return;
					}
					var PushType = $("#PushType").val();
					$.ajax({
						type: "POST",
						timeout: 10000,
						url: "/MessagePush/EditShopBanner",
						data: {
							"pkid": PKID, "type": Type, "theme": Theme, "mainTitle": MainTitle, "contents": Contents, "url": URL, "acction": Action, "startDate": StartDate,
							"endDate": EndDate, "bgColor": BgColor, "imgType": ImgType, "imgUrl1": ImgUrl1, "imgUrl2": ImgUrl2, "imgUrl3": ImgUrl3, "imgUrl4": ImgUrl4, "remark": Remark,
						"pushType":PushType },
						success: function (result) {
							if (result.indexOf("成功") > 0) {
								alert(result);
								$(this).dialog("close");
								location = location;
							}
							else {
								alert(result);
								return false;
							}
						}
					});
				},
				"关闭": function () {
					$(this).dialog("close");
				}
			}
		});
	}
	function GetImgType() {
		$("input[name='div_ImgType']:checked").each(function () {
			if (this.checked) {
				$("#ImgType").val($(this).val());
				if ($(this).val() == "背景图片") {
					$("#img_show").attr("src", "http://wxbanner.qiniudn.com/%E8%83%8C%E6%99%AF%E5%9B%BE%E7%89%87%E5%B8%83%E5%B1%80.pngimage/png");
					$("#BgTextMsg").val("建议图片尺寸为4：3");
					$("#BgColor").val(""); 
				} else {
					$("#img_show").attr("src", "http://wxbanner.qiniudn.com/%E5%A4%B4%E9%83%A8%E5%9B%BE%E7%89%87%E5%B8%83%E5%B1%80.pngimage/png");
					$("#BgTextMsg").val("建议图片背景透明");
				}
			}
		})
	}
	function UploadBImg(inputId, imgId, urlId) {
		$.ajaxFileUpload({
			url: '/MessagePush/ImageUploadToAli',
			secureuri: false,
			fileElementId: inputId,
			dataType: 'json',
			async: false,
			success: function (result) {
				if (result.BImage != "" && result.SImage != "") {
					$("#" + imgId).attr("src", result.SImage);
					$("#" + imgId).val(result.SImage);
					$("#" + urlId).val(result.SImage);
					//$("#" + imgId).show();
				} else {
					alert("上传失败！");
				}
			}
		});
	}
</script>
<div style="clear:both;"></div>
<div style="float:left;">
	<h2>
		商户APP广告位配置
	</h2>
</div>
<div style="float:right;">
	<h2>
		<a href="javascript:void(0);" onclick="btnAdd('0')">新增</a>
	</h2>
</div>
<div style="clear:both;"></div>
<table style="width: 100%;">
	<tr style="background-color: #5c87b2; color: #ffffff;" class="col">
		<td>编号</td>
		<td>位置</td>
		<td>主题名称</td>
		<td>大标题</td>
		<td>小标题</td>
		<td>链接地址</td>
		<td>动作指令</td>
		<td>有效期开始日期</td>
		<td>有效期结束日期</td>
		<td>背景颜色</td>
		<td>图片类型</td>
		<td>图片1</td>
		<td>图片2</td>
		<td>图片3</td>
		<td>图片4</td>
		<td>操作人</td>
		<td>更新时间</td>
        <td>推送类型</td>
		<td>操作</td>
	</tr>
	@if (AllShopAppBannerList.Count == 0)
	{
		<tr><td colspan="14" align="center" style="color:#cccccc;">暂无数据</td></tr>
	}
	@foreach (var item in AllShopAppBannerList.OrderByDescending(n=>n.PKID).ToList())
	{
		<tr>
			<td>@item.PKID</td>
			<td>@item.Type</td>
			<td>@item.Theme</td>
			<td>@item.MainTitle</td>
			<td>@item.Contents</td>
			<td style="width:130px;word-break:break-all"><a href="@item.URL" target="_blank">@item.URL</a> </td>
			<td>@item.Action</td>
			<td>@(item.StartDate.ToString("yyyy-MM-dd"))</td>
			<td>@(item.EndDate.ToString("yyyy-MM-dd"))</td>
			<td style="background-color:@item.BgColor"></td>
			<td>@item.ImgType</td>
			<td><a href="@item.ImgUrl1" target="_blank"><img src="@item.ImgUrl1" style="width:50px;height:50px" /></a></td>
			<td><a href="@item.ImgUrl2" target="_blank"><img src="@item.ImgUrl2" style="width:50px;height:50px" /></a></td>
			<td><a href="@item.ImgUrl3" target="_blank"><img src="@item.ImgUrl3" style="width:50px;height:50px" /></a></td>
			<td><a href="@item.ImgUrl4" target="_blank"><img src="@item.ImgUrl4" style="width:50px;height:50px" /></a></td>
			<td>@item.Operator</td>
			<td>@(item.UpdateTime)</td>
            @{
                string value = "";
                if (item.PushType != null)
                {
                    if (item.PushType.Equals("All"))
                    {
                        value = "全部";
                    }
                    else if (item.PushType.Equals("Factory"))
                    {
                        value = "工场店";
                    }
                    else if (item.PushType.Equals("GeneralStores"))
                    {
                        value = "普通门店";
                    }
                    else
                    {
                        value = "";
                    }
                }

                @:
                <td>@value</td>
            }
			<td align="center">
				<a href="javascript:void(0)" onclick="btnAdd('@item.PKID')">编辑</a>&nbsp;&nbsp;
				<a href="javascript:void(0)\" onclick="Delete('@item.PKID')">删除</a>
			</td>
         
		</tr>
	}
</table>
<div id="AddItem" style="display: none"></div>