@model Tuhu.Provisioning.DataAccess.Entity.Article
@{
    ViewBag.Title = "AddTheme";
    Layout = "";
    List<Tuhu.Provisioning.DataAccess.Entity.Article> listSmallTile = ViewBag.SmallTitle as List<Tuhu.Provisioning.DataAccess.Entity.Article>;
}
<link href="~/Content/filtrateSelect.css" rel="stylesheet" />
<script src="~/Scripts/jquery.filtrateSelect.js"></script>
<table style="width:100%">
    <tbody>
        <tr>
            <td>文章标题</td>
            <td>
                @if (!string.IsNullOrWhiteSpace(Model.SmallTitle))
                {

                    <input style="width: 400px" type="text" readonly="readonly" value="@Model.SmallTitle" />
                }
                else
                {   @Html.DropDownList("SmallTitle", new System.Web.Mvc.SelectList(ViewBag.SmallTitle as System.Collections.IEnumerable, "PKID", "SmallTitle"), "全部", new { @Style = "width: 400px;height:20px;", @name = "SmallTitle", @id = "SmallTitle", @onchange = "smallTitleChange()" })

                }

            </td>
        </tr>
        <tr>
            <td>URL</td>
            <td> <input class="urlContent" style="width: 400px" type="text" readonly="readonly" value="@Model.ContentUrl" /></td>
        </tr>
        <tr>
            <td>启用状态</td>

            <td>
                @if (Model.Bestla)
                {
                    <input class="Bestla" type="checkbox" checked="checked" /> <label style="color:red">勾选为启用</label>
                }
                else
                {
                    <input class="Bestla" type="checkbox" /><label style="color:red">勾选为启用</label>
                }
            </td>
        </tr>
        <tr>
            <td>主题Banner</td>
            <td>
                <form method="post" action="" enctype="multipart/form-data">
                    <input style="width:150px;" type="file" id="upPicture" name="upPicture" onchange="UploadImg()" />
                </form><br />
                <img height="40" src="@Model.SmallBanner" id="vwPicture" />
            </td>
        </tr>

    </tbody>

</table>
<div>
    <input type="hidden" id="SmallImage" value="@Model.SmallBanner" />
    <input type="hidden" id="Image" value="@Model.ArticleBanner" />
</div>
<script>
    var pkid = 0;
    $(function () {
        $("#SmallTitle").filtrateSelect({ height: 200 });
        var title = "@Model.SmallTitle";
        $("#SmallTitle").val(title);
    })
    function smallTitleChange() {
        pkid = $("#SmallTitle :selected").val();

        $.ajax({
            type: "POST",
            url: "/Article/GetContentUrlById",
            data: { "id": pkid },
            success: function (result) {
                $(".urlContent").val(result);
            }
        });

    }

    function UploadImg() {
        $.ajaxFileUpload({
            url: '/Article/AddArticleImg',
            secureuri: false,
            fileElementId: 'upPicture',
            dataType: 'json',
            data: {},
            type: "post",
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    $("#vwPicture").attr("src", result.SImage);
                    $("#vwPicture").show();
                    $("#SmallImage").val(result.SImage);
                    $("#Image").val(result.BImage);
                } else {
                    alert("上传失败！");
                }
            }
        });
    }
</script>
