
@{
    ViewBag.Title = "AB测试平台";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Tuhu.Service.Config.Models.ABTestDetail>

@section head{
    <link href="~/Content/nfine/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <style>
        .title {
            float: left;
        }

        .content {
            clear: both;
        }

        .condition .name {
            font-size: 16px;
            font-weight: bold;
        }

        .condition > div {
            margin-bottom: 10px;
        }
    </style>
}

<div class="title">
    <h2>AB测试平台</h2>
</div>
<div class="content">
    <div class="condition">
        <div>
            <button type="button" class="btn btn-primary btn-small" onclick="BtnAdd()">+ 新增测试</button>
        </div>
    </div>
</div>
<div class="contact" id="ForTableAbTestDetail" style="margin:10px 0 10px 0;">
    <table id="TbAbTestDetail" style="background: #ffffff; font-size: 12px; width: 100%; text-align: center" border="1" class="table">
        <thead>
            <tr>
                <th style="text-align: center">测试名称</th>
                <th style="text-align: center">参加测试的用户比例</th>
                <th style="text-align: center">创建人</th>
                <th style="text-align: center">创建时间</th>
                <th style="text-align: center">编辑</th>
                <th style="text-align: center">状态</th>
                <th style="text-align: center">操作历史</th>
                <th style="text-align: center">操作</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: center; vertical-align:middle">@item.TestName</td>
                        <td style="text-align: center; vertical-align:middle">@((item.TestScale * 100).ToString())%</td>
                        <td style="text-align: center; vertical-align:middle">@item.Creator</td>
                        <td style="text-align: center; vertical-align:middle">@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td style="text-align: center; vertical-align:middle">
                            @if (item.Status != "Done")
                            {
                                <button class="btn btn-primary btn-small" data-brand="@item.TestGuid" onclick="BtnEdit(this)">编辑</button>
                            }
                        </td>
                        <td style="text-align: center; vertical-align:middle">
                            @if (item.Status == "Done")
                            {
                                <button class="btn btn-primary btn-small" data-brand="@item.TestGuid" onclick="BtnSelectDone(this)">测试结束</button>
                            }
                            else
                            {
                                <button class="btn btn-primary btn-small" data-brand="@item.TestGuid" onclick="BtnSelectProcessing(this)">测试中</button>
                            }
                        </td>
                        <td style="text-align: center; vertical-align:middle">
                            <button class="btn btn-primary btn-small" data-brand="@item.TestGuid" onclick="BtnLog(this)">查看</button>
                        </td>
                        <td style="text-align: center; vertical-align:middle">
                            <button class="btn btn-primary btn-small" onclick="BtnDelete('@item.TestGuid')">删除</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div id="Edit"></div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/ajaxfileupload.js"></script>
    <script type="text/javascript">
        function BtnAdd() {
            $("#Edit").html("").load("/ABTestPlatform/Add");
            $("#Edit").dialog({
                title: "新建测试",
                width: 600,
                height: "auto",
                cache: false,
                model: true,
                shadow: true,
                buttons: {
                    "保存": function () {
                        AddABTest(this);
                    },
                    "取消": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }

        function BtnEdit(e) {
            $("#Edit").html("").load("/ABTestPlatform/Edit?testGuid=" + encodeURIComponent($(e).attr("data-brand")));
            $('#Edit').dialog({
                title: "编辑测试",
                width: 600,
                height: "auto",
                cache: false,
                model: true,
                shadow: true,
                buttons: {
                    "保存": function () {
                        EditABTest(this);
                    },
                    "取消": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }

        function BtnDelete(TestGuid) {
            if (TestGuid == null || TestGuid == "") {
                alert('请选择要删除的行！');
            }
            else {
                var con = confirm("您确定删除吗?");
                if (con == true) {
                    $.ajax({
                        url: '/ABTestPlatform/Delete',
                        type: 'post',
                        data: { testGuid: TestGuid }
                    }).done(function (result) {
                        if (result == 1) {
                            alert('删除成功！');
                            location.reload();
                        } else {
                            alert('删除失败,稍后重试！');
                        }
                    }).fail(function () {
                        alert('删除失败,稍后重试！');
                    });
                }
            }
        }

        function BtnSelectDone(e) {
            $("#Edit").html("").load("/ABTestPlatform/SelectDone?testGuid=" + encodeURIComponent($(e).attr("data-brand")));
            $("#Edit").dialog({
                title: "测试结束结果",
                width: 300,
                height: "auto",
                model: true,
                shadow: true
            });
        }

        function BtnSelectProcessing(e) {
            $("#Edit").html("").load("/ABTestPlatform/SelectProcessing?testGuid=" + encodeURIComponent($(e).attr("data-brand")));
            $('#Edit').dialog({
                title: "选择测试结果",
                width: 400,
                height: "auto",
                cache: false,
                model: true,
                shadow: true,
                buttons: {
                    "保存": function () {
                        SelectABTestResult(this);
                    },
                    "取消": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }

        function BtnLog(e) {
            $("#Edit").html("").load("/ABTestPlatform/CheckLog?testGuid=" + encodeURIComponent($(e).attr("data-brand")));
            $("#Edit").dialog({
                title: "历史修改记录",
                width: 500,
                height: "auto",
                model: true,
                shadow: true
            });
        }
    </script>
}