@model Tuhu.Provisioning.DataAccess.Entity.BaoYangItemModel

@{
    Layout = null;
    var BaoYangActivityStyleID = ViewBag.BaoYangActivityStyleID;
}
<style>
    .itemdiv,#listtitl {
        border: 1px solid #778899;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
    #listtitl span {
        width: 100px;
        display: block;
        float: left;
    }
    .itemdiv span {
        width: 100px;
        display: block;
        float: left;
        overflow: hidden;   
    }
    .delitem {
        cursor: pointer;
    }
</style>
<link href="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.js"></script>

<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<form id="AddActivityListForm">
    @Html.HiddenFor(T => T.PKID)
    <table>
        <tr>
            <td>@Html.LabelFor(T => T.Description) </td>
            <td>@Html.TextBoxFor(T => T.Description) <span>@Html.ValidationMessageFor(T => T.Description)</span></td>

        </tr>
        <tr>
            <td>@Html.LabelFor(T => T.StartTime)</td>
            <td>
                @Html.TextBoxFor(T => T.StartTime,new {@readonly = "readonly"})
            <span>
                <select id="StartTimeHour">
                    <option value="00">00时</option>
                    <option value="01">01时</option>
                    <option value="02">02时</option>
                    <option value="03">03时</option>
                    <option value="04">04时</option>
                    <option value="05">05时</option>
                    <option value="06">06时</option>
                    <option value="07">07时</option>
                    <option value="08">08时</option>
                    <option value="09">09时</option>
                    <option value="10">10时</option>
                    <option value="11">11时</option>
                    <option value="12">12时</option>
                    <option value="13">13时</option>
                    <option value="14">14时</option>
                    <option value="15">15时</option>
                    <option value="16">16时</option>
                    <option value="17">17时</option>
                    <option value="18">18时</option>
                    <option value="19">19时</option>
                    <option value="20">20时</option>
                    <option value="21">21时</option>
                    <option value="22">22时</option>
                    <option value="23">23时</option>
                </select>
            </span>
        </td>

        </tr>
        <tr>
            <td>@Html.LabelFor(T => T.EndTime)</td>
            <td>
                @Html.TextBoxFor(T => T.EndTime, new { @readonly = "readonly" })
                <span>
                    <select id="EndTimeHour">
                        <option value="00">00时</option>
                        <option value="01">01时</option>
                        <option value="02">02时</option>
                        <option value="03">03时</option>
                        <option value="04">04时</option>
                        <option value="05">05时</option>
                        <option value="06">06时</option>
                        <option value="07">07时</option>
                        <option value="08">08时</option>
                        <option value="09">09时</option>
                        <option value="10">10时</option>
                        <option value="11">11时</option>
                        <option value="12">12时</option>
                        <option value="13">13时</option>
                        <option value="14">14时</option>
                        <option value="15">15时</option>
                        <option value="16">16时</option>
                        <option value="17">17时</option>
                        <option value="18">18时</option>
                        <option value="19">19时</option>
                        <option value="20">20时</option>
                        <option value="21">21时</option>
                        <option value="22">22时</option>
                        <option value="23">23时</option>
                    </select>
                </span>
        </td>

        </tr>
        <tr>
            <td>@Html.LabelFor(T => T.isActivity)</td>
            <td>@Html.RadioButtonFor(T => T.isActivity, true, new { id = "radio1", name = "isactivity", @checked = true })是 @Html.RadioButtonFor(T => T.isActivity, false, new { id = "radio2", name = "isactivity" })否</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" id="submit" value="保存" /></td>
            @Html.ValidationMessageFor(T => T.PKID)
        </tr>
    </table>
    <input type="hidden" id="hidActivityStyleID" value="@BaoYangActivityStyleID"/>
    <input type="hidden" id="hidPageType" value="@ViewBag.pagetype"/>
</form>

<div id="BaoYangActivityStyleList">
    <div id="listtitl">
        <span>序号</span>
        <span>开始时间</span>
        <span>结束时间</span>
        <span>文案</span>
        <span>是否开启</span>
    </div>
    <span id="itemlistdiv"></span>
</div>
<script>
    $(function()
    {
        $("#StartTime").datepicker({
            dateFormat: 'yy-mm-dd',
            duration: '',
            showTime: true,
            constrainInput: false
        });
        $("#EndTime").datepicker({
            dateFormat: 'yy-mm-dd',
            duration: '',
            showTime: true,
            constrainInput: false
        });

        $("#itemlistdiv").on("click", ".delitem", function() {
           
            $.ajax({
                type: "post",
                url: "/Baoyang/DeleteActivityItem",
                data: { PKID: $(this).attr("id") },
                success: function (data) {
                    GetBaoyangActivityList();
                },
                error: function () {
                    alert('网络异常');
                }
            });
        });
        GetBaoyangActivityList();
    });

    $("#submit").click(function() {
        var isvalidate = $("#AddActivityListForm").validate({
            rules: {
                PKID: {
                    required: false
                }
            },
            messages: {
                PKID: "1111"
            }

        }).form();

        if (isvalidate) {
            $("#StartTime").val($("#StartTime").val() + " " + $("#StartTimeHour").val() + ":00:00");
            
            $("#EndTime").val($("#EndTime").val() + " " + $("#EndTimeHour").val() + ":00:00");
            console.log($("#StartTime").val());
            console.log($("#EndTime").val());
            $.ajax({
                type: "post",
                url: "/Baoyang/AddActivityList",
                data: $("#AddActivityListForm").serialize() + "&BaoYangActivityStyleID=" + $("#hidActivityStyleID").val(),
                success: function (data) {
                    alert("添加成功");
                    //$(".ui-button").click();
                    if ($("#hidPageType").val() == "index") {
                        $(".ui-button").click();
                    } else {
                        window.location.reload();
                    }
                },
                error: function() {
                    alert('添加失败');
                }
            });
        }
    });
    
    function GetBaoyangActivityList() {
    
        $.ajax({
            type: "post",
            url: "/Baoyang/GetBaoyangList",
            data: {BaoYangActivityStyleID:$("#hidActivityStyleID").val()},
            success: function (data) {
                $("#itemlistdiv").empty();
                if (data != null && data.length > 0) {
                    var hmtldiv = "";
                    $.each(data, function (index, item) {
                        var isactivity = item.isActivity ? "是" : "否";
                        hmtldiv = hmtldiv + '<div class="itemdiv"><span>' + index + '</span><span>' + new Date(Number(item.StartTime.match(/\d+/))).Format("yyyy-MM-dd hh") + '</span><span>' + new Date(Number(item.EndTime.match(/\d+/))).Format("yyyy-MM-dd hh") + '</span><span>' + item.Description + '</span><span>' + isactivity + '</span><span style="width:10px;" class="delitem" id="' + item.PKID + '">X<span></div>';
                    });
                    $("#itemlistdiv").empty();
                    $("#itemlistdiv").html(hmtldiv);
                }
            },
            error: function () {
                alert('网络异常');
            }
        });
    }

</script>