@model Tuhu.Component.Common.Models.ListModel<Tuhu.Provisioning.DataAccess.Entity.BaoYangPriorityVehicleSettingModel>

    @{
        Layout = null;
        ViewBag.Title = "保养特殊车型配置";
    }
    @*<link rel="stylesheet" href="~/Scripts/artDialog6.0.4/css/ui-dialog.css" />*@
    <style type="text/css">
        h2 {
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 10px;
            padding-left: 0px;
            font-size: 1.5em;
        }

        .table-striped tr:nth-child(odd) {
            background-color: #EEEEEE;
        }

        .table-striped tr:hover:nth-child(odd) {
            background: #FFEC8B;
        }

        .table-striped tr:hover:nth-child(even) {
            background: #FFEC8B;
        }

        .table-striped tr th {
            text-align: center;
        }

        .table-striped tr th {
            background: #22A7F0;
        }

        .ui-dialog {
            border-radius: 3px;
            padding: 0px;
            width: auto;
        }

        .ui-dialog-grid {
            width: 100%;
        }

        .ui-dialog-title {
            width: 50%;
            padding: 8px 15px 8px 15px;
        }

        .ui-dialog-close {
            top: 8px;
        }

        .ui-dialog-body {
            padding: 10px;
        }

        .ui-dialog-content {
            padding: 0px;
        }

        .ui-dialog-loading {
            padding-top: 10px;
        }

        .ui-dialog-footer {
            padding: 5px 10px 5px 5px;
            background: #ffffff;
            border-top: 1px solid #eee;
        }

            .ui-dialog-footer button {
                padding: 3px 15px;
                border-radius: 2px;
                box-shadow: 0 1px 1px rgba(0,0,0,.15);
                font-size: 12px;
            }

                .ui-dialog-footer button.ui-dialog-autofocus {
                    font-weight: 700;
                    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
                }
    </style>
    <body>
        <table style="text-align: center;width:100%;" class="table-striped">
            <tr style="color:white">
                <th><input id="IsChecked" type="checkbox"  onclick="change(this)" />全选</th>
                <th>汽车品牌</th>
                <th>车系</th>
                <th>车价</th>
                @if (string.Equals(ViewBag.PartName, "机油"))
                {
                    <th>粘度级别</th>
                }
                <th>第一优先级</th>
                <th>第二优先级</th>
                <th>操作</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td><input type="checkbox" name="checkName" value="@item.VehicleID" /></td>
                    <td>@item.Brand</td>
                    <td>@item.VehicleSeries</td>
                    <td>@item.MinPrice</td>
                    @if (string.Equals(ViewBag.PartName, "机油"))
                    {
                        <td>@(string.IsNullOrEmpty(item.Viscosity) ? "无" : item.Viscosity)</td>
                    }
                    <td>@(item.FirstPriority==""?"无":item.FirstPriority)</td>
                    <td>@(item.SecondPriority==""?"无":item.SecondPriority)</td>
                    <td><a style="cursor:pointer" href="#" onclick="EditSku(1,'@item.VehicleID')">编辑</a><span>-</span><a style="cursor:pointer" href="#" onclick="Deleted('@item.VehicleID')">删除</a></td>
                </tr>
            }
        </table>
        <input type="hidden" id="Totalcount" value="@(ViewBag.TotalCount)" />
        @*<input type="hidden" value="@ViewBag.PageIndex" id="PageIndex" />*@
        <label style="position: absolute;color:#08c;margin-bottom:10px;margin-top:16px;margin-left:180px">共@(ViewBag.TotalCount)条数据</label>
   
     </body>
    <script type="text/javascript">

        function change(obj) {
            if (obj.checked) {
                $("input[name='checkName']").each(function () {
                    $(this).attr("checked", true);
                });
            } else {
                $("input[name='checkName']").each(function () {
                    $(this).attr("checked", false);
                });
            }
        }

    </script>
