@using Tuhu.Provisioning.DataAccess.Entity
@model BatteryBanner
    @{
        Layout = null;
    }

    <div>
        <table style="width:100%">
            <tbody>
                <tr>
                    <td align="right"> 图片：</td>
                    <td>
                        <img style="width:40px;height:40px;" class="vwPicture" />
                        <input type="hidden" class="image" />
                        <input type="hidden" class="smallImage" />
                        <form method="post" action="" enctype="multipart/form-data">
                            <input style="width:150px;" type="file" onchange="UploadImg(this)" id="1" name="1" />
                        </form>
                    </td>

                </tr>
                <tr>
                    <td align="right">开始时间：</td>
                    <td><input type="datetime-local" /></td>

                </tr>
                @*<tr>
                    <td align="right">省：</td>
                    <td>
                        @Html.DropDownList("Province", new System.Web.Mvc.SelectList(ViewBag.ProvinceList as System.Collections.IEnumerable, "PKID", "RegionName"), "全国", new { @class = "Province" })
                    </td>

                </tr>
                <tr>
                    <td align="right">市：</td>
                    <td>
                        @Html.DropDownList("City", new System.Web.Mvc.SelectList(ViewBag.CityList as System.Collections.IEnumerable, "PKID", "RegionName"), "全国", new { @class = "City" })
                    </td>
                </tr>*@
                <tr>
                    <td align="right">显示状态：</td>
                    <td>
                        @Html.RadioButtonFor(m => m.Display, true) 显示
                        @Html.RadioButtonFor(m => m.Display, false) 隐藏
                    </td>
                </tr>
                @*<tr>
                    <td align="right">启用状态：</td>
                    <td>
                        @Html.RadioButtonFor(m => m.Available, true) 启用
                        @Html.RadioButtonFor(m => m.Available, false) 警用
                    </td>
                </tr>*@
            </tbody>
        </table>
    </div>
    <script>

        $("#City,#Province").filtrateSelect({ height: 200 });

        $(".Province").change(function () {
            var self = $(this);
            $(".Province").val(self.val());
            var sb = "<option value='-1'>全国</option>";
            $.get("/BatteryBanner/DisplayCity/" + self.val() + "", function (result) {
                if (result.length != 0) {
                    for (var i = 0; i < result.length; i++) {

                        sb += "<option value=" + result[i].Pkid + ">" + result[i].RegionName + "</option>";
                    }
                }
                $(".City").html(sb);
            });
        });

        function UploadImg(e) {
            var $e = $(e);
            var $ee = $e.parents("tr").find("td").eq(1).find("img");
            var $smallImage = $e.parents("tr").find("td").eq(1).find("input[class='smallImage']");
            var $image = $e.parents("tr").find("td").eq(1).find("input[class='image']");
            $.ajaxFileUpload({
                url: '/Article/AddArticleImg2',
                secureuri: false,
                fileElementId: $e.attr("id"),
                dataType: 'json',
                data: {},
                type: "post",
                success: function (result) {
                    if (result.BImage != "" && result.SImage != "") {
                        $ee.attr("src", result.SImage);
                        $(".vwPicture").show();
                        $smallImage.val(result.SImage);
                        $image.val(result.BImage);
                    } else {
                        alert("上传失败！");
                    }
                }
            });
        };

    </script>
