<!DOCTYPE html>
<html style="overflow: hidden;">
@{string vdash = "v-";}
<head>
    <title>途虎业务系统</title>
    <meta name="robots" content="noindex, noarchive, nofollow" />
    <link href="~/Content/nfine/css/framework-font.css" rel="stylesheet" />
    <script src="~/Content/nfine/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/nfine/js/bootstrap/bootstrap.js"></script>
    <link href="~/Content/nfine/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/nfine/js/dialog/dialog.js"></script>
    <script src="~/Content/nfine/js/cookie/jquery.cookie.js"></script>
    <link href="~/Content/nfine/css/framework-theme.css" rel="stylesheet" />
    <script src="~/Content/nfine/js/framework-ui.js"></script>
    <script src="~/Content/nfine/js/framework-clientdata.js"></script>
</head>
<body style="overflow: hidden;">
    <div id="ajax-loader" style="cursor: progress; position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; background: #fff; z-index: 10000; overflow: hidden;">
        <img src="~/Content/nfine/img/ajax-loader.gif" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;" />
    </div>
    <div id="theme-wrapper">
        <header class="navbar" id="header-navbar">
            <div class="container" style="padding-right: 0px;">
                <a href="#" id="logo" class="navbar-brand">途虎业务系统</a>
                <div class="clearfix">
                    <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                        <ul class="nav navbar-nav pull-left">
                            <li>
                                <a class="btn" id="make-small-nav"><i class="fa fa-bars"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-no-collapse pull-right" id="header-nav">
                        <ul class="nav navbar-nav pull-right">
                            @if (Request.IsAuthenticated)
                            {
                                <li>
                                    <h4 class="m-r-sm text-muted welcome-message" style="padding-top:7px;font-size:16px;" data-i18n="topnav.welcometext">您好 @Context.User.Identity.Name， 欢迎进入途虎业务系统，祝您生活愉快！</h4>
                                </li>
                                <li>
                                    <a href="@ThBiz.Common.Configurations.YewuDomainConfig.YewuSite/Account/LogOff">
                                        <i class="fa fa-sign-out"></i> 退出
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@ThBiz.Common.Configurations.YewuDomainConfig.YewuSite/Account/LogOn">
                                        <i class="fa fa-sign-out"></i> 登录
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div id="page-wrapper" class="container">
            <div class="row">
              @RenderBody()
            </div>
        </div>
    </div>
    <div id="loadingPage" style="display: none;">
        <div class="loading-shade"></div>
        <div class="loading-content" onclick="$.loading(false)">数据加载中，请稍后…</div>
    </div>
    <script src="~/Content/nfine/js/index.js"></script>
    <script src="~/Content/nfine/js/indextab.js"></script>
    <script src="~/Content/nfine/js/loading/pace.min.js"></script>

</body>
</html>


@RenderSection("script",false)