@model Tuhu.Provisioning.DataAccess.Entity.AdColumnModel
@{
    ViewBag.Title = "配置";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var position =Model != null && Model.Advertises != null && Model.Advertises.Any() ? Model.Advertises.OrderByDescending(ad => ad.Position).FirstOrDefault().Position : 0;
}

@section head{
    <link href="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
    <style>
        .mainContent {
            width: 1500px;
        }

            .mainContent table {
                width: 80%;
            }

                .mainContent table th {
                    height: 25px;
                }

                    .mainContent table th .addbutton {
                        display: inline-block;
                        width: 50px;
                        height: 23px;
                        line-height: 23px;
                        background-color: #4990E2;
                        text-align: center;
                        color: #fff;
                    }

                        .mainContent table th .addbutton:hover {
                            cursor: pointer;
                        }

                .mainContent table tr {
                    text-align: center;
                }

        .save {
            background-color: #EBEBEB;
            color: black;
            border: 1px solid #EBEBEB;
            width: 50px;
            height: 23px;
            line-height: 23px;
            text-align: center;
            margin-left: 50px;
        }

            .save:hover {
                cursor: pointer;
            }

        #Display ul {
            list-style-type: none;
        }

            #Display ul li {
                height: 25px;
                line-height: 25px;
                padding: 10px;
            }

                #Display ul li.imgli {
                    height: 55px;
                }

                #Display ul li .imgshow {
                    width: 220px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    background-color: #d9d9d9;
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                }

                    #Display ul li .imgshow:hover {
                        cursor: pointer;
                    }

                    #Display ul li .imgshow img {
                        left: 0;
                        width: 220px;
                        height: 50px;
                        position: absolute;
                    }

                #Display ul li input {
                    width: 220px;
                    height: 25px;
                    line-height: 25px;
                }

                    #Display ul li input[type=radio] {
                        width: 30px;
                        height: 14px;
                        line-height: 14px;
                        vertical-align: sub;
                    }

                #Display ul li .bitian {
                    color: red;
                    display: none;
                }

                #Display ul li input#startDate, #Display ul li input#endDate {
                    width: 150px;
                }

                #Display ul li input.state {
                    width: 40px;
                    height: 16px;
                    vertical-align: sub;
                }

        .updatebutton, .deletebutton, .historybutton {
            height: 23px;
            line-height: 23px;
            color: blue;
            cursor: pointer;
            padding: 0 5px;
        }

            .updatebutton:hover, .deletebutton:hover, .historybutton:hover {
                text-decoration: underline;
            }

        .updateCouchbase {
            position: absolute;
            left: 500px;
            top: 10px;
            font-size: 14px;
            color: #D12A3E;
        }

            .updateCouchbase .updatecachebutton {
                border: 1px solid #ddd;
                padding: 3px 10px;
                color: #4d7aff;
            }

                .updateCouchbase .updatecachebutton:hover {
                    cursor: pointer;
                    color: #D12A3E;
                }

        .bgcolorspan {
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: text-top;
            border: 1px solid;
            margin-right: 5px;
        }

        .realdel, .productdel {
            display: inline-block;
            text-align: center;
            width: 40px;
            height: 25px;
            line-height: 25px;
            background-color: #4d7aff;
            color: #fff;
            cursor: pointer;
        }

        .addproduct {
            display: inline-block;
            text-align: center;
            width: 80px;
            height: 25px;
            line-height: 25px;
            background-color: #4d7aff;
            color: #fff;
            cursor: pointer;
        }

        .pro {
            background-color: rgb(231, 231, 128);
        }
    </style>
}

<h2>广告配置 <a href="Index">返回首页</a></h2> <div class="updateCouchbase"> 配置完成后请及时更新缓存 <span class="updatecachebutton">更新缓存</span></div>
<div class="mainContent">
    <table>
        <tbody>
            <tr>
                <th colspan="10">@Model.ID <span class="addbutton" data-type="@(ViewBag.haveflag?"advertise":"adcolunm")" data-action="add" data-remark="@Model.Remark">新增</span></th>
            </tr>
            <tr>
                <td>广告位性质</td>
                <td>标题</td>
                <td>状态</td>
                <td>序号</td>
                <td>图片</td>
                <td>链接</td>
                <td>背景颜色</td>
                <td>活动时间</td>
                <td>操作</td>
                <td>操作历史</td>
            </tr>
            @if (ViewBag.haveflag)
            {
                <tr>
                    <td>默认广告</td>
                    <td>@Model.ADCName</td>
                    <td></td>
                    <td></td>
                    <td>@Model.DefaultImage</td>
                    <td>@Model.DefaultUrl</td>
                    <td><span class="bgcolorspan" style="background:@Model.DefaultbgColor"></span>@Model.DefaultbgColor</td>
                    <td></td>
                    <td><span class="updatebutton" data-action="update" data-type="adcolunm">修改</span></td>
                    <td><span class="historybutton" onclick="HistoryRecord('@(Model.ID+"|")','CPHomeAD')">查看历史</span></td>
                </tr>
                if (Model.Advertises != null)
                {
                    foreach (var ad in Model.Advertises.OrderBy(a => a.Position))
                    {

                        <tr>
                            <td>普通广告</td>
                            <td><input type="hidden" name="PKID" value="@ad.PKID" /><input type="hidden" name="AdName" value="@ad.AdName" /> @ad.AdName </td>
                            <td><input type="hidden" name="State" value="@ad.State" />@ad.State</td>
                            <td><input type="hidden" name="Position" value="@ad.Position" />@ad.Position</td>
                            <td><input type="hidden" name="Image" value="@ad.Image" />@ad.Image</td>
                            <td><input type="hidden" name="Url" value="@ad.Url" />@ad.Url</td>
                            <td><span class="bgcolorspan" style="background:@ad.bgColor"></span><input type="hidden" name="bgColor" value="@ad.bgColor" />@ad.bgColor</td>
                            <td><input type="hidden" name="BeginDateTime" value="@ad.BeginDateTime.ToString("yyyy-MM-dd HH:mm")" />@ad.BeginDateTime.ToString("yyyy-MM-dd HH:mm") 至 <input type="hidden" name="EndDateTime" value="@ad.EndDateTime.ToString("yyyy-MM-dd HH:mm")" />@ad.EndDateTime.ToString("yyyy-MM-dd HH:mm")</td>
                            <td><span class="updatebutton" data-action="update" data-type="advertise">修改</span><span class="deletebutton" data-adcolumnid="@ad.AdColumnID" data-pkid="@ad.PKID">删除</span></td>
                            <td><span class="historybutton" onclick="HistoryRecord('@(ad.AdColumnID+"|"+ad.PKID)','CPHomeAD')">查看历史</span></td>
                        </tr>
                    
                        }
                    }
                }
        </tbody>

    </table>
</div>
<div id="Display"></div>

@section scripts{
    <script src="~/Scripts/ajaxfileupload.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.js"></script>
    <script>
        //更新缓存
        $(".updatecachebutton").click(function ()
        {
            if (confirm("是否更新缓存？"))
            {
                $.post("/ChePin/UpdateToCouchBase", {}, function (data)
                {
                    if (data)
                        alert("更新成功！");
                    else
                        alert("更新失败！");
                });
            }

        });
      
        var satisfied=true;
        var temp="";


        $.fn.popConfig = function (opts)
        {
            //add update
            var action = this.attr("data-action");
            var parent=this.parent().parent();
            //是不是默认广告
            var type=this.attr("data-type");
            //advertise banner
            var remark="@(Model.Remark)";
            //封装数据带到弹框上(如果是修改要给原数据传过去)
            var data = {
                ID: "@Model.ID",
                ADCName: "@Model.ADCName",
                Remark: "@Model.Remark",
                DefaultImage:"@Model.DefaultImage",
                DefaultUrl:"@Model.DefaultUrl",
                DefaultbgColor:"@Model.DefaultbgColor",
                Advertises:[]
            };
            if(type=="advertise"){
                if(action=="add")
                {
                    data.Advertises=null;
                }
                else
                {
                    data.Advertises.push({ AdColumnID:"@Model.ID" ,
                        AdName:parent.find("input[name=AdName]").val() ,
                        PKID:parent.find("input[name=PKID]").val() ,
                        Position:parent.find("input[name=Position]").val() ,
                        BeginDateTime:parent.find("input[name=BeginDateTime]").val() ,
                        EndDateTime:parent.find("input[name=EndDateTime]").val(),
                        Image:parent.find("input[name=Image]").val() ,
                        Url:parent.find("input[name=Url]").val() ,
                        State:parent.find("input[name=State]").val(),
                        bgColor:parent.find("input[name=bgColor]").val()
                    });
                }
            }
            var model =encodeURIComponent(JSON.stringify(data));
            var defaults = {//封装参数,querystring到弹框
                remark: "@(Model.Remark)",
                type: type,
                model: model,
                act: action,
                position: 1
            };
            $.extend(defaults, opts);
            this.on("click",function()
            {
                $("#Display").html(null);
                $("#Display").load('/ChePin/ConfigBox?remark='+defaults.remark+'&type='+defaults.type+'&act='+ defaults.act+'&model=' +defaults.model,
					function ()
					{
					    var self=$(this);
                        //选择时间
					    $("#startDate").datetimepicker({
					        timeFormat: "HH:mm",
					        dateFormat: "yy-mm-dd",
					        monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],

					    });

					    $("#endDate").datetimepicker({
					        timeFormat: "HH:mm",
					        dateFormat: "yy-mm-dd",
					        monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
					    });

					    //上传图片
					    $(".imgshow").on("change","#image",function()
					    {
					        var s=$(this).siblings("img");
					        if ($(this).val().split('.')[1].toUpperCase() != "JPG" && $(this).val().split('.')[1].toUpperCase() != "JPEG" && $(this).val().split('.')[1].toUpperCase() != "GIF" && $(this).val().split('.')[1].toUpperCase() != "PNG" && $(this).val().split('.')[1].toUpperCase() != "BMP")
					        {
					            alert("图片大小不能超过20M，格式支持jpg、jpeg、gif、png、bmp ");
					            return;
					        }
					        $.ajaxFileUpload(
							{
							    url: '/WebSiteHomeAd/ImageUploadToAli',
							    secureuri: false,
							    fileElementId: 'image',
							    async: false,
							    dataType: 'text',
							    data:{filepath:"/Home/Image/"},
							    success: function (src)
							    {
							        if(src!=null)
							        {
							            s.attr("src","http://img.tuhu.cn"+ src);
							            s.parent().prev().val(src);
							        }
							    }
							});
					    });
					    self.find(".imgshow img").click(function()
					    {
					        $(this).siblings("#image").click();
					    });

					    //保存信息
					    $(".save").on("click", function ()
					    {
					        satisfied=true;
					        $(".bitian").hide();
					        var save=$(this);
					        save.css("pointer-events","none");
					        var flag=true;
					        var startDateTime= self.find("input[id=startDate]").val(),
                                endDateTime=self.find("input[id=endDate]").val();
					        if (startDateTime == "" || endDateTime == "")
					        {
					            alert("活动时段不能为空");
					            save.css("pointer-events","all");
					            return;
					        }
					        if (new Date(startDateTime) >= new Date(endDateTime))
					        {
					            alert("活动开始时间必须小于结束时间");
					            save.css("pointer-events","all");
					            return;
					        }

					        var urlflag=true;
					        var shuziflag=true;
					        self.find("input[type!=file]").each(function()
					        {
					            var s=$(this);
                                //大banner背景色必须填
					            if(s.prop("name")=="bgColor"||s.prop("name")=="DefaultbgColor")
					            {
					                if("@Model.ID".toLocaleLowerCase()=="autoproduct_banner" && s.val().length<=0)
					                {
					                    flag=false;
					                    s.siblings(".bitian").show();
					                }
					            }
					            else if(s.val().length<=0)
					            {
					                flag=false;
					                s.siblings(".bitian").show();
					            }

					            if((s.prop("name")=="DefaultUrl"||s.prop("name")=="Url")&&((s.val().toLocaleLowerCase().indexOf("http://")<0&&s.val().toLocaleLowerCase().indexOf("https://")<0)||(s.val().toLocaleLowerCase().indexOf("img.tuhu.cn")>=0)))
					                urlflag=false;
					            if((s.prop("name")=="Position")&&!/^\d+$/.test(s.val()))
					                shuziflag=false;

					        });
					        if(!urlflag)
					        {
					            flag=false;
					            alert("链接请以http（https）://开头,不可包含img.tuhu.cn(请修改为image.tuhu.cn)");
					        }
                            else if(!shuziflag)
					        {
					            flag=false;
					            alert("顺序必须以数字填写！");
					        }

					        if(flag==false)
					        {
					            save.css("pointer-events","all");
					            return;
					        }
					        var type = $(this).attr("data-type");
					        var action = $(this).attr("data-action");
					        var p=self.find("input[name=PKID]").val()||"";
					        if (type == "adcolunm")
					            data = {
					                ID: self.find("input[name=ID]").val(),
					                ADCName: self.find("input[name=ADCName]").val(),
					                Remark: "@(Model.Remark)",
					                DefaultImage: self.find("input[name=DefaultImage]").val(),
					                DefaultUrl: self.find("input[name=DefaultUrl]").val(),
					                DefaultbgColor: self.find("input[name=DefaultbgColor]").val()
					            };
					        else
					            data = {
					                AdColumnID: self.find("input[name=AdColumnID]").val(),
					                AdName: self.find("input[name=AdName]").val(),
					                PKID: self.find("input[name=PKID]").val(),
					                BeginDateTime:startDateTime,
					                EndDateTime:endDateTime,
					                Position: self.find("input[name=Position]").eq(0).val(),
					                Image: self.find("input[name=Image]").val(),
					                Url: self.find("input[name=Url]").val(),
					                bgColor: self.find("input[name=bgColor]").val(),
					                State: self.find("input[name=state]:checked").val()
					            };
					        if(satisfied)
					        {
					            $.post("/ChePin/Save", { type: type, model: JSON.stringify(data), act: action }, function (data)
					            {
					                save.css("pointer-events","all");
					                if(data>0)
					                {
					                    alert("操作成功！");
					                    p==0&&(p=data);
					                    $.get("/WebSiteActivity/InsertHistoryAction", { ActiveID: 0, ObjectType: "CPHomeAD", AfterValue: "@Model.ID"+"|"+p, Operation: action }, function (data) { });
					                    //window.location.href="/ChePin/Index";
					                    window.location.reload();
					                }
					                else
					                {
					                    if(data==-3||data==-5||data==-4||data==-1)
					                        alert("活动时间有重叠或者活动开始时间不能大于结束时间，请重新设置！");
					                    else if(data==-2)
					                        alert("此广告已存在，只能进行更新或删除，不能增加，请重新设置Position!");
					                }
					            });
					        }
					    });
					});
                $("#Display").dialog({
                    title: "@(Model.ID)广告配置",
                    width: 600,
                    height: 600,
                    modal: true,
                    buttons: {
                        "关闭": function ()
                        {
                            $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                        }
                    }
                });
            });
        }
        //历史记录展示
        function HistoryRecord(activeID,type)
        {
            $("#Display").load('/WebSiteActivity/HistoryActions?activeID=' + activeID + '&type=' + type);
            $("#Display").dialog({
                title: "操作历史",
                width: 600,
                height: 680,
                modal: true,
                buttons: {
                    "关闭": function ()
                    {
                        $(this).dialog("close"); //当点击取消按钮时，关闭窗口
                    }
                }
            });
        }

        $(".mainContent table th .addbutton").popConfig({position:@(position+1)});
        $(".mainContent table td .updatebutton").each(function()
        {
            $(this).popConfig({position:@(position+1)});
        });

        //删除信息
        $(".deletebutton").on("click",function()
        {
            var del=$(this);
            del.css("pointer-events","none");
            if(confirm("是否确认要删除此条记录？"))
            {
                $.post("/WebSiteHomeAd/DeleteAdvertise",{PKID:del.attr("data-pkid")},function(data)
                {
                    del.css("pointer-events","all");
                    if(data>0)
                    {
                        alert("删除成功！");
                        $.get("/WebSiteActivity/InsertHistoryAction", { ActiveID: 0, ObjectType: "CPHomeAD", AfterValue:del.attr("data-adcolumnid")+"|"+del.attr("data-pkid"), Operation: "删除" }, function () { });
                        window.location.reload();
                    }
                });
            }
            else
                del.css("pointer-events","all");
        });
    </script>
}


