
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .form .formTitle {
        width: 120px;
    }

    .form-control {
        display: inline;
    }

    .formValue table tr th {
        width: 80px;
        height: 35px;
    }
</style>
<form id="form1">
    <table class="form">
        <tr>
            <th class="formTitle">标题</th>
            <td class="formValue">
                <input type="text" id="Title" name="Title" class="form-control required" value="@Model.Title" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">选择城市</th>
            <td class="formValue" width="200">
                <select id="Province" name="Province" class="form-control required" style="width:200px;">
                    <option value="0">全部</option>
                </select>
                <select id="City" name="City" class="form-control" style="width:200px;">
                    <option value="0">全部</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class="formTitle">产品线</th>
            <td class="formValue">
                <select id="ProductLine" name="ProductLine" class="form-control" style="width:200px;">
                    <option value="1普通-轮胎" @(Model.ProductLine == "1普通-轮胎" ? "selected" : "")>1普通-轮胎</option>
                    <option value="1普通-保养-到家" @(Model.ProductLine == "1普通-保养-到家" ? "selected" : "")>1普通-保养-到家</option>
                    <option value="1普通-保养-到店" @(Model.ProductLine == "1普通-保养-到店" ? "selected" : "")>1普通-保养-到店</option>
                    <option value="1普通-车品" @(Model.ProductLine == "1普通-车品" ? "selected" : "")>1普通-车品</option>
                    <option value="1普通-轮毂" @(Model.ProductLine == "1普通-轮毂" ? "selected" : "")>1普通-轮毂</option>
                    <option value="1普通-蓄电池-到家" @(Model.ProductLine == "1普通-蓄电池-到家" ? "selected" : "")>1普通-蓄电池-到家</option>
                    <option value="1普通-蓄电池-到店" @(Model.ProductLine == "1普通-蓄电池-到店" ? "selected" : "")>1普通-蓄电池-到店</option>
                    <option value="11违章代缴" @(Model.ProductLine == "11违章代缴" ? "selected" : "")>11违章代缴</option>
                    <option value="12加油卡" @(Model.ProductLine == "12加油卡" ? "selected" : "")>12加油卡</option>
                    <option value="13车品服务" @(Model.ProductLine == "13车品服务" ? "selected" : "")>13车品服务</option>
                    <option value="14保养年卡" @(Model.ProductLine == "14保养年卡" ? "selected" : "")>14保养年卡</option>
                    <option value="19美容团购" @(Model.ProductLine == "19美容团购" ? "selected" : "")>19美容团购</option>
                    <option value="20年卡抵扣" @(Model.ProductLine == "20年卡抵扣" ? "selected" : "")>20年卡抵扣</option>
                    <option value="21服务委托单" @(Model.ProductLine == "21服务委托单" ? "selected" : "")>21服务委托单</option>
                    <option value="23车险" @(Model.ProductLine == "23车险" ? "selected" : "")>23车险</option>
                    <option value="26道路救援" @(Model.ProductLine == "26道路救援" ? "selected" : "")>26道路救援</option>
                    <option value="32钣喷服务" @(Model.ProductLine == "32钣喷服务" ? "selected" : "")>32钣喷服务</option>
                    <option value="33门店钣喷服务" @(Model.ProductLine == "33门店钣喷服务" ? "selected" : "")>33门店钣喷服务</option>
                    <option value="43年检代办" @(Model.ProductLine == "43年检代办" ? "selected" : "")>43年检代办</option>
                    <option value="44大客户保养2C保" @(Model.ProductLine == "44大客户保养2C保" ? "selected" : "")>44大客户保养2C保</option>
                    <option value="47美容年卡" @(Model.ProductLine == "47美容年卡" ? "selected" : "")>47美容年卡</option>
                    <option value="拼团" @(Model.ProductLine == "拼团" ? "selected" : "")>拼团</option>
                    <option value="56大客户保养2C保补" @(Model.ProductLine == "56大客户保养2C保补" ? "selected" : "")>56大客户保养2C保补</option>
                    <option value="57VIP卡2C企" @(Model.ProductLine == "57VIP卡2C企" ? "selected" : "")>57VIP卡2C企</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class="formTitle">展示信息</th>
            <td class="formValue">
                <input id="IsShowConsigneeInfo" name="IsShowConsigneeInfo" type="checkbox" @(Model.IsShowConsigneeInfo == true ? "checked" : "") /> 收货人和电话<br />
                <input id="IsShowAddress" name="IsShowAddress" type="checkbox" @(Model.IsShowAddress == true ? "checked" : "") /> 收货地址<br />
                <input id="IsShowShop" name="IsShowShop" type="checkbox" @(Model.IsShowShop == true ? "checked" : "") /> 预约安装门店
            </td>
        </tr>
        <tr>
        <tr>
            <th class="formTitle">顶部按钮文字</th>
            <td class="formValue">
                <input type="text" id="ButtonText" name="ButtonText" class="form-control" style="width:200px;" maxlength="4" placeholder="最多4个字符" value="@Model.ButtonText" />
                @*<input type="radio" id="IsShowButton" name="IsShowButton" value="1" @(Model.IsShowButton == true ? "checked" : "") /> 是&nbsp;
                    <input type="radio" id="IsShowButton2" name="IsShowButton" value="0" @(Model.IsShowButton == false ? "checked" : "") /> 否*@
            </td>
        </tr>
        <tr>
            <th class="formTitle">顶部按钮生效平台</th>
            <td class="formValue">
                <table>
                    <tr>
                        <th>
                            <input id="IsButtonUrl" name="cbChannels" type="checkbox" value="PC" @(string.IsNullOrEmpty(Model.ButtonUrl) == false ? "checked" : "") /> PC
                        </th>
                        <td>
                            <input type="text" class="form-control" id="ButtonUrl" name="ButtonUrl" style="width:385px;" maxlength="200" placeholder="请输入跳转链接" value="@Model.ButtonUrl" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <input id="IsMiniProgramButtonUrl" name="cbChannels" type="checkbox" value="MiniProgram" @(string.IsNullOrEmpty(Model.MiniProgramButtonUrl) == false ? "checked" : "") /> 小程序
                        </th>
                        <td>
                            <input type="text" class="form-control" id="MiniProgramButtonUrl" name="MiniProgramButtonUrl" style="width:385px;" maxlength="200" placeholder="请输入跳转链接" value="@Model.MiniProgramButtonUrl" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <input id="IsIosButtonUrl" name="cbChannels" type="checkbox" value="IOS" @(string.IsNullOrEmpty(Model.IosButtonUrl) == false ? "checked" : "") /> IOS
                        </th>
                        <td>
                            <input type="text" class="form-control" id="IosButtonUrl" name="IosButtonUrl" style="width:385px;" maxlength="200" placeholder="请输入跳转链接" value="@Model.IosButtonUrl" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <input id="IsAndroidButtonUrl" name="cbChannels" type="checkbox" value="Android" @(string.IsNullOrEmpty(Model.AndroidButtonUrl) == false ? "checked" : "") /> Android
                        </th>
                        <td>
                            <input type="text" class="form-control" id="AndroidButtonUrl" name="AndroidButtonUrl" style="width:385px;" maxlength="200" placeholder="请输入跳转链接" value="@Model.AndroidButtonUrl" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <input id="IsWapButtonUrl" name="cbChannels" type="checkbox" value="H5" @(string.IsNullOrEmpty(Model.WapButtonUrl) == false ? "checked" : "") /> H5
                        </th>
                        <td>
                            <input type="text" class="form-control" id="WapButtonUrl" name="WapButtonUrl" style="width:385px;" maxlength="200" placeholder="请输入跳转链接" value="@Model.WapButtonUrl" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <input id="IsHuaweiButtonUrl" name="cbChannels" type="checkbox" value="华为轻应用" @(string.IsNullOrEmpty(Model.HuaweiButtonUrl) == false ? "checked" : "") /> 华为轻应用
                        </th>
                        <td>
                            <input type="text" class="form-control" id="HuaweiButtonUrl" name="HuaweiButtonUrl" style="width:385px;" maxlength="200" placeholder="请输入跳转链接" value="@Model.HuaweiButtonUrl" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th class="formTitle">备注</th>
            <td class="formValue">
                <textarea id="Remark" name="Remark" rows="4" class="form-control">@Model.Remark</textarea>
            </td>
        </tr>
    </table>
    <input type="hidden" id="PKID" name="PKID" value="@Model.PKID" />
    <input type="hidden" id="ProvinceID" name="ProvinceID" value="@Model.ProvinceID" />
    <input type="hidden" id="CityID" name="CityID" value="@Model.CityID" />
</form>

<script type="text/javascript">

    var Func = {
        //获取区域信息
        LoadRegion: function () {
            var provinceId = $("#ProvinceID").val();
            var cityId = $("#CityID").val();
            $.get("/Tire/GetRegion", null, function (regions) {
                var html_p = '';
                $.map(regions, function (value, key) {
                    if (provinceId == value.RegionId)
                        html_p += '<option data-pkid="' + value.RegionId + '" value="' + value.RegionId + '" selected>' + value.RegionName + '</option>';
                    else
                        html_p += '<option data-pkid="' + value.RegionId + '" value="' + value.RegionId + '">' + value.RegionName + '</option>';
                });
                $("#Province").append(html_p);
                //编辑时加载城市信息
                if (provinceId > 0)
                    Func.LoadCity(regions);
                //省份变更事件
                $("#Province").change(function () {
                    Func.LoadCity(regions);
                });
            });
        },
        //根据省份获取城市信息
        LoadCity: function (regions) {
            var provinceId = $("#ProvinceID").val();
            var cityId = $("#CityID").val();
            var PKID = $("#Province>option:selected").attr("data-pkid");
            var regionValue = $("#Province>option:selected").val();
            var regionText = $("#Province>option:selected").text();
            var html_c = '';
            var zxs = false;
            if (PKID == 1 || PKID == 2 || PKID == 19 || PKID == 20)
                zxs = true;
            if (PKID && PKID.length) {
                $.map(regions, function (value, key) {
                    if (value.RegionId == PKID) {
                        if (zxs) {
                            if (cityId == regionValue)
                                html_c += '<option data-pkid="' + PKID + '" value="' + regionValue + '" selected>' + regionText + '</option>';
                            else
                                html_c += '<option data-pkid="' + PKID + '" value="' + regionValue + '">' + regionText + '</option>';
                        }
                        else {
                            html_c += '<option value="0">全部</option>'
                            $.map(value.ChildRegions, function (v, k) {
                                if (cityId == v.RegionId)
                                    html_c += '<option data-pkid="' + v.RegionId + '" value="' + v.RegionId + '" selected>' + v.RegionName + '</option>';
                                else
                                    html_c += '<option data-pkid="' + v.RegionId + '" value="' + v.RegionId + '">' + v.RegionName + '</option>';
                            });
                        }
                    }
                });
            }
            if (html_c.length > 0)
                $("#City").empty().append(html_c);
            else
                $("#City").empty().append('<option value="0">全部</option>');
        }
    }
    //初始化
    $(function () {
        //加载区域
        Func.LoadRegion();

        //复选框点击事件
        $(":checkbox").click(function () {
            noChecked();//复选框不选中时清空内容
        });
    })
    //提交表单
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        //检查有效性
        if (!CheckValid())
            return false;

        var formData = $("#form1").formSerialize();

        formData.IsShowButton = $("input[name='IsShowButton']:checked").val() == 1 ? true : false;
        formData.ProvinceID = $("#Province").val();
        formData.ProvinceName = $("#Province").find("option:selected").text();
        formData.CityID = $("#City").val();
        formData.CityName = $("#City").find("option:selected").text();

        //验证是否存在
        $.ajax({
            dataType: 'json',
            async: false,
            url: "/PaymentPageConfig/GetPaymentPageConfigInfo?provinceId=" + formData.ProvinceID
            + "&cityId=" + formData.CityID + "&productLine=" + formData.ProductLine + "&pkid=" + formData.PKID,
            success: function (res) {
                if (res.result) {
                    //保存信息
                    $.confirmForm({
                        prompt: "当前区域和产品线的配置已存在,是否覆盖？",
                        loading: "处理中...",
                        url: "/PaymentPageConfig/AddPaymentPageConfig",
                        param: formData,
                        success: function () {
                            //  self.parent.$("#gridList").resetSelection();
                            self.parent.$("#gridList").trigger("reloadGrid");
                            self.parent.$('#loadingPage').hide();
                            self.parent.window.frames[0].location.reload();
                        }
                    });
                } else {
                    $.submitForm({
                        url: "/PaymentPageConfig/AddPaymentPageConfig",
                        param: formData,
                        success: function () {
                            //self.parent.$("#gridList").resetSelection();
                            self.parent.$("#gridList").trigger("reloadGrid");
                            self.parent.$('#loadingPage').hide();
                            self.parent.window.frames[0].location.reload();
                        }
                    });
                }
            }
        });
    }
    //提交检查有效性
    function CheckValid() {
        ////验证省份
        //if ($("#Province").val() == 0) {
        //    $.modalMsg("请选择省份", "warning");
        //    return false;
        //}
        //验证按钮显示时，按钮文字和跳转链接不能为空
        //if (document.getElementById("IsShowButton").checked) {
        //    if ($.trim($("#ButtonText").val()) == "") {
        //        $.modalMsg("请输入按钮文字", "warning");
        //        return false;
        //    }
        //    if ($.trim($("#ButtonUrl").val()) == "") {
        //        $.modalMsg("请输入按钮跳转链接", "warning");
        //        return false;
        //    }
        //}
        if (document.getElementById("IsButtonUrl").checked) {
            if ($.trim($("#ButtonUrl").val()) == "") {
                $.modalMsg("请输入PC跳转链接", "warning");
                return false;
            }
        }
        //验证MiniProgram路由
        if (document.getElementById("IsMiniProgramButtonUrl").checked) {
            if ($.trim($("#MiniProgramButtonUrl").val()) == "") {
                $.modalMsg("请输入小程序跳转链接", "warning");
                return false;
            }
        }
        //验证IOS路由
        if (document.getElementById("IsIosButtonUrl").checked) {
            if ($.trim($("#IosButtonUrl").val()) == "") {
                $.modalMsg("请输入IOS跳转链接", "warning");
                return false;
            }
        }
        //验证Android路由
        if (document.getElementById("IsAndroidButtonUrl").checked) {
            if ($.trim($("#AndroidButtonUrl").val()) == "") {
                $.modalMsg("请输入Android跳转链接", "warning");
                return false;
            }
        }
        //验证H5路由
        if (document.getElementById("IsWapButtonUrl").checked) {
            if ($.trim($("#WapButtonUrl").val()) == "") {
                $.modalMsg("请输入H5跳转链接", "warning");
                return false;
            }
        }
        //验证华为轻应用路由
        if (document.getElementById("IsHuaweiButtonUrl").checked) {
            if ($.trim($("#HuaweiButtonUrl").val()) == "") {
                $.modalMsg("请输入华为轻应用跳转链接", "warning");
                return false;
            }
        }
        //顶部按钮文字必填验证
        var isChecked = false;
        $("input[name='cbChannels']:checked").each(function () {
            isChecked = true;
        });
        if (isChecked) {
            if ($.trim($("#ButtonText").val()) == "") {
                $.modalMsg("请输入顶部按钮文字", "warning");
                return false;
            }
        }
        return true;
    }
    //复选框不选中时清空内容
    function noChecked() {
        //验证PC路由
        if (!document.getElementById("IsButtonUrl").checked) {
            $("#ButtonUrl").val("");
        }
        //验证MiniProgram路由
        if (!document.getElementById("IsMiniProgramButtonUrl").checked) {
            $("#MiniProgramButtonUrl").val("");
        }
        //验证IOS路由
        if (!document.getElementById("IsIosButtonUrl").checked) {
            $("#IosButtonUrl").val("");
        }
        //验证Android路由
        if (!document.getElementById("IsAndroidButtonUrl").checked) {
            $("#AndroidButtonUrl").val("");
        }
        //验证H5路由
        if (!document.getElementById("IsWapButtonUrl").checked) {
            $("#WapButtonUrl").val("");
        }
        //验证华为轻应用
        if (!document.getElementById("IsHuaweiButtonUrl").checked) {
            $("#HuaweiButtonUrl").val("");
        }
    }
</script>

