
@using Tuhu.Provisioning.DataAccess.Entity
@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.SelectedRelateProductModel>
@{
    Layout = null;
}
<link href="~/Content/kkpager/kkpager_orange.css" rel="stylesheet" />
<script src="~/Content/kkpager/kkpager.js"></script>
@if (Model.Any())
{
    <table style="width:100%;margin:0 auto; ">
        <tr>
            <th><input type="checkbox" name="SelectAll" value="" />选择</th>
            <th>商品名称</th>
            <th>城市</th>
            <th>商品PID</th>
            <th>排序</th>
            <th>商品类别</th>
            <th>上下架</th>
            <th>操作</th>
        </tr>
        @{
            foreach (var item in Model)
            {
                <tr class="page_content" style="display:@(Model.ToList().IndexOf(item)<ViewBag.PageSize?"":"none")">
                    <td><input type="checkbox" name="Selected" value="@item.PKID" /></td>
                    <td class="ProductName">@item.ProductName</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;min-width: 10px; max-width: 150px; min-height: 10px;max-height: 50px" id="@item.PKID" class="RegionName"
                        data-cityids="@(item.StrCityIDs+ "|")" data-citytype="@item.CityType">
                        @{
                            if (item.StrCityIDs == null)
                            {
                                @ViewBag.Display;
                            }

                            else
                            {
                                @item.StrCityNames;
                                @*if (@item.CityType == 1)
                                    {
                                        <span>支持</span>@item.StrCityNames;
                                    }

                                    else
                                    {
                                        <span>排除</span>@item.StrCityNames;
                                    }*@
                            }
                        }
                    </td>
                    <td class="PID">@item.PID</td>
                    <td class="Sort">@item.Sort</td>
                    <td class="ProductType">@item.ProductType</td>
                    <td class="OnSale">@item.OnSale </td>
                    <td>
                        <a class="DeleteItem" value="@(item.PKID)" id="@(item.PKID)_Delete" onclick="deleteModel(@(item.PKID))">删除</a>
                        <a class="UpdateItem" value="@(item.PKID)" id="@(item.PKID)_Update" onclick="EditRelateProduct(@(item.PKID))">编辑</a>
                    </td>
                </tr>
            }}
    </table>
    <div style="width:800px;margin:0 auto;">
        <div id="kkpager"></div>
    </div>
}
<script type="text/javascript">

    function EditRelateProduct(pkId) {
        window.location.href = "/ConfigCategory/EditRelateProduct?pkid=" + pkId;
    };

    function deleteModel(e) {
        if (confirm("确定要删除吗")) {
            $.ajax({
                type: "POST",
                url: "/ConfigCategory/DeleteRelateProductByPkid",
                data: {
                    "pkid": e
                },
                success: function(result) {
                    if (result) {
                        alert("删除成功！");
                        window.location.reload(true);
                    } else {
                        alert("删除失败！");
                    }
                }
            });
        };
    }

    page = 1;
    //init
    $(function () {
        $(".data_count").text("共" + '@Model.Count()' + "条数据");
        var totalPage = '@(Math.Ceiling((Model.Count() * 1.0) / ViewBag.PageSize))';//一共多少页
        var totalRecords = '@Model.Count()';//一共多少条
        var pageSize = '@ViewBag.PageSize';//每页多少条
        var pageNo = 1;

        //生成分页
        //有些参数是可选的，比如lang，若不传有默认值
        kkpager.generPageHtml({
            pno: pageNo,
            //总页码
            total: totalPage,
            //总数据条数
            totalRecords: totalRecords,
            mode: 'click',//默认值是link，可选link或者click
            click: function (n) {
                //TODO

                $(".selectedList tr.page_content").hide();
                //alert($(".list tr.page_content").length);
                $(".selectedList tr.page_content").each(function (i, v) {
                    if ((i + 1) > (n - 1) * pageSize && (i + 1) <= n * pageSize)
                        $(v).show();
                });

                //手动选中按钮
                this.selectPage(n);
                page = n;

                return false;
            }
        });
    });
    $("[name=SelectAll]").click(function() {
        var dom = $("[name=Selected]");
        var hascheck = $("[name=SelectAll]").is(':checked');
        for (var i = (page-1)*100; i < page * 100; i++) {
            $(dom[i]).attr("checked", hascheck);
            //if (!hascheck){
            //    $(dom[i]).removeAttr("checked");
//}
        }
    });
</script>