@model IEnumerable<Tuhu.Provisioning.DataAccess.Entity.TousuModel>

    @{
        ViewBag.Title = "Index";
    }

    <h2>投诉类编辑</h2>

    <div>
        <span class="name">
            投书一级列表:
        </span>
        <span class="ItemList">


            @foreach (var item in @Model)
            {
                <input type="hidden" value="@item.DicValue" id="hiddentopvalue"/>
                <label><input type="checkbox" class="checkbox" onchange="Func.TopLevelOptionChange(this.value)" value="@item.DicText" />@item.DicText</label>
                <label><input type="radio" class="radiobutton" onchange="Func.TopLevelOptionChange(this.value)" value="@item.DicText"/>@item.DicText</label>
                <input type="text" value="@item.AppDisplayName" id="TopAppName">
            }

        </span>


    </div>
    <div>
        <label>二级列表：</label>       
        <select id="SecondLevelOptions" style="width:200px;" onchange="Func.SecondLevelOptionChange(this.value)"></select>
    </div>
    <div>
        <label>三级列表：</label>
        <select id="ThirdLevelOptions" style="width:200px;"></select>
    </div>


<script>
    var Func = {
        TopLevelOptionChange: function (selectedText)
        {
           
                $.ajax({
                    url: "/TousuConfig/GetTousuModelList",
                    type: "POST",
                    data: {
                        dictype: selectedText,
                    },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        var html = "";
                        var n = data.length;
                        if (n > 0) {
                           
                            for (var j = 0; j < n; j++) {
                                html += "<option value='" + data[j].DicText + "'>" + data[j].DicText + "</option>";
                            }
                            $("#SecondLevelOptions").empty();
                            $("#SecondLevelOptions").append(html);
                           // SecondLevelOptionChange($("#SecondLevelOptions").val())
                        }
                        else {
                            html += "<option value=''>无数据</option>";
                            $("#SecondLevelOptions").empty();
                            $("#SecondLevelOptions").append(html);
                           
                        }
                    },
                    error: function () {
                        alert("请求失败！");
                        var html = "<option value=''>无数据</option>";
                        $("#SecondLevelOptions").empty();
                        $("#SecondLevelOptions").append(html);
                      
                    },
                });
            
        },

        SecondLevelOptionChange: function (selectedText) {
           
                $.ajax({
                    url: "/TousuConfig/GetTousuModelList",
                    type: "POST",
                    data: {
                        dictype: selectedText,
                    },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        var html = "";
                        var n = data.length;
                        if (n > 0) {                           
                            for (var j = 0; j < n; j++) {
                                html += "<option value='" + data[j].DicText + "'>" + data[j].DicText + "</option>";
                            }
                            $("#ThirdLevelOptions").empty();
                            $("#ThirdLevelOptions").append(html);
                           
                        }
                        else {
                            html += "<option value=''>无数据</option>";
                            $("#ThirdLevelOptions").empty();
                            $("#ThirdLevelOptions").append(html);
                           
                        }
                    },
                    error: function () {
                        alert("请求失败！");
                        var html = "<option value=''>无数据</option>";
                        $("#ThirdLevelOptions").empty();
                        $("#ThirdLevelOptions").append(html);
                        
                    },
                });
            
        }
    }
    </script>