@{
    ViewBag.Title = "活动信息";
    Layout = null;
}
@model Tuhu.Provisioning.DataAccess.Entity.ActivityBuild


<div style="padding:5px 0px 5px 5px">
    <form id="form1" class="easyui-form">
        <div style="margin-bottom:5px;">
            <span>活动名称:</span>
            <span>
                <input type="hidden" id="id" name="id" value="@(Model.id)" />
                <input type="text" id="Title" class="easyui-textbox" name="Title" value="@(Model.Title !=""?@Model.Title:null)" style="width:160px;" />
            </span>
            <span>负责人:</span>
            <span>
                <input type="text" id="PersonWheel" name="PersonWheel" value="@Model.PersonWheel" />
            </span>
            <span>开始时间:</span>
            <span>
                <input type="text" id="StartDT" class="Wdate" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd HH:mm:ss'})" name="StartDT" value="@(Model.StartDT != null?Convert.ToDateTime(Model.StartDT.ToString()).ToString("yyyy-MM-dd HH:mm:ss"):"")" />
            </span>
            <span>结束时间:</span>
            <span>
                <input type="text" id="EndDate" class="Wdate" onclick="WdatePicker({ dateFmt :'yyyy-MM-dd HH:mm:ss'})" name="EndDate" value="@(Model.EndDate != null?Convert.ToDateTime(Model.EndDate.ToString()).ToString("yyyy-MM-dd HH:mm:ss"):"")" />
            </span>
            <span>活动类型：</span>
            <span>
                <select id="ActivityConfigType" name="ActivityConfigType">
                    <option  @(Model.ActivityConfigType == 0?"selected=\"selected\"":"" ) value="0">综合</option>
                    <option @(Model.ActivityConfigType == 1?"selected=\"selected\"":"" )  value="1">车品</option>
                    <option @(Model.ActivityConfigType == 2?"selected=\"selected\"":"" )  value="2">保养</option>
                    <option @(Model.ActivityConfigType == 3?"selected=\"selected\"":"" )  value="3">轮胎</option>
                    <option @(Model.ActivityConfigType == 4?"selected=\"selected\"":"" )  value="4">美容改装</option>
                    <option @(Model.ActivityConfigType == 5?"selected=\"selected\"":"" )  value="5">外部投放活动</option>
                </select>
            </span>
            <span>
                是否显示倒计时:
            </span>
            <span>
                <select id="rbDateTime" name="rbDateTime">
                    @if (Model.IsShowDate == 1)
                    {
                        <option value="1" selected="selected">显示倒计时</option>
                        <option value="0">不显示倒计时</option>
                    }
                    else
                    {
                        <option value="1">显示倒计时</option>
                        <option value="0" selected="selected">不显示倒计时</option>
                    }
                </select>

            </span>
            &nbsp;&nbsp;&nbsp;
            <span>是否开启轮胎适配:</span>
            <span>
                <select id="rbIsTireSize" name="rbIsTireSize">
                    <option value="">请选择</option>
                    <option value="1" @(Model.IsTireSize == 1 ? "selected=\"selected\"" : "")>全部</option>
                    <option value="2" @(Model.IsTireSize == 2 ? "selected=\"selected\"" : "")>轮胎</option>
                    <option value="3" @(Model.IsTireSize == 3 ? "selected=\"selected\"" : "")>轮毂</option>
                </select>
            </span>
            <br />
            <span>背景图片:</span>
            <span>
                <img id="bgImage" style="width:20px;height:20px;" src="@(Model.SBgImageUrl)" />
                <input type="hidden" id="hidBgImageUrl" value="@(Model.BgImageUrl)" />
                <input type="hidden" id="hidSBgImageUrl" value="@(Model.SBgImageUrl)" />
            </span>
            <span>
                <input id="bgUpFile" width="60" type="file" name="bgUpFile" onchange="UploadBgImg(this, 'bgImage', 'hidBgImageUrl', 'hidSBgImageUrl')" />
            </span>
            <span>
                背景颜色:
            </span>
            <span>
                <input type="text" id="BgColor" name="BgColor" value="@(Model.BgColor != ""?Model.BgColor:null)" style="width:160px" />
            </span>
            
            <span>轮胎品牌:</span>
            <span>
                @*<select id="TireBrand" name="TireBrand">
                        <option value="">不选择</option>
                    </select>*@
                <input type="text" class="easyui-combobox" name="SelTire" id="SelTire" />
                <input type="hidden" name="TireBrand" id="TireBrand" value="@Model.TireBrand" />
                <input type="hidden" id="hidTireBrand" name="hidTireBrand" value="@Model.TireBrand" />
            </span>

            <span>  轮胎&轮毂:</span>
            <span>
                <select id="isTire" name="isTire">
                    @if (Model.ActivityType == 0)
                    {
                        <option value="0" selected="selected">无</option>
                    }
                    else
                    {
                        <option value="0">无</option>
                    }
                    @if (Model.ActivityType == 1)
                    {
                        <option value="1" selected="selected">轮毂列表</option>
                    }
                    else
                    {
                        <option value="1">轮毂列表</option>
                    }
                    @if (Model.ActivityType == 3)
                    {
                        <option value="3" selected="selected">轮胎列表</option>
                    }
                    else
                    {
                        <option value="3">轮胎列表</option>
                    }
                </select>
            </span>
           
            <span>分享参数:</span>
            <span>
                <input type="text" id="DataParames" name="DataParames" value="@Model.DataParames" style="width:180px;" />
            </span>
            <span>
                菜单类型:
            </span>
            <span>

                <select id="rbMenuType" name="rbMenuType">
                    @if (Model.MenuType == -1)
                    {
                        <option value="-1" selected="selected">请选择</option>
                    }
                    else
                    {
                        <option value="-1">请选择</option>
                    }
                    @if (Model.MenuType == 0)
                    {
                        <option value="0" selected="selected">上下菜单</option>
                    }
                    else
                    {
                        <option value="0">上下菜单</option>
                    }
                    @if (Model.MenuType == 1)
                    {
                        <option value="1" selected="selected">左右菜单</option>
                    }
                    else
                    {
                        <option value="1">左右菜单</option>
                    }

                </select>

                @*@if ( Model.MenuType == 1)
                    {
                        <input type="radio" value="1" name="rbMenuType" checked="checked" /><span>滑动菜单</span>
                        <input type="radio" value="0" name="rbMenuType" /><span>滚动菜单</span>
                    }
                    else if(Model.MenuType == 0)
                    {
                        <input type="radio" value="1" name="rbMenuType" /><span>滑动菜单</span>
                        <input type="radio" value="0" name="rbMenuType" checked="checked" /><span>滚动菜单</span>
                    }*@
            </span>

            &nbsp;&nbsp;&nbsp;
            <span>关键词:</span>
            <input type="text" id="txtSelKey" name="txtSelKey" value="@Model.SelKeyName" />
            <span>关键词图片:</span>
            <img id="ImgSelKey" style="width:20px;height:20px;" src="@Model.SelKeyImage" />
            <input type="hidden" id="hidSelKeyPic" name="hidSelKeyPic" value="@Model.SelKeyImage" />
            <input type="hidden" id="hidSSelKeyPic" name="hidSSelKeyPic" />
            <input type="file" id="uploadSelKey" name="uploadSelKey" onchange="UploadBgImg(this, 'ImgSelKey', 'hidSelKeyPic', 'hidSSelKeyPic')" />
        </div>


        <table id="cp" style="height:500px;margin-top:10px;" title="排版信息" class="easyui-datagrid" data-options="singleSelect:true,rownumbers:true,
               onLoadSuccess:function(data){ MergeCells('cp','Group');},pagination:false,remoteSort:false,multiSort:true,
               data:@Model.Content">
            <thead>
                <tr>
                    <th rowspan="2" data-options="field:'Group',order:'asc'" width="20%">组</th>
                    <th rowspan="2" data-options="field:'PID',resizable:true" width="6%">PID|VID</th>
                    <th rowspan="2" data-options="field:'ProductName'" width="10%">产品名称</th>
                    <th rowspan="2" data-options="field:'VID',hidden:true" width="10%">活动ID(ActivityID)</th>
                    <th rowspan="2" data-options="field:'CID',hidden:true" width="8%">优惠券ID</th>
                    <th rowspan="2" data-options="field:'SmallImage',formatter:function(value,row,index){ if(value != '' && value != undefined){ return  '<img  style=\'width:45px;height:45px;\'  src=\''+value+'\' />'}else{return '';};} " width="20%">图片</th>

                    <th rowspan="2" data-options="field:'Type',formatter:function(value,row,index){if(value == 0)return '轮胎';if(value == 1) return '车品'; if(value == 2) return '链接'; if(value == 3) return '图片'; if(value == 4) return '优惠卷'; if(value == 5) return '保养';if(value == 6) return '限购轮胎';if(value == 7) return '限购车品'; if(value == -2) return '导航菜单'; if(value == 9) return '秒杀'; if(value == 8) return '活动规则'; if(value == -1) return ''; if(value == 10)return '轮毂'; if(value ==11)return '限时轮毂'; if(value ==12)return '其它'; if(value ==13)return '大翻盘';  }" width="5%">活动类型</th>
                    <th rowspan="2" data-options="field:'DisplayWay',hidden:true , formatter:function(value,row,index){if(value == 0)return '竖向';if(value == 1) return '横向'; if(value == -1) return '';}" width="4%">显示方式</th>
                    <th rowspan="2" data-options="field:'Description',hidden:true" width="5%">描述</th>
                    <th rowspan="2" data-options="field:'OrderBy',order:'asc',sortable:true,hidden:true" width="5%">排序</th>
                    <th rowspan="2" data-options="field:'LinkUrl',resizable:true,hidden:true" width="5%">链接(URL)</th>
                    <th rowspan="2" data-options="field:'IsUploading', formatter:function(value,row,index){if(value == 0) return '模板'; if(value == 1) return '图片';}" width="20%">是否图片</th>
                    <th rowspan="2" data-options="field:'TireBrand',hidden:true,formatter:function(value,row,index){ if(value == -1){ return '';}else{ return value; }}" width="4%">轮胎品牌</th>
                    <th colspan="2" width="10%" data-options="hidden:true">APP处理值</th>
                    <th colspan="2" width="10%" data-options="hidden:true">特殊通讯值</th>
                    <th rowspan="2" width="10%" data-options="field:'Channel',formatter:function(value,row,index){ if(value == 'wap')return '移动站'; if(value == 'www') return '网站'; if(value == 'all') return '全部';}">渠道</th>
                    <th rowspan="2" width="10%" data-options="field:'BigImg',formatter:function(value,row,index){
                         if(value == 0)return '一列';
                         if(value == 1)return '两列';
                         if(value == 2)return '三列';
                         if(value == 3)return '一列(网站)';
                         if(value == 4)return '四列';
                        }">列数</th>
                </tr>
                <tr>
                    <th data-options="field:'HandlerIOS',hidden:true" width="5%">IOS</th>
                    <th data-options="field:'HandlerAndroid',hidden:true" width="7%">Android</th>
                    <th data-options="field:'SOAPIOS',hidden:true" width="5%">IOS</th>
                    <th data-options="field:'SOAPAndroid',hidden:true" width="7%">Android</th>
                    <th data-options="field:'Image',hidden:true"></th>
                    <th data-options="field:'BigImg',hidden:true"></th>

                </tr>
            </thead>
        </table>

        <div id="cpToolbar">
            &nbsp;
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true,onClick:function(){if(InitActivityMenu()){ $('#activityMenu').dialog('center');$('#activityMenu').dialog('open');} }"> 导航菜单</a>
            <a href="javascript:void(0)" style="display:none;" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true,onClick:function(){InitActivityHome();$('#activityHome').dialog('open');$('#activityHome').dialog('center');}"> 会场配置</a>

            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true,onClick:function(){InitBigHome();  $('#BigActivityHome').dialog('center'); $('#BigActivityHome').dialog('open'); }">大型会场配置</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true,onClick:function(){ClearBigHome() }">清除大型会场配置</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true,onClick:function(){OpenTireSize(); $('#TireSizeConfig').dialog('center'); $('#TireSizeConfig').dialog('open'); }"> 轮胎适配配置</a>
            <a href="javascript:void(0)" class="easyui-menubutton" data-options="menu:'#rows',iconCls:'icon-edit'"> 行 配 置</a>

            <a href="javascript:void(0)" style="display:none;" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true,onClick:function(){   var oldRow = $('#cp').datagrid('getSelected');
                 var indexRow = $('#cp').datagrid('getRowIndex', oldRow);//数据行号
                    if (oldRow) {
                        Edit(oldRow, indexRow);//
                        $('#update').dialog('open');
                   } else {
                        $.messager.alert('提示', '请选择编辑的行！', 'info');
                  }
               }" style="margin-left:50px;">编 辑</a>
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="javascript:void(0)" class="easyui-linkbutton" style="position:absolute; right:0;margin-right:20px" data-options="iconCls:'icon-cancel',plain:true,onClick:function(){del();}">删 除</a>
            <div id="rows" style="width:150px;">
                <div data-options="iconCls:'icon-add'" onclick="AddColums(1, 0)">一行一列</div>
                <div data-options="iconCls:'icon-add'" onclick="AddColums(1, 3)">一行一列(网站)</div>
                <div data-options="iconCls:'icon-add'" onclick="AddColums(2, 1)">一行两列</div>
                <div data-options="iconCls:'icon-add'" onclick="AddColums(3,2)">一行三列</div>
                <div data-options="iconCls:'icon-add'" onclick="AddColums(4,4)">一行四列</div>
                <div data-options="iconCls:'icon-add'" onclick="AddColums(5, 6)">一行五列</div>
                <div data-options="iconCls:'icon-add'" onclick="AddColums(4,7)">一图三产品</div>
            </div>

        </div>
    </form>
</div>


<div id="one" title="排版编辑" class="easyui-dialog" data-options="closed:true">
</div>
<div id="two" title="排版编辑" class="easyui-dialog" data-options="closed:true"></div>
<div id="three" title="排版编辑" class="easyui-dialog" data-options="closed:true"></div>
<div id="update" title="编辑" class="easyui-dialog" data-options="closed:true"></div>
<div id="four" title="排版编辑" class="easyui-dialog" data-options="closed:true"></div>
<div id="oneByPC" title="排版编辑" class="easyui-dialog" data-options="closed:true"></div>
<div id="activityMenu" title="导航菜单" class="easyui-dialog" data-options="closed:true"></div>
<div id="activityHome" title="活动会场" class="easyui-dialog" data-options="closed:true"></div>
<div id="BigActivityHome" title="大型活动会场" class="easyui-dialog" data-options="closed:true"></div>
<div id="TireSizeConfig" title="车型信息配置" class="easyui-dialog" data-options="closed:true"></div>
<input type="hidden" id="hidTireSizeConfig" name="hidTireSizeConfig" value="@Model.TireSizeConfig" />
<input type="hidden" id="hidBigActivity" value="@Model.BigActivityHome"/>
<input type="hidden" id="hidActivityHome" name="hidActivityHome" value="@Model.ActivityHome" />
<script src="/Scripts/ajaxfileupload.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate-1.8.1.min.js" type="text/javascript"></script>
<script type="text/javascript">

    //图片类型
    var PictureValidate = {
        rules: {
            hidCimg: {
                required: true
            },
            OrderBy: {
                range: [-1, 100]
            },
            Url: {
                url:true
            },
            OrderBy: {
                digits: true,
                required: true
            },
            Channel: {
                required:true
            }

        },
        messages: {
            hidCimg: {
                required: '图片必填'
            },
            OrderBy: {
                range: $.validator.format("请输入{0}到{1}之间的数"),
            },
            Url: {
                url:'请输入正确的网址'
            },
            OrderBy: {
                digits: '请输入整数',
                required:'排序必填'

            },
            Channel: {
                required:'必选'
            }

        }
    };

    //优惠卷验证
    var CouponValidate = {
        rules: {
            hidCimg: {
                required: true
            },
            CID: {
                
                required: true
            },
            Url: {
                url: true
            },
            OrderBy: {
                digits: true,
                required:true
            },
            Channel: {
                required: true
            }
        },
        messages: {
            hidCimg: {
                required: '图片必填'
            },
            CID: {
                
                required: '优惠卷ID必填'
            },
            Url: {
                url: '请输入正确的网址'
            },
            OrderBy: {
                digits: '请输入整数',
                required:'排序必填'
            },
            Channel: {
                required: '必选'
            }
        }
    };

    //轮胎 车品
    var TireValidate = {
        rules: {
            PID: {
                required: true
            },
            Url: {
                url: true
            },
            OrderBy: {
                digits: true,
                required:true
            },
            Channel: {
                required: true
            }
        },
        messages: {
            PID: {
                required: 'PID必填'
            },
            Url: {
                url: '请输入正确的网址'
            },
            OrderBy: {
                digits: '请输入整数',
                required:'排序必填'
            },
            Channel: {
                required: '必选'
            }
        }
    };


    //保养
    var UpKeepValidate = {
        rules: {
            hidCimg: {
                required: true
            },
            Url: {
                url: true
            },
            OrderBy: {
                digits: true,
                required:true
            },
            Channel: {
                required: true
            }
        },
        messages: {
            hidCimg: {
                required: '图片必填'
            },
            Url: {
                url: '请输入正确的网址'
            },
            OrderBy: {
                digits: '请输入整数',
                required:'排序必填'
            },
            Channel: {
                required: '必选'
            }
        }
    };


    //链接验证
    var LinkValidate = {
        rules: {
            hidCimg: {
                required: true
            },
            Url: {
                url:true

            },
            WXUrl: {
                url:true
            },
            PCUrl: {
                url:true
            },
            OrderBy: {
                digits: true,
                required:true
            },
            Channel: {
                required: true
            }

        },
        messages: {
            hidCimg: {
                required: '图片必填'
            },
            Url: {
                url:'请输入正确的网址'
            },
            WXUrl: {
                url: '请输入正确的网址'
            },
            PCUrl: {
                url: '请输入正确的网址'
            },
            OrderBy: {
                digits: '请输入整数',
                required:'排序必填'
            },
            Channel: {
                required: '必选'
            }

        }
    };

    var LuckyWheel = {
        rules: {
            VID: {
                required: true
            }
        },
        messages: {
            VID: {
                required: '必填大翻盘活动ID（活动ID）'
            }
        }
    };

    function Edit(oldRow, indexRow) {
        $('#update').dialog({
            width: 580,
            height: 680,
            cache: false,
            modal: true,
            method: 'post',
            href: '/ActivityV2/Edit',
            queryParams:{"rows": JSON.stringify(oldRow)},
            buttons: [{
                text: '更新',
                iconCls: 'icon-ok',
                handler: function () {
                    var isOne = $('#editFormByOne').valid();

                    if ($('#editFormByOne [name=Type]').val() == -1) {
                        $.messager.alert('提示', '请选择活动类型');
                        return false;
                    }

                    if (isOne) {
                        var rows = getDataRow();//获取修改后的数据
                        if ( location.href.indexOf("setting.tuhu.cn")>0&& ( rows.Image.indexOf("tuhu.test") > 0 || rows.Image.indexOf("tuhu.work") > 0)) {
                            $.messager.alert('系统提示', '请确认图片链接是否为线上链接');
                            return;
                        }
                        if (oldRow.BigImg == 7)
                        {
                           
                            var table = $('#cp').datagrid('getRows');
                            for (var i = 0; i < table.length; i++) {
                               
                                var row = table[i];
                                if (row.Group == oldRow.Group) {
                                    if ((row.Type == 3 || row.Type == 4 || row.Type == 2 || row.Type == 5 || row.Type == 8 || row.Type == 9) && (rows.Type == 3 || rows.Type == 4 || rows.Type == 2 || rows.Type == 5 || rows.Type == 8 || rows.Type == 9)) {
                                        $.messager.alert('系统提示', '只能添加一个非产品图片');
                                        return;
                                    }
                                }
                            }
                        }

                        if (rows) {
                            rows.Group = oldRow.Group;//用旧分组号
                            rows.BigImg = oldRow.BigImg;//设置列数
                            $('#cp').datagrid('updateRow', {
                                index: indexRow,
                                row: rows
                            });
                            $('#update').dialog('close');

                            $('#cp').datagrid('sort', {
                                sortName: 'Group,OrderBy',
                                sortOrder: 'asc,asc'
                            });

                            MergeCells('cp', 'Group');
                        }
                        $('#cp').datagrid('unselectAll');
                    }


                }
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#update').dialog('close');

                }
            }]
        });
    }
 
    function AddColums(columsNum,type) {
        var date = (new Date()).Format("yyyyMMddhhmmss");
        $.messager.prompt('组 号', '默认组号:'+date, function (r) {
            if (r) {
                if (r.length == 14) {
                    date = r;
                } else {
                    $.messager.alert('提 示', '输入组号格式不正确,采用默认组号');
                }

                for (var i = 1; i <= columsNum; i++) {
                    var data = {};
                    data.Group = date;
                    data.Type = -1;
                    data.BigImg = type;
                    data.OrderBy = i;
                    data.IsUploading = 0;
                    data.DisplayWay = 0;
                    $('#cp').datagrid('appendRow', data);
                }

                $('#cp').datagrid('sort', {
                    Group: 'asc'
                });
                MergeCells('cp', 'Group');
            }

           
        },date);
    }

    //获取车型信息
    function GetTires(formName) {
        
        var value = $('#form1 [name=hidTireBrand]').val();
        var array=[];
        if (value != "") {
           array  = value.split(',');
        }

        $.ajax({
            url: '/home/GetTireBrand',
            type: 'post',
            dataType: 'json',
            success: function (result) {
                
                    for (var i = 0; i < result.TiresBrand.length; i++) {
                        var item = result.TiresBrand[i];
                        for (var j = 0; j < array.length; j++) {
                            if (item.BrandName == array[j]) {
                                item.selected = true;
                            }
                        }
                    }
                
                $('#SelTire').combobox({
                    data: result.TiresBrand,
                    valueField: 'BrandName',
                    textField: 'BrandName',
                    multiple: true,
                    panelHeight: 'auto',
                    onSelect: function () {
                        console.log($('#SelTire').combobox("getValues"));
                        var array = $('#SelTire').combobox("getValues");
                        var values = "";
                        for (var i = 0; i < array.length; i++) {
                            values += array[i] + ',';
                        }
                      //  console.log(values);
                        if (values != "")
                            $('#TireBrand').val(values.substring(0, values.length - 1));
                        else
                            $('#TireBrand').val('');

                        console.log('TireBrand:' + $('#TireBrand').val());
                    },
                    onUnselect: function () {
                        console.log($('#SelTire').combobox("getValues"));
                        var array = $('#SelTire').combobox("getValues");
                        var values = "";
                        for (var i = 0; i < array.length; i++) {
                            values += array[i] + ',';
                        }
                        if (values != "")
                            $('#TireBrand').val(values.substring(0, values.length - 1));
                        else
                            $('#TireBrand').val('');

                        console.log('TireBrand:' + $('#TireBrand').val());
                    }

                });


            }


        });

    }

    function InitBigHome() {
        $('#BigActivityHome').dialog({
            width: 1000,
            height: 900,
            cache: false,
            shadow: true,
            modal: true,
            href: '/ActivityV2/BigActivityHome?id=' + $('#id').val(),
            buttons: [{
                text: '保 存',
                iconCls: 'icon-ok',
                handler: function () {
                    var isResult = true; //$('#BigActivityHome').valid();
                    if (isResult) {
                        var data = GetBigActivityHome();
                         $('#hidBigActivity').val(JSON.stringify(data));
                       // $('body').data('BAH', data);
                        $('#BigActivityHome').dialog('clear');
                        $('#BigActivityHome').dialog('close');
                    }
                }
            }, {
                text: '取 消',
                iconCls: 'icon-cancel',
                handler: function () {
                   // $('#BigActivityHome').dialog('refresh');
                    $('#BigActivityHome').dialog('clear');
                    $('#BigActivityHome').dialog('close');
                }
            }]
        });
    }

    function InitActivityMenu() {
        var selectRow = $("#cp").datagrid("getSelected");
        var index = $('#cp').datagrid('getRowIndex',selectRow);

        if (selectRow == null || selectRow.BigImg == 5) {
            if (selectRow == null) {
                selectRow = {};
                selectRow.Description = "";
                selectRow.Group = "";
            }
            $('#activityMenu').dialog({
                width: 1050,
                height: 400,
                cache: false,
                method: 'post',
                href: '/ActivityV2/Menu',
                queryParams: { rows: selectRow.Description.replace('#', ''),group:selectRow.Group },
                buttons: [{
                    text: '保存',
                    iconCls: 'icon-ok',
                    handler: function () {
                        var isSelected = false;
                        if ($("#cp").datagrid("getSelected") != null) {
                            var select = $("#cp").datagrid("getSelected");
                            if (select.BigImg == 5) {
                                isSelected = true;
                            }
                        }

                        var isTable = $('#MenuEdit').valid();
                        if (isTable == false) {
                            return false;
                        }
                        if ($('#Title').val() == '' || $('#Title').val() == undefined || $('#Title').val() == null) {
                            $.messager.alert('系统提示', '请输入活动名称');
                            return false;
                        }

                        var table = GetActivityMenuTable();
                        if (table == null) {
                            alert("请输入【菜单名称】、【菜单值】");
                            return false;
                        }
                        //var insert = 0;
                       // var index = -1;
                        //var rows = $('#cp').datagrid('getRows');
                        //for (var i = 0; i < rows.length; i++) {
                        //    if (rows[i].BigImg == 5 && $('#hidMenuGroup').val() == row[i].Group) {
                        //        index = $('#cp').datagrid('getRowIndex', rows[i]);
                        //        break;
                        //    }
                        //}
                        var row = {
                            //  'Group': $('#menuGroup').val(),//(new Date()).Format("yyyyMMddhhmmss"),
                            'PID': '',
                            'VID': '',
                            'CID': '',
                            'SmallImage': '', //小图路径
                            'Image': '', //大图
                            'BigImg': 5,//导航菜单
                            'Type': -2, //类型
                            'OrderBy': 0,
                            'LinkUrl': '',
                            'HandlerIOS': '',
                            'HandlerAndroid': '',
                            'SOAPIOS': '',
                            'SOAPAndroid': '',
                            'IsUploading': -1,    //$('#oneTableByOne [name=IsUploading]').val() || 0
                            'DisplayWay': -1,//显示方式
                            'Description': JSON.stringify(table),
                            'Channel': 'all'
                        };
                        if (!isSelected) {
                            row.Group = $('#menuGroup').val();
                            $('#cp').datagrid('appendRow', row);
                            $('#activityMenu').dialog('close');
                            $('#cp').datagrid('sort', {
                                Group: 'asc'
                            });
                            MergeCells('cp', 'Group');
                        } else {
                            selectRow.Description = JSON.stringify(table);
                            selectRow.Group = $('#menuGroup').val();
                           
                            $('#cp').datagrid('updateRow', {
                                index: index,
                                row: selectRow
                            });
                            $('#activityMenu').dialog('close');
                            $('#cp').datagrid('sort', {
                                Group: 'asc'
                            });
                            MergeCells('cp', 'Group');

                        }

                    
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        // $('#activityMenu').dialog('refresh');
                        $('#activityMenu').dialog('close');
                    }
                }]
            });
            return true;
        } else {
            alert("请选择导航菜单行");
            $('#cp').datagrid("unselectAll");
            return false;
        }
    }

    function InitActivityHome() {
       
        var array = $('#hidActivityHome').val();
        
        $('#activityHome').dialog({
            width: 1300,
            height: 400,
            cache: false,
            modal: true,
            method: 'post',
            queryParams:{rows:array},
            href: '/ActivityV2/GeneralHome',
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    var isTable = $('#ActivityHomeEdit').valid();
                    if (isTable == false) {
                        return false;
                    }
                    var array = GetActivityHomeTable();
                    if (array == null) {
                        alert('请填写【菜单名称】、【图标】、【APPURL】');
                        return false;
                    }
                  
                    $('#hidActivityHome').val(JSON.stringify(array));
                    $('#activityHome').dialog('close');
                }

            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    // $('#activityMenu').dialog('refresh');
                    $('#activityHome').dialog('close');
                }
            }]
        });
    }
    var isLoad = true;
    ///windows.load运行的函数
    $(function () {
      
       // $('body').data();
        $('#cp').datagrid({
            toolbar:'#cpToolbar',
            onLoadSuccess: function () {
                if (isLoad) {
                    GetTires("form1");
                    isLoad = false;
                }
               
                console.log('执行');
                MergeCells('cp', 'Group');
             
            }
        });
       
        //加载时拍下列表
        $('#cp').datagrid('sort', {
            sortName: 'Group,OrderBy',
            sortOrder: 'asc,asc',
            onDblClickRow: function (rowIndex, rowData) {
                if (rowData) {
                    if (rowData.BigImg != 5) {
                        Edit(rowData, rowIndex);//
                        $('#update').dialog('open');
                        $('#update').dialog('center');
                    }
                }
            }
        });

        var data = $('#cp').datagrid("getData");
        if (data.rows != null && data.rows.length > 0) {
            data.rows.forEach(function (e) {
                if (e.BigImg == 5) {
                    $('body').data("ActivityMenu",e.Description);
                }
            });
        }
       
    });

   

    function del() {
        $.messager.confirm('提示', '您确定删除吗?', function (r) {
            if (r) {
               
                var oldRow = $('#cp').datagrid("getSelected");
               
                var group = oldRow.Group;
                var rows = $('#cp').datagrid('getRows');
                for (var i = 0; i < rows.length; i++) {
                    var row = rows[i];
                    console.log(row.Group);
                    if (row.Group == group) {
                        var index = $('#cp').datagrid('getRowIndex', row);
                        $('#cp').datagrid('deleteRow', index);
                        rows = $('#cp').datagrid('getRows');
                        MergeCells('cp', 'Group');
                        i = -1;
                    }
                }



            }
        });
    }



    //子页面上传图片
    function UploadImg(obj, showImg, showUrl, isUploading, table, PicUrl) {

        var pobj = $(obj);

        var fileSize = pobj[0].files[0].size/1024*1.0;
        if (fileSize.toFixed(2) > 400) {
            $.messager.alert("提示","上传图片失败！图片不能超过400K");
            return;
        }


        var rd = Math.ceil(Math.random() * 9999) + 1;
        var fileElId = $(obj).attr("id");
        console.log(fileElId);
        $.ajaxFileUpload({
            url: '/Article/ImageUploadToAli?rd=' + rd,
            secureuri: false,
            fileElementId: fileElId,
            dataType: 'json',
            async: false,
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                    var type = $("#" + table + " [id=Type]").val();
                    if (type == 0 || type == 1 || type == 6 || type == 7 || type == 10 || type == 11) {
                        //
                        if (location.origin.split('.')[2] != "dev" && location.origin.split('.')[2] != "test" && $("#" + table + " [id=IsImage]").val() == 0) {
                            result.BImage = result.BImage + "@@300w_300h_100Q.jpg";
                        }
                      //  console.log("上次图片路径:" + result.BImage + "@@300w_300h_100Q.jpg");
                    }

                    $("#"+table +" [id="+ showImg+"]").attr("src", result.SImage).show();
                    $("#" + table + " [id=" + showUrl + "]").val(result.BImage);
                    $('#' + table + " [id=" + PicUrl + "]").val(result.BImage);
                   // $("#"+table +" [id="+ isUploading+"]").val("1");
                  //  console.log( $("#"+table +" [id="+ isUploading+"]").val());

                } else {
                    alert("上传失败！");
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });
    }

    //子页面上传图片 背景图片
    function UploadBgImg(obj, showImg, showUrl,showSImg) {

        var pobj = $(obj);
        var rd = Math.ceil(Math.random() * 9999) + 1;
        var fileElId = $(obj).attr("id");
        console.log(fileElId);
        $.ajaxFileUpload({
            url: '/Article/ImageUploadToAli?rd=' + rd,
            secureuri: false,
            fileElementId: fileElId,
            dataType: 'json',
            async: false,
            success: function (result) {
                if (result.BImage != "" && result.SImage != "") {
                  
                    $("#" + showImg).attr("src", result.SImage).show();
                    $("#" + showUrl).val(result.BImage);
                    $('#' + showSImg).val(result.SImage);

                } else {
                    alert("上传失败！");
                }
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                alert(e);
            }
        });
    }


    // 对Date的扩展，将 Date 转化为指定格式的String
    // 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
    // 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
    // 例子：
    // (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
    // (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1,                 //月份
            "d+": this.getDate(),                    //日
            "h+": this.getHours(),                   //小时
            "m+": this.getMinutes(),                 //分
            "s+": this.getSeconds(),                 //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds()             //毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }


    /**
   * EasyUI DataGrid根据字段动态合并单元格
   * param fldList 要合并table的id
   * param fldList 要合并的列,用逗号分隔(例如："name,department,office");
*/
    function MergeCells(tableID, fldList) {
        var Arr = fldList.split(",");
        var dg = $('#' + tableID);
        var fldName;
        var RowCount = dg.datagrid("getRows").length;
        var span;
        var PerValue = "";
        var CurValue = "";
        var length = Arr.length - 1;
        for (i = length; i >= 0; i--) {
            fldName = Arr[i];
            PerValue = "";
            span = 1;
            for (row = 0; row <= RowCount; row++) {
                if (row == RowCount) {
                    CurValue = "";
                }
                else {
                    CurValue = dg.datagrid("getRows")[row][fldName];
                }
                if (PerValue == CurValue) {
                    span += 1;
                }
                else {
                    var index = row - span;
                    dg.datagrid('mergeCells', {
                        index: index,
                        field: fldName,
                        rowspan: span,
                        colspan: null
                    });
                    span = 1;
                    PerValue = CurValue;
                }
            }
        }
    }


    //类型改变时
    function DropDownChange(formName) {
       
        var value = $('#' + formName + ' [name=Type]').val();
        $('#' + formName + ' [id=TwoPic]').hide();
   
        if (value == 0 || value == 1 || value == 6 || value == 7 || value == 10 || value == 11) { //轮胎 车品
            $('#' + formName).validate(TireValidate);
        } else if (value == 2) {//链接
            $('#' + formName).validate(LinkValidate);
        } else if (value == 3) {//图片
            $('#' + formName).validate(PictureValidate);
        } else if (value == 4) {//优惠卷
            $('#' + formName).validate(CouponValidate);

          //  $('#' + formName + ' [id=TwoPic]').show();

        } else if (value == 5 || value == 12) {//保养
            $('#' + formName).validate(UpKeepValidate);
        } else if (value == 13) {
            $('#' + formName).validate(LuckyWheel);
        }

        if (value != 0 && value != 1 && value != 6 && value != 7 && value != 10 && value != 11) {
            $('#' + formName + ' [name=IsImage]').val(1);//是图片
        }

        Show(formName, value);
    }

    //获取产品库图片以及产品名称
    function GetProductImage(obj,tableName) {
        $.ajax({
            type: 'post',
            url: '/ActivityV2/GetProductImage?pid=' + $(obj).val(),
            dataType: 'json',
            success: function (result) {
                console.log(result);
                var json = JSON.parse(result);
                if (result.BImage != "" && result.SImage != "") {
                    $('#' + tableName + ' [id=cimg]').attr('src', json.SImage);
                    $('#' + tableName + ' [name=hidCimg]').val(json.BImage);
                    $('#' + tableName + ' [name=ProductName]').val(json.DisplayName);
                    $('#' + tableName + ' [name=TireSize]').val(json.TireSize);
                    if (json.ActivityPrice != "" && json.ActivityPrice != null) {
                        $('#' + tableName + ' [name=ActivityPrice]').val(parseFloat(json.ActivityPrice).toFixed(2));
                    } else {
                        $('#' + tableName + ' [name=ActivityPrice]').val('');
                    }
                    $('#' + tableName + ' [name=PicUrl]').val(json.BImage);
                    if ($('#' + tableName + ' [name=hidCimg]').val() == "") {
                        $.messager.alert("提示", "产品库中无图片,请重新填写");
                        $('#' + tableName + ' [name=PID]').val('');
                        $('#' + tableName + ' [name=VID]').val('');
                    } else {

                    }
                    console.log(json.SImage);
                    console.log(json.BImage);
                    console.log($('#' + tableName + ' [name=hidCimg]').val());
                } else {
                    $.messager.alert("提示", "产品库中无图片,请重新填写");
                    $('#' + tableName + ' [name=PID]').val('');
                }
            }
        });

    }


    /*
    *根据活动ID绑定优惠卷
    *
    */
    function BindCoupon(formName) {
        var activityID = $('#' + formName + ' [name=CID]').val();
        if (activityID != "") {
            $.ajax({
                type: 'post',
                url: '/ActivityV2/CouponVlidate',
                dataType: 'json',
                data: { "couponRulePKID": activityID },
                success: function (result) {
                    console.log(result);
                    if (result.Name != "") {
                        if ($('#' + formName + ' [name=CID]').next().next().length > 0) {
                            $('#' + formName + ' [name=CID]').next().next().empty();
                        }
                        $('#' + formName + ' [name=CID]').after("<br/><sapn>名称:" + result.Name + " <br/> 描述:" + result.Description + "</sapn>");
                    } else {
                        $('#' + formName + ' [name=CID]').val("")
                        alert("优惠券不存在,请重新输入");
                        if ($('#' + formName + ' [name=CID]').next().next().length>0) {
                            console.log("清空");
                            $('#' + formName + ' [name=CID]').next().next().empty();
                        }
                        
                    }
                   
                },
                error: function (xmlHttp, status, em) {
                    console.log(em);
                    $.messager.alert("系统提示", "请输入正确的优惠券规则ID");
                    $('#' + formName + ' [name=CID]').val("");
                }
            });
        } else {
            $('#' + formName + " [name=CID]").empty();
        }
    }

    /*
       显示对应的输入信息
    */
    function Show(tableID, type) {
        
        var table = $('#' + tableID);
        if (type == 0 || type == 1 || type == 6 || type == 7 || type == 10 || type == 11) {
            var bigImg = $('#hidBigImg').val();
            $('#tr_HandlerIOS', table).hide();
            $('#tr_HandlerAndroid', table).hide();
            $('#tr_SOAPIOS', table).hide();
            $('#tr_SOAPAndroid', table).hide();
            $('#tr_Handler', table).hide();
            $('#tr_Url', table).hide();
            $('#tr_WXUrl', table).hide();
            $('#tr_PCUrl', table).hide();
            $('#tr_CID', table).hide();
            $('#tr_ActivityPrice', table).show();
            if (bigImg != 0) {
                $('#tr_Description', table).hide();
                $('#tr_DisplayWay', table).hide();
            } else {
                $('#tr_Description', table).show();
                $('#tr_DisplayWay', table).show();
            }
            $('#tr_PID', table).show();
            $('#tr_ProductName', table).show();
            $('#tr_VID', table).show();
            $('#tr_TireSize', table).show();
        } else if (type == 2) {//链接
            $('#tr_TireSize', table).hide();
            $('#tr_HandlerIOS', table).hide();
            $('#tr_HandlerAndroid', table).hide();
            $('#tr_SOAPIOS', table).hide();
            $('#tr_SOAPAndroid', table).hide();
            $('#tr_Handler', table).hide();
            $('#tr_Url', table).show();
            $('#tr_WXUrl', table).show();
            $('#tr_PCUrl', table).show();
            $('#tr_CID', table).hide();
            $('#tr_ActivityPrice', table).hide();
            $('#tr_PID', table).hide();
            $('#tr_ProductName', table).hide();
            $('#tr_VID', table).hide();
            $('#tr_Description', table).hide();
            $('#tr_DisplayWay', table).hide();
           // $('#tr_NewUser', table).hide();
           // $('#tr_UserRank', table).hide();
        } else if (type == 3) {//图片
            $('#tr_TireSize', table).hide();
            $('#tr_HandlerIOS', table).hide();
            $('#tr_HandlerAndroid', table).hide();
            $('#tr_SOAPIOS', table).hide();
            $('#tr_SOAPAndroid', table).hide();
            $('#tr_Handler', table).hide();
            $('#tr_Url', table).hide();
            $('#tr_WXUrl', table).hide();
             $('#tr_PCUrl', table).hide();
            $('#tr_CID', table).hide();
            $('#tr_PID', table).hide();
            $('#tr_ProductName', table).hide();
            $('#tr_VID', table).hide();
            $('#tr_Description', table).hide();
            $('#tr_DisplayWay', table).hide();
            $('#tr_ActivityPrice', table).hide();
         //   $('#tr_NewUser', table).hide();
         //   $('#tr_UserRank', table).hide();
        } else if (type == 4) {//优惠券
            $('#tr_TireSize', table).hide();
            $('#tr_HandlerIOS', table).hide();
            $('#tr_HandlerAndroid', table).hide();
            $('#tr_SOAPIOS', table).hide();
            $('#tr_SOAPAndroid', table).hide();
            $('#tr_Handler', table).hide();
            $('#tr_Url', table).hide();
            $('#tr_WXUrl', table).hide();
            $('#tr_PCUrl', table).hide();
            $('#tr_CID', table).show();
            $('#tr_PID', table).hide();
            $('#tr_ProductName', table).hide();
            $('#tr_VID', table).hide();
            $('#tr_Description', table).hide();
            $('#tr_DisplayWay', table).hide();
            $('#tr_ActivityPrice', table).hide();
        //    $('#tr_NewUser', table).show();
        //    $('#tr_UserRank', table).show();
        } else if (type == 5 || type == 12) {//保养
            $('#tr_TireSize', table).hide();
            $('#tr_HandlerIOS', table).show();
            $('#tr_HandlerAndroid', table).show();
            $('#tr_SOAPIOS', table).show();
            $('#tr_SOAPAndroid', table).show();
            $('#tr_Handler', table).show();
            $('#tr_Url', table).show();
            $('#tr_WXUrl', table).show();
            $('#tr_PCUrl', table).show();
            $('#tr_CID', table).hide();
            $('#tr_PID', table).hide();
            $('#tr_ProductName', table).hide();
            $('#tr_VID', table).hide();
            $('#tr_Description', table).hide();
            $('#tr_DisplayWay', table).hide();
            $('#tr_ActivityPrice', table).hide();
        //    $('#tr_NewUser', table).hide();
        //    $('#tr_UserRank', table).hide();
        } else if (type == 8) {//活动规则
            $('#tr_TireSize', table).hide();
            $('#tr_HandlerIOS', table).hide();
            $('#tr_HandlerAndroid', table).hide();
            $('#tr_SOAPIOS', table).hide();
            $('#tr_SOAPAndroid', table).hide();
            $('#tr_Handler', table).hide();
            $('#tr_Url', table).hide();
            $('#tr_WXUrl', table).hide();
            $('#tr_PCUrl', table).hide();
            $('#tr_CID', table).hide();
            $('#tr_PID', table).hide();
            $('#tr_ProductName', table).hide();
            $('#tr_VID', table).hide();
           // $('#tr_Description', table).hide();
            $('#tr_DisplayWay', table).hide();
            $('#tr_ActivityPrice', table).hide();
       //     $('#tr_NewUser', table).hide();
        //    $('#tr_UserRank', table).hide();
        } else if (type == 9) {
            $('#tr_TireSize', table).hide();
            $('#tr_HandlerIOS', table).hide();
            $('#tr_HandlerAndroid', table).hide();
            $('#tr_SOAPIOS', table).hide();
            $('#tr_SOAPAndroid', table).hide();
            $('#tr_Handler', table).hide();
            $('#tr_Url', table).hide();
            $('#tr_WXUrl', table).hide();
            $('#tr_PCUrl', table).hide();
            $('#tr_CID', table).hide();
            $('#tr_ActivityPrice', table).hide();
            $('#tr_PID', table).hide();
            $('#tr_ProductName', table).hide();
            $('#tr_VID', table).hide();
            $('#tr_Description', table).show();
            $('#tr_DisplayWay', table).hide();
        //    $('#tr_NewUser', table).hide();
        //    $('#tr_UserRank', table).hide();
        } else if (type == 13) {
            $('#tr_TireSize', table).hide();
            $('#tr_HandlerIOS', table).hide();
            $('#tr_HandlerAndroid', table).hide();
            $('#tr_SOAPIOS', table).hide();
            $('#tr_SOAPAndroid', table).hide();
            $('#tr_Handler', table).hide();
            $('#tr_Url', table).hide();
            $('#tr_WXUrl', table).hide();
            $('#tr_PCUrl', table).hide();
            $('#tr_CID', table).hide();
            $('#tr_PID', table).hide();
            $('#tr_ProductName', table).hide();
            $('#tr_VID', table).show();
            $('#tr_Description', table).hide();
            $('#tr_DisplayWay', table).hide();
            $('#tr_ActivityPrice', table).hide();
         //   $('#tr_NewUser', table).hide();
         //   $('#tr_UserRank', table).hide();
        }
    }

    function RequiredVID(row) {  
        var isReturn = true;
        
        for (var i = 0; i < row.length; i++) {
          
            if (row[i].Type == 6 || row[i].type == 7) {
                if (row[i].VID == '' || row[i].VID == null || row[i].VID == undefined) {
                    isReturn = false;
                    break;
                }
            }
        }
       
        return isReturn
    }

    function ValidateActivityGuid(obj)
    {
        var guid = $(obj).val();
        console.log("guid", guid);
        var type =$('#editTableByOne [name=Type]').val();
        var pid = $('#editTableByOne [name=PID]').val();
        console.log("pid:", pid);
        if (pid != '' && guid != '') {
            $.ajax({
                type: 'post',
                url: '/ActivityV2/ActivityValidate',
                data: { activity: guid, pid: pid },
                success: function (result) {
                    result = JSON.parse(result);
                    if (!result.status) {
                        $.messager.alert('系统提示', '缓存中没有对应的PID，请确认输入的活动ID是否正确');
                        $(obj).val('');
                    }
                },
                error: function (XMLHttp, staus, error) {
                    $.messager.alert('系统提示', '活动ID校验失败');
                }
            });
        } else if(pid == '' && type != 13) {
            $.messager.alert('系统提示', '请输入PID');
            $(obj).val('');
        } else if (type == 13) {
            $.ajax({
                type: 'post',
                url: '/ActivityV2/GetValidateLuckyWheel',
                data: { id: guid },
                success: function (result) {
                    result = JSON.parse(result);
                    if (result.status == 0) {
                        $(obj).val('');
                        $.messager.alert('系统提示', '缓存中没有对应的发翻盘活动ID');
                       
                    }
                },
                error: function (XMLHttp, staus, error) {
                    $.messager.alert('系统提示', '活动ID校验失败');
                }
            });
        }
    }


    function ClearBigHome() {
        $('#hidBigActivity').val("");
        $.messager.alert("系统提示","大型活动配置已经清除，请保存并刷新缓存!");
    }

    function OpenTireSize() {
        $('#TireSizeConfig').empty();
        var value = $('#hidTireSizeConfig').val();
        $('#TireSizeConfig').dialog({
            title: '编辑车型信息',
            width: 900,
            height: 330,
            top: 100,
            resizable: true,
            left: 100,
            modal: true,
            href: '/ActivityV2/GetTireSizeConfig' ,
            method: 'POST',
            queryParams: {
                config: value
            },
            buttons: [{
                text: '保存',
                iconCls: 'icon-ok',
                handler: function () {
                    var data = GetTireSizeConfig();
                    $('#hidTireSizeConfig').val(JSON.stringify(data));
                    $('#TireSizeConfig').dialog('close');
                }
            }, {
                text: "取 消",
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#TireSizeConfig').dialog("close");
                }
            }]
        });
    }

</script>