@{
    ViewBag.Title = "";
    Layout = null;
}
@model Tuhu.Provisioning.DataAccess.Entity.ActivityBuildDetail



<form id="editFormByOne" class="easyui-form editForm">
    @if (Model.Type == -1)
    {
    <table id="editTableByOne">
        <tr>
            <td>
                渠道:
            </td>
            <td colspan="2">
                <select id="Channel" name="Channel">
                    @if (Model != null && Model.Channel == "all")
                    {
                        <option value="all" selected="selected">全部</option>
                    }
                    else
                    {
                        <option value="all">全部</option>
                    }
                    @if (Model != null && Model.Channel == "wap")
                    {
                        <option value="wap" selected="selected" >移动站</option>
                    }
                    else
                    {
                        <option value="wap">移动站</option>
                    }
                    
                    @if (Model != null && Model.Channel == "www")
                    {
                        <option value="www" selected="selected">网站</option>
                    }
                    else
                    {
                        <option value="www">网站</option>
                    }

                   
                </select>
            </td>
        </tr>
        <tr id="tr_UserRank" style="display:none;">
            <td>用户等级:</td>
            <td colspan="2">
                <select id="UserRank" name="UserRank">
                    <option value="0">所有用户</option>
                    <option value="1">LV1</option>
                    <option value="2">LV2</option>
                    <option value="3">LV3</option>
                    <option  value="4">LV4</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                活动类型:
            </td>
            <td colspan="2">
                <select id="Type" name="Type" onchange="DropDownChange('editFormByOne')">
                    <option value="-1">请选择</option>
                    @if (Model != null && Model.Type == 0)
                    {
                        <option value="0" selected="selected">轮胎</option>
                    }
                    else
                    {
                        <option value="0">轮胎</option>
                    }

                    @if (Model != null && Model.Type == 1)
                    {
                        <option value="1" selected="selected">车品</option>
                    }
                    else
                    {
                        <option value="1">车品</option>
                    }

                    @if (Model != null && Model.Type == 2)
                    {
                        <option value="2" selected="selected">链接</option>
                    }
                    else
                    {
                        <option value="2">链接</option>
                    }

                    @if (Model != null && Model.Type == 3)
                    {
                        <option value="3" selected="selected">图片</option>
                    }
                    else
                    {
                        <option value="3">图片</option>
                    }

                    @if (Model != null && Model.Type == 4)
                    {
                        <option value="4" selected="selected">优惠卷</option>
                    }
                    else
                    {
                        <option value="4">优惠卷</option>
                    }

                    @if (Model != null && Model.Type == 5)
                    {
                        <option value="5" selected="selected">保养</option>
                    }
                    else
                    {
                        <option value="5">保养</option>
                    }
                    @if (Model != null && Model.Type == 6)
                    {
                        <option value="6" selected="selected">限购轮胎</option>
                    }
                    else
                    {
                        <option value="6">限购轮胎</option>
                    }
                    @if (Model != null && Model.Type == 7)
                    {
                        <option value="7" selected="selected">限购车品</option>
                    }
                    else
                    {
                        <option value="7">限购车品</option>
                    }
                    @if (Model != null && Model.Type == 8)
                    {
                        <option value="8" selected="selected">活动规则</option>
                    }
                    else
                    {
                        <option value="8" >活动规则</option>
                    }
                    <option value="9">秒杀</option>
                    <option value="10">轮毂</option>
                    <option value="11">限购轮毂</option>
                    <option value="12">其它</option>
                    <option value="13">大翻盘</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>是否图片:</td>
            <td colspan="2">
                <select name="IsImage" id="IsImage">
                    @if (Model != null && Model.IsUploading == 0)
                    {
                        <option value="0" selected="selected">模板</option>
                    }
                    else
                    {
                        <option value="0">模板</option>
                    }

                    @if (Model != null && Model.IsUploading == 1)
                    {
                        <option value="1" selected="selected">图片</option>
                    }
                    else
                    {
                        <option value="1">图片</option>
                    }

                </select>
            </td>
        </tr>
        <tr id="tr_DisplayWay">
            <td>显示方式:</td>
            <td colspan="2">
                <select name="DisplayWay" id="DisplayWay">
                    @if (Model != null && Model.DisplayWay == -1)
                    {
                        <option value="-1" selected="selected">不选择</option>
                    }
                    else
                    {
                        <option value="-1">不选择</option>
                    }

                    @if (Model != null && Model.DisplayWay == 0)
                    {
                        <option value="0" selected="selected">竖向</option>
                    }
                    else
                    {
                        <option value="0">竖向</option>
                    }

                    @if (Model != null && Model.DisplayWay == 1)
                    {
                        <option value="1" selected="selected">横向</option>
                    }
                    else
                    {
                        <option value="1">横向</option>
                    }

                </select>
            </td>
        </tr>
        <tr id="tr_PID">
            <td>PID:</td>
            <td colspan="2">
                <input type="text" id="PID" name="PID" value="@(Model == null ? "" : Model.PID)" onchange="GetProductImage(this, 'editTableByOne')" />
            </td>
        </tr>
        <tr id="tr_ProductName">
            <td>产品名称:</td>
            <td colspan="2">
                <input type="text" id="ProductName" name="ProductName" style="width:300px;" value="@Model.ProductName" />
            </td>
        </tr>
        <tr id="tr_ActivityPrice">
            <td>产品库原价:</td>
            <td colspan="2">
                <input type="text" id="ActivityPrice" name="ActivityPrice" value="@(Model != null && Model.ActivityPrice>0?Model.ActivityPrice.ToString("f2"):"")" />
            </td>
        </tr>
        <tr id="tr_VID">
            <td>活动ID：</td>
            <td colspan="2">
                <input type="text" id="VID" name="VID" value="@(Model == null ? "" : Model.VID)"  onblur="ValidateActivityGuid(this)" style="width:270px;" />
            </td>
        </tr>
        <tr id="tr_TireSize">
            <td>轮胎尺寸:</td>
            <td colspan="2">
                <input type="text" id="TireSize" name="TireSize" value="@(Model == null?"":Model.TireSize)" readonly="readonly"/>
            </td>
        </tr>
        <tr id="tr_CID">
            <td>优惠卷ID：</td>
            <td colspan="2">
                <input type="text" name="CID" value="@(Model == null ? "" : Model.CID)" onchange="BindCoupon('editFormByOne')" />
               @*@MvcHtmlString.Create(ViewBag.CIDHtml)*@
            </td>

        </tr>
        <tr id="tr_NewUser" style="display:none;">
            <td>是否新用户:</td>
            <td colspan="2">
                    <input type="radio" name="IsNewUser" value="1"  /><span>是</span>
                    <input type="radio" name="IsNewUser" value="0" checked="checked" /> <span>否</span>
            </td>
        </tr>
        <tr>
            <td>图片:</td>
            <td>
                <img id="cimg" width="20" height="20" src="@(Model == null ? "" : Model.SmallImage)" />
                <input type="hidden" id="hidCimg" name="hidCimg" value="@(Model == null ? "" : Model.Image)" />
            </td>
            <td>
                <input id="cFile" type="file" name="cFile" onchange="UploadImg(this, 'cimg', 'hidCimg', 'IsUploading', 'editTableByOne', 'PicUrl')" />
                <input type="hidden" id="IsUploading" name="IsUploading" value="@(Model == null ? "0" : Model.IsUploading.ToString())" />
                <input id="btnClearImage" type="button" name="btnClearImage" value="清除图片" />
            </td>
        </tr>
        <tr>
            <td>图片Url:</td>
            <td colspan="2">
                <input type="text" id="PicUrl" name="PicUrl" style="width:300px;"  />
            </td>
        </tr>
        @*<tr id="TwoPic" style="display:@(Model.TwoSImage ==""?"none":"");">
            <td>图片(二):</td>
            <td>
                <img id="cimgTwoPic" width="20" height="20"  src="@(Model.TwoSImage == ""?"":Model.TwoSImage)" />
                <input type="hidden" id="hidCimgTwoPic" name="hidCimgTwoPic" value="@(Model.TwoBImage == ""?"":Model.TwoBImage)" />
            </td>
            <td>
                <input id="FileTwoPic" type="file" name="FileTwoPic" onchange="UploadImg(this, 'cimgTwoPic', 'hidCimgTwoPic', 'IsUploading', 'editTableByOne')" />
            </td>
        </tr>*@
      
        <tr id="tr_Description">
            <td>描述:</td>
            <td colspan="2">
               @if (Model != null && Model.Description != null)
               {
                <textarea name="Description"  id="Description" style="width:280px;height:16px; font-size:12px; overflow:hidden;">@Model.Description</textarea>
               }
               else
               {
                <textarea name="Description"  id="Description" style="width:280px;height:16px; font-size:12px; overflow:hidden;"></textarea>
               }
             </td>
        </tr>
        <tr id="tr_Url">
            <td>URL:</td>
            <td colspan="2">
                <input type="text" name="Url" style="width:300px;" value="@(Model == null ? "" : Model.LinkUrl)" style="width:300px;" />
            </td>
        </tr>
        <tr id="tr_WXUrl">
            <td>微信Url:</td>
            <td colspan="2">
                <input type="text" name="WXUrl" style="width:300px;" value="@(Model == null ? "" : Model.WXUrl)" style="width:300px;" />
            </td>
        </tr>
        <tr id="tr_PCUrl">
            <td>官网URL：</td>
            <td colspan="2">
                <input type="text" name="PCUrl" style="width:300px;" value="@(Model == null ? "" : Model.PCUrl)" style="width:300px;" />
            </td>
        </tr>
        <tr>
            <td>排序:</td>
            <td colspan="2">
                <input type="text" name="OrderBy" value="@(Model == null ? "" : Model.OrderBy)" />
            </td>
        </tr>
        <tr style="display:none;">
            <td>轮胎品牌:</td>
            <td colspan="2">
                <select id="TireBrand" name="TireBrand">
                    <option value="-1">不选择</option>
                </select>
            </td>
        </tr>
        <tr id="tr_HandlerIOS">
            <td colspan="2">APP处理值(IOS):</td>
            <td>
                <input type="text" name="HandlerIOS" style="width:300px;" value="@(Model == null || Model.HandlerIOS == "" ? "" : Model.HandlerIOS)" />
            </td>
        </tr>
        <tr id="tr_SOAPIOS">
            <td colspan="2">特殊通讯值(IOS):</td>
            <td>
                <input type="text" name="SOAPIOS" style="width:300px;" value="@(Model == null ? "" : Model.SOAPIOS)" />
            </td>
        </tr>
        <tr id="tr_HandlerAndroid">
            <td colspan="2">APP处理值(Android):</td>
            <td>
                <input type="text" name="HandlerAndroid" style="width:300px;" value="@(Model == null || Model.HandlerAndroid == "" ? "" : Model.HandlerAndroid)" />
            </td>
        </tr>
        <tr id="tr_SOAPAndroid">
            <td colspan="2">特殊通讯值(Android)：</td>
            <td>
                <input type="text" name="SOAPAndroid" style="width:300px;" value="@(Model == null ? "" : Model.SOAPAndroid)" />
            </td>
        </tr>
        <tr id="tr_Handler">
            <td colspan="3">
                <span style="color:red;">
                    【特殊通讯值】填写时，不用单引号【'】以及不用中括号【[]】
                    <br />
                    例如(不符合格式):<br />
                    {'name':'value','key':1} 、<br />
                    [{"name":"value","key":1} ]
                </span>

            </td>
        </tr>
    </table>
    }
    else
    {
        <table id="editTableByOne">
            <tr>
                <td>
                    渠道:
                </td>
                <td colspan="2">
                    <select id="Channel" name="Channel">
                        @if (Model != null && Model.Channel == "all")
                        {
                            <option value="all" selected="selected">全部</option>
                        }
                        else
                        {
                            <option value="all">全部</option>
                        }
                        @if (Model != null && Model.Channel == "wap")
                        {
                            <option value="wap" selected="selected">移动站</option>
                        }
                        else
                        {
                            <option value="wap">移动站</option>
                        }

                        @if (Model != null && Model.Channel == "www")
                        {
                            <option value="www" selected="selected">网站</option>
                        }
                        else
                        {
                            <option value="www">网站</option>
                        }


                    </select>
                </td>
            </tr>
            <tr id="tr_UserRank" style="display:none;">
                <td>
                    用户等级:
                </td>
                <td colspan="2">
                    <select id="UserRank" name="UserRank">
                        @if (Model.UserRank == 0)
                        {
                            <option value="0" selected="selected">所有用户</option>
                        }
                        else
                        {
                            <option value="0">所有用户</option>
                        }
                        @if (Model.UserRank == 1)
                        {
                            <option value="1" selected="selected">LV1</option>
                        }
                        else
                        {
                            <option value="1">LV1</option>
                        }
                        @if (Model.UserRank == 2)
                        {
                            <option value="2" selected="selected">LV2</option>
                        }
                        else
                        {
                            <option value="2">LV2</option>
                        }
                        @if (Model.UserRank == 3)
                        {
                            <option value="3" selected="selected">LV3</option>
                        }
                        else
                        {
                            <option value="3">LV3</option>
                        }
                        @if (Model.UserRank == 4)
                        {
                            <option value="4" selected="selected">LV4</option>
                        }
                        else
                        {
                            <option value="4">LV4</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    活动类型:
                </td>
                <td colspan="2">
                    <select id="Type" name="Type" onchange="DropDownChange('editFormByOne')">
                        <option value="-1">请选择</option>
                        @if (Model != null && Model.Type == 0)
                        {
                            <option value="0" selected="selected">轮胎</option>
                        }
                        else
                        {
                            <option value="0">轮胎</option>
                        }

                        @if (Model != null && Model.Type == 1)
                        {
                            <option value="1" selected="selected">车品</option>
                        }
                        else
                        {
                            <option value="1">车品</option>
                        }

                        @if (Model != null && Model.Type == 2)
                        {
                            <option value="2" selected="selected">链接</option>
                        }
                        else
                        {
                            <option value="2">链接</option>
                        }

                        @if (Model != null && Model.Type == 3)
                        {
                            <option value="3" selected="selected">图片</option>
                        }
                        else
                        {
                            <option value="3">图片</option>
                        }

                        @if (Model != null && Model.Type == 4)
                        {
                            <option value="4" selected="selected">优惠卷</option>
                        }
                        else
                        {
                            <option value="4">优惠券</option>
                        }

                        @if (Model != null && Model.Type == 5)
                        {
                            <option value="5" selected="selected">保养</option>
                        }
                        else
                        {
                            <option value="5">保养</option>
                        }
                        @if (Model != null && Model.Type == 6)
                        {
                            <option value="6" selected="selected">限购轮胎</option>
                        }
                        else
                        {
                            <option value="6">限购轮胎</option>
                        }
                        @if (Model != null && Model.Type == 7)
                        {
                            <option value="7" selected="selected">限购车品</option>
                        }
                        else
                        {
                            <option value="7">限购车品</option>
                        }
                        @if (Model != null && Model.Type == 8)
                        {
                            <option value="8" selected="selected">活动规则</option>
                        }
                        else
                        {
                            <option value="8">活动规则</option>
                        }
                       
                        @if (Model != null && Model.Type == 9)
                        {
                            <option value="9" selected="selected">秒杀</option>
                        }
                        else
                        {
                            <option value="9">秒杀</option>
                        }
                       
                        
                        @if (Model != null && Model.Type == 10)
                        {
                            <option value="10" selected="selected">轮毂</option>
                        }
                        else
                        {
                            <option value="10">轮毂</option>
                        }

                        @if (Model != null && Model.Type == 11)
                        {
                            <option value="11" selected="selected">限购轮毂</option>
                        }
                        else
                        {
                            <option value="11">限购轮毂</option>
                        }
                        @if (Model != null && Model.Type == 12)
                        {
                            <option value="12" selected="selected" >其它</option>
                        }
                        else
                        {
                            <option value="12">其它</option>
                        }
                        @if (Model != null && Model.Type == 13)
                        {
                            <option value="13" selected="selected">大翻盘</option>
                        }
                        else
                        {
                            <option value="13">大翻盘</option>
                        }

                    </select>
                </td>
            </tr>
            <tr>
                <td>是否图片:</td>
                <td colspan="2">
                    <select name="IsImage" id="IsImage">
                        @if (Model != null && Model.IsUploading == 0)
                        {
                            <option value="0" selected="selected">模板</option>
                        }
                        else
                        {
                            <option value="0">模板</option>
                        }

                        @if (Model != null && Model.IsUploading == 1)
                        {
                            <option value="1" selected="selected">图片</option>
                        }
                        else
                        {
                            <option value="1">图片</option>
                        }

                    </select>
                </td>
            </tr>
            <tr id="tr_DisplayWay" style="display:@(Model.DisplayWay == -1?"none":"")">
                <td>显示方式:</td>
                <td>
                    <select name="DisplayWay" id="DisplayWay">
                        @if (Model != null && Model.DisplayWay == -1)
                        {
                            <option value="-1" selected="selected">不选择</option>
                        }
                        else
                        {
                            <option value="-1">不选择</option>
                        }

                        @if (Model != null && Model.DisplayWay == 0)
                        {
                            <option value="0" selected="selected">竖向</option>
                        }
                        else
                        {
                            <option value="0">竖向</option>
                        }

                        @if (Model != null && Model.DisplayWay == 1)
                        {
                            <option value="1" selected="selected">横向</option>
                        }
                        else
                        {
                            <option value="1">横向</option>
                        }

                    </select>
                </td>
            </tr>
            <tr id="tr_PID" style="display:@(string.IsNullOrEmpty( Model.PID)?"none":"")">
                <td>PID:</td>
                <td colspan="2">
                    <input type="text" id="PID" name="PID" value="@(Model == null ? "" : Model.PID)" onchange="GetProductImage(this, 'editTableByOne')" />
                </td>
            </tr>
            <tr id="tr_ProductName"  style="display:@(string.IsNullOrEmpty( Model.ProductName)?"none":"")">
                <td>产品名称:</td>
                <td colspan="2">
                    <input type="text" id="ProductName" name="ProductName" style="width:300px;" value="@Model.ProductName" />
                </td>
            </tr>
            <tr id="tr_ActivityPrice">
                <td>产品库原价:</td>
                <td>
                    <input type="text" id="ActivityPrice" name="ActivityPrice" value="@(Model != null && Model.ActivityPrice>0?Model.ActivityPrice.ToString("0.00"):"")" />
                </td>
            </tr>
            <tr id="tr_VID"  style="display:@((Model.Type !=0 && Model.Type != 1&& Model.Type != 6 && Model.Type != 7&& Model.Type != 10 && Model.Type != 11 && Model.Type !=13) ?"none":"")">
                <td>活动ID：</td>
                <td colspan="2">
                    <input type="text" id="VID" name="VID" value="@(Model == null ? "" : Model.VID)" onblur="ValidateActivityGuid(this)" style="width:270px;"/>
                </td>
            </tr>
            <tr id="tr_TireSize">
                <td>轮胎尺寸:</td>
                <td colspan="2"> 
                    <input type="text" id="TireSize" name="TireSize" value="@(Model == null?"":Model.TireSize)" readonly="readonly" />
                </td>
            </tr>
            <tr id="tr_CID"  style="display:@(string.IsNullOrEmpty( Model.CID)?"none":"")">
                <td>优惠卷ID：</td>
                <td colspan="2">
                    <input type="text" name="CID" value="@(Model == null ? "" : Model.CID)" onchange="BindCoupon('editFormByOne')" />
                    @*@MvcHtmlString.Create(ViewBag.CIDHtml)*@
                </td>

            </tr>
            <tr id="tr_NewUser" style="display:none;">
                <td>是否新用户:</td>
                <td colspan="2">
                    @if (Model.IsNewUser == 1)
                    {
                        <input type="radio" name="IsNewUser" value="1"  checked="checked"/><span>是</span>
                        <input type="radio" name="IsNewUser" value="0" /> <span>否</span>
                    }
                    else
                    {
                        <input type="radio" name="IsNewUser" value="1" /><span>是</span>
                        <input type="radio" name="IsNewUser" value="0" checked="checked" /> <span>否</span>
                    }
                   
                </td>
            </tr>
            <tr>
                <td>图片:</td>
                <td>
                    <img id="cimg" width="20" height="20" src="@(Model == null ? "" : Model.SmallImage)" />
                    <input type="hidden" id="hidCimg" name="hidCimg" value="@(Model == null ? "" : Model.Image)" />
                </td>
                <td>
                    <input id="cFile" type="file" name="cFile" onchange="UploadImg(this, 'cimg', 'hidCimg', 'IsUploading', 'editTableByOne', 'PicUrl')" />
                    <input type="hidden" id="IsUploading" name="IsUploading" value="@(Model == null ? "0" : Model.IsUploading.ToString())" />
                    <input id="btnClearImage" type="button" name="btnClearImage" value="清除图片"/>
                </td>
            </tr>
            <tr>
                <td>图片Url:</td>
                <td colspan="2">
                    <input type="text" id="PicUrl" name="PicUrl" style="width:300px;" value="@(Model == null ? "" : Model.Image)" />
                </td>
            </tr>
            @*<tr id="TwoPic" style="display:@(Model.TwoSImage ==""?"none":"");">
                    <td>图片(二):</td>
                    <td>
                        <img id="cimgTwoPic" width="20" height="20"  src="@(Model.TwoSImage == ""?"":Model.TwoSImage)" />
                        <input type="hidden" id="hidCimgTwoPic" name="hidCimgTwoPic" value="@(Model.TwoBImage == ""?"":Model.TwoBImage)" />
                    </td>
                    <td>
                        <input id="FileTwoPic" type="file" name="FileTwoPic" onchange="UploadImg(this, 'cimgTwoPic', 'hidCimgTwoPic', 'IsUploading', 'editTableByOne')" />
                    </td>
                </tr>*@

            <tr id="tr_Description"  style="display:@( string.IsNullOrEmpty(Model.Description)?"none":"")">
                <td>描述:</td>
                <td colspan="2">
                    @if (Model != null && Model.Description != null)
                    {
                        <textarea name="Description" id="Description" style="width:280px;height:16px; font-size:12px; overflow:hidden;">@Model.Description</textarea>
                    }
                    else
                    {
                        <textarea name="Description" id="Description" style="width:280px;height:16px; font-size:12px; overflow:hidden;"></textarea>
                    }
                </td>
            </tr>
            <tr id="tr_Url"  style="display:@(string.IsNullOrEmpty( Model.LinkUrl)?"none":"")">
                <td>URL:</td>
                <td colspan="2">
                    <input type="text" name="Url" style="width:300px;" value="@(Model == null ? "" : Model.LinkUrl)" />
                </td>
            </tr>
            <tr id="tr_WXUrl"  style="display:@(string.IsNullOrEmpty( Model.WXUrl)?"none":"")">
                <td>微信Url:</td>
                <td colspan="2">
                    <input type="text" name="WXUrl" style="width:300px;" value="@(Model == null ? "" : Model.WXUrl)" />
                </td>
            </tr>
            <tr id="tr_PCUrl"  style="display:@(string.IsNullOrEmpty( Model.PCUrl)?"none":"")">
                <td>官网URL：</td>
                <td colspan="2">
                    <input type="text" name="PCUrl" style="width:300px;" value="@(Model == null ? "" : Model.PCUrl)" />
                </td>
            </tr>
            <tr>
                <td>排序:</td>
                <td colspan="2">
                    <input type="text" name="OrderBy" value="@(Model == null ? "" : Model.OrderBy)" />
                </td>
            </tr>
            <tr style="display:none;">
                <td>轮胎品牌:</td>
                <td colspan="2">
                    <select id="TireBrand" name="TireBrand">
                        <option value="-1">不选择</option>
                    </select>
                </td>
            </tr>
            <tr id="tr_HandlerIOS"  style="display:@((Model.Type != 5 && Model.Type != 12) ?"none":"")">
                <td colspan="2">APP处理值(IOS):</td>
                <td>
                    <input type="text" name="HandlerIOS" style="width:300px;" value="@(Model == null || Model.HandlerIOS == "" ? "" : Model.HandlerIOS)" />
                </td>
            </tr>
           
            <tr id="tr_SOAPIOS" style="display:@((Model.Type != 5 && Model.Type != 12)?"none":"")">
                <td colspan="2">特殊通讯值(IOS):</td>
                <td>
                    <input type="text" name="SOAPIOS" style="width:300px;" value="@(Model == null ? "" : Model.SOAPIOS)" />
                </td>
            </tr>
            <tr id="tr_HandlerAndroid" style="display:@((Model.Type != 5 && Model.Type != 12)?"none":"")">
                <td colspan="2">APP处理值(Android):</td>
                <td>
                    <input type="text" name="HandlerAndroid" style="width:300px;" value="@(Model == null || Model.HandlerAndroid == "" ? "" : Model.HandlerAndroid)" />
                </td>
            </tr>
            <tr id="tr_SOAPAndroid"  style="display:@((Model.Type != 5 && Model.Type != 12)?"none":"")">
                <td colspan="2">特殊通讯值(Android)：</td>
                <td>
                    <input type="text" name="SOAPAndroid" style="width:300px;" value="@(Model == null ? "" : Model.SOAPAndroid)" />
                </td>
            </tr>
            <tr id="tr_Handler"  style="display:@((Model.Type != 5 && Model.Type != 12)?"none":"")">
                <td colspan="3">
                    <span style="color:red;">
                        【特殊通讯值】填写时，不用单引号【'】以及不用中括号【[]】
                        <br />
                        例如(不符合格式):<br />
                        {'name':'value','key':1} 、<br />
                        [{"name":"value","key":1} ]
                    </span>

                </td>
            </tr>
        </table>
    }
</form>
<input type="hidden" id="hidBigImg" value="@Model.BigImg"/>
<script type="text/javascript">
  

    function getDataRow() {
        var date = (new Date()).Format("yyyyMMddhhmmss");
        var data = {
            'Group':date,
            'PID': $('#editTableByOne [name=PID]').val(),
            'VID': $('#editTableByOne [name=VID]').val(),
            'CID': $('#editTableByOne [name=CID]').val(),
            'SmallImage': $('#editTableByOne [id=cimg]').attr('src') || '', //小图路径
            'Image':  $('#editTableByOne [name=PicUrl]').val(), //$('#editTableByOne [name=hidCimg]').val(), //大图
            'BigImg': 0,//不进行更新
            'Type': $('#editTableByOne [name=Type]').val(), //类型
            'OrderBy': $('#editTableByOne [name=OrderBy]').val(),
            'LinkUrl': $('#editTableByOne [name=Url]').val(),
            'HandlerIOS': $('#editTableByOne [name=HandlerIOS]').val(),
            'HandlerAndroid': $('#editTableByOne [name=HandlerAndroid]').val(),
            'SOAPIOS': $('#editTableByOne [name=SOAPIOS]').val(),
            'SOAPAndroid': $('#editTableByOne [name=SOAPAndroid]').val(),
            'IsUploading': $('#editTableByOne [name=IsImage]').val(), //$('#editTableByOne [name=IsUploading]').val()||0
            'DisplayWay': $('#editTableByOne [name=DisplayWay]').val(),//显示方式
            'Description': $('#editTableByOne [name=Description]').val(), //描述
            'TireSize': $('#editTableByOne [name=TireSize]').val()
        };

        if (data.Type == 4) {
            //优惠卷
            data.TwoSImage = $('#editTableByOne [id=cimgTwoPic]').attr('src') || '';
            data.TwoBImage = $('#editTableByOne [name=hidCimgTwoPic]').val();
        }

        //if ($('#editTableByOne [name=TireBrand]').val() != -1) {
        //    //选择车牌
        //    data.TireBrand = $('#editTableByOne [name=TireBrand]').val();
        //}

        if ((data.Type == 0 || data.Type == 1 || data.Type == 6 || data.Type == 7 || data.Type == 10 || data.Type == 11) && data.IsUploading == 0) {
            data.ProductName = $('#editTableByOne [name=ProductName]').val();
        }


        var wxurl = $('#editTableByOne [name=WXUrl]').val();
        if (wxurl != "") {
            data.WXUrl = wxurl;
        }

        data.PCUrl = $('#editTableByOne [name=PCUrl]').val();
        data.Channel = $('#editTableByOne [name=Channel]').val();
       
        if ($('#editTableByOne [name=ActivityPrice]').val() != undefined && $('#editTableByOne [name=ActivityPrice]').val() != '') {
            data.ActivityPrice = parseFloat($('#editTableByOne [name=ActivityPrice]').val()).toFixed(2);
        }
       
      //  data.UserRank = $('#editTableByOne [name=UserRank]').val();
      //  data.IsNewUser = $('#editTableByOne [name=IsNewUser]:checked').val();
        console.log(data);
        return data;

    }

    $('#btnClearImage').on('click', function () {
        $('#hidCimg').val('');
        $('#PicUrl').val('');
        $('#cimg').removeAttr("src");
    });

</script>