@{
    ViewBag.Title = "PromotionEdit";
    Layout = null;
}
@model Tuhu.Provisioning.DataAccess.Entity.SE_GetPromotionActivityConfig

@if (Model != null)
{
    <form id="PromotionForm" method="post">
        <table width="100%">
            <tr>
                <td colspan="4">
                    <span>
                        <input type="radio" name="Status" value="true" @(Model.Status == true ? "checked=" + "checked" : "") /><span>开启</span>
                        <input type="radio" name="Status" value="false" @(Model.Status == false ? "checked=" + "checked" : "") /><span>关闭</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    名称:
                </td>
                <td>
                    <input class="easyui-textbox" id="ActivityName" name="ActivityName" style="width:350px;" data-options="required:true" value="@(Model.ActivityName)" />
                </td>
                <td>
                    开始时间:
                </td>
                <td>

                    <input class="easyui-datetimebox" id="StartDateTime" name="StartDateTime" style="width:350px;" data-options="required:true" value="@(Model.StartDateTime.Year != 1?Model.StartDateTime.ToString("yyyy-MM-dd HH:mm:ss"):"")" />
                </td>
            </tr>
            <tr>
                <td>
                    发放渠道:
                </td>
                <td>
                    <input class="easyui-textbox" id="Channel" name="Channel" style="width:350px;" data-options="required:true" value="@Model.Channel" />
                </td>
                <td>
                    结束时间:
                </td>
                <td>
                    <input class="easyui-datetimebox" id="EndDateTime" name="EndDateTime" style="width:350px;" data-options="required:true" value="@(Model.EndDateTime.Year !=1?Model.EndDateTime.ToString("yyyy-MM-dd HH:mm:ss"):"")" />
                </td>
            </tr>
            <tr>
                <td>
                    剩余数量:
                </td>
                <td>
                    <input class="easyui-textbox" id="Surplus"  name="Surplus" data-options="readonly:true" style="width:350px;" value="@(Model.CouponItems.FirstOrDefault().Quantity == null?"":(Model.CouponItems.FirstOrDefault().Quantity - ViewBag.Count))" />
                </td>
                <td>
                    仅限新用户:
                </td>
                <td>
                    <input type="radio" name="IsNewUser" value="true" @(Model.IsNewUser == true ? "checked=" + "checked" : "") /><span>是</span>
                    <input type="radio" name="IsNewUser" value="false" @(Model.IsNewUser == false ? "checked=" + "checked" : "") /><span>否</span> |
                    <input type="radio" name="IsNeedCode" value="true" @(Model.IsNeedCode == true ? "checked=" + "checked" : "")    style="display:none;" />@*<span>需要验证码</span>*@
                    <input type="radio" name="IsNeedCode" value="false" @(Model.IsNeedCode == false ? "checked=" + "checked" : "")   style="display:none;" />@*<span>不需要验证码</span>*@
                </td>
            </tr>
            <tr>
                <td>头图:</td>
                <td>
                    <img id="img1" style="width:40px;height:32px; vertical-align:middle;" @(string.IsNullOrWhiteSpace(Model.TopBanner) ? "" : "src=" + Model.TopBanner) />
                    <input type="file" id="fileUpload1" name="fileUpload1" style="width:290px;" onchange="Upload(this, 'img1', 'TopBanner')" />
                    <input type="hidden" id="TopBanner" name="TopBanner" value="@Model.TopBanner" />
                </td>
                <td>底图:</td>
                <td>
                    <img id="img2" style="width:40px;height:32px; vertical-align:middle;" @(string.IsNullOrWhiteSpace(Model.BottomBanner) ? "" : "src=" + Model.BottomBanner) />
                    <input type="file" id="fileUpload2" name="fileUpload2" onchange="Upload(this, 'img2', 'BottomBanner')" />
                    <input type="hidden" id="BottomBanner" name="BottomBanner" value="@Model.BottomBanner" />
                </td>
            </tr>
            <tr>
                <td>获取位置:</td>
                <td>
                    <input type="radio" name="IsPostion" value="true" @(Model.IsPostion == true?"checked="+"checked":"") /><span>是</span>
                    <input type="radio" name="IsPostion" value="false" @(Model.IsPostion == false?"checked="+"checked":"") /><span>否</span>
                </td>
                <td>
                    是否发送短信:
                </td>
                <td>
                    <input type="radio" name="IsSendMsg" value="true"  @(Model.IsSendMsg == true?"checked="+"checked":"")  /><span>发送</span>
                    <input type="radio" name="IsSendMsg" value="false" @(Model.IsSendMsg == false?"checked="+"checked":"")   /><span>不发送</span>
                    <br />
                    <input class="easyui-textbox" name="SendMsg" id="SendMsg" data-options="width:350,height:50,multiline:true"  value="@(string.IsNullOrWhiteSpace(Model.SendMsg) == true ? "您好，优惠券已存到您途虎养车app的账户中，立即下载途虎养车app，使用优惠券吧！链接：http://t.cn/RwZIin8":Model.SendMsg)" />
                </td>
            </tr>
            <tr style="@(string.IsNullOrEmpty(User.Identity.Name)||(User.Identity.Name == "chenyutao@tuhu.cn" || User.Identity.Name == "wangjunqiao@tuhu.cn" || User.Identity.Name == "zhangtaiyu@tuhu.cn" || User.Identity.Name == "yangguijun@tuhu.cn") ?"":"display:none;")">
                <td colspan="4">
                    <fieldset>
                        <legend>设置领取参数</legend>
                        <table width="100%">
                            <tr>
                                <td>验证码次数:</td>
                                <td>
                                    <input type="text" id="NumberCodeTimes" name="NumberCodeTimes" value="@(Model.NumberCodeTimes)" />
                                </td>
                                <td>图形验证:</td>
                                <td>
                                    <input type="text" id="ChartCodeTimes" name="ChartCodeTimes" value="@Model.ChartCodeTimes" />
                                </td>
                            </tr>
                            <tr>
                                <td>自动结束:</td>
                                <td>
                                    <input type="text" id="AutoCompleteTimes" name="AutoCompleteTimes" value="@Model.AutoCompleteTimes" />
                                </td>
                                <td>验证码错误次数:</td>
                                <td>
                                    <input type="text" id="CodeErrorTimes" name="CodeErrorTimes" value="@Model.CodeErrorTimes" />
                                </td>
                            </tr>
                            <tr>
                                <td>手机号锁定时间限制(小时):</td>
                                <td colspan="3">
                                    <input type="text" id="LimitPhoneHourse" name="LimitPhoneHourse" value="@Model.LimitPhoneHourse" />
                                </td>
                            </tr>
                        </table>

                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>页面使用类型:</td>
                <td colspan="3">
                    <input type="radio" name="CardChannel" value="-1"  @(Model.CardChannel==-1?"checked=\"checked\"":"") /><span>普通页面</span>
                    <input type="radio" name="CardChannel" value="1" @(Model.CardChannel==1?"checked=\"checked\"":"") /><span>QQ</span>
                    <input type="radio" name="CardChannel" value="0" @(Model.CardChannel==0?"checked=\"checked\"":"") /><span>微信</span>
                </td>
            </tr>
            <tr>
                <td>已消费时Url:</td>
                <td>
                    <input type="text" class="easyui-textbox" id="CardConsumedURL" name="CardConsumedURL" style="width:350px;" value="@Model.CardConsumedURL" />
                </td>
                <td>已过期Url:</td>
                <td>
                    <input type="text" class="easyui-textbox" id="CardExpireURL" name="CardExpireURL" style="width:350px" value="@Model.CardExpireURL" />
                </td>
            </tr>
            <tr>
                <td>转赠Url:</td>
                <td>
                    <input type="text" class="easyui-textbox" id="CardGiftingURL" name="CardGiftingURL" style="width:350px;" value="@Model.CardGiftingURL" />
                </td>
                <td>转赠超时Url:</td>
                <td>
                    <input type="text" class="easyui-textbox" id="CardGiftTimeOutURL" name="CardGiftTimeOutURL" style="width:350px;" value="@Model.CardGiftTimeOutURL" />
                </td>
            </tr>
            <tr>
                <td>已删除Url:</td>
                <td>
                    <input type="text" class="easyui-textbox" id="CardDeleteURL" name="CardDeleteURL" style="width:350px;" value="@Model.CardDeleteURL" />
                </td>
                <td>
                    已失效Url:
                </td>
                <td>
                    <input type="text" class="easyui-textbox" id="CardUnavailableURL" name="CardUnavailableURL" style="width:350px;" value="@Model.CardUnavailableURL" />
                </td>
            </tr>
            <tr>
                <td>无效时Url:</td>
                <td>
                    <input type="text" class="easyui-textbox" id="CardInvalidSerialCodeURL" name="CardInvalidSerialCodeURL" style="width:350px;" value="@Model.CardInvalidSerialCodeURL" />
                </td>
                <td>
                    Token失败时:
                </td>
                <td>
                    <input type="text" class="easyui-textbox" id="TokenAccessFailedURL" name="TokenAccessFailedURL" style="width:350px;" value="@Model.TokenAccessFailedURL" />
                </td>
            </tr>
            <tr>
                <td colspan="4" style="padding:2px 0px;">
                    <fieldset style="height:350px;padding:5px 0px;">
                        <legend>优惠券配置</legend>
                        <div id="toolbarCoupon">
                            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddCoupon" data-options="iconCls:'icon-add',onClick:function(){ Opeartor.openCoupon(null); }">新 增</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnDeleteCoupon" data-options="iconCls:'icon-add',disabled:true,onClick:function(){ Opeartor.removeCouponRow(); }">删 除</a>
                        </div>
                        <table id="couponTable" title="优惠券列表" class="easyui-datagrid" data-options="rownumbers:true,fit:true,toolbar:'#toolbarCoupon',onSelect:function(rowIndex, rowData){ $('#btnDeleteCoupon').linkbutton('enable');  }">
                            <thead>
                                <tr>
                                    <th data-options="field:'GetRuleID',width:'11%',hidden:true">优惠券RuleID</th>
                                    <th data-options="field:'GetRuleGUID',width:'11%'">优惠券规则GUID</th>
                                    <th data-options="field:'GetUserType',width:'11%',formatter:function(value,row,index){if(value == 0) return '所用用户'; if(value == 1) return '新用户'; if(value == 2) return '老用户';  }">领取用户类型</th>
                                    <th data-options="field:'VerificationMode',width:'6%',formatter:function(value,row,index){if(value == 1) return '固定日期'; else return '兑换后天数';}">有效方式</th>
                                    <th data-options="field:'ValidDays',width:'6%'">有效天数</th>
                                    <th data-options="field:'ValidStartDateTime',width:'10%',formatter:function(value,row,index){ if(!value){ return '';} var date = new Date(value);if(date){ return date.Format('yyyy-MM-dd hh:mm:ss'); }  }">开始日期</th>
                                    <th data-options="field:'ValidEndDateTime',width:'10%',formatter:function(value,row,index){ if(!value){ return '';} var date = new Date(value);if(date){ return date.Format('yyyy-MM-dd hh:mm:ss'); }  }">结束日期</th>
                                    <th data-options="field:'MinMoney',width:'8%'">使用条件</th>
                                    <th data-options="field:'UserType',width:'8%',formatter:function(value,row,index){ if(value == 0)return '全部'; else if(value == 1)return '新用户';else return '老用户';}">用户类型</th>
                                    <th data-options="field:'Description',width:'8%'">优惠券说明</th>
                                    <th data-options="field:'SingleQuantity',width:'10%'">每人限领数量</th>
                                    <th data-options="field:'Quantity',width:'5%'">发行量</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.CouponItems != null && Model.CouponItems.Count() > 0)
                                {
                                    foreach (var item in Model.CouponItems)
                                    {
                                        <tr>
                                            <td>@item.GetRuleID</td>
                                            <td>@item.GetRuleGUID</td>
                                            <td>@item.GetUserType</td>
                                            <td>@item.VerificationMode</td>
                                            <td>@item.ValidDays</td>
                                            <td>@item.ValidStartDateTime</td>
                                            <td>@item.ValidEndDateTime</td>
                                            <td>@item.MinMoney</td>
                                            <td>@item.UserType</td>
                                            <td>@item.Description</td>
                                            <td>@item.SingleQuantity</td>
                                            <td>@item.Quantity</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <input type="radio" name="TipStyle" value="0" @(Model.TipStyle == 0?"checked="+"checked":"")  /><span>浮层提示</span>
                    <input type="radio" name="TipStyle" value="1" @(Model.TipStyle == 1?"checked="+"checked":"") /><span>页面提示</span>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="easyui-tabs" style="height:300px;">
                        <div title="浮层提示">
                            <table width="100%">
                                <tr>
                                    <td colspan="4">
                                        新用户成功提示
                                    </td>
                                </tr>
                                <tr>
                                    <td>IOS链接：</td>
                                    <td>
                                        <input class="easyui-textbox" id="NewIOSUrl" name="NewIOSUrl" style="width:350px;" data-options="required:true,validType:'url'" value="@Model.NewIOSUrl" />
                                    </td>
                                    <td>
                                        Android链接:
                                    </td>
                                    <td>
                                        <input class="easyui-textbox" id="NewAndroidUrl" name="NewAndroidUrl" style="width:350px;" data-options="required:true,validType:'url'" value="@Model.NewAndroidUrl" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        按钮描述:
                                    </td>
                                    <td>
                                        <input class="easyui-textbox" id="NewBottomBanner" name="NewBottomBanner" style="width:350px;" data-options="required:true"  value="@Model.NewBottomBanner" />
                                    </td>
                                    <td>跳转方式:</td>
                                    <td>
                                        <input type="radio" name="NewJumpMode" value="1" @(Model.NewJumpMode == 1 ? "checked=" + "checked" : "") /><span>点击跳转</span>
                                        <input type="radio" name="NewJumpMode" value="0" @(Model.NewJumpMode == 0 ? "checked=" + "checked" : "") /><span>自动跳转</span>
                                        <input class="easyui-textbox" id="NewWaitTime" name="NewWaitTime" value="@(Model.NewWaitTime != 0?Model.NewWaitTime.ToString():"")" /><span>毫秒后</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <span>老用户成功提示</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>IOS链接：</td>
                                    <td>
                                        <input class="easyui-textbox" id="SuccessfulIOSUrl" name="SuccessfulIOSUrl" style="width:350px;" data-options="required:true,validType:'url'" value="@Model.SuccessfulIOSUrl" />
                                    </td>
                                    <td>
                                        Android链接:
                                    </td>
                                    <td>
                                        <input class="easyui-textbox" id="SuccessfulAndroidUrl" name="SuccessfulAndroidUrl" style="width:350px;" data-options="required:true,validType:'url'" value="@Model.SuccessfulAndroidUrl" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        按钮描述:
                                    </td>
                                    <td>
                                        <input class="easyui-textbox" id="SuccessfulBottomBanner" name="SuccessfulBottomBanner" data-options="required:true"  style="width:350px;" value="@Model.SuccessfulBottomBanner" />
                                    </td>
                                    <td>跳转方式:</td>
                                    <td>
                                        <input type="radio" name="SuccessfulJumpMode" value="1" @(Model.SuccessfulJumpMode == 1 ? "checked=" + "checked" : "") /><span>点击跳转</span>
                                        <input type="radio" name="SuccessfulJumpMode" value="0" @(Model.SuccessfulJumpMode == 0 ? "checked=" + "checked" : "") /><span>自动跳转</span>
                                        <input class="easyui-textbox" id="SuccessfulWaitTime" name="SuccessfulWaitTime" value="@(Model.SuccessfulWaitTime != 0?Model.SuccessfulWaitTime.ToString():"")" /><span>毫秒后</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">失败页面</td>
                                </tr>
                                <tr>

                                    <td>
                                        IOS链接:
                                    </td>
                                    <td>
                                        <input class="easyui-textbox" id="FailIOSUrl" name="FailIOSUrl" style="width:350px;" data-options="required:true,validType:'url'" value="@Model.FailIOSUrl" />
                                    </td>
                                    <td>Android链接:</td>
                                    <td>
                                        <input class="easyui-textbox" id="FailAndroidUrl" name="FailAndroidUrl" style="width:350px;" data-options="required:true,validType:'url'" value="@Model.FailAndroidUrl" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>按钮描述:</td>
                                    <td>
                                        <input class="easyui-textbox" id="FailBottomBanner" name="FailBottomBanner" data-options="required:true"  style="width:350px;" value="@Model.FailBottomBanner" />
                                    </td>
                                    <td>跳转方式</td>
                                    <td>
                                        <input type="radio" name="FailJumpMode" value="1" @(Model.FailJumpMode == 1 ? "checked=" + "checked" : "") /><span>点击跳转</span>
                                        <input type="radio" name="FailJumpMode" value="0" @(Model.FailJumpMode == 0 ? "checked=" + "checked" : "") /><span>自动跳转</span>
                                        <input class="easyui-textbox" id="FailWaitTime" name="FailWaitTime" value="@(Model.FailWaitTime != 0?Model.FailWaitTime.ToString():"")" /><span>毫秒后</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div title="页面提示">
                            <table width="100%">
                                <tr>
                                    <td colspan="4">
                                        新用户成功
                                    </td>
                                </tr>
                                <tr>
                                    <td>IOS链接：</td>
                                    <td>
                                        <input class="easyui-textbox" id="NewPageIOSUrl" name="NewPageIOSUrl" style="width:350px;" data-options="required:true,validType:'url'" value="@Model.NewPageIOSUrl" />
                                    </td>
                                    <td>
                                        Android链接:
                                    </td>
                                    <td>
                                        <input class="easyui-textbox" id="NewPageAndroidUrl" name="NewPageAndroidUrl" style="width:350px;" data-options="required:true,validType:'url'" value="@Model.NewPageAndroidUrl" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        老用户
                                    </td>
                                </tr>
                                <tr>
                                    <td>IOS链接：</td>
                                    <td>
                                        <input class="easyui-textbox" id="SuccessfulPageIOSUrl" name="SuccessfulPageIOSUrl" style="width:350px;" data-options="required:true,validType:'url'" value="@Model.SuccessfulPageIOSUrl" />
                                    </td>
                                    <td>
                                        Android链接:
                                    </td>
                                    <td>
                                        <input class="easyui-textbox" id="SuccessfulPageAndroidUrl" name="SuccessfulPageAndroidUrl" style="width:350px;" data-options="required:true,validType:'url'" value="@Model.SuccessfulPageAndroidUrl" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">失败页面</td>
                                </tr>
                                <tr>
                                    <td>IOS链接：</td>
                                    <td>
                                        <input class="easyui-textbox" id="FailPageIOSUrl" name="FailPageIOSUrl" style="width:350px;" data-options="required:true,validType:'url'" value="@Model.FailPageIOSUrl" />
                                    </td>
                                    <td>
                                        Android链接:
                                    </td>
                                    <td>
                                        <input class="easyui-textbox" id="FailPageAndroidUrl" name="FailPageAndroidUrl" style="width:350px;" data-options="required:true,validType:'url'"  value="@Model.FailPageAndroidUrl"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="display:none;">
                <td>
                    头图:
                </td>
                <td>
                    <img id="img3" style="width:40px;height:32px; vertical-align:middle;" @(string.IsNullOrWhiteSpace(Model.SuccessfulTopBanner) ? "" : "src=" + Model.SuccessfulTopBanner) />
                    <input type="file" id="fileUpload3" name="fileUpload3" onchange="Upload(this, 'img3', 'SuccessfulTopBanner')" />
                    <input type="hidden" id="SuccessfulTopBanner" name="SuccessfulTopBanner" value="@Model.SuccessfulTopBanner" />
                </td>
                <td>中图:</td>
                <td>
                    <img id="img4" style="width:40px;height:32px; vertical-align:middle;" @(string.IsNullOrWhiteSpace(Model.SuccessfulCenterBanner) ? "" : "src=" + Model.SuccessfulCenterBanner) />
                    <input type="file" id="fileUpload4" name="fileUpload4" onchange="Upload(this, 'img4', 'SuccessfulCenterBanner')" />
                    <input type="hidden" id="SuccessfulCenterBanner" name="SuccessfulCenterBanner" value="@Model.SuccessfulCenterBanner" />
                </td>
            </tr>
            <tr style="display:none;">
                <td>头图:</td>
                <td>
                    <img id="img6" style="width:40px;height:32px; vertical-align:middle;" @(string.IsNullOrWhiteSpace(Model.FailTopBanner) ? "" : "src=" + Model.FailTopBanner) />
                    <input type="file" id="fileUpload6" name="fileUpload6" onchange="Upload(this, 'img6', 'FailTopBanner')" />
                    <input type="hidden" id="FailTopBanner" name="FailTopBanner" value="@Model.FailTopBanner" />
                </td>
                <td>中图:</td>
                <td>
                    <img id="img7" style="width:40px;height:32px; vertical-align:middle;" @(string.IsNullOrWhiteSpace(Model.FailCenterBanner) ? "" : "src=" + Model.FailCenterBanner) />
                    <input type="file" id="fileUpload7" name="fileUpload7" onchange="Upload(this, 'img7', 'FailCenterBanner')" />
                    <input type="hidden" id="FailCenterBanner" name="FailCenterBanner" value="@Model.FailCenterBanner" />
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    页面提示信息配置
                </td>
            </tr>
            <tr>
                <td>新用户领取成功:</td>
                <td>
                    <input class="easyui-textbox" id="NewUserTip" name="NewUserTip" style="width:350px;" data-options="required:true" value="@Model.NewUserTip" />
                </td>
                <td>
                    老用户领取成功:
                </td>
                <td>
                    <input class="easyui-textbox" id="OldUserTip" name="OldUserTip" style="width:350px;" data-options="required:true" value="@Model.OldUserTip" />
                </td>
            </tr>
            <tr>
                <td>活动未开始:</td>
                <td>
                    <input class="easyui-textbox" id="ActivityNoStartTip" name="ActivityNoStartTip" style="width:350px;" data-options="required:true" value="@Model.ActivityNoStartTip" />
                </td>
                <td>
                    活动已结束:
                </td>
                <td>
                    <input class="easyui-textbox" id="ActivityOverTip" name="ActivityOverTip" style="width:350px;" data-options="required:true"  value="@Model.ActivityOverTip" />
                </td>
            </tr>
            <tr>
                <td>
                    优惠券领完:
                </td>
                <td>
                    <input class="easyui-textbox" id="CouponTip" name="CouponTip" style="width:350px;" data-options="required:true" value="@Model.CouponTip" />
                </td>
                <td>
                    页面强制关闭:
                </td>
                <td>
                    <input class="easyui-textbox" id="PageTip" name="PageTip" style="width:350px;" data-options="required:true" value="@Model.PageTip" />
                </td>
            </tr>
            <tr>
                <td>
                    仅限新用户:
                </td>
                <td>
                    <input class="easyui-textbox" id="LimitUserTypeTip" name="LimitUserTypeTip" style="width:350px;" data-options="required:true" value="@Model.LimitUserTypeTip" />
                </td>
                <td>
                    重复领取:
                </td>
                <td>
                    <input class="easyui-textbox" id="AlreadyHadTip" name="AlreadyHadTip" style="width:350px;" data-options="required:true" value="@Model.AlreadyHadTip" />
                </td>
            </tr>
            <tr>
                <td>
                    服务器异常:
                </td>
                <td>
                    <input class="easyui-textbox" id="DefaultTip" name="DefaultTip" style="width:350px;" data-options="required:true" value="@Model.DefaultTip" />
                </td>
                <td>
                    小黑屋提示:
                </td>
                <td>
                    <input class="easyui-textbox" id="BlackTip" name="BlackTip" style="width:350px;" data-options="required:true" value="@Model.BlackTip" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="ID" name="ID" @(Model.ID != null ? "value=" + Model.ID.Value.ToString() : "") />
    </form>
}
else
{
    <form id="PromotionForm" method="post">
        <table width="100%">
            <tr>
                <td colspan="4">
                    <span>
                        <input type="radio" name="Status" value="true"  /><span>开启</span>
                        <input type="radio" name="Status" value="false" checked="checked"/><span>关闭</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    名称:
                </td>
                <td>
                    <input class="easyui-textbox" id="ActivityName" name="ActivityName" style="width:350px;" data-options="required:true"  />
                </td>
                <td>
                    开始时间:
                </td>
                <td>

                    <input class="easyui-datetimebox" id="StartDateTime" name="StartDateTime" style="width:350px;" data-options="required:true"  />
                </td>
            </tr>
            <tr>
                <td>
                    发放渠道:
                </td>
                <td>
                    <input class="easyui-textbox" id="Channel" name="Channel" style="width:350px;" data-options="required:true"  />
                </td>
                <td>
                    结束时间:
                </td>
                <td>
                    <input class="easyui-datetimebox" id="EndDateTime" name="EndDateTime" style="width:350px;" data-options="required:true"  />
                </td>
            </tr>
            <tr>
                <td>
                    剩余数量:
                </td>
                <td>
                    <input class="easyui-textbox" id="Surplus" name="Surplus" style="width:350px;" data-options="readonly:true" />
                </td>
                <td>
                    新用户:
                </td>
                <td>
                    <input type="radio" name="IsNewUser" value="true"  /><span>是</span>
                    <input type="radio" name="IsNewUser" value="false"  checked="checked" /><span>否</span> |
                    <input type="radio" name="IsNeedCode" value="true" checked="checked" style="display:none;" />@*<span>需要验证码</span>*@
                    <input type="radio" name="IsNeedCode" value="false"  style="display:none;" />@*<span>不需要验证码</span>*@
                </td>
            </tr>
            <tr>
                <td>头图:</td>
                <td>
                    <img id="img1" style="width:40px;height:32px; vertical-align:middle;"  />
                    <input type="file" id="fileUpload1" name="fileUpload1" style="width:290px;" onchange="Upload(this, 'img1', 'TopBanner')" />
                    <input type="hidden" id="TopBanner" name="TopBanner"  />
                </td>
                <td>底图:</td>
                <td>
                    <img id="img2" style="width:40px;height:32px; vertical-align:middle;"  />
                    <input type="file" id="fileUpload2" name="fileUpload2" onchange="Upload(this, 'img2', 'BottomBanner')" />
                    <input type="hidden" id="BottomBanner" name="BottomBanner"  />
                </td>
            </tr>
            <tr style="@(string.IsNullOrEmpty(User.Identity.Name)||(User.Identity.Name == "chenyutao@tuhu.cn" || User.Identity.Name == "wangjunqiao@tuhu.cn" || User.Identity.Name == "zhangtaiyu@tuhu.cn" || User.Identity.Name == "yangguijun@tuhu.cn") ?"":"display:none;")">
                <td colspan="4">
                    <fieldset>
                        <legend>设置领取参数</legend>
                        <table width="100%">
                            <tr>
                                <td>验证码次数:</td>
                                <td>
                                    <input type="text" id="NumberCodeTimes" name="NumberCodeTimes"  value="201" />
                                </td>
                                <td>图形验证:</td>
                                <td>
                                    <input type="text" id="ChartCodeTimes" name="ChartCodeTimes"  value="501" />
                                </td>
                            </tr>
                            <tr>
                                <td>自动结束:</td>
                                <td>
                                    <input type="text" id="AutoCompleteTimes" name="AutoCompleteTimes" value="2001"  />
                                </td>
                                <td>验证码错误次数:</td>
                                <td>
                                    <input type="text" id="CodeErrorTimes" name="CodeErrorTimes" value="5"  />
                                </td>
                            </tr>
                            <tr>
                                <td>手机号锁定时间限制(小时):</td>
                                <td colspan="3">
                                    <input type="text" id="LimitPhoneHourse" name="LimitPhoneHourse" value="24"  />
                                </td>
                            </tr>
                        </table>

                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>获取位置:</td>
                <td>
                    <input type="radio" name="IsPostion" value="true" /><span>是</span>
                    <input type="radio" name="IsPostion" value="false" checked="checked" /><span>否</span>
                </td>
                <td>
                    是否发送短信:
                </td>
                <td>
                    <input type="radio" name="IsSendMsg" value="true"  /><span>发送</span>
                    <input type="radio" name="IsSendMsg" value="false" checked="checked" /><span>不发送</span>
                    <br/>
                    <input class="easyui-textbox" name="SendMsg" id="SendMsg"  data-options="width:350,height:50,multiline:true" value="您好，优惠券已存到您途虎养车app的账户中，立即下载途虎养车app，使用优惠券吧！链接：http://t.cn/RwZIin8" />
                </td>
            </tr>
            <tr>
                <td>页面使用类型:</td>
                <td colspan="3">
                    <input type="radio" name="CardChannel" value="-1"   /><span>普通页面</span>
                    <input type="radio" name="CardChannel" value="1"  /><span>QQ</span>
                    <input type="radio" name="CardChannel" value="0"  /><span>微信</span>
                </td>
            </tr>
            <tr>
                <td>已消费时Url:</td>
                <td>
                    <input type="text" class="easyui-textbox" id="CardConsumedURL" name="CardConsumedURL" style="width:350px;"  />
                </td>
                <td>已过期Url:</td>
                <td>
                    <input type="text" class="easyui-textbox" id="CardExpireURL" name="CardExpireURL" style="width:350px"  />
                </td>
            </tr>
            <tr>
                <td>转赠Url:</td>
                <td>
                    <input type="text" class="easyui-textbox" id="CardGiftingURL" name="CardGiftingURL" style="width:350px;"  />
                </td>
                <td>转赠超时Url:</td>
                <td>
                    <input type="text" class="easyui-textbox" id="CardGiftTimeOutURL" name="CardGiftTimeOutURL" style="width:350px;"  />
                </td>
            </tr>
            <tr>
                <td>已删除Url:</td>
                <td>
                    <input type="text" class="easyui-textbox" id="CardDeleteURL" name="CardDeleteURL" style="width:350px;"  />
                </td>
                <td>
                    已失效Url:
                </td>
                <td>
                    <input type="text" class="easyui-textbox" id="CardUnavailableURL" name="CardUnavailableURL" style="width:350px;"  />
                </td>
            </tr>
            <tr>
                <td>无效时Url:</td>
                <td>
                    <input type="text" class="easyui-textbox" id="CardInvalidSerialCodeURL" name="CardInvalidSerialCodeURL" style="width:350px;"  />
                </td>
                <td>
                    Token失败时:
                </td>
                <td>
                    <input type="text" class="easyui-textbox" id="TokenAccessFailedURL" name="TokenAccessFailedURL" style="width:350px;"  />
                </td>
            </tr>
            <tr>
                <td colspan="4" style="padding:2px 0px;">
                    <fieldset style="height:350px;padding:5px 0px;">
                        <legend>优惠券配置</legend>
                        <div id="toolbarCoupon">
                            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddCoupon" data-options="iconCls:'icon-add',onClick:function(){ Opeartor.openCoupon(null); }">新 增</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnDeleteCoupon" data-options="iconCls:'icon-add',disabled:true,onClick:function(){ Opeartor.removeCouponRow(); }">删 除</a>
                        </div>
                        <table id="couponTable" title="优惠券列表" class="easyui-datagrid" data-options="rownumbers:true,fit:true,toolbar:'#toolbarCoupon',onSelect:function(rowIndex, rowData){ $('#btnDeleteCoupon').linkbutton('enable');  }">
                            <thead>
                                <tr>
                                    <th data-options="field:'GetRuleID',width:'11%'">优惠券RuleID</th>
                                    <th data-options="field:'GetRuleGUID',width:'11%',hidden:true">优惠券规则GUID</th>
                                    <th data-options="field:'GetUserType',width:'11%',formatter:function(value,row,index){if(value == 0) return '所用用户'; if(value == 1) return '新用户'; if(value == 2) return '老用户';  }">领取用户类型</th>
                                    <th data-options="field:'VerificationMode',width:'6%',formatter:function(value,row,index){if(value == 1) return '固定日期'; else return '兑换后天数';}">有效方式</th>
                                    <th data-options="field:'ValidDays',width:'6%'">有效天数</th>
                                    <th data-options="field:'ValidStartDateTime',width:'10%',formatter:function(value,row,index){ if(!value){ return '';} var date = new Date(value);if(date){ return date.Format('yyyy-MM-dd hh:mm:ss'); }  }">开始日期</th>
                                    <th data-options="field:'ValidEndDateTime',width:'10%',formatter:function(value,row,index){ if(!value){ return '';} var date = new Date(value);if(date){ return date.Format('yyyy-MM-dd hh:mm:ss'); }  }">结束日期</th>
                                    <th data-options="field:'MinMoney',width:'8%'">使用条件</th>
                                    <th data-options="field:'UserType',width:'8%',formatter:function(value,row,index){ if(value == 0)return '全部'; else if(value == 1)return '新用户';else return '老用户';}">用户类型</th>
                                    <th data-options="field:'Description',width:'8%'">优惠券说明</th>
                                    <th data-options="field:'SingleQuantity',width:'10%'">每人限领数量</th>
                                    <th data-options="field:'Quantity',width:'5%'">发行量</th>
                                </tr>
                            </thead>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <input type="radio" name="TipStyle" value="0" checked="checked" /><span>浮层提示</span>
                    <input type="radio" name="TipStyle" value="1" /><span>页面提示</span>
                </td>
            </tr>
            <tr>
                <td colspan="4" style="width:100%;">
                    <div class="easyui-tabs">
                        <div title="浮层提示" data-options="width:800">
                            <table width="100%">
                                <tr>
                                    <td colspan="4">
                                        新用户成功提示
                                    </td>
                                </tr>
                                <tr>
                                    <td>IOS链接：</td>
                                    <td>
                                        <input class="easyui-textbox" id="NewIOSUrl" name="NewIOSUrl" style="width:350px;" data-options="required:true,validType:'url'"  value="http://wx.tuhu.cn/" />
                                    </td>
                                    <td>
                                        Android链接:
                                    </td>
                                    <td>
                                        <input class="easyui-textbox" id="NewAndroidUrl" name="NewAndroidUrl" style="width:350px;" data-options="required:true,validType:'url'" value="http://wx.tuhu.cn/" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        按钮描述:
                                    </td>
                                    <td>
                                        <input class="easyui-textbox" id="NewBottomBanner" name="NewBottomBanner" style="width:350px;" data-options="required:true" value="领取成功"  />
                                    </td>
                                    <td>跳转方式:</td>
                                    <td>
                                        <input type="radio" name="NewJumpMode" value="1" checked="checked" /><span>点击跳转</span>
                                        <input type="radio" name="NewJumpMode" value="0" /><span>自动跳转</span>
                                        <input class="easyui-textbox" id="NewWaitTime" name="NewWaitTime" /><span>毫秒后</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <span>老用户成功提示</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>IOS链接：</td>
                                    <td>
                                        <input class="easyui-textbox" id="SuccessfulIOSUrl" name="SuccessfulIOSUrl" style="width:350px;" data-options="required:true,validType:'url'"  value="http://wx.tuhu.cn/" />
                                    </td>
                                    <td>
                                        Android链接:
                                    </td>
                                    <td>
                                        <input class="easyui-textbox" id="SuccessfulAndroidUrl" name="SuccessfulAndroidUrl" style="width:350px;" data-options="required:true,validType:'url'" value="http://wx.tuhu.cn/"  />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        按钮描述:
                                    </td>
                                    <td>
                                        <input class="easyui-textbox" id="SuccessfulBottomBanner" name="SuccessfulBottomBanner"  style="width:350px;" data-options="required:true"  value="领取成功" />
                                    </td>
                                    <td>跳转方式:</td>
                                    <td>
                                        <input type="radio" name="SuccessfulJumpMode" value="1"  checked="checked" /><span>点击跳转</span>
                                        <input type="radio" name="SuccessfulJumpMode" value="0" /><span>自动跳转</span>
                                        <input class="easyui-textbox" id="SuccessfulWaitTime" name="SuccessfulWaitTime"  /><span>毫秒后</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">失败页面</td>
                                </tr>
                                <tr>

                                    <td>
                                        IOS链接:
                                    </td>
                                    <td>
                                        <input class="easyui-textbox" id="FailIOSUrl" name="FailIOSUrl" style="width:350px;" data-options="required:true,validType:'url'"  value="http://wx.tuhu.cn/" />
                                    </td>
                                    <td>Android链接:</td>
                                    <td>
                                        <input class="easyui-textbox" id="FailAndroidUrl" name="FailAndroidUrl" style="width:350px;" data-options="required:true,validType:'url'" value="http://wx.tuhu.cn/"  />
                                    </td>
                                </tr>
                                <tr>
                                    <td>按钮描述:</td>
                                    <td>
                                        <input class="easyui-textbox" id="FailBottomBanner" name="FailBottomBanner" style="width:350px;" data-options="required:true"  value="领取失败"  />
                                    </td>
                                    <td>跳转方式</td>
                                    <td>
                                        <input type="radio" name="FailJumpMode" value="1" checked="checked" /><span>点击跳转</span>
                                        <input type="radio" name="FailJumpMode" value="0"  /><span>自动跳转</span>
                                        <input class="easyui-textbox" id="FailWaitTime" name="FailWaitTime"  /><span>毫秒后</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div title="页面提示" data-options="width:800">
                            <table width="100%">
                                <tr>
                                    <td  colspan="4">
                                        新用户
                                    </td>
                                </tr>
                                <tr>
                                    <td>IOS链接：</td>
                                    <td>
                                        <input class="easyui-textbox" id="NewPageIOSUrl" name="NewPageIOSUrl" style="width:350px;" data-options="required:true,validType:'url'" value="http://wx.tuhu.cn/" />
                                    </td>
                                    <td>
                                        Android链接:
                                    </td>
                                    <td>
                                        <input class="easyui-textbox" id="NewPageAndroidUrl" name="NewPageAndroidUrl" style="width:350px;" data-options="required:true,validType:'url'" value="http://wx.tuhu.cn/" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        老用户
                                    </td>
                                </tr>
                                <tr>
                                    <td>IOS链接：</td>
                                    <td>
                                        <input class="easyui-textbox" id="SuccessfulPageIOSUrl" name="SuccessfulPageIOSUrl" style="width:350px;" data-options="required:true,validType:'url'" value="http://wx.tuhu.cn/" />
                                    </td>
                                    <td>
                                        Android链接:
                                    </td>
                                    <td>
                                        <input class="easyui-textbox" id="SuccessfulPageAndroidUrl" name="SuccessfulPageAndroidUrl" style="width:350px;" data-options="required:true,validType:'url'" value="http://wx.tuhu.cn/" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">失败页面</td>
                                </tr>
                                <tr>
                                    <td>IOS链接：</td>
                                    <td>
                                        <input class="easyui-textbox" id="FailPageIOSUrl" name="FailPageIOSUrl" style="width:350px;" data-options="required:true,validType:'url'" value="http://wx.tuhu.cn/" />
                                    </td>
                                    <td>
                                        Android链接:
                                    </td>
                                    <td>
                                        <input class="easyui-textbox" id="FailPageAndroidUrl" name="FailPageAndroidUrl" style="width:350px;" data-options="required:true,validType:'url'" value="http://wx.tuhu.cn/" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>

         
            <tr style="display:none;">
                <td>
                    头图:
                </td>
                <td>
                    <img id="img3" style="width:40px;height:32px; vertical-align:middle;"  />
                    <input type="file" id="fileUpload3" name="fileUpload3" onchange="Upload(this, 'img3', 'SuccessfulTopBanner')" />
                    <input type="hidden" id="SuccessfulTopBanner" name="SuccessfulTopBanner"  />
                </td>
                <td>中图:</td>
                <td>
                    <img id="img4" style="width:40px;height:32px; vertical-align:middle;"  />
                    <input type="file" id="fileUpload4" name="fileUpload4" onchange="Upload(this, 'img4', 'SuccessfulCenterBanner')" />
                    <input type="hidden" id="SuccessfulCenterBanner" name="SuccessfulCenterBanner"  />
                </td>
            </tr>
            <tr style="display:none;">
                <td>头图:</td>
                <td>
                    <img id="img6" style="width:40px;height:32px; vertical-align:middle;"  />
                    <input type="file" id="fileUpload6" name="fileUpload6" onchange="Upload(this, 'img6', 'FailTopBanner')" />
                    <input type="hidden" id="FailTopBanner" name="FailTopBanner"  />
                </td>
                <td>中图:</td>
                <td>
                    <img id="img7" style="width:40px;height:32px; vertical-align:middle;"  />
                    <input type="file" id="fileUpload7" name="fileUpload7" onchange="Upload(this, 'img7', 'FailCenterBanner')" />
                    <input type="hidden" id="FailCenterBanner" name="FailCenterBanner" />
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    页面提示信息配置
                </td>
            </tr>
            <tr>
                <td>新用户领取成功:</td>
                <td>
                    <input class="easyui-textbox" id="NewUserTip" name="NewUserTip" style="width:350px;" data-options="required:true" value="<li>赶快下载APP,享受更多新人福利</li>" />
                </td>
                <td>
                    老用户领取成功:
                </td>
                <td>
                    <input class="easyui-textbox" id="OldUserTip" name="OldUserTip" style="width:350px;" data-options="required:true" value="<li>赶快来途虎看看好货</li>" />
                </td>
            </tr>
            <tr>
                <td>活动未开始:</td>
                <td>
                    <input class="easyui-textbox" id="ActivityNoStartTip" name="ActivityNoStartTip" style="width:350px;" data-options="required:true" value="<li>活动即将开始，敬请期待</li>" />
                </td>
                <td>
                    活动已结束:
                </td>
                <td>
                    <input class="easyui-textbox" id="ActivityOverTip" name="ActivityOverTip" style="width:350px;" data-options="required:true" value="<li>感谢关注，活动已经结束啦</li>" />
                </td>
            </tr>
            <tr>
                <td>
                    优惠券领完:
                </td>
                <td>
                    <input class="easyui-textbox" id="CouponTip" name="CouponTip" style="width:350px;" data-options="required:true" value="<li>优惠券已抢光，敬请期待后续活动</li>" />
                </td>
                <td>
                    页面强制关闭:
                </td>
                <td>
                    <input class="easyui-textbox" id="PageTip" name="PageTip" style="width:350px;" data-options="required:true" value="<li>感谢关注，活动已经结束啦</li>" />
                </td>
            </tr>
            <tr>
                <td>
                    仅限新用户:
                </td>
                <td>
                    <input class="easyui-textbox" id="LimitUserTypeTip" name="LimitUserTypeTip" style="width:350px;" data-options="required:true" value="<li>Sorry,您已经是途虎的老朋友啦</li>" />
                </td>
                <td>
                    重复领取:
                </td>
                <td>
                    <input class="easyui-textbox" id="AlreadyHadTip" name="AlreadyHadTip" style="width:350px;" data-options="required:true" value="<li>这个优惠券您已经领取过啦</li>" />
                </td>
            </tr>
            <tr>
                <td>
                    服务器异常:
                </td>
                <td>
                    <input class="easyui-textbox" id="DefaultTip" name="DefaultTip" style="width:350px;" data-options="required:true" value="<li>服务器正在紧急抢修中</li>" />
                </td>
                <td>
                    小黑屋提示:
                </td>
                <td>
                    <input class="easyui-textbox" id="BlackTip" name="BlackTip" style="width:350px;" data-options="required:true" value="<li>该号码已被锁定，请稍后重试</li>" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="ID" name="ID" />
    </form>
}

<div id="EditCouponInfo"></div>